
@{
    ViewBag.Title = "IndexSchedular";
    Layout = "~/Views/Shared/_WorkFlow_Layout_Main.cshtml";
}

<div class="card" >
    <ng-view class="slide-pop"></ng-view>
</div>
<script src="~/AngularControllers/ApprovalWorkflow/WorkFlowController.js"></script>