<div class="col-md-12 my-4" ng-show="REQ_Search.REQUEST_LINE.BUYER_ID>0">
    <div class="card-header w-100">
        <h5 class="card-title font-15">
            Quotation(s)  
        </h5>
        <div class="float-right">
            <button type="button" ng-click="POP_SUPPLIER_FY()"
                    class="btn btn-transparent-wenodo border py-0 ml-2 "
                    data-toggle="tooltip"
                    data-html="true"
                    data-original-title="Add new contact">
                Add new contact  <i class="far fa-plus"></i>
            </button>
            <button type="button" ng-show="!IntegrationDetails.PageLoad && IntegrationDetails.ShowSyncBtn"
                    ng-click="CLICK_SUPPLIER_XERO_SYNC_Fn()"
                    class="btn btn-transparent-wenodo border py-0"
                    data-toggle="tooltip"
                    data-html="true"
                    click-once
                    data-original-title="Sync Xero Contact">
                Sync Xero Contact
                <i class="far fa-sync-alt"></i>
            </button>
            <a ng-show="!IntegrationDetails.PageLoad && !IntegrationDetails.ShowSyncBtn"><i class="fas fa-sync fa-spin"></i> Syncing Xero Contact</a>
        </div>
    </div>
    <div class="table-responsive" style="overflow-x:visible">
        <table class="table table-head-fixed table-hover table-form table-bordered">
            <thead class="bg-wenodo-border">
                <tr>
                    <th width="5%"></th>
                    <th width="15%">Contact Name    <span class="text-danger">*</span></th>
                    <th width="15%">Amount <span class="text-danger">*</span></th>
                    <th width="5%">Rank</th>
                    <th>Comments</th>
                    <th width="10%" class="text-center">Attachment <span class="text-danger">*</span></th>
                    <th width="6%" class="text-center">Action </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="QL in QUOTATION_LIST track by $index" 
                    ng-init="InginitQuotation(QL,$last,1,$index)"
                    on-finish-render="ngRepeatFinishedRender">
                    <td class="text-center">
                        <div class="custom-control custom-radio">
                            <input class="custom-control-input"
                                   type="radio"
                                   name="QuotationRadio"
                                   ng-model="$parent.selectedsupplier"
                                   ng-value="{{QL.INDEX_VALUE}}"
                                   ng-change="CHANGE_CONTACT_NAME_Fn(QL,'',1,$index)"
                                   id="QuotationRadio{{$index}}">
                            <label for="QuotationRadio{{$index}}" class="custom-control-label"></label>
                        </div>
                    </td>
                    <td>
                        <div class="AddCustomScroll_Contact">
                            <input type="text" 
                                   name="CONTACT_NAME{{$index}}"
                                   ng-model="QL.CONTACT_NAME"
                                   ng-blur="SetQuotationValues(QL,$index)"
                                   typeahead-on-select="SetQuotationValues(QL,$index)"
                                   ng-change="SetQValues(QL,$index)"
                                   uib-typeahead="Supplier.SUPPLIER_NAME for Supplier in SUPPLIER_LIST | filter:$viewValue"
                                   typeahead-loading="loading"
                                   typeahead-no-results="noResults"
                                   class="hidden-input" 
                                   autocomplete="off"
                                   placeholder="Type to select Supplier Name..."
                                   required
                                   ng-class="{'error':POForm.submitted && POForm.CONTACT_NAME{{$index}}.$error.required || QL.INVALID}" />
                        </div>
                        <div ng-show="QL.INVALID || (QL.CONTACT_NAME=='' || QL.CONTACT_NAME==null || QL.CONTACT_NAME.length==0) && QL.INDEX_VALUE== $parent.selectedsupplier &&  QL.INDEX_VALUE>0" class="text-red">Please select valid contact Name</div>
                    </td>
                    <td>
                        <input type="text"
                               class="hidden-input"
                               name="TOTAL_AMOUNT{{$index}}"
                               only-digits
                               ng-required="QL.CONTACT_NAME.length>0"
                               ng-disabled="QL.CONTACT_NAME.length==0 || QL.CONTACT_NAME==null"
                               placeholder="Enter Amount"
                               ng-change="ChangeQAmt(QL,1)"
                               maxlength="13"
                               ng-model="QL.TOTAL_AMOUNT"
                               ng-class="{'error':POForm.submitted && POForm.TOTAL_AMOUNT{{$index}}.$error.required}" />
                    </td>
                    <td class="">
                        {{QL.RANK==null?'-':QL.RANK}}
                    </td>
                    <td>
                        <textarea class="hidden-input"
                                  name="COMMENTS{{$index}}"
                                  ng-disabled="QL.CONTACT_NAME.length==0 || QL.CONTACT_NAME==null"
                                  maxlength="500"
                                  onInput="this.parentNode.dataset.replicatedValue = this.value"
                                  placeholder="Enter comment"
                                  ng-model="QL.COMMENTS"></textarea>
                        <span class="d-block text-grey text-xs semibold mb-2">{{500 - QL.COMMENTS.length}} Character Remaining </span>
                    </td>
                    <td class="text-center" ng-class="{'error':POForm.submitted && QL.IS_QUOTATION_REQUIRED && (QL.UploadedFiles==null || QL.UploadedFiles.length==0)}">
                        <div class="col-md-12" ng-repeat="file in QL.UploadedFiles">
                            <div class="file-block">
                                <div class="file-info">
                                    <i class="fal fa-file-alt file-icon"></i>
                                    <a href="/P2PFiles/{{file.FILE_PATH}}{{file.SERVER_FILE_NAME}}" download="{{file.ORIGINAL_FILE_NAME}}">
                                        <span class="text-limit-1">{{file.ORIGINAL_FILE_NAME}} </span>
                                    </a>
                                    <span class="remove-file-icon" ng-click="REMOVE_FILE_QUOTATION($index,file,QL,'QUOTAT')"><i class="fa fa-times"></i></span>
                                </div>
                            </div>
                        </div>
                        <div ng-show="QL.IS_QUOTATION_REQUIRED && (QL.UploadedFiles==null || QL.UploadedFiles.length==0)">Please provide attachment</div>

                    </td>
                    <td class="text-center">
                        <label for="QUOTAT{{$index}}" class="cursor-pointer"
                               data-toggle="tooltip"
                               data-html="true"
                               data-original-title="Add Attachment">
                            <i class="fas fa-file-upload text-blue"></i>
                        </label>
                        <span class="hidden-input">
                            <input id="QUOTAT{{$index}}"
                                   name="file"
                                   type="file"
                                   ng-model="QL.UploadedFiles"
                                   ng-files="getTheFilesToUpload($files,'QUOTAT'+{{$index}},5,QL,35,1,'QUOTATION',3,'P2P_Upload_Path','P2P')">
                        </span>
                        <i ng-show="REQ_Search.SELECTED_SUPPLIER_ID!=QL.XERO_CONTACT_ID"
                           class="far fa-times-circle cursor-pointer text-danger"
                           ng-click="REMOVE_FILTE_QUOTATION($index,QL,$first,'QUOTAT')"
                           data-toggle="tooltip" data-html="true" data-original-title="Remove">
                        </i>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="7" ng-click="ADD_MORE_QUOTATION()" class="text-center cursor-pointer">
                        <a class="text-blue cursor-pointer text-sm"><i class="far fa-plus"></i> {{ADD_MORE_QUOTATION_NAME}}</a>
                       
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
    <div class="alert alert-warning-red w-100" ng-show="(QUOTATION_LIST.length==1) || (QUOTATION_LIST.length>1 && (QUOTATION_LIST | filter: emptyFilter).length<2)">
        <strong>Warning!</strong> This is a single quote requisition.
    </div>
</div>

<div class="row  mt-3" ng-show="REQ_Search.REQUEST_LINE.BUYER_ID>0">
    <div class="col-md-12 mt-2 border-bottom">
        <h1 class="card-title font-15">Header</h1>
    </div>
</div>

<div class="row my-4" ng-show="REQ_Search.REQUEST_LINE.BUYER_ID>0">
    <div class="col-md-4">
        <div class="form-group" id="AddCustomScroll_SHD">
            <label>
                Contact <span class="text-danger">*</span>
            </label>
            <div class="float-right" ng-show="false">
                <a ng-click="POP_SUPPLIER_FY()"
                   class="btn btn-transparent-wenodo border py-0 ml-2 "
                   data-toggle="tooltip"
                   data-html="true"
                   data-original-title="Add new contact">
                    Add new contact  <i class="far fa-plus"></i>
                </a>
                <a ng-show="!IntegrationDetails.PageLoad && IntegrationDetails.ShowSyncBtn"
                   ng-click="CLICK_SUPPLIER_XERO_SYNC_Fn()"
                   class="btn btn-transparent-wenodo border py-0"
                   data-toggle="tooltip"
                   data-html="true"
                   click-once
                   data-original-title="Sync Xero Contact">
                    Sync Xero Contact
                    <i class="far fa-sync-alt"></i>
                </a>
                <a ng-show="!IntegrationDetails.PageLoad && !IntegrationDetails.ShowSyncBtn">
                    <i class="fas fa-sync fa-spin"></i> Syncing Xero Contact
                </a>
            </div>
            <label class="d-block text-bold">
                {{REQ_Search.SUPPLIER_NAME}}
            </label>
            <input type="text"
                   ng-show="false"
                   name="SUPPLIER_NAME_BOX"
                   ng-model="REQ_Search.SUPPLIER_NAME"
                   ng-blur="SetContactValues(Supplier,1)"
                   uib-typeahead="Supplier.SUPPLIER_NAME for Supplier in SUPPLIER_LIST | filter:$viewValue"
                   typeahead-loading="loading"
                   typeahead-no-results="noResults"
                   class="form-control form-control-sm mt-1" autocomplete="off"
                   required
                   placeholder="Type to select contact name..."
                   ng-class="{'error':POForm.submitted && POForm.SUPPLIER_NAME_BOX.$error.required || POForm.Draftsubmitted && SELECT_SUPPLIER_LIST.length==0}" />

            <small class="d-block" ng-show="REQ_Search.REQUEST_LINE.SUGGESTED_SUPPLIER!=null && REQ_Search.REQUEST_LINE.SUGGESTED_SUPPLIER!=''">
                <span class="">Suggested: {{REQ_Search.REQUEST_LINE.SUGGESTED_SUPPLIER}}</span>
            </small>
            <small class="text-red" ng-show="POForm.Draftsubmitted && SELECT_SUPPLIER_LIST.length==0">Invalid contact name</small>
        </div>
    </div>
    <div class="col">
        <div class="form-group">
            <label>Date <span class="text-danger">*</span></label>
            <input type="text" class="form-control dateinput mt-1"
                   name="DATE"
                   placeholder="Select date"
                   ng-change="ChangeBudget('',1)"
                   ng-model="REQ_Search.PO_DATE"
                   ng-value="REQ_Search.PO_DATE | date"
                   required
                   readonly
                   ng-class="{'error':POForm.submitted && POForm.DATE.$error.required}" />
        </div>
    </div>
    <div class="col">
        <div class="form-group">
            <label>Delivery Date <span class="text-danger">*</span></label>
            <input type="text" class="form-control dateinput mt-1"
                   name="DELIVERY_DATE"
                   placeholder="Select delivery date"
                   ng-model="REQ_Search.DELIVERY_DATE"
                   ng-value="REQ_Search.DELIVERY_DATE | date"
                   required
                   readonly
                   ng-class="{'error':POForm.submitted && POForm.DELIVERY_DATE.$error.required}" />
            <small class="d-block" ng-show="REQ_Search.REQUEST_LINE.REQUIRED_DATE!=null">
                <span class="">Required by: {{REQ_Search.REQUEST_LINE.REQUIRED_DATE | date}}</span>
            </small>
        </div>
    </div>
    <div class="col">
        <div class="form-group">
            <label>Reference</label>
            <input type="text" class="form-control mt-1"
                   name="REFERENCE"
                   placeholder="Enter reference"
                   ng-model="REQ_Search.REFERENCE"
                   ng-class="{'error':POForm.submitted && POForm.REFERENCE.$error.required}" />
        </div>
    </div>
    <div class="col">
        <div class="form-group">
            <label>Project</label>
            <select class="custom-select mw-150 mt-1"
                    name="PROJECT_MASTER_ID"
                    ng-change="CHANGE_PROJECT_Fn(1)"
                    ng-model="REQ_Search.PROJECT_MASTER_ID"
                    ng-options="T.PROJECT_MASTER_ID as T.PROJECT_NAME for T in PROJECT_MASTER_LIST">
                <option value="">-Select Project-</option>
            </select>
        </div>
    </div>
    <div class="col">
        <div class="form-group">
            <label>Themes</label>
            <select class="custom-select mw-150 mt-1"
                    name="XERO_BRANDING_THEMES_ID"
                    ng-model="REQ_Search.XERO_BRANDING_THEME_ID"
                    ng-options="T.XERO_BRANDING_THEME_ID as T.NAME for T in XERO_BRANDING_THEMES_LIST"
                    ng-class="{'error':POForm.submitted && POForm.XERO_BRANDING_THEMES_ID.$error.required}">
                <option value="">-Select Theme-</option>
            </select>
        </div>
    </div>
</div>

<div class="row" ng-show="REQ_Search.REQUEST_LINE.BUYER_ID>0">
    <div class="col-md-12 my-4">
        <h5 class="card-title mt-4 font-15">Line Items</h5>
        <div class="row">
            <div class="col-auto font-11 mt-2 ml-auto">
                <span ng-show="REQ_Search.BASE_CURRENCY_ID!=REQ_Search.PO_CURRENCY_ID">
                    <!--Currency rate for {{REQ_Search.CURRENT_DATE | date}} provided by openexchangerates.org, will be applied after submission.-->
                </span>
            </div>
            <div class="col-auto">
                <label class=""> </label>
                <div class="form-inline mb-2" ng-show="REQ_Search.BASE_CURRENCY_ID!=REQ_Search.PO_CURRENCY_ID">
                    <label class="mr-2">1  &nbsp;{{REQ_Search.BASE_CURRENCY_NAME }} = </label>
                    <input type="text"
                           class="form-control"
                           name="CURRENCY_CONVER"
                           placeholder="Enter value"
                           maxlength="10"
                           only-digits5
                           ng-model="REQ_Search.BASE_TO_PO_CONVERSION_RATE"
                           ng-class="{'error':POForm.submitted && POForm.CURRENCY_CONVER.$error.required}" />
                      <!--<label class="mr-2">  &nbsp;{{REQ_Search.PO_CURRENCY_NAME }} </label>-->
                </div>
            </div>
            <div class="col-auto">
                <div class=" mb-2">
                    <label class="">PO Currency </label>
                    <select class="custom-select mw-150"
                            name="CURRENCY_ID"
                            ng-model="REQ_Search.PO_CURRENCY_ID"
                            ng-change="CHANGE_CURRENCY()"
                            ng-options="T.CURRENCY_ID as T.DISPLAY_TEXT +'-' + T.CURRENCY_NAME for T in CURRENCY_LIST"
                            ng-class="{'error':POForm.submitted && POForm.CURRENCY_ID.$error.required}"></select>
                </div>
            </div>

            <div class="col-auto">
                <div class=" mb-2">
                    <label class="">Amounts are </label>
                    <select class="custom-select mw-150"
                            name="TAX_TYPE"
                            ng-model="REQ_Search.TAX_TYPE"
                            ng-change="Fn_CHANGE_TAX_TYPE()"
                            ng-options="T.ID as T.NAME for T in TAX_TYPE"
                            ng-class="{'error':POForm.submitted && POForm.TAX_TYPE.$error.required}"></select>
                </div>
            </div>


        </div>
        <div class="table-responsive" style="overflow-x:visible">
            <table class="table table-head-fixed table-hover table-form table-bordered">
                <thead class="bg-wenodo-border">
                    <tr>
                        <th width="15%">Item <span class="text-danger">*</span></th>
                        <th width="20%">Description <span class="text-danger">*</span></th>
                        <th>Quantity <span class="text-danger">*</span></th>
                        <th>Unit Price <span class="text-danger">*</span></th>
                        <th>UOM </th>
                        <th width="5%">Disc %</th>
                        <th>GL Account <span class="text-danger">*</span></th>
                        <th>Tax Rate <span class="text-danger">*</span></th>
                        <th class="text-right">Tax Amount</th>
                        <th width="15%" class="text-right">Amount</th>
                        <th>Receiving Method <span class="text-danger">*</span></th>
                        <th ng-repeat="TrackingCat in XERO_TRACKING_CATEGORIES track by $index">{{TrackingCat.FIELD_NAME}}</th>
                        <th width="3%" class="text-center"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="PRL in ITEM_LIST" ng-init="InitiateItemList(PRL,1);" on-finish-render="ngRepeatFinishedActionRender">
                        <td>
                            <span ng-show="false"> {{PRL.LINE_NO=($index+1)}} {{PRL.ITEM_INDEX=($index)}} </span>
                            <div class="AddCustomScroll_itemREQ">
                                <input type="text"
                                       name="ITEM_NAME{{$index}}"
                                       ng-model="PRL.ITEM_NAME"
                                       ng-change="SetitemValues('REQ');"
                                       uib-typeahead="item.ITEM_NAME  for item in P2P_ITEMS_LIST | filter:$viewValue"
                                       typeahead-loading="loading"
                                       typeahead-no-results="noResults"
                                       class="hidden-input"
                                       autocomplete="off"
                                       required
                                       placeholder="Enter item name"
                                       ng-class="{'error':POForm.submitted && POForm.ITEM_NAME{{$index}}.$error.required}" />
                            </div>
                        </td>
                        <td>
                            <textarea class="hidden-input scroll"
                                      name="DESCRIPTION{{$index}}"
                                      required
                                      id="text"
                                      maxlength="2000"
                                      onInput="this.parentNode.dataset.replicatedValue = this.value"
                                      placeholder="Enter description"
                                      ng-model="PRL.DESCRIPTION"
                                      ng-class="{'error':POForm.submitted && POForm.DESCRIPTION{{$index}}.$error.required}"></textarea>
                        </td>
                        <td>
                            <input type="text" class="hidden-input"
                                   name="QUANTITY{{$index}}"
                                   only-digits
                                   placeholder="Enter QTY."
                                   maxlength="13"
                                   ng-change="Fn_CHANGET_UNIT_PRIZE(PRL)"
                                   required
                                   ng-model="PRL.QUANTITY"
                                   ng-class="{'error':POForm.submitted && POForm.QUANTITY{{$index}}.$error.required}" />
                        </td>
                        <td>
                            <input type="text" class="hidden-input"
                                   only-digits
                                   required
                                   maxlength="13"
                                   placeholder="Enter unit price"
                                   name="UNIT_PRICE{{$index}}"
                                   ng-change="Fn_CHANGET_UNIT_PRIZE(PRL)"
                                   ng-class="{'error':POForm.submitted && POForm.UNIT_PRICE{{$index}}.$error.required}"
                                   ng-model="PRL.UNIT_PRICE" />
                        </td>
                        <td>
                            <input type="text" class="hidden-input"
                                   name="UOM_NAME{{$index}}"
                                   maxlength="30"
                                   placeholder="Enter UOM"
                                   ng-model="PRL.UOM_NAME"
                                   ng-class="{'error':POForm.submitted && POForm.UOM_NAME{{$index}}.$error.required}" />
                        </td>
                        <td>
                            <input type="text" class="hidden-input"
                                   name="DISCOUNT_PERCENT{{$index}}"
                                   only-digits
                                   maxlength="4"
                                   ng-change="Fn_CHANGET_UNIT_PRIZE(PRL)"
                                   placeholder="Enter discount"
                                   ng-class="{'error':POForm.submitted && POForm.DISCOUNT_PERCENT{{$index}}.$error.required}"
                                   ng-model="PRL.DISCOUNT_PERCENT" />
                        </td>
                        <td>
                            <div class="AddCustomScroll_Account">
                                <input type="text"
                                       name="ACCOUNT_NAME_BOX{{$index}}"
                                       ng-model="PRL.ACCOUNT_NAME"
                                       ng-change="SetAccountValues(Acct,$index);"
                                       typeahead-on-select="ChangeBudget($item, 1, $label)"
                                       uib-typeahead="Acct.CODE + ' - ' + Acct.NAME  for Acct in XERO_ACCOUNT_CODES | filter:$viewValue"
                                       typeahead-loading="loading" typeahead-no-results="noResults"
                                       class="hidden-input" autocomplete="off"
                                       required
                                       placeholder="Type to select account name..."
                                       ng-class="{'error':POForm.submitted && POForm.ACCOUNT_NAME_BOX{{$index}}.$error.required || POForm.submitted && PRL.IS_ACCOUNT_VALID}" />
                            </div>
                            <small ng-show="PRL.IS_ACCOUNT_VALID" class="text-red text-bold">Invalid GL Account</small>
                        </td>
                        <td>
                            <select class="hidden-input"
                                    name="TAX_TYPE{{$index}}"
                                    ng-model="PRL.TAX_ID"
                                    ng-options="XT as XT.NAME +' ('+ XT.RATE +')'  for XT in XERO_TAXES"
                                    required
                                    ng-change="TAXPERCENTAGE_CHANGE(PRL.TAX_ID,PRL);"
                                    ng-class="{'error':POForm.submitted && POForm.TAX_TYPE{{$index}}.$error.required}">
                                <option value="">- Select Tax -</option>
                            </select>
                        </td>
                        <td class="text-right text-nowrap pr-2">
                            <span ng-show="false">
                                {{PRL.TAX_AMOUNT=REQ_Search.TAX_TYPE==3?0.00: (REQ_Search.TAX_TYPE==2?((((PRL.UNIT_PRICE*PRL.QUANTITY) / (1 + (PRL.TAX_ID.RATE/100)))-(((PRL.UNIT_PRICE*PRL.QUANTITY) / (1 + (PRL.TAX_ID.RATE/100)))*(PRL.DISCOUNT_PERCENT/100))) * (PRL.TAX_ID.RATE/100)):(((PRL.UNIT_PRICE*PRL.QUANTITY)-((PRL.UNIT_PRICE*PRL.QUANTITY)*(PRL.DISCOUNT_PERCENT/100))) * (PRL.TAX_ID.RATE/100))) }}
                            </span>
                            {{(PRL.TAX_AMOUNT=(NAN_Fn(PRL.TAX_AMOUNT) || PRL.TAX_AMOUNT==null ||  PRL.TAX_AMOUNT==''?PRL.TAX_AMOUNT=0:PRL.TAX_AMOUNT)) | number:2}}
                        </td>
                        <td class="text-right text-nowrap pr-2">
                            <span ng-show="false">
                                {{PRL.AMOUNT= ((PRL.QUANTITY * PRL.UNIT_PRICE) - (PRL.QUANTITY*1 * PRL.UNIT_PRICE*1 * (PRL.DISCOUNT_PERCENT)/100)) }}
                                {{PRL.TOTAL_SPLIT_AMOUNT= SETTING_USE_GROSS==1?(PRL.AMOUNT + (REQ_Search.TAX_TYPE==2?0:PRL.TAX_AMOUNT)):REQ_Search.TAX_TYPE==2? ((PRL.AMOUNT-PRL.TAX_AMOUNT)):PRL.AMOUNT}}
                            </span>

                            {{(PRL.AMOUNT=(NAN_Fn(PRL.AMOUNT) || PRL.AMOUNT==null?PRL.AMOUNT=0.00:PRL.AMOUNT)) | number:2}}

                        </td>
                        <td>
                            <select class="hidden-input"
                                    name="RECEIVING_TYPE_ID{{$index}}"
                                    ng-model="PRL.RECEIVING_TYPE_ID"
                                    ng-options="RT.ID as RT.NAME  for RT in RECEIVING_TYPE"
                                    required
                                    ng-class="{'error':POForm.submitted && POForm.RECEIVING_TYPE_ID{{$index}}.$error.required}">
                                <option value="">-Select -</option>
                            </select>
                        </td>
                        <td ng-repeat="TrackingCat in PRL.XERO_TRACKING_CATEGORIES track by $index" ng-init="InitiateXeroTrackingCategories(TrackingCat, $index,PRL,1);">
                            <select class="hidden-input"
                                    ng-model="TrackingCat.SELECTED_CATEGORY_OPTION"
                                    ng-options="XT as XT.OPTION_NAME for XT in XERO_TRACKING_CATEGORIES_OPTIONS | filter:{APPROVAL_CHAIN_CUSTOM_FIELDS_MASTER_ID:TrackingCat.APPROVAL_CHAIN_CUSTOM_FIELDS_MASTER_ID}">
                                <option value="">- Please Select -</option>
                            </select>
                        </td>
                        <td class="text-center">
                            <i ng-show="!$first" class="far fa-times-circle cursor-pointer text-danger"
                               ng-click="REMOVE_LINE_ITEM($index,PRL)"
                               data-toggle="tooltip" data-html="true" data-original-title="Remove">
                            </i>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="{{XERO_TRACKING_CATEGORIES.length+12}}" ng-click="ADD_MORE_ITEM()" class="text-center cursor-pointer">
                            <a class="text-blue cursor-pointer text-sm">
                                <i class="far fa-plus"></i>
                                {{ADD_MORE_ITEM_NAME}}
                            </a>
                        </td>
                    </tr>
                    <tr class="text-bold table-footer-fixed">
                        <td colspan="9" class="text-right font-13">Sub Total</td>
                        <td class="text-right text-nowrap pr-2 font-13">
                            <span ng-show="false">{{REQ_Search.NET_AMOUNT=(ITEM_LIST | total: 'AMOUNT') | number:2}}</span>
                            {{NAN_Fn(REQ_Search.NET_AMOUNT) || REQ_Search.NET_AMOUNT==null?0.00:REQ_Search.NET_AMOUNT | number:2}}
                        </td>
                        <td colspan="{{XERO_TRACKING_CATEGORIES.length+2}}"></td>
                    </tr>
                    <tr class="text-bold table-footer-fixed" ng-repeat="TAX in ITEM_LIST | unique:'TAX_ID'" ng-if="TAX.TAX_ID!=null">
                        <td colspan="9" class="text-right font-13">{{TAX.TAX_ID.NAME}} ({{TAX.TAX_ID.RATE +'%'}})</td>
                        <td class="text-right text-nowrap pr-2 font-13">{{ ITEM_LIST | filter:{TAX_ID:TAX.TAX_ID} | total:'TAX_AMOUNT' | number:2}}<!--Taxamount=((UnitPrice*Qty)/(1 + Tax%))*tax%--></td>
                        <td colspan="{{XERO_TRACKING_CATEGORIES.length+2}}"></td>
                    </tr>
                    <tr class="text-bold table-footer-fixed">
                        <td colspan="9" class="text-right font-13">Total</td>
                        <td class="text-right text-nowrap pr-2 font-14">
                            <span ng-show="false">
                                {{REQ_Search.TAX_AMOUNT= (ITEM_LIST | total:'TAX_AMOUNT')}}
                            </span>
                            <span ng-if="REQ_Search.TAX_TYPE==1">
                                <span ng-show="false">
                                    {{REQ_Search.TOTAL_AMOUNT=((ITEM_LIST | total: 'AMOUNT') + (ITEM_LIST | total: 'TAX_AMOUNT')) | number:2}}
                                </span>
                                {{REQ_Search.TOTAL_AMOUNT==null || NAN_Fn(REQ_Search.TOTAL_AMOUNT)?0.00:REQ_Search.TOTAL_AMOUNT  | number:2}}
                            </span>
                            <span ng-if="REQ_Search.TAX_TYPE==2">
                                <span ng-show="false">
                                    {{REQ_Search.TOTAL_AMOUNT=(ITEM_LIST | total: 'AMOUNT')  | number:2}}
                                </span>
                                {{REQ_Search.TOTAL_AMOUNT==null || NAN_Fn(REQ_Search.TOTAL_AMOUNT) ?0.00:REQ_Search.TOTAL_AMOUNT  | number:2}}

                            </span>
                            <span ng-if="REQ_Search.TAX_TYPE==3">
                                <span ng-show="false">
                                    {{REQ_Search.TOTAL_AMOUNT=(ITEM_LIST | total: 'AMOUNT') | number:2}}
                                </span>
                                {{REQ_Search.TOTAL_AMOUNT==null || NAN_Fn(REQ_Search.TOTAL_AMOUNT)?0.00:REQ_Search.TOTAL_AMOUNT  | number:2}}
                            </span>
                            {{(CURRENCY_LIST | filter :{CURRENCY_ID:REQ_Search.PO_CURRENCY_ID})[0].CURRENCY_CODE }}
                        </td>
                        <td colspan="{{XERO_TRACKING_CATEGORIES.length+2}}"></td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <div class="col-md-12  my-4">
        <div class="card-header w-100">
            <h5 class="card-title mt-1 font-15"> Advance Amount</h5>

        </div>
        <div class="row mt-3">
            <div class="col-md-3">
                <input type="text" class="form-control mt-1"
                       name="ADVANCE"
                       placeholder="Enter advance Amount"
                       only-digits
                       ng-model="REQ_Search.ADVANCE"
                       ng-class="{'error':POForm.submitted && POForm.ADVANCE.$error.required}" />
            </div>
        </div>
    </div>
    <div class="col-md-12  my-4">
        <div class="card-header w-100">
            <h5 class="card-title mt-1 font-15">Budget <span ng-show="P2P_BUDGET_MASTER_LIST.length>0"> ({{REQ_Search.BUDGET_NAME}}) </span></h5>
            <button type="button"
                    ng-click="ChangeBudgetREQfy(REQ_Search,1)"
                    data-toggle="tooltip"
                    data-html="true"
                    class="btn btn-transparent-wenodo ml-2 border float-right">
                Refresh Budget
            </button>
            <button type="button"
                    ng-click="Fn_ADJUSTMENT_BUDGET(REQ_Search,1)"
                    ng-show="false && REQ_Search.SPLIT_TYPE_ID>0 && (REM_AMOUNT_LEFT>0 || REM_AMOUNT_LEFT<0) "
                    data-toggle="tooltip"
                    data-html="true"
                    class="btn btn-transparent-wenodo ml-2 border float-right">
                Auto adjust Budget
            </button>

            <button type="button"
                    ng-click="Fn_CANCEL_SPLIT(REQ_Search,1)"
                    ng-show="REQ_Search.SPLIT_TYPE_ID>0"
                    data-toggle="tooltip"
                    data-html="true"
                    class="btn btn-transparent-wenodo ml-2 border float-right">
                Cancel Split
            </button>
            <button type="button"
                    ng-show="REQ_Search.SPLIT_TYPE_ID==null"
                    ng-click="Fn_SPLIT_REQ(REQ_Search,1)"
                    data-toggle="tooltip"
                    data-html="true"
                    class="btn btn-transparent-wenodo ml-2 border float-right">
                Split Budget
            </button>
            <span class="float-right mx-2" ng-show="REQ_Search.SPLIT_TYPE_ID>0"> Months</span>
            <select class="custom-select float-right ml-2" style="width:150px;"
                    name="SPLIT_NAME"
                    ng-show="REQ_Search.SPLIT_TYPE_ID>0"
                    ng-change="Fn_SPLIT_REQ(REQ_Search,2)"
                    ng-model="REQ_Search.SPLIT_TYPE_ID"
                    ng-options="T.ID as T.NAME for T in SPLIT_TYPE">
                <option value="">-Select Month-</option>
            </select>

            <span class="float-right" ng-show="REQ_Search.SPLIT_TYPE_ID>0">Split in Next</span>
        </div>

        <div class="row">
            <div class="col-auto">
                <div class="table-responsive custom-scrollbar" style="max-height:100%">
                    <table class="table table-head-fixed table-hover table-form table-bordered " ng-show="MONTH_LIST.length>0">
                        <thead>
                            <tr>
                                <th style="min-width:250px;">GL Account</th>
                                <th ng-repeat="PRL in ITEM_LIST  | unique:'ACCOUNT_ID' | orderBy:['ACCOUNT_ID']"
                                    colspan="{{(ITEM_LIST |  filter:{ACCOUNT_ID:PRL.ACCOUNT_ID}:true).length}}">
                                    {{PRL.ACCOUNT_NAME}}
                                </th>
                            </tr>
                            <tr class="bg-wenodo-border">
                                <th>Item Name</th>
                                <th data-toggle="tooltip" data-html="true" data-original-title="{{PRL.DESCRIPTION | limitTo:250}}" ng-repeat="PRL in ITEM_LIST | orderBy: ['ACCOUNT_ID'] ">
                                    {{PRL.ITEM_NAME | limitTo:30}}
                                </th>
                            </tr>
                            <tr class="bg-wenodo-border">
                                <th>Line Amount</th>
                                <th style="min-width:160px; width:160px;" ng-repeat="PRL in ITEM_LIST | orderBy: ['ACCOUNT_ID'] ">
                                    {{PRL.TOTAL_SPLIT_AMOUNT | number:2}}
                                </th>
                            </tr>
                        </thead>
                        <tbody ng-repeat="_m in MONTH_LIST">
                            <tr>
                                <td>{{_m.START_DATE | date:'MMM yyyy'}} <span ng-show="false"> {{_m.FLAG=($last?1:0)}}</span></td>
                                <td ng-repeat="_prl in _m.ITEM_LIST | orderBy: ['ACCOUNT_ID']" ng-init="_m.FLAG==1?Inittotalreq(_prl,_m,$index):''">
                                    <span ng-show="false">{{_prl.START_DATE=_m.START_DATE}}</span>
                                    <input type="text"
                                           name="BudgetAmt{{$index}}"
                                           ng-model="_prl.BUDGET"
                                           maxlength="9"
                                           Only-digits
                                           ng-change="Inittotalreq(_prl,_m ,$index)"
                                           placeholder="Enter Amount"
                                           class="form-control" />
                                </td>
                            </tr>
                            <tr ng-show="$last">
                                <td class="text-bold">
                                    Allocated Amount
                                </td>
                                <td class="text-bold" ng-repeat="line in _m.ITEM_LIST | orderBy: ['ACCOUNT_ID']">
                                    {{line.TOTAL_BUDGET}}
                                </td>
                            </tr>
                            <tr ng-show="$last">
                                <td class="text-bold">Remaining Amount</td>
                                <td ng-repeat="_prl in _m.ITEM_LIST | orderBy: ['ACCOUNT_ID']"
                                    class="text-bold"
                                    ng-init="Fn_ADJUSTMENT_BUDGET(_m,_prl,$index,$last)"
                                    ng-class="{'text-red':(_prl.REMAINING_AMOUNT | number:2)!=0,'':(_prl.REMAINING_AMOUNT | number:2)==0}">
                                    {{(_prl.REMAINING_AMOUNT=(ITEM_LIST | filter:{LINE_NO:_prl.LINE_NO}:true | total:'TOTAL_SPLIT_AMOUNT') -_prl.TOTAL_BUDGET) | number:2}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <span ng-show="false">{{REM_AMOUNT_LEFT = remaningitemdetail.length>0?(remaningitemdetail | sumOfModValue:'REMAINING_AMOUNT'):0 }}</span>
        <div class="alert alert-warning-red mt-2" ng-show="REM_AMOUNT_LEFT>0 || REM_AMOUNT_LEFT<0">
            <strong>Error!</strong> Remaining amount should be zero.
        </div>


        <div class="col-md-12 mt-2" ng-show="P2P_BUDGET_MASTER_LIST.length>0">
            <span class="po-amount">The following budgets will only get impacted when this requision is submitted for approval.</span>
        </div>
        <div class="col-md-12 text-center mt-2" ng-show="P2P_BUDGET_MASTER_LIST.length==0">
            <div class="alert bg-custom-blue">{{BUDGET_TEXT_VALIDATION}}</div>
        </div>
        <div class="card-body p-0 mt-2" ng-show="P2P_BUDGET_MASTER_LIST.length>0">
            <div class="table-responsive custom-scrollbar">
                <table class="table table-head-fixed table-hover">
                    <thead class="bg-wenodo-border">
                        <tr>
                            <th>GL Account </th>
                            <th>Period</th>
                            <th class="text-right">Total</th>
                            <th class="text-right">Remaining</th>
                            <th class="text-right">Consumed</th>
                            <th class="text-right">Booked</th>
                            <th class="text-right">Credit Notes</th>
                            <th class="text-right">Current Amt.</th>
                        </tr>
                    </thead>
                    <tbody ng-repeat="BD in P2P_BUDGET_MASTER_LIST">
                        <tr>
                            <td rowspan="3">{{BD.GLACCOUNT_NAME}}</td>
                            <td colspan="7" ng-if="BD.DB_ACCOUNT_ID==0"
                                class="text-align-center text-bold">
                                There is no budget allocated in this GL Account
                            </td>
                        </tr>
                        <tr ng-if="BD.DB_ACCOUNT_ID!=0" ng-repeat="BL in BD.BUDGET_DETAILS_LIST"
                            ng-init="BL.CURRENT_PO_CUSTOM=0; BD.CURRENT_AMOUNT=0;REQ_Search.SPLIT_TYPE_ID>0?Fn_RETURN_CURRENT_AMT(BD,BL):''"
                            ng-click="VIEW_BUDGET_fn(BD,REQ_Search.PO_DATE,REQ_Search.PROJECT_MASTER_ID,REQ_Search,REQ_Search,'REQ_ACTION',MONTH_LIST)">
                            <td>{{BL.PERIOD}}</td>
                            <td class="text-right">{{BL.TOTAL | number:2}}</td>
                            <td class="text-right">
                                <span ng-show="false">
                                    {{BD.IS_OVER_BUDGET=(BL.REMAINING_AMOUNT<0?true:BL.REMAINING_AMOUNT>0?false:BD.IS_OVER_BUDGET?true:false)}}
                                </span>
                                <span ng-class="{'text-red text-bold':BL.REMAINING_AMOUNT<0}">
                                    {{(BL.REMAINING_AMOUNT=((BL.TOTAL*1)-((BL.BOOKED*1) +(BL.CURRENT_PO_CUSTOM*1)+(BL.CONSUMED*1)+(BL.MEMO*1)))) | number:2}}
                                </span>
                            </td>
                            <td class="text-right">{{BL.CONSUMED | number :2}}</td>
                            <td class="text-right">{{BL.BOOKED  | number :2}}</td>
                            <td class="text-right">
                                <span ng-show="BL.MEMO==0">{{BL.MEMO*-1 | number :2}}</span><span ng-show="BL.MEMO!=0">({{BL.MEMO*-1 | number :2}})</span>
                            </td>
                            <td class="text-right">

                                <span ng-show="false">
                                    {{BL.ITEM_TAX_AMOUNT=(ITEM_LIST | filter:{ACCOUNT_ID:BD.ACCOUNT_ID}:true | total:'TAX_AMOUNT')}}
                                    {{BL.ITEM_AMOUNT= (ITEM_LIST | filter:{ACCOUNT_ID:BD.ACCOUNT_ID}:true | total:'AMOUNT') }}
                                    {{BL.TAX_AMT_TOTAL= ((NAN_Fn(BL.ITEM_TAX_AMOUNT)?0:BL.ITEM_TAX_AMOUNT) + BL.ITEM_AMOUNT*1)}}
                                </span>
                                <span> {{(REQ_Search.SPLIT_TYPE_ID>0? BL.CURRENT_PO_CUSTOM=(( ACCOUNT_ITEMDETAIL | filter:{ACCOUNT_ID:BD.ACCOUNT_ID}:true) | total : 'BUDGET')/REQ_Search.BASE_TO_PO_CONVERSION_RATE:(SETTING_USE_GROSS==1?(BL.CURRENT_PO_CUSTOM=REQ_Search.TAX_TYPE==1 ?(BL.TAX_AMT_TOTAL/REQ_Search.BASE_TO_PO_CONVERSION_RATE):(BL.ITEM_AMOUNT/REQ_Search.BASE_TO_PO_CONVERSION_RATE)):BL.CURRENT_PO_CUSTOM=(BL.ITEM_AMOUNT-(REQ_Search.TAX_TYPE==1?0:BL.ITEM_TAX_AMOUNT))/REQ_Search.BASE_TO_PO_CONVERSION_RATE)) | number:2 }}</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="alert alert-warning-red" ng-show="(P2P_BUDGET_MASTER_LIST | filter:{IS_OVER_BUDGET:true}).length">
            <strong>Warning!</strong> This requisition is going over budget.
        </div>
    </div>
    
    <div class="col-md-12 my-4">
        <div class="card-header w-100">
            <h5 class="card-title mt-1 font-15">Delivery Details</h5>
            <a class="btn btn-transparent-wenodo ml-4 border float-right" ng-click="POP_DELIVERY_DETAILS_FY()"
               data-toggle="tooltip"
               data-html="true">
                Add New Delivery Address&nbsp;&nbsp;<i class="far fa-plus"></i>
            </a>
            <a class="btn btn-transparent-wenodo border float-right"
               data-toggle="dropdown">
                Select Delivery Address
                &nbsp;&nbsp;<i class="far fa-chevron-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-right dropdown-menu-arrow text-sm custom-scrollbar " style="width:300px;"
                aria-haspopup="true" aria-expanded="false">
                <li class="stick-top bg-white" style="top:0">
                    <input type="text"
                           class="form-control"
                           placeholder="Search Delivery Address"
                           ng-model="REQ_Search.searchDA" />
                </li>
                <li class="pl-4 py-2 DontHideOnClick" ng-show="false">

                </li>
                <li class="text-center" ng-show="P2P_DELIVERY_ADDRESS_LIST.length==0" ng-click="POP_DELIVERY_DETAILS_FY()" data-toggle="tooltip"
                    data-html="true"
                    data-original-title="Add Delivery Details">
                    No record found
                    <i class="fa fa-plus"></i>
                </li>
                <li class="dropdown-item text-limit-1"
                    ng-repeat="DA in P2P_DELIVERY_ADDRESS_LIST  | filter:{DELIVERY_ADDRESS:REQ_Search.searchDA}"
                    ng-click="CLICK_DELIVERY_ADDRESS(DA)">
                    {{DA.DELIVERY_ADDRESS}}
                </li>
            </ul>
        </div>
        <div class="row mt-3">
            <div class="col-md-4">
                <div class="form-group">
                    <label>Address <span class="text-danger">*</span></label>
                    <textarea class="form-control" rows="5"
                              name="DELIVERY_ADDRESS"
                              placeholder="Enter delivery address"
                              ng-model="REQ_Search.DELIVERY_ADDRESS"
                              maxlength="500"
                              required
                              ng-class="{'error':POForm.submitted && POForm.DELIVERY_ADDRESS.$error.required}"></textarea>
                    <span class="d-block text-grey text-xs semibold mb-2">{{500 - REQ_Search.DELIVERY_ADDRESS.length}} Character Remaining </span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Attention To</label>
                        <input type="text" class="form-control"
                               name="ATTENTION"
                               maxlength="150"
                               placeholder="Enter attention"
                               ng-model="REQ_Search.ATTENTION"
                               ng-class="{'error':POForm.submitted && POForm.ATTENTION.$error.required}" />
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Phone <span class="text-danger">*</span></label>
                        <input type="text" class="form-control"
                               name="PHONE"
                               placeholder="Enter phone"
                               ng-model="REQ_Search.PHONE"
                               only-phone
                               autocomplete="off"
                               maxlength="15"
                               required
                               ng-class="{'error':POForm.submitted && POForm.PHONE.$error.required}" />
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Delivery Instructions</label>
                    <textarea class="form-control" rows="5"
                              name="DELIVERY_INSTRUCTIONS"
                              maxlength="500"
                              placeholder="Enter delivery instructions"
                              ng-model="REQ_Search.DELIVERY_INSTRUCTIONS"
                              ng-class="{'error':POForm.submitted && POForm.DELIVERY_INSTRUCTIONS.$error.required}"></textarea>
                    <span class="d-block text-grey text-xs semibold mb-2">{{500 - REQ_Search.DELIVERY_INSTRUCTIONS.length}} Character Remaining </span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 my-4">
        <h5 class="card-title w-100">Note for Approvers</h5>
        <textarea class="form-control" rows="4"
                  name="NOTE_FOR_APPROVERS"
                  placeholder="Enter note for approvers"
                  maxlength="2000"
                  ng-model="REQ_Search.NOTE_FOR_APPROVERS"
                  ng-class="{'error':POForm.submitted && POForm.NOTE_FOR_APPROVERS.$error.required}"></textarea>
        <span class="d-block text-grey text-xs semibold mb-2">{{2000 - REQ_Search.NOTE_FOR_APPROVERS.length}} Character Remaining </span>
    </div>
    <div class="col-md-6  my-4">
        <span class="bigcheck">
            <label class="bigcheck float-left" for="MATCHTYPE">
                <input type="checkbox" class="bigcheck" id="MATCHTYPE"
                       name="AUTO_EMAIL_TO_SUPPLIER"
                       ng-model="REQ_Search.AUTO_EMAIL_TO_SUPPLIER"
                       ng-class="{'error':POForm.submitted && POForm.AUTO_EMAIL_TO_SUPPLIER.$error.required}" />
                <span class="bigcheck-target"></span>
                <span class="font-14" style="margin-top:2px">Automatically email approved Purchase Order to Supplier</span>
            </label>
        </span>
    </div>
    <div class="col-md-6 my-4">
        <div class="form-group">
            <label ng-show="REQ_Search.AUTO_EMAIL_TO_SUPPLIER">Required <span class="text-danger">*</span></label>
            <input type="text" class="form-control w-100"
                   name="SUPPLIER_EMAIL"
                   ng-required="REQ_Search.AUTO_EMAIL_TO_SUPPLIER"
                   placeholder="Enter contact email"
                   ng-model="REQ_Search.SUPPLIER_EMAIL"
                   ng-pattern="/^(\s?[^\s,]+@[^\s,]+\.[^\s,]+\s?,)*(\s?[^\s,]+@[^\s,]+\.[^\s,]+)$/"
                   maxlength="500"
                   ng-class="{'error w-90':POForm.submitted && POForm.SUPPLIER_EMAIL.$error.required || POForm.SUPPLIER_EMAIL.$error.pattern}" />
            <span class="text-red" ng-show="POForm.SUPPLIER_EMAIL.$error.pattern">Not valid email!</span>
        </div>
    </div>
    <div class="col-md-12 my-4">
        <div class="card-header w-100">
            <h5 class="card-title font-15 mt-2">Terms & Conditions</h5>
            <button type="button"
                    class="btn btn-transparent-wenodo border  ml-4 float-right"
                    ng-click="POP_TERMS_CONDITIONS_FY(REQ_Search)"
                    data-toggle="tooltip"
                    data-html="true">
                Add Terms and Conditions &nbsp;&nbsp;<i class="far fa-plus"></i>
            </button>
            <button type="button"
                    class="btn btn-transparent-wenodo border float-right"
                    data-toggle="dropdown" ng-click="POP_ADD_TERMS_CONDITIONS_Fn()">
                Select Terms and Conditions
                &nbsp;&nbsp;
            </button>

        </div>
        <div class="row mt-3">
            <div class="col-md-12">
                <div class="table-responsive" style="overflow-x:visible">
                    <table class="table table-head-fixed table-hover table-form table-bordered">
                        <thead class="bg-wenodo-border">
                            <tr>
                                <th>Terms & Conditions</th>
                                <th width="5%" class="text-center">Order</th>
                                <th width="3%" class="text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="PRL in TERMS_AND_CONDITIONS_MASTER_LIST | orderBy:'SORT_ORDER'">
                                <td>
                                    <textarea class="hidden-input scroll"
                                              name="TEXT{{$index}}"
                                              id="text"
                                              maxlength="1000"
                                              onInput="this.parentNode.dataset.replicatedValue = this.value"
                                              placeholder="Enter "
                                              ng-model="PRL.TEXT"></textarea>
                                    <span class="d-block text-grey text-xs semibold mb-2">{{1000 - PRL.TEXT.length}} Character Remaining </span>

                                </td>
                                <td class="text-center">
                                    <button type="button" class="btn btn-transparent-wenodo mr-2 float-left"
                                            ng-click="ADD_ABOVE(PRL,$index)"
                                            ng-show="!$first"
                                            data-toggle="tooltip"
                                            data-html="true"
                                            data-original-title="Add Above">
                                        <i class="far fa-angle-double-up"></i>
                                    </button>
                                    <button type="button" class="btn btn-transparent-wenodo float-right"
                                            data-toggle="tooltip"
                                            ng-show="TERMS_AND_CONDITIONS_MASTER_LIST.length>1 && !$last"
                                            ng-click="ADD_BELOW(PRL,$index)"
                                            data-html="true"
                                            data-original-title="Add Below">
                                        <i class="far fa-angle-double-down"></i>
                                    </button>
                                </td>
                                <td class="text-center">
                                    <i class="far fa-times-circle cursor-pointer text-danger"
                                       ng-click="REMOVE_FILTE_TERM_CON($index,PRL)"
                                       data-toggle="tooltip" data-html="true" data-original-title="Remove">
                                    </i>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="3" ng-click="ADD_MORE_TERM_CON()" class="text-center cursor-pointer">
                                    <a class="text-blue cursor-pointer text-sm"><i class="far fa-plus"></i> {{ADD_MORE_TERMS_CONDITIONS_NAME}}</a>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 mt-3 ">
        <div class="upload-files-container">
            <div class="drag-file-area">
                <label class="label">
                    <span class="browse-files">
                        <input type="file" class="default-file-input" id="PO1"
                               ng-model="REQ_Search.UploadedFiles"
                               ng-files="getTheFilesToUpload($files,'PO1',5,REQ_Search,32,'1','PO',10,'P2P_Upload_Path','P2P')" />
                        <span class="browse-files-text"><i class="far fa-upload"></i> Add Attachments to Requisition</span>
                    </span>
                </label>
            </div>
        </div>
    </div>
    <div class="col-md-6 mt-3">
        <label class="cursor-pointer text-blue" ng-show="REQ_Search.REQUEST_LINE.UploadedFiles.length>0 && REQ_Search.UploadedFiles.length==0" ng-click="ADD_REQUESTOR_ATTACHMENT_FY(REQ_Search)">
            Add Requestor Attachment
        </label>
        <div class="file-block" ng-repeat="file in REQ_Search.UploadedFiles">
            <div class="file-info">
                <i class="far fa-file-alt file-icon"></i>
                <a href="/P2PFiles/{{file.FILE_PATH}}{{file.SERVER_FILE_NAME}}" download="{{file.ORIGINAL_FILE_NAME}}">
                    <span class="text-limit-1">{{file.ORIGINAL_FILE_NAME}} </span>
                </a>
            </div>
            <span class="remove-file-icon" ng-click="REMOVE_FILTE($index,file)"><i class="fa fa-times"></i></span>
        </div>
    </div>
</div>
