.blzvQB {
    background-color: transparent;
    border-radius: 30px 30px 30px 30px;
    color: #fff;
}
    .blzvQB svg {
        fill: #6B7C94 !important;
        width: 18px !important;
        height: 18px !important;
    }
    .blzvQB:hover {
        background: none !important;
        box-shadow:none;
        transition:none;
        transform:none;
    }
.kbfwkc {
    background: linear-gradient(214.85deg, rgb(5 165 239) 0%, rgb(0 75 109) 100%) 0% 0% !important;
}

.bDQUzv {
    background: rgb(5 165 239);
}

.kbfwkc {
    background: #000 !important;
}

.launcher-text {
    color: red !important;
    display: none;
}



