
@{
    ViewBag.Title = "CashupAppIndex";
    Layout = "~/Views/Shared/_Layout_Common.cshtml";
}
<div ng-controller="CashupAppIndexController">
    <!--Header Tabs-->
    <ng-view> </ng-view>
</div>

<script src="~/AngularControllers/CashupApp/CashupAppIndexController.js?v=@System.Configuration.ConfigurationManager.AppSettings["AppVersion"].ToString()"></script>
<script src="~/AngularControllers/CashupApp/Admin/OrganisationController.js?v=@System.Configuration.ConfigurationManager.AppSettings["AppVersion"].ToString()"></script>
@*<script src="~/AngularControllers/CashupApp/Admin/CashUpGeneralController.js?v=@System.Configuration.ConfigurationManager.AppSettings["AppVersion"].ToString()"></script>*@
@*<script src="~/AngularControllers/CashupApp/Admin/UserListController.js?v=@System.Configuration.ConfigurationManager.AppSettings["AppVersion"].ToString()"></script>*@
@*<script src="~/AngularControllers/CashupApp/Users/UsersController.js?v=@System.Configuration.ConfigurationManager.AppSettings["AppVersion"].ToString()"></script>*@
@*<script src="~/AngularControllers/CashupApp/Users/AddCashupUserController.js?v=@System.Configuration.ConfigurationManager.AppSettings["AppVersion"].ToString()"></script>*@
@*<script src="~/AngularControllers/CashupApp/Site_Setup/SetupController.js?v=@System.Configuration.ConfigurationManager.AppSettings["AppVersion"].ToString()"></script>*@
@*<script src="~/AngularControllers/CashupApp/Data_Upload/DataUploadController.js?v=@System.Configuration.ConfigurationManager.AppSettings["AppVersion"].ToString()"></script>*@
@*<script src="~/AngularControllers/CashupApp/Integration/IntegrationController.js?v=@System.Configuration.ConfigurationManager.AppSettings["AppVersion"].ToString()"></script>*@


<script src="~/AngularControllers/CashupApp/Cashup_Register/CashupRegisterController.js?v=@System.Configuration.ConfigurationManager.AppSettings["AppVersion"].ToString()"></script>
<script src="~/AngularControllers/CashupApp/Cashup_Entry/CashupEntryController.js?v=@System.Configuration.ConfigurationManager.AppSettings["AppVersion"].ToString()"></script>
<script src="~/AngularControllers/CashupApp/Cashup_Entry/AccountController.js?v=@System.Configuration.ConfigurationManager.AppSettings["AppVersion"].ToString()"></script>
<script src="~/AngularControllers/CashupApp/Cashup_Entry/CardsController.js?v=@System.Configuration.ConfigurationManager.AppSettings["AppVersion"].ToString()"></script>
<script src="~/AngularControllers/CashupApp/Cashup_Entry/CashController.js?v=@System.Configuration.ConfigurationManager.AppSettings["AppVersion"].ToString()"></script>
<script src="~/AngularControllers/CashupApp/Cashup_Entry/ComplimentaryController.js?v=@System.Configuration.ConfigurationManager.AppSettings["AppVersion"].ToString()"></script>
<script src="~/AngularControllers/CashupApp/Cashup_Entry/DeliveryController.js?v=@System.Configuration.ConfigurationManager.AppSettings["AppVersion"].ToString()"></script>
<script src="~/AngularControllers/CashupApp/Cashup_Entry/DepositsController.js?v=@System.Configuration.ConfigurationManager.AppSettings["AppVersion"].ToString()"></script>
<script src="~/AngularControllers/CashupApp/Cashup_Entry/PettyCashController.js?v=@System.Configuration.ConfigurationManager.AppSettings["AppVersion"].ToString()"></script>
<script src="~/AngularControllers/CashupApp/Cashup_Entry/ReviewController.js?v=@System.Configuration.ConfigurationManager.AppSettings["AppVersion"].ToString()"></script>
<script src="~/AngularControllers/CashupApp/Cashup_Entry/VouchersController.js?v=@System.Configuration.ConfigurationManager.AppSettings["AppVersion"].ToString()"></script>
<script src="~/AngularControllers/CashupApp/Cashup_Reports/CashupReportCompsController.js?v=@System.Configuration.ConfigurationManager.AppSettings["AppVersion"].ToString()"></script>
<script src="~/AngularControllers/CashupApp/Cashup_Reports/CashupReportsAccountCustomerController.js?v=@System.Configuration.ConfigurationManager.AppSettings["AppVersion"].ToString()"></script>
<script src="~/AngularControllers/CashupApp/Cashup_Reports/CashupReportsCashbankingController.js?v=@System.Configuration.ConfigurationManager.AppSettings["AppVersion"].ToString()"></script>
<script src="~/AngularControllers/CashupApp/Cashup_Reports/CashupReportsCommentsController.js?v=@System.Configuration.ConfigurationManager.AppSettings["AppVersion"].ToString()"></script>
<script src="~/AngularControllers/CashupApp/Cashup_Reports/CashupReportsDailyController.js?v=@System.Configuration.ConfigurationManager.AppSettings["AppVersion"].ToString()"></script>
<script src="~/AngularControllers/CashupApp/Cashup_Reports/CashupReportsDepositController.js?v=@System.Configuration.ConfigurationManager.AppSettings["AppVersion"].ToString()"></script>
<script src="~/AngularControllers/CashupApp/Cashup_Reports/CashupReportsFloatController.js?v=@System.Configuration.ConfigurationManager.AppSettings["AppVersion"].ToString()"></script>
<script src="~/AngularControllers/CashupApp/Cashup_Reports/CashupReportsPettyCashController.js?v=@System.Configuration.ConfigurationManager.AppSettings["AppVersion"].ToString()"></script>
<script src="~/AngularControllers/CashupApp/Cashup_Reports/CashupReportsTotalCashController.js?v=@System.Configuration.ConfigurationManager.AppSettings["AppVersion"].ToString()"></script>
<script src="~/AngularControllers/CashupApp/Cashup_Reports/CashupReportsVoidsController.js?v=@System.Configuration.ConfigurationManager.AppSettings["AppVersion"].ToString()"></script>
<script src="~/AngularControllers/CashupApp/Cashup_Reports/CashupReportsWeeklyController.js?v=@System.Configuration.ConfigurationManager.AppSettings["AppVersion"].ToString()"></script>
<script src="~/AngularControllers/CashupApp/Cashup_Reports/CashupReportsWeeklySalesController.js?v=@System.Configuration.ConfigurationManager.AppSettings["AppVersion"].ToString()"></script>
<script src="~/AngularControllers/CashupApp/Cashup_Reports/CashupReprotsVoucherController.js?v=@System.Configuration.ConfigurationManager.AppSettings["AppVersion"].ToString()"></script>
@*<script src="~/AngularControllers/CashupApp/Admin/SettingLandingPageController.js?v=@System.Configuration.ConfigurationManager.AppSettings["AppVersion"].ToString()"></script>*@
<script src="~/AngularControllers/CashupApp/Cashup_Entry/ReviewActualsController.js?v=@System.Configuration.ConfigurationManager.AppSettings["AppVersion"].ToString()"></script>



<script src="~/AngularControllers/CashupApp/Dashboard/CashupAppDashboardController.js?v=@System.Configuration.ConfigurationManager.AppSettings["AppVersion"].ToString()"></script>
<script src="~/AngularControllers/CashupApp/Entry_DataUpload/CoverEntryController.js?v=@System.Configuration.ConfigurationManager.AppSettings["AppVersion"].ToString()"></script>
<script src="~/AngularControllers/CashupApp/Entry_DataUpload/EPOSEntryController.js?v=@System.Configuration.ConfigurationManager.AppSettings["AppVersion"].ToString()"></script>
<script src="~/AngularControllers/CashupApp/Entry_DataUpload/FloatEntryController.js?v=@System.Configuration.ConfigurationManager.AppSettings["AppVersion"].ToString()"></script>
<script src="~/AngularControllers/CashupApp/Entry_DataUpload/PettyCashEntryController.js?v=@System.Configuration.ConfigurationManager.AppSettings["AppVersion"].ToString()"></script>
<script src="~/AngularControllers/CashupApp/Receivables/AccountCreditMgtController.js?v=@System.Configuration.ConfigurationManager.AppSettings["AppVersion"].ToString()"></script>
<script src="~/AngularControllers/CashupApp/Receivables/DepositMgtController.js?v=@System.Configuration.ConfigurationManager.AppSettings["AppVersion"].ToString()"></script>
<script src="~/AngularControllers/CashupApp/Receivables/VoucherMgtController.js?v=@System.Configuration.ConfigurationManager.AppSettings["AppVersion"].ToString()"></script>
<script src="~/AngularControllers/CashupApp/CashBanking/CashBankingController.js?v=@System.Configuration.ConfigurationManager.AppSettings["AppVersion"].ToString()"></script>

