
@{
    ViewBag.Title = "HRM_O_Index";
    Layout = "~/Views/Shared/_Layout_HR_OuterSide.cshtml";
}
<h2></h2>
<ng-view></ng-view>
<script src="~/AngularControllers/EmployeeController.js?1+@System.Configuration.ConfigurationManager.AppSettings["AppVersion"].ToString()"></script>
