<div class="card-header">
    <h5 class="f-18">{{HeaderPrimaryDetails.FIRST_NAME}} {{HeaderPrimaryDetails.LAST_NAME}}</h5>
    <div class="card-header-right-icon " ng-show="false">
        <span class="circle_icon"
              data-bs-toggle="modal"
              ng-click="HRM_GET_EMPLOYEE_HISTORY_HEADERS()"><i class="fa-light fa-clock"></i></span>
    </div>
    <span ng-show="EDIT_STEP_NO<9">You can edit data to ready to hire.</span>
</div>
<div class="card-header px-0 pb-0 border-0">
    <ul class="nav nav-tabs border-tab mb-0 nav-justified employee_tabs scrollbar-wrapper" id="bottom-tab" role="tablist" ng-show="EDIT_STEP_NO<9">
        <li class="nav-item ps-0">
            <a class="nav-link tab-info" ng-class="{'active':STEP_FLAG==1,'txt-success':STEP_NO>=1 && STEP_FLAG!=1}"
               ng-click="STEP_NO>=1?TAB_CLICK_HR_HEADER_Fn(1):''">
                <span class="badge me-1" ng-show="STEP_NO < 1 || STEP_FLAG == 1" ng-class="{'badge-primary':STEP_FLAG<=1,'badge-white ':STEP_FLAG!=1}">1</span>
                <span class="badge badge-success me-1 txt-success" ng-show="STEP_NO>=1 && STEP_FLAG!=1"><i class="fa-regular fa-check fa-sm text-white"></i></span>Personal Details
            </a>
        </li>
        <li>
            <i class="fa-regular fa-chevron-right mb-3"></i>
        </li>
        <li class="nav-item">
            <a class="nav-link tab-info" ng-class="{'active':STEP_FLAG==2,'txt-success':STEP_NO>=2 && STEP_FLAG!=2}"
               ng-click="STEP_NO>=2?TAB_CLICK_HR_HEADER_Fn(2):TAB_MESSAGE_Fn(2)"
               id="">
                <span class="badge  me-1" ng-show="STEP_NO < 2 || STEP_FLAG==2" ng-class="{'badge-primary':STEP_FLAG==2,'badge-white':STEP_FLAG!=2}">2</span>
                <span class="badge badge-success me-1 txt-success" ng-show="STEP_NO>=2 && STEP_FLAG!=2"><i class="fa-regular fa-check fa-sm text-white"></i></span>
                Employment Info
            </a>
        </li>
        <li>
            <i class="fa-regular fa-chevron-right mb-3"></i>
        </li>
        <li class="nav-item">
            <a class="nav-link tab-info" ng-class="{'active':STEP_FLAG==3,'txt-success':STEP_NO>=3 && STEP_FLAG!=3}"
               ng-click="STEP_NO>=3?TAB_CLICK_HR_HEADER_Fn(3):TAB_MESSAGE_Fn(3)"
               id="">
                <span class="badge  me-1" ng-show="STEP_NO < 3 || STEP_FLAG==3" ng-class="{'badge-primary':STEP_FLAG==3,'badge-white':STEP_FLAG!=3}">3</span>
                <span class="badge badge-success me-1 txt-success" ng-show="STEP_NO>=3 && STEP_FLAG!=3"><i class="fa-regular fa-check fa-sm text-white"></i></span>
                Wages

            </a>
        </li>
        <li>
            <i class="fa-regular fa-chevron-right mb-3"></i>
        </li>
        <li class="nav-item">
            <a class="nav-link tab-info" ng-class="{'active':STEP_FLAG==4,'txt-success':STEP_NO>=4 && STEP_FLAG!=4}"
               ng-click="STEP_NO>=4?TAB_CLICK_HR_HEADER_Fn(4):TAB_MESSAGE_Fn(4)"
               id="">
                <span class="badge me-1" ng-show="STEP_NO < 4 || STEP_FLAG==4" ng-class="{'badge-primary':STEP_FLAG==4,'badge-white':STEP_FLAG!=4}">4</span>
                <span class="badge badge-success me-1 txt-success" ng-show="STEP_NO>=4 && STEP_FLAG!=4"><i class="fa-regular fa-check fa-sm text-white"></i></span>
                Absences

            </a>
        </li>
        <li>
            <i class="fa-regular fa-chevron-right mb-3"></i>
        </li>
        <li class="nav-item">
            <a class="nav-link tab-info" ng-class="{'active':STEP_FLAG==5,'txt-success':STEP_NO>=5 && STEP_FLAG!=5}"
               ng-click="STEP_NO>=5?TAB_CLICK_HR_HEADER_Fn(5):TAB_MESSAGE_Fn(5)"
               id="">
                <span class="badge me-1" ng-show="STEP_NO < 5 || STEP_FLAG==5" ng-class="{'badge-primary':STEP_FLAG==5,'badge-white':STEP_FLAG!=5}">5</span>
                <span class="badge badge-success me-1 txt-success" ng-show="STEP_NO>=5 && STEP_FLAG!=5"><i class="fa-regular fa-check fa-sm text-white"></i></span>
                Access
            </a>
        </li>
        <li>
            <i class="fa-regular fa-chevron-right mb-3"></i>
        </li>
        <li class="nav-item">
            <a class="nav-link tab-info" ng-class="{'active':STEP_FLAG==6,'txt-success':STEP_NO>=6 && STEP_FLAG!=6}"
               ng-click="STEP_NO>=6?TAB_CLICK_HR_HEADER_Fn(6):TAB_MESSAGE_Fn(6)"
               id="">
                <span class="badge  me-1" ng-show="STEP_NO < 6 || STEP_FLAG==6" ng-class="{'badge-primary':STEP_FLAG==6,'badge-white':STEP_FLAG!=6}">6</span>
                <span class="badge badge-success me-1 txt-success" ng-show="STEP_NO>=6 && STEP_FLAG!=6"><i class="fa-regular fa-check fa-sm text-white"></i></span>
                Document

            </a>
        </li>
        <li>
            <i class="fa-regular fa-chevron-right mb-3"></i>
        </li>
        <li class="nav-item">
            <a class="nav-link tab-info" ng-class="{'active':STEP_FLAG==7,'txt-success':STEP_NO>=7 && STEP_FLAG!=7}"
               ng-click="STEP_NO>=7?TAB_CLICK_HR_HEADER_Fn(7):TAB_MESSAGE_Fn(7)"
               id="">
                <span class="badge  me-1" ng-show="STEP_NO < 7 || STEP_FLAG==7" ng-class="{'badge-primary':STEP_FLAG==7,'badge-white':STEP_FLAG!=7}">7</span>
                <span class="badge badge-success me-1 txt-success" ng-show="STEP_NO>=7 && STEP_FLAG!=7"><i class="fa-regular fa-check fa-sm text-white"></i></span>
                Assets
            </a>
        </li>
        <li>
            <i class="fa-regular fa-chevron-right mb-3"></i>
        </li>
        <li class="nav-item">
            <a class="nav-link tab-info" ng-class="{'active':STEP_FLAG==8,'txt-success':STEP_NO>=8 && STEP_FLAG!=8}"
               ng-click="STEP_NO>=8?TAB_CLICK_HR_HEADER_Fn(8):TAB_MESSAGE_Fn(8)"
               id="">
                <span class="badge me-1" ng-show="STEP_NO <8 || STEP_FLAG==8" ng-class="{'badge-primary':STEP_FLAG==8,'badge-white':STEP_FLAG!=8}">8</span>
                <span class="badge badge-success me-1 txt-success" ng-show="STEP_NO>=8 && STEP_FLAG!=8"><i class="fa-regular fa-check fa-sm text-white"></i></span>
                Qualification
            </a>
        </li>
        <li>
            <i class="fa-regular fa-chevron-right mb-3"></i>
        </li>
        <li class="nav-item">
            <a class="nav-link tab-info" ng-class="{'active':STEP_FLAG==9,'txt-success':STEP_NO>=9 && STEP_FLAG!=9}"
               ng-click="STEP_NO>=9?TAB_CLICK_HR_HEADER_Fn(9):TAB_MESSAGE_Fn(9)"
               id="">
                <span class="badge me-1" ng-show="STEP_NO < 9 || STEP_FLAG==9" ng-class="{'badge-primary':STEP_FLAG==9,'badge-white':STEP_FLAG!=9}">9</span>
                <span class="badge badge-success me-1 txt-success" ng-show="STEP_NO>=9 && STEP_FLAG!=9"><i class="fa-regular fa-check fa-sm text-white"></i></span>
                Notes
            </a>
        </li>
    </ul>
    <ul class="nav nav-tabs border-tab mb-0 scrollbar-wrapper edit_employee" id="bottom-tab" role="tablist" style="height:50px" ng-show="EDIT_STEP_NO==9">
        <li class="nav-item">
            <a class="nav-link nav-border tab-info" ng-class="{'active':STEP_FLAG==1}" ng-click="TAB_CLICK_HR_HEADER_Fn(1)" id="">
                Personal Details
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link nav-border tab-info" ng-class="{'active':STEP_FLAG==2}" ng-click="TAB_CLICK_HR_HEADER_Fn(2)" id="">
                Employment Info
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link nav-border tab-info" ng-class="{'active':STEP_FLAG==3}" ng-click="TAB_CLICK_HR_HEADER_Fn(3)" id="bottom-inbox-tab" data-bs-toggle="tab" role="tab" aria-controls="bottom-inbox" aria-selected="false">
                Wages
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link nav-border tab-info" ng-class="{'active':STEP_FLAG==4}" ng-click="TAB_CLICK_HR_HEADER_Fn(4)" id="bottom-contact-tab" data-bs-toggle="tab" role="tab" aria-controls="bottom-contact" aria-selected="false">
                Absences
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link nav-border tab-info" id="bottom-contact-tab" ng-class="{'active':STEP_FLAG==5}" ng-click="TAB_CLICK_HR_HEADER_Fn(5)" data-bs-toggle="tab" role="tab" aria-controls="bottom-contact" aria-selected="false">
                Access
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link nav-border tab-info" id="bottom-contact-tab" ng-class="{'active':STEP_FLAG==6}" ng-click="TAB_CLICK_HR_HEADER_Fn(6)" data-bs-toggle="tab" role="tab" aria-controls="bottom-contact" aria-selected="false">
                Document
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link nav-border tab-info" id="bottom-contact-tab" ng-class="{'active':STEP_FLAG==7}" ng-click="TAB_CLICK_HR_HEADER_Fn(7)" data-bs-toggle="tab" role="tab" aria-controls="bottom-contact" aria-selected="false">
                Assets
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link nav-border tab-info" id="bottom-contact-tab" ng-class="{'active':STEP_FLAG==8}" ng-click="TAB_CLICK_HR_HEADER_Fn(8)" data-bs-toggle="tab" role="tab" aria-controls="bottom-contact" aria-selected="false">
                Qualification
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link nav-border tab-info" id="bottom-contact-tab" ng-class="{'active':STEP_FLAG==9}" ng-click="TAB_CLICK_HR_HEADER_Fn(9)" data-bs-toggle="tab" role="tab" aria-controls="bottom-contact" aria-selected="false">
                Notes
            </a>
        </li>
        <li class="nav-item ms-auto"
            ng-show="EDIT_STEP_NO==9 && MY_PROFILE_FLAG==0 && STEP_FLAG!=9 || (EDIT_MODE || EDIT_STEP_NO==9) && STEP_FLAG==1 || (EDIT_MODE || EDIT_STEP_NO==9) && STEP_FLAG==6 || STEP_FLAG==8 && EDIT_STEP_NO==9">
            <button type="button" click-once
                    ng-show="SHOW_EDIT_ACCESS"
                    ng-click="HRM_EDIT_DETAILS()"
                    class="btn text-nowrap" ng-class="{'btn-edit-mode':!EDIT_MODE, 'btn-light':EDIT_MODE}">
                <i class="fa-light fa-pen" ng-class="{'text-white':!EDIT_MODE, 'txt-primary':EDIT_MODE}"></i> Edit Data
            </button>
        </li>

    </ul>
</div>

