<div class="card-body">
    <div class="row">
        <templateurl class="w-100" template-url="../AngularViews/HR/AddPosition/HeaderDtls.html?v=2136564{{AppVersion}}">
    </div>
    <div class="col-md-12" ng-show="IS_ACCESS_ADD_MORE_FEILD">
        <button type="button" class="btn btn-wenodo add-position" ng-click="ADD_ON_FILED(2)">{{ADD_ON_TEXT}}</button>
    </div>

    <form id="CustomForm" name="CustomForm" novalidate>
        <div class="col-md-12">
            <div class="col-md-4">
                <div class="form-group">
                    <label>Position ID:</label>
                    <input type="text"
                           class="form-control"
                           ng-disabled="true"
                           ng-model="POSITION_ID_TEXT">
                </div>
            </div>
            <templateurl class="w-100" template-url="../AngularViews/CommonView/FormView.html?v=2136564{{AppVersion}}">
        </div>
        <div class="card-body py-0 mt-4" ng-show="HR_POSITION_RESPONSIBILITY.length>0">
            <h5 class="heading-text-2">Job Responsibility</h5>
        </div>
        <div class="card-body px-3 py-0" ng-show="HR_POSITION_RESPONSIBILITY.length>0">
            <div class="table-responsive custom-scrollbar height-auto">
                <table class="table table-striped v-align-top">
                    <thead class="bg-wenodo-dark-blue">
                        <tr>
                            <th>Title</th>
                            <th>Description</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody ng-repeat="HPR in HR_POSITION_RESPONSIBILITY" ng-show="HPR.TABLE_ID!=-1">
                        <tr>
                            <td> {{HPR.RESPONSIBILITY_NAME}}</td>
                            <td> {{HPR.RESPONSIBILITY_DESCRIPTION}}</td>
                            <td width="12%">
                                <i class="fal fa-eye fa-lg text-secondary" ng-show="HPR.TASK_MASTER.length>0" ng-click="DisplayDetails(HPR)"></i>
                                <button type="button" class="btn-icon" ng-click="POP_ADD_RESPONSIBILITY(HPR,1,$index)"><i class="fal fa-edit fa-lg text-success"></i></button>
                                <a ng-click="DELETE_RESPONSIBILITY($index,HPR)"><i class="fal fa-trash-alt fa-lg text-danger"></i></a>
                            </td>
                        </tr>
                        <tr class="div-show-hide" ng-show="HPR.ShowDetails">
                            <td colspan="4" class="p-4 ng-hide-remove">
                                <div class="table-responsive custom-scrollbar height-auto" ng-show="(HPR.TASK_MASTER | filter:{IS_TRUE:true}).length>=1">
                                    <table class="table shadow bg-white mb-0">
                                        <thead class="bg-wenodo-dark-blue">
                                            <tr>
                                                <th>Task</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody class="panel panel-default text-xs" ng-repeat="TM in HPR.TASK_MASTER" ng-show="TM.IS_TRUE">
                                            <tr>
                                                <td>{{TM.TASK_NAME}}</td>
                                                <td>
                                                    <a ng-click="DELETE_TASK(TM)"><i class="fal fa-trash-alt fa-lg text-danger"></i></a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-4 px-0">
            <div class="card-body py-0">
                <div class="form-group">
                    <button type="button" class="btn btn-wenodo mt-4" ng-click="POP_ADD_RESPONSIBILITY()">Add responsibility</button>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div data-ng-show="CustomForm.submitted && CustomForm.$invalid" class="form-group has-error errormessage badge badge-light-red w-100 p-3">
                <span class="help-block errormessageline"><i class="fa fa-exclamation-triangle"></i> - Please provide the mandatory details to submit(marked in red).</span>
            </div>
            <div id="divInvlidUser" class="hideshowdiv" data-ng-show="CustomForm.$valid">
                <span class="help-block">{{InvalidUser}}</span>
            </div>
        </div>
        <div class="card-body">
            <div class="form-group">
                <button type="button" class="btn btn-wenodo" ng-click="HR_INS_UPD_POSITIONS_STEP_1()">Save & continue</button>
                <button type="button" class="btn btn-w-default" ng-click="HR_INS_UPD_POSITIONS_STEP_1(1)">Save changes for later</button>
                <button type="button" class="btn btn-w-default" ng-click="ResetStep1()">Reset</button>
            </div>
        </div>
    </form>

    <div class="modal fade" id="Add_Responsibility">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add Responsibility</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <form novalidate id="AddResform" name="AddResform">
                    <div class="modal-body custom-scrollbar height-400">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Responsibility Title:*</label>
                                    <input type="text"
                                           class="form-control"
                                           placeholder="Enter ..."
                                           required
                                           name="TIRESPONSIBILITY_NAME"
                                           maxlength="100"
                                           ng-model="RESPONSIBILITY_NAME"
                                           ng-class="{'error':AddResform.submitted && AddResform.TIRESPONSIBILITY_NAME.$error.required}">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Responsibility Description:*</label>
                                    <textarea class="form-control"
                                              rows="8"
                                              maxlength="1000"
                                              ng-model="RESPONSIBILITY_DESCRIPTION"
                                              required
                                              name="RDESCRIPTION"
                                              placeholder="Enter ..."
                                              ng-class="{'error':AddResform.submitted && AddResform.RDESCRIPTION.$error.required}"></textarea>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group" ng-repeat="TM in TASK_MASTER">
                                    <div class="custom-control custom-checkbox">
                                        <input class="custom-control-input"
                                               type="checkbox"
                                               ng-model="TM.IS_SELECTED"
                                               id="Task{{$index}}"
                                               value="Task">
                                        <label for="Task{{$index}}"
                                               class="custom-control-label">
                                            {{TM.TASK_NAME}}
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div data-ng-show="AddResform.submitted && AddResform.$invalid" class="form-group has-error errormessage badge badge-light-red w-100 p-3">
                                    <span class="help-block errormessageline"><i class="fa fa-exclamation-triangle"></i> - Please provide the mandatory details to submit(marked in red).</span>
                                </div>
                                <div id="divInvlidUser" class="hideshowdiv" data-ng-show="AddResform.$valid">
                                    <span class="help-block">{{InvalidUser}}</span>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <button class="btn btn-wenodo" ng-click="POP_ADD_TASK()"> Add Task</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="modal-footer">
                    <button type="button" ng-click="ADD_RESPONSIBILITY(1)" class="btn btn-wenodo">Add Responsibility</button>
                    <button type="button" ng-click="ADD_RESPONSIBILITY(2)" class="btn btn-wenodo">Add Responsibility & continue</button>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="modal fade" id="Add_Task">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Task</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="TaksForm" name="TaksForm" novalidate>
                    <div class="row">

                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Task Name:*</label>
                                <input type="text"
                                       class="form-control"
                                       placeholder="Enter ..."
                                       ng-model="TASK_NAME"
                                       name="TASK_NAME"
                                       required
                                       ng-class="{'error':TSK.submitted && TaksForm.TASK_NAME.$error.required}">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div data-ng-show="TSK.submitted && TaksForm.$invalid" class="form-group has-error errormessage form-group has-error errormessage badge badge-light-red w-100 p-3">
                                <span class="help-block errormessageline" style="padding-left:0px;"><i class="fa fa-exclamation-triangle"></i> - Please provide the mandatory details to submit(marked in red).</span>
                            </div>
                            <div id="divInvlidUser" class="hideshowdiv" data-ng-show="TaksForm.$valid">
                                <span class="help-block">{{InvalidUser}}</span>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <button class="btn btn-wenodo" ng-click="HR_INS_UPD_TASK_MASTER()"> Save Task</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
