<form id="CustomForm" name="CustomForm" novalidate>
    <div ng-show="KEY_CLIENT_ID">
        <div class="card-header text-center">
            <h5 class="font-16 app-text semibold">OAuth2 Authentication</h5>
        </div>
        <div class="card-body bg-light-blue">
            <div class="col-md-4 offset-md-4">
                <div class="form-group">
                    <label>Key:*</label>
                    <input type="text"
                           class="form-control"
                           maxlength="250"
                           name="CLIENT_ID"
                           ng-model="TokenSearch.CLIENT_ID"
                           placeholder="Enter ..."
                           required
                           ng-class="{'error':CustomForm.submitted && CustomForm.CLIENT_ID.$error.required}">
                </div>
            </div>
            <div class="col-md-4 offset-md-4">
                <div class="form-group">
                    <label>Secret:*</label>
                    <input type="text"
                           class="form-control"
                           maxlength="250"
                           name="CLIENT_SECRET"
                           ng-model="TokenSearch.CLIENT_SECRET"
                           placeholder="Enter ..."
                           required
                           ng-class="{'error':CustomForm.submitted && CustomForm.CLIENT_SECRET.$error.required}">
                </div>
            </div>
            <div class="col-md-12 text-center">
                <div data-ng-show="CustomForm.submitted && CustomForm.$invalid" class="form-group has-error errormessage badge badge-light-red w-100 p-3">
                    <span class="help-block errormessageline" style="padding-left:0px;"><i class="fa fa-exclamation-triangle"></i> - Please provide the mandatory details to submit(marked in red).</span>
                </div>
                <div id="divInvlidUser" class="hideshowdiv" data-ng-show="CustomForm.$valid">
                    <span class="help-block">{{InvalidUser}}</span>
                </div>
            </div>
            <div class="col-md-12 text-center">
                <div class="form-group">
                    <button type="button" class="btn btn-wenodo" ng-click="OAUTH2_AUTHORIZE();">Submit</button>&nbsp;
                    <button type="button" class="btn btn-w-default" ng-click="RESET_OAUTH2_AUTHORIZE();">Reset</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 text-center" ng-show="!KEY_CLIENT_ID">
         Please wait. Redirecting to light speed URL. <i class="fas fa-6x fa-spinner fa-pulse text-blue d-block mt-4"></i>
    </div>
</form>

