<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="process-wrapper">
                <div class="row">
                    <templateurl class="w-100" template-url="../AngularViews/SalesValidation/Invoice_Recon/InvRec_Header.html?v=4{{AppVersion}}">
                </div>
                <div id="progress-content-section">
                    <div class="section-content InvRec_PrepaymentStp border border-radius-5 pt-3 active">
                        <div class="col-md-12 animated fadeInUp">

                            <div class="row border-bottom"  ng-show="INV_RECO_PREPAYMENT_JOURNALS_LIST.length>0">
                                <div class="col-auto">
                                    <h5 class="w-100 card-title">Narration</h5>
                                    <p class="font-14">{{INV_RECO_PREPAYMENE_HEADER_DTLS.NARRATION}}</p>
                                </div>
                                <div class="col">
                                    <h5 class="w-100 card-title">Date</h5>
                                    <p class="font-14">{{INV_RECO_PREPAYMENE_HEADER_DTLS.JOURNAL_DATE | date }}</p>
                                </div>
                            </div>
                            <div class="row border-bottom" ng-show="false">
                                <div class="col">
                                    <h5 class="card-title mb-2">Accrual and cash basis</h5>
                                </div>
                                <div class="col text-right">
                                    <h5 class="w-100 card-title mb-2"><span class="text-normal">Amounts</span> do not include tax</h5>
                                </div>
                            </div>

                            <div class="text-center" ng-show="INV_RECO_PREPAYMENT_JOURNALS_LIST.length==0">
                                <div class="alert bg-custom-blue">There are no record selected for Prepayment!!</div>
                            </div>
                            <div class="table-responsive custom-scrollbar height-70vh" ng-show="INV_RECO_PREPAYMENT_JOURNALS_LIST.length>0">
                                <table class="table table-head-fixed table-bordered table-hover v-align-top compact_table">
                                    <thead class="bg-wenodo-grey">
                                        <tr>
                                            <th width="5%"></th>
                                            <th>Description</th>
                                            <th width="10%">Account</th>
                                            <th width="10%">Tax Rate</th>
                                            <th ng-show="false">Sites</th>
                                            <th class="text-right" ng-show="false">Sales</th>
                                            <th class="text-right  text-nowrap" ng-show="false">Debit GBP</th>
                                            <th class="text-right text-nowrap" ng-show="false">Credit GBP</th>
                                            <th>Date</th>
                                            <th class="text-right" width="6%">Amount</th>
                                            <th class="text-nowrap">Tracking Name 1</th>
                                            <th class="text-nowrap">Tracking Name 2</th>
                                            <th class="text-nowrap">Tracking Option 1</th>
                                            <th class="text-nowrap">Tracking Option 2</th>
                                        </tr>
                                    </thead>
                                    <tbody ng-repeat="INVC in INV_RECO_PREPAYMENT_JOURNALS_LIST" on-finish-render="ngRepeatFinished">
                                        <tr>
                                            <td>
                                                <span class="bigcheck d-flex" ng-show="false">
                                                    <label class="bigcheck mb-0" for="XeroIndex{{$index}}">
                                                        <input type="checkbox"
                                                               class="bigcheck"
                                                               name="XeroIndex{{$index}}"
                                                               ng-model="INVC.IS_SELECTED"
                                                               id="XeroIndex{{$index}}" />
                                                        <span class="bigcheck-target"></span>
                                                    </label>

                                                </span>
                                                <span class="mt-1 ml-2"> {{$index+1}}</span>

                                            </td>
                                            <td>{{INVC.DESCRIPTION}}</td>
                                            <td>{{INVC.XERO_ACCOUNT_CODE}}</td>
                                            <td>{{INVC.XERO_TAX_TYPE}}</td>
                                            <td ng-show="false"></td>
                                            <td class="text-right" ng-show="false">
                                                <span class="text-nowrap">
                                                    <span ng-show="INVC.LINE_AMOUNT!=null" ng-bind-html="CURRENCY_SYMBOL"></span>
                                                    <span ng-show="INVC.LINE_AMOUNT==null">-</span>
                                                </span>
                                            </td>
                                            <td class="text-right" ng-show="false">
                                                <span class="text-nowrap">
                                                    <span ng-show="INVC.LINE_AMOUNT!=null" ng-bind-html="CURRENCY_SYMBOL"></span>
                                                    <span ng-show="INVC.LINE_AMOUNT==null">-</span>
                                                </span>
                                            </td>
                                            <td class="text-right" ng-show="false">
                                                <span class="text-nowrap">
                                                    <span ng-show="INVC.LINE_AMOUNT!=null" ng-bind-html="CURRENCY_SYMBOL"></span>
                                                    <span ng-show="INVC.LINE_AMOUNT==null">-</span>
                                                </span>
                                            </td>
                                            <td><span class="text-nowrap">{{INVC.CREATED_DATE | date}}</span></td>
                                            <td class="text-right">
                                                <span class="text-nowrap">
                                                    <span ng-show="INVC.LINE_AMOUNT!=null" ng-bind-html="CURRENCY_SYMBOL"></span>  {{INVC.LINE_AMOUNT}}
                                                    <span ng-show="INVC.LINE_AMOUNT==null">-</span>
                                                </span>
                                            </td>
                                            <td>
                                                <span class="text-nowrap">
                                                    <span ng-show="INVC.TRACKING_NAME_1!=null"></span>  {{INVC.TRACKING_NAME_1}}
                                                    <span ng-show="INVC.TRACKING_NAME_1==null">-</span>
                                                </span>
                                            </td>
                                            <td>
                                                <span ng-show="INVC.TRACKING_NAME_2==null">-</span>
                                                <span ng-show="INVC.TRACKING_NAME_2!=null">{{INVC.TRACKING_NAME_2}}</span>
                                            </td>
                                            <td>
                                                <span ng-show="INVC.TRACKING_OPTION_1==null">-</span>
                                                <span ng-show="INVC.TRACKING_OPTION_1!=null">{{INVC.TRACKING_OPTION_1}}</span>
                                            </td>
                                            <td>
                                                <span ng-show="INVC.TRACKING_OPTION_2==null">-</span>
                                                <span ng-show="INVC.TRACKING_OPTION_2!=null">{{INVC.TRACKING_OPTION_2}}</span>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr class="table-footer-fixed">
                                            <td colspan="4"></td>
                                            <td class="text-bold">Total</td>
                                            <td class="text-right text-bold text-nowrap">
                                                <span ng-bind-html="CURRENCY_SYMBOL"></span>
                                                {{(INV_RECO_PREPAYMENT_JOURNALS_LIST | total:'LINE_AMOUNT') | number:2}}
                                            </td>
                                            <td class="text-right text-bold text-nowrap" ng-show="false">
                                                <span ng-bind-html="CURRENCY_SYMBOL"></span>
                                                {{(INV_RECO_JOURNALS_LIST | total:'LINE_AMOUNT') | number:2}}
                                            </td>
                                            <td class="text-right text-bold text-nowrap" ng-show="false">
                                                <span ng-bind-html="CURRENCY_SYMBOL"></span>
                                                {{(INV_RECO_JOURNALS_LIST | total:'LINE_AMOUNT') | number:2}}
                                            </td>
                                            <td class="text-right text-bold text-nowrap" ng-show="false">
                                                <span ng-bind-html="CURRENCY_SYMBOL"></span>
                                                {{(INV_RECO_JOURNALS_LIST | total:'LINE_AMOUNT') | number:2}}
                                            </td>
                                            <td colspan="4"></td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                        <div class="form-group mt-4 text-right">
                            <button type="button" ng-click="INV_REC_PAGE_LOAD(Inv_recon_Search,6)" class="btn btn-w-default">Previous</button>
                            <button type="button" ng-click="NEXT_STEP()" class="btn btn-wenodo">Next</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
