<div class="card-header">
    <h5 class="card-title">
        {{Inv_recon_Search.PAGE_TITLE}}
        <span ng-class="{'badge-light-green':Inv_recon_Search.STATUS_ID==63,'badge-light-grey':Inv_recon_Search.STATUS_ID!=63}" class="badge ">{{Inv_recon_Search.STATUS_NAME}}</span>
    </h5>
    <div class="card-tools">
        <ul class="nav nav-pills ml-auto">
            <li class="nav-item">
                <a href="#!/InvRec_List" class="btn btn-w-default mr-2"><i class="far fa-home"></i> </a>
            </li>
            <li>
                <a href="#!/Recon_Settings" class="btn btn-wenodo">Settings</a>
            </li>
        </ul>
    </div>
</div>
<div id="progress-bar-container">
    <ul>
        <li class="step step01" ng-class="{'active':Inv_recon_Search.STEP_NO==1 || Inv_recon_Search.STEP_NO>1,'step-active':Inv_recon_Search.CUSTOM_STEP_NO==1}"><div class="step-inner">Upload</div></li>
        <li class="step step02" ng-class="{'active':Inv_recon_Search.STEP_NO==2 || Inv_recon_Search.STEP_NO>2,'step-active':Inv_recon_Search.CUSTOM_STEP_NO==2}"><div class="step-inner">Contact Mapping</div></li>
        <li class="step step03" ng-click="INV_REC_PAGE_LOAD(Inv_recon_Search,3)" ng-class="{'active':Inv_recon_Search.STEP_NO==3 || Inv_recon_Search.STEP_NO>3,'step-active':Inv_recon_Search.CUSTOM_STEP_NO==3}"><div class="step-inner">Reconcile</div></li>
        <li class="step step04" ng-click="INV_REC_PAGE_LOAD(Inv_recon_Search,4)" ng-class="{'active':Inv_recon_Search.STEP_NO==4 || Inv_recon_Search.STEP_NO>4,'step-active':Inv_recon_Search.CUSTOM_STEP_NO==4}"><div class="step-inner">Accrual  Setup</div></li>
        <li class="step step05" ng-click="INV_REC_PAGE_LOAD(Inv_recon_Search,5)" ng-class="{'active':Inv_recon_Search.STEP_NO==5 || Inv_recon_Search.STEP_NO>5,'step-active':Inv_recon_Search.CUSTOM_STEP_NO==5}"><div class="step-inner">Accrual JV</div></li>
        <li class="step step06" ng-click="INV_REC_PAGE_LOAD(Inv_recon_Search,6)" ng-class="{'active':Inv_recon_Search.STEP_NO==6 || Inv_recon_Search.STEP_NO>6 ,'step-active':Inv_recon_Search.CUSTOM_STEP_NO==6} "><div class="step-inner">Prepayment Setup</div></li>
        <li class="step step07" ng-click="INV_REC_PAGE_LOAD(Inv_recon_Search,7)" ng-class="{'active':Inv_recon_Search.STEP_NO==7 || Inv_recon_Search.STEP_NO>7,'step-active':Inv_recon_Search.CUSTOM_STEP_NO==7}"><div class="step-inner">Prepayment JV</div></li>
        <li class="step step08" ng-click="INV_REC_PAGE_LOAD(Inv_recon_Search,8)" ng-class="{'active':Inv_recon_Search.STEP_NO==8,'step-active':Inv_recon_Search.CUSTOM_STEP_NO==8}"><div class="step-inner">Finalize</div></li>
    </ul>
    <div id="line">
        <div id="line-progress"></div>
    </div>
</div>