<div class="card" ng-show="THIS_APP_PAGE_COMPONENTS_LIST.length==0 && LOAD_APP_COMPONENTS==1">
    <div class="card-body">
        <div  empty-component></div>
    </div>
</div>
<div id="PRINT" ng-show="THIS_APP_PAGE_COMPONENTS_LIST.length>0">
    <div class="container-fluid">
        <div class="row my-3" hidden>
            <div class="col-md-6 border-bottom">
                <img src="{{LOGO_PATH}}" class="Print_Logo_start" alt="" />
            </div>
            <div class="col-md-6 border-bottom text-end">
                <img src="../E_Content/images/logo.png" class="Print_Logo_end" alt="" />
            </div>
        </div>
    </div>

    <div class="row sticky_pi_header">
        <div class="col d-flex text-nowrap">
            <h4>Staff Summary <i class="fa-regular fa-info-circle txt-primary ms-1" data-bs-toggle="tooltip" data-bs-original-title="Headcount displays the number of active staff members as per the ROTA system."></i></h4>
            <div class="mt-1 ms-2 week-details">
                <blockquote class="blockquote bg-light-success py-0 mb-0 rounded">
                    <p class="mb-0 txt-dark">Week: {{Input_Model.WEEK_NO}} | {{start_date | date :'dd MMM yyyy'}} - {{end_date | date :'dd MMM yyyy'}}</p>
                </blockquote>
            </div>
        </div>
        <div class="col-2 ms-auto mobile-none print_pdf_doc">
            <ul class="nav nav-pills" id="SITE_DDL">
                <li class="dropdown w-100">
                    <a class="text-limitations cursor-pointer"
                       data-toggle="dropdown">
                        <span class="select-label" id="select_label">
                            {{Input_Model.DISPLAY_TEXT_SITE}}
                        </span>
                    </a>
                    <ul ID="divNewNotifications" class="dropdown-menu  scrollbar-wrapper w-auto" style="min-width:100%">
                        <li ng-click="SITE_All_Fn()" class="DontHideOnClick">
                            <i class="fa-regular fa-lg"
                               ng-class="{'fa-square-check txt-success':(SITE_LIST | filter:{IS_CHECK:true}).length==SITE_LIST.length,'fa-square':(SITE_LIST | filter:{IS_CHECK:true}).length!=SITE_LIST.length}"></i>
                            <span class="ms-2">All</span>
                            <span ng-show="false"> {{  IS_ALL_SITE_CHECK=(SITE_LIST | filter:{IS_CHECK:true}).length==SITE_LIST.length?true:false}}</span>
                        </li>
                        <li ng-repeat="site in SITE_LIST"
                            class="DontHideOnClick d-flex"
                            ng-click="SITE_Fn(site,2)"
                            on-finish-render="ngRepeatFinishedequalizerRender">
                            <i class="fa-regular fa-lg mt-2" ng-class="{'fa-square-check txt-success':site.IS_CHECK,'fa-square':!site.IS_CHECK}"></i>
                            <span class="truncate ms-2">{{site.Value}}</span>
                        </li>
                        <li class="sticky-bottom bg-white">
                            <button ng-click="Fn_BLUR_SITES()" ng-show="APPLY_BTN_SHOW" class="btn btn-xs btn-primary">Apply</button>
                            <button ng-click="RESET_SITES_Fn()" ng-show="APPLY_BTN_SHOW" class="btn btn-xs btn-light DontHideOnClick">Reset</button>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

        <div class="col-2 mobile-none print_pdf_doc">
            <ul class="nav nav-pills" id="CURRENCY_DDL">
                <li class="dropdown w-100">
                    <a class="text-limitations custom-dropdown cursor-pointer" data-toggle="dropdown">
                        <span class="select-label" id="select_label">
                            <span class="truncate">{{Input_Model.DISPLAY_TEXT_CURRENCY}}</span>
                        </span>
                    </a>
                    <ul ID="divNewNotifications" class="dropdown-menu w-100">
                        <li ng-repeat="currency in CURRENCY_LIST" ng-click="CURRENCY_Fn(currency)">
                            {{currency.Value}}
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="col-3 mobile-none print_pdf_doc" id="DATEPICKER">
            <!--<label class="form-label mx-3 mt-2 text-nowrap">Date Range</label>-->
            <div class="input-group input-group-sm datepicker_margin" id="week-picker-wrapper">
                <div class="input-group-prepend" ng-if="BTN_HIDE_WEEK_PICKER==1">
                    <button type="button" click-once class="btn btn-light week-prev px-2"><i class="fas fa-arrow-left"></i></button>
                </div>
                <input type="text" class="week-picker" ng-class="{'week-picker-disabled':BTN_HIDE_WEEK_PICKER==0}" readonly placeholder="Select a Week" />
                <div class="input-group-append" ng-if="BTN_HIDE_WEEK_PICKER==1">
                    <button type="button" click-once class="btn btn-light week-next px-2">
                        <i class="fas fa-arrow-right"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-auto mobile-none mt-2 print_pdf_doc" id="BUTTON_FILTER">
            <a class="text-dark c-pointer" data-bs-toggle="tooltip" data-bs-placement="top" ng-click="PRINT_PDF_PAGE(1,'PRINT','Staff Summary')" title="Print"><i class="fa-light fa-print fa-lg"></i></a>
            <a class="text-dark ms-2 c-pointer" data-bs-toggle="tooltip" ng-click="RESET_FILTER()" data-bs-placement="top" title="Reset Data"><i class="fa-light fa-arrows-rotate fa-lg"></i></a>
        </div>

        <div class="col-auto ms-auto desktop-none print_pdf_doc">
            <!--desktop-none-->
            <a class="text-dark c-pointer" data-bs-toggle="modal"
               data-bs-target="#filter_popup"
               data-bs-original-title="Filter"
               title="Filter"><i class="fa-light fa-filter fa-lg"></i></a>
        </div>
        <div class="col-sm-12 col-xl-12">
            <h6 class="d-inline f-14">Selected Sites:</h6>
            <span class="badge badge-light-primary sites-block" ng-repeat="site in SITE_LIST"
                  ng-show="site.IS_APPLAY_CHECK">
                {{site.Value}}
                <span class="txt-primary"> {{site.DISPLAY_TEXT_CURRENCY}}</span>
                <span ng-click="SITE_Fn(site,1)">
                    <i class="fa-regular fa-times"></i>
                </span>
            </span>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row widget-grid g-2">
            <div class="col-xxl-3 col-ed-3 col-xl-3 box-col-4"
                 ng-repeat="HEADER_DETAILS in  Display_Model.HEADER_DETAILS_LIST"
                 on-finish-render="ngRepeatFinishedequalizerRender">
                <div class="card widget-hover border-t-grey">
                    <div class="card-body">
                        <div class="widget-content d-block">
                            <h6 class="mb-2 f-14">{{HEADER_DETAILS.Val1}}</h6>
                            <h4 class="txt-primary">{{HEADER_DETAILS.Val2}}</h4>
                            <div class="row fs-11">
                                <div class="col-xxl-5 col-ed-5 col-xl-5 f-w-600">
                                    <span class="d-block">
                                        LW <i ng-show="HEADER_DETAILS.Val32==0" class="fa-regular me-1"
                                              ng-class="{'fa-arrow-up fa-rotate-success font-success':HEADER_DETAILS.Val11>0,'fa-arrow-down  fa-rotate-danger  font-danger':HEADER_DETAILS.Val11<0}"></i>
                                        <span ng-show="HEADER_DETAILS.Val32==0" ng-class="{'font-success':HEADER_DETAILS.Val11>0,'font-danger':HEADER_DETAILS.Val11<0}"> {{HEADER_DETAILS.Val11 | makePositive  }}%</span>

                                        <i ng-show="HEADER_DETAILS.Val32==1" class="fa-regular me-1"
                                           ng-class="{'fa-arrow-up fa-rotate-danger-130 font-danger':HEADER_DETAILS.Val11>0,'fa-arrow-down fa-rotate-success-130 font-success':HEADER_DETAILS.Val11<0}"></i>
                                        <span ng-show="HEADER_DETAILS.Val32==1" ng-class="{'font-danger':HEADER_DETAILS.Val11>0,'font-success':HEADER_DETAILS.Val11<0}"> {{HEADER_DETAILS.Val11 | makePositive  }}%</span>
                                    </span>
                                    <span>
                                        LY
                                        <i ng-show="HEADER_DETAILS.Val32==0" class="fa-regular me-1"
                                           ng-class="{'fa-arrow-up fa-rotate-success font-success':HEADER_DETAILS.Val12>0,'fa-arrow-down  fa-rotate-danger  font-danger':HEADER_DETAILS.Val12<0}"></i>
                                        <span ng-show="HEADER_DETAILS.Val32==0" ng-class="{'font-success':HEADER_DETAILS.Val12>0,'font-danger':HEADER_DETAILS.Val12<0}">  {{HEADER_DETAILS.Val12 | makePositive}}%</span>

                                        <i ng-show="HEADER_DETAILS.Val32==1" class="fa-regular me-1"
                                           ng-class="{'fa-arrow-up fa-rotate-danger-130 font-danger':HEADER_DETAILS.Val12>0,'fa-arrow-down fa-rotate-success-130 font-success':HEADER_DETAILS.Val12<0}"></i>
                                        <span ng-show="HEADER_DETAILS.Val32==1" ng-class="{'font-danger':HEADER_DETAILS.Val12>0,'font-success':HEADER_DETAILS.Val12<0}">  {{HEADER_DETAILS.Val12 | makePositive}}%</span>
                                    </span>
                                </div>
                                <div class="col-xxl-7 col-ed-7 col-xl-7 f-w-600 text-end" ng-show="HEADER_DETAILS.Val3!=null">
                                    <span class="d-block">MTD {{HEADER_DETAILS.Val3}}</span>
                                    YTD {{HEADER_DETAILS.Val4}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-xxl-3 col-ed-3 col-xl-3 box-col-4">
                <div class="card height-equal crypto-main-card">
                    <!-- <div class="card-header card-no-border">
                      <div class="header-top">
                        <h5 class="txt-primary">Employee Count</h5>
                      </div>
                    </div> -->
                    <h5 class="pt-3 ps-3">Employee Count</h5>
                    <div class="card-body d-flex justify-content-center">
                        <div class="row w-100 align-items-center justify-content-center">
                            <div class="col-md-4 text-center" ng-repeat=" EC in Display_Model.EMPLOYEE_COUNT.DATAGRID_VALUES" on-finish-render="ngRepeatFinishedequalizerRender">
                                <h6 class="mb-2 text-nowrap">{{EC.Val1}}</h6>
                                <i class="fa-light {{EC.Val4}} fa-4x"></i>
                                <span class="d-block mt-2 f-16">{{EC.Val2}}</span>
                                <span class="badge badge-light rounded-pill text-dark mt-2 f-16">{{EC.Val3}}</span>
                            </div>
                            <div class="col-md-10 text-center border py-2 rounded"><h5>Total Count: {{Display_Model.EMPLOYEE_COUNT.TITLE_VALUE}}</h5></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xxl-6 col-ed-6 col-xl-6 box-col-4">
                <div class="card height-equal box-col-6">
                    <div class="card-header card-no-border">
                        <div class="header-top">
                            <h5 class="txt-primary">{{Display_Model.STAFF_COST_TREND.TITLE==null?'Staff Cost Trend':Display_Model.STAFF_COST_TREND.TITLE}}</h5>
                        </div>
                    </div>
                    <div class="card-body pt-0">
                        <div class="row">
                            <div class="col-md-8" id="Staff_Cost_per_Site_DIV">
                                <div id="Staff_Cost_per_Site"></div>
                            </div>
                            <div class="col-md-4">
                                <!--<div class="col-md-12 text-end"><span class="fw-bold txt-primary">Avg. Staff Cost</span></div>-->
                                <div class="col-md-12 mb-2">
                                    <div class="light-card balance-card align-items-center">
                                        <h6 class="f-12 mb-0">CM</h6>
                                        <div class="ms-auto text-end"><span class="badge badge-light-primary rounded-pill">{{Display_Model.STAFF_COST_TREND.CW}}</span></div>
                                    </div>
                                </div>
                                <div class="col-md-12 mb-2">
                                    <div class="light-card balance-card align-items-center">
                                        <h6 class="f-12 mb-0">vs 3 Months</h6>
                                        <div class="ms-auto text-end"><span class="badge badge-light-primary rounded-pill">{{Display_Model.STAFF_COST_TREND.LW}}</span></div>
                                    </div>
                                </div>

                                <div class="col-md-12 mb-2">
                                    <div class="light-card balance-card align-items-center">
                                        <h6 class="f-12 mb-0">vs 6 Months</h6>
                                        <div class="ms-auto text-end"><span class="badge badge-light-primary rounded-pill">{{Display_Model.STAFF_COST_TREND.LY}}</span></div>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="light-card balance-card align-items-center">
                                        <h6 class="f-12 mb-0">vs 12 Months</h6>
                                        <div class="ms-auto text-end"><span class="badge badge-light-primary rounded-pill">{{Display_Model.STAFF_COST_TREND.TYPE}}</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xxl-3 col-ed-3 col-xl-3 box-col-4">
                <div class="card height-equal box-col-6">
                    <div class="card-header card-no-border">
                        <div class="header-top">
                            <h5 class="txt-primary">Staff Cost per Site</h5>
                        </div>
                    </div>
                    <div class="card-body pt-0" id="HEADER_COUNT_MOBILE">
                        <div id="Headcount_Chart_2"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Container-fluid Ends-->

<div class="modal fade" id="filter_popup" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenter1" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Filters</h5>
                <button class="btn-close py-0" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <div class="mb-3">
                            <ul class="nav nav-pills">
                                <li class="dropdown w-100">
                                    <a class="text-limitations cursor-pointer"
                                       data-toggle="dropdown">
                                        <span class="select-label" id="select_label">
                                            {{Input_Model.DISPLAY_TEXT_SITE}}
                                        </span>
                                    </a>
                                    <ul ID="divNewNotifications" class="dropdown-menu w-auto" style="min-width:100%">
                                        <li ng-click="SITE_All_Fn()" class="DontHideOnClick">
                                            <i class="fa-regular fa-lg"
                                               ng-class="{'fa-square-check txt-success':(SITE_LIST | filter:{IS_CHECK:true}).length==SITE_LIST.length,'fa-square':(SITE_LIST | filter:{IS_CHECK:true}).length!=SITE_LIST.length}"></i>
                                            <span class="fs-12">All</span>
                                            <span ng-show="false"> {{  IS_ALL_SITE_CHECK=(SITE_LIST | filter:{IS_CHECK:true}).length==SITE_LIST.length?true:false}}</span>
                                        </li>
                                        <li ng-repeat="site in SITE_LIST" class="DontHideOnClick text-nowrap" ng-click="SITE_Fn(site,2)">
                                            <i class="fa-regular fa-lg" ng-class="{'fa-square-check txt-success':site.IS_CHECK,'fa-square':!site.IS_CHECK}"></i>
                                            <span class="fs-12">{{site.Value}}</span>
                                        </li>
                                        <li class="sticky-bottom bg-white float-end">
                                            <button ng-click="Fn_BLUR_SITES()" ng-show="APPLY_BTN_SHOW" class="btn btn-xs btn-primary">Apply</button>
                                            <button ng-click="RESET_SITES_Fn()" ng-show="APPLY_BTN_SHOW" class="btn btn-xs btn-light DontHideOnClick">Reset</button>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="mb-3">
                            <ul class="nav nav-pills">
                                <li class="dropdown w-100">
                                    <a class="text-limitations custom-dropdown cursor-pointer" data-toggle="dropdown">
                                        <span class="select-label" id="select_label">
                                            {{Input_Model.DISPLAY_TEXT_CURRENCY}}
                                        </span>
                                    </a>
                                    <ul ID="divNewNotifications" class="dropdown-menu w-100">
                                        <li ng-repeat="currency in CURRENCY_LIST" ng-click="CURRENCY_Fn(currency)">
                                            {{currency.Value}}
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="mb-3">
                            <div class="input-group input-group-sm" id="week-picker-copy-wrapper">
                                <div class="input-group-prepend" ng-if="BTN_HIDE_WEEK_PICKER==1">
                                    <button type="button" click-once class="btn btn-light week-prev px-2"><i class="fas fa-arrow-left"></i></button>
                                </div>
                                <input type="text" class="form-control week-picker-copy" readonly placeholder="Select a Week" />
                                <div class="input-group-append" ng-if="BTN_HIDE_WEEK_PICKER==1">
                                    <button type="button" click-once class="btn btn-light week-next px-2">
                                        <i class="fas fa-arrow-right"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-center">
                <button class="btn btn-light" type="button" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>