<form id="AbTypeForm" name="AbTypeForm" novalidate>
    <div class="card-header">
        <div class="row">
            <!--<div class="col-md-4">
        <div class="form-group">
            <label>Customer:*</label>
            <select class="custom-select"
                    name="CUSTOMER_ID"
                    ng-model="AbsenceTypeSearch.CUSTOMER_ID"
                    ng-options="CT.CUSTOMER_ID as CT.CUSTOMER_NAME for CT in CUSTOMER_LIST"
                    required
                    ng-change="GET_ENTITY_LIST()"
                    ng-class="{'error':AbTypeForm.submitted && AbTypeForm.CUSTOMER_ID.$error.required}">
                <option value="">- Please Select Customer-</option>
            </select>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label>Entity:*</label>
            <select class="custom-select"
                    name="ENTITY_ID"
                    ng-model="AbsenceTypeSearch.ENTITY_ID"
                    ng-options="EL.ENTITY_ID as EL.ENTITY_NAME for EL in ENTITY_LIST"
                    required
                    ng-change="ADMIN_GET_EMPLOYEE_CATEGORY()"
                    ng-class="{'error':AbTypeForm.submitted && AbTypeForm.ENTITY_ID.$error.required}">
                <option value="">- Please Select Entity-</option>
            </select>
        </div>
    </div>-->
            <div class="col-md-4">
                <div class="form-group">
                    <label>
                        Absence Type:*
                    </label>
                    <input type="text"
                           class="form-control"
                           maxlength="250"
                           name="ABSENCE_TYPE_NAME"
                           ng-model="AbsenceTypeSearch.ABSENCE_TYPE_NAME"
                           placeholder="Enter ..."
                           required
                           ng-class="{'error':AbTypeForm.submitted && AbTypeForm.ABSENCE_TYPE_NAME.$error.required}">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>
                        Absence Code:*
                    </label>
                    <input type="text"
                           class="form-control"
                           maxlength="250"
                           name="ABSENCE_CODE"
                           ng-model="AbsenceTypeSearch.ABSENCE_CODE"
                           placeholder="Enter ..."
                           required
                           ng-class="{'error':AbTypeForm.submitted && AbTypeForm.ABSENCE_CODE.$error.required}">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group" ng-init="$parent.ColorPicker()">
                    <label>
                        Absence Color Code:*
                    </label>
                    <input type="text"
                           class="form-control pick-a-color"
                           maxlength="250"
                           autocomplete="off"
                           name="ABSENCE_COLOR_CODE"
                           ng-model="AbsenceTypeSearch.ABSENCE_COLOR_CODE"
                           id="ABS_COLOR"
                           value="">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>
                        Absence Description:
                    </label>
                    <textarea type="text"
                              class="form-control"
                              maxlength="250"
                              name="ABSENCE_DESCRIPTION"
                              ng-model="AbsenceTypeSearch.ABSENCE_DESCRIPTION"
                              placeholder="Enter ..."
                              ng-class="{'error':AbTypeForm.submitted && AbTypeForm.ABSENCE_DESCRIPTION.$error.required}">
                    </textarea>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label class="d-block">&nbsp;</label>
                    <div class="custom-control custom-checkbox">
                        <input class="custom-control-input" type="checkbox" id="Manager"
                               ng-model="AbsenceTypeSearch.MANAGER"
                               ng-checked="AbsenceTypeSearch.MANAGER">
                        <label for="Manager" class="custom-control-label">Manager</label>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label class="d-block">&nbsp;</label>
                    <div class="custom-control custom-checkbox">
                        <input class="custom-control-input" type="checkbox" id="Employee"
                               ng-model="AbsenceTypeSearch.EMPLOYEE"
                               ng-checked="AbsenceTypeSearch.EMPLOYEE">
                        <label for="Employee" class="custom-control-label">Employee</label>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label class="d-block">&nbsp;</label>
                    <div class="custom-control custom-checkbox">
                        <input class="custom-control-input" type="checkbox" id="Entitlement_required"
                               ng-model="AbsenceTypeSearch.ENTITLEMENT_REQUIRED"
                               ng-checked="AbsenceTypeSearch.ENTITLEMENT_REQUIRED">
                        <label for="Entitlement_required" class="custom-control-label">Entitlement Required</label>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="custom-control custom-radio">
                                <input class="custom-control-input" type="radio" id="AbsenceTypeSearch.ACTIVE" name="grp"
                                       ng-model="AbsenceTypeSearch.ACTIVE"
                                       ng-value="1">
                                <label for="AbsenceTypeSearch.ACTIVE" class="custom-control-label justify-content-left">Active</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="custom-control custom-radio">
                                <input class="custom-control-input" type="radio" id="AbsenceTypeSearch.InActive" name="grp"
                                       ng-model="AbsenceTypeSearch.ACTIVE"
                                       ng-value="0">
                                <label for="AbsenceTypeSearch.InActive" class="custom-control-label justify-content-left">In-Active</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="custom-control custom-radio">
                                <input class="custom-control-input" type="radio" id="AbsenceTypeSearch.All" name="grp"
                                       ng-value="-1"
                                       ng-model="AbsenceTypeSearch.ACTIVE" />
                                <label for="AbsenceTypeSearch.All" class="custom-control-label justify-content-left">ALL</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div data-ng-show="AbTypeForm.submitted && AbTypeForm.$invalid" class="form-group has-error errormessage badge badge-light-red w-100 p-3">
                    <span class="help-block errormessageline"><i class="fa fa-exclamation-triangle"></i> - Please provide the mandatory details to submit(marked in red).</span>
                </div>
                <div id="divInvlidUser" class="hideshowdiv" data-ng-show="AbTypeForm.$valid">
                    <span class="help-block">{{InvalidUser}}</span>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <button ng-click="ADMIN_INS_UPD_ABSENCE_TYPE()" class="btn btn-wenodo">Save</button>

                    <button ng-click="ADMIN_GET_ABSENCE_TYPE(1)" class="btn btn-w-default">Search</button>
                    <button ng-click="RESET_ABTYPE()" class="btn btn-w-default">Reset</button>
                </div>
            </div>
        </div>
    </div>
</form>
<div class="card-body">
    <div class="text-center" ng-show="ABSENCE_TYPE_LIST.length==0" empty-grid>
    </div>
    <div class="table-responsive custom-scrollbar height-auto" ng-show="ABSENCE_TYPE_LIST.length>0">
        <table class="table table-striped">
            <thead class="bg-wenodo-dark-blue">
                <tr>
                    <th class="text-nowrap">Absence Type</th>
                    <th class="text-nowrap">Absence Code</th>
                    <th class="text-nowrap">Absence Description</th>
                    <th class="text-nowrap">Absence Color</th>
                    <th class="text-nowrap">Manager</th>
                    <th class="text-nowrap">Employee</th>
                    <th class="text-nowrap">Entitlement Required</th>
                    <th class="text-nowrap">Creation Date</th>
                    <th>Status</th>
                    <th width="5%"></th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <td colspan="8" align="center" ng-show="GetData">
                        <a class="btn btn-secondary text-white" ng-click="LAZY_ADMIN_GET_ABSENCE_TYPE();">{{VIEWMORERECORD}}</a>
                    </td>
                </tr>
            </tfoot>
            <tbody ng-repeat="LL in ABSENCE_TYPE_LIST" on-finish-render="ngRepeatFinished">
                <tr>
                    <td>{{LL.ABSENCE_TYPE_NAME}}</td>
                    <td>{{LL.ABSENCE_CODE}}</td>
                    <td>{{LL.ABSENCE_DESCRIPTION}}</td>
                    <td><span class="event-dots" style="background-color:#{{LL.ABSENCE_COLOR_CODE}}"></span></td>
                    <td>{{LL.MANAGER ==true ?'Yes':'No'}}</td>
                    <td>{{LL.EMP ==true ?'Yes':'No'}}</td>
                    <td>{{LL.ENTITLEMENT_REQUIRED ==true ?'Yes':'No'}}</td>
                    <td>{{LL.CREATED_DATE | date}}</td>
                    <td>{{LL.ACTIVE?'Active':'Inactive'}}</td>
                    <td>
                        <a ng-click="EDIT_INS_UPD_ABSENCE_TYPE(LL)" data-toggle="tooltip" data-html="true" data-original-title="Edit"><i class="fad fa-edit fa-lg text-green"></i></a>
                        <!--<a ng-click="DELETE_INS_UPD_ABSENCE_TYPE(LL)"><i class="fal fa-trash-alt fa-lg text-danger"></i></a>-->
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>