<form id="AssetForm" name="AssetForm" novalidate>
    <div class="card-header">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>Customer:*</label>
                    <select class="custom-select"
                            name="CUSTOMER_ID"
                            ng-model="AssetTypeSearch.CUSTOMER_ID"
                            ng-options="CT.CUSTOMER_ID as CT.CUSTOMER_NAME for CT in CUSTOMER_LIST"
                            required
                            ng-class="{'error':AssetForm.submitted && AssetForm.CUSTOMER_ID.$error.required}">
                        <option value="">- Please Select Customer-</option>
                    </select>
                </div>
            </div>
            <!--<div class="col-md-4">
        <div class="form-group">
            <label>Entity:*</label>
            <select class="custom-select"
                    name="ENTITY_ID"
                    ng-model="AssetTypeSearch.ENTITY_ID"
                    ng-options="EL.ENTITY_ID as EL.ENTITY_NAME for EL in ENTITY_LIST"
                    required
                    ng-change="ADMIN_GET_EMPLOYEE_CATEGORY()"
                    ng-class="{'error':AssetForm.submitted && AssetForm.ENTITY_ID.$error.required}">
                <option value="">- Please Select Entity-</option>
            </select>
        </div>
    </div>-->
            <div class="col-md-4">
                <div class="form-group">
                    <label>Asset Type:*</label>
                    <input type="text"
                           class="form-control"
                           maxlength="250"
                           name="ASSET_TYPE_NAME"
                           ng-model="AssetTypeSearch.ASSET_TYPE_NAME"
                           placeholder="Enter ..."
                           required
                           ng-class="{'error':AssetForm.submitted && AssetForm.ASSET_TYPE_NAME.$error.required}">
                </div>
            </div>
            <div class="col-md-4">
                <label class="d-block">&nbsp;</label>
                <div class="form-inline mb-2">
                    <div class="col-md-4">
                        <div class="custom-control custom-radio">
                            <input class="custom-control-input" type="radio" id="AssetTypeSearch.ACTIVE" name="grp"
                                   ng-model="AssetTypeSearch.ACTIVE"
                                   ng-value="1">
                            <label for="AssetTypeSearch.ACTIVE" class="custom-control-label justify-content-left">Active</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="custom-control custom-radio">
                            <input class="custom-control-input" type="radio" id="AssetTypeSearch.InActive" name="grp"
                                   ng-model="AssetTypeSearch.ACTIVE"
                                   ng-value="0">
                            <label for="AssetTypeSearch.InActive" class="custom-control-label justify-content-left">In-Active</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="custom-control custom-radio">
                            <input class="custom-control-input" type="radio" id="AssetTypeSearch.All" name="grp"
                                   ng-value="-1"
                                   ng-model="AssetTypeSearch.ACTIVE" />
                            <label for="AssetTypeSearch.All" class="custom-control-label justify-content-left">ALL</label>
                        </div>
                    </div>
                </div>
            </div>
            <!--<div class="col-md-4">
                <div class="form-group">
                    <label class="d-block">&nbsp;</label>
                    <div class="custom-control custom-checkbox">
                        <input class="custom-control-input" type="checkbox" id="Absence"
                               ng-model="AssetTypeSearch.ACTIVE"
                               ng-checked="AssetTypeSearch.ACTIVE">
                        <label for="Absence" class="custom-control-label">Active</label>
                    </div>
                </div>
            </div>-->
            <div class="col-md-12">
                <div data-ng-show="AssetForm.submitted && AssetForm.$invalid" class="form-group has-error errormessage badge badge-light-red w-100 p-3">
                    <span class="help-block errormessageline"><i class="fa fa-exclamation-triangle"></i> - Please provide the mandatory details to submit(marked in red).</span>
                </div>
                <div id="divInvlidUser" class="hideshowdiv" data-ng-show="AssetForm.$valid">
                    <span class="help-block">{{InvalidUser}}</span>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <button ng-click="ADMIN_INS_UPD_ASSET_TYPES()" class="btn btn-wenodo">Save</button>
                    <button ng-click="ADMIN_GET_ASSET_TYPES(1);" class="btn btn-w-default">Search</button>
                    <button ng-click="RESET_ASSETTYPE();" class="btn btn-w-default">Reset</button>
                </div>
            </div>
        </div>
    </div>
</form>
<div class="card-body">
    <div class="text-center" ng-show="ASSET_TYPE_LIST.length==0" empty-grid>
    </div>
    <div class="table-responsive custom-scrollbar height-auto" ng-show="ASSET_TYPE_LIST.length>0">
        <table class="table table-striped">
            <thead class="bg-wenodo-dark-blue">
                <tr>
                    <th class="text-nowrap">Customer Name</th>
                    <!--<th>Entity Name</th>-->
                    <th class="text-nowrap">Asset Type</th>
                    <th class="text-nowrap">Creation Date</th>
                    <th>Status</th>
                    <th width="5%"></th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <td colspan="8" align="center" ng-show="GetData">
                        <a class="btn btn-secondary text-white" ng-click="LAZY_ADMIN_GET_ASSET_TYPES();">{{VIEWMORERECORD}}</a>
                    </td>
                </tr>
            </tfoot>
            <tbody ng-repeat="LL in ASSET_TYPE_LIST" on-finish-render="ngRepeatFinished">
                <tr>
                    <td>{{LL.CUSTOMER_NAME}}</td>
                    <!--<td>{{LL.ENTITY_NAME}}</td>-->
                    <td>{{LL.ASSET_TYPE_NAME}}</td>
                    <td>{{LL.CREATED_DATE | date}}</td>
                    <td>{{LL.ACTIVE?'Active':'Inactive'}}</td>
                    <td>
                        <a ng-click="EDIT_INS_UPD_ASSET_TYPES(LL)" data-toggle="tooltip" data-html="true" data-original-title="Edit"><i class="fad fa-edit fa-lg text-green"></i></a>
                        <!--<a ng-click="DELETE_INS_UPD_ABSENCE_TYPE(LL)"><i class="fal fa-trash-alt fa-lg text-danger"></i></a>-->
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
