<form id="HolidayForm" name="HolidayForm" novalidate>
    <div class="card-header">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>Customer:*</label>
                    <select class="custom-select"
                            name="CUSTOMER_ID"
                            ng-model="HolidayEntitlementSearch.CUSTOMER_ID"
                            ng-options="CT.CUSTOMER_ID as CT.CUSTOMER_NAME for CT in CUSTOMER_LIST"
                            required
                            ng-change="GET_ENTITY_LIST()"
                            ng-disabled="EDIT_FLAG"
                            ng-class="{'error':HolidayForm.submitted && HolidayForm.ENTITY_ID.$error.required}">
                        <option value="">-Select Customer-</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Entity:*</label>
                    <select class="custom-select"
                            name="ENTITY_ID"
                            ng-model="HolidayEntitlementSearch.ENTITY_ID"
                            ng-options="EL.ENTITY_ID as EL.ENTITY_NAME for EL in ENTITY_LIST"
                            required
                            ng-change=""
                            ng-disabled="EDIT_FLAG"
                            ng-class="{'error':HolidayForm.submitted && HolidayForm.ENTITY_ID.$error.required}">
                        <option value="">-Select Entity-</option>
                    </select>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label>Absense Type:*</label>
                    <select class="custom-select"
                            name="ABSENCE_TYPE_ID"
                            ng-model="HolidayEntitlementSearch.ABSENCE_TYPE_ID"
                            ng-options="EL.ABSENCE_TYPE_ID as EL.ABSENCE_TYPE_NAME for EL in ABSENCE_TYPE_LIST"
                            ng-disabled="EDIT_FLAG"
                            required
                            ng-change=""
                            ng-class="{'error':HolidayForm.submitted && HolidayForm.ABSENCE_TYPE_ID.$error.required}">
                        <option value="">-Select Absense Type-</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Entitlement Unit:*</label>
                    <select class="custom-select"
                            name="ENTITILEMENT_UNIT"
                            ng-model="HolidayEntitlementSearch.ENTITILEMENT_UNIT"
                            ng-options="EL.ENTITLEMENT_ID as EL.ENTITLEMENT_NAME for EL in ENTITLEMENT_LIST"
                            required
                            ng-class="{'error':HolidayForm.submitted && HolidayForm.ENTITILEMENT_UNIT.$error.required}">
                        <option value="">-Select Entitlement Unit-</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Default Entitlement Value:*</label>
                    <input type="text"
                           class="form-control"
                           maxlength="250"
                           name="ENTITLEMENT_VALUE"
                           ng-model="HolidayEntitlementSearch.ENTITLEMENT_VALUE"
                           placeholder="Enter ..."
                           required
                           Only-digits
                           ng-class="{'error':HolidayForm.submitted && HolidayForm.ENTITLEMENT_VALUE.$error.required}" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Start Year:*</label>
                            <select class="custom-select"
                                    name="YEAR_START_DAY"
                                    ng-model="HolidayEntitlementSearch.YEAR_START_DAY"
                                    
                                    required
                                    ng-class="{'error':HolidayForm.submitted && HolidayForm.YEAR_START_DAY.$error.required}">
                                <option value="">- Select Date -</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                                <option value="18">18</option>
                                <option value="19">19</option>
                                <option value="20">20</option>
                                <option value="21">21</option>
                                <option value="22">22</option>
                                <option value="23">23</option>
                                <option value="24">24</option>
                                <option value="25">25</option>
                                <option value="26">26</option>
                                <option value="27">27</option>
                                <option value="28">28</option>
                                <option value="29">29</option>
                                <option value="30">30</option>
                                <option value="31">31</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="d-block">&nbsp;</label>
                        <select class="custom-select"
                                name="YEAR_START_MONTH"
                                ng-model="HolidayEntitlementSearch.YEAR_START_MONTH"
                                required
                                
                                ng-class="{'error':HolidayForm.submitted && HolidayForm.YEAR_START_MONTH.$error.required}">
                            <option value="">- Select Month -</option>
                            <option value="1">January</option>
                            <option value="2">February</option>
                            <option value="3">March</option>
                            <option value="4">April</option>
                            <option value="5">May</option>
                            <option value="6">June</option>
                            <option value="7">July</option>
                            <option value="8">August</option>
                            <option value="9">September</option>
                            <option value="10">October</option>
                            <option value="11">November</option>
                            <option value="12">December</option>

                        </select>
                    </div>

                    <div class="col-md-4">
                        <label class="d-block">&nbsp;</label>
                        <select class="custom-select"
                                name="START_YEAR"
                                ng-model="HolidayEntitlementSearch.START_YEAR"
                                ng-options="EYL.YEAR as EYL.YEAR for EYL in LEAVE_ENT_YEAR_LIST"
                                required
                                ng-class="{'error':HolidayForm.submitted && HolidayForm.START_YEAR.$error.required}">
                            <option value="">-Select Year-</option>
                        </select>
                    </div>
                </div>

            </div>
            <!--<div class="col-md-4">
                <div class="form-group">
                    <label>Calculation Method:<span ng-if="HolidayEntitlementSearch.ENTITLEMENT_REQUIRED==true">*</span></label>
                    <select class="custom-select"
                            name="CALCULATION_METHOD_ID"
                            ng-model="HolidayEntitlementSearch.CALCULATION_METHOD_ID"
                            ng-options="CL.CALCULATION_ID as CL.CALCULATION_NAME for CL in CALCULATION_LIST"
                            ng-required="HolidayEntitlementSearch.ENTITLEMENT_REQUIRED==true"
                            ng-disabled="HolidayEntitlementSearch.ENTITLEMENT_REQUIRED==false || HolidayEntitlementSearch.ENTITLEMENT_REQUIRED==-1"
                            ng-class="{'error':HolidayForm.submitted && HolidayForm.CALCULATION_METHOD_ID.$error.required}">
                        <option value="">-Select Entitlement Calculation-</option>
                    </select>
                </div>
            </div>-->
            <div class="col-md-4">
                <div class="form-group"  ng-if="HolidayEntitlementSearch.ENTITLEMENT_REQUIRED==true">
                    <label>Accrual Method:<span ng-if="HolidayEntitlementSearch.ENTITLEMENT_REQUIRED==true">*</span></label>
                    <select class="custom-select"
                            name="ACCRUAL_METHOD"
                            ng-model="HolidayEntitlementSearch.ACCRUAL_METHOD"
                            ng-options="CL.ACCRUAL_METHOD_ID as CL.ACCRUAL_METHOD_NAME for CL in ACCRUAL_METHOD_LIST"
                            ng-required="HolidayEntitlementSearch.ENTITLEMENT_REQUIRED==true"
                            
                            ng-class="{'error':HolidayForm.submitted && HolidayForm.ACCRUAL_METHOD.$error.required}">
                        <option value="">-Accrual Method-</option>
                    </select>
                </div>
            </div>
            <!--<div class="row">-->

            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-6">
                                <label class="d-block">&nbsp;</label>
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" type="checkbox" id="ENTITLEMENT_REQUIRED"
                                           ng-model="HolidayEntitlementSearch.ENTITLEMENT_REQUIRED">
                                    <label for="ENTITLEMENT_REQUIRED" class="custom-control-label">Entitlement Required</label>
                                </div>
                            </div>
                            <!--<div class="col-md-6">
                                <label class="d-block">&nbsp;</label>
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" type="checkbox" id="CARRY_OVER"
                                           ng-model="HolidayEntitlementSearch.CARRY_OVER">
                                    <label for="CARRY_OVER" class="custom-control-label">Carry Over</label>
                                </div>

                                <div class="form-group" ng-show="HolidayEntitlementSearch.CARRY_OVER">
                                    <label>Max carry forward:*</label>
                                    <input type="text"
                                           class="form-control"
                                           maxlength="250"
                                           name="ENTITLEMENT_VALUE"
                                           ng-model="HolidayEntitlementSearch.MAX_ALLOWED_CARRY_OVER"
                                           placeholder="Enter ..."
                                           ng-required="HolidayEntitlementSearch.CARRY_OVER"
                                           Only-digits
                                           ng-class="{'error':HolidayForm.submitted && HolidayForm.ENTITLEMENT_VALUE.$error.required}" />
                                </div>

                            </div>-->
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-4">
                                <label class="d-block">&nbsp;</label>
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" type="checkbox" id="MANAGER"
                                           ng-model="HolidayEntitlementSearch.MANAGER">
                                    <label for="MANAGER" class="custom-control-label">Manager</label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label class="d-block">&nbsp;</label>
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" type="checkbox" id="EMPLOYEE"
                                           ng-model="HolidayEntitlementSearch.EMPLOYEE">
                                    <label for="EMPLOYEE" class="custom-control-label">Employee</label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label class="d-block">&nbsp;</label>
                                <div class="custom-control custom-switch d-flex">
                                    <label class="mr-5">Unpaid</label>
                                    <input type="checkbox" ng-model="HolidayEntitlementSearch.IS_PAID" class="custom-control-input" id="IsPaid">
                                    <label class="custom-control-label" for="IsPaid">Paid</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="d-block">&nbsp;</label>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="custom-control custom-radio">
                                        <input class="custom-control-input" type="radio" id="HolidayEntitlementSearch.ACTIVE" name="grp"
                                               ng-model="HolidayEntitlementSearch.ACTIVE"
                                               ng-value="1">
                                        <label for="HolidayEntitlementSearch.ACTIVE" class="custom-control-label justify-content-left">Active</label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="custom-control custom-radio">
                                        <input class="custom-control-input" type="radio" id="HolidayEntitlementSearch.InActive" name="grp"
                                               ng-model="HolidayEntitlementSearch.ACTIVE"
                                               ng-value="0">
                                        <label for="HolidayEntitlementSearch.InActive" class="custom-control-label justify-content-left">In-Active</label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="custom-control custom-radio">
                                        <input class="custom-control-input" type="radio" id="HolidayEntitlementSearch.All" name="grp"
                                               ng-value="-1"
                                               ng-model="HolidayEntitlementSearch.ACTIVE" />
                                        <label for="HolidayEntitlementSearch.All" class="custom-control-label justify-content-left">ALL</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--</div>-->
            <!--<div class="col-md-12">
        <div class="form-group">
            <label class="d-block">&nbsp;</label>
            <div class="custom-control custom-checkbox">
                <input class="custom-control-input" type="checkbox" id="Holiday"
                       ng-model="HolidayEntitlementSearch.ACTIVE"
                       ng-checked="HolidayEntitlementSearch.ACTIVE">
                <label for="Holiday" class="custom-control-label">Active</label>
            </div>
        </div>
    </div>-->
            

            <div class="col-md-12">
                <div data-ng-show="HolidayForm.submitted && HolidayForm.$invalid" class="form-group has-error errormessage badge badge-light-red w-100 p-3">
                    <span class="help-block errormessageline"><i class="fa fa-exclamation-triangle"></i> - Please provide the mandatory details to submit(marked in red).</span>
                </div>
                <div id="divInvlidUser" class="hideshowdiv" data-ng-show="HolidayForm.$valid">
                    <span class="help-block"></span>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <button ng-click="ADMIN_INS_UPD_HOLIDAY_ENTITLEMENT_MASTER()" class="btn btn-wenodo">Save</button>
                    <button ng-click="ADMIN_GET_HOLIDAY_ENTITLEMENT_MASTER(1)" class="btn btn-w-default">Search</button>
                    <button ng-click="RESET_HOLIDAY_ENTITLEMENT()" class="btn btn-w-default">Reset</button>
                </div>
            </div>
        </div>
    </div>
</form>
<div class="card-body">
    <div class="text-center" ng-show="HOLIDAYENTITLEMENT_LIST.length==0" empty-grid>
    </div>
    <div class="table-responsive custom-scrollbar height-auto" ng-show="HOLIDAYENTITLEMENT_LIST.length>0">
        <table class="table table-striped">
            <thead class="bg-wenodo-dark-blue">
                <tr>
                    <th class="text-nowrap">Customer</th>
                    <th class="text-nowrap">Entity</th>
                    <th class="text-nowrap">Absence Type</th>

                    <th class="text-nowrap">Unit</th>
                    <th class="text-nowrap">Default Entitlement</th>
                    <th class="text-nowrap">Accrual Method</th>
                    <!--<th class="text-nowrap">Carry Over</th>-->
                    <th class="text-nowrap">Manager</th>
                    <th class="text-nowrap">Employee</th>
                    <th class="text-nowrap">Is Paid</th>
                    <th class="text-nowrap">Entitlement Required</th>
                    <th class="text-nowrap">Entitlement Start</th>
                    <th class="text-nowrap">Entitlement End</th>
                    <th class="text-nowrap">Creation Date</th>
                    <th>Status</th>
                    <th class="headcol-right-header"></th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <td colspan="10" align="center" ng-show="GetData">
                        <a class="btn btn-secondary text-white" ng-click="LAZY_ADMIN_GET_HOLIDAY_ENTITLEMENT_MASTER();">{{VIEWMORERECORD}}</a>
                    </td>
                </tr>
            </tfoot>
            <tbody ng-repeat="CL in HOLIDAYENTITLEMENT_LIST" on-finish-render="ngRepeatFinished">
                <tr>
                    <td>{{CL.CUSTOMER_NAME}}</td>
                    <td>{{CL.ENTITY_NAME}}</td>
                    <td>{{CL.ABSENCE_TYPE_NAME}}</td>

                    <td>{{CL.ENTITLEMENT_UNIT_NAME}}</td>
                    <td style="text-align:center">{{CL.DEFAULT_ENTITLEMENT_VALUE}}</td>
                    <td style="text-align:center">{{CL.ACCRUAL_METHOD_NAME}}</td>
                    <!--<td style="text-align:center">{{CL.CARRY_OVER?'Yes':'No'}}</td>-->
                    <td style="text-align:center">{{CL.MANAGER == true?'Yes':'No'}}</td>
                    <td style="text-align:center">{{CL.EMP == true?'Yes':'No'}}</td>
                    <td style="text-align:center">{{CL.IS_PAID == true?'Yes':'No'}}</td>
                    <td style="text-align:center">{{CL.ENTITLEMENT_REQUIRED == true?'Yes':'No'}}</td>
                    <td style="text-align:center">{{CL.YEAR_START_DATE | date}}</td>
                    <td style="text-align:center">{{CL.YEAR_END_DATE | date}}</td>
                    <td>{{CL.CREATED_DATE | date}}</td>
                    <td>{{CL.ACTIVE?'Active':'Inactive'}}</td>
                    <td class="headcol-right" style="min-width:75px">
                        <a ng-click="EDIT_INS_UPD_LEAVE_EN_MASTER(CL)" data-toggle="tooltip" data-html="true" data-original-title="Edit"><i class="fad fa-edit fa-lg text-green"></i></a>
                        <!--<a ng-click="DELETE_INS_UPD_WORK_PERMIT_TYPE(WPT)"><i class="fal fa-trash-alt fa-lg text-danger"></i></a>-->
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


