<form id="CustomFieldForm" name="CustomFieldForm" novalidate>
    <div class="app-suit mt-5">
        <div class="at-grid" data-column="8">
            <div class="at-column app-suit-inside cursor-pointer" ng-repeat="CUSTOMFLD in CUSTOM_APP_LIST" ng-click="REDIRECT_TO(CUSTOMFLD);">
                <div class="at-user">
                    <div class="at-user__avatar app-text"><i class="fad {{CUSTOMFLD.ICON_NAME}} fa-2x"></i></div>
                    <div class="at-user__name app-text">
                        <span>{{CUSTOMFLD.DISPLAY_NAME}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
