<form id="PaidByEntForm" name="PaidByEntForm" novalidate>
    <div class="card-header">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>Customer:*</label>
                    <select class="custom-select"
                            name="CUSTOMER_ID"
                            ng-model="PaidByEntiSearch.CUSTOMER_ID"
                            ng-options="CT.CUSTOMER_ID as CT.CUSTOMER_NAME for CT in CUSTOMER_LIST"
                            required
                            ng-change="GET_ENTITY_LIST()"
                            ng-class="{'error':PaidByEntForm.submitted && PaidByEntForm.CUSTOMER_ID.$error.required}">
                        <option value="">- Please Select Customer-</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Entity:*</label>
                    <select class="custom-select"
                            name="ENTITY_ID"
                            ng-model="PaidByEntiSearch.ENTITY_ID"
                            ng-options="EL.ENTITY_ID as EL.ENTITY_NAME for EL in ENTITY_LIST"
                            required
                            ng-change="ADMIN_GET_PAID_BY_ENTITY_MAPPING()"
                            ng-class="{'error':PaidByEntForm.submitted && PaidByEntForm.ENTITY_ID.$error.required}">
                        <option value="">- Please Select Entity-</option>
                    </select>
                </div>
            </div>

            <div class="col-md-4">
                <!--<div class="form-group">
                    <label>&nbsp;</label>
                    <div class="custom-control custom-checkbox">
                        <input class="custom-control-input" type="checkbox" id="PayEntiFre"
                               ng-model="PaidByEntiSearch.ACTIVE">
                        <label for="PayEntiFre" class="custom-control-label">Active</label>
                    </div>
                </div>-->
            </div>
        </div>
    </div>

    <div class="card-body" ng-show="PAID_BY_ENTITY_MAPPING_LIST.length>0 && PaidByEntiSearch.CUSTOMER_ID!=''">
            <div class="row">
                <div class="col-md-4 p-1" ng-repeat="PAY in PAID_BY_ENTITY_MAPPING_LIST" ng-init="InitializeCode(PAY);">
                    <div class="form-group mb-0 border">
                        <div class="custom-control custom-checkbox">
                            <input class="custom-control-input" type="checkbox" id="PAY{{$index}}"
                                   ng-model="PAY.ACTIVE">
                            <label for="PAY{{$index}}" class="custom-control-label">{{PAY.PAID_BY_NAME}}</label>
                        </div>
                    </div>
                </div>
            </div>

        <!--<div class="table-responsive custom-scrollbar height-auto" ng-show="PAID_BY_ENTITY_MAPPING_LIST.length>0 && PaidByEntiSearch.CUSTOMER_ID!=''">
        <table class="table table-striped">
            <thead class="bg-wenodo-dark-blue">
                <tr>
                    <th>Pay Code</th>
                </tr>
            </thead>
            <tbody ng-repeat="PAY in PAID_BY_ENTITY_MAPPING_LIST" ng-init="InitializeCode(PAY);">
                <tr>
                    <td>
                        <div class="custom-control custom-checkbox">
                            <input class="custom-control-input" type="checkbox" id="PAY{{$index}}"
                                   ng-model="PAY.ACTIVE">
                            <label for="PAY{{$index}}" class="custom-control-label">{{PAY.PAID_BY_NAME}}</label>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>-->

        <div class="col-md-12 error text-center" ng-show="ENTITY_LIST.length==0 && PaidByEntiSearch.CUSTOMER_ID!='' && loadFLAG==1">
            There are no role to asign a user,<a href="#!/Adrl">  Please click here to create a role.<i class="fa fa-plus"></i> </a>
        </div>
        
        <div class="col-md-12 mt-2 px-0">
            <div class="form-group">
                <button type="button" ng-click="ADMIN_INS_UPD_PAID_BY_ENTITY_MAPPING()" class="btn btn-wenodo">Save</button>
                <button type="button" ng-click="RESET_CODE()" class="btn btn-w-default">Reset</button>
            </div>
        </div>
    </div>
</form>