<form id="PBForm" name="PBForm" novalidate>
    <div class="card-header">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>Customer:*</label>
                    <select class="custom-select"
                            name="CUSTOMER_ID"
                            ng-model="ProbationSearch.CUSTOMER_ID"
                            ng-options="CT.CUSTOMER_ID as CT.CUSTOMER_NAME for CT in CUSTOMER_LIST"
                            required
                            ng-class="{'error':PBForm.submitted && PBForm.CUSTOMER_ID.$error.required}">
                        <option value="">-Select Customer-</option>
                    </select>
                </div>
            </div>

            <!--<div class="col-md-4">
        <div class="form-group">
            <label>Entity:*</label>
            <select class="custom-select"
                    name="ENTITY_ID"
                    ng-model="ProbationSearch.ENTITY_ID"
                    ng-options="EL.ENTITY_ID as EL.ENTITY_NAME for EL in ENTITY_LIST"
                    required
                    ng-change="ADMIN_GET_EMPLOYEE_CATEGORY()"
                    ng-class="{'error':PBForm.submitted && PBForm.ENTITY_ID.$error.required}">
                <option value="">-Select Entity-</option>
            </select>
        </div>
    </div>-->
            <div class="col-md-4">
                <div class="form-group">
                    <label>
                        Probation Period Name:*
                    </label>
                    <input type="text"
                           class="form-control"
                           maxlength="250"
                           name="PROBATION_NAME"
                           ng-model="ProbationSearch.PROBATION_NAME"
                           placeholder="Enter ..."
                           required
                           ng-class="{'error':PBForm.submitted && PBForm.PROBATION_NAME.$error.required}">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>
                        Probation Period<small>(Days)</small>*
                    </label>
                    <input type="text"
                           class="form-control"
                           maxlength="250"
                           name="NO_OF_DAYS"
                           ng-model="ProbationSearch.NO_OF_DAYS"
                           placeholder="Enter ..."
                           only-numbers
                           required
                           ng-class="{'error':PBForm.submitted && PBForm.NO_OF_DAYS.$error.required}">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-inline mb-3">
                    <div class="col-md-4">
                        <div class="custom-control custom-radio">
                            <input class="custom-control-input" type="radio" id="ProbationSearch.All" name="Active"
                                   ng-value="-1"
                                   ng-model="ProbationSearch.ACTIVE" />
                            <label for="ProbationSearch.All" class="custom-control-label justify-content-left">ALL</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="custom-control custom-radio">
                            <input class="custom-control-input" type="radio" id="ProbationSearch.ACTIVE" name="Active"
                                   ng-model="ProbationSearch.ACTIVE"
                                   ng-value="1">
                            <label for="ProbationSearch.ACTIVE" class="custom-control-label justify-content-left">Active</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="custom-control custom-radio">
                            <input class="custom-control-input" type="radio" id="ProbationSearch.InActive" name="Active"
                                   ng-model="ProbationSearch.ACTIVE"
                                   ng-value="0">
                            <label for="ProbationSearch.InActive" class="custom-control-label justify-content-left">In-Active</label>
                        </div>
                    </div>

                </div>
            </div>
           
            <div class="col-md-12">
                <div data-ng-show="PBForm.submitted && PBForm.$invalid" class="form-group has-error errormessage badge badge-light-red w-100 p-3">
                    <span class="help-block errormessageline"><i class="fa fa-exclamation-triangle"></i> -  provide the mandatory details to submit(marked in red).</span>
                </div>
                <div id="divInvlidUser" class="hideshowdiv" data-ng-show="PBForm.$valid">
                    <span class="help-block">{{InvalidUser}}</span>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <button ng-click="INS_UPD_HR_PROBATION_MASTER();" class="btn btn-wenodo">Save</button>
                    <button ng-click="ADMIN_GET_PROBATION_MASTER(1);" class="btn btn-w-default">Search</button>
                    <button ng-click="RESET_PB();" class="btn btn-w-default">Reset</button>
                </div>
            </div>
        </div>
    </div>
</form>
<div class="card-body">
    <div class="text-center" ng-show="PROBATION_LIST.length==0" empty-grid>
    </div>
    <div class="table-responsive custom-scrollbar height-auto" ng-show="PROBATION_LIST.length>0">
        <table class="table table-striped">
            <thead class="bg-wenodo-dark-blue">
                <tr>
                    <th class="text-nowrap">Customer Name</th>
                    <!--<th>Entity Name</th>-->
                    <th class="text-nowrap">Probation Period Name</th>
                    <th class="text-nowrap">Probation Period</th>
                    <th class="text-nowrap">Creation Date</th>
                    <th>Status</th>
                    <th width="3%"></th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <td colspan="8" align="center" ng-show="GetData">
                        <a class="btn btn-secondary text-white" ng-click="LAZY_ADMIN_GET_PROBATION_MASTER();">{{VIEWMORERECORD}}</a>
                    </td>
                </tr>
            </tfoot>
            <tbody ng-repeat="LL in PROBATION_LIST" on-finish-render="ngRepeatFinished">
                <tr>
                    <td>{{LL.CUSTOMER_NAME}}</td>
                    <!--<td>{{LL.ENTITY_NAME}}</td>-->
                    <td>{{LL.PROBATION_NAME}}</td>
                    <td>{{LL.NO_OF_DAYS}}</td>
                    <td>{{LL.CREATED_DATE | date}}</td>
                    <td>{{LL.ACTIVE?'Active':'Inactive'}}</td>
                    <td>
                        <a ng-click="EDIT_INS_UPD_PROBATION(LL)" data-toggle="tooltip" data-html="true" data-original-title="Edit"><i class="fad fa-edit fa-lg text-green"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
