<form id="NoShowForm" name="NoShowForm" novalidate>
    <div class="card-header">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>Entity:*</label>
                    <select class="custom-select"
                            name="ENTITY_ID"
                            ng-model="NoShowSearch.ENTITY_ID"
                            ng-options="EL.ENTITY_ID as EL.ENTITY_NAME for EL in ENTITY_LIST"
                            required
                            ng-disabled="NoShowSearch.ENTITY_DISABLE"
                            ng-class="{'error':NoShowForm.submitted && NoShowForm.ENTITY_ID.$error.required}">
                        <option value="">- Please Select Entity-</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>No show Code(Max. 250 characters):*</label>
                    <input type="text" class="form-control"
                           maxlength="250"
                           name="NO_SHOW_CODE"
                           ng-model="NoShowSearch.NO_SHOW_CODE"
                           placeholder="Enter ..."
                           required
                           ng-class="{'error':NoShowForm.submitted && NoShowForm.NO_SHOW_CODE.$error.required}" />
                    <span class="font-12">{{250 - NoShowSearch.NO_SHOW_CODE.length}} char left</span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>No Show Description(Max. 500 characters):</label>
                    <textarea class="form-control"
                              maxlength="500"
                              name="DESCRIPTION"
                              rows="3"
                              ng-model="NoShowSearch.NO_SHOW_DESCRIPTION"
                              placeholder="Enter ..."
                              ng-class="{'error':NoShowForm.submitted && NoShowForm.DESCRIPTION.$error.required}" />
                    <span class="font-12">{{500 - NoShowSearch.NO_SHOW_DESCRIPTION.length}} char left</span>
                </div>
            </div>
            <div class="col-md-4">
                
                <div class="form-inline">
                    <div class="col-md-4">
                        <div class="custom-control custom-radio">
                            <input class="custom-control-input" type="radio" id="NoShowSearch.ACTIVE" name="ccradio"
                                   ng-model="NoShowSearch.ACTIVE"
                                   ng-value="1">
                            <label for="NoShowSearch.ACTIVE" class="custom-control-label justify-content-left">Active</label>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="custom-control custom-radio">
                            <input class="custom-control-input" type="radio" id="NoShowSearch.InActive" name="ccradio"
                                   ng-value="0"
                                   ng-model="NoShowSearch.ACTIVE">
                            <label for="NoShowSearch.InActive" class="custom-control-label justify-content-left">In-Active</label>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="custom-control custom-radio">
                            <input class="custom-control-input" type="radio" id="NoShowSearch.All" name="ccradio"
                                   ng-value="-1"
                                   ng-model="NoShowSearch.ACTIVE" />
                            <label for="NoShowSearch.All" class="custom-control-label justify-content-left">ALL</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div data-ng-show="NICatagoryForm.submitted && NICatagoryForm.$invalid" class="form-group has-error errormessage badge badge-light-red w-100 p-3">
                    <span class="help-block errormessageline"><i class="fa fa-exclamation-triangle"></i> - Please provide the mandatory details to submit(marked in red).</span>
                </div>
                <div id="divInvlidUser" class="hideshowdiv" data-ng-show="CostCenterForm.$valid">
                    <span class="help-block">{{InvalidUser}}</span>
                </div>
            </div>
            <div class="col-md-12 mt-3">
                <div class="form-group">
                    <button ng-click="ADMIN_INS_UPD_NO_SHOW_REASONS();" class="btn btn-wenodo">Save</button>
                    <button ng-click="ADMIN_GET_NO_SHOW_REASONS(1);" class="btn btn-w-default">Search</button>
                    <button ng-click="ResetNoShow();" class="btn btn-w-default">Reset</button>
                </div>
            </div>
        </div>
    </div>


    <div class="card-body">
       
        <div class="table-responsive custom-scrollbar height-auto" ng-show="NO_SHOW_REASON_LIST.length>0">
            <table class="table table-striped">
                <thead class="bg-wenodo-dark-blue">
                    <tr>
                        <th>SN</th>
                        <th class="text-nowrap">Entity Name</th>
                        <th class="text-nowrap">Code</th>
                        <th class="text-nowrap">Description</th>
                        <th class="text-nowrap">Creation Date</th>
                        <th>Status</th>
                        <th width="3%"></th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <td colspan="8" align="center" ng-show="GetData">
                            <a class="btn btn-secondary text-white" ng-click="LAZY_ADMIN_GET_NO_SHOW_REASONS();">{{VIEWMORERECORD}}</a>
                        </td>
                    </tr>
                </tfoot>
                <tbody ng-repeat="NSR in NO_SHOW_REASON_LIST" on-finish-render="ngRepeatFinished">
                    <tr>
                        <td>{{$index+1}}</td>
                        <td> {{NSR.ENTITY_NAME}}</td>
                        <td> {{NSR.NO_SHOW_CODE}}</td>
                        <td>
                            <i class="fa fa-info-circle float-left"
                               ng-click="POPUP_NO_SHOE_COMMENT(NSR);"
                               data-toggle="tooltip"
                               data-original-title="{{NSR.NO_SHOW_DESCRIPTION.length>100 ? NSR.NO_SHOW_DESCRIPTION+'..' : NSR.NO_SHOW_DESCRIPTION}}"
                               data-html="true" data-placement="right"></i>
                        </td>
                        <td>{{NSR.CREATED_DATE | date}}</td>
                        <td>{{NSR.ACTIVE?'Active':'Inactive'}}</td>
                        <td>
                            <a ng-click="EDIT_SHOW_REASONS(NSR)" data-toggle="tooltip" data-html="true" data-original-title="Edit"><i class="fad fa-edit fa-lg text-green"></i></a>
                            <!--<a ng-click="DELETE_INS_UPD_COST_CENETR(LL)"><i class="fal fa-trash-alt fa-lg text-danger"></i></a>-->
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal fade" id="FIELD_VALUE">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Description</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <textarea class="form-control" rows="8" readonly
                              ng-model="HRD_DECLARATION_POPUP.NO_SHOW_DESCRIPTION">
               </textarea>
                </div>
            </div>
        </div>
    </div>

</form>
