<div class="card-header">
    <div class="card-tools">
        <ul class="nav nav-pills ml-auto">
            <li class="nav-item mt-1 mr-3" ng-if="CheckSubModuleAccess(48)">
                <div class="form-group mb-0">
                    <select class="custom-select w-145" name="LEAVE_SEARCH"
                            data-placeholder="Show Records"
                            ng-model="filterLeaveSearch.ADMIN_FLAG"
                            ng-change="GET_LEAVE_REQUEST_FOR_CALENDAR_PAGE()"
                            ng-options="TA.ID  as TA.NAME for TA in (TEAM_ARRAY)"></select>
                </div>
            </li>
            <li class="nav-item mt-1 mr-2">
                <small class="indexing d-inline-block mr-1 mt-2">{{PENDING_COUNT}}</small>
                <a href="#!/PendingRequest?FLAG=2" class="app-text text-bold">Pending Requests</a>
            </li>
            <li class="nav-item mt-1 mr-2" ng-show="CheckSubModuleAccess(6)">
                <button type="button" class="btn btn-wenodo ml-4" ng-click="POP_LEAVE_MASTER_JS()"> Request Leave</button>
            </li>
        </ul>
    </div>
</div>

<div class="card-body">
    <div class="row">
        <div class="col-md-12">
            <!--<div id="calendar" ui-calendar="uiConfig.calendar" ng-model="eventSources" calendar="myCalendar"></div>-->
            <div class="float-right mt-3">
                <md-button class="" ng-class="{'btn btn-wenodo bg-wenodo-dark border-radius-50':IS_TAB_MWD==1,'btn text-bold app-text border-radius-50':IS_TAB_MWD!=1}" ng-click="changeView('month',1)">Month</md-button>
                <md-button class="" ng-class="{'btn btn-wenodo bg-wenodo-dark border-radius-50':IS_TAB_MWD==2,'btn text-bold app-text border-radius-50':IS_TAB_MWD!=2}" ng-click="changeView('basicWeek',2)">Week</md-button>
                <md-button ng-class="{'btn btn-wenodo bg-wenodo-dark border-radius-50':IS_TAB_MWD==3,'btn text-bold app-text border-radius-50':IS_TAB_MWD!=3}" ng-click="changeView('basicDay',3)">Day</md-button> 
            </div>

            <div ui-calendar="uiConfig.calendar" class="calendar" id="calendar" ng-model="events" calendar="Calendar"></div>

        </div>
        <div class="col-md-12 mt-3">
            <div class="row">
                <div class="col-md-12 event-desc">
                    <div class="row">
                        <div class="d-flex" ng-repeat="ABT in ABSENCE_TYPE_ENTITLEMENT | unique:'ABSENCE_TYPE_NAME'"><span class="event-dots event-leave" style="background-color:#{{ABT.ABSENCE_COLOR_CODE}}"></span> <span class="events-text-bottom">{{ABT.ABSENCE_TYPE_NAME}}</span></div>
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="col-md-4">
            <div ng-show="SelectedEvent" class="alert alert-success" style="margin-top:50px">
                <h2 style="margin-top:0px"> Selected Event:</h2>
                <h3 style="color:#A9A50E">{{SelectedEvent.title}}</h3>
                <p>{{SelectedEvent.description}}</p>
            </div>
        </div>-->
    </div>
</div>
<!--<div class="text-center" ng-show="CALENDAR_LIST.length==0" empty-grid>
</div>-->

<div class="card-body table-calendar pt-0" ng-if="false">
    <div class="col-d-12 bg-wenodo-dark calender-header">
        <div class="row">
            <div class="col-md-2 text-left">
                <div class="form-group mb-0">
                    <select class="custom-select">
                        <option value="India">Sort by:</option>
                        <option value="Bahrain">Bahrain</option>
                        <option value="Dubai">Dubai</option>
                    </select>
                </div>
            </div>
            <div class="col-md-2 text-right ">
                <div class="form-group mb-0">
                    <div class="input-group">

                    </div>
                </div>
            </div>
            <div class="col-md-2 text-right ">
                <div class="form-group mb-0">
                    <div class="input-icons">

                    </div>
                </div>
            </div>
            <div class="col-md-2 text-right ">
                <div class="form-group mb-0">
                    <div class="input-icons">

                    </div>
                </div>
            </div>
            <div class="col-md-2 text-right">
                <div class="form-group mb-0">
                    <select class="custom-select"
                            name="DEPARTMENT_ID"
                            ng-options="DPT.DEPARTMENT_ID as DPT.DEPARTMENT_NAME for DPT in (HR_DEPARTMENTS)"
                            ng-change="GET_LEAVE_REQUEST_FOR_CALENDAR()"
                            ng-model="LeaveSearch.DEPARTMENT_ID">
                        <option value="">- Please Select-</option>
                    </select>
                </div>
            </div>
            <div class="col-md-2 text-right">
                <div class="form-group mb-0">
                    <select class="custom-select"
                            name="REPORTINGPOSITION"
                            ng-model="LeaveSearch.POSITION_ID"
                            ng-change="GET_LEAVE_REQUEST_FOR_CALENDAR()"
                            ng-options="POL.POSITION_ID as POL.POSITION_TITLE for POL in (POSITION_LIST)"
                            ng-class="{'error':PODtlsForm.submitted && PODtlsForm.REPORTINGPOSITION.$error.required}">
                        <option value="">- Please Select-</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <table class="table table-bordered table-striped" ng-show="IS_TAB_MWD==9">
        <thead>
            <tr>
                <th style="width:10%" class="day-name">Mon</th>
                <th style="width:10%" class="day-name">Tue</th>
                <th style="width:10%" class="day-name">Wed</th>
                <th style="width:10%" class="day-name">Thu</th>
                <th style="width:10%" class="day-name">Fri</th>
                <th style="width:10%" class="day-name">Sat</th>
                <th style="width:10%" class="day-name">Sun</th>
            </tr>
            <tr>
                <td align="center" ng-repeat="Dt in dayOfWeekNamesShort">
                    <span class="app-text">
                        {{Dt.Days}}
                        <sup ng-show="Dt.Days==Dt.CurrentDate">C</sup>
                    </span>
                </td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="CL in CALENDAR_LIST">
                <td class="day" ng-repeat="Lev in dayOfWeekNamesShort">
                    <span ng-show="CL.ABSENCE_TYPE_ID==1 && CL.days1==Lev.Days" ng-click="EMPLOYEE_LEAVE_DETAILS(CL,Lev)" class="event" data-toggle="modal" data-target="#Leave_details_C"><img src="../dist/img/user1-128x128.jpg" class="img-size-20 mr-1 img-circle"> {{CL.EMPLOYEE_NAME}}</span>
                    <span ng-show="CL.ABSENCE_TYPE_ID==2 && CL.days1==Lev.Days" ng-click="EMPLOYEE_LEAVE_DETAILS(CL,Lev)" class="event event-pending"><img src="../dist/img/user1-128x128.jpg" class="img-size-20 mr-1 img-circle"> {{CL.EMPLOYEE_NAME}}</span>
                    <span ng-show="CL.ABSENCE_TYPE_ID==3 && CL.days1==Lev.Days" ng-click="EMPLOYEE_LEAVE_DETAILS(CL,Lev)" class="event event-sickness"><img src="../dist/img/user1-128x128.jpg" class="img-size-20 mr-1 img-circle"> {{CL.EMPLOYEE_NAME}}</span>
                    <span ng-show="CL.ABSENCE_TYPE_ID==4 && CL.days1==Lev.Days" ng-click="EMPLOYEE_LEAVE_DETAILS(CL,Lev)" class="event event-leave"><img src="../dist/img/user1-128x128.jpg" class="img-size-20 mr-1 img-circle"> {{CL.EMPLOYEE_NAME}}</span>
                    <span ng-show="CL.ABSENCE_TYPE_ID==5 && CL.days1==Lev.Days" ng-click="EMPLOYEE_LEAVE_DETAILS(CL,Lev)" class="event event-lateness"><img src="../dist/img/user1-128x128.jpg" class="img-size-20 mr-1 img-circle"> {{CL.EMPLOYEE_NAME}}</span>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-bordered table-striped" ng-show="IS_TAB_MWD==2">
        <thead>
            <tr>
                <th style="width:10%" class="day-name">Mon</th>
                <th style="width:10%" class="day-name">Tue</th>
                <th style="width:10%" class="day-name">Wed</th>
                <th style="width:10%" class="day-name">Thu</th>
                <th style="width:10%" class="day-name">Fri</th>
                <th style="width:10%" class="day-name">Sat</th>
                <th style="width:10%" class="day-name">Sun</th>
            </tr>
            <tr>
                <td align="center" ng-repeat="Dt in dayOfWeekNamesShort">
                    <span class="app-text">
                        {{Dt.Days}}
                        <sup ng-show="Dt.Days==Dt.CurrentDate">C</sup>
                    </span>
                </td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="CL in CALENDAR_LIST">
                <td class="day" ng-repeat="Lev in dayOfWeekNamesShort">
                    <span ng-show="CL.ABSENCE_TYPE_ID==1 && CL.days1==Lev.Days" ng-click="EMPLOYEE_LEAVE_DETAILS(CL,Lev)" class="event" data-toggle="modal" data-target="#Leave_details_C"><img src="../dist/img/user1-128x128.jpg" class="img-size-20 mr-1 img-circle"> {{CL.EMPLOYEE_NAME}}</span>
                    <span ng-show="CL.ABSENCE_TYPE_ID==2 && CL.days1==Lev.Days" class="event event-pending"><img src="../dist/img/user1-128x128.jpg" class="img-size-20 mr-1 img-circle"> {{CL.EMPLOYEE_NAME}}</span>
                    <span ng-show="CL.ABSENCE_TYPE_ID==3 && CL.days1==Lev.Days" class="event event-sickness"><img src="../dist/img/user1-128x128.jpg" class="img-size-20 mr-1 img-circle"> {{CL.EMPLOYEE_NAME}}</span>
                    <span ng-show="CL.ABSENCE_TYPE_ID==4 && CL.days1==Lev.Days" class="event event-leave"><img src="../dist/img/user1-128x128.jpg" class="img-size-20 mr-1 img-circle"> {{CL.EMPLOYEE_NAME}}</span>
                    <span ng-show="CL.ABSENCE_TYPE_ID==5 && CL.days1==Lev.Days" class="event event-lateness"><img src="../dist/img/user1-128x128.jpg" class="img-size-20 mr-1 img-circle"> {{CL.EMPLOYEE_NAME}}</span>
                </td>
            </tr>
        </tbody>
    </table>

</div>


<div class="modal fade" id="Leave_details_C">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <img ng-show="EMP_DTDS.IMAGE_PATH==null || EMP_DTDS.IMAGE_PATH==''" src="../dist/img/user1-128x128.jpg" class="img-size-32 mr-1 img-circle">
                    <img ng-show="EMP_DTDS.IMAGE_PATH!=null && EMP_DTDS.IMAGE_PATH!=''" src="{{EMP_DTDS.IMAGE_PATH}}" class="img-size-32 mr-1 img-circle"> Absence request by {{EMP_DTDS.EMPLOYEE_NAME}}
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body custom-scrollbar height-450">
                <div class="col-md-12 mb-3">
                  
                  
                </div>
                <div class="row mt-2 ml-1">
                    <div class="col-md-4 border">
                        <div class="form-group mb-0">
                            <label>Absence Type</label>
                            <div class="input-group">
                                {{EMP_DTDS.ABSENCE_TYPE_NAME}}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 border">
                        <div class="form-group mb-0">
                            <label>Start Date / Time</label>
                            <div class="input-group">
                                <i class="far fa-calendar-alt text-blue"></i> {{EMP_DTDS.START_DATE | date:'d/M/yyyy'}}
                                <span class="float-right"><i class="far fa-clock text-blue"></i> {{EMP_DTDS.START_DATE | date:'HH:mm:ss'}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 border">
                        <div class="form-group mb-0">
                            <label>End Date / Time</label>
                            <div class="input-group">
                                <i class="far fa-calendar-alt text-blue"></i> {{EMP_DTDS.END_DATE | date:'d/M/yyyy' }}
                                <span class="float-right"><i class="far fa-clock text-blue"></i> {{EMP_DTDS.END_DATE | date: 'HH:mm:ss'}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 border">
                        <div class="form-group mb-0">
                            <label>
                                Duration
                                <span ng-show="EMP_DTDS.ENTITLEMENT_UNIT_ID==1">(Days)</span>
                                <span ng-show="EMP_DTDS.ENTITLEMENT_UNIT_ID==3">(Shifts)</span>
                                <span ng-show="EMP_DTDS.ENTITLEMENT_UNIT_ID==2">(Hours)</span>
                            </label>
                            <div class="input-group">
                                {{EMP_DTDS.CAL_LEAVE_DAYS | number :2}}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 border">
                        <div class="form-group mb-0">
                            <label>Paid</label>
                            <div ng-show="EMP_DTDS.ENTITLEMENT_UNIT_ID==1 || EMP_DTDS.ENTITLEMENT_UNIT_ID==3">
                                <div class="input-group">
                                    {{EMP_DTDS.DURATION_DAYS_PAID | number :2}}
                                </div>
                            </div>
                            <div ng-show="EMP_DTDS.ENTITLEMENT_UNIT_ID==2">
                                <div class="input-group">
                                    {{EMP_DTDS.DURATION_HOURS_PAID | number :2}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 border">
                        <div class="form-group mb-0">
                            <label>Unpaid</label>
                            <div ng-show="EMP_DTDS.ENTITLEMENT_UNIT_ID==1 || EMP_DTDS.ENTITLEMENT_UNIT_ID==3">
                                <div class="input-group">
                                    {{EMP_DTDS.DURATION_DAYS_UNPAID | number :2}}
                                </div>
                            </div>
                            <div ng-show="EMP_DTDS.ENTITLEMENT_UNIT_ID==2">
                                <div class="input-group">
                                    {{EMP_DTDS.DURATION_HOURS_UNPAID | number :2}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 border">
                        <div class="form-group mb-0">
                            <label>Comments</label>
                            <div class="input-group">
                                {{EMP_DTDS.COMMENTS==null || EMP_DTDS.COMMENTS==""?'-':EMP_DTDS.COMMENTS}}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 border ">
                        <div class="form-group">
                            <label class="d-block">Attachment</label>
                            <span ng-show="EMP_DTDS.UPLOADED_FILES.length==0">-</span>
                            <span class="d-block" ng-repeat="File in EMP_DTDS.UPLOADED_FILES">
                                <a href="{{File.FILE_PATH}}{{File.SERVER_FILE_NAME}}" download="{{File.ORIGINAL_FILE_NAME}}" class="d-block font-12 text-blue cursor-pointer border-bottom">
                                    {{File.ORIGINAL_FILE_NAME}}
                                    <span class="float-right"><i class="fas fa-download"></i></span>
                                </a>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-12 border">
                        <div class="form-group">
                            <label>Approval Status:</label>
                            <div class="input-group">
                                {{EMP_DTDS.STATUS_NAME}}
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>