<div class="card-header">
    <div class="row">
        <div class="col-md-3">
            <div class="input-group input-group-sm" ng-if="false">
                <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
                <div class="input-group-append">
                    <button class="btn btn-navbar bg-white border app-text" type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
        </div>

        <div class="col-auto ml-auto"  ng-show="EMPLOYEE_ID!='null'">
            <button type="button" class="btn btn-wenodo btn-block" ng-click="POP_DOC()">Add document</button>
        </div>

    </div>
</div>
<div class="card-body">
    <div class="row">
        <div class="col-md-3 bg-light-grey p-3">
            <h5 class="heading-text">Folders <span class="float-right"><button type="button" class="btn btn-wenodo-icon" data-toggle="modal" data-target="#Add_Folder"><i class="fal fa-plus"></i></button></span></h5>
            <hr ng-show="SIDE_FOLDER_LIST.length==0" />
            <div class="text-center mt-3" ng-show="SIDE_FOLDER_LIST.length==0" empty-grid></div>
            <div ng-repeat="SFL in SIDE_FOLDER_LIST"  ng-init="SFL.FL_INDEX=$index"  >
                <p class="docs-panel mt-3 cursor-pointer" ng-click="FOLDER_CLICK(SFL)" >
                    <a  class="app-text text-underline text-bold" >{{SFL.FOLDER_NAME}}</a>
                    <span class="float-right docs-panel-icons">
                        <a ng-show="!SFL.FOLDER_IS_PREDEFINED" data-toggle="tooltip" data-html="true" data-original-title="Add Sub-Folder"><i class="fad fa-folders app-text" ng-click="POP_ADDFOLDER(SFL,1)"></i></a>
                        <a ng-show="!SFL.FOLDER_IS_PREDEFINED" data-toggle="tooltip" data-html="true" data-original-title="Edit Folder"><i class="fad fa-edit text-success" ng-click="POP_EDIT_ADDFOLDER(SFL,1)"  ></i></a>
                        <a ng-show="!SFL.FOLDER_IS_PREDEFINED" data-toggle="tooltip" data-html="true" data-original-title="Delete Folder"><i class="fad fa-trash-alt text-danger" ng-click="HR_FOLDER_SUB_DELETE(SFL,1)"></i></a>
                    </span>
                </p>
                <p ng-show="(SIDE_FOLDER_LIST_ALL | filter: {FOLDER_ID:SFL.FOLDER_ID}).length>0" class="folder-panel cursor-pointer border-bottom py-2 d-block" ng-repeat="Sub in SIDE_FOLDER_LIST_ALL | filter: {FOLDER_ID:SFL.FOLDER_ID}"><a ng-click="GET_DOCUMENT_LIST(SFL.FOLDER_ID,Sub.SUB_FOLDER_ID,SFL.FOLDER_NAME,Sub.SUB_FOLDER_NAME)" ng-init="nginitSubfolder(SFL,Sub,SFL.FL_INDEX,$index)" ng-class="{'active':SUB_FOLDER_ID==Sub.SUB_FOLDER_ID}" class="ml-4 app-text d-block">{{Sub.SUB_FOLDER_NAME}}</a>
                    <span class="float-right folder-icons">
                        <a ng-show="!Sub.FOLDER_IS_PREDEFINED" data-toggle="tooltip" data-html="true" data-original-title="Edit Sub-Folder"><i class="fad fa-edit text-success" title="Edit Sub Folder" ng-click="POP_ADDSUBFOLDER(Sub,1)"></i></a>
                        <a ng-show="!Sub.FOLDER_IS_PREDEFINED" data-toggle="tooltip" data-html="true" data-original-title="Delete Sub-Folder"><i class="fad fa-trash-alt text-danger" title="Delete Sub Folder" ng-click="HR_FOLDER_SUB_DELETE(Sub,2)"></i></a>
                    </span>
                </p>
            </div>
        </div>
        <div class="col-md-9">
            <h5 class="heading-text">
                <span> {{FOLDER_NAME}} </span><span ng-show="SUB_FOLDER_NAME!=null"> |</span> <span  >{{SUB_FOLDER_NAME}}</span>
                <div class="float-right" ng-show="false">
                    <div class="form-group">
                        <select class="custom-select">
                            <option value="0">Sort By</option>
                            <option value="1">Department 1</option>
                            <option value="2">Department 2</option>
                        </select>
                    </div>
                </div>
            </h5>
            <div class="text-center" ng-show="FLAG==1">
                <i class="fa fa-arrow-alt-left"></i> Please click to see folder 
            </div>
            <div class="text-center mt-3" ng-show="DOC_UPLOAD_LIST.length==0" empty-grid>
            </div>
            <div class="table-responsive" ng-show="DOC_UPLOAD_LIST.length>0">
                <table class="table table-hover table-striped">
                    <thead class="bg-wenodo-dark-blue">
                        <tr>
                            <th>Document Name</th>
                            <th>Number</th>
                            <th>Date Uploaded</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody ng-repeat="DPL in DOC_UPLOAD_LIST" on-finish-render="ngRepeatFinished"> 
                        <tr>
                            <td>{{DPL.DOCUMENT_NAME}}</td>
                            <td>{{DPL.REFERENCE_NO}}</td>
                            <td>{{DPL.CREATED_DATE | date}}</td>
                            <td>
                            <span  ng-show="DPL.ACTIVE" class="badge badge-light-green" >Active</span>
                                <span ng-show="!DPL.ACTIVE"  class="badge badge-light-grey">Inactive</span>
                            </td>
                            <td>
                                <a download="{{DPL.SERVER_FILE_NAME}}" href="/uploads/{{DPL.FILE_PATH}}{{DPL.SERVER_FILE_NAME}}" data-toggle="tooltip" data-html="true" data-original-title="Download"><i class="fad fa-download fa-lg app-text"></i></a>
                                <a ng-show="DPL.ALLOW_DELETE" ng-click="HR_DELETE_DOCUMENT(DPL)" data-toggle="tooltip" data-html="true" data-original-title="Delete"><i class="fad fa-trash-alt fa-lg text-danger" ></i></a>
                            </td>
                        </tr>
                        
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="Add_Document">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Document </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body custom-scrollbar mx-height-400">
                <form id="DocForm" name="DocForm" novalidate>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Document Name:*</label>
                                <input type="text"
                                       class="form-control"
                                       placeholder="Enter ..."
                                       name="DOCUMENT_NAME"
                                       autocomplete="off"
                                       maxlength="100"
                                       required
                                       ng-class="{'error':DocForm.submitted && DocForm.DOCUMENT_NAME.$error.required}"
                                       ng-model="DocSearch.DOCUMENT_NAME">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Folder Access:*</label>
                                <select class="custom-select"
                                        name="IS_PUBLIC"
                                        ng-model="DocSearch.IS_PUBLIC"
                                        ng-options="PT.ID as PT.NAME  for PT in (FOLDERPUBLIC)"
                                        required
                                        ng-class="{'error':DocForm.submitted && DocForm.IS_PUBLIC.$error.required}">
                                    <option value="">-Select Folder Access-</option>
                                </select>
                            </div>
                            </div>
                        <div class="col-md-6">
                            <span class="float-right"><button type="button" title="Add Folder" class="btn btn-wenodo-icon btn-sm" data-toggle="modal" data-target="#Add_Folder"><i class="fal fa-plus"></i></button></span>
                            <div class="form-group">
                                <label>Folder:*</label>
                                <select class="custom-select"
                                        name="DOCUMENT_FOLDER"
                                       
                                        ng-model="DocSearch.FOLDER_ID"
                                        ng-options="PT.FOLDER_ID as PT.FOLDER_NAME  for PT in (FOLDER)"
                                        ng-change="GET_SUB_FOLDER()"
                                        required
                                        ng-class="{'error':DocForm.submitted && DocForm.DOCUMENT_FOLDER.$error.required}">
                                    <option value="">-Select Folder-</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <span class="float-right"><button type="button" title="Add Sub Folder" class="btn btn-wenodo-icon btn-sm"  ng-click="POP_ADDSUBFOLDER()" ><i class="fal fa-plus"></i></button></span>
                            <div class="form-group">
                                <label>Sub-Folder:</label>
                                <select class="custom-select"
                                        name="SUB_FOLDER"
                                        ng-model="DocSearch.SUB_FOLDER_ID"
                                        ng-options="PT.SUB_FOLDER_ID as PT.SUB_FOLDER_NAME  for PT in (SUB_FOLDER)"
                                        ng-class="{'error':DocForm.submitted && DocForm.SUB_FOLDER.$error.required}">
                                    <option value="">-Select Sub-Folder-</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Reference Number:*</label>
                                <input type="text"
                                       class="form-control"
                                       placeholder="Enter ..."
                                       name="REFERENCE_NO"
                                          autocomplete="off"
                                       required
                                       ng-model="DocSearch.REFERENCE_NO"
                                       ng-class="{'error':DocForm.submitted && DocForm.REFERENCE_NO.$error.required}">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>End Date:*</label>
                                <div class="form-group">
                                    <div class="input-icons">
                                        <i class="fas fa-sort date-icon"></i>
                                        <input class="form-control input-i dateinput"
                                               type="text"
                                               name="END_DATE"
                                               placeholder="Select Date"
                                               autocomplete="off"
                                               ng-model="DocSearch.END_DATE"
                                               ng-value="DocSearch.END_DATE | date"
                                               required
                                               ng-class="{'error':DocForm.submitted && DocForm.END_DATE.$error.required}">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Digital Signature Required:*</label>
                                <select class="custom-select"
                                        name="DOCUMENT_TYPE"
                                        ng-model="DocSearch.DIGITAL_SIGN_REQUIRED_ID"
                                        required
                                        ng-options="PT.ID as PT.NAME  for PT in (YESNO)"
                                        ng-class="{'error':DocForm.submitted && DocForm.DOCUMENT_TYPE.$error.required}">
                                    <option value="">-Select Signature-</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>&nbsp;</label>
                                <div class="input-group-prepend" ng-class="{'error':DocForm.submitted && IS_VALID}">
                                    <label for="AddDocument" class="btn btn-upload">
                                        <i class="fal fa-upload"></i> Upload 
                                    </label>
                                    <span class="hidden-input">
                                        <input id="AddDocument" ng-files="getTheFilesToUploadDoc($files, 'fileUpl_EvtInfo', 5)" name="file" type="file" />
                                    </span>
                                </div>
                                <span ng-repeat="upls in UploadedFiles">{{upls.ORIGINAL_FILE_NAME}}</span>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
            <div class="modal-footer justify-content-left">
                <button type="button" ng-click="INS_UPD_DOCUMENT()" class="btn btn-wenodo">Save</button>
                <button type="button" ng-click="ResetDoc()" class="btn btn-w-default">Reset</button>
                <button type="button" class="btn btn-w-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="Add_Folder">
    <form id="FolderForm" name="FolderForm" novalidate>
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span ng-show="FOLDER_EDIT==0 || FOLDER_EDIT==''">Add </span><span ng-show="FOLDER_EDIT==1">Edit </span>Folder
                    </h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Folder Name:*</label>
                                <input type="text"
                                       class="form-control"
                                       placeholder="Enter folder Name..."
                                       ng-model="FolderSearch.FOLDER_NAME"
                                       name="FOLDER_NAME"
                                       required
                                       ng-class="{'error':FolderForm.submitted && FolderForm.FOLDER_NAME.$error.required}">
                            </div>
                        </div>
                   
                    </div>
                   
                </div>
                <div class="modal-footer justify-content-left">
                    <button type="button" ng-click="INS_UPD_FOLDERS()" class="btn btn-wenodo">Add</button>
                    <button type="button" ng-click="ResetFolder()" class="btn btn-w-default">Reset</button>
                    <button type="button" class="btn btn-w-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal fade" id="Add_SUB_Folder">
    <form id="SubFolderForm" name="SubFolderForm" novalidate>
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span ng-show="SUB_FOLDER_EDIT==0">Add</span><span ng-show="SUB_FOLDER_EDIT==1">Edit</span> Sub Folder
                    </h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Select Folder:*</label>
                                <select class="custom-select"
                                        name="DOCUMENT_TYPE"
                                        ng-model="SubFolderSearch.FOLDER_ID"
                                        ng-options="PT.FOLDER_ID as PT.FOLDER_NAME  for PT in (FOLDER)"
                                        required
                                        ng-class="{'error':SubFolderForm.submitted && SubFolderForm.DOCUMENT_TYPE.$error.required}">
                                    <option value="">- Select Folder -</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Sub-Folder Name:*</label>
                                <input type="text"
                                       class="form-control"
                                       placeholder="Enter Sub-Folder Name ..."
                                       ng-model="SubFolderSearch.SUB_FOLDER_NAME"
                                       name="SUB_FOLDER_NAME"
                                       required
                                       ng-class="{'error':SubFolderForm.submitted && SubFolderForm.SUB_FOLDER_NAME.$error.required}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer justify-content-left">
                    <button type="button" ng-click="INS_UPD_SUB_FOLDERS()" ng-show="SUB_FOLDER_EDIT==0" class="btn btn-wenodo">Add</button>
                    <button type="button" ng-click="INS_UPD_SUB_FOLDERS(1)" ng-show="SUB_FOLDER_EDIT==1" class="btn btn-wenodo">Edit</button>
                    <button type="button" ng-click="ResetSubFolder()" class="btn btn-w-default">Reset</button>
                    <button type="button" class="btn btn-w-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </form>
</div>
