<form id="HolidayForm" name="HolidayForm" novalidate>
    <div class="row mb-1">
        <div class="col-md-4">
            <h3 class="pl-2" ng-show="HolidayEntitlementSearch.ABSENCE_TYPE_ID!=null && HolidayEntitlementSearch.ABSENCE_TYPE_ID!=''">
                Generate Entitlement
            </h3>
        </div>
        <div class="col-md-6"></div>
        <div class="col-md-2">
            <ul class="nav nav-pills" ng-show="HolidayEntitlementSearch.ABSENCE_TYPE_ID!=null && HolidayEntitlementSearch.ABSENCE_TYPE_ID!=''">
                <li class="dropdown w-100">
                    <a class="form-control text-limitations custom-dropdown cursor-pointer" data-toggle="dropdown">
                        <span id="dropdown_titleSec"> {{SELECT_LEAVE}}</span>
                        <i class="fa fa-sort float-right mt-1"></i>
                    </a>
                    <ul ID="divNewNotificationsSec" class="dropdown-menu dropdown-menu-arrow text-xs custom-scrollbar">
                        <li class="" ng-repeat="AB in ABSENCE_TYPE_ENTITLEMENT_INT_UPD" ng-click="ON_ENTITLEMENT_SELECT_CLICK(AB,$index);">
                            {{AB.ABSENCE_TYPE_NAME}}
                        </li>

                    </ul>
                </li>
            </ul>
        </div>

    </div>
    <div class="col-md-12">
        <div class="text-center" ng-show="HolidayEntitlementSearch.ABSENCE_TYPE_ID==null || HolidayEntitlementSearch.ABSENCE_TYPE_ID==''">
            <div class="col-md-3 offset-md-4">
                <label class="d-block">Please select Entitlement Type from dropdown</label>
                <ul class="nav nav-pills">
                    <li class="dropdown w-100">

                        <a class="form-control text-limitations custom-dropdown cursor-pointer" data-toggle="dropdown">
                            <span id="dropdown_titleSec">Select Entitlement Type</span>
                            <i class="fa fa-sort float-right mt-1"></i>
                        </a>
                        <ul ID="divNewNotificationsSec" class="dropdown-menu dropdown-menu-arrow text-xs custom-scrollbar">
                            <li class="" ng-repeat="AB in ABSENCE_TYPE_ENTITLEMENT_INT_UPD" ng-click="ON_ENTITLEMENT_SELECT_CLICK(AB,$index);">
                                {{AB.ABSENCE_TYPE_NAME}}
                            </li>

                        </ul>
                    </li>
                </ul>
            </div>
        </div>

        <table class="table table-hover table-striped" ng-show="HolidayEntitlementSearch.ABSENCE_TYPE_ID!=null && HolidayEntitlementSearch.ABSENCE_TYPE_ID!=''">
            <tr>
                <th class="text-nowrap">Entitlement Required</th>
                <th class="text-nowrap">Accrual Method</th>
                <th width="10%">Year Start*</th>
                <th width="10%">Year End*</th>
                <th>Entitlement Units*</th>
                <th>Default Entitlement*</th>
                <th class="text-nowrap">Apply By Manager</th>
                <th class="text-nowrap">Apply By Employee <!--ng-repeat="LL in ABSENCE_TYPE_ENTITLEMENT"--> </th>
                <th class="text-nowrap text-right"></th>
            </tr>
            <tbody>
                <tr ng-init="$parent.dateinputOpenDateddmmyyyy()">
                    <td>
                        <div class="d-flex">
                            <div class="custom-control custom-checkbox">
                                <input class="custom-control-input"
                                       type="checkbox"
                                       id="Entitlement_Required"
                                       ng-disabled="HolidayEntitlementSearch.HOLIDAY_ENTITLEMENT_ID>0 && HolidayEntitlementSearch.ENTITLEMENT_REQUIRED_VALID"
                                       ng-change="ENTITLEMENT_REQUIRED_NGCHANGE()"
                                       ng-model="HolidayEntitlementSearch.ENTITLEMENT_REQUIRED">
                                <label for="Entitlement_Required" class="custom-control-label top-0">
                                </label>
                            </div>
                        </div>
                    </td>
                    <td>
                        <select class="custom-select"
                                name="ACCRUAL_METHOD_NAME"
                                ng-disabled="!HolidayEntitlementSearch.ENTITLEMENT_REQUIRED"
                                ng-model="HolidayEntitlementSearch.ACCRUAL_METHOD_ID"
                                ng-options="EL.ACCRUAL_METHOD_ID as EL.ACCRUAL_METHOD_NAME for EL in ACCRUAL_METHOD_LIST"
                                ng-required="HolidayEntitlementSearch.ENTITLEMENT_REQUIRED"
                                ng-class="{'error':HolidayForm.submitted && HolidayForm.ACCRUAL_METHOD_NAME.$error.required}">
                            <option value="">-Select Accrual Method-</option>
                        </select>
                        <small></small>
                    </td>
                    <td>
                        <input type="text"
                               class="form-control dateinputOpenDateddmmyyyy"
                               placeholder="DD/MM/YYYY"
                               id="YEAR_START_DATE"
                               autocomplete="off"
                               name="YEAR_START_DATE"
                               required
                               ng-model="HolidayEntitlementSearch.YEAR_START_DATE"
                               ng-class="{'error':HolidayForm.submitted && HolidayForm.YEAR_START_DATE.$error.required}" />
                    </td>
                    <td>
                        <input type="text"
                               class="form-control dateinputOpenDateddmmyyyy"
                               placeholder="DD/MM/YYYY"
                               id="YEAR_END_DATE"
                               autocomplete="off"
                               name="YEAR_END_DATE"
                               required
                               ng-model="HolidayEntitlementSearch.YEAR_END_DATE"
                               ng-class="{'error':HolidayForm.submitted && HolidayForm.YEAR_END_DATE.$error.required}" />
                    </td>
                    <td>
                        <select class="custom-select"
                                name="ENTITLEMENT_UNIT_NAME"
                                ng-model="HolidayEntitlementSearch.ENTITLEMENT_UNIT_ID"
                                ng-options="EL.ENTITLEMENT_ID as EL.ENTITLEMENT_NAME for EL in ENTITLEMENT_LIST"
                                required
                                ng-class="{'error':HolidayForm.submitted && HolidayForm.ENTITLEMENT_UNIT_NAME.$error.required}">
                            <option value="">-Select Entitlement Unit-</option>
                        </select>
                        <small></small>
                    </td>
                    <td>
                        <div class="form-group mb-0">
                            <input type="text"
                                   class="form-control"
                                   placeholder="Enter ..."
                                   name="DEFAULT_ENTITLEMENT_VALUE"
                                   ng-change="ON_VALUE_CHANGE(LL)"
                                   maxlength="5"
                                   required
                                   only-digits
                                   ng-class="{'error':HolidayForm.submitted && HolidayForm.DEFAULT_ENTITLEMENT_VALUE.$error.required}"
                                   ng-model="HolidayEntitlementSearch.DEFAULT_ENTITLEMENT_VALUE">
                        </div>
                        <small></small>
                    </td>
                    <td>
                        <div class="d-flex">
                            <div class="custom-control custom-checkbox">
                                <input class="custom-control-input"
                                       type="checkbox"
                                       id="IsManager"
                                       ng-model="HolidayEntitlementSearch.MANAGER">
                                <label for="IsManager" class="custom-control-label top-0">
                                </label>
                            </div>
                        </div>
                        <small></small>
                    </td>
                    <td>
                        <div class="d-flex">
                            <div class="custom-control custom-checkbox">
                                <input class="custom-control-input"
                                       type="checkbox"
                                       id="IsEmployee"
                                       ng-model="HolidayEntitlementSearch.IS_EMPLOYEE">
                                <label for="IsEmployee" class="custom-control-label top-0"></label>
                            </div>
                        </div>
                    </td>
                    <td>
                        <!--true Paid-->
                        <!--<div class="custom-control custom-radio">
                            <input class="custom-control-input" type="radio" id="Paidpaid" name="PaidUnpaid" value="1">
                            <label for="Paidpaid" class="custom-control-label">Paid</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input class="custom-control-input" type="radio" id="PaidUnpaid" name="PaidUnpaid" value="2">
                            <label for="PaidUnpaid" class="custom-control-label">Unpaid</label>
                        </div>-->

                        <div class="custom-control custom-switch d-flex">
                            <label class="mr-5">Unpaid</label>
                            <input type="checkbox" ng-model="HolidayEntitlementSearch.IS_PAID" class="custom-control-input" id="customSwitch1">
                            <label class="custom-control-label" for="customSwitch1">Paid</label>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-12">
        <div data-ng-show="HolidayForm.submitted && HolidayForm.$invalid" class="form-group has-error errormessage badge badge-light-red w-100 p-3">
            <span class="help-block errormessageline"><i class="fa fa-exclamation-triangle"></i> - Please provide the mandatory details to submit(marked in red).</span>
        </div>
        <div id="divInvlidUser" class="hideshowdiv" data-ng-show="HolidayForm.$valid">
            <span class="help-block">{{InvalidUser}}</span>
        </div>
    </div>
    <div class="card-body">
        <div class="form-group" ng-show="HolidayEntitlementSearch.ABSENCE_TYPE_ID!=null && HolidayEntitlementSearch.ABSENCE_TYPE_ID!=''">
            <button type="button" class="btn btn-wenodo" ng-click="SAVE_RUN_ENTITLMENT()">
                <span ng-show="!HolidayEntitlementSearch.ENTITLEMENT_REQUIRED">Save</span>
                <span ng-show="HolidayEntitlementSearch.ENTITLEMENT_REQUIRED"> Run</span>
            </button>
            <button type="button" class="btn btn-w-default" ng-click="ResetStepEnt()">Reset</button>
        </div>
    </div>
    <div class="card-header" ng-show="EXISTING_HOLIDAY_ENTITLEMENT.length>0 && HolidayEntitlementSearch.ABSENCE_TYPE_ID!=null && HolidayEntitlementSearch.ABSENCE_TYPE_ID!=''">
        <div class="title"> <h3> Existing  {{SELECT_LEAVE}}</h3></div>
    </div>
    <div class="card-body">

        <div class="text-center" ng-show="EXISTING_HOLIDAY_ENTITLEMENT.length==0 && HolidayEntitlementSearch.ABSENCE_TYPE_ID!=null && HolidayEntitlementSearch.ABSENCE_TYPE_ID!=''" empty-grid>
        </div>
        <div class="table-responsive custom-scrollbar height-auto" ng-show="EXISTING_HOLIDAY_ENTITLEMENT.length>0">
            <table class="table table-striped">
                <thead class="bg-wenodo-dark-blue">
                    <tr>
                        <th class="text-nowrap">Absence Type</th>
                        <th class="text-nowrap">Unit</th>
                        <th class="text-nowrap">Entitlement</th>
                        <th class="text-nowrap">Accrual Method</th>
                        <th>Year Start</th>
                        <th>Year End</th>
                        <th class="text-nowrap">Manager</th>
                        <th class="text-nowrap">Employee</th>
                        <th class="text-nowrap">Entitlement Required</th>
                        <th class="headcol-right-header"></th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <td colspan="10" align="center" ng-show="GetData">
                            <a class="btn btn-secondary text-white" ng-click="GET_EXISTING_HOLIDAY_ENTITLEMENT_LAZY_LOAD();">{{VIEWMORERECORD}}</a>
                        </td>
                    </tr>
                </tfoot>
                <tbody ng-repeat="CL in EXISTING_HOLIDAY_ENTITLEMENT" on-finish-render="ngRepeatFinished">
                    <tr ng-style="CL.IS_HIGH_LIGHT && {'background-color':'Red'}">
                        <td>{{CL.ABSENCE_TYPE_NAME}}</td>
                        <td>{{CL.ENTITLEMENT_UNIT_NAME}}</td>
                        <td>{{CL.DEFAULT_ENTITLEMENT_VALUE}}</td>
                        <td>{{CL.ACCRUAL_METHOD_NAME}}</td>
                        <td>{{CL.YEAR_START_DATE | date}}</td>
                        <td>{{CL.YEAR_END_DATE | date}}</td>
                        <td>{{CL.MANAGER == true?'Yes':'No'}}</td>
                        <td>{{CL.EMP == true?'Yes':'No'}}</td>
                        <td>{{CL.ENTITLEMENT_REQUIRED == true?'Yes':'No'}}</td>
                        <td class="headcol-right" style="min-width:75px">
                            <a ng-click="EDIT_HOLIDAY_ENTITLEMENT(CL)" data-toggle="tooltip" data-html="true" data-original-title="Edit"><i class="fad fa-edit fa-lg text-green"></i></a>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</form>
<div class="modal fade" id="Add_Leave">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{SELECT_LEAVE}}</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form novalidate id="AddResform" name="AddResform">
                <div class="modal-body custom-scrollbar height-400">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-auto"><h6 class="app-text mb-0 mt-1">Filter by:</h6></div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <input type="text"
                                               class="form-control"
                                               placeholder="Search By Employee No/Employee Name  ..."
                                               name="COURSE_NAME"
                                               maxlength="100"
                                               ng-model="TeamSearch.EMPLOYEE_NO">
                                    </div>
                                </div>
                                <div class="col-md-2" ng-show="false">
                                    <div class="form-group">
                                        <input type="text"
                                               class="form-control"
                                               placeholder="Enter Employee Name ..."
                                               maxlength="100"
                                               ng-model="TeamSearch.EMPLOYEE_NAME">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <button type="button" ng-click="ResetTeamSearch()" class="btn btn-w-default">Reset</button>
                                </div>
                                <div class="col-md-2">

                                </div>
                                <div class="col-md-2">

                                </div>
                            </div>
                            <div class="text-center" ng-show="LEAVE_ASSIGNEMT.length==0" empty-grid>
                            </div>
                            <div class="table-responsive custom-scrollbar height-auto" ng-show="LEAVE_ASSIGNEMT.length>0">
                                <table class="table table-hover table-striped">
                                    <thead class="bg-wenodo-dark-blue">
                                        <tr class="text-nowrap">
                                            <th class="text-nowrap">Employee Number/Name</th>
                                            <th>Year Start</th>
                                            <th>Year End</th>
                                            <th class="text-nowrap">Entitlement Units</th>
                                            <th>Entitlement</th>
                                            <th>Adjustments</th>
                                            <th>Comments</th>
                                            <th width="10%" ng-init="IS_SELECTED=true">
                                                <!--<div class="custom-control custom-checkbox">
            <input class="custom-control-input" type="checkbox"
                   id="Header_Check{{$index}}"
                   ng-model="IS_SELECTED"><label for="Header_Check{{$index}}" class="custom-control-label text-white">All</label>
        </div>-->
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody ng-repeat="EML in LEAVE_ASSIGNEMT | filter:TeamSearch.EMPLOYEE_NO  track by $index" ng-if="EML.DELETE_FLAG==0" on-finish-render="ngRepeatFinished">
                                        <tr ng-style="CL.LEAVE_BOOKED && {'background-color':'gray'}" ng-init="$parent.dateinputOpenDateddmmyyyy()">
                                            <td>
                                                <span ng-show="false"> {{ EML.EMP_INDEX=$index}}</span>
                                                <div class="row">
                                                    <div class="col-auto">
                                                        <span ng-show="EML.IMAGE_PATH==null"><img src="../dist/img/user1-128x128.jpg" alt="{{EML.EMPLOYEE_NAME}}" class="img-size-32 mr-1 img-circle"></span>
                                                        <span ng-show="EML.IMAGE_PATH!=null"><img src="{{EML.IMAGE_PATH}}" alt="{{EML.EMPLOYEE_NAME}}" class="img-size-32 mr-1 img-circle"></span>
                                                    </div>
                                                    <div class="col">
                                                        <span class="d-block semibold">{{EML.EMPLOYEE_NAME}}</span>
                                                        {{EML.EMPLOYEE_NO}}

                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <input type="text"
                                                       class="form-control dateinputOpenDateddmmyyyy"
                                                       autocomplete="off"
                                                       name="START_DATE{{$index}}"
                                                       readonly
                                                       ng-model="EML.START_DATE"
                                                       ng-value="EML.START_DATE | date"
                                                       required
                                                       ng-class="{'error':AddResform.submitted && AddResform.START_DATE{{$index}}.$error.required}" />
                                            </td>
                                            <td>
                                                <input type="text"
                                                       class="form-control dateinputOpenDateddmmyyyy"
                                                       autocomplete="off"
                                                       name="END_DATE{{$index}}"
                                                       readonly
                                                       ng-model="EML.END_DATE"
                                                       ng-value="EML.END_DATE | date"
                                                       required
                                                       ng-class="{'error':AddResform.submitted && AddResform.END_DATE{{$index}}.$error.required}" />

                                            </td>
                                            <td>
                                                <select class="custom-select"
                                                        name="ENTITLEMENT_UNIT_NAME"
                                                        ng-model="EML.UNIT_ID"
                                                        ng-disabled="true"
                                                        ng-options="EL.ENTITLEMENT_ID as EL.ENTITLEMENT_NAME for EL in ENTITLEMENT_LIST">
                                                    <option value="">-Select Entitlement Unit-</option>
                                                </select>

                                            </td>
                                            <td>
                                                <div class="form-group mb-0">
                                                    <input type="text"
                                                           class="form-control"
                                                           placeholder="Enter ..."
                                                           name="ALLOCATION{{$index}}"
                                                           ng-change="ON_VALUE_CHANGE(AL)"
                                                           required
                                                           only-digits
                                                           ng-class="{'error':AddResform.submitted && AddResform.ALLOCATION{{$index}}.$error.required}"
                                                           ng-model="EML.ALLOCATION_DAYS_CAL">
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-group mb-0">
                                                    <input type="text"
                                                           class="form-control"
                                                           placeholder="Enter ..."
                                                           name="ALREADY_ACCURED{{$index}}"
                                                           ng-change="ON_VALUE_CHANGE(AL)"
                                                           only-plus-minus
                                                           ng-class="{'error':AddResform.submitted && AddResform.ALREADY_ACCURED{{$index}}.$error.required}"
                                                           ng-model="EML.ALREADY_ACCURED">
                                                </div>
                                            </td>
                                            <td> <span ng-show="EML.LEAVE_BOOKED"> Leave booked by employee, Check and enter</span></td>
                                            <td>
                                                <a ng-click="DELETE_INS_UPD_EMP(EML)"><i class="fal fa-trash-alt fa-lg text-danger"></i></a>
                                            </td>
                                        </tr>
                                        <!--<tr >
                                            <td colspan="6">
                                                <div class="text-center" ><div class="alert bg-custom-blue"></div></div>
                                            </td>
                                        </tr>-->
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div data-ng-show="AddResform.submitted && AddResform.$invalid" class="form-group has-error errormessage badge badge-light-red w-100 p-3">
                        <span class="help-block errormessageline"><i class="fa fa-exclamation-triangle"></i> - Please provide the mandatory details to submit(marked in red).</span>
                    </div>
                    <div id="divInvlidUser" class="hideshowdiv" data-ng-show="HolidayForm.$valid">
                        <span class="help-block">{{InvalidUser}}</span>
                    </div>
                </div>
            </form>
            <div class="modal-footer">
                <button type="button" ng-disabled="LEAVE_ASSIGNEMT.length==DELETE_ASSI_EMP_LIST.length" ng-click="INS_UPD_BULK_EMPLOYEE_LEAVE()" class="btn btn-wenodo">Save</button>
            </div>
        </div>
    </div>
</div>
