<div class="card">
    <div class="card-header">
        <h5 class="heading-text-2 mt-2">{{DISPLAY_REPORT_NAME}}</h5>
        <div class="card-tools">
            <button type="button" ng-show="IS_DEP || IS_POS || IS_EMP" class="btn btn-wenodo btn-block dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Uploads
            </button>
            <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow text-sm">
                <a ng-if="CHECK_MODULE_ACCESS(1,5)?IS_DEP=true:IS_DEP=false" class="dropdown-item" ng-click="DOWNLOAD_POP_FY(16)">Uploads Department</a>
                <a ng-if="CHECK_MODULE_ACCESS(2,5)?IS_POS=true:IS_POS=false" class="dropdown-item" ng-click="DOWNLOAD_POP_FY(17)">Uploads Position</a>
                <a ng-if="CHECK_MODULE_ACCESS(3,5)?IS_EMP=true:IS_EMP=false" class="dropdown-item" ng-click="DOWNLOAD_POP_FY(19)">Uploads Employee</a>
            </div>
        </div>
    </div>
    <div class="card-body" ng-if="FLAG_ID!=19">
        <div class="col-md-12">
            <label ng-if="FLAG_ID!=16">Filter By :-</label>
            <div class="custom-control custom-checkbox d-inline" ng-show="FLAG_ID==17">
                <input class="custom-control-input" type="checkbox"
                       id="Header_Check"
                       ng-model="BulkUploadSeach.INCLUDE_INCOMPLETE">
                <label for="Header_Check" class="custom-control-label top-0">Include Incompleted </label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="input-group d-flex">
                    <input class="form-control text-xs" type="file" id="ngexcelfile_HR" ng-files="getTheFilesToUpload($files, 'fileUpl_EvtInfo', 5)" name="file" />
                    <div class="input-group-append">
                        <span class="input-group-text" ng-if="Uploading">
                            <img src="../../E_Content/images/loading.gif" style="height: 22px" />
                        </span>
                    </div>
                </div>
                <a href="../uploads/{{EXCEL_PATH}}" id="btn" download="{{DOWNLAOD_FILE_NAME}}"  target="_blank" ng-show="EXCEL_PATH!=null"  ><i class="fa fa-download"></i>{{DOWNLOAD_REPORT_NAME}}</a>
            </div>
            <div class="col-md-6">
                <!--<input type="button" value="Upload"
                       ng-disabled="$parent.Files==null || $parent.Files.length==0"
                       ng-click="UPLOAD_HR_BULK_UPLOAD()"
                       ng-class="{'cursor-pointer':$parent.Files==null || $parent.Files.length==0,'':$parent.Files.length>0}"
                       class="btn btn-wenodo">-->
                <input type="button" value="Validate"
                       ng-disabled="$parent.Files==null || $parent.Files.length==0"
                       ng-click="VALIDATE_EXCEL()"
                       ng-class="{'cursor-pointer':$parent.Files==null || $parent.Files.length==0,'':$parent.Files.length>0}"
                       class="btn btn-wenodo">
                <!--<button type="button" ng-click="GET_DATA_FOR_TEMPLATE_DOWNLOADS(0)" class="btn btn-wenodo">Download Template</button>-->
                <button type="button" ng-click="GET_DATA_FOR_TEMPLATE_DOWNLOADS_PATH(1)" class="btn btn-wenodo">{{EXPORT_DATA}}</button>
                <button type="button" ng-click="GET_DATA_FOR_TEMPLATE_DOWNLOADS_PATH(2)" class="btn btn-wenodo">{{EXPORT_TEMP}}</button>
            </div>
            <div class="col-md-12 mt-2">
                <div data-ng-show="IS_VALID_COUNT>0" class="form-group has-error errormessage badge badge-light-red w-100 p-3">
                    <span class="help-block errormessageline" style="padding-left:0px;"><i class="fa fa-exclamation-triangle"></i> - Please provide the mandatory details to submit(marked in red).</span>
                </div>
                    <div class="form-group has-error errormessage badge badge-light-red w-100 p-3" ng-repeat="CD in CODE_ARRY | unique:'CODE' ">
                        <span class="help-block errormessageline" style="padding-left:0px;" ng-if="CD.CODE=='CODE0003'"><i class="fa fa-exclamation-triangle"></i> {{CD.CODE}} - Invalid Hyperlink: Malformed URI is embedded as a hyperlink in the document.please remove hyperlink.</span>
                        <span class="help-block errormessageline" style="padding-left:0px;" ng-if="CD.CODE=='CHECK0003'">
                            <i class="fa fa-exclamation-triangle"></i> {{CD.CODE}} - Please provide True or False.
                        </span>
                        <span class="help-block errormessageline" style="padding-left:0px;" ng-if="CD.CODE=='EMAIL0009'">
                            <i class="fa fa-exclamation-triangle"></i> {{CD.CODE}} - Invalid Email.
                        </span>
                        <span class="help-block errormessageline" style="padding-left:0px;" ng-if="CD.CODE=='NUM0010'">
                            <i class="fa fa-exclamation-triangle"></i> {{CD.CODE}} - Number Only.
                        </span>
                        <span class="help-block errormessageline" style="padding-left:0px;" ng-if="CD.CODE=='NUM0011'">
                            <i class="fa fa-exclamation-triangle"></i> {{CD.CODE}} - Number/Digit Only.
                        </span>
                        <span class="help-block errormessageline" style="padding-left:0px;" ng-if="CD.CODE=='NUM0012'">
                            <i class="fa fa-exclamation-triangle"></i> {{CD.CODE}} - Negative value should not allow.
                        </span>
                        <span class="help-block errormessageline" style="padding-left:0px;" ng-if="CD.CODE=='DDL0004'">
                            <i class="fa fa-exclamation-triangle"></i> {{CD.CODE}} - Invalid spelling or either wrong input.
                            <span ng-show="CD.Suggestion.slice(2).length>0">Please select one of the suggested values </span>
                            <span ng-repeat="a in CODE_ARRY | unique:'D_COLUMN_NAME'"><br /> {{a.Suggestion.slice(2)}} </span>
                        </span>
                        <span class="help-block errormessageline" style="padding-left:0px;" ng-if="CD.CODE=='DATE0007'">
                            <i class="fa fa-exclamation-triangle"></i> {{CD.CODE}} - Please provide 'MM/DD/YYYY' format,example:'01/01/1999'.
                        </span>
                        <span class="help-block errormessageline" style="padding-left:0px;" ng-if="CD.CODE=='INVALID0011'">
                            <i class="fa fa-exclamation-triangle"></i> {{CD.CODE}} - Invalid NI Number..
                        </span>
                        <span class="help-block errormessageline" style="padding-left:0px;" ng-if="CD.CODE=='SORT0001'">
                            <i class="fa fa-exclamation-triangle"></i> {{CD.CODE}} - Sortcode and Bank Account are not valid
                        </span>
                        <span class="help-block errormessageline" style="padding-left:0px;" ng-if="CD.CODE=='SORT0002'">
                            <i class="fa fa-exclamation-triangle"></i> {{CD.CODE}} -Please provide valid bank account.
                        </span>
                        <span class="help-block errormessageline" style="padding-left:0px;" ng-if="CD.CODE=='DOB0001'">
                            <i class="fa fa-exclamation-triangle"></i> {{CD.CODE}} -Date of birth should be {{DATE_OF_BIRTH_DIFF}} years old or older.
                        </span>
                    </div>
                <span class="help-block errormessageline" style="padding-left:0px;" ng-if="DUPLICATES.length>0">
                    <i class="fa fa-exclamation-triangle"></i> -Duplicate record found to excel.
                </span>
            </div>
            <div class="text-center col-md-12" ng-show="DATA_VALIDATED_LIST.length==0" empty-grid> </div>
            <div class="table-responsive custom-scrollbar height-auto">
                <table class="table table-striped">
                    <tr>
                        <th ng-repeat="(key, value) in DATA_VALIDATED_LIST[0]" ng-show="key!='ROW_INDEX'">{{key}}</th>
                    </tr>
                    <tbody ng-repeat="ex in DATA_VALIDATED_LIST" on-finish-render="ngRepeatFinishedRender" >
                        <tr>
                            <td ng-repeat="(key, value) in ex"  ng-show="key!='ROW_INDEX'" ng-class="{'border-red':obj.IS_DATA_VALID}" ng-init="obj= ngintvalidationvalue(key,value)">
                                <span ng-show="false">{{value}}</span>
                                <span ng-class="{'border-red':obj.IS_VALID}">
                                    <span ng-show="obj.IS_VALID"><i class="fa fa-exclamation-triangle text-danger"></i></span>
                                    {{obj.DISPLAY_TEXT}}
                                </span>
                                <span ng-show="obj.IS_DATA_VALID">
                                    {{obj.CODE}}
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
        </div> 
     
        <div class="col-md-12" data-ng-show="!IS_VALID_UPLOAD_FILE && submitted">
            <div  class="form-group has-error errormessage badge badge-light-red w-100 p-3">
                <span class="help-block errormessageline" style="padding-left:0px;"><i class="fa fa-exclamation-triangle"></i> - Please provide the mandatory details to submit.</span>
            </div>
        </div>
        <div class="col-md-12">  <small><i class="fas fa-lightbulb-on text-warning"></i> Note:If multi choice column is there,please provide colon(;) separated values</small></div>
    </div>
    <div class="card-primary card-outline" ng-if="FLAG_ID==19">
        <div class="card-body p-1">
            <ul class="nav nav-tabs" id="custom-content-above-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link" ng-class="{'active':STEP_FLAG==19,'':STEP_FLAG!=19}" ng-click="TAB_CLICK(19)" id="custom-content-above-home-tab" data-toggle="pill" role="tab" aria-controls="custom-content-above-home" aria-selected="true">Profile and Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" ng-class="{'active':STEP_FLAG==20,'':STEP_FLAG!=20}" ng-click="TAB_CLICK(20)" id="custom-content-above-profile-tab" data-toggle="pill" role="tab" aria-controls="custom-content-above-profile" aria-selected="false"> Employment </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" ng-class="{'active':STEP_FLAG==22,'':STEP_FLAG!=22}" ng-click="TAB_CLICK(22);" id="custom-content-above-UnEmp-tab" data-toggle="pill" role="tab" aria-controls="custom-content-above-UnEmp" aria-selected="false"> Qualification</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" ng-class="{'active':STEP_FLAG==21,'':STEP_FLAG!=21}" ng-click="TAB_CLICK(21);" id="custom-content-above-UnEmp-tab" data-toggle="pill" role="tab" aria-controls="custom-content-above-UnEmp" aria-selected="false"> Compensation</a>
                </li>

                <li class="nav-item" ng-show="false">
                    <a class="nav-link" ng-class="{'active':STEP_FLAG==23,'':STEP_FLAG!=23}" ng-click="TAB_CLICK(23);" id="custom-content-above-UnEmp-tab" data-toggle="pill" role="tab" aria-controls="custom-content-above-UnEmp" aria-selected="false"> Leave</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" ng-class="{'active':STEP_FLAG==18,'':STEP_FLAG!=18}" ng-click="TAB_CLICK(18);" id="custom-content-above-UnEmp-tab" data-toggle="pill" role="tab" aria-controls="custom-content-above-UnEmp" aria-selected="false"> Complete Employee</a>
                </li>
                <div class="custom-control custom-checkbox ml-auto mt-2" ng-show="STEP_FLAG==18 || STEP_FLAG==19 || STEP_FLAG==20 || STEP_FLAG==21 || STEP_FLAG==22 || STEP_FLAG==23 ">
                    <input class="custom-control-input" type="checkbox"
                           id="Header_Check"
                           ng-model="BulkUploadSeach.INCLUDE_INCOMPLETE">
                    <label for="Header_Check" class="custom-control-label top-0">Include Incompleted </label>
                </div>
            </ul>
            <div class="tab-content" id="custom-content-above-tabContent">
                <div class="tab-pane fade" ng-show="STEP_FLAG==19" ng-class="{'show active':STEP_FLAG==19,'':STEP_FLAG!=19}" id="custom-content-above-home" role="tabpanel" aria-labelledby="custom-content-above-home-tab">

                    <div class="row mt-1">
                        <div class="col-md-2">
                            <label>Upload Profile and Contact Details</label>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group d-flex">
                                <input class="form-control text-xs" type="file" id="ngexcelfile_HR_19" ng-files="getTheFilesToUpload($files, 'fileUpl_EvtInfo', 5)" name="file" />
                                <div class="input-group-append">
                                    <span class="input-group-text" ng-if="Uploading">
                                        <img src="../../E_Content/images/loading.gif" style="height: 22px" />
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <input type="button" value="Validate"
                                   ng-disabled="Files==null || Files.length==0"
                                   ng-click="VALIDATE_EXCEL()"
                                   ng-class="{'cursor-pointer':Files==null || Files.length==0,'':Files.length>0}"
                                   class="btn btn-wenodo">
                            <button ng-show="Files.length>0" type="button" ng-click="RESET_CHOOSE_FILE()" class="btn btn-default">Reset</button>
                        </div>
                    </div>
                    <div class="col-md-12" data-ng-show="!IS_VALID_UPLOAD_FILE && submitted">
                        <div class="form-group has-error errormessage badge badge-light-red w-100 p-3">
                            <span class="help-block errormessageline" style="padding-left:0px;"><i class="fa fa-exclamation-triangle"></i> - Please provide the mandatory details to submit.</span>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-auto">
                            <button type="button" ng-click="GET_DATA_FOR_TEMPLATE_DOWNLOADS_PATH(1)" class="btn btn-wenodo">{{EXPORT_DATA}}</button>
                            <button type="button" ng-click="GET_DATA_FOR_TEMPLATE_DOWNLOADS_PATH(2)" class="btn btn-wenodo">{{EXPORT_TEMP}}</button>
                        </div>
                        <div class="col-md-2">
                            <a href="../uploads/{{EXCEL_PATH}}" id="btn" ng-show="DOWNLOAD_FLAG==19 && EXCEL_PATH!=null" download="{{DOWNLAOD_FILE_NAME}}"><i class="fa fa-download"></i>{{DOWNLOAD_REPORT_NAME}}</a>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" ng-show="STEP_FLAG==20" ng-class="{'show active':STEP_FLAG==20,'':STEP_FLAG!=20}" id="custom-content-above-profile" role="tabpanel" aria-labelledby="custom-content-above-profile-tab">

                    <div class="row mt-1">
                        <div class="col-md-2">
                            <label>Upload Employment Details</label>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group d-flex">
                                <input class="form-control text-xs" type="file" id="ngexcelfile_HR_20" ng-files="getTheFilesToUpload($files, 'fileUpl_EvtInfo', 5)" name="file" />
                                <div class="input-group-append">
                                    <span class="input-group-text" ng-if="Uploading">
                                        <img src="../../E_Content/images/loading.gif" style="height: 22px" />
                                    </span>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-4">
                            <input type="button" value="Validate"
                                   ng-disabled="$parent.Files==null || $parent.Files.length==0"
                                   ng-click="VALIDATE_EXCEL()"
                                   ng-class="{'cursor-pointer':$parent.Files==null || $parent.Files.length==0,'':$parent.Files.length>0}"
                                   class="btn btn-wenodo">
                            <!--<button type="button" ng-click="GET_DATA_FOR_TEMPLATE_DOWNLOADS(0)" class="btn btn-wenodo">Download Template</button>-->
                        </div>
                    </div>
                    <div class="col-md-12" data-ng-show="!IS_VALID_UPLOAD_FILE && submitted">
                        <div class="form-group has-error errormessage badge badge-light-red w-100 p-3">
                            <span class="help-block errormessageline" style="padding-left:0px;"><i class="fa fa-exclamation-triangle"></i> - Please provide the mandatory details to submit.</span>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-auto">
                            <button type="button" ng-click="GET_DATA_FOR_TEMPLATE_DOWNLOADS_PATH(1)" class="btn btn-wenodo">{{EXPORT_DATA}}</button>
                            <button type="button" ng-click="GET_DATA_FOR_TEMPLATE_DOWNLOADS_PATH(2)" class="btn btn-wenodo">{{EXPORT_TEMP}}</button>
                        </div>
                        <div class="col-md-2">
                            <a href="../uploads/{{EXCEL_PATH}}" id="btn" ng-show="DOWNLOAD_FLAG==20 && EXCEL_PATH!=null" download="{{DOWNLAOD_FILE_NAME}}"><i class="fa fa-download"></i>{{DOWNLOAD_REPORT_NAME}}</a>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" ng-show="STEP_FLAG==22" ng-class="{'show active':STEP_FLAG==22,'':STEP_FLAG!=22}" id="custom-content-above-UnEmp" role="tabpanel" aria-labelledby="custom-content-above-UnEmp-tab">
                    <div class="row mt-1">
                        <div class="col-md-2">
                            <label>Upload Qualification Details </label>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group d-flex">
                                <input class="form-control text-xs" type="file" id="ngexcelfile_HR_22" ng-files="getTheFilesToUpload($files, 'fileUpl_EvtInfo', 5)" name="file" />
                                <div class="input-group-append">
                                    <span class="input-group-text" ng-if="Uploading">
                                        <img src="../../E_Content/images/loading.gif" style="height: 22px" />
                                    </span>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-4">
                            <input type="button" value="Validate"
                                   ng-disabled="$parent.Files==null || $parent.Files.length==0"
                                   ng-click="VALIDATE_EXCEL()"
                                   ng-class="{'cursor-pointer':$parent.Files==null || $parent.Files.length==0,'':$parent.Files.length>0}"
                                   class="btn btn-wenodo">
                            <!--<button type="button" ng-click="GET_DATA_FOR_TEMPLATE_DOWNLOADS(0)" class="btn btn-wenodo">Download Template</button>-->
                        </div>
                    </div>
                    <div class="col-md-12" data-ng-show="!IS_VALID_UPLOAD_FILE && submitted">
                        <div class="form-group has-error errormessage badge badge-light-red w-100 p-3">
                            <span class="help-block errormessageline" style="padding-left:0px;"><i class="fa fa-exclamation-triangle"></i> - Please provide the mandatory details to submit.</span>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-auto">
                            <button type="button" ng-click="GET_DATA_FOR_TEMPLATE_DOWNLOADS_PATH(1)" class="btn btn-wenodo">{{EXPORT_DATA}}</button>
                            <button type="button" ng-click="GET_DATA_FOR_TEMPLATE_DOWNLOADS_PATH(2)" class="btn btn-wenodo">{{EXPORT_TEMP}}</button>
                        </div>
                        <div class="col-md-2">
                            <a href="../uploads/{{EXCEL_PATH}}" id="btn" ng-show="DOWNLOAD_FLAG==22 && EXCEL_PATH!=null" download="{{DOWNLAOD_FILE_NAME}}"><i class="fa fa-download"></i>{{DOWNLOAD_REPORT_NAME}}</a>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" ng-show="STEP_FLAG==21" ng-class="{'show active':STEP_FLAG==21,'':STEP_FLAG!=21}" id="custom-content-above-UnEmp" role="tabpanel" aria-labelledby="custom-content-above-UnEmp-tab">
                    <div class="row mt-1">
                        <div class="col-md-2">
                            <label>Upload Compensation Details</label>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group d-flex">
                                <input class="form-control text-xs" type="file" id="ngexcelfile_HR_21" ng-files="getTheFilesToUpload($files, 'fileUpl_EvtInfo', 5)" name="file" />
                                <div class="input-group-append">
                                    <span class="input-group-text" ng-if="Uploading">
                                        <img src="../../E_Content/images/loading.gif" style="height: 22px" />
                                    </span>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-4">
                            <input type="button" value="Validate"
                                   ng-disabled="$parent.Files==null || $parent.Files.length==0"
                                   ng-click="VALIDATE_EXCEL()"
                                   ng-class="{'cursor-pointer':$parent.Files==null || $parent.Files.length==0,'':$parent.Files.length>0}"
                                   class="btn btn-wenodo">
                            <!--<button type="button" ng-click="GET_DATA_FOR_TEMPLATE_DOWNLOADS(0)" class="btn btn-wenodo">Download Template</button>-->
                        </div>
                    </div>
                    <div class="col-md-12" data-ng-show="!IS_VALID_UPLOAD_FILE && submitted">
                        <div class="form-group has-error errormessage badge badge-light-red w-100 p-3">
                            <span class="help-block errormessageline" style="padding-left:0px;"><i class="fa fa-exclamation-triangle"></i> - Please provide the mandatory details to submit.</span>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-auto">
                            <button type="button" ng-click="GET_DATA_FOR_TEMPLATE_DOWNLOADS_PATH(1)" class="btn btn-wenodo">{{EXPORT_DATA}}</button>
                            <button type="button" ng-click="GET_DATA_FOR_TEMPLATE_DOWNLOADS_PATH(2)" class="btn btn-wenodo">{{EXPORT_TEMP}}</button>
                        </div>
                        <div class="col-md-2">
                            <a href="../uploads/{{EXCEL_PATH}}" id="btn" ng-show="DOWNLOAD_FLAG==21 && EXCEL_PATH!=null" download="{{DOWNLAOD_FILE_NAME}}"><i class="fa fa-download"></i>{{DOWNLOAD_REPORT_NAME}}</a>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" ng-show="STEP_FLAG==23" ng-class="{'show active':STEP_FLAG==23,'':STEP_FLAG!=23}" id="custom-content-above-home" role="tabpanel" aria-labelledby="custom-content-above-home-tab">
                    <div class="row mt-1">
                        <div class="col-md-2">
                            <label>Upload Leave Details </label>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group d-flex">
                                <input class="form-control text-xs" type="file" id="ngexcelfile_HR_23" ng-files="getTheFilesToUpload($files, 'fileUpl_EvtInfo', 5)" name="file" />
                                <div class="input-group-append">
                                    <span class="input-group-text" ng-if="Uploading">
                                        <img src="../../E_Content/images/loading.gif" style="height: 22px" />
                                    </span>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-4">
                            <input type="button" value="Validate"
                                   ng-disabled="$parent.Files==null || $parent.Files.length==0"
                                   ng-click="VALIDATE_EXCEL()"
                                   ng-class="{'cursor-pointer':$parent.Files==null || $parent.Files.length==0,'':$parent.Files.length>0}"
                                   class="btn btn-wenodo">
                            <!--<button type="button" ng-click="GET_DATA_FOR_TEMPLATE_DOWNLOADS(0)" class="btn btn-wenodo">Download Template</button>-->
                        </div>
                    </div>
                    <div class="col-md-12" data-ng-show="!IS_VALID_UPLOAD_FILE && submitted">
                        <div class="form-group has-error errormessage badge badge-light-red w-100 p-3">
                            <span class="help-block errormessageline" style="padding-left:0px;"><i class="fa fa-exclamation-triangle"></i> - Please provide the mandatory details to submit.</span>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-auto">
                            <button type="button" ng-click="GET_DATA_FOR_TEMPLATE_DOWNLOADS_PATH(1)" class="btn btn-wenodo">{{EXPORT_DATA}}</button>
                            <button type="button" ng-click="GET_DATA_FOR_TEMPLATE_DOWNLOADS_PATH(2)" class="btn btn-wenodo">{{EXPORT_TEMP}}</button>
                        </div>
                        <div class="col-md-2">
                            <a href="../uploads/{{EXCEL_PATH}}" id="btn" ng-show="DOWNLOAD_FLAG==23 && EXCEL_PATH!=null" download="{{DOWNLAOD_FILE_NAME}}"><i class="fa fa-download"></i>{{DOWNLOAD_REPORT_NAME}}</a>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" ng-show="STEP_FLAG==18" ng-class="{'show active':STEP_FLAG==18,'':STEP_FLAG!=18}" id="custom-content-above-home" role="tabpanel" aria-labelledby="custom-content-above-home-tab">
                    <div class="row mt-1">
                        <div class="col-md-2">
                            <label>Upload Complete Employee Details </label>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group d-flex">
                                <input class="form-control text-xs" type="file" id="ngexcelfile_HR_18" ng-files="getTheFilesToUpload($files, 'fileUpl_EvtInfo', 5)" name="file" />
                                <div class="input-group-append">
                                    <span class="input-group-text" ng-if="Uploading">
                                        <img src="../../E_Content/images/loading.gif" style="height: 22px" />
                                    </span>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-4">
                            <input type="button" value="Validate"
                                   ng-disabled="$parent.Files==null || $parent.Files.length==0"
                                   ng-click="VALIDATE_EXCEL()"
                                   ng-class="{'cursor-pointer':$parent.Files==null || $parent.Files.length==0,'':$parent.Files.length>0}"
                                   class="btn btn-wenodo">
                            <!--<button type="button" ng-click="GET_DATA_FOR_TEMPLATE_DOWNLOADS(0)" class="btn btn-wenodo">Download Template</button>-->
                        </div>
                    </div>
                    <div class="col-md-12" data-ng-show="!IS_VALID_UPLOAD_FILE && submitted">
                        <div class="form-group has-error errormessage badge badge-light-red w-100 p-3">
                            <span class="help-block errormessageline" style="padding-left:0px;"><i class="fa fa-exclamation-triangle"></i> - Please provide the mandatory details to submit.</span>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-auto">
                            <button type="button" ng-click="GET_DATA_FOR_TEMPLATE_DOWNLOADS_PATH(1)" class="btn btn-wenodo">{{EXPORT_DATA}}</button>
                            <button type="button" ng-click="GET_DATA_FOR_TEMPLATE_DOWNLOADS_PATH(2)" class="btn btn-wenodo">{{EXPORT_TEMP}}</button>
                        </div>
                        <div class="col-md-2">
                            <a href="../uploads/{{EXCEL_PATH}}" id="btn" ng-show="DOWNLOAD_FLAG==18 && EXCEL_PATH!=null" download="{{DOWNLAOD_FILE_NAME}}"><i class="fa fa-download"></i>{{DOWNLOAD_REPORT_NAME}}</a>
                        </div>
                    </div>
                </div>
                <small>
                    <i class="fas fa-lightbulb-on text-warning"></i>
                    <span> - If multi choice column is there, please provide colon(;) separated values. <br /> </span>
                    <span ng-show="STEP_FLAG==21"><i class="fa fa-flag-checkered text-success"></i> - If employee is on Annual salary then please enter hourly rate as "0" and vice versa.<br /> </span>
                    <span><i class="fa fa-flag-checkered text-success"></i>  -Please provide 'MM/DD/YYYY' format,example:'01/01/1999'. </span>
                </small>
            </div>
            <div class="col-md-12 mt-2">
                <div data-ng-show="IS_VALID_COUNT>0" class="form-group has-error errormessage badge badge-light-red w-100 p-3">
                    <span class="help-block errormessageline" style="padding-left:0px;"><i class="fa fa-exclamation-triangle"></i> - Please provide the mandatory details to submit(marked in red).</span>
                </div>
                <div class="form-group has-error errormessage badge badge-light-red w-100 p-3" ng-repeat="CD in CODE_ARRY | unique:'CODE' ">
                    <span class="help-block errormessageline" style="padding-left:0px;" ng-if="CD.CODE=='CODE0003'"><i class="fa fa-exclamation-triangle"></i> {{CD.CODE}} - Invalid Hyperlink: Malformed URI is embedded as a hyperlink in the document.please remove hyperlink.</span>
                    <span class="help-block errormessageline" style="padding-left:0px;" ng-if="CD.CODE=='CHECK0003'"><i class="fa fa-exclamation-triangle"></i> {{CD.CODE}} - Please provide True or False.</span>
                    <span class="help-block errormessageline" style="padding-left:0px;" ng-if="CD.CODE=='EMAIL0009'">
                        <i class="fa fa-exclamation-triangle"></i> {{CD.CODE}} - Invalid Email.
                    </span>
                    <span class="help-block errormessageline" style="padding-left:0px;" ng-if="CD.CODE=='NUM0010'">
                        <i class="fa fa-exclamation-triangle"></i> {{CD.CODE}} - Number Only.
                    </span>
                    <span class="help-block errormessageline" style="padding-left:0px;" ng-if="CD.CODE=='NUM0011'">
                        <i class="fa fa-exclamation-triangle"></i> {{CD.CODE}} - Number/Digit Only.
                    </span>
                    <span class="help-block errormessageline" style="padding-left:0px;" ng-if="CD.CODE=='NUM0012'">
                        <i class="fa fa-exclamation-triangle"></i> {{CD.CODE}} - Negative value should not allow.
                    </span>
                    <span class="help-block errormessageline" style="padding-left:0px;" ng-if="CD.CODE=='DDL0004'">
                        <i class="fa fa-exclamation-triangle"></i> {{CD.CODE}} - Invalid spelling or either wrong input.
                        <span ng-show="CD.Suggestion.slice(2).length>0">Please select one of the suggested values </span>
                        <span ng-repeat="a in CODE_ARRY | unique:'D_COLUMN_NAME'"><br />{{a.Suggestion.slice(2)}} </span>
                    </span>
                    <span class="help-block errormessageline" style="padding-left:0px;" ng-if="CD.CODE=='DATE0007'">
                        <i class="fa fa-exclamation-triangle"></i> {{CD.CODE}} - Please provide 'MM/DD/YYYY' format,example:'01/01/1999'.
                    </span>
                    <span class="help-block errormessageline" style="padding-left:0px;" ng-if="CD.CODE=='INVALID0011'">
                        <i class="fa fa-exclamation-triangle"></i> {{CD.CODE}} - Invalid NI Number..
                    </span>
                    <span class="help-block errormessageline" style="padding-left:0px;" ng-if="CD.CODE=='SORT0001'">
                        <i class="fa fa-exclamation-triangle"></i> {{CD.CODE}} - Sortcode and Bank Account are not valid
                    </span>
                    <span class="help-block errormessageline" style="padding-left:0px;" ng-if="CD.CODE=='SORT0002'">
                        <i class="fa fa-exclamation-triangle"></i> {{CD.CODE}} -Please provide valid bank account.
                    </span>
                    <span class="help-block errormessageline" style="padding-left:0px;" ng-if="CD.CODE=='DOB0001'">
                        <i class="fa fa-exclamation-triangle"></i> {{CD.CODE}} -Date of birth should be {{DATE_OF_BIRTH_DIFF}} years old or older.
                    </span>

                </div>
                <div class="form-group has-error errormessage badge badge-light-red w-100 p-3" ng-show="DUPLICATES.length>0">
                    <span class="help-block errormessageline" style="padding-left:0px;" ng-if="DUPLICATES.length>0">
                        <i class="fa fa-exclamation-triangle"></i> -Duplicate record found an excel.
                    </span>
                </div>
            </div>

            <div class="table-responsive custom-scrollbar height-auto" ng-show="DUPLICATES.length>0">
                <h5>Duplicate Record</h5>
                <table class="table table-striped">
                    <tr>
                        <th class="text-nowrap" ng-repeat="(key, value) in DUPLICATES[0]" ng-show="key!='ROW_INDEX'">{{key}}</th>
                    </tr>
                    <tbody ng-repeat="ex in DUPLICATES">
                        <tr>
                            <td ng-repeat="(key, value) in ex" ng-show="key!='ROW_INDEX'" ng-init="obj=ngintvalidationDubvalue(key,value)">
                                <span ng-show="false">{{value}}</span>
                                {{obj.DISPLAY_TEXT}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="text-center col-md-12" ng-show="DATA_VALIDATED_LIST.length==0" empty-grid> </div>
            <h5 ng-show="DATA_VALIDATED_LIST.length>0">Excel Record</h5>
            <div class="table-responsive custom-scrollbar height-450">
                <table class="table table-striped table-hover table-head-fixed">
                    <thead>
                        <tr>
                            <th class="text-nowrap" ng-repeat="(key, value) in DATA_VALIDATED_LIST[0]" ng-show="key!='ROW_INDEX'">{{key}}</th>
                        </tr>
                    </thead>
                    <tbody ng-repeat="ex in DATA_VALIDATED_LIST" on-finish-render="ngRepeatFinishedRender">
                        <tr>
                            <td ng-repeat="(key, value) in ex" ng-show="key!='ROW_INDEX'" ng-style="key=='COMMENTS' && {'min-width':'600px'}" ng-class="{'border-red':obj.IS_DATA_VALID}" ng-init="obj=ngintvalidationvalue(key,value)">
                                <span ng-show="false">{{value}}</span>
                                <span ng-class="{'border-red':obj.IS_VALID}">
                                    <span ng-show="obj.IS_VALID"><i class="fa fa-exclamation-triangle text-danger"></i></span>
                                    {{obj.DISPLAY_TEXT}}
                                </span>
                                <span ng-show="obj.IS_DATA_VALID">
                                    {{obj.CODE}}
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
<div class="card-footer">
    <button type="button"  ng-show="!IS_DB_VALID_FILE && IS_VALID_UPLOAD_FILE && CODE_ARRY.length==0 && DUPLICATES.length==0"  ng-click="VALIDATE_DB_EXCEL()" class="btn btn-w-default" >Submit</button>
    <button type="button" ng-show="submitted" ng-click="RESET_EXCEL()" class="btn btn-w-default">Reset</button>
</div>