@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript">

        var AppVersion = @System.Configuration.ConfigurationManager.AppSettings["AppVersion"].ToString();

       // var AppVersion = 84934845;
    </script>
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/E_Content/css/Main")
    @Scripts.Render("~/E_Content/Scripts/Main")
    @Scripts.Render("~/E_Scripts/Common")
    <script src="~/AngularControllers/CommonMethod.js?@System.Configuration.ConfigurationManager.AppSettings["AppVersion"].ToString()"></script>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="~/E_Content/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css" rel="stylesheet" />
    <link href="~/E_Content/CustomCss/hr-admin.min.css" rel="stylesheet" />
    <link href="~/E_Content/CustomCss/Wenodo_all-skins.min.css" rel="stylesheet" />
    <script src="~/E_Content/CustomCss/hr-admin.min.js"></script>
    <link href="~/E_Content/plugins/select2/css/select2.min.css" rel="stylesheet" />
    <link href="~/E_Content/CustomCss/hr-custom.css" rel="stylesheet" />
    <title>MasterDashboard</title>
</head>
<body>
    <div class="wrapper">
        <nav class="main-header navbar navbar-expand navbar-white navbar-light ml-0">
            <a href="../Dashboard/Index#!/{{DEFAULT_PAGE_PATH}}">
                <img src="~/E_Content/images/logo.png" class="img-fluid" style="max-width:100px;" />
            </a>

            <ul class="navbar-nav ml-auto text-sm mt-2">
                <!-- Messages Dropdown Menu -->
                <li class="nav-item"><a class="nav-link app-text">Resources</a></li>
                <li class="nav-item"><a class="nav-link app-text">Contact</a></li>

                <li class="nav-item dropdown">
                    @*<a class="nav-link app-text pt-0 dropdown-toggle" data-toggle="dropdown">
                        <img src="../dist/img/user1-128x128.jpg" alt="User Avatar" class="img-size-32 mr-3 img-circle">
                        {{User_Name}}
                        <span class="caret"></span>
                    </a>*@

                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                        <a class="dropdown-item">
                            <!-- Message Start -->
                            <div class="media">
                                <img src="../dist/img/user1-128x128.jpg" alt="User Avatar" class="img-size-50 mr-3 img-circle">
                                <div class="media-body">
                                    <h3 class="dropdown-item-title">
                                        Brad Diesel
                                        <span class="float-right text-sm text-danger"><i class="fas fa-star"></i></span>
                                    </h3>
                                    <p class="text-sm">Call me whenever you can...</p>
                                    <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                                </div>
                            </div>
                            <!-- Message End -->
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item">
                            <!-- Message Start -->
                            <div class="media">
                                <img src="../dist/img/user8-128x128.jpg" alt="User Avatar" class="img-size-50 img-circle mr-3">
                                <div class="media-body">
                                    <h3 class="dropdown-item-title">
                                        John Pierce
                                        <span class="float-right text-sm text-muted"><i class="fas fa-star"></i></span>
                                    </h3>
                                    <p class="text-sm">I got your message bro</p>
                                    <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                                </div>
                            </div>
                            <!-- Message End -->
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item">
                            <!-- Message Start -->
                            <div class="media">
                                <img src="../dist/img/user3-128x128.jpg" alt="User Avatar" class="img-size-50 img-circle mr-3">
                                <div class="media-body">
                                    <h3 class="dropdown-item-title">
                                        Nora Silvester
                                        <span class="float-right text-sm text-warning"><i class="fas fa-star"></i></span>
                                    </h3>
                                    <p class="text-sm">The subject goes here</p>
                                    <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                                </div>
                            </div>
                            <!-- Message End -->
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item dropdown-footer">See All Messages</a>
                    </div>
                </li>
            </ul>
        </nav>

        <div class="content-wrapper ml-0">
            <section class="content">
                <div class="container">
                    <div class="at-grid" data-column="5">
                        <div class="at-column">
                            <div class="at-user">
                                <div class="at-user__avatar"><i class="fal fa-dollar-sign fa-4x app-text"></i></div>
                                <div class="at-user__name">Cashup</div>
                                <ul class="at-social">
                                    <li class="at-social__item">
                                        <button class="btn btn-wenodo btn-block"><i class="fal fa-share-all fa-flip-vertical"></i></button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="at-column">
                            <div class="at-user">
                                <div class="at-user__avatar"><i class="fal fa-person-carry fa-4x app-text"></i></div>
                                <div class="at-user__name">Human Resource</div>
                                <ul class="at-social">
                                    <li class="at-social__item">
                                        <button class="btn btn-wenodo btn-block"><i class="fal fa-share-all fa-flip-vertical"></i></button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="at-column">
                            <div class="at-user">
                                <div class="at-user__avatar"><i class="fal fa-inventory fa-4x app-text"></i></div>
                                <div class="at-user__name">Inventory</div>
                                <ul class="at-social">
                                    <li class="at-social__item">
                                        <button class="btn btn-wenodo btn-block"><i class="fal fa-share-all fa-flip-vertical"></i></button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="at-column">
                            <div class="at-user">
                                <div class="at-user__avatar"><i class="fal fa-calculator-alt fa-4x app-text"></i></div>
                                <div class="at-user__name">Accounting</div>
                                <ul class="at-social">
                                    <li class="at-social__item">
                                        <button class="btn btn-wenodo btn-block"><i class="fal fa-share-all fa-flip-vertical"></i></button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="at-column">
                            <div class="at-user">
                                <div class="at-user__avatar"><i class="fal fa-money-check-edit-alt fa-4x app-text"></i></div>
                                <div class="at-user__name">Purchase Order</div>
                                <ul class="at-social">
                                    <li class="at-social__item">
                                        <button class="btn btn-wenodo btn-block"><i class="fal fa-share-all fa-flip-vertical"></i></button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="at-column">
                            <div class="at-user">
                                <div class="at-user__avatar"><i class="fal fa-file-invoice fa-4x app-text"></i></div>
                                <div class="at-user__name">Invoicing</div>
                                <ul class="at-social">
                                    <li class="at-social__item">
                                        <button class="btn btn-wenodo btn-block"><i class="fal fa-share-all fa-flip-vertical"></i></button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <footer class="hr-dashboard-main-footer">
            <div class="row">
                <div class="col-md-6 app-text font-14 d-flex"><span class="mt-2">Powered by </span><a target="_blank" href="http://wenodo.com/"><img src="~/E_Content/images/logo.png" class="img-fluid footer-logo" /></a></div>
                <div class="col-md-6 text-right">
                    <div class="footer-links mt-1">
                        <a href="#">Contact</a>
                        <a href="#">Cookies</a>
                        <a href="#">Privacy Policy</a>
                    </div>
                </div>
            </div>
        </footer>

    </div>
</body>
</html>

<div id="return-to-top"><i class="fa fa-arrow-up" aria-hidden="true"></i></div>

<script src="~/E_Content/plugins/sweetalert2/sweetalert2.min.js"></script>
<script src="~/AngularControllers/RouteProvider.js?@System.Configuration.ConfigurationManager.AppSettings["AppVersion"].ToString()"></script>
<script src="~/AngularControllers/Angular_Directive.js?@System.Configuration.ConfigurationManager.AppSettings["AppVersion"].ToString()"></script>
<script src="~/AngularControllers/MasterCntrl.js?@System.Configuration.ConfigurationManager.AppSettings["AppVersion"].ToString()"></script>
<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.1.2.js"></script>
<script src="~/E_Content/plugins/select2/js/select2.full.min.js"></script>