<div class="card">
    <div class="card-header">
        <h5 class="card-title">Request</h5>
        <div class="card-tools ml-auto">
            <ul class="nav nav-pills" ng-show="CheckSubModuleAccess(131)">
                <li class="nav-item"><button type="button" class="btn btn-wenodo mr-2" data-toggle="modal" data-target="#Create_PR">Create Request</button></li>
            </ul>
        </div>
    </div>
    <div class="card-body">
        <form id="SearchForm" name="SearchForm" novalidate>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label class="d-block">Branch Name</label>
                        <select class="custom-select custom-select-sm"
                                name="BRANCH_ID"
                                ng-model="PurchaseRequestSearch.FILTER_BRANCH_ID"
                                ng-options="CL.BRANCH_ID as CL.BRANCH_NAME for CL in BRANCH_LOGIN_LIST">
                            <option value="">- Select Branch-</option>
                        </select>
                    </div>

                </div>
                <div class="col">
                    <div class="form-group">
                        <label class="d-block">Request #</label>
                        <input type="text"
                               class="form-control form-control-sm"
                               placeholder="Filter by Request # "
                               ng-model="PurchaseRequestSearch.FILTER_PR_NUMBER" />
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label class="d-block">Request Date</label>
                        <div id="reportrangeInvRecView" class="custom-select custom-select-sm custom-date text-xs pt-1">
                            <i class="fa fa-calendar-alt"></i>
                            <span></span><b class="caret"></b>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label class="d-block">Item  / Description </label>
                        <input type="text"
                               class="form-control form-control-sm"
                               placeholder="Filter by item  / description "
                               ng-model="PurchaseRequestSearch.FILTER_ITEM_NAME" />
                    </div>
                </div>
                <div class="col" ng-show="false">
                    <div class="form-group">
                        <label class="d-block">Urgent Requests</label>
                        <select class="custom-select custom-select-sm"
                                name="URGENT_ID"
                                ng-model="PurchaseRequestSearch.FILTER_URGENT_REQUESTS"
                                ng-options="CL.ID as CL.NAME for CL in UREGENT_REQUEST_LIST">
                            <option value="">- Select Urgent Requests-</option>
                        </select>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label class="d-block">Status</label>
                        <select class="custom-select custom-select-sm"
                                name="BRANCH_ID"
                                ng-model="PurchaseRequestSearch.FILTER_STATUS_ID"
                                ng-options="CL.STATUS_ID as CL.STATUS_NAME for CL in STATUS_LIST">
                            <option value="">- Select Status-</option>
                        </select>
                    </div>
                </div>

                <div class="col-auto">
                    <div class="form-group">
                        <label class="d-block">&nbsp;</label>
                        <button type="submit" ng-click="GET_PURCHASE_REQUEST(1)" click-once class="btn btn-sm btn-wenodo">Search</button>
                        <button type="button" ng-click="RESET_PR_REQUEST()" click-once class="btn btn-sm btn-w-default">Reset</button>
                    </div>
                </div>
            </div>
            </form>
            <div class="row align-content-center mn-height-66vh" ng-show="PURCHASE_REQUEST_LIST.length==0">
                <div class="col-md-12 text-center">
                    <h5 class="text-muted">
                        <span class="d-block mb-3">
                            <img src="../../../E_Content/images/sorted.png" />
                        </span>
                        Everything's sorted!
                    </h5>
                </div>
            </div>
            <div class="table-responsive custom-scrollbar height-72vh" ng-show="PURCHASE_REQUEST_LIST.length>0">
                <table class="table table-hover table-striped table-head-fixed">
                    <thead class="bg-wenodo-border">
                        <tr>
                            <th width="5%">Request #</th>
                            <th width="8%">Request Date</th>
                            <th width="12%">Branch</th>
                            <th width="15%">Item Name</th>
                            <th>Description</th>
                            <th width="10%">Quantity</th>
                            <th width="8%">Status</th>
                            <th class="text-center" width="5%">Actions</th>
                        </tr>
                    </thead>
                    <tbody ng-repeat="RL in PURCHASE_REQUEST_LIST" on-finish-render="ngRepeatFinishedRender">
                        <tr>
                            <td ng-click="PR_VIEW_POP(RL)">{{RL.PR_NUMBER}}</td>
                            <td ng-click="PR_VIEW_POP(RL)"><i ng-show="RL.CREATED_DATE!=null" class="far fa-calendar-alt text-blue"></i> {{RL.CREATED_DATE | date}}</td>
                            <td ng-click="PR_VIEW_POP(RL)">{{RL.BRANCH_NAME}}</td>
                            <td ng-click="PR_VIEW_POP(RL)"><span class="text-limit-2">{{RL.ITEM_NAME}}</span></td>
                            <td ng-click="PR_VIEW_POP(RL)"><span class="text-limit-2">{{RL.DESCRIPTION}}</span></td>
                            <td ng-click="PR_VIEW_POP(RL)">{{RL.QUANTITY  | number :2}}</td>
                            <td>
                                <span ng-class="{'badge-light-orange':RL.STATUS_ID==68,' badge-light-blue':RL.STATUS_ID==69,' badge-light-green':RL.STATUS_ID==70,' badge-danger':RL.STATUS_ID==71 ||RL.STATUS_ID==73,' badge-success':RL.STATUS_ID==72}" class="badge">
                                    {{RL.STATUS_NAME}}
                                </span>
                            </td>
                            <td class="text-center">
                                <span class="far fa-eye cursor-pointer" ng-show="false" data-toggle="tooltip" data-html="true" data-original-title="View" ng-click="PR_VIEW_POP(RL)"></span>
                                <span class="far fa-times-circle text-danger cursor-pointer"
                                      ng-show="(RL.STATUS_ID==68 || RL.STATUS_ID==69 || RL.STATUS_ID==70) && (RL.REQUESTOR_ID==$parent.USER_ID || CheckSubModuleAccess(134))"
                                      data-toggle="tooltip"
                                      data-html="true"
                                      data-original-title="Discard"
                                      ng-click="DISCARD_PURCHASE_REQUEST_POP(RL)"></span>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot class="table-footer-fixed">
                        <tr>
                            <td colspan="7" align="center">
                                <a ng-show="GetData" class="btn btn-sm btn-secondary text-white"
                                   click-once
                                   ng-click="GET_PURCHASE_REQUEST()">{{VIEWMORERECORD}}</a>
                            </td>
                            <td class="text-right">
                                <div class="d-flex float-right">
                                    <label class="mt-1 mr-2 text-nowrap">Show Records</label>
                                    <div class="">
                                        <select class="custom-select" style="width:65px;"
                                                name="STATUS_TYPE"
                                                data-placeholder="Show Records"
                                                ng-model="PurchaseRequestSearch.PAGE_SIZE"
                                                ng-change="GET_PURCHASE_REQUEST(1,SORT_COLUMN_NO, SORT_ORDER_NO_ASCDESC,1)"
                                                ng-options="PA.ID  as PA.NAME for PA in (PAGE_ARRAY_LIST)"></select>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tfoot>

                </table>
            </div>
    </div>
</div>
<div class="modal fade show" id="Create_PR">
    <form id="RequestForm" name="RequestForm" novalidate>
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Create Request</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body custom-scrollbar">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label>Item Name <span class="text-danger">*</span></label>
                                <input type="text"
                                       name="ITEM_NAME"
                                       class="form-control"
                                       maxlength="200"
                                       ng-model="PurchaseRequestSearch.ITEM_NAME"
                                       placeholder="Enter item name"
                                       required
                                       ng-class="{'error':RequestForm.submitted && RequestForm.ITEM_NAME.$error.required}" />
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Branch Name <span class="text-danger">*</span></label>
                                <select class="custom-select custom-select-sm min-w-250"
                                        name="BRN"
                                        data-placeholder="Select Branch"
                                        ng-change="BRANCH_CHANGE()"
                                        ng-model="PurchaseRequestSearch.BRANCH_ID"
                                        ng-options="IS.BRANCH_ID  as IS.BRANCH_NAME for IS in (BRANCH_LOGIN_LIST)"
                                        required
                                        ng-class="{'error':RequestForm.submitted && RequestForm.BRN.$error.required}">
                                    <option value="">--Select--</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Description <span class="text-danger">*</span></label>
                                <textarea class="form-control" rows="3"
                                          name="ITEM_DESC"
                                          ng-model="PurchaseRequestSearch.DESCRIPTION"
                                          placeholder="Enter item description"
                                          required
                                          maxlength="2000"
                                          ng-class="{'error':RequestForm.submitted && RequestForm.ITEM_DESC.$error.required}" />
                                <span class="d-block text-grey text-xs semibold mb-2">{{2000 - PurchaseRequestSearch.DESCRIPTION.length}} Character Remaining </span>
                            </div>
                        </div>
                    </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="d-block">Quantity <span class="text-danger">*</span></label>
                                    <input type="text" class="form-control"
                                           name="QUANTITY"
                                           placeholder="Enter quantity"
                                           ng-model="PurchaseRequestSearch.QUANTITY"
                                           only-digits
                                           maxlength="13"
                                           required
                                           ng-class="{'error':RequestForm.submitted && RequestForm.QUANTITY.$error.required}">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="d-block">UOM</label>
                                    <input type="text"
                                           class="form-control"
                                           name="UOM"
                                           maxlength="30"
                                           placeholder="Enter UOM"
                                           ng-model="PurchaseRequestSearch.UOM_NAME">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="d-block">Expected Amount <span class="text-danger">*</span></label>
                                    <input type="text"
                                           class="form-control"
                                           only-digits
                                           maxlength="13"
                                           placeholder="Enter expected amount"
                                           name="EXPECTED_PRICE"
                                           required
                                           ng-model="PurchaseRequestSearch.EXPECTED_PRICE"
                                           ng-class="{'error':RequestForm.submitted && RequestForm.EXPECTED_PRICE.$error.required}" />
                                </div>
                            </div>
                            <div class="col-md-4" ng-show="PurchaseRequestSearch.BASE_CURRENCY_ID!=PurchaseRequestSearch.PR_CURRENCY_ID">
                                <label class="d-block">PR Currency </label>
                                <div class="form-inline mb-2">
                                    <label class="mr-2">1  &nbsp;{{PurchaseRequestSearch.BASE_CURRENCY_NAME }} = </label>
                                    <input type="text"
                                           class="form-control"
                                           name="CURRENCY_CONVER"
                                           placeholder="Enter value"
                                           maxlength="10"
                                           only-digits
                                           ng-model="PurchaseRequestSearch.BASE_TO_PR_CONVERSION_RATE"
                                           ng-class="{'error':POForm.submitted && POForm.CURRENCY_CONVER.$error.required}" />
                                    <!--<label class="mr-2">  &nbsp;{{PurchaseRequestSearch.PR_CURRENCY_NAME }} </label>-->
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="mb-2">
                                    <label class="d-block" ng-show="PurchaseRequestSearch.BASE_CURRENCY_ID==PurchaseRequestSearch.PR_CURRENCY_ID">PR Currency </label>
                                    <label class="d-block" ng-show="PurchaseRequestSearch.BASE_CURRENCY_ID!=PurchaseRequestSearch.PR_CURRENCY_ID">&nbsp;</label>
                                    <select class="custom-select mw-150"
                                            name="CURRENCY_ID"
                                            ng-model="PurchaseRequestSearch.PR_CURRENCY_ID"
                                            ng-change="CHANGE_CURRENCY()"
                                            ng-options="T.CURRENCY_ID as T.DISPLAY_TEXT +'-' + T.CURRENCY_NAME for T in CURRENCY_LIST"
                                            ng-class="{'error':POForm.submitted && POForm.CURRENCY_ID.$error.required}"></select>
                                </div>
                            </div>



                        </div>


                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="d-block">Suggested Suppliers</label>
                                    <input type="text"
                                           class="form-control"
                                           placeholder="Enter suggested suppliers"
                                           maxlength="100"
                                           name="SUPPLIERS"
                                           ng-model="PurchaseRequestSearch.SUGGESTED_SUPPLIER" />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="d-block">Required Date</label>
                                    <input type="text" class="form-control dateinput"
                                           name="REQUIRED_DATE"
                                           readonly
                                           placeholder="Select required date"
                                           ng-model="PurchaseRequestSearch.REQUIRED_DATE" />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="d-block">&nbsp;</label>
                                    <div class="form-group">
                                        <span class="bigcheck">
                                            <label class="bigcheck mb-0">
                                                <input type="checkbox"
                                                       class="bigcheck"
                                                       name="URGENT_REQUEST"
                                                       ng-model="PurchaseRequestSearch.URGENT_REQUEST"
                                                       id="DUPitem" />
                                                <span class="bigcheck-target"></span>
                                            </label>
                                            <span class="font-12 ">Urgent Request</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 my-3">
                                <div class="upload-files-container">
                                    <div class="drag-file-area mx-100 w-100">
                                        <input type="file" class="default-file-input w-100"
                                               id="upl_PURCHASE_REQUEST1"
                                               ng-model="PurchaseRequestSearch.UploadedFiles"
                                               ng-files="getTheFilesToUpload($files,'upl_PURCHASE_REQUEST1',5,PurchaseRequestSearch,PurchaseRequestSearch.UPLOADE_TYPE_ID,1,'PURCHASE_REQUEST' ,3,'P2P_Upload_Path','P2P')" />
                                        <label class="browse-files-text btn btn-wenodo m-auto" for="upl_PURCHASE_REQUEST1"><i class="far fa-upload"></i> Upload</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="file-block" ng-repeat="file in PurchaseRequestSearch.UploadedFiles">
                                    <div class="file-info">
                                        <i class="far fa-file-alt file-icon"></i>
                                        <a href="/P2PFiles/{{file.FILE_PATH}}{{file.SERVER_FILE_NAME}}" download="/P2PFiles/{{file.FILE_PATH}}{{file.SERVER_FILE_NAME}}"> <span class="text-limit-1 font-12">{{file.ORIGINAL_FILE_NAME}} </span></a>
                                    </div>
                                    <span class="remove-file-icon" ng-click="REMOVE_FILTE($index,file)"><i class="fa fa-times"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Comment <span ng-show="PurchaseRequestSearch.URGENT_REQUEST" class="text-danger">*</span></label>
                                <textarea class="form-control" rows="3"
                                          name="COMMENT"
                                          maxlength="2000"
                                          ng-required="PurchaseRequestSearch.URGENT_REQUEST"
                                          ng-model="PurchaseRequestSearch.COMMENTS"
                                          placeholder="Type your valuable comment"
                                          ng-class="{'error':RequestForm.submitted && RequestForm.COMMENT.$error.required}" />
                                <span class="d-block text-grey text-xs semibold mb-2">{{2000 - PurchaseRequestSearch.COMMENTS.length}} Character Remaining </span>
                            </div>


                        </div>
                    
                </div>
                <div class="col-md-12">
                    <div data-ng-show="RequestForm.submitted && RequestForm.$invalid" class="form-group has-error errormessage badge badge-light-red w-100 p-3">
                        <span class="help-block errormessageline" style="padding-left:0px;"><i class="fa fa-exclamation-triangle"></i> - Please provide the mandatory details to submit(marked in red).</span>
                    </div>
                    <div id="divInvlidUser" class="hideshowdiv" data-ng-show="RequestForm.$valid">
                        <span class="help-block">{{InvalidUser}}</span>
                    </div>
                </div>


                <div class="modal-footer">
                    <button type="button" ng-click="INS_PURCHASE_REQUEST()" click-once class="btn btn-wenodo">Save</button>
                    <button type="button" ng-click="RESET_PURCHASE_REQUEST()" class="btn btn-w-default">Reset</button>
                    <button type="button" class="btn btn-w-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal fade show" id="VIEW_PR">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    View Request # {{PR_VIEW_DETAILS.PR_NUMBER}}
                    <span ng-class="{'badge-light-orange':PR_VIEW_DETAILS.STATUS_ID==68,' badge-light-blue':PR_VIEW_DETAILS.STATUS_ID==69,' badge-light-green':PR_VIEW_DETAILS.STATUS_ID==70,' badge-danger':PR_VIEW_DETAILS.STATUS_ID==71 ||PR_VIEW_DETAILS.STATUS_ID==73,' badge-success':PR_VIEW_DETAILS.STATUS_ID==72}" class="badge">
                        {{PR_VIEW_DETAILS.STATUS_NAME}}
                    </span>
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body custom-scrollbar">
                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group">
                            <label class="d-block">Item Name <span class="text-danger">*</span></label>
                            <span class="po-details">{{PR_VIEW_DETAILS.ITEM_NAME}}</span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="d-block">Branch Name <span class="text-danger">*</span></label>
                            {{PR_VIEW_DETAILS.BRANCH_NAME}}
                        </div>
                    </div>
                    <div class="col-md-12 border-top border-bottom">
                        <div class="form-group mt-3">
                            <label class="d-block">Description <span class="text-danger">*</span></label>
                            <span class="text-muted text-sm">{{PR_VIEW_DETAILS.DESCRIPTION}}</span>
                        </div>
                    </div>
                    <div class="col-md-4 mt-2">
                        <div class="form-group">
                            <label class="d-block">Quantity <span class="text-danger">*</span></label>
                            {{PR_VIEW_DETAILS.QUANTITY  | number :2}}
                        </div>
                    </div>
                    <div class="col-md-4 mt-2">
                        <div class="form-group">
                            <label class="d-block">UOM</label>
                            {{PR_VIEW_DETAILS.UOM_NAME=='' || PR_VIEW_DETAILS.UOM_NAME==null?'-':PR_VIEW_DETAILS.UOM_NAME}}
                        </div>
                    </div>
                    <div class="col-md-4 mt-2">
                        <div class="form-group">
                            <label class="d-block">Expected Amount <span class="text-danger">*</span></label>
                            {{PR_VIEW_DETAILS.EXPECTED_PRICE | number :2}}
                            <span ng-bind-html="CURRENCY_CODE"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="d-block">Suggested Suppliers</label>
                            {{PR_VIEW_DETAILS.SUGGESTED_SUPPLIER==null?'-':PR_VIEW_DETAILS.SUGGESTED_SUPPLIER}}
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="d-block">Required Date</label>

                            {{PR_VIEW_DETAILS.REQUIRED_DATE ==null?'-':(PR_VIEW_DETAILS.REQUIRED_DATE | date)}}
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="d-block">Urgent Request </label>
                            <span> {{PR_VIEW_DETAILS.URGENT_REQUEST?'Yes':'No'}}</span>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="d-block">Comment <span class="text-danger" ng-show="PR_VIEW_DETAILS.URGENT_REQUEST">*</span></label>
                            <blockquote class="text-sm">{{PR_VIEW_DETAILS.COMMENTS ==null?'-':PR_VIEW_DETAILS.COMMENTS}}</blockquote>
                        </div>
                    </div>
                    <div class="col-md-12 mt-1">
                        <label class="d-block">Attachment</label>
                        <div class="text-sm" ng-show="PR_VIEW_DETAILS.UploadedFiles.length==0">No Attachment</div>
                        <div class="row">
                            <div class="col-md-4" ng-repeat="file in PR_VIEW_DETAILS.UploadedFiles">
                                <div class="file-block">
                                    <div class="file-info">
                                        <i class="far fa-file-alt file-icon"></i>
                                        <a href="/P2PFiles/{{file.FILE_PATH}}{{file.SERVER_FILE_NAME}}" download="{{file.ORIGINAL_FILE_NAME}}"> <span class="text-limit-1 font-12">{{file.ORIGINAL_FILE_NAME}} </span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-3"></div>
                <div class="card" ng-show="PR_VIEW_DETAILS.STATUS_ID!=72">
                    <div class="card-header">
                        <h5 class="card-title">
                            {{PR_VIEW_DETAILS.STATUS_ID==73?'Cancelled By':PR_VIEW_DETAILS.STATUS_ID==71?'Rejected By':'Pending On'}}
                        </h5>
                    </div>
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-md-3" ng-repeat-start="STS in PR_VIEW_DETAILS.STATUS_DTLS">
                                {{STS.NAME}}
                                <span class="d-block font-12">{{STS.PRIMARY_EMAIL}}</span>
                            </div>
                            <div class="col-md-12" ng-repeat-end  ng-show="PR_VIEW_DETAILS.STATUS_ID==71 || STS.COMMENTS!=null">
                                <div class="form-group mt-2" >
                                    <label class="d-block">Comment</label>
                                    <blockquote class="text-sm">{{STS.COMMENTS}}</blockquote>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade show" id="Comments">
    <form id="formcomments" name="formcomments" novalidate>
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">  Cancellation comment on request # {{DISCARD_DTLS.PR_NUMBER}}-{{DISCARD_DTLS.ITEM_NAME}}</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body custom-scrollbar">
                    <div class="form-group">
                        <label>Your Comments <span class="text-danger">*</span></label>
                        <textarea class="form-control"
                                  rows="5"
                                  required
                                  name="discardcomments"
                                  maxlength="500"
                                  ng-model="DISCARD_DTLS.DISCARD_COMMENTS"
                                  ng-class="{'error':formcomments.submitted && formcomments.discardcomments.$error.required}" />
                        <span class="d-block text-grey text-xs semibold mb-2">{{500 - DISCARD_DTLS.DISCARD_COMMENTS.length}} Character Remaining </span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-wenodo" ng-click="DISCARD_PURCHASE_REQUEST(DISCARD_DTLS)">Submit</button>
                    <button type="button" class="btn btn-w-default" ng-click="RESET_DISCARD()">Reset</button>
                    <button type="button" class="btn btn-w-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </form>
</div>