<form id="GRPForm" name="GRPForm" novalidate>
    <div class="card-header">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>Group Name:</label>
                    <input type="text"
                           class="form-control"
                           maxlength="250"
                           name="GROUP_NAME"
                           ng-model="GroupSearch.GROUP_NAME"
                           placeholder="Enter ..."                           
                           required
                           ng-class="{'error':GRPForm.submitted && GRPForm.GROUP_NAME.$error.required}">

                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Group Description :</label>
                    <input type="text"
                           class="form-control"
                           maxlength="250"
                           name="GROUP_DESCRIPTION"
                           ng-model="GroupSearch.GROUP_DESCRIPTION"
                           placeholder="Enter ..."                           
                           required
                           ng-class="{'error':GRPForm.submitted && GRPForm.GROUP_DESCRIPTION.$error.required}">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Group Code :</label>
                    <input type="text"
                           class="form-control"
                           maxlength="250"
                           name="GROUP_CODE"
                           ng-model="GroupSearch.GROUP_CODE"
                           placeholder="Enter ..."
                           required
                           ng-class="{'error':GRPForm.submitted && GRPForm.GROUP_CODE.$error.required}">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Customer:</label>
                    <select class="custom-select"
                            name="CUSTOMER_ID"
                            ng-model="AbsenceTypeSearch.CUSTOMER_ID"
                            ng-options="CT.CUSTOMER_ID as CT.CUSTOMER_NAME for CT in CUSTOMER_LIST"
                            required
                            ng-change="GET_ENTITY_LIST()"
                            ng-class="{'error':GRPForm.submitted && GRPForm.ENTITY_ID.$error.required}">
                        <option value="">- Please Select Customer-</option>
                    </select>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label>Entity :</label>
                    <select class="custom-select"
                            name="ENTITY_ID"
                            ng-model="GroupSearch.ENTITY_ID"
                            ng-options="EL.ENTITY_ID as EL.ENTITY_NAME for EL in ENTITY_LIST"
                            required
                            ng-change="GET_LOCATION()"
                            ng-class="{'error':GRPForm.submitted && GRPForm.ENTITY_ID.$error.required}">
                        <option value="">- Please Select Entity-</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Cost Center :</label>
                    <select class="custom-select"
                            name="COST_CENTER_ID"
                            ng-model="GroupSearch.COST_CENTER_ID"
                            ng-options="CC.COST_CENTER_ID as (CC.COST_CENTER_CODE+ '-' +CC.COST_CENTER_DESCRIPTION) for CC in COST_CENTER_LIST"
                            required
                            ng-change="GET_LOCATION()"
                            ng-class="{'error':GRPForm.submitted && GRPForm.COST_CENTER_ID.$error.required}">
                        <option value="">- Please Select Cost Center-</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Location :</label>
                    <select class="custom-select"
                            name="ENTITY_ID"
                            ng-model="GroupSearch.LOCATION_ID"
                            ng-options="EL.LOCATION_ID as EL.LOCATION_NAME for EL in LOCATION"
                            required
                            ng-class="{'error':GRPForm.submitted && GRPForm.ENTITY_ID.$error.required}">
                        <option value="">- Please Select Location-</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Branch :</label>
                    <select class="custom-select"
                            name="BRANCH_ID"
                            ng-model="GroupSearch.BRANCH_ID"
                            ng-options="EL.BRANCH_ID as EL.BRANCH_NAME for EL in BRANCH_LIST"
                            required
                            ng-class="{'error':GRPForm.submitted && GRPForm.BRANCH_ID.$error.required}">
                        <option value="">- Please Select Branch-</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Area :</label>
                    <select class="custom-select"
                            name="AREA_ID"
                            ng-model="GroupSearch.AREA_ID"
                            ng-options="EL.AREA_ID as EL.AREA_NAME for EL in AREA_BY_LIST"
                            required
                            ng-class="{'error':GRPForm.submitted && GRPForm.BRANCH_ID.$error.required}">
                        <option value="">- Please Select Area-</option>
                    </select>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label>Employee Category*</label>
                    <select class="custom-select"
                            name="CATEGORY_ID"
                            ng-options="ECT.EMPLOYEE_CATEGORY_ID as ECT.CATEGORY_NAME for ECT in (EMPLOYEE_CATEGORY)"
                            ng-model="GroupSearch.CATEGORY_ID"
                            required
                            ng-change="SUB_GET_EMPLOYEE_CATEGORY()"
                            ng-class="{'error':GRPForm.submitted && GRPForm.CATEGORY_ID.$error.required}">
                        <option value="">- Please Select Category-</option>
                    </select>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label>Employee Sub Category*</label>
                    <select class="custom-select"
                            name="SUB_CATEGORY_ID"
                            ng-options="SCT.EMPLOYEE_CATEGORY_ID as SCT.CATEGORY_NAME for SCT in (SUB_EMPLOYEE_CATEGORY)"
                            ng-model="GroupSearch.SUB_CATEGORY_ID"
                            required
                            ng-class="{'error':GRPForm.submitted && GRPForm.SUB_CATEGORY_ID.$error.required}">
                        <option value="">- Please Select Sub Category-</option>
                    </select>
                </div>
            </div>

        </div>
    </div>

    <div class="col-md-12">
        <div data-ng-show="GRPForm.submitted && GRPForm.$invalid" class="form-group has-error errormessage form-group has-error errormessage badge badge-light-red w-100 p-3">
            <span class="help-block errormessageline"><i class="fa fa-exclamation-triangle"></i> - Please provide the mandatory details to submit(marked in red).</span>
        </div>
        <div id="divInvlidUser" class="hideshowdiv" data-ng-show="GRPForm.$valid">
            <span class="help-block">{{InvalidUser}}</span>
        </div>
    </div>
    
    <div class="col-md-12 text-right">
        <button ng-click="INS_UPD_GROUP_ROLE_ASSIGNMENT()" class="btn btn-wenodo" >Save</button>
        <button type="button" ng-click="RESET_GRP(1)" class="btn btn-w-default">Reset</button>

    </div>
</form>