<form id="GRPForm" name="GRPForm" novalidate ng-init="GET_GROUP_ROLE_ASSIGNMENT_BY_ID();">
        <div class="card-header">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Customer:*</label>
                        <select class="custom-select"
                                name="CUSTOMER_ID"
                                ng-model="GroupSearch.CUSTOMER_ID"
                                ng-options="CL.CUSTOMER_ID as CL.CUSTOMER_NAME for CL in CUSTOMER_LIST "
                                ng-required="true"
                                ng-change="GET_ENTITY_LIST()"
                                ng-class="{'error':GRPForm.submitted && GRPForm.CUSTOMER_ID.$error.required}">
                            <option value="">-Select Customer-</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Entity:*</label>
                        <select class="custom-select"
                                name="ENTITY_ID"
                                ng-model="GroupSearch.ENTITY_ID"
                                ng-options="EL.ENTITY_ID as EL.ENTITY_NAME for EL in ENTITY_LIST"
                                required
                                ng-change="GET_ROLE_LIST();GET_GROUP_MAPPING_LIST();"
                                ng-class="{'error':GRPForm.submitted && GRPForm.ENTITY_ID.$error.required}">
                            <option value="">-Select Entity-</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Group Name:*</label>
                        <select class="custom-select"
                                name="GROUP_ID"
                                ng-model="GroupSearch.GROUP_ID"
                                ng-options="GL.GROUP_MASTER_ID as GL.GROUP_NAME for GL in GROUP_LIST"
                                required
                                ng-class="{'error':GRPForm.submitted && GRPForm.GROUP_ID.$error.required}">
                            <option value="">-Select Group-</option>
                        </select>
                    
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Assign Role:*</label>
                        <div class="dropdown cq-dropdown w-100" data-name='ddlStatus'>
                            <!--<button class="form-control text-left" type="button" id="ddlStatus" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="true">
                                -Select Role-
                                <i class="fas fa-sort float-right mt-1 ml-2"></i>
                            </button>-->
                            <select class="select2 w-100" multiple="multiple" data-placeholder="Select Role"
                                    ng-model="GroupSearch.ROLE_ID"
                                    ng-options="EL.ROLE_ID as EL.ROLE_NAME for EL in ROLE_LIST"
                                    ng-class="{'error':GRPForm.submitted && GRPForm.ROLE_ID.$error.required}">
                                <option></option>
                            </select>
                            <!--<ul class="dropdown-menu dropdown-menu-left bg-white custom-scrollbar DontHideOnClick" aria-labelledby="ddlStatus">
                                <li class="dropdown-item DontHideOnClick">
                                    <div class="custom-control custom-checkbox checkbox-green">
                                        <input class="custom-control-input checkbox-green-input" type="checkbox" id="Select_All_Status"
                                               ng-change="AR_ALL_SELECT(ROLE_LIST,false)" ng-model="GroupSearch.HEADER">
                                        <label for="Select_All_Status" class="custom-control-label checkbox-green-label text-sm pt-1">Select All</label>
                                    </div>
                                </li>
                                <li class="dropdown-item DontHideOnClick" ng-repeat="List in ROLE_LIST" ng-init="InitializeRole(List)">
                                    <div class="custom-control custom-checkbox mt-2 checkbox-green">
                                        <input class="custom-control-input checkbox-green-input" type="checkbox" id="Status{{$index}}"
                                               ng-value="{{List.ROLE_ID}}"
                                               ng-click="GETSELECTLIST(ListStatus_RFQ,List)" ng-model="List.SELECTED">
                                        <label for="Status{{$index}}" class="custom-control-label checkbox-green-label text-sm pt-1">{{List.ROLE_NAME}}</label>

                                    </div>
                                </li>
                            </ul>-->
                        </div>
                    </div>
                </div>
                <div class="col-md-12 mt-3">
                    <div class="form-group">
                        <button ng-click="INS_UPD_GROUP_ROLE_ASSIGNMENT()" class="btn btn-wenodo">Save</button>
                        <button ng-click="GET_GROUP_ROLE_ASSIGNMENTS();" class="btn btn-w-default">Search</button>
                        <button ng-click="ResetGROUPMAPPING();" class="btn btn-w-default">Reset</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-body">
            <div class="text-center" ng-show="GROUP_ROLE_ASSIGNMENTS_LIST.length==0" empty-grid>
            </div>
            <div class="table-responsive custom-scrollbar height-auto" ng-show="GROUP_ROLE_ASSIGNMENTS_LIST.length>0">
                <table class="table table-striped">
                    <thead class="bg-wenodo-dark-blue">
                        <tr>
                            <th class="text-nowrap">Customer Name</th>
                            <th class="text-nowrap">Entity Name</th>
                            <th class="text-nowrap">Group Name</th>
                            <th class="text-nowrap">Group Description</th>
                            <th class="text-nowrap">Group Code</th>
                            <th>Role</th>
                            <th></th>
                        </tr>
                    </thead>
                    <!--<tfoot>
                        <tr>
                            <td colspan="8" align="center" ng-show="GetData">
                                <a class="btn btn-secondary text-white" ng-click="LAZY_ADMIN_GET_NOTICE_PERIOD();">{{VIEWMORERECORD}}</a>
                            </td>
                        </tr>
                    </tfoot>-->
                    <tbody ng-repeat="RL in GROUP_ROLE_ASSIGNMENTS_LIST" on-finish-render="ngRepeatFinished">
                        <tr>
                            <td> {{RL.CUSTOMER_NAME}}</td>
                            <td> {{RL.ENTITY_NAME}}</td>
                            <td>{{RL.GROUP_NAME}}</td>
                            <td>{{RL.GROUP_DESCRIPTION}}</td>
                            <td>{{RL.GROUP_CODE}}</td>
                            <td>{{RL.ROLE_NAMES}}</td>
                            <td><a ng-click="EDIT_INS_UPD_GRP_ROLE_MAPPING(RL)" data-toggle="tooltip" data-html="true" data-original-title="Edit"><i class="fad fa-edit fa-lg text-green"></i></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
</form>

<script type="text/javascript">
    //Initialize Select2 Elements
    $(".select2").select2({
        containerCssClass: function (e) {
            return $(e).attr('required') ? 'required' : '';
        }
    });
</script>