<style>
    h5 {
        font-size: 12px;
    }
</style>
<div class="card shadow-none mb-0">
    <div class="card-header">
        <div class="row">
            <!-- Row 1 Start here -->
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="session" class="m-0">Branch</label>
                            <span class="cash-up-header">{{CASHUP.BRANCH_NAME}}-{{CASHUP.BRANCH_CODE}}</span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="session" class="m-0">Area</label>
                            <span class="cash-up-header" ng-if="CASHUP.AreaList.length==1">{{CASHUP.AreaList[0].NAME}}</span>
                            <div class="form-group" ng-if="CASHUP.AreaList.length>1">
                                <select class="hover"
                                        ng-options="AREA.ID as AREA.NAME for AREA in (CASHUP.AreaList)"
                                        ng-model="CASHUP.AREA_ID">
                                    <option value="">-Please Select-</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="date">CashUp Date</label>
                            <div class="input-group date" id="reservationdate" data-target-input="nearest">
                                <span class="cash-up-header">{{CASHUP.CASHUP_DATE |date}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group">
                    <label for="session" class="m-0">Sessions</label>
                    <div class="row" ng-repeat="Group in SessionList | unique:'GROUP_ID'">
                        <div class="col-md-12">
                            <div class="row" ng-repeat="Session in SessionList| orderBy:'SESSION_START'  | filter:{'GROUP_ID':Group.GROUP_ID} ">
                                <div class="col-md-2 custom-control custom-radio mr-4" ng-show="CASHUP.COMPLETED_GROUP_ID==null|| CASHUP.COMPLETED_GROUP_ID==Group.GROUP_ID">
                                    <div class="form-group">
                                        <input class="custom-control-input" type="radio" id="SessionRadio{{Session.SESSION_MAPPING_ID}}" name="SessionRadio{{Group.GROUP_ID}}" ng-checked="Session.SELECTED" ng-disabled="(Session.RDO_FLAG==true )?true:false">  <!--  ng-disabled="Session.RDO_FLAG" ng-disabled="(SessionListFilter!=null && (CASHUP.CashUp_Main_STATUS_ID==3 || CASHUP.CashUp_Main_STATUS_ID==4))?true:false"   ng-disabled="(Session.STATUS_ID=='2' && (CASHUP.CashUp_Main_STATUS_ID=='3'||CASHUP.CashUp_Main_STATUS_ID=='4'))?false:true"-->
                                        <label for="SessionRadio{{Session.SESSION_MAPPING_ID}}" class="custom-control-label" ng-click="SELECT_SESSION(Session, $index)">{{Session.SESSION_NAME}}</label>
                                    </div>
                                </div>

                                <div class="col-md-2 custom-control custom-radio mr-4" ng-show="CASHUP.COMPLETED_GROUP_ID!=null && CASHUP.COMPLETED_GROUP_ID!=0 && CASHUP.COMPLETED_GROUP_ID!=Group.GROUP_ID">
                                    <label class="custom-control-label" ng-click="SELECT_SESSION(Session, $index)">{{Session.SESSION_NAME}}</label>
                                </div>
                                <div class="col-md-2" style="font-size: 0.79rem;">{{Session.SESSION_START}} - {{Session.SESSION_END}}  </div>
                                <div class="col-md-1">
                                    <span class="badge badge-light-grey mb-1" ng-show="Session.STATUS_ID==0">
                                        Pending
                                    </span>
                                    <span class="badge badge-light-blue mb-1" ng-show="Session.STATUS_ID==1">
                                        Draft
                                    </span>
                                    <span class="badge badge-light-orange mb-1" ng-show="Session.STATUS_ID==2">
                                        Completed
                                    </span>
                                    <span class="badge badge-light-red mb-1" ng-show="Session.STATUS_ID==4">
                                        Approved
                                    </span>
                                    <span class="badge badge-light-red mb-1" ng-show="Session.STATUS_ID==5">
                                        Rejected
                                    </span>
                                </div>

                                <div class="col-md-1">
                                    <button type="button" class="btn btn-w-default btn-sm text-nowrap" ng-if="Session.STEP_NO !=null &&  Session.STEP_NO!=0 && CASHUP.CashUp_Main_STATUS_ID!=3 && CASHUP.CashUp_Main_STATUS_ID!=4" data-toggle="tooltip" data-html="true" data-original-title="Reset" ng-click="RESET_CASHUP_HEADER(Session, $index)"><i class="fas fa-undo"></i> Reset</button>

                                </div>
                                <div class="col-md-12 my-2 border-top border-bottom" style="padding-left:300px;" ng-show="Session.SESSION_MASTER_ID=='4'&& SessionList.length>1">OR</div>
                            </div>
                        </div>


                    </div>
                    <div class="row" style="color:red;" ng-if="!Validation.CashupEntry.Session_Valid">Please Select Session to proceed.</div>
                </div>
            </div>
            <div class="col-md-9" ng-if="false">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="session" class="m-0">Area</label>
                            {{AreaList[0].NAME}}
                            <div class="form-group" ng-if="AreaList.length>1">
                                <select class="hover"
                                        ng-options="AREA.ID as AREA.NAME for AREA in (AreaList)"
                                        ng-model="CASHUP.AREA_ID">
                                    <option value="">- Please Select-</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" ng-show="CASHUP.AREA_ID!=null">
                    <div class="col-md-4" ng-if="CASHUP.IS_TILL_BASED && CASHUP.IS_SESSION_BASED">
                        <div class="custom-control custom-radio mr-4" ng-if="CASHUP.IS_TILL_BASED">
                            <input class="custom-control-input" type="radio" id="customRadio1" name="customRadio" ng-model="CASHUP.TYPE" ng-value="1" ng-checked="1">
                            <label for="customRadio1" class="custom-control-label">Till Based Cashup</label>
                        </div>
                        <div class="custom-control custom-radio mr-4" ng-if="CASHUP.IS_SESSION_BASED">
                            <input class="custom-control-input" type="radio" id="customRadio2" name="customRadio" ng-model="CASHUP.TYPE" ng-value="2">
                            <label for="customRadio2" class="custom-control-label">Session Based Cashup</label>
                        </div>
                    </div>
                    <div class="col-md-4" ng-show="CASHUP.IS_TILL_BASED && CASHUP.TYPE==1">
                        <div class="form-group">
                            <label for="session" class="m-0">Till</label>
                            <div class="form-group">
                                <select class="hover"
                                        ng-options="TILL.ID as TILL.TILL_NAME for TILL in (TillList |filter:{BRANCH_ID:CASHUP.BRANCH_ID, AREA_ID:CASHUP.AREA.ID})"
                                        ng-model="CASHUP.TILL_ID">
                                    <option value="">- Please Select-</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4" ng-show="CASHUP.IS_SESSION_BASED && CASHUP.TYPE==2">
                        <div class="form-group">
                            <label for="session" class="m-0">Session</label>
                            <div class="form-group">
                                <select class="hover"
                                        ng-options="SESSION as SESSION.SESSION_NAME for SESSION in SessionList"
                                        ng-model="CASHUP.SESSION"
                                        ng-change="CASHUP.SESSION_ID=CASHUP.SESSION.ID;GET_CASHUP_BY_ID();">
                                    <option value="">- Please Select-</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-header" ng-show="CASHUP.REVENUE_CENTERS.length>0">
        <h5 class="card-title">Cover Details</h5>
    </div>
    <div class="card-body" ng-show="CASHUP.REVENUE_CENTERS.length>0">
        <fieldset>
            <div class="custom-scrollbar height-auto">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th width="10%"></th>
                            <th width="26%" colspan="{{(CASHUP.REVENUE_CENTERS | unique:'REVENUECENTER').length}}" class="text-center" ng-repeat="SC in CASHUP.REVENUE_CENTERS  | unique:'SESSION_NAME'">{{SC.SESSION_NAME}}</th>
                            <th width="12%" class="text-center">Total</th>
                        </tr>
                        <tr class="bg-light-grey text-dark">
                            <th></th>
                            <th width="{{26/(CASHUP.REVENUE_CENTERS | unique:'REVENUECENTER').length}}%" class="text-center" ng-repeat="RC in CASHUP.REVENUE_CENTERS">{{RC.REVENUECENTER}}</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Covers</td>
                            <td width="9%" class="text-center" ng-repeat="RC in CASHUP.REVENUE_CENTERS"><input type="text" ng-model="RC.COVERS" class="form-control" only-numbers /></td>
                            <td class="text-center">{{(CASHUP.REVENUE_CENTERS | total:'COVERS')}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </fieldset>
    </div>
    <div class="card-header">
        <div class="card-tools">
            <div class="row gx-0 justify-content-end">
                <div class="col-xxl-auto col-xl-auto col-md-auto" ng-if="(CASHUP.INTEGRATION_SYSTEM_ID==0
                     || CASHUP.INTEGRATION_SYSTEM_ID==11
                     || CASHUP.INTEGRATION_SYSTEM_ID==17
                     || CASHUP.INTEGRATION_SYSTEM_ID==12
                     || CASHUP.INTEGRATION_SYSTEM_ID==15 || CASHUP.INTEGRATION_SYSTEM_ID==37)">
                    <button class="btn btn-transparent px-1" data-toggle="tooltip"
                            data-original-title="Download"
                            ng-show="CASHUP.SESSION.SELECTED==true"
                            ng-click="DOWNLOAD_TEMPLATE_Fn()">
                        <i class="fal fa-file-download text-primary"></i>
                    </button>
                </div>
                <div class="col-xxl-auto col-xl-auto col-md-auto" ng-show="(CASHUP.INTEGRATION_SYSTEM_ID!=12 && CASHUP.INTEGRATION_SYSTEM_ID!=15 && CASHUP.INTEGRATION_SYSTEM_ID!=37)">
                    <button type="button" class="btn btn-transparent px-1"
                            ng-show="CASHUP.INTEGRATION_SYSTEM_ID!=0 && CASHUP.SESSION.SELECTED==true && CASHUP.SESSION.ALLOW_RESYNC==true " click-once>
                        <i class="fal fa-sync-alt" 
                           data-toggle="tooltip" data-html="true"
                           data-original-title="Sync EPOS Data" ng-click="EPOS_REFRESH(7)"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <fieldset>
            <div class="form-group" ng-if="(CASHUP.INTEGRATION_SYSTEM_ID==0
                     || CASHUP.INTEGRATION_SYSTEM_ID==11
                     || CASHUP.INTEGRATION_SYSTEM_ID==17
                     || CASHUP.INTEGRATION_SYSTEM_ID==12
                     || CASHUP.INTEGRATION_SYSTEM_ID==15  || CASHUP.INTEGRATION_SYSTEM_ID==37)">
                <div class="row" ng-if="CASHUP.UPL_ID==0">
                    <label class="control-label text-right mt-1" for="filename">Upload Your POS Report</label>
                    <div class="col-md-6">
                        <div class="input-group">
                            <input class="form-control text-xs" type="file" id="ngexcelfile" ng-files="getTheFilesToUpload($files, 'fileUpl_EvtInfo', 5)" name="file" />
                            <div class="input-group-append" ng-show="CASHUP.INTEGRATION_SYSTEM_ID==0 || CASHUP.INTEGRATION_SYSTEM_ID==11 || CASHUP.INTEGRATION_SYSTEM_ID==17  || CASHUP.INTEGRATION_SYSTEM_ID==12  || CASHUP.INTEGRATION_SYSTEM_ID==37">
                                <input type="button" value="Upload" ng-click="ReadExcelData();" class="btn btn-xs btn-upload">
                            </div>
                            <div class="input-group-append" ng-show="CASHUP.INTEGRATION_SYSTEM_ID==15">
                                <input type="button" value="Upload" ng-click="ReadExcelData_Micros();" class="btn btn-xs btn-upload">
                            </div>
                            <div class="input-group-append">
                                <img ng-if="Uploading" src="../../E_Content/images/loading.gif" style="height: 25px;margin-left:20px;" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" ng-if="CASHUP.UPL_ID!=0">
                    <label class="control-label text-right mt-1" for="filename">EPOS FILE: </label>
                    <div class="col-md-6">
                        <a href="" target="_blank">{{CASHUP.ORIGINAL_FILE_NAME}} </a> <i class="fas fa-window-close" ng-click="DELETE_UPLOAD()"></i>
                    </div>
                </div>
            </div>
            <div class="table-responsive custom-scrollbar height-535" ng-if="CASHUP.INTEGRATION_SYSTEM_ID==5 && false">
                <div class="row" ng-if="EPOS_ACCOUNT_GROUPS_DATA.length==0 && ShowWait">
                    <label class="control-label text-right mt-1" for="filename">Please wait while epos data is fetched. This may take upto 2 minutes.</label>

                </div>
                <div ng-if="EPOS_ACCOUNT_GROUPS_DATA.length==0 && CASHUP.SESSION.SELECTED==true && CASHUP.SESSION.ALLOW_RESYNC==true && !ShowWait"> Please click refresh to fetch the data from EPOS.</div>
                <table class="table table-head-fixed table-striped" ng-if="EPOS_ACCOUNT_GROUPS_DATA.length>0">
                    <thead>
                        <tr>
                            <th width="4%"></th>
                            <th width="41%">Accounting Group</th>
                            <th width="8%">Code</th>
                            <th width="5%">Quantity</th>
                            <th width="5%">Discounts</th>
                            <th width="5%">Tax</th>
                            <th class="text-nowrap">Total With Tax</th>
                        </tr>
                    </thead>

                    <tfoot class="card-footer">
                        <tr>
                            <td></td>
                            <td colspan="2" class="text-bold">Total</td>
                            <td>{{(EPOS_ACCOUNT_GROUPS_DATA | total:'QUANTITY') | number:2}}    </td>
                            <td>{{(EPOS_ACCOUNT_GROUPS_DATA | total:'DISCOUNT')| number:2}}    </td>
                            <td>{{(EPOS_ACCOUNT_GROUPS_DATA | total:'TOTAL_TAX')| number:2}}    </td>
                            <td>{{(EPOS_ACCOUNT_GROUPS_DATA | total:'TOTAL_WITH_TAX')| number:2}}    </td>

                        </tr>
                    </tfoot>
                    <tbody ng-repeat="EPOS_ACCOUNT_GROUP_DATA in EPOS_ACCOUNT_GROUPS_DATA" ng-init="EPOS_ACCOUNT_GROUP_DATA.SHOWDETAILS=false">
                        <tr>
                            <td class="cursor-pointer" ng-click="GET_ACCOUNT_GROUP_DETAILS(EPOS_ACCOUNT_GROUP_DATA)"><i class="fas fa-chevron-down" ng-show="EPOS_ACCOUNT_GROUP_DATA.SHOWDETAILS"></i><i class="fas fa-chevron-right" ng-show="!EPOS_ACCOUNT_GROUP_DATA.SHOWDETAILS"></i> </td>
                            <td>{{EPOS_ACCOUNT_GROUP_DATA.ACCOUNTING_GROUP}}    </td>
                            <td>{{EPOS_ACCOUNT_GROUP_DATA.ACCOUNTING_GROUP_CODE}}    </td>
                            <td>{{EPOS_ACCOUNT_GROUP_DATA.QUANTITY}}    </td>
                            <td>{{EPOS_ACCOUNT_GROUP_DATA.DISCOUNT | number:2}}    </td>
                            <td>{{EPOS_ACCOUNT_GROUP_DATA.TOTAL_TAX | number:2}}    </td>
                            <td>{{EPOS_ACCOUNT_GROUP_DATA.TOTAL_WITH_TAX | number:2}}    </td>
                        </tr>

                        <tr ng-show="EPOS_ACCOUNT_GROUP_DATA.SHOWDETAILS" ng-repeat="EPOS_ACCOUNT_GROUP_DETAIL in EPOS_ACCOUNT_GROUP_DATA.EPOS_ACCOUNT_GROUP_DETAILS">
                            <td width="4%"></td>
                            <td width="40%">{{EPOS_ACCOUNT_GROUP_DETAIL.NAME}}</td>
                            <td width="8%">{{EPOS_ACCOUNT_GROUP_DETAIL.SKU}} </td>
                            <td width="5%">{{EPOS_ACCOUNT_GROUP_DETAIL.QUANTITY | number:2}} </td>
                            <td width="5%">{{EPOS_ACCOUNT_GROUP_DETAIL.TOTAL_WITHOUT_TAX | number:2}} </td>
                            <td width="5%">{{EPOS_ACCOUNT_GROUP_DETAIL.TOTAL_TAXES | number:2}} </td>
                            <td width="15%">{{EPOS_ACCOUNT_GROUP_DETAIL.TOTAL_WITH_TAX_LESS_DISCOUNTS | number:2}} </td>
                        </tr>
                    </tbody>
                </table>

            </div>

            <div class="table-responsive custom-scrollbar height-535" ng-show="CASHUP.INTEGRATION_SYSTEM_ID!=19">
                <div ng-if="EPOS_ACCOUNT_GROUPS_DATA.length==0 && CASHUP.INTEGRATION_SYSTEM_ID!=5 "> Please click refresh to fetch the data from EPOS.</div>
                <div class="row" ng-if="EPOS_ACCOUNT_GROUPS_DATA.length==0 && ShowWait && CASHUP.INTEGRATION_SYSTEM_ID==5 ">
                    <label class="control-label text-right mt-1" for="filename">Please wait while epos data is fetched. This may take upto 2 minutes.</label>
                </div>
                <div ng-if="EPOS_ACCOUNT_GROUPS_DATA.length==0 && !ShowWait && CASHUP.INTEGRATION_SYSTEM_ID==5 "> Please click refresh to fetch the data from EPOS.</div>

                <table class="table table-head-fixed table-striped mb-0" ng-if="EPOS_ACCOUNT_GROUPS_DATA.length>0">
                    <thead>
                        <tr>
                            <th width="4%"></th>
                            <th>Accounting Group</th>
                            <th width="5%">Code</th>
                            <th width="5%">Quantity</th>
                            <th width="5%">Gross</th>
                            <th width="5%">Discounts</th>
                            <th width="5%">Tax</th>
                            <th width="5%">Net</th>
                            <!--<th class="text-nowrap">Total With Tax</th>-->
                        </tr>
                    </thead>
                    <tbody ng-repeat="EPOS_ACCOUNT_GROUP_DATA in EPOS_ACCOUNT_GROUPS_DATA" ng-init="EPOS_ACCOUNT_GROUP_DATA.SHOWDETAILS=false">
                        <tr>
                            <td class="cursor-pointer" ng-click="GET_ACCOUNT_GROUP_DETAILS(EPOS_ACCOUNT_GROUP_DATA)">
                                <i class="fas fa-chevron-down" ng-show="EPOS_ACCOUNT_GROUP_DATA.SHOWDETAILS"></i>
                                <i class="fas fa-chevron-right" ng-show="!EPOS_ACCOUNT_GROUP_DATA.SHOWDETAILS"></i>
                            </td>
                            <td>{{EPOS_ACCOUNT_GROUP_DATA.ACCOUNTING_GROUP}}    </td>
                            <td>{{EPOS_ACCOUNT_GROUP_DATA.ACCOUNTING_GROUP_CODE}}    </td>
                            <td>{{EPOS_ACCOUNT_GROUP_DATA.QUANTITY}}    </td>
                            <td>{{EPOS_ACCOUNT_GROUP_DATA.GROSS | number:2}}    </td>
                            <td>{{EPOS_ACCOUNT_GROUP_DATA.DISCOUNT | number:2}}    </td>
                            <td>{{EPOS_ACCOUNT_GROUP_DATA.TAX | number:2}}    </td>
                            <td>{{EPOS_ACCOUNT_GROUP_DATA.NET | number:2}}    </td>
                            <!--<td>{{EPOS_ACCOUNT_GROUP_DATA.TOTAL_WITH_TAX | number:2}}    </td>-->

                        </tr>
                        <tr class="bg-white" ng-show="EPOS_ACCOUNT_GROUP_DATA.SHOWDETAILS" ng-repeat="EPOS_ACCOUNT_GROUP_DETAIL in EPOS_ACCOUNT_GROUP_DATA.EPOS_ACCOUNT_GROUP_DETAILS">
                            <td></td>
                            <td>{{EPOS_ACCOUNT_GROUP_DETAIL.NAME}}</td>
                            <td>{{EPOS_ACCOUNT_GROUP_DETAIL.SKU}} </td>
                            <td>{{EPOS_ACCOUNT_GROUP_DETAIL.QUANTITY | number:2}} </td>
                            <td>{{EPOS_ACCOUNT_GROUP_DETAIL.GROSS | number:2}} </td>
                            <td>{{EPOS_ACCOUNT_GROUP_DETAIL.DISCOUNT | number:2}} </td>
                            <td>{{EPOS_ACCOUNT_GROUP_DETAIL.TAX | number:2}} </td>
                            <td>{{EPOS_ACCOUNT_GROUP_DETAIL.NET | number:2}} </td>
                            <!--<td>{{EPOS_ACCOUNT_GROUP_DETAIL.TOTAL_WITHOUT_TAX *1 + EPOS_ACCOUNT_GROUP_DETAIL.TOTAL_TAXES*1 | number:2}} </td>-->
                        </tr>
                    </tbody>
                    <tfoot class="table-footer-fixed">
                        <tr>
                            <td></td>
                            <td colspan="2" class="text-bold">Total</td>
                            <td>{{(EPOS_ACCOUNT_GROUPS_DATA | total:'QUANTITY') | number:2}}    </td>
                            <td>{{(EPOS_ACCOUNT_GROUPS_DATA | total:'GROSS')| number:2}}    </td>
                            <td>{{(EPOS_ACCOUNT_GROUPS_DATA | total:'DISCOUNT')| number:2}}    </td>
                            <td>{{(EPOS_ACCOUNT_GROUPS_DATA | total:'TAX')| number:2}}    </td>
                            <td>{{(EPOS_ACCOUNT_GROUPS_DATA | total:'NET')| number:2}}    </td>
                            <!--<td>{{(EPOS_ACCOUNT_GROUPS_DATA | total:'TOTAL_WITH_TAX')| number:2}}    </td>-->
                        </tr>
                    </tfoot>
                </table>
            </div>

            <!--(CASHUP.INTEGRATION_SYSTEM_ID==6
            || CASHUP.INTEGRATION_SYSTEM_ID==10
            || CASHUP.INTEGRATION_SYSTEM_ID==11
            ||  CASHUP.INTEGRATION_SYSTEM_ID==19
            || CASHUP.INTEGRATION_SYSTEM_ID==24) && false")-->
            <div class="table-responsive custom-scrollbar height-535"
                 ng-show="CASHUP.INTEGRATION_SYSTEM_ID==19">
                <div ng-if="EPOS_ACCOUNT_GROUPS_DATA.length==0"> Please click refresh to fetch the data from EPOS.</div>
                <table class="table table-head-fixed table-striped mb-0" ng-if="EPOS_ACCOUNT_GROUPS_DATA.length>0">
                    <thead>
                        <tr>
                            <th width="4%"></th>
                            <th width="41%">Accounting Group</th>
                            <th width="5%">Code</th>
                            <th width="5%">Quantity</th>
                            <th class="text-nowrap">Gross Total</th>
                            <th width="5%">Discounts</th>
                            <th class="text-nowrap">Total Without Tax</th>
                            <th width="5%">Tax</th>
                            <th class="text-nowrap">Total With Tax</th>
                        </tr>
                    </thead>
                    <tbody ng-repeat="EPOS_ACCOUNT_GROUP_DATA in EPOS_ACCOUNT_GROUPS_DATA" ng-init="EPOS_ACCOUNT_GROUP_DATA.SHOWDETAILS=false">
                        <tr>
                            <td class="cursor-pointer" ng-click="GET_ACCOUNT_GROUP_DETAILS(EPOS_ACCOUNT_GROUP_DATA)"><i class="fas fa-chevron-down" ng-show="EPOS_ACCOUNT_GROUP_DATA.SHOWDETAILS"></i><i class="fas fa-chevron-right" ng-show="!EPOS_ACCOUNT_GROUP_DATA.SHOWDETAILS"></i> </td>
                            <td>{{EPOS_ACCOUNT_GROUP_DATA.ACCOUNTING_GROUP}}    </td>
                            <td>{{EPOS_ACCOUNT_GROUP_DATA.ACCOUNTING_GROUP_CODE}}    </td>
                            <td>{{EPOS_ACCOUNT_GROUP_DATA.QUANTITY}}    </td>
                            <td>{{EPOS_ACCOUNT_GROUP_DATA.ACTUAL_TOTAL=(EPOS_ACCOUNT_GROUP_DATA.TOTAL_WITH_TAX*1+EPOS_ACCOUNT_GROUP_DATA.DISCOUNT*1) | number:2}}    </td>
                            <td>{{EPOS_ACCOUNT_GROUP_DATA.DISCOUNT | number:2}}    </td>
                            <td>{{EPOS_ACCOUNT_GROUP_DATA.TOTAL_LESS_TAX | number:2}}    </td>
                            <td>{{EPOS_ACCOUNT_GROUP_DATA.TOTAL_TAX | number:2}}    </td>
                            <td>{{EPOS_ACCOUNT_GROUP_DATA.TOTAL_WITH_TAX | number:2}}    </td>

                        </tr>
                        <tr class="bg-white" ng-show="EPOS_ACCOUNT_GROUP_DATA.SHOWDETAILS" ng-repeat="EPOS_ACCOUNT_GROUP_DETAIL in EPOS_ACCOUNT_GROUP_DATA.EPOS_ACCOUNT_GROUP_DETAILS">
                            <td></td>
                            <td>{{EPOS_ACCOUNT_GROUP_DETAIL.NAME}}</td>
                            <td>{{EPOS_ACCOUNT_GROUP_DETAIL.SKU}} </td>
                            <td>{{EPOS_ACCOUNT_GROUP_DETAIL.QUANTITY | number:2}} </td>
                            <td>{{EPOS_ACCOUNT_GROUP_DETAIL.TOTAL_WITH_TAX_LESS_DISCOUNTS | number:2}} </td>
                            <td>{{EPOS_ACCOUNT_GROUP_DETAIL.DISCOUNTS | number:2}} </td>
                            <td>{{EPOS_ACCOUNT_GROUP_DETAIL.TOTAL_WITHOUT_TAX | number:2}} </td>
                            <td>{{EPOS_ACCOUNT_GROUP_DETAIL.TOTAL_TAXES | number:2}} </td>
                            <td>{{EPOS_ACCOUNT_GROUP_DETAIL.TOTAL_WITHOUT_TAX *1 + EPOS_ACCOUNT_GROUP_DETAIL.TOTAL_TAXES*1 | number:2}} </td>
                        </tr>
                    </tbody>
                    <tfoot class="table-footer-fixed">
                        <tr>
                            <td></td>
                            <td colspan="2" class="text-bold">Total</td>
                            <td>{{(EPOS_ACCOUNT_GROUPS_DATA | total:'QUANTITY') | number:2}}    </td>
                            <td>{{(EPOS_ACCOUNT_GROUPS_DATA | total:'ACTUAL_TOTAL')| number:2}}    </td>
                            <td>{{(EPOS_ACCOUNT_GROUPS_DATA | total:'DISCOUNT')| number:2}}    </td>
                            <td>{{(EPOS_ACCOUNT_GROUPS_DATA | total:'TOTAL_LESS_TAX')| number:2}}    </td>
                            <td>{{(EPOS_ACCOUNT_GROUPS_DATA | total:'TOTAL_TAX')| number:2}}    </td>
                            <td>{{(EPOS_ACCOUNT_GROUPS_DATA | total:'TOTAL_WITH_TAX')| number:2}}    </td>

                        </tr>
                    </tfoot>
                </table>
            </div>
            <div class="table-responsive custom-scrollbar height-535" ng-if="CASHUP.INTEGRATION_SYSTEM_ID==2 && false">
                <div ng-if="EPOS_ACCOUNT_GROUPS_DATA.length==0"> No records found.</div>
                <table class="table table-head-fixed table-striped" ng-if="EPOS_ACCOUNT_GROUPS_DATA.length>0">
                    <thead>
                        <tr>
                            <th width="4%"></th>
                            <th>Accounting Group</th>
                            <th width="15%">Quantity</th>
                            <th width="15%">Gross Total</th>
                        </tr>
                    </thead>

                    <tbody ng-repeat="EPOS_ACCOUNT_GROUP_DATA in EPOS_ACCOUNT_GROUPS_DATA" ng-init="EPOS_ACCOUNT_GROUP_DATA.SHOWDETAILS=false">
                        <tr>
                            <td class="cursor-pointer" ng-click="GET_ACCOUNT_GROUP_DETAILS(EPOS_ACCOUNT_GROUP_DATA)">
                                <i class="fas fa-chevron-down" ng-show="EPOS_ACCOUNT_GROUP_DATA.SHOWDETAILS"></i>
                                <i class="fas fa-chevron-right" ng-show="!EPOS_ACCOUNT_GROUP_DATA.SHOWDETAILS"></i>
                            </td>
                            <td>{{EPOS_ACCOUNT_GROUP_DATA.ACCOUNTING_GROUP}}    </td>
                            <td>{{EPOS_ACCOUNT_GROUP_DATA.QUANTITY}}    </td>
                            <td>{{(EPOS_ACCOUNT_GROUP_DATA.TOTAL_WITH_TAX*1+EPOS_ACCOUNT_GROUP_DATA.DISCOUNT*1) | number:2}}    </td>

                        </tr>
                        <tr ng-show="EPOS_ACCOUNT_GROUP_DATA.SHOWDETAILS">
                            <td colspan="4" class="p-0">
                                <table class="table">
                                    <tr ng-repeat="EPOS_ACCOUNT_GROUP_DETAIL in EPOS_ACCOUNT_GROUP_DATA.EPOS_ACCOUNT_GROUP_DETAILS">
                                        <td width="4%"></td>
                                        <td>{{EPOS_ACCOUNT_GROUP_DETAIL.IIKO_DISHNAME}}</td>
                                        <td width="15%">{{EPOS_ACCOUNT_GROUP_DETAIL.QUANTITY}} </td>
                                        <td width="15%">{{EPOS_ACCOUNT_GROUP_DETAIL.IIKO_DISHSUMINT_LINE | number:2}} </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot class="table-footer-fixed">
                        <tr>
                            <td colspan="2"></td>
                            <td>Total Quantity</td>
                            <td>{{(EPOS_ACCOUNT_GROUPS_DATA | total:'QUANTITY') | number:2}}</td>

                        </tr>
                        <tr>
                            <td colspan="2"></td>
                            <td>Total</td>
                            <td>{{EPOS_HEADER_DATA[0].TOTAL_SALES| number:2}}</td>

                        </tr>
                        <tr>
                            <td colspan="2"></td>
                            <td>Total Tax</td>
                            <td>{{EPOS_HEADER_DATA[0].TOTAL_TAX| number:2}}</td>

                        </tr>
                        <tr>
                            <td colspan="2"></td>
                            <td>Total Discount</td>
                            <td>{{EPOS_HEADER_DATA[0].DISCOUNT_TOTAL_AMOUNT| number:2}}</td>
                        </tr>
                    </tfoot>
                </table>
            </div>

            <div class="table-responsive custom-scrollbar height-535" ng-if="CASHUP.INTEGRATION_SYSTEM_ID==9 && false">
                <div class="row" ng-if="EPOS_ACCOUNT_GROUPS_DATA.length==0 && ShowWait">
                    <label class="control-label text-right mt-1" for="filename">Please wait while epos data is fetched. This may take upto 2 minutes.</label>

                </div>
                <div ng-if="EPOS_ACCOUNT_GROUPS_DATA.length==0 && !ShowWait"> Please click refresh to fetch the data from EPOS.</div>
                <table class="table table-head-fixed table-striped" ng-if="EPOS_ACCOUNT_GROUPS_DATA.length>0">
                    <thead>
                        <tr>
                            <th width="4%"></th>
                            <th class="text-nowrap">Accounting Group</th>
                            <th width="8%">Code</th>
                            <th width="5%">Quantity</th>
                            <th width="5%">Discounts</th>
                            <th width="5%">Tax</th>
                            <th class="text-nowrap">Total With Tax</th>
                        </tr>
                    </thead>

                    <tbody ng-repeat="EPOS_ACCOUNT_GROUP_DATA in EPOS_ACCOUNT_GROUPS_DATA" ng-init="EPOS_ACCOUNT_GROUP_DATA.SHOWDETAILS=false">
                        <tr>
                            <td class="cursor-pointer" ng-click="GET_ACCOUNT_GROUP_DETAILS(EPOS_ACCOUNT_GROUP_DATA)"><i class="fas fa-chevron-down" ng-show="EPOS_ACCOUNT_GROUP_DATA.SHOWDETAILS"></i><i class="fas fa-chevron-right" ng-show="!EPOS_ACCOUNT_GROUP_DATA.SHOWDETAILS"></i> </td>
                            <td>{{EPOS_ACCOUNT_GROUP_DATA.ACCOUNTING_GROUP}}    </td>
                            <td>{{EPOS_ACCOUNT_GROUP_DATA.ACCOUNTING_GROUP_CODE}}    </td>
                            <td>{{EPOS_ACCOUNT_GROUP_DATA.QUANTITY}}    </td>
                            <td>{{EPOS_ACCOUNT_GROUP_DATA.DISCOUNT | number:2}}    </td>
                            <td>{{EPOS_ACCOUNT_GROUP_DATA.TOTAL_TAX | number:2}}    </td>
                            <td>{{EPOS_ACCOUNT_GROUP_DATA.TOTAL_WITH_TAX | number:2}}    </td>
                        </tr>
                        <tr ng-show="EPOS_ACCOUNT_GROUP_DATA.SHOWDETAILS">
                            <td colspan="9" class="p-0">
                                <table class="table">
                                    <tr ng-repeat="EPOS_ACCOUNT_GROUP_DETAIL in EPOS_ACCOUNT_GROUP_DATA.EPOS_ACCOUNT_GROUP_DETAILS">
                                        <td width="4%"></td>
                                        <td width="40%">{{EPOS_ACCOUNT_GROUP_DETAIL.NAME}}</td>
                                        <td width="8%">{{EPOS_ACCOUNT_GROUP_DETAIL.SKU}} </td>
                                        <td width="5%">{{EPOS_ACCOUNT_GROUP_DETAIL.QUANTITY | number:2}} </td>
                                        <td width="5%">{{EPOS_ACCOUNT_GROUP_DETAIL.DISCOUNT | number:2}} </td>
                                        <td width="5%">{{EPOS_ACCOUNT_GROUP_DETAIL.TOTAL_TAX | number:2}} </td>
                                        <td width="15%">{{EPOS_ACCOUNT_GROUP_DETAIL.TOTAL_WITH_TAX | number:2}} </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot class="table-footer-fixed">
                        <tr>
                            <td></td>
                            <td colspan="2" class="text-bold">Total</td>
                            <td>{{(EPOS_ACCOUNT_GROUPS_DATA | total:'QUANTITY') | number:2}}    </td>
                            <td>{{(EPOS_ACCOUNT_GROUPS_DATA | total:'DISCOUNT')| number:2}}    </td>
                            <td>{{(EPOS_ACCOUNT_GROUPS_DATA | total:'TOTAL_TAX')| number:2}}    </td>
                            <td>{{(EPOS_ACCOUNT_GROUPS_DATA | total:'TOTAL_WITH_TAX')| number:2}}    </td>
                        </tr>
                    </tfoot>
                </table>

            </div>

        </fieldset>
    </div>

    <div class="event-footer animated fadeInUp">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12 d-inline m-2 text-right">
                    <button class="btn btn-wenodo btn-sm" ng-click="NextLink('Float')"><i class="fa fa-angle-double-right"></i> Continue</button>
                </div>
            </div>
        </div>
    </div>
</div>

