<style>
    h5 {
        font-size: 12px;
    }
</style>
<!--<div class="animated fadeInLeft" id="complimentary" role="tabpanel" ng-show="CASHUP.STEP_NO==9" aria-labelledby="custom-content-below-settings-tab">-->
<div class="overlay_loadingNew" style="display:{{overlay_loadingNew}}!important"></div>
<div id="LOADER_ID">
    <div class="card-header">

        <ul class="nav nav-pills float-left">
            <li class="nav-item border radius-50">
                <span class="font-12 text-bold">Branch: <span class="cash-up-header">{{CASHUP.BRANCH_NAME}}</span></span>
            </li>
            <li class="nav-item border radius-50 ml-2">
                <span class="font-12 text-bold">Area: <span class="cash-up-header">{{CASHUP.AreaList[0].NAME}}</span></span>
            </li>
            <li class="nav-item border radius-50 ml-2">
                <span class="font-12 text-bold">Session: <span class="cash-up-header">{{CASHUP.SESSION.SESSION_NAME}}</span></span>
            </li>
            <li class="nav-item border radius-50 ml-2">
                <span class="font-12 text-bold">CashUp Date: <span class="cash-up-header">{{CASHUP.CASHUP_DATE|date}}</span></span>
            </li>
        </ul>
        <div class="card-tools">
            <ul class="nav nav-pills ml-auto">
                <li class="nav-item border radius-50 ml-2">
                    <span class="font-12 text-bold">ePOS: <span class="cash-up-header">{{CASHUP.EPOS_HEADER_DATA[0].VOID_TOTAL_AMOUNT | number:2}}</span></span>
                </li>
                <li class="nav-item border radius-50 ml-2">
                    <span class="font-12 text-bold">Actual: <span class="cash-up-header">{{CASHUP.VOID_TOTAL | number:2}}</span></span>
                </li>
                <li class="nav-item border radius-50 ml-2">
                    <span class="font-12 text-bold" ng-class="{'text-danger':CASHUP.VARIANCE_VOID!=0}">Variance: <span class="cash-up-header">{{ CASHUP.VARIANCE_VOID=(CASHUP.VOID_TOTAL - CASHUP.EPOS_HEADER_DATA[0].VOID_TOTAL_AMOUNT) |number:2}}</span></span>
                </li>
            </ul>
        </div>
    </div>
    <!--<div class="row">
        <div class="col-lg-12">
            <button style="float:right;" class="btn btn-w-default btn-lg" ng-click="GET_EPOS_VOID_COMP();"> Auto Fill From EPOS</button>
        </div>
    </div>-->
    <div class="card-header">
        <h5 class="card-title">Void</h5>
    </div>
    <div class="card-body">
        <div class="table-responsive overflow-visible">
            <table class="table table-striped">
                <thead class="bg-wenodo-dark-blue">
                    <tr>
                        <th>Void Type</th>
                        <th>Number</th>
                        <th>Amount </th>
                    </tr>
                </thead>
                <tbody ng-show="CASHUP.VOID_TOTAL==0">
                    <tr><td colspan="3"><div class="text-center" empty-grid></div></td></tr>
                </tbody>
                <tbody ng-show="CASHUP.VOID_TOTAL!=0">
                    <tr ng-repeat="Void in VoidList| filter:{IS_DELETED:0}" ng-show="Void.VALUE!=''">
                        <td>
                            {{Void.CODE}}
                        </td>
                        <td>
                            {{Void.CHECK_NO}}
                        </td>
                        <td>
                            {{Void.VALUE}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
   
        <div class="card-footer text-right">
            <h6 class="app-text text-bold">Total: {{ CASHUP.VOID_TOTAL=((VoidList| filter:{IS_DELETED:0} )| total:'VALUE')| number:2 }}</h6>
        </div>
    </div>

    <hr />

    <div class="card-header">
        <h5 class="card-title">Complimentary</h5>
        <div class="card-tools">
            <ul class="nav nav-pills ml-auto">
                <li class="nav-item border radius-50">
                    <span class="font-12 text-bold">ePOS: <span class="cash-up-header">{{CASHUP.EPOS_HEADER_DATA[0].DISCOUNT_TOTAL_AMOUNT | number:2}}</span></span>
                </li>
                <li class="nav-item border radius-50 ml-2">
                    <span class="font-12 text-bold">Actual: <span class="cash-up-header">{{CASHUP.COMP_TOTAL | number:2}}</span></span>
                </li>
                <li class="nav-item border radius-50 ml-2">
                    <span class="font-12 text-bold" ng-class="{'text-danger':CASHUP.VARIANCE_COMP!=0}">Variance: <span class="cash-up-header">{{ CASHUP.VARIANCE_COMP=(CASHUP.COMP_TOTAL - CASHUP.EPOS_HEADER_DATA[0].DISCOUNT_TOTAL_AMOUNT) |number:2}}</span></span>
                </li>
            </ul>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive overflow-visible">
            <table class="table table-striped">
                <thead class="bg-wenodo-dark-blue">
                    <tr>
                        <th>Authorised By </th>
                        <th>Check #</th>
                        <th>Table # </th>
                        <th> Reason of Comp. </th>
                        <th>No. of Covers </th>
                        <th>Time</th>
                        <th>Amount</th>
                        <th>Total</th>
                        <th>Note</th>
                    </tr>
                </thead>
                <tbody ng-show="CASHUP.COMP_TOTAL==0">
                    <tr><td colspan="9"><div class="text-center" empty-grid></div></td></tr>
                </tbody>
                <tbody ng-show="CASHUP.COMP_TOTAL!=0">
                    <tr ng-repeat="COMP in ComplimentaryList| filter:{IS_DELETED:0}" ng-show="COMP.VALUE!=''">
                        <td>
                            <select class="custom-select text-xs"
                                    ng-options="CL.ID as CL.NAME for CL in StaffList"
                                    ng-model="COMP.AUTHORIZED_BY" ng-disabled="true">
                                <option value="">- Please Select-</option>
                            </select>
                        </td>
                        <td>
                            {{COMP.CHECK_NO}}
                        </td>
                        <td>
                            {{COMP.VOUCHER_TYPE}}
                        </td>
                        <td>
                            <select class="custom-select text-xs" ng-model="COMP.CUSTOMER_NAME" ng-options="CL.DISPLAY_TEXT as CL.REASON for CL in CASHUP.COMP_REASONS" ng-disabled="true">
                                <option value="">Select</option>
                            </select>
                        </td>
                        <td>
                            {{COMP.CODE}}
                        </td>
                        <td>
                            {{COMP.MODE}}
                        </td>
                        <td>
                            {{COMP.DISCOUNT}}
                        </td>
                        <td>
                            {{COMP.VALUE=COMP.DISCOUNT*1 |number:2}}
                        </td>
                        <td>
                            {{COMP.NOTE}}
                        </td>


                    </tr>
                </tbody>
            </table>
        </div>
        <div class="card-footer text-right">
            <h6 class="app-text text-bold">Total: {{ CASHUP.COMP_TOTAL=((ComplimentaryList | filter:{IS_DELETED:0})| total:'VALUE')| number:2 }}</h6>
        </div>

        <hr />
        <!--<div class="form-group mt-3">
        <label for="noteLayout" class="m-0">Notes:</label>
        <textarea class="form-control d-block" rows="4" id="noteLayout" name="text" ng-model="CASHUP.COMP_NOTES" ng-disabled="true"></textarea>
    </div>-->
        <div class="col-md-12">
            <label for="noteLayout" class="border-bottom m-0 pl-1">Comments</label>
            <div class="text-center ng-isolate-scope" ng-show="COMP_NOTE_LIST.length==0"><div class="alert bg-custom-blue">{{NO_COMMENTS}}</div></div>
            <blockquote class="blockquote text-success text-sm" ng-repeat="FNL in COMP_NOTE_LIST" ng-init="NOTE_INIT(FNL)">
                <!--<span class="float-right mb-2">
                    <a class="btn btn-w-default" ng-show="!FNL.IS_EDIT && FNL.IS_TIME_EDIT_FLAG" ng-click="EDIT_COMMENTS(FNL)"><i class="far fa-edit text-success"></i></a>
                    <a class="btn btn-w-default" ng-show="FNL.IS_EDIT" ng-click="SAVE_COMMENTS(FNL)"><i class="far fa-save text-success"></i></a>
                    <a class="btn btn-w-default" ng-show="FNL.IS_EDIT" ng-click="EDIT_CANCEL(FNL)"><i class="far fa-times text-danger"></i></a>
                   
                </span>-->
                <p class="text-success" ng-show="!FNL.IS_EDIT">{{FNL.NOTE}}</p>
                <!--<textarea class="form-control d-block"
                          ng-show="FNL.IS_EDIT"
                          rows="2"
                          id="noteLayout"
                          placeholder="{{WRITE_A_COMMENT}}"
                          name="text"
                          ng-keyup="CHECK_EVENTS($event,FNL)"
                          ng-model="FNL.NOTE"></textarea>
                <div ng-show="FNL.IS_EDIT">
                    <span>Press Esc to Cancel</span>
                    <a ng-click="EDIT_CANCEL(FNL)" class="text-blue cursor-pointer">
                        Cancel
                    </a>
                </div>-->
                <footer class="blockquote-footer" ng-show="!FNL.IS_EDIT">
                    {{FNL.USER_NAME}},
                    <cite title="">{{FNL.USER_EMAIL}}</cite>
                    <br />
                    <cite class="ml-3">{{FNL.CREATED_DATE | date:'dd-MMM-yyyy HH:mm' }}</cite>
                    <div class="border-bottom"></div>

                </footer>
                <!--<span class="semibold ml-3"
                      ng-show="FNL.IS_TIME_EDIT_FLAG">
                    Remaining time to edit this comment -
                    {{FNL.START_COUNTDOWN }}
                </span>-->
            </blockquote>
        </div>
    </div>
</div>
<div class="event-footer animated fadeInUp">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12 d-inline m-2 text-right">
                <!--<button class="btn btn-w-default btn-sm" ng-click="ShowDiv(GetPreviousStep())" ng-show="CASHUP.STEP_NO!=0"><i class="fa fa-angle-double-left"></i> Previous</button>-->
                <button class="btn btn-w-default btn-sm" ng-click="PreviousLink_View()"><i class="fa fa-angle-double-left"></i> Previous</button>
                <button class="btn btn-wenodo btn-sm" ng-click="NextLink_View('Reviews')"><i class="fa fa-angle-double-right"></i> Continue</button>
             </div>
        </div>
    </div>
</div>
<!--</div>-->
