<div class="card-header">
    <h5 class="card-title">View Covers</h5>
    <div class="card-tools">
        <ul class="nav nav-pills ml-auto">
            <li class="nav-item">
                <a class="btn btn-wenodo  text-white" ng-click="REDIRECTION_PAGE('Covers_Upload');">Back</a>
            </li>
        </ul>
    </div>
</div>
<form id="ViewCoversForm" name="ViewCoversForm" novalidate ng-init="GET_CU_COVERS()" >
    <div class="card-header">
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label>Branch:</label>
                    <select class="custom-select"
                            name="BRANCH_ID"
                            ng-model="CoversSearch.BRANCH_ID_VIEW_FILTER"
                            ng-options="CL.BRANCH_ID as CL.BRANCH_NAME for CL in BRANCH_LIST_VIEW">
                        <option value="">- Please Select Branch-</option>
                    </select>
                </div>
            </div>
            <div class="col-md-3" ng-init="$parent.dateinputOpenDate()">
                <div class="form-group">
                    <label>Created Date:</label>
                    <div id="reportrangeCoverView" class="custom-select custom-date text-xs">
                        <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
                        <span></span><b class="caret"></b>
                    </div>

                    <!--<input type="text"
                           class="form-control dateinputOpenDate bg-white"
                           autocomplete="off"
                           name="START_DATE"
                           readonly
                           placeholder="Select ..."
                           ng-model="CoversSearch.START_DATE_FILTER"
                           ng-value="CoversSearch.START_DATE_FILTER | date"/>-->
                </div>
            </div>
            
            <div class="col-md-3">
                <div class="row">
                    <div class="form-group">
                        <label>&nbsp;</label>
                        <button ng-click="GET_CU_COVERS()" class="btn btn-wenodo">Search</button>
                        <button ng-click="RESET_VIEW_COVERS()" class="btn btn-w-default">Reset</button>
                    </div>
                </div>
            </div> 
            <div class="col-md-3">
                <!--<label class="d-block">End Date:</label>-->
                <!--<input type="text"
               class="form-control dateinputOpenDate bg-white "
               autocomplete="off"
               name="CoversSearch.END_DATE"
               readonly
               placeholder="Select ..."
               ng-model="CoversSearch.END_DATE_FILTER"
               ng-value="CoversSearch.END_DATE_FILTER | date"/>-->
            </div>   
        </div>
        
    </div>
</form>

<div class="card-body">
    <div class="text-center" ng-show="CU_COVERS_LIST.length==0" empty-grid></div>
        <div class="table-responsive custom-scrollbar height-500" ng-show="CU_COVERS_LIST.length>0">
            <table class="table table-striped table-head-fixed"  id="LOADER_ID">
                <thead class="bg-wenodo-dark-blue">
                    <tr>
                        <th>Branch Name</th>
                        <th>Shift Name</th>
                        <th>Reservation Date</th>
                        <th>Reservation Time</th>
                        <th>Status</th>
                        <th>Booking Source</th>
                        <th>Cover Count</th>
                        <th>Created Date</th>
                        <th>Revenue Center</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <td colspan="10" align="center" ng-show="GetData">
                            <a class="btn btn-secondary text-white" ng-click="LAZY_GET_CU_COVERS()">{{VIEWMORERECORD}}</a>
                        </td>
                    </tr>
                </tfoot>
                <tbody ng-repeat="CL in CU_COVERS_LIST" on-finish-render="ngRepeatFinished">
                    <tr>
                        <td>{{CL.BRANCH_NAME}}</td>
                        <td>{{CL.SHIFT_NAME}}</td>
                        <td>{{CL.RESERVATION_DATE | date}}</td>
                        <td>{{CL.RESERVATION_TIME}}</td>
                        <td>{{CL.STATUS}}</td>
                        <td>{{CL.BOOKING_SOURCE}}</td>
                        <td>{{CL.COVER_COUNT}}</td>
                        <td>{{CL.CREATED_DATE | date }}</td>
                        <td>{{CL.REVENUE_CENTRE}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
