<style>
    h5 {
        font-size: 12px;
    }
</style>
<!--<div class="animated fadeInLeft" id="Vouchers" role="tabpanel" ng-show="CASHUP.STEP_NO==7" aria-labelledby="custom-content-below-settings-tab">-->
<!--<div  ng-controller="CashupEntryController">-->
<div class="overlay_loadingNew" style="display:{{overlay_loadingNew}}!important"></div>
<div id="LOADER_ID">
    <div class="card-header">
        <ul class="nav nav-pills float-left">
            <li class="nav-item border radius-50">
                <span class="font-12 text-bold">Branch: <span class="cash-up-header">{{CASHUP.BRANCH_NAME}}</span></span>
            </li>
            <li class="nav-item border radius-50 ml-2">
                <span class="font-12 text-bold">Area: <span class="cash-up-header">{{CASHUP.AreaList[0].NAME}}</span></span>
            </li>
            <li class="nav-item border radius-50 ml-2">
                <span class="font-12 text-bold">Session: <span class="cash-up-header">{{CASHUP.SESSION.SESSION_NAME}}</span></span>
            </li>
            <li class="nav-item border radius-50 ml-2">
                <span class="font-12 text-bold">CashUp Date: <span class="cash-up-header">{{CASHUP.CASHUP_DATE|date}}</span></span>
            </li>
        </ul>
        <div class="card-tools">
            <ul class="nav nav-pills ml-auto">
                <li class="nav-item border radius-50">
                    <span class="font-12 text-bold">
                        ePOS: <span class="cash-up-header">
                            {{(CASHUP.EPOS_DATA | filter:{"MEDIA":"Voucher Issued"})[0].SALES_AMT | number:2}}
                            <!--{{CASHUP.EPOS_HEADER_DATA[0].GIFT_CERT_TOTAL |number:2}}-->
                        </span>
                    </span>
                </li>
                <li class="nav-item border radius-50 ml-2">
                    <span class="font-12 text-bold">Actual: <span class="cash-up-header">{{CASHUP.ISSUE_TOTAL |number:2}}</span></span>
                </li>
                <li class="nav-item border radius-50 ml-2">
                    <sapn class="font-12 text-bold" ng-class="{'text-danger':CASHUP.VARIANCE_ISSUE!=0}">Variance: <span class="cash-up-header">{{ CASHUP.VARIANCE_ISSUE=(CASHUP.ISSUE_TOTAL-((CASHUP.EPOS_DATA | filter:{"MEDIA":"Voucher Issued"})[0].SALES_AMT)) |number:2}}</span></sapn>

                    <!--<sapn class="font-12 text-bold" ng-class="{'text-danger':CASHUP.VARIANCE_ISSUE!=0}">Variance: <span class="cash-up-header">{{ CASHUP.VARIANCE_ISSUE=((CASHUP.EPOS_DATA | filter:{"MEDIA":"Voucher Issued"}).length>0?CASHUP.ISSUE_TOTAL-((CASHUP.EPOS_DATA | filter:{"MEDIA":"Voucher Issued"})[0].SALES_AMT):0) |number:2}}</span></sapn>-->
                    <!--<sapn class="font-12 text-bold" ng-class="{'text-danger':CASHUP.VARIANCE_ISSUE!=0}">Variance: <span class="cash-up-header">{{ CASHUP.VARIANCE_ISSUE=(CASHUP.EPOS_HEADER_DATA[0].GIFT_CERT_TOTAL*1-CASHUP.ISSUE_TOTAL*1) |number:2}}</span></sapn>-->
                </li>
            </ul>
        </div>
    </div>
    <div class="card-header">
        <h5 class="card-title">Vouchers Issued</h5>
    </div>
    <div class="card-body">
        <div class="table-responsive overflow-visible">
            <table class="table table-striped">
                <thead class="bg-wenodo-dark-blue">
                    <tr>
                        <th>Voucher Type </th>
                        <th>Voucher #</th>
                        <th>Amount </th>
                        <th> Validity </th>
                        <th>Sold To</th>
                        <th>Payment Method</th>
                        <th>Invoice #</th>
                        <th>Note</th>
                    </tr>
                </thead>
                <tbody ng-show="CASHUP.ISSUE_TOTAL==0">
                    <tr><td colspan="8"><div class="text-center" empty-grid></div></td></tr>
                </tbody>
                <tbody ng-show="CASHUP.ISSUE_TOTAL!=0">
                    <tr ng-repeat="VISS in VoucherIssuedList| filter:{IS_REDEEMED:false}| filter:{ENTRY_TYPE_ID:1}| filter:{IS_DELETED:0}" ng-show="VISS.VALUE!=''" on-finish-render="ngRepeatFinished">
                        <td>
                            <select class="custom-select text-xs" ng-model="VISS.VOUCHER_TYPE" ng-change="SetVoucherValues_basisType(VISS)" ng-disabled="true">
                                <option value="Pre-Defined">Pre-defined</option>
                                <option value="Open Voucher">Open Voucher</option>
                            </select>
                        </td>
                        <td>
                            <select class="custom-select text-xs" ng-show="VISS.vouchernumbervisible"
                                    ng-options="CL.ID as CL.CODE for CL in MasterEntryList | filter:{ENTRY_TYPE_ID:1}"
                                    ng-model="VISS.ENTRY_TYPE_DETAIL_ID" ng-change="SetVoucherValues(VISS)" ng-disabled="true">
                                <option value="">- Please Select-</option>
                            </select>
                            <input class="form-control" type="text" ng-show="!VISS.vouchernumbervisible" ng-model="VISS.CODE" ng-disabled="true">
                        </td>
                        <td>
                            {{VISS.VALUE|number:2}}
                        </td>
                        <td>
                            {{VISS.VALIDITY_DATE|date}}
                        </td>
                        <td>
                            {{VISS.CUSTOMER_NAME}}
                        </td>
                        <td>
                            <select class="custom-select text-xs" style="width: 100%;" ng-options="Payment.PAYMENT_METHOD_ID as Payment.METHOD_NAME for Payment in PAYMENT_METHODS" ng-model="VISS.PAYMENT_METHOD_ID" ng-change="SetPayment(VISS,VISS.PAYMENT_METHOD_ID)" ng-disabled="true">
                                <option value="">Select</option>
                            </select>

                        </td>
                        <td>
                            {{VISS.CHECK_NO}}

                        </td>
                        <td>
                            {{VISS.NOTE}}

                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
    
        <div class="card-footer text-right">
            <h6 class="app-text text-bold">Total: {{ CASHUP.ISSUE_TOTAL=((VoucherIssuedList | filter:{IS_REDEEMED:false}| filter:{ENTRY_TYPE_ID:1}| filter:{IS_DELETED:0}) | total:'VALUE')| number:2 }}</h6>
        </div>

    </div>
    <hr />
    <div class="card-header">
        <h5 class="card-title">Vouchers Redeemed <!--<button type="button" class="btn btn-wenodo btn-sm ml-2" data-toggle="modal" ng-click="SelectedRedeemedPopup();">Vouchers Redeem</button>--></h5>
        <div class="card-tools">
            <ul class="nav nav-pills ml-auto">
                <li class="nav-item border radius-50">
                    <span class="font-12 text-bold">ePOS: <span class="cash-up-header">{{(CASHUP.EPOS_DATA | filter:{"MEDIA":"Voucher Redeemed"})[0].SALES_AMT | number:2}}</span></span>

                    <!--<h5>ePOS: <span class="app-text">{{(CASHUP.EPOS_DATA | filter:{"MEDIA":"Gift"})[0].SALES_AMT | number:2}}</span></h5>-->
                </li>
                <li class="nav-item border radius-50 ml-2">
                    <span class="font-12 text-bold">Actual: <span class="cash-up-header">{{CASHUP.REDEEMED_TOTAL |number:2}}</span></span>
                    <!--<h5>Actual: <span class="app-text">{{CASHUP.REDEEMED_TOTAL |number:2}}</span></h5>-->
                </li>
              <li class="nav-item border radius-50 ml-2">
                    <span class="font-12 text-bold" ng-class="{'text-danger':CASHUP.VARIANCE_REDEEMED!=0}">
                       
                        <!--<span class="cash-up-header" ng-show="(CASHUP.EPOS_DATA | filter:{'MEDIA':'Voucher - Gift Pro'}).length>0?true:DFlag=false">{{ CASHUP.VARIANCE_REDEEMED=( ((CASHUP.EPOS_DATA | filter:{"MEDIA":"Voucher - Gift Pro"})[0].SALES_AMT*1)-CASHUP.REDEEMED_TOTAL*1) |number:2}}</span>-->

                        <!--<span class="cash-up-header" ng-show="(CASHUP.EPOS_DATA | filter:{'MEDIA':'Gift'}).length>0?true:DFlag=false">{{ CASHUP.VARIANCE_REDEEMED=( ((CASHUP.EPOS_DATA | filter:{"MEDIA":"Gift"})[0].SALES_AMT*1)-CASHUP.REDEEMED_TOTAL*1) |number:2}}</span>
                        <span class="cash-up-header" ng-show="(CASHUP.EPOS_DATA | filter:{'MEDIA':'GIFT (external)'}).length>0?true:DFlag=false">{{ CASHUP.VARIANCE_REDEEMED=( ((CASHUP.EPOS_DATA | filter:{"MEDIA":"Gift (external)"})[0].SALES_AMT*1)-CASHUP.REDEEMED_TOTAL*1) |number:2}}</span>

                        <span class="cash-up-header" ng-show="VARIANCE_REDEEMED1!=0">{{ VARIANCE_REDEEMED1 *-1 |number:2}}</span>-->
                        <!--<sapn class="font-12 text-bold" ng-class="{'text-danger':CASHUP.VARIANCE_REDEEMED!=0}">Variance:<span class="cash-up-header">{{ CASHUP.VARIANCE_REDEEMED=((CASHUP.EPOS_DATA | filter:{"MEDIA":"Voucher Redeemed"}).length>0?CASHUP.REDEEMED_TOTAL-(CASHUP.EPOS_DATA | filter:{"MEDIA":"Voucher Redeemed"})[0].SALES_AMT:0) |number:2}}</span></sapn>-->
                         <sapn class="font-12 text-bold" ng-class="{'text-danger':CASHUP.VARIANCE_REDEEMED!=0}">Variance: <span class="cash-up-header">{{ CASHUP.VARIANCE_REDEEMED=(CASHUP.REDEEMED_TOTAL-(CASHUP.EPOS_DATA | filter:{"MEDIA":"Voucher Redeemed"})[0].SALES_AMT) |number:2}}</span></sapn>

                    </span>
                    <!--<h5 ng-class="{'text-danger':CASHUP.VARIANCE_REDEEMED!=0}">Variance: <span class="app-text">{{ CASHUP.VARIANCE_REDEEMED=((CASHUP.EPOS_DATA | filter:{"MEDIA":"Gift"}).length>0?(CASHUP.EPOS_DATA | filter:{"MEDIA":"Gift"})[0].SALES_AMT*1-CASHUP.REDEEMED_TOTAL:0) |number:2}}</span></h5>-->
                </li>
            </ul>
        </div>
    </div>


    <div class="card-body">
        <div class="table-responsive overflow-visible">
            <table class="table table-striped">
                <thead class="bg-wenodo-dark-blue">
                    <tr>
                        <th>Invoice #</th>
                        <th>Voucher #</th>
                        <th>Amount </th>
                        <th>Redeemed Amount</th>
                        <th> Validity </th>
                        <th>Redeemed By</th>
                        <th>Payment Method</th>
                        <th>Note</th>
                    </tr>
                </thead>
                <tbody ng-show="CASHUP.REDEEMED_TOTAL==0">
                    <tr><td colspan="7"><div class="text-center" empty-grid></div></td></tr>
                </tbody>
                <tbody ng-show="CASHUP.REDEEMED_TOTAL!=0">
                    <tr ng-repeat="VISS in VoucherIssuedList | filter:{IS_REDEEMED:true}| filter:{ENTRY_TYPE_ID:1}| filter:{IS_DELETED:0}" ng-show="VISS.VALUE!=''">
                        <td>
                            {{VISS.CHECK_NO}}
                        </td>
                        <td>
                            {{VISS.CODE}}
                        </td>
                        <td>
                            {{VISS.TOTAL_AMT|number:2}}
                        </td>
                        <td>
                            {{VISS.VALUE|number:2}}
                        </td>
                        <td>
                            {{VISS.VALIDITY_DATE|date}}
                        </td>
                        <td>
                            {{VISS.CUSTOMER_NAME}}
                        </td>
                        <td>
                            <select class="custom-select text-xs" style="width: 100%;" ng-options="Payment.PAYMENT_METHOD_ID as Payment.METHOD_NAME for Payment in PAYMENT_METHODS_RECEIVED" ng-model="VISS.PAYMENT_METHOD_ID" ng-change="SetPayment_Red(VISS,VISS.PAYMENT_METHOD_ID)" ng-disabled="true">
                                <option value="">Select</option>
                            </select>

                        </td>
                       
                        <td>
                            {{VISS.NOTE}}

                        </td>

                    </tr>
                </tbody>
            </table>
        </div>

     
        <div class="card-footer text-right">
            <h6 class="app-text text-bold">Total: {{ CASHUP.REDEEMED_TOTAL=((VoucherIssuedList | filter:{IS_REDEEMED:true}| filter:{ENTRY_TYPE_ID:1}| filter:{IS_DELETED:0}) | total:'VALUE')| number:2 }}</h6>
        </div>

    </div>

</div>
<div class="event-footer animated fadeInUp">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12 d-inline m-2 text-right">
                <!--<button class="btn btn-w-default btn-sm" ng-click="ShowDiv(GetPreviousStep())" ng-show="CASHUP.STEP_NO!=0"><i class="fa fa-angle-double-left"></i> Previous</button>-->
                <button class="btn btn-w-default btn-sm" ng-click="PreviousLink_View()"><i class="fa fa-angle-double-left"></i> Previous</button>
                <button class="btn btn-wenodo btn-sm" ng-click="NextLink_View('Deposits')"><i class="fa fa-angle-double-right"></i> Continue</button>
                </div>
        </div>
    </div>
</div>
<!--</div>-->
<!--</div>-->

