<div class="card-body">
    <div class="row align-items-center">
        <div class="col-md-2 text-center mb-2" ng-repeat="EPOS in INTEGRATIONSYSTEM_LIST">
            <div class="border" style="height:260px">
                <img src="{{APP_PATH}}{{EPOS.IMAGE_PATH}}" class="pt-5" style="max-width:40%" ng-click="INS_SYSTEM_NOTIFICATION(EPOS);" />
                <h6 class="text-blue mt-4">{{EPOS.SYSTEM_NAME}}</h6>
            </div>
        </div>         
    </div>
</div>
{{INTEGRATIONSYSTEM_LIST}}