<form id="ReservationMappingForm" name="ReservationMappingForm" novalidate> 
    <div class="card-header">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>Entity:*</label>
                    <select class="custom-select"
                            name="ENTITY_ID"
                            ng-model="ReservationMappingSearch.ENTITY_ID"
                            ng-options="EL.ENTITY_ID as EL.ENTITY_NAME for EL in ENTITY_LIST"
                            required
                            ng-change="ADMIN_GET_BRANCH();"
                            ng-class="{'error':ReservationMappingForm.submitted && ReservationMappingForm.ENTITY_ID.$error.required}">
                        <option value="">- Please Select Entity-</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Branch:*</label>
                    <select class="custom-select"
                            name="BRANCH_ID"
                            ng-model="ReservationMappingSearch.BRANCH_ID"
                            ng-options="EL.BRANCH_ID as EL.BRANCH_NAME for EL in BRANCH_LIST"                             
                            required
                            ng-class="{'error':ReservationMappingForm.submitted && ReservationMappingForm.BRANCH_ID.$error.required}">
                        <option value="">- Please Select Branch-</option>
                    </select>
                </div>
            </div>
            
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="form-group">

                    <button ng-click="GET_RESERVATION_STATUS_FOR_MAPPING();" class="btn btn-w-default">Search</button>
                    <button ng-click="RESET();" class="btn btn-w-default">Reset</button>
                </div>
            </div>
        </div>
    </div>
</form>
<form id="ReservationMappingListForm" name="ReservationMappingListForm" novalidate>
    <div class="card-body">
        <div class="text-center" ng-show="RESERVATION_LIST.length==0" empty-grid>
        </div>
        <div class="table-responsive custom-scrollbar height-auto" ng-show="RESERVATION_LIST.length>0">
            <table class="table table-striped">
                <thead class="bg-wenodo-dark-blue">
                    <tr>
                        <th class="text-nowrap">#</th>
                        <th class="text-nowrap">Status</th>
                        <th class="text-nowrap">Mapped Reservation Status</th>                       
                        <th class="text-nowrap">Action</th>                       
                    </tr>
                </thead>
                <tbody ng-repeat="RESERVATION in RESERVATION_LIST" on-finish-render="ngRepeatFinished">
                    <tr ng-show="RESERVATION.IS_VISIBLE!=false">
                        <td class="text-nowrap"> {{$index+1}}</td>
                        <td class="text-nowrap"> {{RESERVATION.STATUS}}</td>                       
                        <td class="text-nowrap">
                            <select ng-model="RESERVATION.RESERVATION_STATUS_MASTER_ID"                                    
                                    name="FIELD_TYPE{{$index}}"
                                    class="custom-select w-90"                                   
                                    required                                   
                                    ng-options="RESE_MAS_STATUS.RESERVATION_STATUS_MASTER_ID as RESE_MAS_STATUS.STATUS_NAME for RESE_MAS_STATUS in RESERVATION_STATUS_MASTER"
                                    ng-class="{'error':ReservationMappingListForm.submitted && ReservationMappingListForm.FIELD_TYPE{{$index}}.$error.required}">
                                <option value="">- Please Select -</option>
                            </select>
                        </td>
                        <td>
                            <!--<a href="" ng-click="DELETE_ROW(RESERVATION);"><i class="fas fa-times text-danger"></i></a>-->
                            <a ng-click="DELETE_ROW(RESERVATION);" data-toggle="tooltip" data-html="true" data-original-title="Delete"><i class="fas fa-times text-danger"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-12">
            <div class="row" ng-show="RESERVATION_LIST.length>0">
                <div class="form-group">
                    <button ng-click="INS_UPD_RESERVATION_STATUS_MAPPING();" class="btn btn-wenodo">Save</button>
                </div>
            </div>
        </div>
    </div>
</form>
 