<div class="row">
    <div class="col-xxl-10 col-md-10 col-xl-10 side_content ms-auto">
        <div class="right-panel">
            <div class="card">
                <div class="card-header">
                    <h6>Integration</h6>
                </div>
                <div class="card-header px-0 border-0">
                    <ul class="nav nav-tabs border-tab mb-0" id="bottom-tab" role="tablist">
                        <li class="nav-item ms-2">
                            <a class="nav-link nav-border tab-info" ng-class="{'active':TAB_ID==1}" ng-click="Fn_TAB_CLICK(1)" id="bottom-home-tab" data-bs-toggle="tab" role="tab" aria-controls="bottom-home" aria-selected="true">
                                Inbound
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-border tab-info" ng-class="{'active':TAB_ID==2}" ng-click="Fn_TAB_CLICK(2)" id="bottom-home-tab" data-bs-toggle="tab" role="tab" aria-controls="bottom-home" aria-selected="true">
                                Outbound
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="card-body" ng-show="TAB_ID==1">
                    <div class="row">
                        <h5 class="headings">Payroll Apps</h5>
                        <div class="accordion" id="outlineaccordion">
                            <div class="accordion-item border">
                                <h2 class="accordion-header" id="outlineaccordionone">
                                    <button class="accordion-button collapsed bg-white" type="button" data-bs-toggle="collapse" data-bs-target="#left-collapseOne" aria-expanded="true" aria-controls="left-collapseOne">
                                        <span>
                                            <img class="img-40 rounded-circle float-start me-3" src="../E_Content/images/user2-160x160.jpg">
                                            <span class="mt-1">Gusto</span>
                                            <span class="normal-content">Sync employees and wages.</span>
                                        </span>
                                        <span class="btn btn-primary ms-auto">Connect</span>
                                    </button>
                                </h2>
                                <div class="accordion-collapse collapse bg-white" id="left-collapseOne" aria-labelledby="outlineaccordionone" data-bs-parent="#outlineaccordion">
                                    <div class="accordion-body normal_content">
                                        <span class="d-block">This integration syncs the following information:</span>
                                        <ul class="list">
                                            <li>Employees are imported from your Gusto account and any changes to their profiles are synced to Wenodo.</li>
                                            <li>Wages are imported from your Gusto account and any changes to your locations are synced to Wenodo.</li>
                                        </ul>



                                        You can export the following information with this integration:
                                        <ul class="list">
                                            <li>Timesheets can be exported from your Wenodo account to your Gusto account to process payroll.</li>
                                        </ul>

                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item border">
                                <h2 class="accordion-header" id="outlineaccordionone2">
                                    <button class="accordion-button collapsed bg-white" type="button" data-bs-toggle="collapse" data-bs-target="#left-collapseOne2" aria-expanded="true" aria-controls="left-collapseOne">
                                        <span>
                                            <img class="img-40 rounded-circle float-start me-3" src="../E_Content/images/user2-160x160.jpg">
                                            <span class="mt-1">Gusto</span>
                                            <span class="normal-content">Sync employees and wages.</span>
                                        </span>
                                        <span class="btn btn-primary ms-auto">Connect</span>
                                    </button>
                                </h2>
                                <div class="accordion-collapse collapse bg-white" id="left-collapseOne2" aria-labelledby="outlineaccordionone2" data-bs-parent="#outlineaccordion">
                                    <div class="accordion-body normal_content">
                                        <span class="d-block">This integration syncs the following information:</span>
                                        <ul class="list">
                                            <li>Employees are imported from your Gusto account and any changes to their profiles are synced to Wenodo.</li>
                                            <li>Wages are imported from your Gusto account and any changes to your locations are synced to Wenodo.</li>
                                        </ul>



                                        You can export the following information with this integration:
                                        <ul class="list">
                                            <li>Timesheets can be exported from your Wenodo account to your Gusto account to process payroll.</li>
                                        </ul>

                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item border">
                                <h2 class="accordion-header" id="outlineaccordionone3">
                                    <button class="accordion-button collapsed bg-white" type="button" data-bs-toggle="collapse" data-bs-target="#left-collapseOne3" aria-expanded="true" aria-controls="left-collapseOne">
                                        <span>
                                            <img class="img-40 rounded-circle float-start me-3" src="../E_Content/images/user2-160x160.jpg">
                                            <span class="mt-1">Gusto</span>
                                            <span class="normal-content">Sync employees and wages.</span>
                                        </span>
                                        <span class="btn btn-primary ms-auto">Connect</span>
                                    </button>
                                </h2>
                                <div class="accordion-collapse collapse bg-white" id="left-collapseOne3" aria-labelledby="outlineaccordionone3" data-bs-parent="#outlineaccordion">
                                    <div class="accordion-body normal_content">
                                        <span class="d-block">This integration syncs the following information:</span>
                                        <ul class="list">
                                            <li>Employees are imported from your Gusto account and any changes to their profiles are synced to Wenodo.</li>
                                            <li>Wages are imported from your Gusto account and any changes to your locations are synced to Wenodo.</li>
                                        </ul>



                                        You can export the following information with this integration:
                                        <ul class="list">
                                            <li>Timesheets can be exported from your Wenodo account to your Gusto account to process payroll.</li>
                                        </ul>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <hr />

                        <h6 class="headings">Payroll Apps</h6>
                        <div class="accordion" id="outlineaccordion">
                            <div class="accordion-item border">
                                <h2 class="accordion-header" id="outlineaccordionone4">
                                    <button class="accordion-button collapsed bg-white" type="button" data-bs-toggle="collapse" data-bs-target="#left-collapseOne4" aria-expanded="true" aria-controls="left-collapseOne">
                                        <span>
                                            <img class="img-40 rounded-circle float-start me-3" src="../E_Content/images/user2-160x160.jpg">
                                            <span class="mt-1">Gusto</span>
                                            <span class="normal-content">Sync employees and wages.</span>
                                        </span>
                                        <span class="btn btn-primary ms-auto">Connect</span>
                                    </button>
                                </h2>
                                <div class="accordion-collapse collapse bg-white" id="left-collapseOne4" aria-labelledby="outlineaccordionone4" data-bs-parent="#outlineaccordion">
                                    <div class="accordion-body normal_content">
                                        <span class="d-block">This integration syncs the following information:</span>
                                        <ul class="list">
                                            <li>Employees are imported from your Gusto account and any changes to their profiles are synced to Wenodo.</li>
                                            <li>Wages are imported from your Gusto account and any changes to your locations are synced to Wenodo.</li>
                                        </ul>



                                        You can export the following information with this integration:
                                        <ul class="list">
                                            <li>Timesheets can be exported from your Wenodo account to your Gusto account to process payroll.</li>
                                        </ul>

                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item border">
                                <h2 class="accordion-header" id="outlineaccordionone5">
                                    <button class="accordion-button collapsed bg-white" type="button" data-bs-toggle="collapse" data-bs-target="#left-collapseOne5" aria-expanded="true" aria-controls="left-collapseOne">
                                        <span>
                                            <img class="img-40 rounded-circle float-start me-3" src="../E_Content/images/user2-160x160.jpg">
                                            <span class="mt-1">Gusto</span>
                                            <span class="normal-content">Sync employees and wages.</span>
                                        </span>
                                        <span class="btn btn-primary ms-auto">Connect</span>
                                    </button>
                                </h2>
                                <div class="accordion-collapse collapse bg-white" id="left-collapseOne5" aria-labelledby="outlineaccordionone5" data-bs-parent="#outlineaccordion">
                                    <div class="accordion-body normal_content">
                                        <span class="d-block">This integration syncs the following information:</span>
                                        <ul class="list">
                                            <li>Employees are imported from your Gusto account and any changes to their profiles are synced to Wenodo.</li>
                                            <li>Wages are imported from your Gusto account and any changes to your locations are synced to Wenodo.</li>
                                        </ul>



                                        You can export the following information with this integration:
                                        <ul class="list">
                                            <li>Timesheets can be exported from your Wenodo account to your Gusto account to process payroll.</li>
                                        </ul>

                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item border">
                                <h2 class="accordion-header" id="outlineaccordionone6">
                                    <button class="accordion-button collapsed bg-white" type="button" data-bs-toggle="collapse" data-bs-target="#left-collapseOne6" aria-expanded="true" aria-controls="left-collapseOne">
                                        <span>
                                            <img class="img-40 rounded-circle float-start me-3" src="../E_Content/images/user2-160x160.jpg">
                                            <span class="mt-1">Gusto</span>
                                            <span class="normal-content">Sync employees and wages.</span>
                                        </span>
                                        <span class="btn btn-primary ms-auto">Connect</span>
                                    </button>
                                </h2>
                                <div class="accordion-collapse collapse bg-white" id="left-collapseOne6" aria-labelledby="outlineaccordionone6" data-bs-parent="#outlineaccordion">
                                    <div class="accordion-body normal_content">
                                        <span class="d-block">This integration syncs the following information:</span>
                                        <ul class="list">
                                            <li>Employees are imported from your Gusto account and any changes to their profiles are synced to Wenodo.</li>
                                            <li>Wages are imported from your Gusto account and any changes to your locations are synced to Wenodo.</li>
                                        </ul>



                                        You can export the following information with this integration:
                                        <ul class="list">
                                            <li>Timesheets can be exported from your Wenodo account to your Gusto account to process payroll.</li>
                                        </ul>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="card-body" ng-show="TAB_ID==2">
                    <div class="row">
                        <h6 class="headings">Generate API key</h6>
                        <div class="col-xxl-6 col-md-9 col-xl-6">
                            <label class="d-block">API Key</label>
                            <div class="placeholder_API" data-type="">
                                <input type="text"
                                       name="API_KEY"
                                       placeholder="Click generate to get API Key"
                                       ng-model="API_KEY"
                                       required
                                       ng-class="{'error':UserJourneyform.submitted && UserJourneyform.API_KEY.$error.required}" />
                            </div>
                        </div>
                        <div class="col-xxl-3 col-md-3 col-xl-3">
                            <label class="d-block">&nbsp;</label>
                            <button type="button" class="btn btn-primary">Generate API</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
