<div class="row">
    <div class="col-xxl-10 col-md-10 col-xl-10 side_content ms-auto">
        <div class="right-panel">
            <div class="card">
                <div class="card-header">
                    <h6>Reporting</h6>
                </div>
                <div class="card-body">
                    <div class="row">
                        <h6 class="headings">Compare Your Labor Spend Against Sales</h6>
                        <div class="col-xxl-3 col-md-6 col-xl-3">
                            <div class="media form-control">
                                <label class="col-form-label">Enable</label>
                                <div class="media-body switch-sm ms-auto">
                                    <label class="switch">
                                        <input type="checkbox"
                                               checked=""
                                               name="ENABLE"
                                               ng-model="ReportSearch.LABOR_ENABLE"
                                               ng-change="INS_UPD_CUSTOMER_SETTINGS(ReportSearch.LABOR_ENABLE,80)"
                                               ng-class="{'error':UserJourneyform.submitted && UserJourneyform.ENABLE.$error.required}"><span class="switch-state"></span>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <hr ng-show="false" />
                        <div class="row" ng-show="false">
                            <div class="col-xxl-8 col-md-8 col-xl-8"><h6 class="headings">Upper Limit</h6></div>
                            <div class="col-xxl-4 col-md-4 col-xl-4 text-end">
                                <button type="button"
                                        class="btn btn-sm btn-light"
                                        ng-click="INS_UPD_CUSTOMER_SETTINGS(ReportSearch.SET_LABOUT_COST,81)">
                                    <i class="fa-light fa-save float-start mt-1 me-2"></i> Save Changes
                                </button>
                            </div>
                        </div>
                        <div class="col-xxl-3 col-md-6 col-xl-3" ng-show="false">
                            <form name="LOBORFORM" novalidate>
                                <label>Set labour cost upper limit/ceiling</label>
                                <div class="placeholder" data-type="/ day">
                                    <input type="text"
                                           class="pe-5"
                                           name="SET_LABOUT_COST"
                                           placeholder="Add here"
                                           only-numbers
                                           required
                                           ng-change="CHECK_LIMIT();"
                                           ng-model="ReportSearch.SET_LABOUT_COST"
                                           ng-class="{'error':LOBORFORM.submitted && LOBORFORM.SET_LABOUT_COST.$error.required}" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
