@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_Request.cshtml";
}
<script type="text/javascript">

        var AppVersion = @System.Configuration.ConfigurationManager.AppSettings["AppVersion"].ToString();

       // var AppVersion = 84934845;
</script>
<div class="wrapper" ng-controller="AdminController">
        <div class="card-header mt-5 pt-5 shadow-sm"><h5 class="heading-text">REQUEST FORMS</h5></div>
            <ng-view>

            </ng-view>
</div>
<script src="~/AngularControllers/CashupAdminController.js"></script>
<script src="~/AngularControllers/SetupAdminController.js"></script>

