<form id="SessionMappingForm" name="SessionMappingForm" novalidate>
    <div class="card-header">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>Customer:*</label>
                    <select class="custom-select"
                            name="CUSTOMER_ID"
                            ng-model="SessionMappingSearch.CUSTOMER_ID"
                            ng-options="CL.CUSTOMER_ID as CL.CUSTOMER_NAME for CL in CUSTOMER_LIST "
                            required
                            ng-change="GET_ENTITY_LIST()"
                            ng-class="{'error':SessionMappingForm.submitted && SessionMappingForm.CUSTOMER_ID.$error.required}" ng-disabled="SessionMappingSearch.EDIT_FLAG==true">
                        <option value="">- Please Select Customer-</option>
                    </select>

                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Entity:*</label>
                    <select class="custom-select"
                            name="ENTITY_ID"
                            ng-model="SessionMappingSearch.ENTITY_ID"
                            ng-options="EL.ENTITY_ID as EL.ENTITY_NAME for EL in ENTITY_LIST"
                            ng-change="GET_LOCATION();" ng-disabled="SessionMappingSearch.EDIT_FLAG==true"
                            required
                            ng-class="{'error':SessionMappingForm.submitted && SessionMappingForm.ENTITY_ID.$error.required}">
                        <option value="">- Please Select Entity-</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Location:*</label>
                    <select class="custom-select"
                            name="LOCATION_ID"
                            ng-model="SessionMappingSearch.LOCATION_ID"
                            ng-options="EL.LOCATION_ID as EL.LOCATION_NAME for EL in LOCATION"
                            ng-change="ADMIN_GET_BRANCH();" ng-disabled="SessionMappingSearch.EDIT_FLAG==true"
                            required
                            ng-class="{'error':SessionMappingForm.submitted && SessionMappingForm.LOCATION_ID.$error.required}">
                        <option value="">- Please Select Location-</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Branch Name:*</label>
                    <select class="custom-select"
                            name="BRANCH_ID"
                            ng-model="SessionMappingSearch.BRANCH_ID"
                            ng-options="EL.BRANCH_ID as EL.BRANCH_NAME for EL in BRANCH_LIST"
                            ng-change="ADMIN_GET_BRANCH_AREA();" ng-disabled="SessionMappingSearch.EDIT_FLAG==true"
                            required
                            ng-class="{'error':SessionMappingForm.submitted && SessionMappingForm.BRANCH_ID.$error.required}">
                        <option value="">- Please Select Branch-</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Area:*</label>
                    <select class="custom-select"
                            name="AREA_ID"
                            ng-model="SessionMappingSearch.AREA_ID"
                            ng-options="EL.AREA_ID as EL.AREA_NAME for EL in AREA_LIST" ng-disabled="SessionMappingSearch.EDIT_FLAG==true"
                            required
                            ng-class="{'error':SessionMappingForm.submitted && SessionMappingForm.AREA_ID.$error.required}">
                        <option value="">- Please Select Area-</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Session:*</label>
                    <select class="custom-select"
                            name="SESSION_ID"
                            ng-model="SessionMappingSearch.SESSION_ID"
                            ng-options="SL.SESSION_MASTER_ID as SL.SESSION_NAME for SL in SESSION_LIST" ng-disabled="SessionMappingSearch.EDIT_FLAG==true"
                            required
                            ng-class="{'error':SessionMappingForm.submitted && SessionMappingForm.SESSION_ID.$error.required}">
                        <option value="">- Please Select Session-</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-3 pr-0">
                        <div class="form-group">
                            <label class="text-nowrap">Start Time:*</label>
                            <select class="custom-select border-radius-right" name="START_TIME"
                                    ng-model="SessionMappingSearch.START_TIME"
                                    required
                                    ng-class="{'error':SessionMappingForm.submitted && SessionMappingForm.START_TIME.$error.required}">
                                <option value="">Hour</option>
                                <option ng-repeat="x in [].constructor(24) track by $index" ng-value="($index<10?'0':'')+$index">{{$index<10?0:''}}{{$index}}</option>

                            </select>
                        </div>
                    </div>
                    <div class="col-md-3 px-0">
                        <div class="form-group">
                            <label class="text-nowrap">&nbsp;</label>
                            <select class="custom-select border-radius-0" name="START_TIME_MIN"
                                    ng-model="SessionMappingSearch.START_TIME_MIN"
                                    required
                                    ng-class="{'error':SessionMappingForm.submitted && SessionMappingForm.START_TIME_MIN.$error.required}">
                                <option value="">Minutes</option>
                                <option ng-repeat="x in [].constructor(60) track by $index" ng-value="($index<10?'0':'')+$index">{{$index<10?0:''}}{{$index}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3 px-0">
                        <div class="form-group">
                            <label class="text-nowrap">&nbsp;</label>
                            <select class="custom-select border-radius-0" name="START_TIME_SEC"
                                    ng-model="SessionMappingSearch.START_TIME_SEC"
                                    required
                                    ng-class="{'error':SessionMappingForm.submitted && SessionMappingForm.START_TIME_SEC.$error.required}">
                                <option value="">Seconds</option>
                                <option ng-repeat="x in [].constructor(60) track by $index" ng-value="($index<10?'0':'')+$index">{{$index<10?0:''}}{{$index}}</option>
                            </select>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-3 pr-0">
                        <div class="form-group">
                            <label>End Time:* </label>
                            <select class="custom-select border-radius-right" name="END_TIME"
                                    ng-model="SessionMappingSearch.END_TIME"
                                    required
                                    ng-class="{'error':SessionMappingForm.submitted && SessionMappingForm.END_TIME.$error.required}">
                                <option value="">Hour</option>
                                <option ng-repeat="x in [].constructor(24) track by $index" ng-value="($index<10?'0':'')+$index">{{$index<10?0:''}}{{$index}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3 px-0">
                        <div class="form-group">
                            <label>&nbsp;</label>
                            <select class="custom-select border-radius-0" name="END_TIME_MIN"
                                    ng-model="SessionMappingSearch.END_TIME_MIN"
                                    required
                                    ng-class="{'error':SessionMappingForm.submitted && SessionMappingForm.END_TIME_MIN.$error.required}">
                                <option value="">Minutes</option>
                                <option ng-repeat="x in [].constructor(60) track by $index" ng-value="($index<10?'0':'')+$index">{{$index<10?0:''}}{{$index}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3 px-0">
                        <div class="form-group">
                            <label>&nbsp;</label>
                            <select class="custom-select border-radius-0" name="END_TIME_SEC"
                                    ng-model="SessionMappingSearch.END_TIME_SEC"
                                    required
                                    ng-class="{'error':SessionMappingForm.submitted && SessionMappingForm.END_TIME_SEC.$error.required}">
                                <option value="">Seconds</option>
                                <option ng-repeat="x in [].constructor(60) track by $index" ng-value="($index<10?'0':'')+$index">{{$index<10?0:''}}{{$index}}</option>
                            </select>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Shift Name:</label>
                    <input type="text" class="form-control"
                            name="SHIFT_NAME_OF_COVERS"
                            ng-model="SessionMappingSearch.SHIFT_NAME_OF_COVERS"
                            />
                </div>
            </div>
            <div class="col-md-4 px-0">
                <label>&nbsp;</label>
                <div class="form-inline">
                    <div class="col-md-3">
                        <div class="custom-control custom-checkbox">
                            <input class="custom-control-input" type="checkbox" id="SessionMappingSearch.USE_IN_REPORTING_DASHBOARD"
                                   ng-model="SessionMappingSearch.USE_IN_REPORTING_DASHBOARD"
                                   ng-checked="SessionMappingSearch.USE_IN_REPORTING_DASHBOARD">
                            <label for="SessionMappingSearch.USE_IN_REPORTING_DASHBOARD" class="custom-control-label">Use In Report</label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="custom-control custom-checkbox">
                            <input class="custom-control-input" type="checkbox" id="SessionMappingSearch.USE_IN_CASHUP"
                                   ng-model="SessionMappingSearch.USE_IN_CASHUP"
                                   ng-checked="SessionMappingSearch.USE_IN_CASHUP">
                            <label for="SessionMappingSearch.USE_IN_CASHUP" class="custom-control-label">Use In Cashup</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 ">
                <label>&nbsp;</label>
                <div class="form-inline">
                    <div class="col-md-4">
                        <div class="custom-control custom-radio">
                            <input class="custom-control-input" type="radio" id="SessionMappingSearch.All" name="Active"
                                   ng-value="-1"
                                   ng-model="SessionMappingSearch.ACTIVE" />
                            <label for="SessionMappingSearch.All" class="custom-control-label justify-content-left">ALL</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="custom-control custom-radio">
                            <input class="custom-control-input" type="radio" id="SessionMappingSearch.ACTIVE" name="Active"
                                   ng-model="SessionMappingSearch.ACTIVE"
                                   ng-value="1">
                            <label for="SessionMappingSearch.ACTIVE" class="custom-control-label justify-content-left">Active</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="custom-control custom-radio">
                            <input class="custom-control-input" type="radio" id="SessionMappingSearch.InActive" name="Active"
                                   ng-model="SessionMappingSearch.ACTIVE"
                                   ng-value="0">
                            <label for="SessionMappingSearch.InActive" class="custom-control-label justify-content-left">In-Active</label>
                        </div>
                    </div>

                </div>
            </div>
            <!--<div class="col-md-4">
        <div class="form-group">
            <label>&nbsp;</label>
            <div class="custom-control custom-checkbox">
                <input class="custom-control-input" type="checkbox" id="SessionMappingSearch.ACTIVE"
                       ng-model="SessionMappingSearch.ACTIVE">
                <label for="SessionMappingSearch.ACTIVE" class="custom-control-label">Active</label>
            </div>
        </div>
    </div>-->
        </div>
        <div class="col-md-12 px-0">
            <div data-ng-show="SessionMappingForm.submitted && SessionMappingForm.$invalid" class="form-group has-error errormessage badge badge-light-red w-100 p-3">
                <span class="help-block errormessageline"><i class="fa fa-exclamation-triangle"></i> - Please provide the mandatory details to submit(marked in red).</span>
            </div>
            <div id="divInvlidUser" class="hideshowdiv" data-ng-show="SessionMappingForm.$valid">
                <span class="help-block">{{InvalidUser}}</span>
            </div>
        </div>
        <div class="col-md-12 mt-4">
            <div class="row">
                <div class="form-group">
                    <button click-once ng-click="ADMIN_INS_UPD_SESSION_MAPPING();" class="btn btn-wenodo">Save</button>
                    <button ng-click="ADMIN_GET_SESSION_MAPPING_LIST(1);" class="btn btn-w-default">Search</button>
                    <button ng-click="RESET_SESSION()" class="btn btn-w-default">Reset</button>
                </div>
            </div>
        </div>
    </div>

    <div class="card-body">
        <div class="text-center" ng-show="SESSION_MAPPING_LIST.length==0" empty-grid>
        </div>
        <div class="table-responsive custom-scrollbar height-auto" ng-show="SESSION_MAPPING_LIST.length>0">
            <table class="table table-striped">
                <thead class="bg-wenodo-dark-blue">
                    <tr>
                        <th>Entity</th>
                        <th>Branch</th>
                        <th>Area</th>
                        <th>Session</th>
                        <th>Shift Name</th>
                        <th>Use In Report</th>
                        <th>Use In Cashup</th>
                        <th>Start Time</th>
                        <th>End Time</th>
                        <th>Creation Date</th>
                        <th>Status</th>
                        <th width="5%"></th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <td colspan="10" align="center" ng-show="GetData">
                            <a class="btn btn-secondary text-white" ng-click="LAZY_ADMIN_GET_SESSION_MAPPING_LIST();">{{VIEWMORERECORD}}</a>
                        </td>
                    </tr>
                </tfoot>
                <tbody ng-repeat="SL in SESSION_MAPPING_LIST" on-finish-render="ngRepeatFinished">

                    <tr>
                        <td>{{SL.ENTITY_NAME}}</td>
                        <td>{{SL.BRANCH_NAME}}</td>
                        <td>{{SL.AREA_NAME}}</td>
                        <td>{{SL.SESSION_NAME}}</td>
                        <td>{{SL.SHIFT_NAME_OF_COVERS}}</td>
                        <td ng-show="SL.USE_IN_REPORTING_DASHBOARD==true">
                            <i class="fas fa-check text-success"></i>
                        </td>
                        <td ng-show="SL.USE_IN_REPORTING_DASHBOARD==false">
                            <i class="fas fa-times text-danger"></i>
                        </td>
                        <td ng-show="SL.USE_IN_CASHUP==true">
                            <i class="fas fa-check text-success"></i>
                        </td>
                        <td ng-show="SL.USE_IN_CASHUP==false">
                            <i class="fas fa-times text-danger"></i>
                        </td>
                        <td>{{SL.SESSION_START}}</td>
                        <td>{{SL.SESSION_END}}</td>
                        <td>{{SL.CREATED_DATE | date}}</td>
                        <td>{{SL.ACTIVE ?'Active':'Inactive'}}</td>
                        <td>
                            <a ng-click="ADMIN_EDIT_SESSION_MAPPING(SL);" data-toggle="tooltip" data-html="true" data-original-title="Edit"><i class="fad fa-edit fa-lg text-green"></i></a>
                            <!--<a><i class="fal fa-trash-alt fa-lg text-danger"></i></a>-->
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</form>
