<form id="CashuptabsForm" name="CashuptabsForm" novalidate>
    <div class="card-header">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>Customer:*</label>
                    <select class="custom-select"
                            name="CUSTOMER_ID"
                            ng-model="CashuptabsSearch.CUSTOMER_ID"
                            ng-options="CL.CUSTOMER_ID as CL.CUSTOMER_NAME for CL in CUSTOMER_LIST "
                            required
                            ng-change="GET_ENTITY_LIST();"
                            ng-class="{'error':CashuptabsForm.submitted && CashuptabsForm.CUSTOMER_ID.$error.required}">
                        <option value="">- Please Select Customer-</option>
                    </select>

                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Entity:*</label>
                    <select class="custom-select"
                            name="ENTITY_ID"
                            ng-model="CashuptabsSearch.ENTITY_ID"
                            ng-options="EL.ENTITY_ID as EL.ENTITY_NAME for EL in ENTITY_LIST"
                            ng-change="ADMIN_GET_CASHUP_TAB_SETTINGS();"
                            required
                            ng-class="{'error':CashuptabsForm.submitted && CashuptabsForm.ENTITY_ID.$error.required}">
                        <option value="">- Please Select Entity-</option>
                    </select>
                </div>
            </div>
            <div class="col-md-12">
                <div data-ng-show="CashuptabsForm.submitted && CashuptabsForm.$invalid" class="form-group has-error errormessage form-group has-error errormessage badge badge-light-red w-100 p-3">
                    <span class="help-block errormessageline"><i class="fa fa-exclamation-triangle"></i> - Please provide the mandatory details to submit(marked in red).</span>
                </div>
            </div>
        <div class="col-md-12">
                <div class="form-group">
                    <button click-once ng-click="ADMIN_INS_UPD_CASHUP_TAB_SETTINGS();" class="btn btn-wenodo">Save</button>
                   <button ng-click="ResetTABSETTING()" class="btn btn-w-default">Reset</button>
                </div>
            
        </div>
    </div>
    </div>
    <div class="card-body">
        <div class="text-center" ng-show="CASHUP_TABS_SETTING.length==0" empty-grid>
        </div>
        <div class="table-responsive custom-scrollbar height-auto" ng-show="CASHUP_TABS_SETTING.length>0">
            <table class="table table-striped">
                <thead class="bg-wenodo-dark-blue">
                    <tr>
                        <th>TAB NAME</th>
                        <th></th>
                        <th width="5%">SELECT</th>
                    </tr>
                </thead>
                <tbody ng-repeat="SL in CASHUP_TABS_SETTING">

                    <tr>
                        <td>{{SL.CASHUP_TAB_ID}}. {{SL.TAB_NAME}}</td><td></td>
                        <td>
                            <div class="custom-control custom-checkbox" ng-init="SL.FLAG==1 ? SL.FLAG=true : SL.FLAG=false">
                                <input class="custom-control-input" type="checkbox" id="role{{$index}}" ng-checked="SL.FLAG"
                                       
                                       ng-model="SL.FLAG">
                                <label for="role{{$index}}" class="custom-control-label"></label>
                            </div>
                        </td>
                        
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</form>
