<form id="ComplimentaryForm" name="ComplimentaryForm" novalidate>
    <div class="card-header">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>Customer:*</label>
                    <select class="custom-select"
                            name="CUSTOMER_ID"
                            ng-model="ComplimentarySearch.CUSTOMER_ID"
                            ng-options="CL.CUSTOMER_ID as CL.CUSTOMER_NAME for CL in CUSTOMER_LIST "
                            required
                            ng-change="GET_ENTITY_LIST()"
                            ng-class="{'error':ComplimentaryForm.submitted && ComplimentaryForm.CUSTOMER_ID.$error.required}">
                        <option value="">- Please Select Customer-</option>
                    </select>

                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Entity:*</label>
                    <select class="custom-select"
                            name="ENTITY_ID"
                            ng-model="ComplimentarySearch.ENTITY_ID"
                            ng-options="EL.ENTITY_ID as EL.ENTITY_NAME for EL in ENTITY_LIST"
                            ng-change="GET_LOCATION()"
                            required
                            ng-class="{'error':ComplimentaryForm.submitted && ComplimentaryForm.ENTITY_ID.$error.required}">
                        <option value="">- Please Select Entity-</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Location:*</label>
                    <select class="custom-select"
                            name="LOCATION_ID"
                            ng-model="ComplimentarySearch.LOCATION_ID"
                            ng-options="EL.LOCATION_ID as EL.LOCATION_NAME for EL in LOCATION"
                            ng-change="ADMIN_GET_BRANCH();"
                            required
                            ng-class="{'error':ComplimentaryForm.submitted && ComplimentaryForm.LOCATION_ID.$error.required}">
                        <option value="">- Please Select Location-</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Branch Name:*</label>
                    <select class="custom-select"
                            name="BRANCH_ID"
                            ng-model="ComplimentarySearch.BRANCH_ID"
                            ng-options="EL.BRANCH_ID as EL.BRANCH_NAME for EL in BRANCH_LIST"
                            required
                            ng-class="{'error':ComplimentaryForm.submitted && ComplimentaryForm.BRANCH_ID.$error.required}">
                        <option value="">- Please Select Branch-</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Reason:*</label>
                    <input type="text"
                           class="form-control"
                           name="REASON"
                           placeholder="Enter ..."
                           maxlength="250"                           
                           ng-model="ComplimentarySearch.REASON"
                            required
                            ng-class="{'error':ComplimentaryForm.submitted && ComplimentaryForm.REASON.$error.required}"/>
                </div>
            </div>
            <!--<div class="col-md-4">
                <div class="form-group">
                    <label>Comments:</label>
                    <textarea type="text"
                              class="form-control"
                              name="COMMENTS"
                              placeholder="Enter ..."
                              maxlength="500"
                              ng-model="ComplimentarySearch.COMMENTS"
                              rows="3"
                              ng-class="{'error':ComplimentaryForm.submitted && ComplimentaryForm.COMMENTS.$error.required}" />
                </div>
            </div>-->
            <div class="col-md-4">
                <label>&nbsp;</label>
                <div class="form-inline">
                    <div class="col-md-4">
                        <div class="custom-control custom-radio">
                            <input class="custom-control-input" type="radio" id="ComplimentarySearch.All" name="Active"
                                   ng-value="-1"
                                   ng-model="ComplimentarySearch.ACTIVE" />
                            <label for="ComplimentarySearch.All" class="custom-control-label justify-content-left">ALL</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="custom-control custom-radio">
                            <input class="custom-control-input" type="radio" id="ComplimentarySearch.ACTIVE" name="Active"
                                   ng-model="ComplimentarySearch.ACTIVE"
                                   ng-value="1">
                            <label for="ComplimentarySearch.ACTIVE" class="custom-control-label justify-content-left">Active</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="custom-control custom-radio">
                            <input class="custom-control-input" type="radio" id="ComplimentarySearch.InActive" name="Active"
                                   ng-model="ComplimentarySearch.ACTIVE"
                                   ng-value="0">
                            <label for="ComplimentarySearch.InActive" class="custom-control-label justify-content-left">In-Active</label>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-12">
                <div data-ng-show="ComplimentaryForm.submitted && ComplimentaryForm.$invalid" class="form-group has-error errormessage form-group has-error errormessage badge badge-light-red w-100 p-3">
                    <span class="help-block errormessageline"><i class="fa fa-exclamation-triangle"></i> - Please provide the mandatory details to submit(marked in red).</span>
                </div>
            </div>
            <div class="col-md-12">

                <div class="form-group">
                    <button click-once ng-click="ADMIN_INS_UPD_REASON_FOR_VOID();" class="btn btn-wenodo">Save</button>
                    <button ng-click="ADMIN_GET_REASON_FOR_VOID(1)" class="btn btn-w-default">Search</button>
                    <button ng-click="ResetCOMPLIMENTARY()" class="btn btn-w-default">Reset</button>
                </div>

            </div>
        </div>
    </div>
    
    <div class="card-body">
        <div class="text-center" ng-show="COMPLIMETARY_LIST.length==0" empty-grid>
        </div>
        <div class="table-responsive custom-scrollbar height-auto" ng-show="COMPLIMETARY_LIST.length>0">
            <table class="table table-striped">
                <thead class="bg-wenodo-dark-blue">
                    <tr>
                        <th>S.No.</th>
                        <th>Customer Name</th>
                        <th>Entity Name</th>
                        <th>Location Name</th>
                        <th>Branch Name</th>
                        <th>Reason</th>
                        <th>Active</th>
                        <th width="5%"></th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <td colspan="10" align="center" ng-show="GetData">
                            <a class="btn btn-secondary text-white" ng-click="LAZY_ADMIN_GET_REASON_FOR_VOID();">{{VIEWMORERECORD}}</a>
                        </td>
                    </tr>
                </tfoot>
                <tbody ng-repeat="CL in COMPLIMETARY_LIST" on-finish-render="ngRepeatFinished">
                    <tr>
                        <td>{{$index+1}}.</td>
                        <td>{{CL.CUSTOMER_NAME}}</td>
                        <td>{{CL.ENTITY_NAME}}</td>
                        <td>{{CL.LOCATION_NAME}}</td>
                        <td>{{CL.BRANCH_NAME}}</td>
                        <td>{{CL.VOID_REASON}}</td>
                        <td>{{CL.ACTIVE==true?'Active':'In-Active'}}</td>
                        <td>
                            <a ng-click="EDIT_ADMIN_INS_UPD_REASON_FOR_VOID(CL)" data-toggle="tooltip" data-html="true" data-original-title="Edit"><i class="fad fa-edit fa-lg text-green"></i></a>
                            <!--<a  ng-click="DELETE_INS_UPD_BRANCH(BL)" ><i class="fal fa-trash-alt fa-lg text-danger"></i></a>-->
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</form>
