<div class="app-suit mt-5" ng-controller="AdminController">
    <div class="at-grid" data-column="8">
        <div class="at-column app-suit-inside cursor-pointer" ng-show="false" ng-click="REDIRECTION_PAGE('Tills')">
            <div class="at-user">
                <div class="at-user__avatar app-text"><i class="fad fa-cash-register fa-2x"></i></div>
                <div class="at-user__name app-text">Tills</div>
            </div>
        </div>
        <div class="at-column app-suit-inside cursor-pointer" ng-click="REDIRECTION_PAGE('PDQ')">
            <div class="at-user">
                <div class="at-user__avatar app-text"><i class="fad fa-cash-register fa-2x"></i></div>
                <div class="at-user__name app-text">PDQ</div>
            </div>
        </div>
        <div class="at-column app-suit-inside cursor-pointer" ng-click="REDIRECTION_PAGE('Setup_Area')">
            <div class="at-user">
                <div class="at-user__avatar app-text"><i class="fad fa-map-marked-alt fa-2x"></i></div>
                <div class="at-user__name app-text">Area</div>
            </div>
        </div>
        <div class="at-column app-suit-inside cursor-pointer" ng-click="REDIRECTION_PAGE('Setup_Area_Mapping')">
            <div class="at-user">
                <div class="at-user__avatar app-text"><i class="fad fa-map fa-2x"></i></div>
                <div class="at-user__name app-text">Branch Area Mapping</div>
            </div>
        </div>
        <div class="at-column app-suit-inside  cursor-pointer" ng-click="REDIRECTION_PAGE('Cashup_session_mapping')">
            <div class="at-user">
                <div class="at-user__avatar app-text"><i class="fad fa-map-marker-alt fa-2x"></i></div>
                <div class="at-user__name app-text">Session Mapping</div>
            </div>
        </div>

        <div class="at-column app-suit-inside cursor-pointer" ng-click="REDIRECTION_PAGE('Cashup_Tabs')">
            <div class="at-user">
                <div class="at-user__avatar app-text"><i class="fad fa-indent fa-2x"></i></div>
                <div class="at-user__name app-text">Cashup Tabs</div>
            </div>
        </div>
        <div class="at-column app-suit-inside cursor-pointer" ng-click="REDIRECTION_PAGE('Branchstaff_Tabs')">
            <div class="at-user">
                <div class="at-user__avatar app-text"><i class="fad fa-clipboard-user fa-2x"></i></div>
                <div class="at-user__name app-text">Branch Staff</div>
            </div>
        </div>
        <div class="at-column app-suit-inside cursor-pointer" ng-click="REDIRECTION_PAGE('Reasonfor_Complimentary')">
            <div class="at-user">
                <div class="at-user__avatar app-text"><i class="fad fa-cube fa-2x"></i></div>
                <div class="at-user__name app-text">Complimentary</div>
            </div>
        </div>
        <div class="at-column app-suit-inside cursor-pointer" ng-click="REDIRECTION_PAGE('PettyCash')">
            <div class="at-user">
                <div class="at-user__avatar app-text"><i class="fad fa-wallet fa-2x"></i></div>
                <div class="at-user__name app-text">Petty Cash</div>
            </div>
        </div>
        <div class="at-column app-suit-inside cursor-pointer" ng-click="REDIRECTION_PAGE('PettyCashMapping')">
            <div class="at-user">
                <div class="at-user__avatar app-text"><i class="fad fa-folder-tree fa-2x"></i></div>
                <div class="at-user__name app-text">Petty Cash Mapping</div>
            </div>
        </div>
        <div class="at-column app-suit-inside cursor-pointer" ng-click="REDIRECTION_PAGE('SessionMappingCovers')">
            <div class="at-user">
                <div class="at-user__avatar app-text"><i class="fad fa-blanket fa-2x"></i></div>
                <div class="at-user__name app-text">Session Mapping Covers</div>
            </div>
        </div>
        <div class="at-column app-suit-inside cursor-pointer" ng-click="REDIRECTION_PAGE('ReasonforVOID')">
            <div class="at-user">
                <div class="at-user__avatar app-text"><i class="fad fa-tint-slash fa-2x"></i></div>
                <div class="at-user__name app-text">VOID</div>
            </div>
        </div>
        <div class="at-column app-suit-inside cursor-pointer" ng-click="REDIRECTION_PAGE('PKCE')">
            <div class="at-user">
                <div class="at-user__avatar app-text"><i class="fad fa-address-card fa-2x"></i></div>
                <div class="at-user__name app-text">OAuth2 Authentication </div>
            </div>
        </div>
        <div class="at-column app-suit-inside cursor-pointer" ng-click="REDIRECTION_PAGE('MicrosDataUpload')">
            <div class="at-user">
                <div class="at-user__avatar app-text"><i class="fad fa-chevron-double-up fa-2x"></i></div>
                <div class="at-user__name app-text">Micros Data Upload</div>
            </div>
        </div>
        <div class="at-column app-suit-inside cursor-pointer" ng-click="REDIRECTION_PAGE('CPMM')">
            <div class="at-user">
                <div class="at-user__avatar app-text"><i class="fad fa-money-bill-wave fa-2x"></i></div>
                <div class="at-user__name app-text">Cashup Payment Method Mapping</div>
            </div>
        </div>
    </div>
</div>