<div class="row">
    <div class="col-md-9">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group" id="AddCustomScroll">
                    <label class="text-nowrap">Who is working? * </label>
                    <div class="" id="WHOISWORKING"
                         ng-show="SELECTED_CELL.SHIFT_TEXT=='Edit'
                         || SELECTED_CELL.SHIFT_TEXT=='Approve'">
                        <select id="js-employee-templating"
                                class="custom-select"
                                required
                                ng-disabled="IS_EMPLOYEE
                                || APPROVE_FLAG==1
                                || VIEW_FLAG
                                || SELECTED_CELL.IS_LOCK==false"
                                style="width:100%"></select>
                        <input type="hidden" name="WHOISWORKING"
                               ng-model="Section_Week_Search.EMP_PRS_ID"
                               required />
                    </div>
                    <div id="WHOISWORKING_EDIT"
                         ng-show="SELECTED_CELL.SHIFT_TEXT=='Add'
                         || SELECTED_CELL.SHIFT_TEXT=='Copy'
                         || SELECTED_CELL.SHIFT_TEXT=='Pick'
                         || SELECTED_CELL.SHIFT_TEXT=='View'">
                        <!--| filter:{EMPLOYEE_NAME:$viewValue}-->
                        <input type="text"
                               typeahead-focus-trigger
                               id="EmployeeSearchBox"
                               class="form-control custom-select"
                               name="WHOISWORKING12"
                               autocomplete="off"
                               ng-model="Section_Week_Search.EMPLOYEE_NAME"
                               placeholder="Select Employee"
                               ng-disabled="IS_EMPLOYEE || VIEW_FLAG || SELECTED_CELL.IS_LOCK==false"
                               uib-typeahead="EL as EL.EMPLOYEE_NAME for EL in EMP_LIST_DDL  | filter:$viewValue | orderBy: 'EMP_PRS_ID'"
                               typeahead-template-url="WhoisWorkingTemplate.html"
                               typeahead-show-hint="true"
                               typeahead-min-length="0"
                               typeahead-editable='true'
                               typeahead-focus-first='true'
                               typeahead-on-select="selectEmployeeTypeAhead($item)"
                               ng-class="{'error':AssignShift_Form.submitted && (Section_Week_Search.EMPLOYEES.length==0),'disabled':IS_EMPLOYEE || VIEW_FLAG || SELECTED_CELL.IS_LOCK==false}">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group" id="AddSectionScroll">
                    <label class="text-nowrap"><span ng-show="false">In which section?</span><span>In which Branch Section?</span> <span>*</span></label>
                    <div class="" id="INWHICHSECTION">
                        <select id="js-section-templating"
                                class="custom-select"
                                required
                                ng-disabled="IS_EMPLOYEE || APPROVE_FLAG==1 || VIEW_FLAG || SELECTED_CELL.IS_LOCK==false"
                                style="width:100%"></select>
                        <input type="hidden" name="INWHICHSECTION" ng-model="Section_Week_Search.SECTION_ID" required />
                    </div>

                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Shift Type: *</label>
                    <div class="" id="SHIFT_TYPE_NAME">
                        <select id="js-shifttype-templating"
                                class="custom-select"
                                required
                                ng-disabled="IS_EMPLOYEE || APPROVE_FLAG==1 || VIEW_FLAG || SELECTED_CELL.IS_LOCK==false"
                                style="width:100%"></select>
                        <input type="hidden" name="SHIFT_TYPE_NAME"
                               ng-model="Section_Week_Search.SHIFT_TYPE_ID" />
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group" ng-show="!IS_EMPLOYEE">
                    <label>Shifts: </label>
                    <ul class="nav nav-pills ">
                        <li class="dropdown w-100">
                            <a class="form-control d-flex custom-dropdown cursor-pointer" ng-class="{'disabled': APPROVE_FLAG==1 || VIEW_FLAG  || SELECTED_CELL.IS_LOCK==false}" data-toggle="dropdown">
                                <span id="dropdown_title" class="text-limitations">{{Section_Week_Search.ASSIGN_SELECT_SHIFT}} </span>
                                <i class="fa fa-sort ml-auto mt-1"></i>
                            </a>
                            <ul ID="divNewNotifications" class="dropdown-menu text-xs custom-scrollbar auto-width">
                                <li class="sticky-top bg-white py-2"><input type="text" class="form-control" ng-model="Section_Week_Search.ASSIGN_SEARCH_SHIFT" /></li>
                                <li class="pl-4 py-2 text-blue" ng-click="openNav6()"><i class="fas fa-plus "></i> Add Shift</li>
                                <li class="px-3 py-2" ng-repeat="SL in SHIFT_MASTER_LIST | filter: Section_Week_Search.ASSIGN_SEARCH_SHIFT" ng-click="ON_ASSGING_SELECT_SHIFT_CLICK(SL);">{{SL.SHIFT_TITLE}}</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Start: *</label>
                    <input class="form-control"
                           moment-picker="Section_Week_Search.START_TIME"
                           format="HH:mm"
                           onkeypress="return event.charCode >= 48 && event.charCode <= 58"
                           name="START_TIME"
                           autocomplete="off"
                           placeholder="Start Time"
                           ng-disabled="IS_EMPLOYEE || APPROVE_FLAG==1 || VIEW_FLAG || SELECTED_CELL.IS_LOCK==false"
                           ng-model="Section_Week_Search.START_TIME"
                           maxlength="5"
                           locale="{{LANGUAGE_SYMBOL}}"
                           change="START_TIME_FY()"
                           show-header="0"
                           required
                           ng-model-options="{ updateOn: 'blur' }"
                           ng-class="{'error':AssignShift_Form.submitted && AssignShift_Form.START_TIME.$error.required}">
                    <span ng-if="Section_Week_Search.OFF_DAY" class="badge badge-light-grey mt-1">{{DAY_OFF}}</span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Finish: *</label>
                    <input class="form-control"
                           placeholder="Finish Time"
                           onkeypress="return event.charCode >= 48 && event.charCode <= 58"
                           maxlength="5"
                           moment-picker="Section_Week_Search.END_TIME"
                           autocomplete="off"
                           name="END_TIME"
                           ng-disabled="IS_EMPLOYEE || APPROVE_FLAG==1 || VIEW_FLAG || SELECTED_CELL.IS_LOCK==false"
                           ng-model="Section_Week_Search.END_TIME"
                           change="END_TIME_FY()"
                           format="HH:mm"
                           locale="{{LANGUAGE_SYMBOL}}"
                           show-header="0"
                           required
                           ng-model-options="{ updateOn: 'blur' }"
                           ng-class="{'error':AssignShift_Form.submitted && AssignShift_Form.END_TIME.$error.required}">
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label>Paid break <small>(mins)</small></label>
                    <span class="d-block">{{Section_Week_Search.PAID_BREAK}}</span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Unpaid break <small>(mins)</small></label>
                    <span class="d-block">{{Section_Week_Search.UN_PAID_BREAK}}</span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label><i class="fas fa-alarm-clock text-blue"></i> Shift Count: *</label>
                    <input type="text"
                           class="form-control"
                           maxlength="3"
                           name="SHIFT_COUNT"
                           ng-model="Section_Week_Search.INS_UPD_SHIFT_COUNT"
                           ng-change="NG_CHANGE_SHIFT_COUNT()"
                           autocomplete="off"
                           placeholder="Enter ..."
                           only-digits
                           required
                           ng-disabled="IS_EMPLOYEE || APPROVE_FLAG==1 || VIEW_FLAG || SELECTED_CELL.IS_LOCK==false"
                           ng-class="{'error':AssignShift_Form.submitted && AssignShift_Form.SHIFT_COUNT.$error.required}">
                </div>

            </div>
            <div class="col-md-12" ng-show="APPROVE_FLAG==1">
                <div class="row w-100">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="d-block">&nbsp;</label>

                            <span ng-show="SELECTED_SHIFT.STATUS_ID==22">
                                Waiting for approval
                            </span>
                            <span ng-show="SELECTED_SHIFT.STATUS_ID==23">
                                {{SELECTED_SHIFT.STATUS_NAME}}
                            </span>
                            <span ng-show="SELECTED_SHIFT.STATUS_ID==24">
                                {{SELECTED_SHIFT.STATUS_NAME}}
                            </span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Clocked-In: *</label>
                            <input class="form-control"
                                   moment-picker="Section_Week_Search.EMPLOYEE_LOGIN"
                                   name="EMPLOYEE_LOGIN"
                                   autocomplete="off"
                                   onkeypress="return event.charCode >= 48 && event.charCode <= 58"
                                   maxlength="5"
                                   placeholder="ClockIn Time"
                                   ng-disabled="IS_EMPLOYEE || VIEW_FLAG || SELECTED_CELL.IS_LOCK==false"
                                   ng-model="Section_Week_Search.EMPLOYEE_LOGIN"
                                   format="HH:mm"
                                   locale="{{LANGUAGE_SYMBOL}}"
                                   change="Fn_CHANGE_CLOCKINOUT(3)"
                                   ng-model-options="{ updateOn: 'blur' }"
                                   ng-required="APPROVE_FLAG==1"
                                   ng-class="{'error':AssignShift_Form.submitted && AssignShift_Form.EMPLOYEE_LOGIN.$error.required}">
                            <small class="text-bold">{{Section_Week_Search.EMPLOYEE_LOGIN  | toDate | date}} {{Section_Week_Search.EMPLOYEE_LOGIN  | toDate | date:'HH:mm'}}</small>
                        </div>
                    </div>
                    <div class="col-md-4" ng-show="APPROVE_FLAG==1">
                        <div class="form-group" format="HH:mm">
                            <label>Clocked-Out: *</label>
                            <input class="form-control"
                                   placeholder="ClockOut Time"
                                   moment-picker="Section_Week_Search.EMPLOYEE_LOGOUT"
                                   autocomplete="off"
                                   name="EMPLOYEE_LOGOUT"
                                   ng-disabled="IS_EMPLOYEE || VIEW_FLAG || SELECTED_CELL.IS_LOCK==false"
                                   locale="{{LANGUAGE_SYMBOL}}"
                                   ng-model="Section_Week_Search.EMPLOYEE_LOGOUT"
                                   format="HH:mm"
                                   change="Fn_CHANGE_CLOCKINOUT(3)"
                                   onkeypress="return event.charCode >= 48 && event.charCode <= 58"
                                   maxlength="5"
                                   ng-model-options="{ updateOn: 'blur' }"
                                   ng-required="APPROVE_FLAG==1"
                                   ng-class="{'error':AssignShift_Form.submitted && AssignShift_Form.EMPLOYEE_LOGOUT.$error.required}">
                            <small class="text-bold">{{Section_Week_Search.EMPLOYEE_LOGOUT | toDate  | date}} {{Section_Week_Search.EMPLOYEE_LOGOUT | toDate | date : 'HH:mm'}}</small>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col" ng-show="OVERLAP_EMP_LIST.length>0">
                <div class="border-bottom">
                    <h5 class="semibold font-16">Shift Overlap</h5>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover table-striped compact_table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Branch/Section</th>
                                <th>Shift Type</th>
                                <th>Shifts</th>
                                <th>Start</th>
                                <th>Finish</th>
                                <th>Paid Break</th>
                                <th>Unpaid Break</th>
                                <th>Shift Count</th>
                            </tr>
                        </thead>
                        <tbody ng-repeat="EL in OVERLAP_EMP_LIST">
                            <tr>
                                <td>{{EL.EMPLOYEE_NAME}}</td>
                                <td> {{EL.BRANCH_NAME}} {{EL.SECTION_NAME}}</td>
                                <td>{{EL.SHIFT_TYPE}}</td>
                                <td>{{EL.SHIFT_TITLE}}</td>
                                <td>{{EL.START_TIME | date:"HH:mm"}}</td>
                                <td>{{EL.END_TIME | date:"HH:mm"}}</td>
                                <td>{{EL.PAID_BREAK}}</td>
                                <td>{{EL.UNPAID_BREAK}}</td>
                                <td>{{EL.SHIFT_COUNT}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-auto">
                        <button type="button"
                                class="btn btn-w-default btn-sm"
                                ng-click="openNav()">
                            <span ng-show="IS_EMPLOYEE || APPROVE_FLAG==1 || SELECTED_SHIFT.STATUS_ID==23 || SELECTED_CELL.IS_LOCK==false">
                                View
                            </span><span ng-show="!IS_EMPLOYEE && APPROVE_FLAG!=1 && SELECTED_SHIFT.STATUS_ID!=23 && SELECTED_CELL.IS_LOCK">Add</span>  Break
                        </button>
                    </div>
                    <div class="col-md-9">
                        <label ng-show="SELECTED_SHIFT.SHIFT_TAGS_LIST.length>0">Tags</label>
                        <small class="badge badge-light-purple mx-1" ng-repeat="SGL in SHIFT_TAGS_LIST" ng-show="SGL.SELECTED">{{SGL.TAG_NAME}} <span class="float-right ml-2"><i ng-show="false" class="fas fa-times"></i></span></small>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <ul class="nav nav-tabs" id="custom-content-above-tab" role="tablist">
                    <li class="nav-item" ng-click="SHIFT_TAB(4)" ng-show="SELECTED_SHIFT.STATUS_ID==23 && (Section_Week_Search.EMP_PRS_ID!=-1 && Section_Week_Search.EMP_PRS_ID!=-2) || SELECTED_SHIFT.STATUS_ID==22 && (Section_Week_Search.EMP_PRS_ID!=-1 && Section_Week_Search.EMP_PRS_ID!=-2)">
                        <a class="nav-link " ng-class="{'active':SHIFT_FLAG==4,'':SHIFT_FLAG!=4}" id="custom-content-above-home-tab" data-toggle="pill" role="tab" aria-controls="custom-content-above-home" aria-selected="false">Clock-In Details</a>
                    </li>
                    <li class="nav-item" ng-click="SHIFT_TAB(5)">
                        <a class="nav-link " ng-class="{'active':SHIFT_FLAG==5,'':SHIFT_FLAG!=5}" id="custom-content-above-home-tab" data-toggle="pill" role="tab" aria-controls="custom-content-above-home" aria-selected="false">Breaks</a>
                    </li>
                    <li class="nav-item" ng-click="SHIFT_TAB(1)">
                        <a class="nav-link " ng-class="{'active':SHIFT_FLAG==1,'':SHIFT_FLAG!=1}" id="custom-content-above-home-tab" data-toggle="pill" role="tab" aria-controls="custom-content-above-home" aria-selected="false">Notes</a>
                    </li>
                    <li class="nav-item" ng-click="SHIFT_TAB(2)" ng-show="!IS_EMPLOYEE">
                        <a class="nav-link" ng-class="{'active':SHIFT_FLAG==2,'':SHIFT_FLAG!=2}" id="custom-content-above-home-tab" data-toggle="pill" role="tab" aria-controls="custom-content-above-home" aria-selected="false">History</a>
                    </li>
                    <li class="nav-item" ng-click="SHIFT_TAB(3)" ng-show="!IS_EMPLOYEE && APPROVE_FLAG!=1 ">
                        <a class="nav-link" ng-class="{'active':SHIFT_FLAG==3,'':SHIFT_FLAG!=3}" id="custom-content-above-home-tab" data-toggle="pill" role="tab" aria-controls="custom-content-above-home" aria-selected="false">Add Tags</a>
                    </li>
                </ul>
                <div class="tab-content" id="custom-content-above-tabContent">
                    <div class="tab-pane fade" ng-class="{'show active':SHIFT_FLAG==4}" id="custom-content-above-profile" role="tabpanel" aria-labelledby="custom-content-above-profile-tab" ng-show="SHIFT_FLAG==4">
                        <div class="table-responsive">
                            <table class="table table-striped table-hover compact_table">
                                <thead class="bg-wenodo-dark-blue">
                                    <tr>
                                        <th></th>
                                        <th>Actual</th>
                                        <th>Approved</th>
                                        <th ng-show="IMAGE_SHOW_UPLOAD==1">Image</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Clock-In</td>
                                        <td>
                                            <span ng-show="SELECTED_SHIFT.LOGIN_LOGOUT_DETAILS_BY_ID[0].LOGIN_DATE==null">-</span>
                                            <span ng-show="SELECTED_SHIFT.LOGIN_LOGOUT_DETAILS_BY_ID[0].LOGIN_DATE!=null">
                                                {{SELECTED_SHIFT.LOGIN_LOGOUT_DETAILS_BY_ID[0].LOGIN_DATE | date:'MMM  d, yyyy HH:MM' }}
                                            </span>
                                        </td>
                                        <td>
                                            <span ng-show="SELECTED_SHIFT.LOGIN_LOGOUT_DETAILS_BY_ID[0].APPROVED_LOGIN_DATE==null">-</span>
                                            <span ng-show="SELECTED_SHIFT.LOGIN_LOGOUT_DETAILS_BY_ID[0].APPROVED_LOGIN_DATE!=null">
                                                {{SELECTED_SHIFT.LOGIN_LOGOUT_DETAILS_BY_ID[0].APPROVED_LOGIN_DATE | date:'MMM  d, yyyy HH:MM' }}
                                            </span>
                                        </td>
                                        <td ng-show="IMAGE_SHOW_UPLOAD==1">
                                            <a class="pop cursor-pointer" data-toggle="modal" data-target="#CLOCKIN">
                                                <img ng-show="SELECTED_SHIFT.LOGIN_LOGOUT_DETAILS_BY_ID[0].CLOCKIN_FILE_PATH==null" src="../dist/img/user1-128x128.jpg" class="profile-pic" />
                                                <img ng-show="SELECTED_SHIFT.LOGIN_LOGOUT_DETAILS_BY_ID[0].CLOCKIN_FILE_PATH!=null" src="/Uploads/{{SELECTED_SHIFT.LOGIN_LOGOUT_DETAILS_BY_ID[0].CLOCKIN_FILE_PATH}}" class="profile-pic" />
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                                <tbody>
                                    <tr>
                                        <td>Clock-Out</td>
                                        <td>
                                            <span ng-show="SELECTED_SHIFT.LOGIN_LOGOUT_DETAILS_BY_ID[0].LOGOUT_DATE==null">-</span>
                                            <span ng-show="SELECTED_SHIFT.LOGIN_LOGOUT_DETAILS_BY_ID[0].LOGOUT_DATE!=null">
                                                {{SELECTED_SHIFT.LOGIN_LOGOUT_DETAILS_BY_ID[0].LOGOUT_DATE | date:'MMM  d, yyyy HH:MM' }}
                                            </span>
                                        </td>
                                        <td>
                                            <span ng-show="SELECTED_SHIFT.LOGIN_LOGOUT_DETAILS_BY_ID[0].APPROVED_LOGOUT_DATE==null">-</span>
                                            <span ng-show="SELECTED_SHIFT.LOGIN_LOGOUT_DETAILS_BY_ID[0].APPROVED_LOGOUT_DATE!=null">
                                                {{SELECTED_SHIFT.LOGIN_LOGOUT_DETAILS_BY_ID[0].APPROVED_LOGOUT_DATE | date:'MMM  d, yyyy HH:MM' }}
                                            </span>
                                        </td>
                                        <td ng-show="IMAGE_SHOW_UPLOAD==1">
                                            <a class="pop cursor-pointer" data-toggle="modal" data-target="#CLOCKOUT">
                                                <img ng-show="SELECTED_SHIFT.LOGIN_LOGOUT_DETAILS_BY_ID[0].CLOCKOUT_FILE_PATH==null" class="profile-pic" src="../dist/img/user1-128x128.jpg" />
                                                <img ng-show="SELECTED_SHIFT.LOGIN_LOGOUT_DETAILS_BY_ID[0].CLOCKOUT_FILE_PATH!=null" class="profile-pic" src="/Uploads/{{SELECTED_SHIFT.LOGIN_LOGOUT_DETAILS_BY_ID[0].CLOCKOUT_FILE_PATH}}" />
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>

                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade" ng-class="{'show active':SHIFT_FLAG==5}" id="custom-content-above-profile" role="tabpanel" aria-labelledby="custom-content-above-profile-tab" ng-show="SHIFT_FLAG==5">
                        <div class="table-responsive">
                            <table class="table table-striped table-hover compact_table">
                                <thead class="bg-wenodo-dark-blue">
                                    <tr>
                                        <th>Break In</th>
                                        <th>Break Out</th>
                                    </tr>
                                </thead>
                                <tbody ng-repeat="ABL in ACTUAL_BREAK_LIST_BREAK_TAB">
                                    <tr>
                                        <td>
                                            <span ng-show="ABL.BREAK_START==null">-</span>
                                            <span ng-show="ABL.BREAK_START!=null"> {{ABL.BREAK_START | date:"HH:mm" }} </span>
                                        </td>
                                        <td>
                                            <span ng-show="ABL.BREAK_END==null">-</span>
                                            <span ng-show="ABL.BREAK_END!=null"> {{ABL.BREAK_END | date:"HH:mm" }} </span>
                                        </td>
                                    </tr>
                                </tbody>

                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade " ng-class="{'show active':SHIFT_FLAG==1}" id="custom-content-above-profile" role="tabpanel" aria-labelledby="custom-content-above-profile-tab" ng-show="SHIFT_FLAG==1">
                        <textarea class="form-control"
                                  rows="3"
                                  maxlength="500"
                                  ng-model="Section_Week_Search.NOTES"
                                  ng-disabled="APPROVE_FLAG==1"
                                  placeholder="Enter ..."></textarea>
                    </div>
                    <div class="tab-pane fade" ng-class="{'show active':SHIFT_FLAG==2}" id="custom-content-above-profile" role="tabpanel" aria-labelledby="custom-content-above-profile-tab" ng-show="SHIFT_FLAG==2">
                        <div class="text-center text-sm" ng-show="SHIFT_HISTORY_LIST.length==0" empty-grid></div>
                        <div class="table-responsive" ng-show="SHIFT_HISTORY_LIST.length>0">
                            <table class="table">
                                <thead class="bg-wenodo-dark-blue">
                                    <tr>
                                        <th>Date</th>
                                        <th>Change</th>
                                        <th>Changed by</th>
                                    </tr>
                                </thead>
                                <tbody ng-repeat="SH in SHIFT_HISTORY_LIST">
                                    <tr>
                                        <td>{{SH.CREATED_DATE | date}}</td>
                                        <td>
                                            <span class="d-block">{{SH.HISTORY_MESSAGE}}</span>
                                            <span class="d-block"></span>
                                        </td>
                                        <td>{{SH.USER_NAME}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade" ng-class="{'show active':SHIFT_FLAG==3}" id="custom-content-above-profile" role="tabpanel" aria-labelledby="custom-content-above-profile-tab" ng-show="SHIFT_FLAG==3">
                        <div class="row">
                            <div class="col-md-8">
                                <input class="form-control" ng-model="FILTER_TAGS_SEARCH" type="search" placeholder="Search" aria-label="Search">
                            </div>
                            <div class="col-auto">
                                <button type="button" ng-click="ADD_NEW_TAB_POP()" ng-show="!VIEW_FLAG" class="btn btn-wenodo float-right">Add New Tag</button>
                            </div>
                            <div class="col-md-12 mt-2" ng-show="false">
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox">
                                        <input class="custom-control-input" type="checkbox" id="All_Shifts_Tag" value="ALL">
                                        <label for="All_Shifts_Tag" class="custom-control-label text-bold">All</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 mt-2" ng-repeat="ST in SHIFT_TAGS_LIST | filter:FILTER_TAGS_SEARCH ">
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox">
                                        <input class="custom-control-input" ng-model="ST.SELECTED" ng-change="FILTER_SHIFT_TAGS()" type="checkbox" id="FILTER_SHIFTS_TAG{{$index}}">
                                        <label for="FILTER_SHIFTS_TAG{{$index}}" class="custom-control-label">{{ST.TAG_NAME}}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 border-left mw-200">
        <div class="semibold" ng-show="Section_Week_Search.EMPLOYEES.length>1">Selected Employees</div>
        <div class="col-md-12 text-center" ng-show="Section_Week_Search.EMPLOYEES.length==1 || Section_Week_Search.EMPLOYEES.length==0">
            <img ng-show="SELECTED_EMPLOYEE.IMAGE_PATH!=null" src="{{SELECTED_EMPLOYEE.IMAGE_PATH}}" alt=""
                 class="img-circle img-fluid shadow-sm"
                 style="width:90px; height:90px;">
            <img ng-show="SELECTED_EMPLOYEE.IMAGE_PATH==null" src="../dist/img/user1-128x128.jpg" alt=""
                 class="img-circle img-fluid shadow-sm"
                 style="max-width:90px; height:90px;">
            <span class="employee-right-limit d-block text-nowrap my-2">{{SELECTED_EMPLOYEE.EMPLOYEE_NAME}}</span>
        </div>
        <div class="col-md-12 custom-scrollbar mx-height-394 border" ng-show="Section_Week_Search.EMPLOYEES.length>1">
            <ul class="todo-list ui-sortable" data-widget="todo-list">
                <li class="bg-light-grey font-12 py-2" ng-repeat="EM in Section_Week_Search.EMPLOYEES" ng-class="{'border-red':EM.OVERLAP_FLAG,'':!EM.OVERLAP_FLAG}">
                    <span class="text">
                        <span class="name-badge bg-wenodo-dark-blue" ng-show="EM.EMP_PRS_ID==-1 || EM.EMP_PRS_ID==-2">
                            <i ng-show="EM.EMP_PRS_ID==-1" class="fal fa-dot-circle fa-lg"></i>
                            <i ng-show="EM.EMP_PRS_ID==-2" class="fal fa-box-open fa-lg"></i>
                        </span>
                        <span class="name-badge" ng-show="EM.IMAGE_PATH==null && EM.EMP_PRS_ID!=-1 && EM.EMP_PRS_ID!=-2">{{EM.INITIALS}}</span>
                        <img class="rota-profile-pic" ng-show="EM.IMAGE_PATH!=null" ng-src="{{EM.IMAGE_PATH}}" />
                        <span class="text-limit-90">{{EM.EMPLOYEE_NAME}}</span>
                    </span>
                    <span data-toggle="tooltip"
                          data-html="true" title="Shift Overlap"
                          class="text-right text-danger"
                          ng-show="EM.OVERLAP_FLAG"><i class="fas fa-layer-group"></i></span>
                    <span class="tools">
                        <i class="fa fa-times-circle text-danger cursor-pointer mt-1" ng-click="DeleteFromSelectedEmployeeType($index, EM)"></i>
                    </span>
                </li>
            </ul>
        </div>
        <div ng-show="Section_Week_Search.EMPTY_SHIFT && (Section_Week_Search.EMPLOYEES.length==1 || Section_Week_Search.EMPLOYEES.length==0)" class=""
             ng-class="{'grayout badge-disabled':NG_CHANGE_COST==1 || (Section_Week_Search.END_TIME=='' || Section_Week_Search.END_TIME==null  ||  Section_Week_Search.START_TIME=='' || Section_Week_Search.START_TIME==null) || Section_Week_Search.EMP_PRS_ID=='' || Section_Week_Search.SHIFT_TYPE_ID=='' || Section_Week_Search.EMP_PRS_ID<0 }">
            <div class="row align-items-center mt-2">
                <div class="col-md-5 text-center">
                    <span class="name-badge">
                        <i class="fas fa-calendar fa-lg"></i>
                    </span>
                </div>
                <div class="col-md-7">
                    <h6 class="mb-0">{{Section_Week_Search.OVERALL_SHIFT_LENGTH}}</h6>
                    <small class="d-block">Weekly Hours</small>
                </div>
                <div class="border-bottom mx-2"></div>
            </div>
            <div class="row align-items-center mt-2">
                <div class="col-md-5 text-center">
                    <span class="name-badge semibold font-18" ng-bind-html="CURRENCY_SYMBOL">
                    </span>
                </div>
                <div class="col-md-7">
                    <h6 class="mb-0">
                        <span ng-bind-html="Section_Week_Search.OVERALL_COST_HTML"></span>
                    </h6>
                    <small class="d-block">Weekly Cost</small>
                </div>
                <div class="border-bottom mx-2"></div>
            </div>
            <div class="row align-items-center mt-2">
                <div class="col-md-5 text-center"><span class="name-badge p-2"><i class="fas fa-clock fa-lg"></i></span></div>
                <div class="col-md-7">
                    <h6 class="mb-0">{{Section_Week_Search.SHIFT_LENGTH}}</h6>
                    <small class="d-block">Shift Length</small>
                </div>
                <div class="border-bottom mx-2"></div>
            </div>
            <div class="row align-items-center mt-2" ng-show="APPROVE_FLAG==1">
                <div class="col-md-5 text-center"><span class="name-badge p-2"><i class="fas fa-hourglass-start fa-lg"></i></span></div>
                <div class="col-md-7" >
                    <h6 class="mb-0" ng-class="{'text-red':ActualHours>ScheduledHours}">{{ActualHours}}</h6>
                    <small class="d-block">
                        Actual
                    </small>
                </div>
                <div class="border-bottom mx-2"></div>
            </div>
            <div class="row align-items-center mt-2">
                <div class="col-md-5 text-center">
                    <span class="name-badge semibold font-18" ng-bind-html="CURRENCY_SYMBOL"></span>
                </div>
                <div class="col-md-7">
                    <h6 class="mb-0">
                        <span ng-bind-html="Section_Week_Search.SHIFT_COST_HTML">   </span>
                    </h6>
                    <small class="d-block">Shift Cost</small>
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-wenodo grayout-button" ng-click="ROTA_GET_SHIFT_COST_DETAILS(SELECTED_SHIFT,1)" ng-show="NG_CHANGE_COST==1 && Section_Week_Search.END_TIME!='' &&  Section_Week_Search.START_TIME!='' && Section_Week_Search.EMP_PRS_ID>0 && Section_Week_Search.SHIFT_TYPE_ID>0 && Section_Week_Search.EMPLOYEES.length==1  && (Section_Week_Search.SHIFT_MASTER_ID>0 || Section_Week_Search.SHIFT_MASTER_ID=='' || Section_Week_Search.SHIFT_MASTER_ID==null)" data-toggle="tooltip" data-html="true" data-original-title="Refresh"><i class="fas fa-undo"></i></button>
    </div>
</div>

<script type="text/ng-template" id="WhoisWorkingTemplate.html">
    <a class="text-sm">
        <div class="row align-items-center">
            <div class="col-md-2">
                <img class="rota-profile-pic" ng-show="match.model.IMAGE_PATH!=null" ng-src="{{match.model.IMAGE_PATH}}" width="16">
                <span class="name-badge" ng-show="match.model.IMAGE_PATH==null">{{match.model.INITIALS}}</span>
            </div>
            <div class="col">
                <span class="dropdown-employee-list ml-3" ng-bind-html="match.label | uibTypeaheadHighlight:query"></span>
            </div>
            <div class="col-auto">
                <i ng-show="match.model.IS_LEAVE" class="fa fa-file-exclamation float-right text-danger" data-toggle="tooltip" data-html="true" data-original-title="On Leave"></i>
            </div>
            <div class="col-auto">
                <i ng-show="match.model.IS_DEACTIVATED" class="fas fa-user-slash float-right mt-2 text-danger" data-toggle="tooltip" data-html="true" data-original-title="DeActive"></i>
            </div>
            <div class="col-auto">
                <i ng-show="!match.model.IS_NOT_JOIN_YET" class="far fa-skiing float-right mt-2 text-danger" data-toggle="tooltip" data-html="true" data-original-title="Not Join"></i>
            </div>
        </div>
    </a>
</script>
<div class="modal fade modal-CLOCKOUT" id="CLOCKOUT" role="dialog" aria-labelledby="CLOCKOUT" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal-CLOCKOUT" ng-click="MODAL_CLOCKOUT()">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
            </div>
            <div class="modal-body">
                <img ng-show="SELECTED_SHIFT.LOGIN_LOGOUT_DETAILS_BY_ID[0].CLOCKOUT_FILE_PATH==null" class="imagepreview w-100" src="../dist/img/user1-128x128.jpg" />
                <img ng-show="SELECTED_SHIFT.LOGIN_LOGOUT_DETAILS_BY_ID[0].CLOCKOUT_FILE_PATH!=null" class="imagepreview w-100" src="/Uploads/{{SELECTED_SHIFT.LOGIN_LOGOUT_DETAILS_BY_ID[0].CLOCKOUT_FILE_PATH}}" />

            </div>
        </div>
    </div>
</div>
<div class="modal fade modal-CLOCKIN" id="CLOCKIN" role="dialog" aria-labelledby="CLOCKIN" ng-click="MODAL_CLOCKIN()" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal-CLOCKIN">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
            </div>
            <div class="modal-body">
                <img ng-show="SELECTED_SHIFT.LOGIN_LOGOUT_DETAILS_BY_ID[0].CLOCKIN_FILE_PATH==null" src="../dist/img/user1-128x128.jpg" class="imagepreview w-100" />
                <img ng-show="SELECTED_SHIFT.LOGIN_LOGOUT_DETAILS_BY_ID[0].CLOCKIN_FILE_PATH!=null" src="/Uploads/{{SELECTED_SHIFT.LOGIN_LOGOUT_DETAILS_BY_ID[0].CLOCKIN_FILE_PATH}}" class="imagepreview w-100" />
            </div>
        </div>
    </div>
</div>
<script type="text/ng-template" id="sectionTemplate.html">
    <a class="text-sm">
        <i class="fas fa-circle fa-sm" style="color:#{{match.model.DEPARTMENT_COLOR}}"></i>
        <span ng-bind-html="match.label | uibTypeaheadHighlight:query"></span>
    </a>
</script>
<script type="text/ng-template" id="ShiftTemplate.html">
    <a class="text-sm">
        <i class="fas fa-circle fa-sm " style="color:#{{match.model.DEPARTMENT_COLOR}}"></i>
        <span ng-bind-html="match.label | uibTypeaheadHighlight:query"></span>
    </a>
</script>