<div class="col-md-12" >
    <p> Edit {{UNPUBLISH_SHIFT_LIST.length + EMTY_SHIFT_LIST.length  + PUBLISH_SHIFT_LIST.length}} shifts</p>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6">
                <label>Time </label>
                <div class="input-group d-flex">
                    <input class="form-control"
                           moment-picker="Section_Week_Search.EDIT_START_TIME"
                            onkeypress="return event.charCode >= 48 && event.charCode <= 58"
                                             maxlength="5"
                           name="EDIT_START_TIME"
                           autocomplete="off"
                           placeholder="Select a time"
                           ng-disabled="IS_EMPLOYEE"
                            locale="en-gb"
                           ng-model="Section_Week_Search.EDIT_START_TIME"
                           format="HH:mm"
                           show-header="0"
                           ng-class="{'error':Form_Edit_Multiple_Shifts.submitted && Form_Edit_Multiple_Shifts.EDIT_START_TIME.$error.required}">
                    <input class="form-control"
                           placeholder="Select a time"
                           moment-picker="Section_Week_Search.EDIT_END_TIME"
                            onkeypress="return event.charCode >= 48 && event.charCode <= 58"
                                             maxlength="5"
                           autocomplete="off"
                           locale="en-gb"
                           name="EDIT_END_TIME"
                           ng-disabled="IS_EMPLOYEE"
                           ng-model="Section_Week_Search.EDIT_END_TIME"
                           format="HH:mm"
                           show-header="0"
                           ng-class="{'error':Form_Edit_Multiple_Shifts.submitted && Form_Edit_Multiple_Shifts.EDIT_END_TIME.$error.required}">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>
                        Section
                        <i class="fas fa-info-circle" data-toggle="tooltip" data-html="true" data-placement="right" data-original-title="Shift Type <br> Change the script type to track staff attention, such as sickness, training or absence. Create and edit shift types in Settings > Schedule > Shift types"></i>
                    </label>
                    <input type="text"
                           class="form-control "
                           name="EDIT_SECTION_NAME"
                           autocomplete="off"
                           ng-model="Section_Week_Search.EDIT_SECTION_NAME"
                           placeholder="Select Section"
                           ng-disabled="IS_EMPLOYEE"
                           uib-typeahead="SC as SC.DISPLAY_TEXT for SC in SECTIONS | filter:{DISPLAY_TEXT:$viewValue,'ACTIVE':'true'}"
                           typeahead-on-select="selectEditSectionTypeAhead($item)"
                           typeahead-show-hint="true"
                           typeahead-min-length="0"
                           ng-class="{'error':Form_Edit_Multiple_Shifts.submitted && Form_Edit_Multiple_Shifts.EDIT_SECTION_NAME.$error.required,'disabled':IS_EMPLOYEE }">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>
                        Shift Type
                        <i class="fas fa-info-circle" data-toggle="tooltip" data-html="true" data-placement="right" data-original-title="Shift Type <br> Change the script type to track staff attention, such as sickness, training or absence. Create and edit shift types in Settings > Schedule > Shift types"></i>
                    </label>
                    <input type="text"
                           class="form-control custom-scrollbar height-150"
                           name="EDIT_SHIFT_NAME"
                           autocomplete="off"
                           ng-model="Section_Week_Search.EDIT_SHIFT_NAME"
                           placeholder="Select Shift Type"
                           ng-disabled="IS_EMPLOYEE"
                           uib-typeahead="SC as SC.DISPLAY_TEXT for SC in SHIFT_TYPES | filter:{DISPLAY_TEXT:$viewValue}"
                           typeahead-template-url="ShiftTemplate.html"
                           typeahead-on-select="selectEditShiftTypeAhead($item)"
                           typeahead-show-hint="true"
                           typeahead-min-length="0"
                           ng-class="{'error':Form_Edit_Multiple_Shifts.submitted && Form_Edit_Multiple_Shifts.EDIT_SHIFT_NAME.$error.required,'disabled':IS_EMPLOYEE }">
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label>Comment</label>
                    <textarea ng-model="Section_Week_Search.EDIT_COMMENTS"
                              class="form-control"
                              rows="5"></textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="accordion p-3" id="accordionMulti" ng-show="(LOGIN_LIST.length + LOGIN_LOGOUT_LIST.length + APPROVE_SHIFT_LIST.length + DUPLICATE_EMP.length)>0">
        <div class="row border bg-light-grey">
            <div class="col-md-12 cursor-pointer" id="headingOneMulti" data-toggle="collapse" data-target="#collapseOneMulti" aria-expanded="true" aria-controls="collapseOneMulti{{$index}}" ng-click="TOTAL_ERRORS=!TOTAL_ERRORS">
                <span class="semibold mb-2 text-danger"> Total {{LOGIN_LIST.length + LOGIN_LOGOUT_LIST.length + APPROVE_SHIFT_LIST.length}} shift(s) will not  be edit</span>
                <span class="float-right">
                        <i class="fas fa-chevron-down ml-1" data-toggle="tooltip" data-html="true" data-original-title="Hide Column" ng-show="!TOTAL_ERRORS"></i>
                        <i class="fas fa-chevron-up ml-1" data-toggle="tooltip" data-html="true" data-original-title="Show Column" ng-show="TOTAL_ERRORS"></i>
                </span>
            </div>
        </div>
        <div id="collapseOneMulti" class="collapse " aria-labelledby="headingOneMulti" data-parent="#accordionMulti">
            <div class="row ">
                <div class="form-group w-100 border pb-0" ng-show="(LOGIN_LIST.length+ LOGIN_LOGOUT_LIST.length+ APPROVE_SHIFT_LIST.length)>0">
                    <div class="row align-items-center" ng-show="false">
                        <div class="col-auto"><i class="fa fa-exclamation-triangle text-danger"></i></div>
                        <div class="col text-sm">
                            {{LOGIN_LIST.length + LOGIN_LOGOUT_LIST.length + APPROVE_SHIFT_LIST.length}} shift(s) will not  be edit
                            Clockin or clockout and approve shift not to be edit.
                        </div>
                    </div>


                    <div class="row align-items-center borderline mb-2" ng-show="(LOGIN_LIST.length + LOGIN_LOGOUT_LIST.length)>0">
                        <div class="col-auto"><i class="fa fa-exclamation-triangle text-danger"></i></div>
                        <div class="col text-sm">
                            {{LOGIN_LIST.length + LOGIN_LOGOUT_LIST.length}} Clockin or clockout . <a class="float-right cursor-pointer text-blue" ng-show="false">View</a> <span ng-show="false" class="float-right mx-2">|</span> <a ng-click="DESELECTED_LOGIN_LOGOUT()"  class="float-right cursor-pointer text-blue">Deselect</a>
                        </div>
                    </div>
                    <div class="row align-items-center borderline mb-2" ng-show="APPROVE_SHIFT_LIST.length>0">
                        <div class="col-auto"><i class="fa fa-exclamation-triangle text-danger"></i></div>
                        <div class="col text-sm">
                            {{APPROVE_SHIFT_LIST.length}} approved. <a class="float-right cursor-pointer text-blue" ng-show="false">View</a> <span ng-show="false" class="float-right mx-2">|</span> <a  class="float-right cursor-pointer text-blue" ng-click="ROTA_MULTIPLE_SHIFTS_CHECKBOX('','','FOOTER_STATUS',1,23)">Deselect</a>
                        </div>
                    </div>
                    <div class="row align-items-center borderline" ng-show="DUPLICATE_EMP.length>0">
                        <div class="col-auto"><i class="fa fa-exclamation-triangle text-danger"></i></div>
                        <div class="col text-sm">
                            {{DUPLICATE_EMP.length}} shift of same employee and date has been selected. Please find the list below. <a class="float-right cursor-pointer text-blue" ng-show="false">View</a> <span class="float-right mx-2" ng-show="false">|</span> <a  class="float-right cursor-pointer text-blue">Deselect</a>
                        </div>
                    </div>
                </div>
                <div class="table-responsive custom-scrollbar" ng-show="DUPLICATE_EMP.length>0">
                    <table class="table table-striped">
                        <thead class="bg-wenodo-dark-blue">
                            <tr>
                                <th>Employee Name</th>
                                <th>Start Time</th>
                                <th>End Time</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody ng-repeat="DEMP in DUPLICATE_EMP ">
                            <tr>
                                <td>{{DEMP.EMPLOYEE_NAME}}</td>
                                <td>{{DEMP.START_TIME | date}} {{DEMP.START_TIME | date:'HH:mm'}}</td>
                                <td>{{DEMP.START_TIME | date}} {{DEMP.END_TIME | date:'HH:mm' }}</td>
                                <td>
                                    <div class="custom-control custom-checkbox custom-padding-checkbox">
                                        <input class="custom-control-input" type="checkbox" ng-change="CHECK_MULTI_SHFIT_SAME_DATE()" ng-model="DEMP.SHIFT_SELECTED" id="Shift_b_Check{{$index}}">
                                        <label for="Shift_b_Check{{$index}}" class="custom-control-label"></label>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        </div>
    </div>
