<div class="row">
    <div class="col-md-6">
        <label>Name:</label><span class="d-block font-12">{{Section_Week_Search.EMPLOYEE_NAME_LOGIN | uppercase}}</span>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label>{{Section_Week_Search.LOGIN_OR_LOGOUT_TEXT}} Time *</label>
            <input class="form-control"
                   id="calendar"
                   moment-picker="LOGIN_START_END_TIME"
                   onkeypress="return event.charCode >= 48 && event.charCode <= 58"
                   name="LOGIN_START_TIME"
                   autocomplete="off"
                   placeholder="Select Time"
                   locale="en-gb"
                   maxlength="5"
                   ng-model="Section_Week_Search.LOGIN_START_TIME"
                   format="HH:mm"
                   required
                   ng-class="{'error':Form_Login_Shift.submitted && Form_Login_Shift.LOGIN_START_TIME.$error.required}">
        </div>
        <label>{{LOGIN_DISPLAY_TEXT}}: {{Section_Week_Search.LOGIN_DISPLAY_START_TIME | date:'dd/MM/yyyy HH:mm'}}  </label>
    </div>
    <div class="image-upload" ng-show="false">
        <label for="file-input">
            <span class="edit-badge"><i class="fal fa-pen text-secondary"></i></span>
        </label>
        <input id="file-input" ng-files="getTheFilesLoginUpload($files)" name="file" type="file" />
    </div>
    <div class="col-md-12" ng-show="false">
        <div class="form-group">
            <!--<pre>Model: {{customSelected | json}}</pre>-->
            <label>Comment</label>
            <textarea ng-model="Section_Week_Search.EMPLOYEE_NOTES"
                      class="form-control"
                      rows="5" ng-disabled="true"></textarea>
        </div>
    </div>
</div>
