<div class="card-header border-0">
    <h5 class="card-title heading-text">
        <img src="../../E_Content/images/employee-icon.png" class="content-icon" /> Add Employee
    </h5>
    <div class="card-tools" ng-show="EMP_SEARCH_NAME_DTL.FIRST_NAME!=null">
        <ul class="nav nav-pills ml-auto">
            <li class="nav-item border border-radius-5"><i class="far fa-check text-success"></i>{{EMP_SEARCH_NAME_DTL.FIRST_NAME}} {{EMP_SEARCH_NAME_DTL.MIDDLE_NAME}} {{EMP_SEARCH_NAME_DTL.LAST_NAME}}</li>
        </ul>
    </div>
</div>
<div class="card-body">
    <div class="row seven-cols">
        <div class="col-md-1" ng-click="STEP_NO>1?GO_TAB_CLICK(1):''">
            <span class="d-block p-1" ng-class="{'bg-wenodo-blue':STEP_FLAG==1,'bg-wenodo-dark-blue':STEP_FLAG!=1 && STEP_NO==1 || STEP_NO>1}" ></span>
            <p class="text-bold app-text mt-2">1. Personal</p>
        </div>
        <div class="col-md-1" ng-click="STEP_NO>2?GO_TAB_CLICK(2):''">
            <span class=" d-block p-1"
                  ng-class="{'bg-wenodo-blue':STEP_FLAG==2 ,'bg-wenodo-grey':STEP_FLAG!=2 && STEP_NO<2 || STEP_NO==null,'bg-wenodo-dark-blue':STEP_FLAG!=2 && STEP_NO==2 || STEP_NO>2}" ></span>
            <p class="text-bold app-text mt-2">2. Contact</p>
        </div>
        <div class="col-md-1" ng-click="STEP_NO>3?GO_TAB_CLICK(3):''">
            <span class=" d-block p-1" ng-class="{'bg-wenodo-blue':STEP_FLAG==3,'bg-wenodo-grey':STEP_FLAG!=3 && STEP_NO<3 || STEP_NO==null,'bg-wenodo-dark-blue': STEP_FLAG!=3 && STEP_NO==3 || STEP_NO>3}" > </span>
            <p class="text-bold app-text mt-2">3. Employment</p>
        </div>
        <div class="col-md-1" ng-click="STEP_NO>4?GO_TAB_CLICK(4):''">
            <span class=" d-block p-1" ng-class="{'bg-wenodo-blue':STEP_FLAG==4,'bg-wenodo-grey':STEP_FLAG!=4 && STEP_NO<4 || STEP_NO==null,'bg-wenodo-dark-blue':STEP_FLAG!=4 && STEP_NO==4 || STEP_NO>4}" ></span>
            <p class="text-bold app-text mt-2">4. Qualifications</p>
        </div>
        <div class="col-md-1" ng-click="STEP_NO>5?GO_TAB_CLICK(5):''">
            <span class="d-block p-1" ng-class="{'bg-wenodo-blue':STEP_FLAG==5,'bg-wenodo-grey':STEP_FLAG!=5 && STEP_NO<5 || STEP_NO==null,'bg-wenodo-dark-blue':STEP_FLAG!=5 && STEP_NO==5 || STEP_NO>5}" ></span>
            <p class="text-bold app-text mt-2">5. Compensation</p>
        </div>
        <div class="col-md-1" ng-click="STEP_NO>=6?GO_TAB_CLICK(6):''">
            <span class=" d-block p-1" ng-class="{'bg-wenodo-blue':STEP_FLAG==6,'bg-wenodo-grey':STEP_FLAG!=6 && STEP_NO<6 || STEP_NO==null,'bg-wenodo-dark-blue':STEP_FLAG!=6 && STEP_NO==6 || STEP_NO>6}" ></span>
            <p class="text-bold app-text mt-2">6. Leave</p>
        </div>
        <div class="col-md-1">
            <span class=" d-block p-1" ng-class="{'bg-wenodo-blue':STEP_FLAG==7,'bg-wenodo-grey':STEP_FLAG!=7 && STEP_NO<7 || STEP_NO==null,'bg-wenodo-dark-blue':STEP_NO>=7}"></span>
            <p class="text-bold app-text mt-2">7. Documents</p>
        </div>
    </div>
</div>

<!--<li class="step step01" ng-class="{'step blue':TabFlag==1,  'step step01 active form-valid':EVENT_INFO_VALID && TabFlag!=1,'step step01 active form-error':!EVENT_INFO_VALID && TabFlag!=1 }" ng-click="STEP_NO>1?GetToStep(1):''"><a tabindex="-1"><div class="step-inner">Set Up </div></a></li>
<li     class="step step02" ng-class="{'step blue':TabFlag==2,  'step step02 active form-valid':EVENT_TEAM_TAB_VALID && TabFlag!=2 && STEP_NO>2,'step step02 active form-error':!EVENT_TEAM_TAB_VALID && TabFlag!=2 && STEP_NO>2}" ng-click="STEP_NO>=2?GetToStep(2):''"><a tabindex="-1"><div class="step-inner">Add Team</div></a></li>
@*<li   class="step step03" ng-class="{'step blue':TabFlag==3,  'step step03 active form-valid':EVENT_TIME_LINE_TAB_VALID && TabFlag!=3 && STEP_NO>3 ,'step step03 active form-error':!EVENT_TIME_LINE_TAB_VALID && TabFlag!=3 && STEP_NO>3}" ng-click="STEP_NO>=3?GetToStep(3):''" ng-show="TimeLineTab"><a tabindex="-1"><div class="step-inner">Timeline</div></a></li>*@
<li     class="step step04" ng-class="{'step blue':TabFlag==4 , 'step step04 active form-valid':QUESTIONNAIRE_LIST_IsValid && TabFlag!=4 && STEP_NO>4 ,'step step04 active form-error':!QUESTIONNAIRE_LIST_IsValid && TabFlag!=4 && STEP_NO>4}" ng-click="STEP_NO>=4?GetToStep(4):''" ng-show="QuestionTab"><a tabindex="-1"><div class="step-inner">Create Questionnaire</div></a></li>
<li     class="step step05" ng-class="{'step blue':TabFlag==5 , 'step step05 active form-valid':EVENT_LINE_TAB && TabFlag!=5 && STEP_NO>5,'step step05 active form-error':!EVENT_LINE_TAB && TabFlag!=5 && STEP_NO>5} " ng-click="STEP_NO>=5?GetToStep(5):''" ng-show="ItemsTab"><a tabindex="-1" class="text-decoration-none"><div class="step-inner">Select Line Items</div></a></li>
<li     class="step step06" ng-class="{'step blue':TabFlag==6 , 'step step06 active form-valid':EVENT_SUPPLIER_TAB_VALID && TabFlag!=6 && STEP_NO>6,'step step06 active form-error':!EVENT_SUPPLIER_TAB_VALID && TabFlag!=6 && STEP_NO>6}" ng-click="STEP_NO>=6?GetToStep(6):''"><a tabindex="-1"><div class="step-inner">Invite Suppliers</div></a></li>
<li     class="step step07" ng-class="{'step blue':TabFlag==7}" ng-click="STEP_NO==7?GetToStep(7):''"><a tabindex="-1" class="text-decoration-none"><div class="step-inner">Review Your Event </div></a></li>-->
