
<form id="MM_Category" name="MM_Category" novalidate>
    <style>
        .overlay_loadingNew {
            background-image: url(/E_Content/images/loading.gif);
            background-color: #666;
            opacity: 0.4;
            background-repeat: no-repeat;
            background-position: center;
            display: block;
            width: 100%;
            height: 100%;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 9999;
        }
    </style>
    <div class="overlay_loadingNew" style="display:none!important" id="MM_Loader"></div>
    <div class="card-header">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>Customer:*</label>
                    <select class="custom-select"
                            name="CUSTOMER_ID"
                            ng-model="MMSearch.CUSTOMER_ID"
                            ng-options="EL.CUSTOMER_ID as EL.CUSTOMER_NAME for EL in CUSTOMER_LIST"
                            ng-change="GET_ENTITY_LIST()"
                            required
                            ng-class="{'error':MM_Category.submitted && MM_Category.CUSTOMER_ID.$error.required}">
                        <option value="">- Please Select Customer -</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Entity:*</label>
                    <select class="custom-select"
                            name="ENTITY_ID"
                            ng-model="MMSearch.ENTITY_ID"
                            ng-options="EL.ENTITY_ID as EL.ENTITY_NAME for EL in ENTITY_LIST"
                            ng-change="ADMIN_GET_LOCATION();"
                            required
                            ng-class="{'error':MM_Category.submitted && MM_Category.ENTITY_ID.$error.required}">
                        <option value="">- Please Select Entity-</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Location:*</label>
                    <select class="custom-select"
                            name="LOCATION_ID"
                            ng-model="MMSearch.LOCATION_ID"
                            ng-options="EL.LOCATION_ID as EL.LOCATION_NAME for EL in LOCATION"
                            required
                            ng-change="ADMIN_GET_BRANCH();"
                            ng-class="{'error':MM_Category.submitted && MM_Category.LOCATION_ID.$error.required}">
                        <option value="">- Please Select Location-</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Branch:*</label>
                    <select class="custom-select"
                            name="LOCATION_ID"
                            ng-model="MMSearch.BRANCH_ID"
                            ng-options="EL.BRANCH_ID as EL.BRANCH_NAME for EL in BRANCH_LIST"
                            ng-change="GET_MM_CATEGORIES();"
                            required
                            ng-class="{'error':MM_Category.submitted && MM_Category.LOCATION_ID.$error.required}">
                        <option value="">- Please Select Location-</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div data-ng-show="BrnForm.submitted && BrnForm.$invalid" class="form-group has-error errormessage form-group has-error errormessage badge badge-light-red w-100 p-3">
                <span class="help-block errormessageline"><i class="fa fa-exclamation-triangle"></i> - Please provide the mandatory details to submit(marked in red).</span>
            </div>
            <div id="divInvlidUser" class="hideshowdiv" data-ng-show="BrnForm.$valid">
                <span class="help-block">{{InvalidUser}}</span>
            </div>
        </div>
        <div class="col-md-12 mt-3">
            <div class="form-group">
                <button ng-click="INS_UPD_MM_COGS_CATEGORY_MAPPING()" class="btn btn-wenodo">Save</button>
                <button ng-click="RESET()" class="btn btn-w-default">Reset</button>
            </div>
        </div>
    </div>
</form>

<form id="MM_Category_Add" name="MM_Category_Add" novalidate>
    <div class="container-fluid">
        <div class="row mt-2">
            <div class="col-md-4 border-right height-100%">
                <div class="form-group">
                    <label>Categories&nbsp;<span ng-show="MMSearch.MM_CATEGORIES_SELECTED_ON_CHECKBOX_CLICKED>0">[{{MMSearch.MM_CATEGORIES_SELECTED_ON_CHECKBOX_CLICKED}}]</span></label>
                    <!--<select class="custom-select"
            name="CATEGORY_NAME"
            ng-model="MMSearch.ID"
            ng-options="EL.ID as EL.NAME for EL in MMCAT_NOT_MAPPED_LIST"
            required
            ng-class="{'error':MM_Category_Add.submitted && MM_Category_Add.CATEGORY_NAME.$error.required}">
        <option value="">- Please Select Categories-</option>
    </select>-->
                    <button class="form-control text-left" type="button" id="ddlStatus" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="true" ng-class="{'error':MM_Category_Add.submitted && MMSearch.ALL_SOURCE_SELECTED_FLAG==0}">
                        -Categories-
                        <i class="fas fa-sort float-right mt-1 ml-2"></i>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-left bg-white custom-scrollbar mw-300 DontHideOnClick" aria-labelledby="ddlStatus1">
                        <li class="dropdown-item">
                            <div class="custom-control custom-checkbox checkbox-green">
                                <input class="custom-control-input checkbox-green-input" type="checkbox" id="Select_All_Site"
                                       ng-change="ONCHANGE_SELECT_ALL(MMCAT_NOT_MAPPED_LIST,MMSearch.SYSTEM_ALL);" ng-model="MMSearch.SYSTEM_ALL">
                                <label for="Select_All_Site" class="custom-control-label checkbox-green-label text-sm pt-1">Select All</label>
                            </div>
                        </li>
                        <li class="dropdown-item DontHideOnClick" ng-repeat="MM_NML in MMCAT_NOT_MAPPED_LIST" ng-init="">
                            <div class="custom-control custom-checkbox mt-2 checkbox-green">
                                <input class="custom-control-input checkbox-green-input" type="checkbox" id="Select_All_Site{{$index}}"
                                       ng-value="MM_NML.ID"
                                       ng-model="MM_NML.SELECTED"
                                       ng-change="ONCHANGE_SINGLE_SELECT(MMCAT_NOT_MAPPED_LIST);">
                                <label for="Select_All_Site{{$index}}" class="custom-control-label checkbox-green-label text-sm pt-1">{{MM_NML.NAME}}</label>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="form-group" >
                    <label>COGS Categories</label>
                    <select class="custom-select"
                            name="COGS_CATEGORY_NAME"
                            ng-model="MMSearch.MM_CATEGORY_ID"
                            ng-options="UCL.MM_CATEGORY_ID as UCL.COGS_CATEGORY_NAME for UCL in UNIQUE_COGS_CATEGORY_NAME  | filter:{'IS_EXCLUDED': false}"
                            required
                            ng-class="{'error':MM_Category_Add.submitted && MM_Category_Add.COGS_CATEGORY_NAME.$error.required}">
                        <option value="">-Please Select COGS Categories-</option>
                    </select>
                    

                </div>
                <div class="form-group" ng-show="UNIQUE_COGS_CATEGORY_NAME.length>0 && MMCAT_NOT_MAPPED_LIST.length>0">
                    <label>&nbsp;</label>
                    <button class="btn btn-w-default" ng-click="ADD_COGS_LIST();">ADD</button>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card bg-light-green" ng-repeat="UCL in UNIQUE_COGS_CATEGORY_NAME | filter:{'IS_EXCLUDED': false } ">
                    <div class="card-header"><h5 class="card-title">{{UCL.COGS_CATEGORY_NAME}}</h5></div>
                    <div class="card-body">
                        <ul class="todo-list" ng-repeat="MMCC in MM_COGS_CATEGORY_MAPPING">
                            <li ng-if="MMCC.COGS_CATEGORY_NAME==UCL.COGS_CATEGORY_NAME">
                                <i class="fas fa-circle fa-sm"></i>
                                <span class="text font-12">{{MMCC.NAME}}</span>
                                <div class="tools">
                                    <i class="fas fa-times fa-sm text-danger" ng-click="REMOVE_COGS_FROM_LIST($index,MMCC)"></i>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-4 border-left" ng-show="MM_COGS_CATEGORY_MAPPING.length>0">
                <span class="badge badge-wenodo m-1" ng-repeat="MMCC_EXCLUDED in MM_COGS_CATEGORY_MAPPING | filter:{'IS_EXCLUDED': true}">{{MMCC_EXCLUDED.NAME}}</span>
            </div>
        </div>
    </div>
</form>
<script type="text/javascript">
                    //Initialize Select2 Elements
                    $('.DontHideOnClick').on('click', function (event) {
                        //$("#" + ($(this).parent().parent().parent().find("button"))[0].id).trigger("click");
                        // toggleClass
                        event.stopPropagation();
                    });
                                    //$(".select2").select2({
                                    //    containerCssClass: function (e) {
                                    //        return $(e).attr('required') ? 'required' : '';
                                    //    }
                                    //});
                                    //$(function () {

                                    //    $('#chkveg').multiselect({
                                    //        includeSelectAllOption: true
                                    //    });

                                    //    $('#btnget').click(function () {
                                    //        alert($('#chkveg').val());
                                    //    });
                                    //});

</script>

