<form id="UserCreationForm" name="UserCreationForm" novalidate>
    <div class="card-header">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>Customer:</label>
                    <select class="custom-select"
                            name="CUSTOMER_ID"
                            ng-model="UserSearch.CUSTOMER_ID"
                            ng-options="CT.CUSTOMER_ID as CT.CUSTOMER_NAME for CT in CUSTOMER_LIST "
                            ng-change=""
                            required
                            ng-class="{'error':UserListForm.submitted && UserListForm.CUSTOMER_ID.$error.required}">
                        <option value="">- Please Select Customer-</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>User Name:</label>
                    <input type="text"
                           name="USER_ADDRESS"
                           class="form-control"
                           placeholder="Enter User ..."
                           ng-model="UserSearch.USER_NAME"
                           my-enter="ADMIN_GET_USERS('',1);"
                           ng-class="{'error':UserListForm.submitted && UserListForm.USER_NAME.$error.required}">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>User Email:</label>
                    <input type="text"
                           name="USER_ADDRESS"
                           class="form-control"
                           placeholder="Enter Email Address..."
                           ng-model="UserSearch.USER_EMAIL"
                           my-enter="ADMIN_GET_USERS('',1);"
                           ng-class="{'error':UserCreationForm.submitted && UserCreationForm.USER_EMAIL.$error.required}">
                    <small class="text-danger" ng-show="UserCreationForm.USER_ADDRESS.$dirty && UserCreationForm.USER_ADDRESS.$error.pattern">Please Enter Valid Email</small>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Role Name:</label>
                    <input type="text"
                           name="ROLE_NAME"
                           class="form-control"
                           placeholder="Enter Role Name..." autocomplete="off"
                           ng-model="UserSearch.ROLE_NAME"
                           my-enter="ADMIN_GET_USERS('',1);"
                           ng-class="{'error':UserCreationForm.submitted && UserCreationForm.ROLE_NAME.$error.required}">
                </div>
            </div>
            <div class="col-md-4">
                <label class="d-block">&nbsp;</label>
                <div class="form-inline mb-2">
                    <div class="col-md-4">
                        <div class="custom-control custom-radio">
                            <input class="custom-control-input" type="radio" id="UserSearch.All" name="grp"
                                   ng-value="-1"
                                   ng-model="UserSearch.ACTIVE" />
                            <label for="UserSearch.All" class="custom-control-label justify-content-left">ALL</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="custom-control custom-radio">
                            <input class="custom-control-input" type="radio" id="UserSearch.ACTIVE" name="grp"
                                   ng-model="UserSearch.ACTIVE"
                                   ng-value="1">
                            <label for="UserSearch.ACTIVE" class="custom-control-label justify-content-left">Active</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="custom-control custom-radio">
                                <input class="custom-control-input" type="radio" id="UserSearch.InActive" name="grp"
                                       ng-value="0"
                                       ng-model="UserSearch.ACTIVE">
                                <label for="UserSearch.InActive" class="custom-control-label justify-content-left">In-Active</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12 mt-2">
                <div class="form-group">
                    <button type="button" ng-click="CREATE_USER_CLICK()" class="btn btn-wenodo">Create New User</button>
                    <button type="button" ng-click="ADMIN_GET_USERS('',1);" class="btn btn-w-default">Search</button>
                    <button type="button" ng-click="RESET_USER_LIST();" class="btn btn-w-default">Reset</button>
                    <!--<a href="#!/Setup_User" class="btn btn-w-default">Create New User</a>-->
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="text-center" ng-show="USER_LIST.length==0" empty-grid></div>
        <div class="table-responsive custom-scrollbar height-auto" ng-show="USER_LIST.length>0">
            <table class="table table-striped">
                <thead class="bg-wenodo-dark-blue">
                    <tr>
                        <th>Customer</th>
                        <th>User Name</th>
                        <th>Email</th>
                        <th>Role</th>
                        <th>Status</th>
                        <th class="text-nowrap">Last Login</th>
                        <th class="text-nowrap">Password Set By User</th>
                        <th></th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <td colspan="10" align="center" ng-show="GetData">
                            <a class="btn btn-secondary text-white" ng-click="LAZY_ADMIN_GET_USERS();">{{VIEWMORERECORD}}</a>
                        </td>
                    </tr>
                </tfoot>
                <tbody ng-repeat="UL in USER_LIST" on-finish-render="ngRepeatFinished">
                    <tr>
                        <td>{{UL.CUSTOMER_NAME}}</td>
                        <td>{{UL.USER_NAME}}</td>
                        <td>{{UL.PRIMARY_EMAIL}}</td>
                        <td>{{UL.ROLE_NAME}}</td>
                        <td> {{UL.ACTIVE?'Active':'Inactive'}}</td>
                        <td>{{UL.LAST_LOGIN | date:'medium'}}</td>
                        <td>{{UL.PASSWORD_SET_BY_USER}}</td>
                        <td>
                            <a ng-click="EDIT_USER_DETAIL(UL)" data-toggle="tooltip" data-html="true" data-original-title="Edit"><i class="fad fa-edit fa-lg text-green"></i></a>
                            <!--<a ng-click="DELETE_USER_BY_ID(CL)" data-toggle="tooltip" data-original-title="Delete" data-html="true" data-placement="top"><i class="fal fa-trash-alt fa-lg text-danger"></i></a>-->
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</form>


