<div class="app-suit mt-5" ng-controller="AdminController">
    <div class="at-grid bg-transparent" data-column="8">
        <div class="at-column app-suit-inside cursor-pointer" ng-click="REDIRECTION_PAGE('Setup_Cust')">
            <div class="at-user">
                <div class="at-user__avatar app-text"><i class="fad fa-users fa-2x"></i></div>
                <div class="at-user__name app-text">Customer</div>
            </div>
        </div>

        <div class="at-column app-suit-inside cursor-pointer" ng-click="REDIRECTION_PAGE('Setup_Rest')">
            <div class="at-user">
                <div class="at-user__avatar app-text"><i class="fad fa-utensils-alt fa-2x"></i></div>
                <div class="at-user__name app-text">Entity</div>
            </div>
        </div>
        <div class="at-column app-suit-inside cursor-pointer" ng-click="REDIRECTION_PAGE('Ent_Setting')">
            <div class="at-user">
                <div class="at-user__avatar app-text"><i class="fad far fa-cog fa-2x"></i></div>
                <div class="at-user__name app-text">Entity Setting</div>
            </div>
        </div>

        <div class="at-column app-suit-inside cursor-pointer" ng-click="REDIRECTION_PAGE('Setup_Location')">
            <div class="at-user">
                <div class="at-user__avatar app-text"><i class="fad fa-map-marker-alt fa-2x"></i></div>
                <div class="at-user__name app-text">Location</div>
            </div>
        </div>

        <div class="at-column app-suit-inside cursor-pointer" ng-click="REDIRECTION_PAGE('Setup_Branch')">
            <div class="at-user">
                <div class="at-user__avatar app-text"><i class="fad fa-hotel fa-2x"></i></div>
                <div class="at-user__name app-text">Branch</div>
            </div>
        </div>

        <!--<div class="at-column cursor-pointer" ng-click="REDIRECTION_PAGE('Setup_Area')">
        <div class="at-user">
            <div class="at-user__avatar app-text"><i class="far fa-map-marked-alt fa-2x"></i></div>
            <div class="at-user__name">Area</div>
        </div>
    </div>

    <div class="at-column cursor-pointer" ng-click="REDIRECTION_PAGE('Setup_Area_Mapping')">
        <div class="at-user">
            <div class="at-user__avatar app-text"><i class="far fa-map fa-2x"></i></div>
            <div class="at-user__name">Branch Area Mapping</div>
        </div>
    </div>-->
        <div class="at-column app-suit-inside cursor-pointer" ng-click="REDIRECTION_PAGE('rle_lst')">
            <div class="at-user">
                <div class="at-user__avatar app-text"><i class="fad fa-user-tag fa-2x"></i></div>
                <div class="at-user__name app-text">Role</div>
            </div>
        </div>
        <div class="at-column app-suit-inside cursor-pointer" ng-click="REDIRECTION_PAGE('Setup_UserList')">
            <div class="at-user">
                <div class="at-user__avatar app-text"><i class="fad fa-user fa-2x"></i></div>
                <div class="at-user__name app-text">User </div>
            </div>
        </div>
        <div class="at-column app-suit-inside cursor-pointer" ng-click="REDIRECTION_PAGE('Report_Mapping')">
            <div class="at-user">
                <div class="at-user__avatar app-text"><i class="fad fa-thin fa-dice-d8 fa-2x"></i></div>
                <div class="at-user__name app-text">Report Mapping</div>
            </div>
        </div>
        <div class="at-column app-suit-inside cursor-pointer" ng-click="REDIRECTION_PAGE('BranchCategories')">
            <div class="at-user">
                <div class="at-user__avatar app-text"><i class="fad fa-ramp-loading fa-2x"></i></div>
                <div class="at-user__name app-text">Branch Categories</div>
            </div>
        </div>
        <div class="at-column app-suit-inside cursor-pointer" ng-click="REDIRECTION_PAGE('BranchCategoriesMapping')">
            <div class="at-user">
                <div class="at-user__avatar app-text"><i class="fad fa-object-ungroup fa-2x"></i></div>
                <div class="at-user__name app-text">Branch Category Mapping</div>
            </div>
        </div>
        <!--<div class="at-column cursor-pointer" ng-click="REDIRECTION_PAGE('Ass_Grp')">
        <div class="at-user">
            <div class="at-user__avatar app-text"><i class="far fa-map fa-2x"></i></div>
            <div class="at-user__name">Assiged Group</div>
        </div>
    </div>-->
        <!--<div class="at-column app-suit-inside cursor-pointer" ng-click="REDIRECTION_PAGE('IntegrationMapping')">
        <div class="at-user">
            <div class="at-user__avatar app-text"><i class="fad fa-stream fa-2x"></i></div>
            <div class="at-user__name app-text">Integration</div>
        </div>
    </div>-->
        <div class="at-column app-suit-inside cursor-pointer" ng-click="REDIRECTION_PAGE('IntegrationSearch')">
            <div class="at-user">
                <div class="at-user__avatar app-text"><i class="fad fa-stream fa-2x"></i></div>
                <div class="at-user__name app-text">XERO Integration</div>
            </div>
        </div>

        <div class="at-column app-suit-inside cursor-pointer" ng-click="REDIRECTION_PAGE('IntegrationCategoryMapping')">
            <div class="at-user">
                <div class="at-user__avatar app-text"><i class="fad fa-map-signs fa-2x"></i></div>
                <div class="at-user__name app-text">XERO Category Mapping</div>
            </div>
        </div>
        <!--<div class="at-column app-suit-inside cursor-pointer" ng-click="REDIRECTION_PAGE('CommonIntegrationMapping')">
        <div class="at-user">
            <div class="at-user__avatar app-text"><i class="fad fa-stream fa-2x"></i></div>
            <div class="at-user__name app-text">Common Integration</div>
        </div>
    </div>-->
        <div class="at-column app-suit-inside cursor-pointer" ng-click="REDIRECTION_PAGE('MM_Categories')">
            <div class="at-user">
                <div class="at-user__avatar app-text"><i class="fad fa-cogs fa-2x"></i></div>
                <div class="at-user__name app-text">COGS</div>
            </div>
        </div>
        <div class="at-column app-suit-inside cursor-pointer" ng-click="REDIRECTION_PAGE('Currency_Setup')">
            <div class="at-user">
                <div class="at-user__avatar app-text"><i class="fad fa-repeat-1 fa-2x"></i></div>
                <div class="at-user__name app-text">Currency Conversion</div>
            </div>
        </div>
        <div class="at-column app-suit-inside cursor-pointer" ng-click="REDIRECTION_PAGE('EposSales_Categoty_Mapping')">
            <div class="at-user">
                <div class="at-user__avatar app-text"><i class="fad fa-share-alt-square fa-2x"></i></div>
                <div class="at-user__name app-text">Epos Sales Category Mapping</div>
            </div>
        </div>
        <div class="at-column app-suit-inside cursor-pointer" ng-click="REDIRECTION_PAGE('CustomerIntegration')">
            <div class="at-user">
                <!--<div class="at-user__avatar app-text"><i class="fad fa-share-alt-square fa-2x"></i></div>-->
                <div class="at-user__avatar app-text"><i class="fad fa-compress-alt fa-2x"></i></div>
                <div class="at-user__name app-text">Customer Integration</div>
            </div>
        </div>
    </div>
</div>
