<form id="AreaForm" name="AreaForm" novalidate>
    <div class="card-header">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>Area Name:*</label>
                    <input type="text"
                           class="form-control"
                           name="AREA_NAME"
                           ng-model="AreaSearch.AREA_NAME"
                           required
                           ng-class="{'error':AreaForm.submitted && AreaForm.AREA_NAME.$error.required}">

                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Area Code:*</label>
                    <input type="text"
                           class="form-control"
                           name="AREA_CODE"
                           ng-model="AreaSearch.AREA_CODE"
                           required
                           ng-class="{'error':AreaForm.submitted && AreaForm.AREA_CODE.$error.required}">
                </div>
            </div>
            <div class="col-md-4">
                <label>&nbsp;</label>
                <div class="form-inline">
                    <div class="col-md-4">
                        <div class="custom-control custom-radio">
                            <input class="custom-control-input" type="radio" id="AreaSearch.All" name="Active"
                                   ng-value="-1"
                                   ng-model="AreaSearch.ACTIVE" />
                            <label for="AreaSearch.All" class="custom-control-label justify-content-left">ALL</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="custom-control custom-radio">
                            <input class="custom-control-input" type="radio" id="AreaSearch.ACTIVE" name="Active"
                                   ng-model="AreaSearch.ACTIVE"
                                   ng-value="1">
                            <label for="AreaSearch.ACTIVE" class="custom-control-label justify-content-left">Active</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="custom-control custom-radio">
                            <input class="custom-control-input" type="radio" id="AreaSearch.InActive" name="Active"
                                   ng-model="AreaSearch.ACTIVE"
                                   ng-value="0">
                            <label for="AreaSearch.InActive" class="custom-control-label justify-content-left">In-Active</label>
                        </div>
                    </div>

                </div>
            </div>
            <!--<div class="col-md-4">
        <div class="form-group">
            <label>&nbsp;</label>
            <div class="custom-control custom-checkbox">
                <input class="custom-control-input" type="checkbox" id="AreaSearch.ACTIVE"
                       ng-model="AreaSearch.ACTIVE">
                <label for="AreaSearch.ACTIVE" class="custom-control-label">Active</label>
            </div>
        </div>
    </div>-->
            <div class="col-md-12">
                <div data-ng-show="AreaForm.submitted && AreaForm.$invalid" class="form-group has-error errormessage form-group has-error errormessage badge badge-light-red w-100 p-3">
                    <span class="help-block errormessageline"><i class="fa fa-exclamation-triangle"></i> - Please provide the mandatory details to submit(marked in red).</span>
                </div>
                <div id="divInvlidUser" class="hideshowdiv" data-ng-show="AreaForm.$valid">
                    <span class="help-block">{{InvalidUser}}</span>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <button ng-click="ADMIN_INS_UPD_AREA();" class="btn btn-wenodo">Save</button>
                    <button ng-click="ADMIN_GET_AREA(1);" class="btn btn-w-default">Search</button>
                    <button ng-click="RESET_AREA();" class="btn btn-w-default">Reset</button>
                </div>
            </div>
        </div>
        
    </div>
</form>
<div class="card-body">
    <div class="text-center" ng-show="AREA_LIST.length==0" empty-grid>
    </div>
    <div class="table-responsive custom-scrollbar height-auto" ng-show="AREA_LIST.length>0">
        <table class="table table-striped">
            <thead class="bg-wenodo-dark-blue">
                <tr>
                    <th>Area Name</th>
                    <th>Area Code</th>
                    <th>Creation Date</th>
                    <th>Status</th>
                    <th width="5%"></th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <td colspan="10" align="center" ng-show="GetData">
                        <a class="btn btn-secondary text-white" ng-click="LAZY_ADMIN_GET_AREA();">{{VIEWMORERECORD}}</a>
                    </td>
                </tr>
            </tfoot>
            <tbody ng-repeat="AL in AREA_LIST" on-finish-render="ngRepeatFinished">
                <tr>
                    <td>{{AL.AREA_NAME}}</td>
                    <td>{{AL.AREA_CODE}}</td>
                    <td>{{AL.CREATED_DATE | date}}</td>
                    <td>{{AL.ACTIVE?'Active':'Inactive'}}</td>
                    <td>
                        <a ng-click="EDITE_AREA(AL)" data-toggle="tooltip" data-html="true" data-original-title="Edit"><i class="fad fa-edit fa-lg text-green"></i></a>
                        <!--<a ng-click="DELETE_AREA(AL)"><i class="fal fa-trash-alt fa-lg text-danger"></i></a>-->
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>