<div class="card" ng-show="CASHUP_PRIVILEGE==true">
    <div class="card-header">
        <h6>Deposit Management</h6>
    </div>

    
    <!--Transactions-->
    <div class="card-body">

        <div class="row g-1 resCashupHeader">
            <div class="col-xxl-1 col-xl-1 col-md-1 min-w-140">
                <input type="text" name="search" placeholder="Search" ng-model="DEPOSITE_MGT_SEARCH.SEARCH_TEXT" ng-change="GET_DEPOSITE_MANAGEMENT()" />
            </div>

            <div class="col-xxl-1 col-xl-1 col-md-1">
                <ul class="nav nav-pills">
                    <li class="dropdown w-100">
                        <a data-toggle="dropdown">
                            <span class="select-label" id="select_label">
                                <span class="truncate">{{DEPOSITE_MGT_SEARCH.SELECTED_SITE.BRANCH_NAME||'Site'}}</span>
                            </span>
                        </a>
                        <ul class="dropdown-menu scrollbar-wrapper w-auto" style="min-width:100%">
                            <li class="ng-scope" ng-repeat="_site in FILTERED_SITES_LIST" ng-click="SELECT_SITE(_site)">
                                <span class="truncate">{{_site.BRANCH_NAME}}</span>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>

            <!--<div class="col-xxl-auto col-xl-auto col-md-auto min-w-80">
            <ul class="nav nav-pills mb-0">
                <li class="dropdown w-100">
                    <a class="text-limitations cursor-pointer"
                       data-toggle="dropdown">
                        <span class="select-label" id="select_label">
                            {{DEPOSITE_MGT_SEARCH.SELECTED_SITE.BRANCH_NAME||'Site'}}
                        </span>
                    </a>
                    <ul ID="divNewNotifications" class="dropdown-menu scrollbar-wrapper w-auto" style="min-width:100%">
                        <li class="ng-scope" ng-repeat="_site in FILTERED_SITES_LIST" ng-click="SELECT_SITE(_site)">
                            <div class="form-check">
                                <label class="form-check-label text_truncate text-nowrap ng-binding" for="Site-{{$index}}">{{_site.BRANCH_NAME}} </label>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>-->
            <div class="col-xxl-auto col-xl-auto col-md-auto">
                <ul class="nav nav-pills min-w-160">
                    <li class="dropdown w-100">
                        <a class="text-limitations cursor-pointer"
                           data-toggle="dropdown">
                            <span class="select-label" id="select_label">
                                <span class="truncate">{{DEPOSITE_MGT_SEARCH.MODE_OF_PAYMENT.METHOD_NAME || 'Payment Method'}}</span>
                            </span>
                        </a>
                        <ul ID="divNewNotifications" class="dropdown-menu scrollbar-wrapper" style="min-width:100%">
                            
                            <li ng-click="SELECT_MODE_OF_PAYMENT('Choose')">
                                Choose
                            </li>
                            <li ng-repeat="_mode_of_payment in MODE_OF_PAYMENT_LIST" ng-click="SELECT_MODE_OF_PAYMENT(_mode_of_payment)">
                                {{_mode_of_payment.METHOD_NAME}}
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="col-xxl-2 col-xl-2 col-md-2 min-w-140">
                <div id="reportrange" class="form-control-box">
                    <span></span>
                    <i class="fa-regular fa-calendar float-end mt-1"></i>
                </div>
            </div>
            <div class="col-xxl-auto col-xl-auto col-md-auto">
                <button ng-click="RESET_DEPOSIT_SEARCH()" type="button" class="btn btn-outline"><i class="fa-light fa-undo"></i></button>
            </div>
            <div class="col-xxl-auto col-md-auto col-xl-auto ms-auto">
                <button class="btn btn-primary" type="button" ng-click="REDEEM_CANCEL(1)" ng-show="DEPOSITE_MGT_SEARCH.DATA_ENTRY_ENABLED==true">
                    Redeem
                </button>
            </div>
            <div class="col-xxl-auto col-md-auto col-xl-auto">
                <button click-once class="btn btn-light" type="button" ng-click="REDEEM_CANCEL(2)" ng-show="DEPOSITE_MGT_SEARCH.DATA_ENTRY_ENABLED==true">
                    Cancel
                </button>
            </div>
            <div class="col-xxl-auto col-md-auto col-xl-auto" ng-show="DEPOSITE_MGT_SEARCH.DATA_ENTRY_ENABLED==true">
                <button class="btn btn-light w-100" type="button" data-bs-toggle="dropdown" aria-expanded="false">Issue New <i class="fa-light fa-chevron-down"></i></button>
                <ul class="dropdown-menu dropdown-block dropdown-menu-end">
                    <li><a class="dropdown-item d-block" data-bs-toggle="modal" data-bs-target="#Add_Single">Issue Single</a></li>
                    <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#update_bulk">Issue Bulk</a></li>
                </ul>
            </div>
            <div class="col-xxl-auto col-xl-auto col-md-auto">
                <button class="btn btn-light w-100" type="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa-light fa-arrow-down-to-bracket me-2"></i>Export</button>
                <ul class="dropdown-menu dropdown-block dropdown-menu-end">
                    <li><a class="dropdown-item d-block" ng-click="EXPORT_DEPOSITE_LIST(2)">XLS</a></li>
                    <li><a class="dropdown-item" ng-click="EXPORT_DEPOSITE_LIST(1)">CSV</a></li>
                    <!--<li><a class="dropdown-item">PDF</a></li>-->
                </ul>
            </div>
        </div>
        <div class="col-xxl-12 col-xl-12 col-md-12" ng-show="DEPOSITE_LIST.length == 0">
            <div class="no-record text-center">
                <span class="d-block text-center">{{LOAD_FETCH_TEXT}}</span>
            </div>
        </div>
        <!--Table Starts-->
        <div class="table-responsive scrollbar-wrapper depoManTable resCashupTable" ng-show="DEPOSITE_LIST.length>0">
            <table>
                <thead class="table-sticky-top">
                    <tr>
                        <th>
                            <div class="d-flex">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" ng-model="CHECKED_ALL" ng-click="CHECK_ALL_DEPOSITS()" id="Select_All{{$index}}">
                                    <label class="form-check-label ms-1" for="Select_All{{$index}}">Invoice</label>

                                </div>
                               
                            </div>
                        </th>
                        <th>
                            <div class="d-flex justify-content-between text-nowrap" >
                                Deposit Reference
                                
                            </div>

                        </th>
                        <th>
                            <div class="d-flex justify-content-between text-nowrap">
                                Deposit Date
                            </div>
                        </th>
                        <th>
                            <div class="d-flex justify-content-between text-nowrap">
                                Name of Payee
                            </div>
                        </th>
                        <th class="text-end">
                            Deposit Amount
                        </th>
                        <th class="text-end">
                            Redeemed Amount
                        </th>
                        <th class="text-end">
                            Balance Amount
                        </th>
                        <th>
                            <div class="d-flex justify-content-between text-nowrap">
                                Payment Method
                                
                            </div>
                        </th>
                        <th class="text-center notes">
                            <div class="d-flex justify-content-between">
                                Note
                                <i class="fa-light icon-color mt-1"></i>
                            </div>
                        </th>
                        <th class="text-center">Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="ROW in DEPOSITE_LIST" ng-init="nginit_deposite_list(ROW)">
                        <td class="justify-content-center">
                            <div class="form-check">
                                <input class="form-check-input" id="Invoice{{$index}}" type="checkbox" value="" ng-model="ROW.CHECKED">
                                <label class="form-check-label" for="Invoice{{$index}}"> {{ROW.INVOICE}}</label>
                            </div>
                        </td>
                        <td>{{ROW.DEPOSIT_REFERENCE}}</td>
                        <td class="text-nowrap">{{ROW.VALIDITY_DATE | date:DISPLAY_DATE_FORMAT}}</td>
                        <td class="text-nowrap">{{ROW.NAME_OF_PAYEE}}</td>
                        <td class="text-end text-nowrap">{{CURRENCY_SYMBOL}} {{ROW.DEPOSITE_AMOUNT}}</td>
                        <td class="text-end text-nowrap text-nowrap">{{CURRENCY_SYMBOL}} {{ROW.REDEEMED_AMOUNT}}</td>
                        <td class="text-end text-nowrap">{{CURRENCY_SYMBOL}} {{ROW.BALANCE_AMOUNT}}</td>
                        <td>{{ROW.PAYMENT_METHOD}}</td>
                        <td> {{ROW.NOTE}}</td>
                        <td class="text-center">
                            <span class="badge-lg badge-light-primary" ng-class="{
                                    'badge-lg badge-light-warning': ROW.STATUS === 1,
                                    'badge-lg badge-light-primary': ROW.STATUS === 2,
                                    'badge-lg badge-light-success': ROW.STATUS === 3,
                                    'badge-lg badge-light-danger': ROW.STATUS === 4}">
                                {{DEPOSIT_STATUS(ROW.STATUS)}}
                            </span>
                        </td>
                    </tr>
                </tbody>
                <tfoot ng-show="GetData">
                    <tr>
                        <td colspan="10" class="text-center"><button type="button" click-once class="btn btn-sm btn_fixed btn-light" ng-click="GET_DEPOSITE_MANAGEMENT(1)">{{PAGINATION_TEXT}}</button></td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <!--Table Ends-->
    </div>
</div>

<div class="col-xxl-12 col-xl-12 col-md-12" ng-show="CASHUP_PRIVILEGE==false">
    <div class="no-record text-center">
        <span class="d-block text-center">You do not have access to Deposit Management. Please contact Admin for access.</span>
    </div>
</div>
<!--Add_Single Modal Starts-->
<div class="modal fade" id="Add_Single" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content custom-modal">
            <div class="modal-header">
                <h5 class="modal-title">Add Single</h5>
                <button class="btn-close py-0" type="button" data-bs-dismiss="modal" aria-label="Close" ng-click="RESET_DEPOSITE_ISSUE_SINGLE()"></button>
            </div>
            <div class="modal-body resCashupHeader">
                <form name="IssueSingleDepositeForm" autocomplete="off" novalidate>
                    <div class="row g-1">
                        <div class="col-xxl col-xl col-md mb-1">
                            <label>Invoice <span class="text-danger">*</span></label>
                            <input type="text"
                                   placeholder="Add Here"
                                   class="mb-0 min-w-80"
                                   ng-model="DEPOSITE_ISSUE_SINGLE.INVOICE"
                                   name="INVOICE_NO"
                                   required
                                   ng-class="{'error':IssueSingleDepositeForm.submitted && IssueSingleDepositeForm.INVOICE_NO.$error.required}" />
                        </div>
                        <div class="col-xxl col-xl col-md mb-1">
                            <label class="text-nowrap">Deposit Reference <span class="text-danger">*</span></label>
                            <input type="text"
                                   placeholder="Add Here"
                                   class="mb-0 min-w-80"
                                   ng-model="DEPOSITE_ISSUE_SINGLE.DEPOSIT_REFERENCE"
                                   name="DEPOSIT_REFERENCE"
                                   required
                                   ng-blur="UPLOAD_DEPOSITE_CHECK()"
                                   ng-class="{'error':IssueSingleDepositeForm.submitted && IssueSingleDepositeForm.DEPOSIT_REFERENCE.$error.required}" />
                        </div>
                        <div class="col-xxl col-xl col-md text-end mb-1">
                            <label>Amount <span class="text-danger">*</span></label>
                            <input type="text" placeholder="Add Here"
                                   class="mb-0 min-w-80 text-end"
                                   only-digits ng-model="DEPOSITE_ISSUE_SINGLE.AMOUNT"
                                   name="AMOUNT"
                                   required
                                   ng-class="{'error':IssueSingleDepositeForm.submitted && IssueSingleDepositeForm.AMOUNT.$error.required}" />
                        </div>
                        <div class="col-xxl col-xl col-md mb-1">
                            <label class="text-nowrap">Deposit Date</label>
                            <div class="date-column" ng-init="dateinputddmmyy()">
                                <input type="text"
                                       class="dateinputddmmyy mb-0 min-w-120"
                                       placeholder="DD/MM/YY"
                                       name="VALIDITY_DATE"
                                       ng-model="DEPOSITE_ISSUE_SINGLE.VALIDITY_DATE"
                                       required
                                       ng-class="{'error':IssueSingleDepositeForm.submitted && IssueSingleDepositeForm.VALIDITY_DATE.$error.required}" />
                                <i class="date-icon fa-light fa-calendar" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="col-xxl col-x2 col-md mb-1">
                            <label class="text-nowrap">Payment Method <span class="text-danger">*</span></label>
                            <div class="dropdown">
                                <input type="hidden"
                                       ng-model="DEPOSITE_ISSUE_SINGLE.MODE_OF_PAYMENT.METHOD_NAME"
                                       name="PAYMENT_MODE"
                                       required
                                       ng-class="{'error':IssueSingleDepositeForm.submitted && IssueSingleDepositeForm.PAYMENT_MODE.$error.required}" />
                                <div class="dropdown w-100" aria-labelledby="modeOfPaymentDDL">
                                    <button class="select-label"
                                            type="button"
                                            id="modeOfPaymentDDL"
                                            ng-class="{'error':IssueSingleDepositeForm.submitted && IssueSingleDepositeForm.PAYMENT_MODE.$error.required}"
                                            data-toggle="dropdown"
                                            aria-expanded="false">
                                        <span class="truncate">{{DEPOSITE_ISSUE_SINGLE.MODE_OF_PAYMENT.METHOD_NAME || 'Add'}}</span>
                                    </button>
                                    <ul id="divNewNotifications" class="dropdown-menu scrollbar-wrapper w-auto" style="min-width:100%">
                                        <li ng-repeat="_mode_of_payment in MODE_OF_PAYMENT_LIST" ng-click="SELECT_MODE_OF_PAYMENT_ISSUE_SINGLE(_mode_of_payment)">
                                            {{_mode_of_payment.METHOD_NAME}}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl col-xl col-md">
                            <label class="text-nowrap">Name of Payee</label>
                            <input type="text" placeholder="Add Here"
                                   ng-model="DEPOSITE_ISSUE_SINGLE.NAME_OF_PAYEE"/>
                        </div>
                        <div class="col-xxl col-xl col-md">
                            <label>Note</label>
                            <input type="text" placeholder="Type Notes" ng-model="DEPOSITE_ISSUE_SINGLE.NOTE"/>
                        </div>
                    </div>
                </form>
                
            </div>
            <div class="modal-footer">
                <button class="btn btn-light" data-bs-dismiss="modal" aria-label="Close" ng-click="RESET_DEPOSITE_ISSUE_SINGLE()">Cancel</button>
                <button click-once class="btn btn-primary" ng-click="INS_ENTRY_DEPOSIT_DECLARATION(1)">Save</button>
            </div>
        </div>
    </div>
</div>
<!--Add_Single Modal Ends-->
<!--Upload Bulk Modal Starts-->
<div class="modal fade" id="update_bulk" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content custom-modal">
            <div class="modal-header">
                <h5 class="modal-title">Upload Bulk</h5>
                <button class="btn-close py-0" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xxl-12 col-xl-12 col-md-12">
                        <a href="{{DOWNLOAD_FILE_PATH}}" class="btn download-template">
                            <i class="fa-solid fa-arrow-down-to-bracket txt-primary me-1"></i>
                            Download template
                        </a>
                    </div>
                    <div class="col-xxl-12 col-xl-12 col-md-12 mt-2 resInputModal">
                        <form method="post" class="ng-pristine ng-valid">
                            <div class="form-group file-area">
                                <input type="file" name="file" required="required" multiple="multiple"
                                       id="uploadExcel"
                                       ng-click="FILEUPLOADCLICK()"
                                       ng-files="Refreshdata();getTheFilesToUploadDepositeMgmt($files, 'DepositUpload', 10, DEPOSITE_MGT_SEARCH, 47, 1)">
                                <div class="file-dummy h-100">
                                    <i class="fa-light fa-file-plus fa-xl"></i>
                                    <p class="mb-1 mt-3"><span class="txt-primary">Choose a file</span> <span>or drag and drop here</span></p>
                                    <p class="mb-1">*.xls file limit 10MB</p>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-xxl-12 col-xl-12 col-md-12 resInputModal">
                        <div class="file_container" ng-repeat="upls in DEPOSITE_MGT_SEARCH.UploadedFiles">
                            <i class="fa-light fa-file-lines text-grey fa-lg"></i>
                            <span>
                                <span class="file_name">
                                    {{upls.ORIGINAL_FILE_NAME}}
                                </span>
                                <!--<span class="file_size">
                                    25.1 MB
                                </span>-->
                            </span>
                            <a class="ms-auto" ng-click="DELETE_UPLOAD_CARD_ALL(DEPOSITE_MGT_SEARCH,upls,$index)">
                                <i class="fa-light fa-trash-can txt-danger"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-xxl-12 col-xl-12 col-md-12 ">
                        <h6 class="headings">Preview</h6> <span ng-show="INVALID_EXCLE_CELL_COUNT>0"><i class="fa fa-exclamation-triangle txt-danger"></i> - Please provide the mandatory details to (marked in red).</span>
                    </div>
                    <div class="table-responsive scrollbar-wrapper resCashupTable">
                        <table>
                            <thead>
                                <tr>
                                    <th ng-repeat="(key, value) in PREVIEW_DEPOSITS_ENTRY[0]">{{key}}</th>
                                </tr>
                            </thead>
                            <tbody ng-repeat="ex in PREVIEW_DEPOSITS_ENTRY" on-finish-render="ngRepeatFinishedRender">
                                <tr>
                                    <td ng-repeat="(key, value) in ex" ng-class="{'border-red':obj.IS_DATA_VALID}" ng-init="obj= ngintvalidationvalue(key,value)">
                                        <span ng-show="false">
                                            {{value}}
                                        </span>
                                        <span ng-class="{'border-red':obj.IS_VALID}">
                                            <span ng-show="obj.IS_VALID"><i class="fa fa-exclamation-triangle text-danger"></i></span>
                                            {{obj.DISPLAY_TEXT}}
                                        </span>
                                        <span ng-show="obj.IS_DATA_VALID">
                                            <i class="fa fa-exclamation-triangle text-danger"></i>
                                            {{obj.CODE}}
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>

                </div>

            </div>
            <div class="modal-footer">
                <button class="btn btn-light" data-bs-dismiss="modal" aria-label="Close" ng-click="RESET_BULK()">Cancel</button>
                <button click-once class="btn btn-primary" data-bs-dismiss="modal" ng-disabled="INVALID_EXCLE_CELL_FLAG" ng-click="UPLOAD_DEPOSITS()">Save</button>
            </div>
        </div>
    </div>
</div>
<!--Upload Bulk Modal Ends-->
<!--Redeem Modal Starts-->
<!--<div class="modal fade" id="redeem" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content custom-modal">
            <div class="modal-header">
                <h5 class="modal-title">Redeem</h5>
                <button class="btn-close py-0" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row g-2">
                    <div class="col-xxl col-xl col-md">
                        <label>Invoice</label>
                        <input type="text" placeholder="54" disabled />
                    </div>

                    <div class="col-xxl col-xl col-md">
                        <label class="text-nowrap">Deposit Reference <span class="text-danger">*</span></label>
                        <input type="text" placeholder="Event" disabled />
                    </div>

                    <div class="col-xxl col-xl col-md">
                        <label class="text-nowrap">Name of Payee</label>
                        <input type="text" placeholder="Event" disabled />
                    </div>

                    <div class="col-xxl col-xl col-md text-end">
                        <label class="text-nowrap">Amount <span class="text-danger">*</span></label>
                        <input type="text" placeholder="£ 50" class="text-end" disabled />
                    </div>

                    <div class="col-xxl col-xl col-md text-end">
                        <label class="text-nowrap">Redeemed Amount <span class="text-danger">*</span></label>
                        <input type="text" class="text-end" placeholder="£ 45" />
                    </div>

                    <div class="col-xxl col-xl col-md text-end">
                        <label class="text-end">Balance </label>
                        <input type="text" placeholder="£ 5" class="text-end" />
                    </div>

                    <div class="col-xxl col-xl col-md">
                        <label class="text-nowrap">Redeemed By <span class="text-danger">*</span></label>
                        <input type="text" placeholder="Type here" />
                    </div>
                    <div class="col-xxl col-xl col-md">
                        <label>Note</label>
                        <input type="text" placeholder="Add note" />
                    </div>


                </div>

            </div>
            <div class="modal-footer">
                <button class="btn btn-light" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
                <button class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>-->
<!--Redeem Bulk Modal Ends-->
<div class="modal fade" id="confirm_redeem" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenter1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header border-0">
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close" data-bs-original-title="" title=""></button>
            </div>
            <div class="modal-body">
                <div class="modal-toggle-wrapper">
                    <ul class="modal-img">
                        <li><img src="E_Content/images/HR/exclaimation_circle.svg" class="pb-2" alt="error"></li>
                    </ul>
                    <h6 class="text-center  pb-2 f-w-600">Action cannot be performed!</h6>
                    <p class="text-center txt-dark-gray mb-0">
                        Selected records with cancelled and fully redeemed
                        status cannot be redeeemed.
                    </p>
                    <p class="text-center txt-dark-gray mb-0">Do you want to continue with others?</p>
                </div>
            </div>
            <div class="modal-footer border-0">
                <div class="row w-100">
                    <div class="col-xxl-6 col-md-6 col-md-6">
                        <button class="btn btn-light w-100" type="button" data-bs-dismiss="modal">No</button>
                    </div>
                    <div class="col-xxl-6 col-md-6 col-md-6">
                        <button class="btn btn-primary w-100" type="button" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#redeem">Yes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- REDEEM CONFIRMATION MODAL ENDS -->
<!-- CANCEL MODAL STARTS -->
<div class="modal fade" id="cancel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header border-0">
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close" data-bs-original-title="" title="" ng-click="warning_flag = false"></button>
            </div>
            <div class="modal-body">
                <div class="modal-toggle-wrapper">
                    <ul class="modal-img">
                        <li><img src="E_Content/images/HR/exclaimation_circle.svg" class="pb-2" alt="error"></li>
                    </ul>
                    <h6 class="text-center  pb-2 f-w-600">Action cannot be performed!</h6>
                    <p class="text-center txt-dark-gray mb-0">
                        Selected records with  “Partial Redeemed” status cannot be cancelled
                    </p>
                    <p class="text-center txt-dark-gray mb-0">Do you want to continue with others?</p>
                </div>
            </div>
            <div class="modal-footer border-0">
                <div class="row w-100">
                    <div class="col-xxl-6 col-md-6 col-md-6">
                        <button class="btn btn-light w-100" type="button" data-bs-dismiss="modal" ng-click="warning_flag = false">No</button>
                    </div>
                    <div class="col-xxl-6 col-md-6 col-md-6">
                        <button class="btn btn-primary w-100" type="button" data-bs-dismiss="modal" ng-click="INS_ENTRY_DEPOSIT_DECLARATION(2)">Yes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- CANCEL MODAL ENDS -->
<!-- Redeem MODAL OF THE POP UP-->
<div class="modal fade " tabindex="-1" id="redeem">
    <div class="modal-dialog modal-dialog-centered  modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title h5-size">Redeem</h4>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close" ng-click="warning_flag = false"></button>
            </div>
            <div class="modal-body">
                <div class="table-responsive scrollbar-wrapper">
                    <form name="DepositeRedeemForm" autocomplete="off" novalidate>
                        <table>
                            <thead>
                                <tr>
                                    <!-- Headings -->
                                    <th class="text-center text-nowrap">Invoice </th>
                                    <th class="text-center text-nowrap">Deposit Reference </th>
                                    <th class="text-center text-nowrap">Name of Payee </th>
                                    <th class="text-end text-nowrap">Amount</th>
                                    <th class="text-end text-nowrap">Redeemed Amount <span class="text-danger">*</span></th>
                                    <th class="text-end text-nowrap">Remaining Amount </th>
                                    <!--<th class="text-center text-nowrap">Redemption Date</th>-->
                                    <th class="text-center text-nowrap min-w-160">Validity Date</th>
                                    <!--<th class="text-center text-nowrap">Redeemed by</th>-->
                                    <th class=" notes">Note</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- Row 1 -->
                                <tr ng-repeat="ROW in DEPOSITE_ENTRY_LIST">
                                    <td>
                                        <input type="text" placeholder="HH3754AH1" class="mb-0" disabled ng-model="ROW.DEPOSITE_INVOICE_NUMBER" />
                                    </td>

                                    <td class="text-center text-nowrap min-w-140">
                                        <input type="text" placeholder="EIIQ545BNA" class="mb-0" disabled ng-model="ROW.DEPOSIT_REFERENCE" />
                                    </td>

                                    <td class="text-center text-nowrap min-w-140">
                                        <input type="text" placeholder="EIIQ545BNA" class="mb-0" disabled ng-model="ROW.NAME_OF_PAYEE" />
                                    </td>
                                    <td class="text-nowrap min-w-140">
                                        <input type="text" placeholder="1000" class="mb-0 text-end" disabled ng-model="ROW.TOTAL_AMT" />
                                    </td>

                                    <td class="text-nowrap min-w-140">
                                        <input type="text"
                                               placeholder="825"
                                               class="mb-0 text-end"
                                               ng-model="ROW.AMOUNT"
                                               name="AMOUNT_{{$index}}"
                                               ng-change="VALIDATE_AMOUNT(ROW)"
                                               required
                                               ng-class="{'error':DepositeRedeemForm.submitted && DepositeRedeemForm.AMOUNT_{{$index}}.$error.required}" />
                                    </td>

                                    <td class="text-nowrap min-w-140">
                                        <input type="text" placeholder="1000" class="mb-0 text-end" disabled ng-model="ROW.REMAINING_AMOUNT" />
                                    </td>
                                    <td class="text-nowrap min-w-140">
                                        <div class="date-column" ng-init="dateinputddmmyy()">
                                            <input type="text"
                                                   class="dateinputddmmyy mb-0 min-w-120"
                                                   placeholder="DD/MM/YY"
                                                   name="VALIDITY_DATE_{{$index}}"
                                                   ng-model="ROW.VALIDITY_DATE"
                                                   required
                                                   disabled
                                                   ng-class="{'error':DepositeRedeemForm.submitted && DepositeRedeemForm.VALIDITY_DATE_{{$index}}.$error.required}" />
                                            <i class="date-icon fa-light fa-calendar" aria-hidden="true"></i>
                                        </div>
                                    </td>
                                    <td class="text-center min-w-80">
                                        <input type="text" placeholder="Type here" class="mb-0" ng-model="ROW.NOTE"/>
                                    </td>
                                </tr>
                        </table>
                    </form>
                    
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-light" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
                <button class="btn btn-primary" ng-click="INS_ENTRY_DEPOSIT_DECLARATION(3)">Save</button>
            </div>
        </div>
    </div>
</div>
<!--Redeem MODAL ENDS FOR MULTIPLE ENTRIES-->

<div class="modal fade" id="review_bulk" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content custom-modal">
            <div class="modal-header">
                <h5 class="modal-title">Upload Bulk (04-June-2024)</h5>
                <button class="btn-close py-0" type="button" data-bs-dismiss="modal" aria-label="Close" ng-click="CLOSE_REPORT_VIEW()"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xxl-12 col-xl-12 col-md-12">
                        <a href="{{UPLOAD_REPORT_PATH}}" class="btn download-template">
                            <i class="fa-solid fa-arrow-down-to-bracket txt-primary me-1"></i>
                            Download Report
                        </a>
                    </div>
                    <div class="col-xxl-12 col-xl-12 col-md-12 ">
                        <h6 class="headings">Review</h6>
                    </div>
                    <div class="table-responsive scrollbar-wrapper resCashupTable">
                        <table>
                            <thead>
                                <tr>
                                    <th class="text-center">Invoice</th>
                                    <th class="text-center text-nowrap">Deposit Reference</th>
                                    <th class=" text-nowrap text-end">Deposit Amount</th>
                                    <th class="text-center text-nowrap">Deposit Date</th>
                                    <th class="text-center text-nowrap">Payment Method</th>
                                    <th class="text-center text-nowrap">Name of Payee</th>
                                    <th class="notes">Note</th>
                                    <th class="text-center">Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="ROW in DEPOSIT_UPLOAD_REPORT">
                                    <td class="text-center">{{ROW.INVOICE}}</td>
                                    <td class="text-center">{{ROW.DEPOSIT_REFERENCE}}</td>
                                    <td class=" text-nowrap text-end">{{ROW.AMOUNT}}</td>
                                    <td class="text-center text-nowrap">{{ROW.DEPOSITE_DATE | date:DISPLAY_DATE_FORMAT}}</td>
                                    <td class="text-center">{{ROW.PAYMENT_METHOD}}</td>
                                    <td class="text-center">{{ROW.NAME_OF_PAYEE}}</td>
                                    <td>{{ROW.NOTE}}</td>
                                    <td class="text-center">{{ROW.COMMENTS || 'Success'}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button class="btn btn-light" data-bs-dismiss="modal" aria-label="Close" ng-click="CLOSE_REPORT_VIEW()">Close</button>
                <!--<button class="btn btn-primary" data-bs-dismiss="modal" ng-disabled="INVALID_EXCLE_CELL_FLAG" ng-click="UPLOAD_DEPOSITS()">Save</button>-->
            </div>
        </div>
    </div>
</div>

<div class="overlay_loadingNew" style="display:none" id="loader"><div class="loader-index"> <span></span></div></div>