<div class="card" id="PRINT_REPORT" ng-show="CASHUP_PRIVILEGE==true">
    <div id="report_header" class="d-none">
        <div class="logo-wrapper" ng-if="HIDE_HEADER_DETAIL">
            <img ng-show="LOGO_PATH=='' || LOGO_PATH=='null'" src="~/E_Content/images/logo.png" class="brand-image" style="max-width:200px;max-height:45px;" />
            <img ng-show="LOGO_PATH!='' && LOGO_PATH!='null'" src="..{{LOGO_PATH}}" class="border-right pe-3" style="max-width:200px;max-height:45px;" />
        </div>
        <div>
            {{ENTITY_NAME}}
        </div>
    </div>
    
    <div class="card-header voucherManagementHeader">
        <h6 id="cashup-report-header">Voucher Management</h6>
    </div>
    
    <div class="card-body">

        <div class="row g-1 resCashupHeader">
            <div class="col-xxl-1 col-xl-1 col-md-1 min-w-140">
                <input type="text" name="search" placeholder="Search" ng-model="VOUCHER_MGT_SEARCH.SEARCH_TEXT" ng-change="GET_VOUCHER_MANAGEMENT()" />
            </div>
            <!--<div class="col-xxl-auto col-xl-auto col-md-auto min-w-80">
            <ul class="nav nav-pills mb-1">
                <li class="dropdown w-100">
                    <a class="text-limitations cursor-pointer"
                       data-toggle="dropdown">
                        <span class="select-label" id="select_label">
                            {{VOUCHER_MGT_SEARCH.SELECTED_SITE.BRANCH_NAME||'Site'}}
                        </span>
                    </a>
                    <ul ID="divNewNotifications" class="dropdown-menu scrollbar-wrapper w-auto" style="min-width:100%">
                        <li class="ng-scope" ng-repeat="_site in FILTERED_SITES_LIST" ng-click="SELECT_SITE(_site)">
                            <div class="form-check">
                                <label class="form-check-label text_truncate text-nowrap ng-binding" for="Site-{{$index}}">{{_site.BRANCH_NAME}} </label>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>-->

            <div class="col-xxl-1 col-xl-1 col-md-1">
                <ul class="nav nav-pills">
                    <li class="dropdown w-100">
                        <a data-toggle="dropdown">
                            <span class="select-label" id="select_label">
                                <span class="truncate">{{VOUCHER_MGT_SEARCH.SELECTED_SITE.BRANCH_NAME||'Site'}}</span>
                            </span>
                        </a>
                        <ul class="dropdown-menu scrollbar-wrapper w-auto" style="min-width:100%">
                            <li class="ng-scope" ng-repeat="_site in FILTERED_SITES_LIST" ng-click="SELECT_SITE(_site)">
                                <span class="truncate">{{_site.BRANCH_NAME}}</span>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!--<div class="col-xxl-auto col-md-auto col-xl-auto ">
            <ul class="nav nav-pills min-w-140 ">
                <li class="dropdown w-100">
                    <a class="text-limitations cursor-pointer"
                       data-toggle="dropdown">
                        <span class="select-label" id="select_label">
                            {{VOUCHER_MGT_SEARCH.VOUCHER_TYPE || 'Voucher Type'}}
                        </span>
                    </a>
                    <ul ID="divNewNotifications" class="dropdown-menu scrollbar-wrapper w-auto" style="min-width:100%">
                        <li ng-click="SELECT_VOUCHER_TYPE('Pre-defined')">
                            Pre-defined
                        </li>
                        <li ng-click="SELECT_VOUCHER_TYPE('Open Voucher')">
                            Open Voucher
                        </li>
                    </ul>
                </li>
            </ul>
        </div>-->
            <div class="col-xxl-auto col-xl-auto col-md-auto">
                <ul class="nav nav-pills min-w-160">
                    <li class="dropdown w-100">
                        <a class="text-limitations cursor-pointer"
                           data-toggle="dropdown">
                            <span class="select-label" id="select_label">
                                <span class="truncate">{{VOUCHER_MGT_SEARCH.MODE_OF_PAYMENT.METHOD_NAME || 'Payment Method'}}</span>
                            </span>
                        </a>
                        <ul ID="divNewNotifications"
                            class="dropdown-menu scrollbar-wrapper"
                            style="min-width:100%">
                            <li ng-click="SELECT_MODE_OF_PAYMENT('Choose')">
                                Choose
                            </li>
                            <li ng-repeat="_mode_of_payment in MODE_OF_PAYMENT_LIST" ng-click="SELECT_MODE_OF_PAYMENT(_mode_of_payment)">
                                {{_mode_of_payment.METHOD_NAME}}
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="col-xxl-2 col-xl-2 col-md-2 min-w-140">
                <div id="reportrange" class="form-control-box">
                    <span></span>
                    <i class="fa-regular fa-calendar float-end mt-1"></i>
                </div>
            </div>
            <div class="col-xxl-auto col-xl-auto col-md-auto">
                <button ng-click="RESET_VOUCHER_SEARCH()" type="button" class="btn btn-outline w-100"><i class="fa-light fa-undo"></i></button>
            </div>
            <div class="col-xxl-auto col-md-auto col-xl-auto ms-auto" ng-show="VOUCHER_MGT_SEARCH.DATA_ENTRY_ENABLED==true">
                <button class="btn btn-primary" type="button" ng-click="REDEEM_CANCEL(1)">
                    Redeem
                </button>
            </div>
            <div class="col-xxl-auto col-md-auto col-xl-auto">
                <button click-once class="btn btn-light" type="button" ng-click="REDEEM_CANCEL(2)" ng-show="VOUCHER_MGT_SEARCH.DATA_ENTRY_ENABLED==true">
                    Cancel
                </button>
            </div>
            <div class="col-xxl-auto col-md-auto col-xl-auto" ng-show="VOUCHER_MGT_SEARCH.DATA_ENTRY_ENABLED==true">
                <button class="btn btn-light w-100" type="button" data-bs-toggle="dropdown" aria-expanded="false">Issue New <i class="fa-light fa-chevron-down"></i></button>
                <ul class="dropdown-menu dropdown-block dropdown-menu-end">
                    <li><a class="dropdown-item d-block" data-bs-toggle="modal" data-bs-target="#issue_single">Issue Single</a></li>
                    <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#Bulk">Issue Bulk</a></li>
                </ul>
            </div>
            <div class="col-xxl-auto col-xl-auto col-md-auto">
                <button class="btn btn-light w-100" type="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa-light fa-arrow-down-to-bracket me-2"></i>Export</button>
                <ul class="dropdown-menu dropdown-block dropdown-menu-end">
                    <li><a class="dropdown-item d-block" ng-click="EXPORT_VOUCHER_LIST(2)">XLS</a></li>
                    <li><a class="dropdown-item" ng-click="EXPORT_VOUCHER_LIST(1)">CSV</a></li>
                    <li><!--<a class="dropdown-item" ng-click="EXPORT_PAGE_TO_PDF()">PDF</a>--></li>
                </ul>
            </div>
        </div>
        <div class="col-xxl-12 col-xl-12 col-md-12" id="cashup-report-hide" ng-show="VOUCHER_LIST.length == 0">
            <div class="no-record text-center">
                <span class="d-block text-center">{{LOAD_FETCH_TEXT}}</span>
            </div>
        </div>
        <div class=" col-xxl-12 col-md-12 col-xl-12" ng-show="VOUCHER_LIST.length > 0">
            <div class="table-responsive scrollbar-wrapper vouManTable resCashupTable">
                <table>
                    <thead>
                        <tr>
                            <th>
                                <div class="d-flex">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" ng-model="CHECKED_ALL" ng-click="CHECK_ALL_VOUCHERS()" id="Select_All{{$index}}">
                                        <label class="form-check-label ms-1" for="Select_All{{$index}}">Invoice</label>
                                    </div>
                                </div>
                            </th>
                            <th>Voucher Type</th>
                            <th>
                                <div class="d-flex justify-content-between text-nowrap">
                                    <div>Voucher</div>
                                    <i class="fa-light icon-color mt-1"></i>
                                </div>
                            </th>
                            <th class="text-end">
                                Voucher Amount
                            </th>
                            <th class="text-end">
                                Redeemed Amount
                            </th>
                            <th class="text-end">
                                Remaining Amount
                            </th>
                            <th>
                                <div class="d-flex justify-content-between text-nowrap">
                                    Voucher Date
                                </div>
                            </th>
                            <th>
                                <div class="d-flex justify-content-between text-nowrap">
                                    Payment Method
                                </div>
                            </th>
                            <th>
                                <div class="d-flex justify-content-between text-nowrap">
                                    Sold To
                                </div>
                            </th>
                            <th>Note</th>
                            <th class="text-center">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="ROW in VOUCHER_LIST" ng-init="nginit_vouchers_list(ROW)">
                            <td class="justify-content-center">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" name="" ng-model="ROW.CHECKED" id="Invoice{{$index}}" />
                                    <label class="form-check-label" for="Invoice{{$index}}">{{ROW.INVOICE}}</label>
                                </div>
                            </td>
                            <td>{{ROW.VOUCHER_TYPE}}</td>
                            <td>{{ROW.VOUCHER}}</td>
                            <td class="text-end text-nowrap">{{CURRENCY_SYMBOL}} {{ROW.VOUCHER_AMOUNT}}</td>
                            <td class="text-end text-nowrap">{{CURRENCY_SYMBOL}} {{ROW.REDEEMED_AMOUNT}}</td>
                            <td class="text-end text-nowrap">{{CURRENCY_SYMBOL}} {{ROW.REMAINING_AMOUNT}}</td>
                            <td class="text-nowrap">{{ROW.VALIDITY_DATE | date:DISPLAY_DATE_FORMAT}}</td>
                            <td class="text-nowrap">{{ROW.PAYMENT_METHOD}}</td>
                            <td class="text-nowrap">{{ROW.SOLD_TO}}</td>
                            <td>{{ROW.NOTE}}</td>
                            <td class="text-center">
                                <span class="badge-lg badge-light-primary" ng-class="{
                                    'badge-lg badge-light-warning': ROW.STATUS === 1,
                                    'badge-lg badge-light-primary': ROW.STATUS === 2,
                                    'badge-lg badge-light-success': ROW.STATUS === 3,
                                    'badge-lg badge-light-danger': ROW.STATUS === 4}">
                                    {{VOUCHER_STATUS(ROW.STATUS)}}
                                </span>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot ng-show="GetData">
                        <tr>
                            <td colspan="11" click-once class="text-center"><button type="button" class="btn btn-sm btn_fixed btn-light" ng-click="GET_VOUCHER_MANAGEMENT(1)">{{PAGINATION_TEXT}}</button></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="col-xxl-12 col-xl-12 col-md-12" ng-show="CASHUP_PRIVILEGE==false">
    <div class="no-record text-center">
        <span class="d-block text-center">You do not have access to Voucher Management. Please contact Admin for access.</span>
    </div>
</div>
<!-- Issue New Add Voucher Modal-->
<div class="modal fade" tabindex="-1" id="issue_single" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered  modal-xl">
        <div class="modal-content ">
            <div class="modal-header">
                <h4 class="modal-title">Add Voucher</h4>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close" ng-click="RESET_VOUCHER_ISSUE_SINGLE()"></button>
            </div>
            <form name="IssueSingleVoucherForm" autocomplete="off" novalidate>
                <div class="modal-body resCashupHeader">
                    <!--<div class="row">
                        <div class="col-xxl-2 col-xl-2 col-md-2 min-w-80">
                            <div class="dropdown">
                                <input type="hidden"
                                       ng-model="VOUCHER_ISSUE_SINGLE.SELECTED_SITE.BRANCH_NAME"
                                       name="SELECTED_SITE"
                                       required
                                       ng-class="{'error':IssueSingleVoucherForm.submitted && IssueSingleVoucherForm.SELECTED_SITE.$error.required}" />
                                <div class="dropdown w-100" aria-labelledby="selectSiteDDL">
                                    <button class="select-label"
                                            type="button"
                                            id="selectSiteDDL"
                                            ng-class="{'error':IssueSingleVoucherForm.submitted && IssueSingleVoucherForm.SELECTED_SITE.$error.required}"
                                            data-toggle="dropdown"
                                            aria-expanded="false">
                                        <span class="truncate">{{VOUCHER_ISSUE_SINGLE.SELECTED_SITE.BRANCH_NAME||'Site'}}</span>
                                    </button>
                                    <ul id="divNewNotifications" class="dropdown-menu scrollbar-wrapper w-auto" style="min-width:100%">
                                        <li ng-repeat="_site in FILTERED_SITES_LIST" ng-click="SELECT_SITE_VOUCHER_ISSUE_SINGLE(_site)">
                                            <div class="form-check">
                                                <label class="form-check-label text_truncate text-nowrap ng-binding" for="Site">{{_site.BRANCH_NAME}} </label>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>-->
                    <div class="row ">
                        <div class="col-xxl-12 col-md-12 col-xl-12">
                            <div class="table-responsive scrollbar-wrapper resCashupTable">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th class="text-center  text-nowrap">Invoice Number <span class="text-danger">*</span></th>
                                                <th class="text-center text-nowrap">Voucher Type <span class="text-danger">*</span></th>
                                                <th class="text-center text-nowrap">Voucher Number <span class="text-danger">*</span></th>
                                                <th class="text-end text-nowrap">Amount <span class="text-danger">*</span></th>
                                                <th class="text-center text-nowrap">Payment Method <span class="text-danger">*</span></th>
                                                <th class="text-center text-nowrap min-w-160">Validity Date <span class="text-danger">*</span></th>
                                                <th class="text-center text-nowrap">Sold To</th>
                                                <th class="notes">Note</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="text-center text-nowrap">
                                                    <input type="text"
                                                           placeholder="Add Here"
                                                           class="mb-0 min-w-80"
                                                           ng-model="VOUCHER_ISSUE_SINGLE.INVOICE_NO"
                                                           name="INVOICE_NO"
                                                           required
                                                           ng-class="{'error':IssueSingleVoucherForm.submitted && IssueSingleVoucherForm.INVOICE_NO.$error.required}" />
                                                </td>
                                                <td>
                                                    <div class="dropdown">
                                                        <input type="hidden"
                                                               ng-model="VOUCHER_ISSUE_SINGLE.VOUCHER_TYPE"
                                                               name="VOUCHER_TYPE"
                                                               required
                                                               ng-class="{'error':IssueSingleVoucherForm.submitted && IssueSingleVoucherForm.VOUCHER_TYPE.$error.required}" />
                                                        <div class="dropdown w-100" aria-labelledby="VoucherTypeDDL">
                                                            <button class="select-label"
                                                                    type="button"
                                                                    id="VoucherTypeDDL"
                                                                    ng-class="{'error':IssueSingleVoucherForm.submitted && IssueSingleVoucherForm.VOUCHER_TYPE.$error.required}"
                                                                    data-toggle="dropdown"
                                                                    aria-expanded="false">
                                                                <span class="truncate">{{VOUCHER_ISSUE_SINGLE.VOUCHER_TYPE||'Select'}}</span>
                                                            </button>
                                                            <ul id="divNewNotifications" class="dropdown-menu scrollbar-wrapper w-auto" style="min-width:100%">
                                                                <li ng-click="SELECT_VOUCHER_TYPE_ISSUE_SINGLE('Pre-defined')">
                                                                    Pre-defined
                                                                </li>
                                                                <li ng-click="SELECT_VOUCHER_TYPE_ISSUE_SINGLE('Open Voucher')">
                                                                    Open Voucher
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="text-center text-nowrap">
                                                    <input type="text"
                                                           placeholder="Add Here"
                                                           class="mb-0 min-w-80"
                                                           ng-model="VOUCHER_ISSUE_SINGLE.VOUCHER_NUMBER"
                                                           name="VOUCHER_NUMBER"
                                                           required
                                                           ng-blur="UPLOAD_VOUCHER_CHECK()"
                                                           ng-class="{'error':IssueSingleVoucherForm.submitted && IssueSingleVoucherForm.VOUCHER_NUMBER.$error.required}" />
                                                </td>
                                                <td class="text-center text-nowrap">
                                                    <input type="text" placeholder="Add Here"
                                                           class="mb-0 min-w-80 text-end"
                                                           only-digits ng-model="VOUCHER_ISSUE_SINGLE.AMOUNT"
                                                           name="AMOUNT"
                                                           required
                                                           ng-class="{'error':IssueSingleVoucherForm.submitted && IssueSingleVoucherForm.AMOUNT.$error.required}" />
                                                </td>
                                                <td class=" text-nowrap">
                                                    <div class="dropdown">
                                                        <input type="hidden"
                                                               ng-model="VOUCHER_ISSUE_SINGLE.PAYMENT_METHOD.METHOD_NAME"
                                                               name="PAYMENT_MODE"
                                                               required
                                                               ng-class="{'error':IssueSingleVoucherForm.submitted && IssueSingleVoucherForm.PAYMENT_MODE.$error.required}" />
                                                        <div class="dropdown w-100" aria-labelledby="modeOfPaymentDDL">
                                                            <button class="select-label"
                                                                    type="button"
                                                                    id="modeOfPaymentDDL"
                                                                    ng-class="{'error':IssueSingleVoucherForm.submitted && IssueSingleVoucherForm.PAYMENT_MODE.$error.required}"
                                                                    data-toggle="dropdown"
                                                                    aria-expanded="false">
                                                                <span class="truncate">{{VOUCHER_ISSUE_SINGLE.PAYMENT_METHOD.METHOD_NAME || 'Add'}}</span>
                                                            </button>
                                                            <ul id="divNewNotifications" class="dropdown-menu scrollbar-wrapper w-auto" style="min-width:100%">
                                                                <li ng-repeat="_mode_of_payment in MODE_OF_PAYMENT_LIST" ng-click="SELECT_MODE_OF_PAYMENT_ISSUE_SINGLE(_mode_of_payment)">
                                                                    {{_mode_of_payment.METHOD_NAME}}
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="date-column" ng-init="dateinputddmmyy()">
                                                        <input type="text"
                                                               class="dateinputddmmyy mb-0 min-w-120"
                                                               placeholder="DD/MM/YY"
                                                               name="VALIDITY_DATE"
                                                               ng-model="VOUCHER_ISSUE_SINGLE.VALIDITY_DATE"
                                                               required
                                                               ng-class="{'error':IssueSingleVoucherForm.submitted && IssueSingleVoucherForm.VALIDITY_DATE.$error.required}" />
                                                        <i class="date-icon fa-light fa-calendar" aria-hidden="true"></i>
                                                    </div>
                                                </td>
                                                <td class="text-center text-nowrap">
                                                    <input type="text" placeholder="Add Here" name="SOLD_TO" class="min-w-80" ng-model="VOUCHER_ISSUE_SINGLE.SOLD_TO">
                                                </td>
                                                <td class="text-center text-nowrap">
                                                    <input type="text" placeholder="Add Notes" name="NOTES" ng-model="VOUCHER_ISSUE_SINGLE.NOTE">
                                                </td>
                                            </tr>

                                    </table>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer add-voucher-footer">
                    <button class="btn btn-light" ng-click="INS_ENTRY_VOUCHER_DECLARATION(1)">Save and Continue</button>
                    <button click-once class="btn btn-primary" ng-click="INS_ENTRY_VOUCHER_DECLARATION(1,1)" aria-label="Close">Save and Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!--Issue New Add Voucher Modal-->
<!--Issue New Upload Bulk Modal-->
<div class="modal fade" tabindex="-1" id="Bulk">
    <div class="modal-dialog modal-dialog-centered  modal-xl">
        <div class="modal-content">
            <div class="modal-header resCashupHeader">
                <h4 class="modal-title">Upload Bulk</h4>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close" ng-click="RESET_BULK()"></button>
            </div>
            <div class="modal-body">
                <div class="row mb-2">
                    <div class="col-xxl-12 col-xl-12 col-md-12">
                        <a href="{{DOWNLOAD_FILE_PATH}}" class="btn download-template">
                            <i class="fa-solid fa-arrow-down-to-bracket txt-primary me-1"></i>
                            Download template
                        </a>
                    </div>
                </div>
                
                <div class="row mb-2">
                    <div class="col-xxl-12 col-ed-12 col-xl-12 resInputModal">
                        <form method="post">
                            <div class="form-group file-area w-100">
                                <input type="file" name="file" required="required" multiple="multiple"
                                       id="uploadExcel"
                                       ng-click="FILEUPLOADCLICK()"
                                       ng-files="Refreshdata();getTheFilesToUploadVoucherMgmt($files, 'VoucherUpload', 10, VOUCHER_MGT_SEARCH, 47, 1)">
                                <div class="file-dummy h-100">
                                    <i class="fa-light fa-file-plus fa-2xl"></i>
                                    <p class="mb-1 mt-2"><span class="txt-primary">Choose a file </span> or drag and drop here</p>
                                    <p class="mb-0">*.xls file limit 10MB</p>
                                </div>
                            </div>
                        </form>
                    </div>
                    
                    <div class="col-xxl-12 col-ed-12 col-xl-12 resInputModal">
                        <div class="file_container" ng-repeat="upls in VOUCHER_MGT_SEARCH.UploadedFiles">
                            <i class="fa-light fa-file-lines text-grey fa-lg"></i>
                            <span>
                                <span class="file_name">
                                    {{upls.ORIGINAL_FILE_NAME}}
                                </span>
                            </span>
                            <a class="ms-auto" ng-click="DELETE_UPLOAD_CARD_ALL(VOUCHER_MGT_SEARCH,upls,$index)">
                                <i class="fa-light fa-trash-can txt-danger"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-xxl-12 col-md-12 col-xl-12">
                        <h5 class="headings">Preview </h5><span ng-show="INVALID_EXCLE_CELL_COUNT>0"><i class="fa fa-exclamation-triangle txt-danger"></i> - Please provide the mandatory details to (marked in red).</span>
                    </div>
                    <div class="table-responsive scrollbar-wrapper resCashupTable">
                        <table>
                            <thead>
                                <tr>
                                    <th ng-repeat="(key, value) in PREVIEW_VOUCHERS_ENTRY[0]">{{key}}</th>
                                </tr>
                            </thead>
                            <tbody ng-repeat="ex in PREVIEW_VOUCHERS_ENTRY" on-finish-render="ngRepeatFinishedRender">
                                <tr>

                                    <td ng-repeat="(key, value) in ex" ng-class="{'border-red':obj.IS_DATA_VALID}" ng-init="obj= ngintvalidationvalue(key,value)">
                                        <span ng-show="false">
                                            {{value}}
                                        </span>
                                        <span ng-class="{'border-red':obj.IS_VALID}">
                                            <span ng-show="obj.IS_VALID"><i class="fa fa-exclamation-triangle text-danger"></i></span>
                                            {{obj.DISPLAY_TEXT}}
                                        </span>
                                        <span ng-show="obj.IS_DATA_VALID">
                                            <i class="fa fa-exclamation-triangle text-danger"></i>
                                            {{obj.CODE}}
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-light" data-bs-dismiss="modal" aria-label="Close" ng-click="RESET_BULK()">Cancel</button>
                <button click-once class="btn btn-primary" data-bs-dismiss="modal" ng-disabled="INVALID_EXCLE_CELL_FLAG" ng-click="UPLOAD_VOUCHERS()">Save</button>
            </div>
        </div>
    </div>
</div>
<!--Issue New Upload Bulk Modal-->
<!--Redeem Confirmation Modal-->
<div class="modal fade" id="confirm_redeem" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenter1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header border-0">
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close" data-bs-original-title="" title=""></button>
            </div>
            <div class="modal-body">
                <div class="modal-toggle-wrapper">
                    <ul class="modal-img">
                        <li><img src="E_Content/images/HR/exclaimation_circle.svg" class="pb-2" alt="error"></li>
                    </ul>
                    <h6 class="text-center pb-2 f-w-600">Some action cannot be performed!</h6>
                    <p class="text-center txt-dark-gray mb-0">
                        Selected records with cancelled and fully redeemed
                        status cannot be redeeemed.
                    </p>
                    <p class="text-center txt-dark-gray mb-0">Do you want to continue with others?</p>
                </div>
            </div>
            <div class="modal-footer border-0">
                <div class="row w-100">
                    <div class="col-xxl-6 col-md-6 col-md-6">
                        <button class="btn btn-light w-100" type="button" data-bs-dismiss="modal">No</button>
                    </div>
                    <div class="col-xxl-6 col-md-6 col-md-6">
                        <button class="btn btn-primary w-100" type="button" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#redeem">Yes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Redeem Confirmation Modal-->
<!-- CANCEL MODAL STARTS -->
<div class="modal fade" id="cancel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header border-0">
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close" data-bs-original-title="" title="" ng-click="warning_flag = false"></button>
            </div>
            <div class="modal-body">
                <div class="modal-toggle-wrapper">
                    <ul class="modal-img">
                        <li><img src="E_Content/images/HR/exclaimation_circle.svg" class="pb-2" alt="error"></li>
                    </ul>
                    <h6 class="text-center  pb-2 f-w-600">Action cannot be performed!</h6>
                    <p class="text-center txt-dark-gray mb-0">
                        Selected records with  “Redeem Fully”,"Redeem Partially" and "Cancelled" status cannot be cancelled
                    </p>
                    <p class="text-center txt-dark-gray mb-0">Do you want to continue with others?</p>
                </div>
            </div>
            <div class="modal-footer border-0">
                <div class="row w-100">
                    <div class="col-xxl-6 col-md-6 col-md-6">
                        <button class="btn btn-light w-100" type="button" data-bs-dismiss="modal" ng-click="warning_flag = false">No</button>
                    </div>
                    <div class="col-xxl-6 col-md-6 col-md-6">
                        <button class="btn btn-primary w-100" click-once type="button" data-bs-dismiss="modal" ng-click="INS_ENTRY_VOUCHER_DECLARATION(2)">Yes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- CANCEL MODAL ENDS -->
<!-- Redeem MODAL OF THE POP UP-->
<div class="modal fade " tabindex="-1" id="redeem">
    <div class="modal-dialog modal-dialog-centered  modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Redeem</h4>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close" ng-click="warning_flag = false"></button>
            </div>
            <div class="modal-body">
                <div class="table-responsive scrollbar-wrapper">
                    <form name="VoucherRedeemForm" novalidate autocomplete="off">
                        <table>
                            <thead>
                                <tr>
                                    <!-- Headings -->

                                    <th class="text-center text-nowrap min-w-140">Invoice </th>
                                    <th class="text-center text-nowrap">Voucher </th>
                                    <th class="text-end text-nowrap">Amount</th>
                                    <th class="text-end text-nowrap">Redeemed Amount <span class="text-danger">*</span></th>
                                    <th class="text-end text-nowrap">Remaining Amount </th>
                                    <!--<th class="text-center text-nowrap">Redemption Date <span class="text-danger">*</span></th>-->
                                    <th class="text-center text-nowrap min-w-160">Validity Date</th>
                                    <th class="text-center text-nowrap">Redeemed by <span class="text-danger">*</span></th>
                                    <th class="notes">Note</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr ng-repeat="ROW in VOUCHER_ENTRY_LIST">
                                    <td>
                                        <input type="text" placeholder="HH3754AH1" class="mb-0" disabled ng-model="ROW.VOUCHER_INVOICE_NUMBER" />
                                    </td>
                                    <td class="text-center text-nowrap min-w-140">
                                        <input type="text" placeholder="EIIQ545BNA" class="mb-0" disabled ng-model="ROW.VOUCHER_NUMBER" />
                                    </td>
                                    <td class="text-nowrap min-w-140">
                                        <input type="text" placeholder="1000" class="mb-0 text-end" disabled ng-model="ROW.TOTAL_AMT" />
                                    </td>
                                    <td class="text-nowrap min-w-140">
                                        <input type="text" 
                                               placeholder="825" 
                                               class="mb-0 text-end"
                                               ng-model="ROW.AMOUNT"
                                               name="AMOUNT_{{$index}}"
                                               ng-change="VALIDATE_AMOUNT(ROW)"
                                               required
                                               ng-class="{'error':VoucherRedeemForm.submitted && VoucherRedeemForm.AMOUNT_{{$index}}.$error.required}"/>
                                    </td>

                                    <td class="text-nowrap min-w-140">
                                        <input type="text" placeholder="1000" class="mb-0 text-end" disabled ng-model="ROW.REMAINING_AMOUNT"/>
                                    </td>
                                    <td class="text-nowrap min-w-140">
                                        <div class="date-column" ng-init="dateinputddmmyy()">
                                            <input type="text"
                                                   class="dateinputddmmyy mb-0 min-w-120"
                                                   placeholder="DD/MM/YY"
                                                   name="VALIDITY_DATE_{{$index}}"
                                                   ng-model="ROW.VALIDITY_DATE"
                                                   required
                                                   disabled
                                                   ng-class="{'error':VoucherRedeemForm.submitted && VoucherRedeemForm.VALIDITY_DATE_{{$index}}.$error.required}" />
                                            <i class="date-icon fa-light fa-calendar" aria-hidden="true"></i>
                                        </div>
                                    </td>
                                    
                                    <td class="text-nowrap min-w-140">
                                        <input type="text" placeholder="Add here" class="mb-0"
                                               ng-model="ROW.REDEEMED_BY"
                                               required
                                               name="REDEEMED_BY_{{$index}}"
                                               ng-class="{'error':VoucherRedeemForm.submitted && VoucherRedeemForm.REDEEMED_BY_{{$index}}.$error.required}"/>
                                    </td>
                                    <td class="text-center min-w-80">
                                        <input type="text" placeholder="Add here" class="mb-0" ng-model="ROW.NOTE" />
                                    </td>
                                </tr>
                        </table>
                    </form>
                    
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-light" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
                <button click-once class="btn btn-primary" ng-click="INS_ENTRY_VOUCHER_DECLARATION(3)">Save</button>
            </div>
        </div>

    </div>
</div>
<!--Redeem MODAL ENDS FOR MULTIPLE ENTRIES-->
<div class="modal fade" id="review_bulk" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content custom-modal">
            <div class="modal-header">
                <h5 class="modal-title">Upload Bulk (04-June-2024)</h5>
                <button class="btn-close py-0" type="button" data-bs-dismiss="modal" aria-label="Close" ng-click="CLOSE_REPORT_VIEW()"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xxl-12 col-xl-12 col-md-12">
                        <a href="{{UPLOAD_REPORT_PATH}}" class="btn download-template">
                            <i class="fa-solid fa-arrow-down-to-bracket txt-primary me-1"></i>
                            Download Report
                        </a>
                    </div>
                    <div class="col-xxl-12 col-xl-12 col-md-12 ">
                        <h6 class="headings">Review</h6>
                    </div>
                    <div class="table-responsive scrollbar-wrapper resCashupTable">
                        <table>
                            <thead>
                                <tr>
                                    <th class="text-center">Invoice</th>
                                    <th class="text-center text-nowrap">Voucher Type</th>
                                    <th class=" text-nowrap text-end">Voucher</th>
                                    <th class="text-center text-nowrap">Amount</th>
                                    <th class="text-center text-nowrap">Date</th>
                                    <th class="text-center text-nowrap">Payment Method</th>
                                    <th class="text-center text-nowrap">Sold To</th>
                                    <th class="notes">Note</th>
                                    <th class="text-center">Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="ROW in VOUCHER_UPLOAD_REPORT">
                                    <td class="text-center">{{ROW.INVOICE}}</td>
                                    <td class="text-center">{{ROW.VOUCHER_TYPE}}</td>
                                    <td class="text-nowrap text-end">{{ROW.VOUCHER}}</td>
                                    <td class="text-nowrap text-end">{{ROW.VOUCHER_AMOUNT}}</td>
                                    <td class="text-center text-nowrap">{{ROW.VOUCHER_DATE | date:DISPLAY_DATE_FORMAT}}</td>
                                    <td class="text-center">{{ROW.PAYMENT_METHOD}}</td>
                                    <td class="text-center">{{ROW.SOLD_TO}}</td>
                                    <td>{{ROW.NOTE}}</td>
                                    <td class="text-center">{{ROW.COMMENTS || 'Success'}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button class="btn btn-light" data-bs-dismiss="modal" aria-label="Close" ng-click="CLOSE_REPORT_VIEW()">Close</button>
                <!--<button class="btn btn-primary" data-bs-dismiss="modal" ng-disabled="INVALID_EXCLE_CELL_FLAG" ng-click="UPLOAD_DEPOSITS()">Save</button>-->
            </div>
        </div>
    </div>
</div>
<div class="overlay_loadingNew" style="display:none" id="loader"><div class="loader-index"> <span></span></div></div>
<script>
    var dropdownMenu;

    $('table').on('show.bs.dropdown', function (e) {
        var $target = $(e.target);
        dropdownMenu = $target.find('.dropdown-menu');

        $('body').append(dropdownMenu.detach());


        var targetOffset = $target.offset();
        dropdownMenu.css({
            'display': 'block',
            'top': targetOffset.top + $target.outerHeight(),
            'left': targetOffset.left,
            'min-width': $target.outerWidth(),
            'max-width': '300px',
            'z-index': '1060',
            'position': 'absolute',

        });
    });

    $('table').on('hide.bs.dropdown', function (e) {
        var $target = $(e.target);
        $target.append(dropdownMenu.detach());
        dropdownMenu.hide();
    });



</script>