<!DOCTYPE html>
<html ng-app="RestaurantEnterprise">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Wenodo | Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript">var AppVersion = @System.Configuration.ConfigurationManager.AppSettings["AppVersion"].ToString();</script>
    @Styles.Render("~/E_Content/css/Main_Login")
    @Scripts.Render("~/E_Content/Scripts/Main_Login")
    @Scripts.Render("~/E_Scripts/Common")
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="icon" href="https://i2.wp.com/wenodo.com/wp-content/uploads/2020/10/logo-main-e1602233242613.png?fit=32%2C32&ssl=1" sizes="32x32" />
    <link rel="icon" href="https://i2.wp.com/wenodo.com/wp-content/uploads/2020/10/logo-main-e1602233242613.png?fit=32%2C32&ssl=1" sizes="192x192" />
    <link href="~/E_Content/CustomCss/hr-custom.css" rel="stylesheet" />
</head>
<body   ng-init="AppVersion=@System.Configuration.ConfigurationManager.AppSettings["AppVersion"].ToString()" ng-cloak bn-document-click="handleClick($event)"
      class="sidebar-mini layout-fixed layout-navbar-fixed sidebar-collapse custom-scrollbar">
    <div class="wrapper">
        <i ng-show="false" class="fas fa-eye-slash" id="togglePassword"></i>
        <nav class="main-header navbar navbar-expand navbar-white navbar-light" style="margin-left:0 !important">
            <a href="http://wenodo.com/">
                <img src="~/E_Content/images/logo.png" class="brand-image" style="height:32px" />
            </a>
            <ul class="navbar-nav"></ul>
        </nav>
        <div class="content-wrapper" style="margin-left:0 !important">
            <section class="content">
               <ng-view></ng-view>
            </section>
        </div>
        <footer class="hr-dashboard-main-footer" style="margin-left:0 !important">
            <div class="row">
                <div class="col-md-6 app-text font-14 d-flex"><span class="mt-2 ml-4 ">Powered by </span><a target="_blank" href="http://wenodo.com/"><img src="~/E_Content/images/logo.png" class="img-fluid footer-logo" /></a></div>
                <div class="col-md-6 text-right">
                    <div class="footer-links mt-1">
                        <a>Cookies</a>
                        <a href="https://wenodo.com/policy/">Privacy Policy</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    
    <div id="return-to-top"><i class="fa fa-arrow-up" aria-hidden="true"></i></div>

    <script src="~/AngularControllers/CommonMethod.js?@System.Configuration.ConfigurationManager.AppSettings["AppVersion"].ToString()"></script>
    <script src="~/AngularControllers/RouteProvider.js?@System.Configuration.ConfigurationManager.AppSettings["AppVersion"].ToString()"></script>
    <script src="~/AngularControllers/Angular_Directive.js?@System.Configuration.ConfigurationManager.AppSettings["AppVersion"].ToString()"></script>
    <script type="text/javascript" src="~/AngularControllers/LoginController.js?@System.Configuration.ConfigurationManager.AppSettings["AppVersion"].ToString()"></script>
    <script src="~/E_Scripts/angular-sanitize.min.js"></script>
    <script src="~/E_Scripts/Calendar/ui-bootstrap-tpls.min.js"></script>
    <script src="~/E_Scripts/Calendar/calendar.js"></script>
    <script src="~/E_Scripts/MomentTimePicker/moment-with-locales.min.js"></script>
    <script src="~/E_Scripts/MomentTimePicker/angular-moment-picker.min.js"></script>
    <link href="~/E_Scripts/MomentTimePicker/angular-moment-picker.min.css" rel="stylesheet" />
    <script src="~/E_Scripts/Select2/select.js"></script>
    <script src="~/E_Scripts/JsontoCSV/ng-csv.js"></script>
    <script src="~/E_Scripts/ExcelPdfJS/jspdf.min.js"></script>
    <script src="~/E_Scripts/ExcelPdfJS/jspdf.plugin.autotable.js"></script>
    <script src="~/E_Scripts/ExcelPdfJS/alasql.min.js"></script>
    <script src="~/E_Scripts/ExcelPdfJS/xlsx.core.min.js"></script>
</body>
</html>
