html {
    background: #fff;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #004B6D;
    font-weight: 500;
}

.green {
    color: #28a745;
}

.clearfix {
    display: block;
    clear: both;
    content: "";
}

::-moz-selection { /* Code for Firefox */
    color: #fff;
    background: #0888c3;
}

::selection {
    color: #fff;
    background: #0888c3;
}

a {
    color: #05a6f0;
}

    a:hover {
        color: #004b6d;
    }

    a:not([href]) {
        /*color: #fff;*/
        text-decoration: none;
    }

        a:not([href]):hover {
            text-decoration: none;
            color: #000;
        }


.footer-logo {
    max-height: 25px;
    padding: 0px 10px;
    /*margin-top: 8px;*/
}

.wenodo-style {
    max-height: 40px;
    padding: 0px 10px;
    margin-top: 5px;
}

.content-wrapper > .content {
    padding: 0.3rem 0.5rem 1rem 0.5rem;
}

.fa-sm {
    font-size: .65em !important;
}

.layout-navbar-fixed .wrapper .content-wrapper {
    margin-top: calc(3.5rem + 1px);
}

.form-control {
    height: calc(1.8125rem + 2px);
    padding: 0.25rem 0.5rem;
    font-size: 12px;
    border-radius:10px;
}


input.disabled {
    color: #6c757d;
    background-color: #e9ecef !important;
    opacity: 1;
}

label:not(.form-check-label):not(.custom-file-label) {
    font-weight: 400;
    font-size: 13px;
    color: #959595;
    margin-bottom: 0.2rem;
}

.main-header .nav-link {
    font-weight: 500;
}

/*****************************tooltip CSS Start*****************************/
.tooltip-inner {
    max-width: 300px;
    background-color: #fff;
    z-index: 99999;
    color: #8b8b8b;
    box-shadow: 0 .2rem .5rem rgba(0,0,0,.075) !important;
}

.bs-tooltip-bottom .arrow::before {
    border-bottom-color: #fff;
}

.bs-tooltip-top .arrow::before {
    border-top-color: #fff;
}

.bs-tooltip-left .arrow::before {
    border-left-color: #fff;
}

.bs-tooltip-right .arrow::before {
    border-right-color: #fff;
}

/*****************************tooltip CSS End*****************************/

.cursor-pointer {
    cursor: pointer;
}

.cursor-default {
    cursor: default !important;
}

.border-radius-0 {
    border-radius: 0 !important;
}

.box-shadow {
    -webkit-box-shadow: 3px 4px 9px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 4px 9px -6px rgba(0,0,0,0.75);
    box-shadow: 3px 4px 9px -6px rgba(0,0,0,0.75);
}


.box-shadow-sm {
    box-shadow: 0px 0px 20px rgb(238 238 238 / 95%);
    -webkit-box-shadow: 0px 0px 20px rgb(238 238 238 / 95%);
    -moz-box-shadow: 0px 0px 20px rgb(238 238 238 / 95%);
}

.brand-image {
    max-width: 150px;
    margin-left: 15px;
    max-height: 48px;
}

.lh-1 {
    line-height: 1em;
}

.lh-14 {
    line-height: 14px;
}

.lh-21 {
    line-height: 21px;
}

.lh-24 {
    line-height: 24px;
}

.lh-28 {
    line-height: 28px;
}

.lh-30 {
    line-height: 30px;
}

.lh-40 {
    line-height: 40px;
}

li.user-header {
    padding: 3px 10px;
}

    li.user-header i {
        color: #0888c3;
    }

li.user-footer {
    padding: 8px 10px;
    border-top: 1px solid #e9ecef;
}

li.list-line-item {
    border-bottom: 1px solid #05a6f0;
    padding: 5px;
}

li.list-line-item:last-child {
    border-bottom: none;
}

.dropdown-menu-arrow:before {
    content: "";
    border-bottom: 10px solid #fff;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    top: -10px;
    right: 16px;
    z-index: 10;
}


/**************************Accordian start**************************/
.card-accordion {
    -moz-box-direction: normal;
    -moz-box-orient: vertical;
    background-color: #fff;
    border-radius: 0.25rem;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 1px;
    border: none;
}

.card-header-accordion:first-child {
    border-radius: 0;
}

.card-header-accordion {
    background-color: #f7f7f9;
    margin-bottom: 0;
    padding: 20px 1.25rem;
    border: none;
}

    .card-header-accordion a i {
        float: left;
        font-size: 25px;
        padding: 5px 0;
        margin: 0 25px 0 0px;
        color: #195C9D;
    }

    .card-header-accordion i {
        float: right;
        font-size: 30px;
        width: 1%;
        margin-top: 8px;
        margin-right: 10px;
    }

    .card-header-accordion a {
        width: 97%;
        float: left;
        color: #565656;
    }

    .card-header-accordion p {
        margin: 0;
    }

    .card-header-accordion h3 {
        margin: 0 0 0px;
        font-size: 20px;
        font-family: 'Slabo 27px', serif;
        font-weight: bold;
        color: #3fc199;
    }

.card-block-accordion {
    -moz-box-flex: 1;
    flex: 1 1 auto;
    padding: 20px;
    color: #232323;
    box-shadow: inset 0px 4px 5px rgba(0,0,0,0.1);
    border-top: 1px soild #000;
    border-radius: 0;
}
/**************************Accordian End**************************/
.w-auto {
    width:auto;
}

.w-8percent {
    width: 8% !important;
}

.w-9 {
    width: 9% !important;
}

.w-10 {
    width: 10% !important;
}

.w-20 {
    width: 20% !important;
}

.w-30 {
    width: 30% !important;
}

.w-40 {
    width: 40% !important;
}

.w-50 {
    width: 50% !important;
}

.w-60 {
    width: 60% !important;
}

.w-70 {
    width: 70% !important;
}

.w-80 {
    width: 80% !important;
}

.w-90 {
    width: 90% !important;
}

.w-100 {
    width: 100% !important;
}

.mw-150 {
    min-width: 150px !important;
}

.height-auto {
    max-height:100% !important;
}


table {
    text-align: left;
    position: relative;
    border-collapse: collapse;
    background-color: #fff !important;
}

    table. table-border-none tbody tr td {
        border:none !important;
    }

    .table.table-head-fixed thead tr:nth-child(1) th {
        box-shadow: inset 0 1px 0 #0888c3, inset 0 -1px 0 #0888c3;
    }

.table tbody + tbody {
    border-top: 1px solid #dee2e6;
}

.table tbody tr.no-border td {
    border-top: none;
}

th, td {
    padding: 0.25rem;
}

.img-size-32 {
    width: 30px;
    height: 30px;
    border-radius: 20px;
}


.table thead th {
    vertical-align: bottom;
    border-bottom: none;
    border-top: none;
    font-size: 16px;
    color: #0888c3;
}

.table td {
    color: #004B6D;
    padding: .75rem;
    vertical-align: middle;
    border-bottom: 1px solid #dee2e6;
    border-top: none;
    font-size: 13px;
}

.v-align-top td {
    vertical-align: top;
}

.custom-scrollbar {
    max-height: 290px;
    overflow-y: auto;
    background: #fff;
    width: 100%;
}

body .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
/* /* To style the document scrollbar, remove `.custom-scrollbar` */
.custom-scrollbar::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: #ddd;
    border-radius: 0px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #017eb8;
    border-radius: 5px;
    /*box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);*/
}

body .custom-scrollbar::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,.4);
    border-radius: 5px;
}

.custom-select {
    height: calc(1.8125rem + 3px);
    padding: 0.25rem 0.5rem;
    font-size: 12px !important;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    box-shadow: inset 0 0 0 transparent;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    border-radius: 7px;
}

body.modal-open {
    padding-right: 0 !important;
    overflow: hidden;
}

.stick-top {
    position:sticky;
    top:0;
    z-index:998 !important;
    background:#fff;
}

.modal-title {
    font-weight: bold;
    color: #004B6D;
    font-size: 18px;
}

.modal-open .modal {
    overflow-y: hidden;
}

.modal-open .modal {
    pointer-events: none;
}

.modal {
    padding-right: 0 !important;
}

.modal-body {
    max-height: 450px;
    overflow-y: auto;
    border-radius: 1rem;
}


.card-header {
    padding: 0.75rem;
}


.card-body {
    padding: 0.75rem;
}

.modal-header .close:hover {
    color: #dc3545;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.record-found {
    text-align: center;
    margin-top: 4px;
    padding: 10px 0px;
}

.custom-control {
    min-height: 1rem;
}

.custom-control-label::before {
    background-color: #ffffff;
    box-shadow: none;
    border: #bec8d3 solid 1px;
}

    .custom-control-label::before, .custom-control-label::after {
        top: 0rem;
    }
    .custom-control-input {
    height:1rem;
}

.custom-control-label {
    vertical-align: middle;
}
.custom-control-input:checked ~ .custom-control-label::before {
    border-color: #0888c3;
    background-color: #0888c3;
}


.custom-control-input:disabled ~ .custom-control-label, .custom-control-input[disabled] ~ .custom-control-label {
    color: #cbcbcb;
}

.btn-transparent {
    background-color: rgba(255, 255, 255, 0);
    /* border-color: #ddd; */
    color: #444;
}

    .btn-transparent.hover, .btn-transparent:active, .btn-transparent:hover {
        background-color: rgba(255, 255, 255, 0.4);
        color: #2b2b2b;
    }

.close:not(:disabled):not(.disabled):focus, .close:not(:disabled):not(.disabled):hover, .mailbox-attachment-close:not(:disabled):not(.disabled):focus, .mailbox-attachment-close:not(:disabled):not(.disabled):hover {
    outline: none;
}


.box-shadow {
    box-shadow: 0px 3px 50px rgb(238 238 238 / 95%);
    -webkit-box-shadow: 0px 3px 50px rgb(238 238 238 / 95%);
}


.bg-light-grey {
    background-color: #f4f5f6 !important;
}

.bg-light-blue {
    background-color: #edf8ff !important;
}

.bg-light-highlighted {
    background-color: #bbd1db !important;
}


.bg-light-teal {
    background-color: #ebfbff !important;
}

.bg-light-red {
    background-color: #ffebeb !important;
}

.bg-light-orange {
    background-color: #ffead9 !important;
}

.bg-light-purple {
    background-color: #ebebff !important;
}

.bg-light-pink {
    background-color: #ffe8f5 !important;
}

.bg-light-green {
    background: #e1f9db !important;
}

.bg-light-nature {
    background: #b3f6b5 !important;
}

.bg-light-sky {
    background: #c8fbff !important;
}

.bg-orange {
    color: #fff !important;
}

.bg-custom-blue {
    background-color: #f5f5f5;
}

.bg-blue {
    background: #0888c3 !important;
}

.z-index-top {
    z-index: 99999 !important;
}

.text-blue {
    color: #004B6D !important;
}

.text-light-green {
    color: #24b700 !important;
}

.text-light-yellow {
    color: #dfd882 !important;
}

.text-light-blue {
    color: #F3F8FB !important;
}

.text-light-red {
    color: #feeded !important;
}

.text-light-purple {
    color: #eadcff !important;
}

.text-dull-green {
    color: #8AB547;
}

.text-grey {
    color: #979797 !important;
}

.text-red {
    color: rgba(255, 0, 24, 0.8) !important;
}

.text-wenodo {
    color:#0888c3 !important;
}

.text-nature {
    color: #41be44 !important;
}

.text-sky {
    color: #2dc7d4 !important;
}

.text-normal {
    font-weight: normal !important;
}

.text-uppercase {
    /*letter-spacing: 0.08em;*/
}

.text-capitalize {
    text-transform: capitalize;
}

.text-underline {
    text-decoration: underline !important;
}

.text-linethrough {
    text-decoration: line-through;
}

.text-xs {
    font-size: .65rem !important;
}

.text-sm {
    font-size: 0.775rem !important;
}

.text-100 {
    font-size: 100% !important;
}

.text-bold {
    font-weight: 700 !important;
}

.text-bolder {
    font-weight: 900 !important;
}

.text-align-left {
    text-align: left !important;
}

.text-align-center {
    text-align: center !important;
}

.text-align-right {
    text-align: right !important;
}

.text-limit-100 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
}

.margin-auto {
    margin: 0 auto !important;
}


#return-to-top {
    position: fixed;
    bottom: 2.8rem;
    right: 20px;
    background: #fff;
    width: 35px;
    height: 35px;
    z-index: 9999;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    border-radius: 5px !important;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    cursor: pointer;
}

    #return-to-top i {
        color: #0888c3;
        margin: 0;
        position: relative;
        left: 11px;
        top: 7px;
        font-size: 16px;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }

    #return-to-top:hover {
        background: #0888c3;
        transition: all 0.5s ease;
    }

        #return-to-top:hover i {
            color:#fff;
        }

.table-striped tbody:nth-of-type(odd) {
    background-color: #F3F8FB;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: transparent;
}

.vertical-align td {
    vertical-align: middle !important;
}

.vertical-align th {
    vertical-align: middle !important;
}

.font-8 {
    font-size: 8px !important;
}

.font-9 {
    font-size: 9px !important;
}

.font-10 {
    font-size: 10px !important;
}

.font-11 {
    font-size: 11px !important;
}

.font-12 {
    font-size: 12px !important;
}

.font-14 {
    font-size: 14px !important;
}

.font-13 {
    font-size: 13px !important;
}

.font-15 {
    font-size: 15px !important;
}

.font-16 {
    font-size: 16px !important;
}

.font-17 {
    font-size: 18px !important;
}

.font-18 {
    font-size: 18px !important;
}

.font-19 {
    font-size: 19px !important;
}

.font-20 {
    font-size: 20px !important;
}

.font-22 {
    font-size: 22px !important;
}

.font-24 {
    font-size: 24px !important;
}

.font-26 {
    font-size: 26px !important;
}

.font-28 {
    font-size: 26px !important;
}

.font-30 {
    font-size: 30px !important;
}

.font-500 {
    font-weight: 500;
}

ul {
    /*  counter-reset: li; /* Initiate a counter */
    list-style: none; /* Remove default numbering */
    /*  *list-style: decimal; /* Keep using default numbering for IE6/7 */
    padding: 0;
}


/*******************************************Tabs UI Start*******************************************/

.nav-tabs .nav-item {
    margin-bottom: -2px;
}

.nav-tabs .nav-link {
    border: 2px solid transparent;
    color: #0888c3;
    font-size: 13px;
}

.nav-tabs {
    border-bottom: 2px solid #e9ecef;
}

.tab-content {
    padding: 15px 8px;
    font-size: 19px;
    width: 100%;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    border-color: transparent;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #0888c3;
    background-color: #fff;
    border-color: transparent transparent #0888c3;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    cursor: pointer;
    transition: all 0.5s ease;
    border-bottom: 2px solid #0888c3;
    color: #0888c3;
}

.nav-tabs.flex-column .nav-item.show .nav-link, .nav-tabs.flex-column .nav-link.active {
    border-color: transparent transparent #0888c3 transparent;
    font-weight: bold;
}

.nav-tabs.flex-column .nav-link:focus, .nav-tabs.flex-column .nav-link:hover {
    border-color: transparent;
    background: #fff;
    color: #0888c3;
}

/*******************************************Tabs UI End*******************************************/

ul#divNewNotifications li {
    padding: 6px;
    border-bottom: 1px solid #ced4da;
    cursor: pointer;
}

.card {
    box-shadow: 0px 3px 50px rgb(238 238 238 / 95%);
    -webkit-box-shadow: 0px 3px 50px rgb(238 238 238 / 95%);
    border-radius:8px;
}

.card-title {
    font-size: 0.8rem;
    font-weight: bold;
    color: #0888c3;
}

.dropdown-menu {
    /*top: 1rem !important;*/
    background: #fff;
    padding: 0;
    border-radius: 5px !important;
    z-index: 9999 !important;
    border: none;
    font-size:12px;
    box-shadow: 0 0 1px rgba(0,0,0,.125), 4px 4px 12px rgba(0,0,0,.3);
}

.btn-disabled {
    background: #f2f2f2;
    border: 1px solid #ddd;
    color: #aaa;
    padding: 5px 20px;
}

    .btn-disabled:hover {
        pointer-events: none;
        color: #aaa;
    }


/************************Sidebar scrollbar Start************************/
.sidebar-scrollbar ul {
    max-height: 300px;
    overflow: auto;
}

.custom-scrollbar .sidebar-scrollbar ul::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

.custom-scrollbar .sidebar-scrollbar ul::-webkit-scrollbar-track {
    background: #ccc;
    border-radius: 10px;
}

.custom-scrollbar .sidebar-scrollbar ul::-webkit-scrollbar-thumb {
    background: #999;
    border-radius: 10px;
    /*box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);*/
}
/************************Sidebar scrollbar Ends************************/
.btn-wenodo {
    display: inline-block;
    background-color: #0888c3;
    /*border: 2px solid #05A6F0 !important;*/
    font-size: 14px;
    padding: 5px 20px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color: #fff !important;
    text-align: center;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    font-weight: 500;
}


    .btn-wenodo:hover {
        color: #fff !important;
    }


.btn-danger {
    font-weight: 600;
}

    .btn-danger:hover {
        color: #fff !important;
    }

.btn-w-default {
    background-color: #fff;
    border: 1px solid #0888c3;
    color: #0888c3 !important;
    font-size: 14px;
    padding: 5px 20px;
    font-weight: 500;
}

    .btn-w-default:hover {
        background-color: #fff;
        border: 1px solid #0888c3;
        color: #05A6F0;
    }


.btn-w-danger {
    background-color: #fff;
    border: 2px solid #dc3545;
    color: #05A6F0;
    font-size: 16px !important;
    padding: 4px 20px;
    font-weight: bold;
}

.btn-danger {
    padding: 5px 20px;
    color: #fff !important;
}

.btn-transparent-danger {
    background-color: rgba(255, 255, 255, 0);
    color: #dc3545 !important;
    font-size: 12px;
    padding: 3px 12px;
    box-shadow: none;
}

    .btn-transparent-danger:hover {
        background-color: #dc3545;
        color: #fff !important;
        border-radius: 4px;
        transition: ease-in-out 0.3s;
    }

.btn-transparent-wenodo {
    background-color: rgba(255, 255, 255, 0);
    color: #057db5;
    font-size: 12px;
    padding: 3px 12px;
    box-shadow: none;
}

    .btn-transparent-wenodo:hover {
        background-color: #057db5;
        color: #fff !important;
        border-radius: 4px;
        transition: ease-in-out 0.3s;
    }

.btn-xs {
    font-size: 10px !important;
    padding: 5px 10px !important;
}

.btn-sm {
    font-size: 12px;
    /*padding: 5px 20px !important;*/
}


.border {
    border: 1px solid #ced4da;
}

.border-radius-3 {
    border-radius:3px;
}

.border-radius-5 {
    border-radius: 5px;
}


.badge-light-green {
    color: #4caf50;
    background-color: #c8f9cb;
}

.badge-light-red {
    color: #f44336;
    background-color: #ffebee;
}

.badge-light-yellow {
    color: #ffffff;
    background-color: #c7bd47;
}

.badge-light-blue {
    color: #2196f3;
    background-color: #f3f8fb;
}

.badge-light-purple {
    color: #9c27b0;
    background-color: #f3e5f5;
}

.badge-light-orange {
    color: #e67e22;
    background-color: #ffead7;
}

.badge-light-grey {
    color: #737373;
    background-color: #e0e0e0;
}

.badge-pink {
    color: #fff;
    background-color: #ff3185;
}

.badge-approved {
    color: #299a43;
    background-color: #5adc78;
}

.badge-wenodo {
    color: #fff;
    background-color: #05A6F0;
}


.rotate-45 {
    transform: rotate(-45deg);
}

.rotate-180 {
    transform: rotate(180deg);
}

.bg-white {
    background: #fff !important;
}
.bg-transparent {
    background: transparent !important;
}

.bg-wenodo-border {
    padding: 10px;
    background: #fff;
    box-shadow: inset 0 1px 0 #0888c3, inset 0 -1px 0 #0888c3;
    /*border-bottom: 2px solid #004B6D;*/
}

.table.table-head-fixed thead.bg-wenodo-border tr th {
    padding: 8px 10px;
}

.table.table-head-fixed thead.bg-wenodo-border tr:nth-child(1) th {
    background-color: #fff;
    color: #0888c3;
}

thead.bg-wenodo-border {
    color: #004B6D !important;
}

.bg-wenodo-blue {
    background: #0888c3 !important;
    -webkit-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease
}

.mandatory{
    color:red;
}
/*****************************Weather Widget Start****************************/
.weather-wrapper {
    margin-top: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.weather-card {
    margin: 2px 5px;
    border-radius: 2px;
    position: relative;
    overflow: hidden;
    width: 175px;
    height: 35px;
    background-color: white;
    box-shadow: 0px 0px 25px 1px rgba(50, 50, 50, 0.1);
    animation: appear 500ms ease-out forwards;
}

    .weather-card h1 {
        font-weight: 300;
        font-size: 30px;
        color: #b8b8b8;
        margin-left: 10px;
        opacity: 0;
        transform: translateX(150px);
        animation: title-appear 500ms ease-out 500ms forwards;
    }

    .weather-card span {
        position: absolute;
        font-weight: 300;
        font-size: 15px;
        color: #a7a7a7;
        bottom: 7px;
        left: 50px;
        animation: title-appear 1s ease-out 500ms forwards;
    }

.weather-icon {
    position: relative;
    width: 15px;
    height: 15px;
    top: 0;
    float: right;
    margin: 16px 25px 0 0;
    animation: weather-icon-move 5s ease-in-out infinite;
}

.sun {
    background: #ffcd41;
    border-radius: 50%;
    box-shadow: rgba(255, 255, 0, 0.1) 0 0 0 4px;
    animation: light 800ms ease-in-out infinite alternate, weather-icon-move 5s ease-in-out infinite;
}

@keyframes light {
    from {
        box-shadow: rgba(255, 255, 0, 0.2) 0 0 0 10px;
    }

    to {
        box-shadow: rgba(255, 255, 0, 0.2) 0 0 0 0px;
    }
}

.cloud {
    margin-right: 35px;
    background: #b6cede;
    border-radius: 20px;
    width: 15px;
    height: 13px;
    box-shadow: #b6cede 24px -10px 0 2px, #b6cede 10px 2px 0 4px, #b6cede 30px 0px 0 2px, #b6cede 11px -10px 0 -1px, #b6cede 25px 7px 0 -1px;
}

    .cloud:after {
        content: "";
        position: absolute;
        border-radius: 10px;
        background-color: transparent;
        width: 2px;
        height: 8px;
        left: 10px;
        top: -10px;
        transform: rotate(30deg);
        animation: rain 800ms ease-in-out infinite alternate;
    }

@keyframes rain {
    from {
        box-shadow: #2092a9 8px 0px, #2092a9 32px -6px, #2092a9 20px 0px;
    }

    to {
        box-shadow: #2092a9 8px 6px, #2092a9 32px 0px, #2092a9 20px 6px;
    }
}

@keyframes weather-icon-move {
    50% {
        transform: translateY(-8px);
    }
}

.inspiration {
    margin-top: 80px;
    color: #709fbe;
    font-weight: 300;
    font-size: 24px;
    text-align: center;
}

    .inspiration a {
        color: #ff8f8f;
        font-weight: 400;
        animation: all 300ms ease-in-out;
    }

@keyframes appear {
    0% {
        transform: scale(0);
    }

    50% {
        transform: scale(1.05);
    }

    75% {
        transform: scale(0.95);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes title-appear {
    from {
        opacity: 0;
        transform: translateX(150px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}
 
/*****************************Weather Widget End****************************/


/************************Main Cards Start************************/
.at-section__title {
    margin: 0 0 70px;
    color: #000;
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 2.625rem;
    text-align: center;
}

.bg-appsuite-light-blue {
    background-color: #DBF0F0;
}

.at-grid {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 3%;
}


    .at-grid[data-column="1"] .at-column {
        width: 100%;
        max-width: 100%;
        min-width: 100%;
        flex-basis: 100%;
    }

    .at-grid[data-column="2"] .at-column {
        width: 50%;
        max-width: 50%;
        min-width: 50%;
        flex-basis: 50%;
    }

    .at-grid[data-column="3"] .at-column {
        width: 33.3333333333%;
        max-width: 33.3333333333%;
        min-width: 33.3333333333%;
        flex-basis: 33.3333333333%;
    }

    .at-grid[data-column="4"] .at-column {
        width: 25%;
        max-width: 25%;
        min-width: 25%;
        flex-basis: 25%;
    }

    .at-grid[data-column="5"] .at-column {
        width: 20%;
        max-width: 20%;
        min-width: 20%;
        flex-basis: 20%;
    }

    .at-grid[data-column="6"] .at-column {
        width: 16.6666666667%;
        max-width: 16.6666666667%;
        min-width: 16.6666666667%;
        flex-basis: 16.6666666667%;
    }

    .at-grid[data-column="7"] .at-column {
        width: 14.2857142857%;
        max-width: 14.2857142857%;
        min-width: 14.2857142857%;
        flex-basis: 14.2857142857%;
    }

    .at-grid[data-column="8"] .at-column {
        width: 12.5%;
        max-width: 12.5%;
        min-width: 12.5%;
        flex-basis: 12.5%;
    }

    .at-grid[data-column="9"] .at-column {
        width: 12%;
        max-width: 12%;
        min-width: 12%;
        flex-basis: 12%;
    }

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

    .middle a:hover, .middle a:hover span {
        color: #fff;
    }

    .middle img {
        display: block;
        max-width: 50px;
        margin: 0 auto;
    }

img.hide-on-hover {
    opacity: 0.6;
}

.at-column:hover .middle {
    opacity: 1;
}

.at-column:hover span {
    display: block;
    font-size: 12px;
}

.at-column:hover .hide-on-hover {
    opacity: 0;
    display: none;
}


.at-column {
    z-index: 0;
    position: relative;
    box-shadow: 0 8px 20px rgb(215 215 215);
    padding: 10px;
    margin: 12px;
    box-sizing: border-box;
    -webkit-transition: box-shadow 0.2s ease, z-index 0s 0.2s ease, -webkit-transform 0.2s ease;
    transition: box-shadow 0.2s ease, z-index 0s 0.2s ease, -webkit-transform 0.2s ease;
    transition: box-shadow 0.2s ease, transform 0.2s ease, z-index 0s 0.2s ease;
    transition: box-shadow 0.2s ease, transform 0.2s ease, z-index 0s 0.2s ease, -webkit-transform 0.2s ease;
    border-radius: 30px;
    font-size: 12px;
}

    .at-column:hover .at-social {
        margin: 16px 0 0;
        opacity: 1;
    }

    .at-column:before {
        content: "";
        display: block;
        padding-top: 100%;
    }

    .at-column:hover {
        /*box-shadow: 0 8px 50px rgba(0 0 0 / 20%);*/
        /*-webkit-transform: scale(1.10);
        transform: scale(1.10);
        -webkit-transition: box-shadow 0.2s ease, z-index 0s 0s ease, -webkit-transform 0.2s ease;
        transition: box-shadow 0.2s ease, z-index 0s 0s ease, -webkit-transform 0.2s ease;
        transition: box-shadow 0.2s ease, transform 0.2s ease, z-index 0s 0s ease;
        transition: box-shadow 0.2s ease, transform 0.2s ease, z-index 0s 0s ease, -webkit-transform 0.2s ease;*/
        z-index: 1 !important;
        color: #fff;
        cursor: pointer;
    }


@media (max-width: 800px) {
    .at-column {
        width: 50% !important;
        max-width: 50% !important;
        min-width: 50% !important;
        flex-basis: 50% !important;
    }
}

@media (max-width: 600px) {
    .at-column {
        width: 100% !important;
        max-width: 100% !important;
        min-width: 100% !important;
        flex-basis: 100% !important;
    }
}

.at-column.app-suit-inside:hover {
    -webkit-transform: scale(1.10);
    transform: scale(1.10);
}

.at-user {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    padding: 5px;
}

.at-user__avatar {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.inside_icons img {
    max-width: 20px !important;
}

.at-user__avatar img {
    display: block;
    max-width: 50px;
    margin: 0 auto;
}

.at-user__name {
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    margin-top: 1rem;
    line-height: 1rem;
}

.at-user__title {
    color: #6f808a;
    font-size: 0.875rem;
    line-height: 2.375rem;
}

.at-social {
    margin: 0 0 -18px;
    opacity: 1;
    -webkit-transition: margin 0.2s ease, opacity 0.2s ease;
    transition: margin 0.2s ease, opacity 0.2s ease;
}

.at-social__item {
    display: inline-block;
    margin: 0 10px;
}

    .at-social__item a {
        display: block;
    }

    .at-social__item svg {
        fill: #515f65;
        display: block;
        height: 18px;
        -webkit-transition: fill 0.2s ease;
        transition: fill 0.2s ease;
    }

        .at-social__item svg:hover {
            fill: #788d96;
        }


.app-suit {
    max-width: 80%;
    width: 100%;
    margin: 0 auto;
}

.datepicker table tr td.today {
    color: #000;
    background-color: #e1f9db;
    border-color: #ffb733;
    font-weight: bold;
}

.pt-10p {
    padding-top: 10%;
}

.profile-user-img {
    border: 3px solid #05A6F0;
    margin: 0 auto;
    padding: 3px;
    width: 130px !important;
    height: 130px !important;
    border-radius: 5%;
    display: block;
    text-align: center;
}

.app-suit-margin {
    margin: 2rem 0rem 1rem;
    background: #fff;
}

.app-suit-inside {
    z-index: 0 !important;
    position: relative !important;
    /*background: #fff !important;*/
    box-shadow: 0 0 0 1px #e2e9ed;
    padding: 0px !important;
    margin: 10px !important;
    box-sizing: border-box !important;
    -webkit-transition: box-shadow 0.2s ease, z-index 0s 0.2s ease, -webkit-transform 0.2s ease !important;
    transition: box-shadow 0.2s ease, z-index 0s 0.2s ease, -webkit-transform 0.2s ease !important;
    transition: box-shadow 0.2s ease, transform 0.2s ease, z-index 0s 0.2s ease !important;
    transition: box-shadow 0.2s ease, transform 0.2s ease, z-index 0s 0.2s ease, -webkit-transform 0.2s ease !important;
    border-radius: 10px;
}

.dropdown-menu-app {
    max-width: 300px;
    min-width: 300px;
    padding: 0;
}

.app-bg-green {
    background-image: linear-gradient(to right top, #aff4e9, #a1f1e5, #71e9d7, #71e9d7, #71e9d7);
}

.app-bg-yellow {
    background-image: linear-gradient(to right top, #ffde75, #fed561, #ffb718, #ffb718, #ffb718);
}

.app-bg-skyblue {
    background-image: linear-gradient(to right top, #29c0ff, #20bafb, #17b3f8, #0eadf4, #05a6f0);
}

.app-bg-pink {
    background-image: linear-gradient(to right top, #ff7d98, #ff7894, #ff7491, #ff6f8d, #ff6a89);
}

.app-bg-darkblue {
    background-image: linear-gradient(to right top, #335571, #2e4e68, #2a475f, #254157, #213a4e);
}

.app-bg-blue {
    background-image: linear-gradient(to right top, #4a96fd, #398cfe, #2882ff, #1578ff, #006dff);
}


.silver {
    color: #e4e4e4
}
/************************Main Cards End***********************/
.app-bg-green {
    background-image: linear-gradient(to right top, #aff4e9, #a1f1e5, #71e9d7, #71e9d7, #71e9d7);
}

.app-bg-yellow {
    background-image: linear-gradient(to right top, #ffde75, #fed561, #ffb718, #ffb718, #ffb718);
}

.app-bg-skyblue {
    background-image: linear-gradient(to right top, #29c0ff, #20bafb, #17b3f8, #0eadf4, #05a6f0);
}

.app-bg-pink {
    background-image: linear-gradient(to right top, #ff7d98, #ff7894, #ff7491, #ff6f8d, #ff6a89);
}

.app-bg-darkblue {
    background-image: linear-gradient(to right top, #335571, #2e4e68, #2a475f, #254157, #213a4e);
}

.app-bg-blue {
    background-image: linear-gradient(to right top, #4a96fd, #398cfe, #2882ff, #1578ff, #006dff);
}

.app-bg-grey {
    background-image: linear-gradient(to right top, #e4dbf6, #eae4f9, #f1edfb, #f8f6fd, #ffffff);
}

.app-bg-dark-green {
    background-image: linear-gradient(to right top, #6bddcb, #55dbc8, #47dfc9, #27d9bf, #00ebc8);
}

.main-footer {
    padding: 0.5rem 1rem;
}

@media (min-width: 768px) {
    .sidebar-mini.sidebar-collapse .content-wrapper, .sidebar-mini.sidebar-collapse .main-footer, .sidebar-mini.sidebar-collapse .main-header {
        margin-left: 4.6rem !important;
    }
}

.hr-dashboard-main-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px;
    border-top: 1px solid #dee2e6;
    background: #fff;
    z-index: 999;
    box-shadow: 0 -8px 10px rgb(238 238 238 / 30%);
}

.hr-dashboard-main-footer-old {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 3px;
    border-top: 1px solid #dee2e6;
    background: #fff;
    z-index: 999;
}


.footer-links a {
    font-size: 12px;
    margin: 10px;
    color: #9b9a9a;
    display: inline;
    font-weight: 600;
}

    .footer-links a:hover {
        color: #0888c3;
    }

.heading-text {
    color: #00628f;
    margin-bottom: 0;
    font-weight: 500;
    font-size: 18px;
}

.heading-text-2 {
    color: #004B6D;
    margin-bottom: 0;
    font-weight: 700;
    display: inline-block;
    font-size: 18px;
}

    .modal-body {
        max-height: 425px;
        overflow-y: auto;
        border-radius: 1rem;
    }
}
/************************* 7 columns grid End*************************/

.border-bottom {
    border-bottom: 1px solid #ced4da;
}

.border-blue {
    border: 1px solid #05a6f0 !important;
}

.hidden-input input[type="file"] {
    display: none;
}

/****************************Team Tree End****************************/

.modal-content {
    border-radius: 1rem;
}

.justify-content-left {
    justify-content: flex-start;
}

.semibold {
    font-weight: 500 !important;
}


table.compact_table tr th, table.compact_table tr td {
    font-size: 12px;
    padding: 4px 10px;
    vertical-align: middle;
}

.compact_table.table-font-10 tr td {
    font-size:10px !important;
}

table.compact_table i {
    margin: 0;
}

.card-body.p-0 .table.compact_table tbody > tr > td:first-of-type, .card-body.p-0 .table.compact_table tbody > tr > th:first-of-type, .card-body.p-0 .table.compact_table thead > tr > td:first-of-type, .card-body.p-0 .table.compact_table thead > tr > th:first-of-type {
    padding-left: 0.5rem;
}

.card-body.p-0 .table.compact_table tbody > tr > td:last-of-type, .card-body.p-0 .table.compact_table tbody > tr > th:last-of-type, .card-body.p-0 .table.compact_table thead > tr > td:last-of-type, .card-body.p-0 .table.compact_table thead > tr > th:last-of-type {
    padding-right: 0.5rem;
}

table.consolidated-table tr th, table.consolidated-table tr td {
    font-size: 10px !important;
    padding: 0.25rem;
}

.mx-height-56 {
    max-height: 38vh !important;
    min-height: 38vh !important;
}

.dropdown-scrollbar ul {
    max-height: 200px;
    overflow: auto;
}

.custom-scrollbar .dropdown-scrollbar ul::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

.custom-scrollbar .dropdown-scrollbar ul::-webkit-scrollbar-track {
    background: #ccc;
    border-radius: 10px;
}

.custom-scrollbar .dropdown-scrollbar ul::-webkit-scrollbar-thumb {
    background: #999;
    border-radius: 10px;
    /*box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);*/
}

/********************Sidepanel CSS Start********************/
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: -9; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    border-left: 1px solid #dee2e6;
    box-shadow: 0px 0px 100px rgba(0,0,0,.6);
    background: #fff;
    /*padding-top: 48px;  Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}


@media (max-width: 1024px) {
    .sidenav-sm {
        width: 55% !important;
    }
}

@media (max-width: 1200px) {
    .sidenav-sm {
        width: 55% !important;
    }
}
/* The navigation menu links */
.sidenav a {
    display: block;
    transition: 0.3s;
}
/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.sidenav-footer-fixed {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.moment-picker {
    z-index: 1600 !important;
}

.side-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    background-color: #00000052;
}
/********************Sidepanel CSS End********************/

.custom-form-control_error, .error {
    border: 1px solid red;
    border-radius: 3px;
}

table tr.error td {
    border: 1px solid red !important;
}


body .client-scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}


body .client-scrollbar::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,.4);
    border-radius: 5px;
}

.text-white {
    color: #fff !important;
}

.table-font-12 tr th, .table-font-12 tr td {
    font-size: 12px;
}

.table-footer-fixed {
    position: sticky;
    bottom: -1px;
    background: #fff !important;
    z-index: 9;
}

.table-hover tr:hover {
    color: #212529;
    background-color: rgba(0,0,0,.03);
}

.table-fixed-right {
    position: sticky;
    right: 0;
}

.table.compact_table th {
    border-top:none;
}

.table-fixed-left {
    position: sticky;
    left: 0;
    white-space: nowrap;
    background-color: #fff;
    z-index: 11 !important;
}

.navbar .at-column {
    line-height: 1.5;
}


@supports ((position: -webkit-sticky) or (position: sticky)) {
    .sticky-bottom {
        position: -webkit-sticky;
        position: sticky;
        bottom: -1px;
        z-index: 1020;
        background: #fff;
    }
}


/**************************** Checkmark style starts ****************************/
span.bigcheck-target {
    font-family: FontAwesome;
    font-size: 18px;
    color: #05a6f0;
    cursor: pointer;
    width: 20px;
    height: 24px;
}

.bigcheck {
    display:flex;
    align-items:center;
}

input[type='checkbox'].bigcheck {
    display: none;
}

    input[type='checkbox'].bigcheck + span.bigcheck-target:after {
        content: "\f096"; /* In fontawesome, is an open square (fa-square-o) */
        font-weight: 100;
        color: #ccc;
    }

    input[type='checkbox'].bigcheck:checked + span.bigcheck-target:after {
        content: "\f046"; /* fontawesome checked box (fa-check-square-o) */
        font-weight: 100;
        color: #05a6f0;
    }

span.bigcheck {
    /*display: block;*/
}

.bigcheck_label {
    margin-bottom: 0px;
    font-size: 12px;
    color:#000;
}

.bigcheck:disabled ~ .bigcheck_label, .bigcheck[disabled] ~ .bigcheck_label {
    color: #cbcbcb;
}
/**************************** Checkmark style end ****************************/



/******************************Reporting CSS Start******************************/

.bg-pastel-green {
    background: #cbe7c4 !important;
    border: 1px solid #cbe7c4;
}

.bg-pastel-purple {
    background: #e5e4f2 !important;
    border: 1px solid #e5e4f2;
}

.bg-pastel-orange {
    background: #ffdace !important;
    border: 1px solid #ffdace;
}

.bg-pastel-pink {
    background: #edd8db !important;
    border: 1px solid #edd8db;
}

.bg-pastel-voilet {
    background: #d3ccd3 !important;
    border: 1px solid #d3ccd3;
}

.bg-pastel-yellow {
    background: #ede6d8 !important;
    border: 1px solid #ede6d8;
}

.bg-pastel-sky {
    background: rgb(196, 229, 231) !important;
    border: 1px solid rgb(196, 229, 231);
}

.bg-pastel-red {
    background: rgb(251, 195, 195) !important;
    border: 1px solid rgb(251, 195, 195);
}

.bg-pastel-mud {
    background: #e7d9c4 !important;
    border: 1px solid #e7d9c4;
}

.bg-pastel-grey {
    background: #aec2cd !important;
    border: 1px solid #aec2cd;
}

.bg-pastel-blue {
    background: #c5dfe7 !important;
    border: 1px solid #c5dfe7;
}

.card-gradient-orange {
    background-image: linear-gradient(to right, #f1ba9c, #f3b18f, #f5a983, #f79f77, #f8966b, #f8966b, #f8966b, #f8966b, #f79f77, #f5a983, #f3b18f, #f1ba9c);
    border: 1px solid #ffbb98;
}

.card-gradient-green {
    border: 1px solid #75f6b1;
    background-image: linear-gradient(to right, #8ef6bf, #7ee9af, #6ddca0, #5ccf90, #4bc281, #48c280, #46c27f, #43c27e, #50cf8a, #5cdc97, #69e9a4, #75f6b1);
}

.card-gradient-dark-green {
    border: 1px solid #62d5da;
    background-image: linear-gradient(to right, #80dfe3, #75d5d8, #6acace, #5fc0c3, #54b6b9, #51b5b8, #4fb5b8, #4cb4b7, #51bcc0, #57c4c8, #5ccdd1, #62d5da);
}

.card-gradient-red {
    background-image: linear-gradient(to right, #f4b6bb, #f4a8ae, #f39aa1, #f28c93, #f07e86, #ef7d86, #ef7d85, #ee7c85, #ef8991, #f0969d, #f0a3a9, #f0b0b5);
    border: 1px solid #f0b0b5;
}

.card-gradient-blue {
    border: 1px solid #a3d5f4;
    background-image: linear-gradient(to right, #a3d5f4, #93cef3, #83c7f3, #73bff2, #61b8f2, #61b8f2, #61b8f2, #61b8f2, #73bff2, #83c7f3, #93cef3, #a3d5f4);
}

.card_trasaction_blue {
    background: linear-gradient(30deg, rgba(0,99,236,1) 0%, rgba(33,125,251,1) 30%, rgba(37,128,254,1) 70%, rgba(106,168,254,1) 100%);
}

.card_comps_yellow {
    background: linear-gradient(30deg, rgba(245,85,85,1) 0%, rgba(247,121,74,1) 72%, rgba(250,170,60,1) 87%, rgba(252,207,49,1) 100%);
}

.card_void_green {
    background: linear-gradient(30deg, rgba(157,0,65,1) 0%, rgba(192,4,82,1) 36%, rgba(210,34,107,1) 80%, rgba(255,110,170,1) 100%);
}

.card-gradient-purple {
    background-image: linear-gradient(to right, #e2b0ff, #d69cf7, #c989ef, #bd75e6, #b061de, #b061de, #b061de, #b061de, #bd75e6, #c989ef, #d69cf7, #e2b0ff);
    border: 1px solid #e2b0ff;
}

.card-linear-gradient-blue-yellow {
    background: linear-gradient(30deg, rgba(115,103,240,1) 0%, rgba(155,147,242,1) 72%, rgba(194,152,251,1) 87%, rgba(206,159,252,1) 100%);
}







.border-pastel-green {
    border: 1px solid #cbe7c4;
}

.border-pastel-grey {
    border: 1px solid #aec2cd;
}

.border-pastel-purple {
    border: 1px solid #e5e4f2;
}

.border-pastel-orange {
    border: 1px solid #ffdace;
}

.border-pastel-pink {
    border: 1px solid #edd8db;
}

.border-pastel-voilet {
    border: 1px solid #d3ccd3;
}

.border-pastel-yellow {
    border: 1px solid #ede6d8;
}

.border-pastel-sky {
    border: 1px solid #c4e5e7;
}

.border-pastel-red {
    border: 1px solid #fbc3c3;
}

.border-pastel-mud {
    border: 1px solid #e7d9c4;
}

.border-pastel-blue {
    border: 1px solid #c5dfe7;
}

.bg-chart {
    /*background-image: url('../../images/Spline_Chart_02.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;*/
    background: #fff;
    height: auto;
    width: auto;
    min-height: 105px;
    background-position: top;
    border-radius: 5px;
}

.content-card:hover {
    -webkit-transform: translateY(-4px) scale(1.02);
    -moz-transform: translateY(-4px) scale(1.02);
    -ms-transform: translateY(-4px) scale(1.02);
    -o-transform: translateY(-4px) scale(1.02);
    transform: translateY(-4px) scale(1.02);
    -webkit-box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.2);
    z-index: 9;
    transition: ease-in-out 0.3s;
}

.bg-chart-2 {
    background-image: url('../../images/Spline_Chart_02.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: auto;
    width: auto;
    min-height: 105px;
    background-position: top;
    /*border-radius: 5px;*/
}


.color-transparent {
    color:transparent !important;
}

.weekly_revenue_position {
    position: absolute;
    top: 3.8rem;
    right: 2rem;
}

.weekly_revenue_position_second {
    position: absolute;
    top: 5.5rem;
    right: 2rem;
}

.gp_position {
    position: absolute;
    top: 3.8rem;
    right: 2rem;
}

.gp_position_second {
    position: absolute;
    top: 5rem;
    right: 2rem;
}

@media (min-width:1168px) {
    .weekly_revenue_position {
        position: absolute;
        top: 3.8rem;
        right: 1rem;
    }
    .weekly_revenue_position_second {
        position: absolute;
        top: 6rem;
        right: 1rem;
    }

    .transcompsvoid {
        right: 0.3rem !important;
    }

    .gp_position {
        position: absolute;
        top: 3rem;
        right: 1rem;
    }
    .gp_position_second {
        position: absolute;
        top: 4.2rem;
        right: 1rem;
    }
}



.raphael-group-1-messageGroup text, .raphael-group-3-messageGroup text, .raphael-group-5-messageGroup text, .raphael-group-7-messageGroup text, .raphael-group-9-messageGroup text {
    fill: #f00;
    font-size: 12px !important;
    font-family: 'Nunito Sans', sans-serif !important;
}

/***************************************Takings Review Panels Start***************************************/
.row.row-eq-height > [class='col'] {
    border: 1px solid #eee;
    border-radius: 5px;
}
.row .col.net_sales {
    border-radius: 5px;
}

.row .col.net_last_week {
    border-radius: 5px;
    background: #e8f6ff;
}

.row .col.net_sales .col-md-12 {
    background-color: #e1f9db;
    border-radius: 5px;
}

.row .col.net_last_week .col-md-12 {
    background-color: #e8f6ff;
    border-radius: 5px;
}
.panel {
    height: 100%;
    padding: 10px 3px;
}

    .panel .bg-blue {
        padding: 5px;
        border-radius: 5px;
    }

    .panel .value {
        font-size: 24px;
        font-weight: bold;
        color: #057db5;
        white-space: nowrap;
    }

    .panel .wtd-value {
        font-size: 16px;
        font-weight:700;
        /*color: #fff;*/
        white-space: nowrap;
        /*display: block;*/
    }

    .panel .wtd {
        font-size: 10px;
        /*display: block;*/
    }

.revenue {
    color: #057db5;
    font-weight: bold;
    font-size: 16px;
    margin-top: 0.5rem;
}

.wtd-text {
    color: #004b6d;
    font-weight: bold;
    font-size: 12px;
}

.entity_name {
    height: 100%;
    align-items: center;
    display: inline-flex;
    padding: 5px;
}

    .entity_name h5 {
        margin-bottom: 0px;
    }

/***************************************Takings Review Panels End***************************************/


/*****************************File upload UI Start*****************************/
.upload-files-container {
    background-color: #ffffff;
    width: 100%;
    padding: 0px 40px 20px;
    border-radius: 5px;
}

.default-file-input {
    opacity: 0;
}

.drag-file-area {
    border: 2px dashed #057db5;
    border-radius: 10px;
    padding: 10px 50px;
    max-width: 100%;
    text-align: center;
    margin: 15px auto;
}

.browse-files-text {
    color: #057db5;
    font-weight: bolder;
    cursor: pointer;
    display: inline-block;
}

.browse-files input {
    position: relative;
    top: 18px;
    height: 20px;
    display: block;
    background: #000;
}


.file-block {
    color: #057db5;
    background-color: #fff;
    transition: all 1s;
    min-width: 30%;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0 15px;
    padding: 10px 20px;
    border-radius: 6px;
    box-shadow: 0px 3px 50px rgb(238 238 238 / 95%);
    -webkit-box-shadow: 0px 3px 50px rgb(238 238 238 / 95%);
}

.file-info {
    display: inline-flex;
    align-items: center;
    font-size: 15px;
    color: #057db5;
}

.file-icon {
    margin-right: 10px;
}

.file-name, .file-size {
    padding: 0 3px;
}

.remove-file-icon {
    cursor: pointer;
    float: right;
}

    .remove-file-icon:hover {
        color: #f00;
        transition: all 0.5s ease;
    }

.progress-container {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 4.5%;
    width: 0;
    height: 5px;
    border-radius: 25px;
    background-color: #4BB543;
}

.file-upload {
    /*border-radius: 6px;*/
    /* display: block; */
    border: none;
    border-radius: 3px;
    outline: none;
    padding: 0px 25px;
    height: 32px;
    background-color: transparent;
    color: #057db5;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
    /* margin: 10px auto; */
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.16);
    box-shadow: 0px 5px 12px rgb(0 0 0 / 10%);
}

    .file-upload:visited, .file-upload:focus {
        outline: none;
    }

    .file-upload:hover {
        -webkit-box-shadow: 0 5px 6px rgba(0, 0, 0, 0.16);
        box-shadow: 0 5px 6px rgba(0, 0, 0, 0.16);
        background: #057db5;
        color: #fff;
        transition: all 0.5s ease;
    }

.upload-text {
    display: block;
    font-style: italic;
    color: #adadad;
    margin-top: 20px;
}



.revenue-card {
    background: #329BFF;
    padding: 12px;
    color: #fff;
    border-radius: 8px;
    margin-bottom: 0.5rem;
    box-shadow: 0px 10px 30px #DBD8EA80;
}

.cogs-card {
    background: #E55251;
    padding: 12px;
    color: #fff;
    border-radius: 8px;
    margin-bottom: 0.5rem;
    box-shadow: 0px 10px 30px #DBD8EA80;
}

.gross-card {
    background: #F9B113;
    padding: 12px;
    color: #fff;
    border-radius: 8px;
    margin-bottom: 0.5rem;
    box-shadow: 0px 10px 30px #DBD8EA80;
}

.staff-card {
    background: #321FDC;
    padding: 12px;
    color: #fff;
    border-radius: 8px;
    margin-bottom: 0.5rem;
    box-shadow: 0px 10px 30px #DBD8EA80;
}

.misc_buttons {
    position: absolute;
    right: 10px;
    top: 5.7rem;
    z-index: 9;
}

@media only screen and (max-width: 1280px) and (min-width: 320px) {
    .drag-file-area, .file-block {
        width: 100%;
    }
}

ul.bullets li {
    list-style-type: circle;
}

.upload-errors {
    position: absolute;
    right: 0;
    width: max-content;
}

/*****************************File upload UI End*****************************/





/******************************Reporting CSS End******************************/
@media (-webkit-device-pixel-ratio: 1.25) {
}

@media (-webkit-device-pixel-ratio: 1.5) {


    @-moz-document url-prefix() {
    }
}


