<div class="row">
    <div class="col-md-12">
        <templateurl class="w-100" template-url="../AngularViews/HR/ViewEmployee/HeaderDtlsNew.html?v=1{{AppVersion}}">
    </div>
    <div class="col-auto mn-w-250">
        <templateurl class="w-100" template-url="../AngularViews/HR/ViewEmployee/Employee_Tabs.html?v={{AppVersion}}">
    </div>
    <div class="col">
        <div class="row">
            <form id="EmpDtlsForm_7" name="EmpDtlsForm_7" novalidate>
                <div class="row">
                    <div class="col-md-12 mt-3 ">
                        <h5 class="text-bold">Work Permit </h5>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Document type:<span ng-show="EmpSearch_7.IS_WORK_PERMIT_REQ"> *</span></label>
                            <select class="custom-select"
                                    name="WORK_PERMIT"
                                    ng-model="EmpSearch_7.WORK_PERMIT_TYPE_ID"
                                    ng-options="PT.WORK_PERMIT_TYPE_ID as PT.WORK_PERMIT_TYPE_NAME   for PT in (WORK_PERMIT_TYPE)"
                                    ng-required="EmpSearch_7.IS_WORK_PERMIT_REQ"
                                    ng-change="WorkPermitChanges()"
                                    ng-class="{'error':EmpDtlsForm_7.submitted && EmpDtlsForm_7.WORK_PERMIT.$error.required}">
                                <option value="">-Select Document type-</option>
                            </select>
                        </div>
                    </div>


                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Expiry Date:<span ng-show="EmpSearch_7.IS_WORK_PERMIT_REQ">*</span></label>
                            <input type="text"
                                   class="form-control dateinput"
                                   autocomplete="off"
                                   name="EX_DATE"
                                   readonly
                                   ng-model="EmpSearch_7.EXPIRY_DATE"
                                   ng-value="EmpSearch_7.EXPIRY_DATE | date"
                                   ng-required="EmpSearch_7.IS_WORK_PERMIT_REQ"
                                   ng-class="{'error':EmpDtlsForm_7.submitted && EmpDtlsForm_7.EX_DATE.$error.required}" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Note:</label>
                            <input type="text"
                                   class="form-control"
                                   placeholder="Enter.."
                                   name="NOTES"
                                   ng-model="EmpSearch_7.NOTES" />
                        </div>
                    </div>
                    <div class="col-md-12 mt-3">
                        <div class="form-group">
                            <div class="input-group-prepend" ng-class="{'error':EmpDtlsForm_7.submitted && EMP_WORK_PERMIT==null && !IS_WORK_PERMIT || EmpDtlsForm_7.submitted && EMP_WORK_PERMIT.length==0 && !IS_WORK_PERMIT,'':EMP_WORK_PERMIT.length>0}">
                                <label for="permit" class="btn btn-upload">
                                    <i class="fal fa-upload"></i> Upload Work Permit  <span ng-show="EmpSearch_7.IS_WORK_PERMIT_REQ">&nbsp;&nbsp;*</span>
                                </label>
                                <span class="hidden-input">
                                    <input id="permit" name="file" ng-files="getTheFilesToUpload_7($files, 'permit', FILE_SIZE,5)" type="file" />
                                </span>
                            </div>
                            <span class="d-block" ng-repeat="upls in EMP_WORK_PERMIT">{{upls.ORIGINAL_FILE_NAME}}</span>
                        </div>
                    </div>

                    <div class="col-md-12 mt-2">
                        <h5 class="text-bold">Contracts</h5>
                    </div>

                    <div class="col-md-12">
                        <div class="input-group-prepend">
                            <label for="contracts" class="btn btn-upload">
                                <i class="fal fa-upload"></i> Upload Contracts
                            </label>
                            <span class="hidden-input">
                                <input id="contracts" name="file" ng-files="getTheFilesToUpload_7($files, 'contracts', FILE_SIZE,6)" type="file" />
                            </span>
                        </div>
                        <span class="d-block" ng-repeat="upls in EMP_CONTRACTS">{{upls.ORIGINAL_FILE_NAME}}</span>
                    </div>

                    <div class="col-md-12 mt-3">
                        <h5 class="text-bold">Other Documents</h5>
                    </div>
                    <div class="col-md-12">
                        <div class="input-group-prepend">
                            <label for="documents" class="btn btn-upload">
                                <i class="fal fa-upload"></i> Upload Documents
                            </label>
                            <span class="hidden-input">
                                <input id="documents" name="file" ng-files="getTheFilesToUpload_7($files, 'documents', FILE_SIZE,7)" type="file" />
                            </span>
                        </div>
                        <table ng-show="EMP_OTHER_DOCUMENTS.length>0">
                            <tr>
                                <td>File Name</td>
                            </tr>
                            <tbody>
                                <tr ng-repeat="upls in EMP_OTHER_DOCUMENTS">
                                    <td>{{upls.ORIGINAL_FILE_NAME}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-12">
                        <div data-ng-show="EmpDtlsForm_7.submitted && EmpDtlsForm_7.$invalid || EmpDtlsForm_7.submitted && EMP_WORK_PERMIT==null && !IS_WORK_PERMIT || EmpDtlsForm_7.submitted && EMP_WORK_PERMIT.length==0 && !IS_WORK_PERMIT" class="form-group has-error errormessage badge badge-light-red w-100 p-3">
                            <span class="help-block errormessageline"><i class="fa fa-exclamation-triangle"></i> - Please provide the mandatory details to submit(marked in red).</span>
                        </div>
                        <div id="divInvlidUser" class="hideshowdiv" data-ng-show="EmpDtlsForm_7.$valid">
                            <span class="help-block">{{InvalidUser}}</span>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group mt-3">
                            <button ng-click="POP_EMPLOYEE_STEP_FLAG();" class="btn btn-sm btn-wenodo">Save </button>
                            <button ng-click="VIEW_TAB_CLICK(7)" class="btn btn-sm btn-w-default">Cancel </button>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>

<div class="modal fade" id="EFFECTIVE_DATA">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Updates </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body custom-scrollbar height-400" ng-init="dateinputOpenDate('bottom')">
                <form id="EFFECTIVEForm" name="EFFECTIVEForm" novalidate>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Effective Date:*</label>
                            <input type="text"
                                   class="form-control dateinputOpenDate"
                                   autocomplete="off"
                                   name="EFFECTIVE_DATE"
                                   readonly
                                   placeholder="Select ..."
                                   ng-model="EFFECTIVE_SEARCH.EFFECTIVE_DATE"
                                   ng-value="EFFECTIVE_SEARCH.EFFECTIVE_DATE | date"
                                   required
                                   ng-class="{'error':EFFECTIVEForm.submitted && EFFECTIVEForm.EFFECTIVE_DATE.$error.required}" />
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Comments:</label>
                            <textarea rows="8"
                                      class="form-control "
                                      name="COMMENTS"
                                      ng-model="EFFECTIVE_SEARCH.COMMENTS"
                                      placeholder="Enter ..."
                                      ng-class="{'error':EFFECTIVEForm.submitted && EFFECTIVEForm.COMMENTS.$error.required}" />
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer justify-content-left">
                <button type="button" click-once  ng-click="POP_EMPLOYEE_STEP_FLAG('VIEW',7)"  class="btn btn-sm btn-wenodo">Save</button>
                <button type="button" class="btn btn-sm btn-w-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>