<div class="row edit-profile-header p-3">
    <div class="col-auto">
        <div class="item">
            <img ng-show="EmpSearch_HEADER.IMAGE_PATH==null" class="profile-user-img img-fluid img-circle org-img" src="../../dist/img/default-150x150.png" alt="User profile picture">
            <img ng-show="EmpSearch_HEADER.IMAGE_PATH!=null" class="profile-user-img img-fluid img-circle org-img" src="{{EmpSearch_HEADER.IMAGE_PATH}}" alt="User profile picture">
            <div class="image-upload">
                <label for="file-input">
                    <span class="edit-badge cursor-pointer"><i class="far fa-pen text-white"></i></span>
                </label>
             
                <input id="file-input" ng-files="getTheFilesImageUpload($files,5,5,EmpSearch_HEADER,EmpID)" name="file" type="file" />
            </div>
        </div>
    </div>
    <div class="col-md-4 mt-3">
        <h5 class="heading-text text-white mt-2">{{EmpSearch_HEADER.FIRST_NAME}} {{EmpSearch_HEADER.MIDDLE_NAME}} {{EmpSearch_HEADER.LAST_NAME}}</h5>
        <p class="text-white mb-0">{{EmpSearch_HEADER.POSITION_TITLE}}</p>
        <p class="text-white font-14" ng-show="EmpSearch_HEADER.TERMINATION_DATE==null">{{Employeesince}} {{EmpSearch_HEADER.START_DATE | date}} <span class="text-bold">{{EmployeeServices}}</span></p>
        <p class="text-white font-14 mb-0" ng-if="EmpSearch_HEADER.TERMINATION_DATE!=null">Termination Date:-{{EmpSearch_HEADER.TERMINATION_DATE | date}}</p>
        <p class="text-white font-14"  ng-if="EmpSearch_HEADER.TERMINATION_DATE!=null">Type:-<span   data-toggle="tooltip" data-placement="top" data-html="true" data-original-title="{{EmpSearch_HEADER.TERMINATION_COMMENTS}}"  class="text-bold">{{EmpSearch_HEADER.TERMINATION_REASONS_NAME}}</span></p> 
        <p class="text-white" ng-if="TERMINATION_DETAILS.length>0">You will be terminate on {{TERMINATION_DETAILS[0].TERMINATION_DATE | date}} 
            <a title="Discard" ng-click="POP_DISCARD_CHANGES(TERMINATION_DETAILS[0],1,1)"><i class="far fa-times text-danger"></i></a>
            <a title="Process" ng-click="POP_DISCARD_CHANGES(TERMINATION_DETAILS[0],2,1)"><i class="far fa-cogs text-green"></i></a>
        </p>
    </div>
    <div class="col-md-3 offset-md-3 font-14 lh-24">
        <p class="text-white mt-2 mb-0"><i class="fal fa-user-alt mr-3"></i>{{EmpSearch_HEADER.EMPLOYEE_NO}}</p>
        <p class="text-white mb-0" ng-show="EmpSearch_HEADER.CITY!=null "><i class="fal fa-map-marker-alt mr-3"></i> {{EmpSearch_HEADER.CITY=='' || EmpSearch_HEADER.CITY==null?'-':EmpSearch_HEADER.CITY}}</p>
        <p class="text-white mb-0"><i class="fal fa-envelope mr-3"></i>{{EmpSearch_HEADER.BUSINESS_EMAIL}}</p>
        <p class="text-white"><i class="fal fa-phone-volume mr-3"></i><!--{{EmpSearch_HEADER.MOBILE_CODE==''?'-':EmpSearch_HEADER.MOBILE_CODE}}-->{{EmpSearch_HEADER.MOBILE_NO=='' || EmpSearch_HEADER.MOBILE_NO==null?'-':EmpSearch_HEADER.MOBILE_NO}}</p>
    </div>
</div>
<div class="row">
    <div class="w-100">
        <ul class="nav nav-tabs justify-content-center bg-wenodo-tabs-blue" id="custom-content-above-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link " ng-class="{'active':STEP_FLAG==1,'':STEP_FLAG!=1}" ng-click="VIEW_TAB_CLICK(1)" id="custom-content-above-profile-tab" data-toggle="pill" role="tab" aria-controls="custom-content-above-profile" aria-selected="true">Profile</a>
            </li>
            <!--<li class="nav-item">
        <a class="nav-link " ng-class="{'active':STEP_FLAG==8,'':STEP_FLAG!=8}" ng-click="VIEW_TAB_CLICK(8)" id="custom-content-above-Contact-tab" data-toggle="pill" role="tab" aria-controls="custom-content-above-Contact" aria-selected="true">Position</a>
    </li>-->

            <li class="nav-item">
                <a class="nav-link " ng-class="{'active':STEP_FLAG==2,'':STEP_FLAG!=2}" ng-click="VIEW_TAB_CLICK(2)" id="custom-content-above-Contact-tab" data-toggle="pill" role="tab" aria-controls="custom-content-above-Contact" aria-selected="true">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ng-class="{'active':STEP_FLAG==3,'':STEP_FLAG!=3}" ng-click="VIEW_TAB_CLICK(3)" id="custom-content-above-employement-tab" data-toggle="pill" role="tab" aria-controls="custom-content-above-employment" aria-selected="false">Employment</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ng-class="{'active':STEP_FLAG==4,'':STEP_FLAG!=4}" ng-click="VIEW_TAB_CLICK(4)" id="custom-content-above-qualifications-tab" data-toggle="pill" role="tab" aria-controls="custom-content-above-qualifications" aria-selected="false">Qualifications</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ng-class="{'active':STEP_FLAG==5,'':STEP_FLAG!=5}" ng-click="VIEW_TAB_CLICK(5)" id="custom-content-above-compensation-tab" data-toggle="pill" role="tab" aria-controls="custom-content-above-compensation" aria-selected="false">Compensation</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ng-class="{'active':STEP_FLAG==6,'':STEP_FLAG!=6}" ng-click="VIEW_TAB_CLICK(6)" id="custom-content-above-leave-tab" data-toggle="pill" role="tab" aria-controls="custom-content-above-leave" aria-selected="false">Leave</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ng-class="{'active':STEP_FLAG==7,'':STEP_FLAG!=7}" ng-click="VIEW_TAB_CLICK(7)" id="custom-content-above-documents-tab" data-toggle="pill" role="tab" aria-controls="custom-content-above-documents" aria-selected="false">Documents</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " ng-class="{'active':STEP_FLAG==9,'':STEP_FLAG!=9}" ng-click="VIEW_TAB_CLICK(9)" id="custom-content-above-Contact-tab" data-toggle="pill" role="tab" aria-controls="custom-content-above-Contact" aria-selected="true">Other</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " ng-class="{'active':STEP_FLAG==11,'':STEP_FLAG!=11}" ng-click="VIEW_TAB_CLICK(11)" id="custom-content-above-Contact-tab" data-toggle="pill" role="tab" aria-controls="custom-content-above-Contact" aria-selected="true">History</a>
            </li>
            <li class="nav-item" ng-show="IS_EDITABLE_FLAG">
                <a class="nav-link " ng-class="{'active':STEP_FLAG==12,'':STEP_FLAG!=12}" ng-click="VIEW_TAB_CLICK(12)" id="custom-content-above-Contact-tab" data-toggle="pill" role="tab" aria-controls="custom-content-above-Contact" aria-selected="true">Notes</a>
            </li>
        </ul>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>