<div class="row">
    <templateurl class="w-100" template-url="../AngularViews/HR/ViewEmployee/HeaderDtls.html?v=124{{AppVersion}}">
</div>
<div class="card-body">
    <div class="col-md-12">
        <h5 class="heading-text-2 mt-3">History</h5>
    </div>
    <div class="clearfix"></div>
    <div class="text-center" ng-show="HISTORY_HEADERS_LIST.length==0" empty-grid>
    </div>
    <div class="table-responsive custom-scrollbar height-auto" ng-show="HISTORY_HEADERS_LIST.length>0">
        <table class="table table-striped">
            <thead class="bg-wenodo-dark-blue">
                <tr>
                    <th class="text-nowrap">Date</th>
                    <th class="text-nowrap">Modify By/Email</th>
                    <th>Tab Name</th>
                    <th width="3%"></th>
                </tr>
            </thead>
            <tbody ng-repeat="PPL in HISTORY_HEADERS_LIST" on-finish-render="ngRepeatFinished">
                <tr>
                    <td>{{PPL.ARCHIVE_DATE | date }}</td>
                    <td>{{PPL.USER_NAME}}<br />({{PPL.EMAIL}})</td>
                    <td>{{PPL.DISPLAY_NAME}}</td>
                    <td>
                        <a ng-click="HR_GET_HISTORY_DETAILS(PPL)" data-toggle="tooltip" data-html="true" data-original-title="Show History">
                            <i class="fad fa-history fa-lg"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
            <tfoot ng-show="GetDataHistory">
                <tr>
                    <td colspan="11" align="center">
                        <a class="btn btn-secondary text-white" ng-click="HR_GET_HISTORY_HEADERS_LAZY_LOAD()">{{VIEWMORERECORD}}</a>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
<div class="modal fade" id="POP_HISTORY">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">History</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body custom-scrollbar height-400">
                <div class="w-100" ng-repeat="LIST in [{'DATA':ViewHistoryEmpSearch_1}]" ng-include="'../AngularViews/CommonView/FormLabelHistoryView.html?v=33{{AppVersion}}'">
                </div>
            </div>
            <div class="modal-footer justify-content-left">
                <button type="button" class="btn btn-w-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>