<div class="row basic_details" ng-show="SHOW_USER_JR">
    <div class="col-xxl-12 col-ed-12 col-xl-12 bg-white">
        <div class="right-panel container-sm">
            <form id="UserJourneyform" name="UserJourneyform" novalidate>
                <div class="row">
                    <h4 class="heading-text">User Signup</h4>
                    <div class="col-xxl-6 col-xl-6 col-ed-6">
                        <label>First Name <span class="text-danger">*</span></label>
                        <input type="text"
                               ng-model="UserJrSearch.FIRST_NAME"
                               name="FIRST_NAME"
                               placeholder="{{PLACE_HOLDER}}"
                               required
                                onkeypress="return (event.charCode > 64 && eventcharCode < 91) || (event.charCode > 96  && eventcharCode < 123) || (event.charCode > 38 && event.charCode < 40) || event.charCode ===32"
                               ng-class="{'error':UserJourneyform.submitted && UserJourneyform.FIRST_NAME.$error.required}">
                    </div>
                    <div class="col-xxl-6 col-xl-6 col-ed-6">
                        <label>Last Name <span class="text-danger">*</span></label>
                        <input type="text"
                               ng-model="UserJrSearch.LAST_NAME"
                               name="LAST_NAME"
                               placeholder="{{PLACE_HOLDER}}"
                               required
                                onkeypress="return (event.charCode > 64 && eventcharCode < 91) || (event.charCode > 96  && eventcharCode < 123) || (event.charCode > 38 && event.charCode < 40) || event.charCode ===32"
                               ng-class="{'error':UserJourneyform.submitted && UserJourneyform.LAST_NAME.$error.required}">
                    </div>
                    <div class="col-xxl-6 col-xl-6 col-ed-6">
                        <label>Email <span class="text-danger">*</span></label>
                        <input type="email"
                               name="USER_EMAIL"
                               ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/"
                               ng-model="UserJrSearch.USER_EMAIL"
                               placeholder="{{PLACE_HOLDER}}"
                               autocomplete="off"
                               required
                               ng-class="{'error':UserJourneyform.submitted && UserJourneyform.USER_EMAIL.$error.required}">
                        <small class="text-danger" ng-show="UserJourneyform.USER_EMAIL.$dirty && UserJourneyform.USER_EMAIL.$error.pattern">Please Enter Valid Email</small>
                    </div>
                    <div class="col-xxl-6 col-xl-6 col-ed-6">
                        <label>Phone <span class="text-danger">*</span></label>
                        <span class="international-num w-100">
                            <input type="hidden" name="phone_number[full]">
                            <span class="row gx-0">
                                <span class="col-xxl-2 col-xl-2 col-md-2 ipad_int_columns">
                                    <input id="country"
                                           type="tel"
                                           name="PHONE"
                                         class="flag_input"
                                           ng-model="UserJrSearch.PHONE">
                                </span>
                                <span class="col-xxl-10 col-xl-10 col-md-10 ipad_int_numbers">
                                    <input
                                           type="tel"
                                           name="PHONE_TEXT"
                                           required
                                           placeholder="{{PLACE_HOLDER}}"
                                           ng-model="UserJrSearch.PHONE_TEXT"
                                            class="int_numbers"
                                           only-numbers
                                           ng-class="{'error':UserJourneyform.submitted && UserJourneyform.PHONE_TEXT.$error.required}">
                                </span>
                                </span>
                            </span>
                     </div>

                    <div class="col-xxl-6 col-xl-6 col-ed-6">
                        <label>Company Name <span class="text-danger">*</span></label>
                        <input type="text"
                               ng-model="UserJrSearch.COMPANY_NAME"
                               placeholder="{{PLACE_HOLDER}}"
                               name="COMPANY_NAME"
                               required
                               ng-class="{'error':UserJourneyform.submitted && UserJourneyform.COMPANY_NAME.$error.required}">
                    </div>
                    <div class="col-xxl-6 col-xl-6 col-ed-6">
                        <label class="d-block">Package <span class="text-danger">*</span></label>
                        <select ng-options="_p.PACKAGE_SUBSCRIPTION_MAPPING_ID as _p.NAME for _p in PACKAGE_LIST"
                                id="single-select-tagging"
                                style="width: 100%"
                                data-placeholder="Select Item"
                                data-minimum-results-for-search="0"
                                ng-model="UserJrSearch.PACKAGE_SUBSCRIPTION_MAPPING_ID"
                                data-value="id"
                                sc-single-select
                                ng-class="{'error':UserJourneyform.submitted && UserJourneyform.NO_OF_SITES.$error.required}">
                            <option value="">Choose</option>
                        </select>
                    </div>
                    <div class="col-xxl-6 col-ed-6 col-xl-6">
                        <label>No of Sites <span class="text-danger">*</span></label>
                        <input type="text"
                               ng-model="UserJrSearch.NO_OF_SITES"
                               placeholder="{{PLACE_HOLDER}}"
                               only-numbers
                               name="NO_OF_SITES"
                               required
                               ng-class="{'error':UserJourneyform.submitted && UserJourneyform.NO_OF_SITES.$error.required}">
                    </div>
                    <div class="col-xxl-6 col-ed-6 col-xl-6">
                        <label>No of Users <span class="text-danger">*</span></label>
                        <input type="text"
                               ng-model="UserJrSearch.NO_OF_USERS"
                               placeholder="{{PLACE_HOLDER}}"
                               only-numbers
                               required
                               ng-class="{'error':UserJourneyform.submitted && UserJourneyform.NO_OF_USERS.$error.required}"
                               name="NO_OF_USERS">
                    </div>
                </div>
            </form>
        </div>
        <div class="col-xxl-12 col-xl-12 col-ed-12 ">
            <div class="text-end border-top bottom_container">
                <button class="btn btn-primary"
                        ng-click="INS_UPD_SUBSCRIPTION()">
                    Save
                </button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#single-select-tagging").select2({
            minimumResultsForSearch: -1
        })
        $('.menu').niceScroll({
            cursorcolor: '#999999', // Changing the scrollbar color
            cursorwidth: 4, // Changing the scrollbar width
            cursorborder: 'none', // Rempving the scrollbar border
        });
        // when opening the sidebar
        $('.nav-icon').on('click', function () {
            // open sidebar
            $('.menu').toggleClass('open');
        });

        // if dismiss or overlay was clicked
        $('#dismiss').on('click', function () {
            $('#sidenav').removeClass('open');
        });
    });
    //$("#phone").intlTelInput({
    //    preferredCountries: ["us", "ca"],
    //    separateDialCode: true,
    //    initialCountry: ""
    //}).on('countrychange', function (e, countryData) {
    //    $("#code").val(($("#phone").intlTelInput("getSelectedCountryData").dialCode));

    //});
    var phone_number = window.intlTelInput(document.querySelector("#country"), {

        separateDialCode: true,
        preferredCountries: ["gb"],
        hiddenInput: "full",
        utilsScript: "https://cdn.jsdelivr.net/npm/intl-tel-input@18.1.0/build/js/utils.js",
    });

    //var input = document.querySelector("#country");
    //var iti = window.intlTelInput(input, {
    //    // separateDialCode:true,
    //    separateDialCode: true,
    //    preferredCountries: ["in"],
    //    hiddenInput: "full",
    //    utilsScript:
    //        "https://cdn.jsdelivr.net/npm/intl-tel-input@18.1.0/build/js/utils.js",
    //})
</script>
