<div class="card"  ng-show="THIS_APP_PAGE_COMPONENTS_LIST.length==0 && LOAD_APP_COMPONENTS==1">
    <div class="card-body">
        <div  empty-component></div>
    </div>
</div>
<div id="PRINT_SALES_SUMMARY" ng-show="THIS_APP_PAGE_COMPONENTS_LIST.length>0">
        <div class="container-fluid">
            <div class="row my-3" hidden>
                <div class="col-md-6 border-bottom">
                    <img src="{{LOGO_PATH}}" class="Print_Logo_start" alt="" />
                </div>
                <div class="col-md-6 border-bottom text-end">
                    <img src="../E_Content/images/logo.png" class="Print_Logo_end" alt="" />
                </div>
            </div>
            
        </div>
        <!-- Container-fluid starts-->

        <div class="row sticky_pi_header">
                <div class="col d-flex text-nowrap">
                    <h4>Sales Summary</h4>
                    <div class="mt-1 ms-2">
                        <blockquote class="blockquote bg-light-success py-0 mb-0 rounded">
                            <p class="mb-0 txt-dark">Date | {{Input_Model.START_DATE | date :'dd MMM yyyy'}} - {{Input_Model.END_DATE | date :'dd MMM yyyy'}}</p>
                        </blockquote>
                    </div>
                </div>
                <div class="col-2 ms-auto mobile-none print_pdf_doc">
                    <ul class="nav nav-pills" id="SITE_DDL">
                        <li class="dropdown w-100">
                            <a class="text-limitations cursor-pointer"
                               data-toggle="dropdown">
                                <span class="select-label" id="select_label">
                                    {{Input_Model.DISPLAY_TEXT_SITE}}
                                </span>
                            </a>
                            <ul ID="divNewNotifications" class="dropdown-menu  scrollbar-wrapper w-auto" style="min-width:100%">
                                <li ng-click="SITE_All_Fn()" class="DontHideOnClick">
                                    <i class="fa-regular fa-lg"
                                       ng-class="{'fa-square-check txt-success':(SITE_LIST | filter:{IS_CHECK:true}).length==SITE_LIST.length,'fa-square':(SITE_LIST | filter:{IS_CHECK:true}).length!=SITE_LIST.length}"></i>
                                    <span class="ms-2">All</span>
                                    <span ng-show="false"> {{  IS_ALL_SITE_CHECK=(SITE_LIST | filter:{IS_CHECK:true}).length==SITE_LIST.length?true:false}}</span>
                                </li>
                                <li ng-repeat="site in SITE_LIST" class="DontHideOnClick d-flex" ng-click="SITE_Fn(site,2)" on-finish-render="ngRepeatFinishedequalizerRender">
                                    <i class="fa-regular fa-lg mt-2" ng-class="{'fa-square-check txt-success':site.IS_CHECK,'fa-square':!site.IS_CHECK}"></i>
                                    <span class="truncate ms-2">{{site.Value}}</span>
                                </li>
                                <li class="sticky-bottom bg-white">
                                    <button ng-click="Fn_BLUR_SITES()" ng-show="APPLY_BTN_SHOW" class="btn btn-xs btn-primary">Apply</button>
                                    <button ng-click="RESET_SITES_Fn()" ng-show="APPLY_BTN_SHOW" class="btn btn-xs btn-light DontHideOnClick">Reset</button>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="col-2 mobile-none print_pdf_doc">
                    <ul class="nav nav-pills" id="CURRENCY_DDL">
                        <li class="dropdown w-100">
                            <a class="text-limitations custom-dropdown cursor-pointer" data-toggle="dropdown">
                                <span class="select-label" id="select_label">
                                    <span class="truncate">{{Input_Model.DISPLAY_TEXT_CURRENCY}}</span>
                                </span>
                            </a>
                            <ul ID="divNewNotifications" class="dropdown-menu w-100">
                                <li ng-repeat="currency in CURRENCY_LIST" ng-click="CURRENCY_Fn(currency)">
                                    {{currency.Value}}
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="col-3 mobile-none print_pdf_doc" id="DATEPICKER">
                    <div id="reportrange" class="form-control-box">
                        <span></span>
                        <i class="fa-regular fa-calendar float-end mt-1"></i>
                    </div>
                </div>
                <div class="col-auto mobile-none mt-2 print_pdf_doc" id="BUTTON_FILTER">
                    <a class="text-dark c-pointer" data-bs-toggle="tooltip"
                       data-bs-placement="top"
                       ng-click="PRINT_PDF_PAGE(1,'PRINT_SALES_SUMMARY','Sales_Summary')"
                       title="Print"><i class="fa-light fa-print fa-lg"></i></a>

                    <a class="text-dark ms-2 c-pointer" data-bs-toggle="tooltip"
                       ng-click="RESET_FILTER()"
                       data-bs-placement="top" title="Reset Data"><i class="fa-light fa-arrows-rotate fa-lg"></i></a>
                </div>
                <div class="col-auto ms-auto desktop-none print_pdf_doc">
                    <!--desktop-none-->
                    <a class="text-dark c-pointer" data-bs-toggle="modal" data-bs-target="#filter_popup"
                       data-bs-original-title="Filter" title="Filter"><i class="fa-light fa-filter fa-lg"></i></a>
                </div>
                <div class="col-sm-12 col-xl-12">
                    <div class="row">
                        <div class="col-xxl col-ed col-xl">
                            <h6 class="d-inline f-14">Selected Sites:</h6>
                            <span class="badge badge-light-primary sites-block" ng-repeat="site in SITE_LIST"
                                  ng-show="site.IS_APPLAY_CHECK">
                                {{site.Value}}
                                <span class="txt-primary"> {{site.DISPLAY_TEXT_CURRENCY}}</span>
                                <span ng-click="SITE_Fn(site,1)">
                                    <i class="fa-regular fa-times"></i>
                                </span>
                            </span>
                        </div>
                        <div class="col-xxl-auto col-ed-auto col-xl-auto">
                            <div class="media float-end">
                                <label class="col-form-label m-r-10">Gross</label>
                                <div class="media-body switch-md text-end">
                                    <label class="switch mb-0">
                                        <input type="checkbox"
                                               ng-change="NG_CHANGE_GROSS_NET()"
                                               ng-model="Input_Model.IS_GROSS_NET"><span class="switch-state bg-primary"></span>
                                    </label>
                                </div>
                                <label class="col-form-label m-l-10 notRequired">Net</label>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        
        <div class="container-fluid">

            <div class="row widget-grid">
                <div class="col-xxl-4 col-ed-4 col-xl-4 box-col-4" ng-repeat="Card_SalesSummary in Display_Model.Card_SalesSummaryList" on-finish-render="ngRepeatFinishedequalizerRender">
                    <div class="card widget-hover border-t-grey">
                        <div class="card-body">
                            <div class="widget-content d-block">
                                <h6 class="mb-2 f-14">
                                    {{Card_SalesSummary.TITLE}} <i class="fa-regular fa-info-circle ms-1 txt-primary" data-bs-toggle="tooltip" data-bs-original-title="Data presented is the aggregated value based on the period chosen."></i>
                                </h6>
                                <h4 class="txt-primary">{{Card_SalesSummary.CURRENT_VALUE}}</h4>
                                <div class="row fs-11">
                                    <div class="col-md-3 f-w-500 text-nowrap">
                                        LP <i class="fa-regular mx-1"
                                              ng-class="{'fa-arrow-up fa-rotate-success font-success':Card_SalesSummary.LP_PERCENT>=0,' fa-arrow-down fa-rotate-danger font-danger':Card_SalesSummary.LP_PERCENT<0}"></i><span class="txt-success"
                                                                                                                                                                                                                               ng-class="{'txt-success':Card_SalesSummary.LP_PERCENT>=0,'txt-danger':Card_SalesSummary.LP_PERCENT<0}">{{Card_SalesSummary.LP_PERCENT  | makePositive}}%</span>
                                    </div>
                                    <div class="col-md-3 f-w-500 text-nowrap text-center">
                                        LY <i class="fa-regular mx-1 "
                                              ng-class="{'fa-arrow-up fa-rotate-success font-success':Card_SalesSummary.LY_PERCENT>=0,'fa-arrow-down fa-rotate-danger font-danger':Card_SalesSummary.LY_PERCENT<0}"></i><span ng-class="{'txt-success':Card_SalesSummary.LY_PERCENT>=0,'txt-danger':Card_SalesSummary.LY_PERCENT<0}"> {{Card_SalesSummary.LY_PERCENT | makePositive}} % </span>
                                    </div>
                                    <div class="col-md-6 f-w-500 text-nowrap text-end" ng-show="Card_SalesSummary.SHOW_SALES_PERCENT">% of Sales: <span class="ms-1">{{Card_SalesSummary.SALES_PERCENT}}</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-xxl-2 col-ed-3 col-xl-2 col" ng-if="false">
                <div class="card crypto-main-card">
                    <div class="card-body">
                        <div class="deposit-wrap">
                            <h5>Highlight</h5>
                            <p class="my-2 fs-12 border-bottom"><i class="fa-light fa-lg fa-calendar"></i> Date: 20 Feb, 2024 </p>
                            <p class="my-2 fs-12 border-bottom"><i class="fa-light fa-lg fa-calendar-star"></i> Valentines Day </p>
                            <p class="my-2 fs-12 border-bottom"><i class="fa-light fa-lg fa-sun-bright"></i> 9<sup>o</sup> Sunny </p>
                            <p class="my-2 fs-12 border-bottom"><i class="fa-light fa-lg fa-coins"></i>  10,000 Sales </p>
                            <p class="my-2 fs-12 border-bottom"><i class="fa-light fa-lg fa-users"></i> 268 Cover</p>
                            <p class="my-2 fs-12 border-bottom"><i class="fa-light fa-lg fa-sack"></i>  1,258 SPH </p>
                            <p class="my-2 fs-12"><i class="fa-light fa-lg fa-stars"></i> Pizza </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xxl-4 col-ed-4 col-xl-4 box-col-4">
                    <div class="card height-equal box-col-6">
                        <div class="card-header card-no-border">
                            <div class="header-top">
                                <h5 class="txt-primary">{{Display_Model.SALES_TREND_SPLINE_LIST.TITLE}}</h5>
                            </div>
                        </div>
                        <div class="card-body pt-0">
                            <div class="growth-wrapper">
                                <div id="Sales_Trend_Spline"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-4 col-ed-4 col-xl-4 box-col-4">
                    <div class="card height-equal box-col-6">
                        <div class="card-header card-no-border">
                            <div class="header-top">
                                <h5 class="txt-primary">{{Display_Model.COVERSSPEND_LIST.TITLE}}</h5>
                            </div>
                        </div>
                        <div class="card-body pt-0">
                            <div class="growth-wrapper">
                                <div id="coversspend"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-4 col-ed-4 col-xl-4 box-col-4">
                    <div class="card height-equal box-col-6">
                        <div class="card-header card-no-border">
                            <div class="header-top">
                                <h5 class="txt-primary">{{Display_Model.CATEGORY_BREAKDOWN_LIST.TITLE}} <i class="fa-regular fa-info-circle ms-1" data-bs-toggle="tooltip" data-bs-original-title="Aggregated sales based on the category mapping done in control panel where ePOS categories are mapped to standard categories such as Food, Drinks and others."></i></h5>
                            </div>
                        </div>
                        <div class="card-body pt-0">
                            <div class="growth-wrapper">
                                <div id="Category_Breakdown"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div class="modal fade" id="filter_popup" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenter1" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Filters</h5>
                <button class="btn-close py-0" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <div class="mb-3">
                            <ul class="nav nav-pills">
                                <li class="dropdown w-100">
                                    <a class="text-limitations cursor-pointer"
                                       data-toggle="dropdown">
                                        <span class="select-label" id="select_label">
                                            {{Input_Model.DISPLAY_TEXT_SITE}}
                                        </span>
                                    </a>
                                    <ul ID="divNewNotifications" class="dropdown-menu w-auto" style="min-width:100%">
                                        <li ng-click="SITE_All_Fn()" class="DontHideOnClick">
                                            <i class="fa-regular fa-lg"
                                               ng-class="{'fa-square-check txt-success':(SITE_LIST | filter:{IS_CHECK:true}).length==SITE_LIST.length,'fa-square':(SITE_LIST | filter:{IS_CHECK:true}).length!=SITE_LIST.length}"></i>
                                            <span class="fs-12">All</span>
                                            <span ng-show="false"> {{  IS_ALL_SITE_CHECK=(SITE_LIST | filter:{IS_CHECK:true}).length==SITE_LIST.length?true:false}}</span>
                                        </li>
                                        <li ng-repeat="site in SITE_LIST" class="DontHideOnClick text-nowrap" ng-click="SITE_Fn(site,2)">
                                            <i class="fa-regular fa-lg" ng-class="{'fa-square-check txt-success':site.IS_CHECK,'fa-square':!site.IS_CHECK}"></i>
                                            <span class="fs-12">{{site.Value}}</span>
                                        </li>
                                        <li class="sticky-bottom bg-white float-end">
                                            <button ng-click="Fn_BLUR_SITES()" ng-show="APPLY_BTN_SHOW" class="btn btn-xs btn-primary">Apply</button>
                                            <button ng-click="RESET_SITES_Fn()" ng-show="APPLY_BTN_SHOW" class="btn btn-xs btn-light DontHideOnClick">Reset</button>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="mb-3">
                            <ul class="nav nav-pills">
                                <li class="dropdown w-100">
                                    <a class="text-limitations custom-dropdown cursor-pointer" data-toggle="dropdown">
                                        <span class="select-label" id="select_label">
                                            {{Input_Model.DISPLAY_TEXT_CURRENCY}}
                                        </span>
                                    </a>
                                    <ul ID="divNewNotifications" class="dropdown-menu w-100">
                                        <li ng-repeat="currency in CURRENCY_LIST" ng-click="CURRENCY_Fn(currency)">
                                            {{currency.Value}}
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="mb-3">
                            <div id="reportrangeIpad" class="custom-select form-control">
                                <span></span>
                                <i class="fa-regular fa-calendar float-end mt-1"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-center">
                <button class="btn btn-light" type="button" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>