<div class="card-header">
    <h5 class="heading-text-2">View</h5>
    <div class="card-tools">
        <ul class="nav nav-pills ml-auto">
            <li class="nav-item">
                <a class="btn btn-wenodo" ng-click="REDIRECTION_PAGE('Budget_Index',CHECK_MODULE_ACCESS(52,1));">Back</a>
            </li>
        </ul>
    </div>
</div>
<form id="ViewBudgerForm" name="ViewBudgerForm" novalidate ng-init="GET_BRANCH_BUDGETS();">
    <div class="card-header">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>Entity:</label>
                    <select class="custom-select"
                            name="ENTITY_ID"
                            ng-model="BudgetSearch.ENTITY_ID"
                            ng-options="EL.ENTITY_ID as EL.ENTITY_NAME for EL in ENTITY_LIST"
                            ng-change="ADMIN_GET_BRANCH_VIEW();"
                            ng-class="{'error':ViewBudgerForm.submitted && ViewBudgerForm.ENTITY_ID.$error.required}">
                        <option value="">- Please Select Entity-</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Branch:</label>
                    <select class="custom-select"
                            name="BRANCH_ID"
                            ng-model="BudgetSearch.BRANCH_ID"
                            ng-options="CL.BRANCH_ID as CL.BRANCH_NAME for CL in BRANCH_LIST_VIEW"
                            ng-class="{'error':ViewBudgerForm.submitted && ViewBudgerForm.BRANCH_ID.$error.required}">
                        <option value="">- Please Select Branch-</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4" ng-init="$parent.dateinputOpenDate()">
                <div class="form-group">
                    <label>Start Date:</label>
                    <input type="text"
                           class="form-control dateinputOpenDate"
                           autocomplete="off"
                           name="ReportSearch.START_DATE"
                           readonly
                           placeholder="Select ..."
                           ng-model="BudgetSearch.START_DATE"
                           ng-value="BudgetSearch.START_DATE | date"
                           ng-class="{'error':ViewBudgerForm.submitted && ViewBudgerForm.START_DATE.$error.required}" />
                </div>
            </div>
            <div class="col-md-4">
                <label class="d-block">End Date:</label>
                <input type="text"
                       class="form-control dateinputOpenDate"
                       autocomplete="off"
                       name="ReportSearch.END_DATE"
                       readonly
                       placeholder="Select ..."
                       ng-model="BudgetSearch.END_DATE"
                       ng-value="BudgetSearch.END_DATE | date"
                       ng-class="{'error':ViewBudgerForm.submitted && ViewBudgerForm.END_DATE.$error.required}" />
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Category Name:</label>
                    <input type="text"
                           class="form-control"
                           maxlength="250"
                           name="CATEGORY_NAME"
                           ng-model="BudgetSearch.CATEGORY_NAME"
                           ng-class="{'error':ViewBudgerForm.submitted && ViewBudgerForm.CATEGORY_NAME.$error.required}" />
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div data-ng-show="LocForm.submitted && LocForm.$invalid" class="form-group has-error errormessage badge badge-light-red w-100 p-3">
                <span class="help-block errormessageline"><i class="fa fa-exclamation-triangle"></i> - Please provide the mandatory details to submit(marked in red).</span>
            </div>
            <div id="divInvlidUser" class="hideshowdiv" data-ng-show="LocForm.$valid">
                <span class="help-block">{{InvalidUser}}</span>
            </div>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="form-group">
                    <!--<button ng-click="test()" class="btn btn-wenodo">Save</button>-->
                    <button ng-click="GET_BRANCH_BUDGETS(1)" class="btn btn-wenodo">Search</button>
                    <button ng-click="RESET_VIEW()" class="btn btn-w-default">Reset</button>
                </div>
            </div>
        </div>
    </div>
</form>
<div class="card-body">
    <div class="text-center" ng-show="BudgetSearch.VIEW_BRANCH_BUDGETS.length==0" empty-grid>
    </div>

    <div class="table-responsive custom-scrollbar height-450" ng-show="BudgetSearch.VIEW_BRANCH_BUDGETS.length>0">
        <table class="table table-striped table-head-fixed" id="LOADER_ID">
            <thead class="bg-wenodo-dark-blue">
                <tr>
                    <th class="text-nowrap">Entity Name</th>
                    <th class="text-nowrap">Location Name</th>
                    <th class="text-nowrap">Category</th>
                    <th class="text-nowrap">Budget</th>
                    <th class="mw-300">Covers</th>
                    <th class="mw-300">Forecasted Sales</th>
                    <th class="mw-300">Forecasted Covers</th>
                    <th class="text-nowrap">Creation Date</th>
                    <th class="headcol-right-header"></th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <td colspan="10" align="center" ng-show="GetData">
                        <a class="btn btn-secondary text-white" ng-click="LAZY_GET_BRANCH_BUDGETS()">{{VIEWMORERECORD}}</a>
                    </td>
                </tr>
            </tfoot>
            <tbody ng-repeat="LL in BudgetSearch.VIEW_BRANCH_BUDGETS" on-finish-render="ngRepeatFinished">
                <tr>
                    <td> {{LL.ENTITY_NAME}}</td>
                    <td>{{LL.BRANCH_NAME}}</td>
                    <td>{{LL.CATEGORY_NAME}}</td>
                    <td>{{LL.BUDGET}}</td>
                    <td>{{LL.COVERS}}</td>
                    <td>{{LL.FORCASTED_SALES}}</td>
                    <td>{{LL.FORCASTED_COVERS}}</td>
                    <td>{{LL.BUDGET_DATE | date}}</td>
                    <td class="headcol-right">
                        <!--<a ng-click="EDIT_INS_UPD_LOCATION(LL)" data-toggle="tooltip" data-html="true" data-original-title="Edit"><i class="fad fa-edit fa-lg text-green"></i></a>-->
                        <!--  <a ng-click="DELETE_INS_UPD_LOCATION(LL)"><i class="fal fa-trash-alt fa-lg text-danger"></i></a>-->
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
