<div class="row align-items-center" style="height:80vh" ng-show="!LINK_EXPIRE_FLAG && PAGE_LOAD==1">
    <div class="col-xxl-6 col-ed-6 col-xl-6 text-center">
        <h4 class="heading-text d-block mb-2">Link is not valid any more!</h4>
        <p>Oops this invite URL is not valid anymore.</p>
        <a href="../Login/Index" type="button" class="btn btn-primary">Take me home</a>
    </div>
    <div class="col-xxl-6 col-ed-6 col-xl-6 text-center">
        <a href="../Login/Index">
            <img src="../../../E_Content/images/rota-login.png" class="img-fluid" style="max-height:500px" />
        </a>
    </div>
</div>
<div class="row basic_details" ng-show="LINK_EXPIRE_FLAG && PAGE_LOAD==1">
    <!-- sidebar -->
    <div class="col-xxl-2 col-md-2 col-xl-2">
        <div class="app">
            <templateurl class="w-100" template-url="../AngularViews/HumanResource/Invite_Applicant/Invite_Applicant_Side_Pannel.html?v=1{{AppVersion}}">
        </div>
    </div>
    <!-- content side -->
    <div class="col-xxl-10 col-md-10 col-xl-10 bg-white">
        <div class="right-panel container-sm">
            <form name="InvitePersonalDetailsForm" novalidate>
                <div class="row">
                    <h4 class="heading-text text-start">Step 1: Add your Personal Details</h4>
                    <div class="col-xxl-auto col-md-auto col-xl-auto">
                        <div class="confirm-identity">
                            <div class="ci-user-picture">
                                <img src="../E_Content/images/HR/blank.png"
                                     ng-show="InvitePersonalDetails.PROFILE_PIC_PATH==null"
                                     class="image-preview-user bg-user-circle" alt="">
                                <img src="..{{InvitePersonalDetails.PROFILE_PIC_PATH}}"
                                     id="item-img-output"
                                     ng-show="InvitePersonalDetails.PROFILE_PIC_PATH!=null"
                                     class="image-preview-user bg-user-circle" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl col-md col-xl">
                        <p class="logo-font">Profile Picture</p>
                        <div class="row g-1">
                            <div class="col-xxl-auto col-xl-auto col-md-auto">
                                <a href="javascript:;"
                                   class="btn btn-primary">
                                    <!--<input type="file"
           class="item-img filepreviewprofile">
    <i class="fa-light fa-plus me-2"></i> Choose Image-->
                                    <input type="file" id="imageInput"
                                           class="item-img filepreviewprofile c-pointer"
                                           accept="image/*"
                                           onchange="angular.element(this).scope().uploadImage(event)" />
                                    <span class="c-pointer"><i class="fa-light fa-plus me-2"></i> Choose Image</span>


                                </a>
                            </div>
                            <div class="col-xxl-auto col-xl-auto col-md-auto">
                                <button type="button"
                                        ng-click="REMOVE_PROFILE_IMG()"
                                        ng-disabled="InvitePersonalDetails.PROFILE_PIC_PATH==null"
                                        class="btn btn-light ms-2">
                                    <i class="fa-light fa-trash"></i> Remove
                                </button>
                            </div>
                        </div>
                            <p class="mt-2" ng-show="false">*.png, .jpeg files only (limit 10MB)</p>
                        </div>

                </div>


                <div class="row">
                    <div class="col-xxl-6 col-xl-6 col-md-6">
                        <div class="mt-4">
                            <label>First Name<span class="txt-danger">*</span></label>
                            <input type="text"
                                   name="FIRST_NAME"
                                   maxlength="100"
                                   placeholder={{PlaceHolderText}}
                                   ng-model="InvitePersonalDetails.FIRST_NAME"
                                   required
                                    onkeypress="return (event.charCode > 64 && eventcharCode < 91) || (event.charCode > 96  && eventcharCode < 123) || (event.charCode > 38 && event.charCode < 40) || event.charCode ===32"
                                   ng-class="{'error':InvitePersonalDetailsForm.submitted && InvitePersonalDetailsForm.FIRST_NAME.$error.required}" />
                        </div>
                    </div>
                    <div class="col-xxl-6 col-xl-6 col-md-6">
                        <div class="mt-4">
                            <label>Last Name<span class="txt-danger">*</span></label>
                            <input type="text"
                                   name="LAST_NAME"
                                   maxlength="100"
                                   placeholder={{PlaceHolderText}}
                                   ng-model="InvitePersonalDetails.LAST_NAME"
                                   required
                                    onkeypress="return (event.charCode > 64 && eventcharCode < 91) || (event.charCode > 96  && eventcharCode < 123) || (event.charCode > 38 && event.charCode < 40) || event.charCode ===32"
                                   ng-class="{'error':InvitePersonalDetailsForm.submitted && InvitePersonalDetailsForm.LAST_NAME.$error.required}" />
                        </div>
                    </div>

                    <div class="col-xxl-6 col-xl-6 col-md-6">
                        <div class="mt-4">
                            <label>Known as<span class="txt-danger">*</span></label>
                            <input type="text"
                                   name="KNOWN_AS"
                                   placeholder={{PlaceHolderText}}
                                   maxlength="100"
                                   required
                                   ng-model="InvitePersonalDetails.KNOWN_AS"
                                   ng-class="{'error':InvitePersonalDetailsForm.submitted && InvitePersonalDetailsForm.KNOWN_AS.$error.required}" />
                        </div>
                    </div>

                
                    <div class="col-xxl-6 col-xl-6 col-md-6 mt-4">
                        <label>Works at<span class="txt-danger">*</span></label>
                        <input type="hidden"
                               name="BRANCH_NAME"
                               required
                               ng-model="InvitePersonalDetails.BRANCH_ID"
                               ng-class="{'error':InvitePersonalDetailsForm.submitted && InvitePersonalDetailsForm.BRANCH_NAME.$error.required}" />

                        <ul class="nav nav-pills" ng-class="{'error':InvitePersonalDetailsForm.submitted && InvitePersonalDetailsForm.BRANCH_NAME.$error.required}">
                            <li class="dropdown w-100 show">
                                <a class="text-limitations cursor-pointer disabled" data-toggle="dropdown" aria-expanded="true">
                                    <span class="select-label" id="select_label">
                                        {{InvitePersonalDetails.CUSTOM_BRANCH_NAME}}
                                    </span>
                                </a>
                                <ul id="divNewNotifications" class="dropdown-menu scrollbar-wrapper w-100">
                                    <li class=""
                                        ng-show="InvitePersonalDetails.DD_DEFAULT_TEXT != InvitePersonalDetails.CUSTOM_BRANCH_NAME"
                                        ng-click="SELECTED_BRANCH_Fn('')">{{InvitePersonalDetails.DD_DEFAULT_TEXT}}</li>
                                    <li class=""
                                        ng-repeat="_branch in BRANCH_DROPDOWN"
                                        ng-click="SELECTED_BRANCH_Fn(_branch,InvitePersonalDetails)">
                                        <span class="">{{_branch.BRANCH_NAME}}</span>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>

                    <div class="col-xxl-6 col-xl-6 col-md-6 mt-4">
                        <label>Gender <span class="text-danger">*</span></label>
                        <input type="hidden"
                               name="GENDER_ID"
                               placeholder={{PlaceHolderText}}
                               ng-model="InvitePersonalDetails.GENDER_ID"
                               required
                               ng-class="{'error':InvitePersonalDetailsForm.submitted && InvitePersonalDetailsForm.GENDER_ID.$error.required}" />
                        <ul class="nav nav-pills" ng-class="{'error':InvitePersonalDetailsForm.submitted && InvitePersonalDetailsForm.GENDER_ID.$error.required}">
                            <li class="dropdown w-100 show">
                                <a class="text-limitations cursor-pointer" data-toggle="dropdown" aria-expanded="true">
                                    <span class="select-label" id="select_label">
                                        {{InvitePersonalDetails.CUSTOM_GENDER_NAME}}
                                    </span>
                                </a>
                                <ul id="divNewNotifications" class="dropdown-menu scrollbar-wrapper  w-100">
                                    <li class=""
                                        ng-show="InvitePersonalDetails.DD_DEFAULT_TEXT!=InvitePersonalDetails.CUSTOM_GENDER_NAME"
                                        ng-click="SELECTED_GENDER_Fn('')">{{InvitePersonalDetails.DD_DEFAULT_TEXT}}</li>
                                    <li class=""
                                        ng-click="SELECTED_GENDER_Fn(_gender)"
                                        ng-repeat="_gender in GENDER_LIST">
                                        <span class="">{{_gender.GENDER}}</span>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xxl-6 col-xl-6 col-md-6 mt-4">
                        <label>Date of Birth<span class="text-danger">*</span>{{DATE_FORMATE_LABEL}}</label>
                        <div class="date-column">
                            <input type="text"
                                   class="dateofbirth"
                                   name="DOB"
                                   autocomplete="off"
                                   ng-model="InvitePersonalDetails.DOB"
                                   placeholder={{PlaceHolderText}}
                                   required
                                   ng-class="{'error':InvitePersonalDetailsForm.submitted && InvitePersonalDetailsForm.DOB.$error.required}" />
                            <i class="date-icon fa-light fa-calendar" aria-hidden="true"></i>
                        </div>
                    </div>

                    <div class="col-xxl-12 col-xl-12 col-md-12 mt-4" ng-init="$parent.dateinputdateofbirth()">
                        <label>Nationality <span class="text-danger">*</span></label>
                        <input type="hidden"
                               name="NATIONALITY_ID"
                               placeholder={{PlaceHolderText}}
                               ng-model="InvitePersonalDetails.NATIONALITY_ID"
                               required
                               ng-class="{'error':InvitePersonalDetailsForm.submitted && InvitePersonalDetailsForm.NATIONALITY_ID.$error.required}" />
                        <ul class="nav nav-pills" ng-class="{'error':InvitePersonalDetailsForm.submitted && InvitePersonalDetailsForm.NATIONALITY_ID.$error.required}">
                            <li class="dropdown w-100 show">
                                <a class="text-limitations cursor-pointer" ng-class="{'disabled':EDIT_MODE}" data-toggle="dropdown" aria-expanded="true">
                                    <span class="select-label" id="select_label">
                                        {{InvitePersonalDetails.CUSTOM_NATIONALITY_NAME}}
                                    </span>
                                </a>
                                <ul id="divNewNotifications" class="dropdown-menu scrollbar-wrapper  w-100">
                                    <li class="DontHideOnClick sticky-top bg-white">
                                        <input type="text"
                                               placeholder="Search"
                                               ng-model="InvitePersonalDetails.DISPLAY_NATIONALITY_TEXT_SEARCH" class="mb-1" />
                                    </li>
                                    <li class=""
                                        ng-show="InvitePersonalDetails.DD_DEFAULT_TEXT!=InvitePersonalDetails.CUSTOM_NATIONALITY_NAME"
                                        ng-click="SELECTED_NATIONALITY_Fn('')">{{InvitePersonalDetails.DD_DEFAULT_TEXT}}</li>
                                    <li class=""
                                        ng-click="SELECTED_NATIONALITY_Fn(_nationality)"
                                        ng-repeat="_nationality in NATIONALITY_LIST | filter:{NATIONALITY : InvitePersonalDetails.DISPLAY_NATIONALITY_TEXT_SEARCH}">
                                        <span class="">{{_nationality.NATIONALITY}}</span>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>
<!-- previous next buttons -->
<div class="col-xxl-12 col-xl-12 col-md-12 " ng-show="LINK_EXPIRE_FLAG && PAGE_LOAD==1">
    <div class="text-end border-top bottom_container">
        <button class="btn btn-primary"
                click-once
                ng-click="HRM_INS_UPD_ONBOARDING_STEP_1(2)">
            Next
        </button>
    </div>
</div>
<style>
    .cropper-container {
        width: 600px;
        height: 600px;
        border-radius: 100%;
        overflow: hidden;
        position: relative;
        margin: auto;
        max-height: 600px; /* Set the fixed height for the container */
        max-width: 600px; /* Set the fixed height for the container */
        overflow: hidden; /* Hide overflowing content */
    }
    #image {
        max-width: 100%;
    }

    #cropImageModal .modal-body {
        min-height: 400px;
        max-height: 400px;
    }

    .imgdiv {
        max-height: 300px !important;
        max-width: 300px !important;
    }

    #profilePicture {
        margin-top: 50px;
        border: 1px solid red;
        min-height: 250px;
        min-width: 250px;
        max-height: 250px;
        max-width: 250px;
    }

    .cropper {
        max-width: 100%;
    }
</style>
<div class="modal fade cropImageModal" id="cropImagePop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Update Profile Photo</h3>
                <button class="btn-close py-0" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-0">
                <div class="img-container"><img id="image" ng-src="{{imageSrc}}" /></div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="setMoveLeftMode()"><span class="fa fa-arrow-left" aria-hidden="true"></span> </button>
                <button class="btn btn-primary" ng-click="setCropRightMode()"><span class="fa fa-arrow-right" aria-hidden="true"></span> </button>
                <button class="btn btn-primary" ng-click="setMoveUpMode()"><span class="fa fa-arrow-up" aria-hidden="true"></span> </button>
                <button class="btn btn-primary" ng-click="setCropDownMode()"><span class="fa fa-arrow-down" aria-hidden="true"></span> </button>
                <button class="btn btn-primary" ng-click="ScaleModeX()"><span class="fa fa-arrows-alt-h" aria-hidden="true"></span> </button>
                <button class="btn btn-primary" ng-click="ScaleModeY()"><span class="fa fa-arrows-alt-v" aria-hidden="true"></span> </button>
                <button class="btn btn-primary" ng-click="zoomIn()"><span class="fa fa-search-plus" aria-hidden="true"></span> </button>
                <button class="btn btn-primary" ng-click="zoomOut()"><span class="fa fa-search-minus" aria-hidden="true"></span></button>
                <button type="button" class="btn btn-primary" ng-click="cropImage()">Save Photo</button>
                <button type="button" class="btn btn-default btn-light replacePhoto" ng-click="CLOSE_UPLOAD_Fn()" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
