<div class="row align-items-center" style="height:80vh" ng-show="!LINK_EXPIRE_FLAG && PAGE_LOAD==1">
    <div class="col-xxl-6 col-ed-6 col-xl-6 text-center">
        <h4 class="heading-text d-block mb-2">Link is not valid any more!</h4>
        <p>Oops this invite URL is not valid anymore.</p>
        <a href="../Login/Index" type="button" class="btn btn-primary">Take me home</a>
    </div>
    <div class="col-xxl-6 col-ed-6 col-xl-6 text-center">
        <a href="../Login/Index">
            <img src="../../../E_Content/images/rota-login.png" class="img-fluid" style="max-height:500px" />
        </a>
    </div>
</div>
<div class="row basic_details" ng-show="LINK_EXPIRE_FLAG && PAGE_LOAD==1">
    <!-- sidebar -->
    <div class="col-xxl-2 col-md-2 col-xl-2">
        <div class="app">
            <templateurl class="w-100" template-url="../AngularViews/HumanResource/Invite_Applicant/Invite_Applicant_Side_Pannel.html?v=1{{AppVersion}}">
        </div>
    </div>

    <!-- content side -->
    <div class="col-xxl-10 col-md-10 col-xl-10 bg-white">
        <div class="right-panel container-sm">
            <form name="InviteContactDetailsForm" novalidate>
                <div class="row ">
                    <h4 class="heading-text text-start">Step 2: Add your Contact Details</h4>

                    <div class="col-xxl-6 col-md-6 col-xl-6">
                        <label>Email <span class="txt-danger">*</span></label>
                        <input type="email"
                               placeholder="Type here"
                               ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/"
                               id="EMAIL"
                               name="EMAIL"
                               autocomplete="off"
                               required
                               maxlength="100"
                               ng-model="InviteContactDetails.EMAIL"
                               ng-class="{'error':InviteContactDetailsForm.submitted && InviteContactDetailsForm.EMAIL.$error.required}">
                        <small class="text-danger" ng-show="InviteContactDetailsForm.EMAIL.$dirty && InviteContactDetailsForm.EMAIL.$error.pattern">Please Enter Valid Email</small>
                    </div>

                    <div class="col-xxl-6 col-md-6 col-xl-6">
                        <label>Mobile Phone<span class="txt-danger">*</span></label>

                        <span class="international-num w-100" id="primaryphonespan">
                            <input type="hidden" name="primary_phone_number[full]">
                            <span class="row gx-0">
                                <span class="col-xxl-3 col-xl-2 col-md-2">
                                    <input id="primaryphone"
                                           type="tel"
                                           name="PRIMARY_PHONE"
                                           maxlength="15"
                                           only-numbers
                                           class="flag_input"
                                           ng-model="InviteContactDetails.PRIMARY_PHONE">
                                </span>
                                <span class="col-xxl-9 col-xl-10 col-md-10">
                                    <input type="tel"
                                           name="PRIMARY_PHONE_TEXT"
                                           maxlength="15"
                                           required
                                           placeholder="Type here"
                                           only-numbers
                                           class="int_numbers"
                                           ng-model="InviteContactDetails.PRIMARY_PHONE_TEXT" ng-pattern="/(^[1-9]\d{0,15}$)/"
                                           ng-class="{'error':InviteContactDetailsForm.submitted && InviteContactDetailsForm.PRIMARY_PHONE_TEXT.$error.required}">
                                </span>
                                <span class="f-11 text-danger" ng-show="InviteContactDetailsForm.PRIMARY_PHONE_TEXT.$dirty && InviteContactDetailsForm.PRIMARY_PHONE_TEXT.$error.pattern">
                                    Please enter valid number should not be start a number 0.
                                </span>
                            </span>
                            </span>
                    </div>
                    <div class="col-xxl-12 col-md-12 col-xl-12">
                        <label>Address line 1<span class="txt-danger">*</span></label>
                        <input type="text"
                               name="ADDRESS_LINE1"
                               placeholder="Type here"
                               ng-model="InviteContactDetails.ADDRESS_LINE1"
                               required
                               maxlength="250"
                               ng-class="{'error':InviteContactDetailsForm.submitted && InviteContactDetailsForm.ADDRESS_LINE1.$error.required}" />
                    </div>
                    <div class="col-xxl-12 col-md-12 col-xl-12">
                        <label>Address line 2 <span class="txt-danger">*</span></label>
                        <input type="text"
                               name="ADDRESS_LINE2"
                               placeholder="Type here"
                               ng-model="InviteContactDetails.ADDRESS_LINE2"
                               required
                               maxlength="250"
                               ng-class="{'error':InviteContactDetailsForm.submitted && InviteContactDetailsForm.ADDRESS_LINE2.$error.required}" />
                       
                    </div>
                    <div ng-class="{'col-xxl-6 col-md-6 col-xl-6':InviteContactDetails.SHOW_HIDE_COUNTY == true, 'col-xxl-12 col-md-12 col-xl-12':InviteContactDetails.SHOW_HIDE_COUNTY == false}">
                        <label>Country <span  class="text-danger">*</span></label>
                        <input type="hidden"
                               name="COUNTRY_ID"
                               placeholder="Type here"
                               required
                               ng-model="InviteContactDetails.COUNTRY_ID"
                               ng-class="{'error':InviteContactDetailsForm.submitted && InviteContactDetailsForm.COUNTRY_ID.$error.required}" />

                        <ul class="nav nav-pills" ng-class="{'error':InviteContactDetailsForm.submitted && InviteContactDetailsForm.COUNTRY_ID.$error.required}">
                            <li class="dropdown w-100 show">
                                <a class="text-limitations cursor-pointer" data-toggle="dropdown" aria-expanded="true">
                                    <span class="select-label" id="select_label">
                                        {{InviteContactDetails.CUSTOM_COUNTRY_NAME}}
                                    </span>
                                </a>
                                <ul id="divNewNotifications" class="dropdown-menu scrollbar-wrapper  w-100">
                                    <li class="DontHideOnClick sticky-top bg-white">
                                        <input type="text"
                                               placeholder="Search"
                                               ng-model="InviteContactDetails.DISPLAY_COUNTRY_TEXT_SEARCH" class="mb-1" />
                                    </li>
                                    <li class=""
                                        ng-show="InviteContactDetails.DD_DEFAULT_TEXT!=InviteContactDetails.CUSTOM_COUNTRY_NAME"
                                        ng-click="SELECTED_COUNTRY_Fn('')">{{InviteContactDetails.DD_DEFAULT_TEXT}}</li>
                                    <li class=""
                                        ng-click="SELECTED_COUNTRY_Fn(_country)"
                                        ng-repeat="_country in NATIONALITY_LIST | filter:{COUNTRY_NAME : InviteContactDetails.DISPLAY_COUNTRY_TEXT_SEARCH}">
                                        <span class="">{{_country.COUNTRY_NAME}}</span>
                                    </li>
                                </ul>
                            </li>
                        </ul>

                    </div>
                    <div class="col-xxl-6 col-md-6 col-xl-6" ng-show="InviteContactDetails.SHOW_HIDE_COUNTY">
                        <label>{{InviteContactDetails.COUNTY_NAME}} <span class="text-danger" ng-show="false && InviteContactDetails.SHOW_HIDE_COUNTY">*</span></label>
                        <!--ng-required="InviteContactDetails.SHOW_HIDE_COUNTY"-->
                        <input type="text"
                               name="COUNTY"
                               placeholder="Type here"
                               ng-model="InviteContactDetails.COUNTY"
                               maxlength="100"
                               ng-class="{'error':InviteContactDetailsForm.submitted && InviteContactDetailsForm.COUNTY.$error.required}" />
                    </div>

                    <div class="col-xxl-6 col-md-6 col-xl-6">
                        <label>City<span class="txt-danger">*</span></label>
                        <input type="text"
                               name="CITY"
                               placeholder="Type here"
                               ng-model="InviteContactDetails.CITY"
                               only-alfa
                               required
                               maxlength="100"
                               ng-class="{'error':InviteContactDetailsForm.submitted && InviteContactDetailsForm.CITY.$error.required}" />
                    </div>
                    <div class="col-xxl-6 col-md-6 col-xl-6">
                        <label>{{InviteContactDetails.POST_CODE_NAME}} <span class="txt-danger" ng-show="InviteContactDetails.COUNTRY_ID==225">*</span></label>
                        <input type="text"
                               name="POSTAL_CODE"
                               placeholder="Type here"
                               ng-model="InviteContactDetails.POSTAL_CODE"
                               ng-required="InviteContactDetails.COUNTRY_ID==225"
                               ng-pattern="InviteContactDetails.COUNTRY_ID==225?InviteContactDetails.UK_PINCODE_REG_X:(InviteContactDetails.COUNTRY_ID==224?InviteContactDetails.GCC_PINCODE_REG_X:(InviteContactDetails.COUNTRY_ID==226?InviteContactDetails.US_PINCODE_REG_X:''))"
                               maxlength="9"                               
                               ng-class="{'error':InviteContactDetailsForm.submitted && InviteContactDetailsForm.POSTAL_CODE.$error.required || _entity.entityform.POSTAL_CODE.$error.pattern}" />
                        <small class="text-danger" ng-show="InviteContactDetailsForm.POSTAL_CODE.$error.pattern && InviteContactDetails.COUNTRY_ID==225">Post code not valid.</small>
                        <small class="text-danger" ng-show="InviteContactDetailsForm.POSTAL_CODE.$error.pattern && InviteContactDetails.COUNTRY_ID==224">Po.Box not valid.</small>
                        <small class="text-danger" ng-show="InviteContactDetailsForm.POSTAL_CODE.$error.pattern && InviteContactDetails.COUNTRY_ID==226">ZIP code not valid.</small>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>

<!-- previous next buttons -->
<div class="col-xxl-12 col-xl-12 col-md-12 " ng-show="LINK_EXPIRE_FLAG && PAGE_LOAD==1">
    <div class="text-end border-top bottom_container">
        <button class="btn btn-light"
                click-once
                ng-click="NEXT_Fn(1)">
            Previous
        </button>
        <button class="btn btn-primary"
                click-once
                ng-click="HRM_INS_UPD_ONBOARDING_STEP_2(3)">
            Next
        </button>
    </div>
</div>

<script type="text/javascript">
    var input = document.querySelector("#country");
    var iti = window.intlTelInput(input, {
        // separateDialCode:true,
        utilsScript:
            "https://cdn.jsdelivr.net/npm/intl-tel-input@18.1.0/build/js/utils.js",
    });
</script>