<div class="row">
    <div class="col-xxl-10 col-md-10 col-xl-10 side_content ms-auto">
        <div class="right-panel">
            <div class="card">
                <div class="card-header">
                    <h6>Reservation Mapping</h6>
                </div>

                <div class="card-body">
                    <form id="ReservationMappingForm" name="ReservationMappingForm" novalidate>
                        <div class="row mb-2">
                            <div class="col-md-3">
                                <ul class="nav nav-pills">
                                    <li class="dropdown w-100">
                                        <a class="text-limitations custom-dropdown cursor-pointer" data-toggle="dropdown">
                                            <span class="select-label" id="select_label_Branch" ng-if="ReservationMappingSearch.DISPLAY_TEXT_BRANCH!=undefined || ReservationMappingSearch.DISPLAY_TEXT_BRANCH!=null">
                                                {{ReservationMappingSearch.DISPLAY_TEXT_BRANCH}}
                                            </span>
                                        </a>
                                        <ul ID="divBranch" class="dropdown-menu w-100 scrollbar-wrapper">
                                            <li ng-repeat="BL in BRANCH_LIST"
                                                ng-click="BRANCH_CHANGE_Fn(BL)">
                                                {{BL.BRANCH_NAME}}
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-auto ms-auto">
                                <!--<button type="button" class="btn btn-sm btn-primary" data-bs-toggle="tooltip" title="Search" ng-click="GET_RESERVATION_STATUS_FOR_MAPPING();"><i class="fa-regular fa-search"></i></button>-->

                            </div>
                        </div>
                    </form>
                    <form id="ReservationMappingListForm" name="ReservationMappingListForm" novalidate>
                        <div class="table-responsive scrollbar-wrapper height-60vh" ng-show="RESERVATION_LIST.length>0">
                            <table class="table table-hover consolidated-table">
                                <thead class="table-header-fixed" style="z-index: 9;">
                                    <tr>
                                        <th class="text-nowrap">#</th>
                                        <th class="text-nowrap">Status</th>
                                        <th width="20%" class="text-nowrap">Mapped Reservation Status</th>
                                        <th width="5%" class="text-nowrap text-center">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="RESERVATION in RESERVATION_LIST" on-finish-render="ngRepeatFinished" ng-show="RESERVATION.IS_VISIBLE!=false">
                                        <td class="text-nowrap"> {{$index+1}}</td>
                                        <td class="text-nowrap"> {{RESERVATION.STATUS}}</td>
                                        <td>
                                            <ul class="nav nav-pills">
                                                <li class="dropdown w-100">
                                                    <a class="text-limitations custom-dropdown cursor-pointer" data-toggle="dropdown">
                                                        <span class="select-label" id="select_label">
                                                            {{RESERVATION.RESERVATION_STATUS_MASTER_ID==null || RESERVATION.RESERVATION_STATUS_MASTER_ID==""?'Select': (RESERVATION_STATUS_MASTER | filter:{'RESERVATION_STATUS_MASTER_ID': RESERVATION.RESERVATION_STATUS_MASTER_ID }:true)[0].STATUS_NAME }}
                                                        </span>
                                                    </a>
                                                    <ul ID="divReservation" class="dropdown-menu w-100 scrollbar-wrapper">
                                                        <li ng-repeat="RESE_MAS_STATUS in RESERVATION_STATUS_MASTER"
                                                            ng-click="Fn_RESERVATION_CLICK(RESE_MAS_STATUS,RESERVATION)"
                                                            ng-model="RESERVATION.RESERVATION_STATUS_MASTER_ID">
                                                            {{RESE_MAS_STATUS.STATUS_NAME}}
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </td>
                                        <td class="text-center">
                                            <a class="c-pointer" ng-click="DELETE_ROW(RESERVATION);" data-toggle="tooltip" data-html="true" data-original-title="Delete"><i class="fa-regular fa-times text-danger"></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>

                    </form>
                    <div class="col-md-12 mt-2">
                        <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="tooltip" title="Save" ng-click="INS_UPD_RESERVATION_STATUS_MAPPING();">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


            
