<div class="card">
    <templateurl template-url="../AngularViews/CashupApp/Cashup_Entry/CashupEntryHeader.html" class="cashup_entry_header"></templateurl>

    <div class="card-body pt-1 cashup-entry-body">
        <div class="row gx-2 resSites cashup_entry_header_details">
            <div class="col-xxl-auto col-xl-auto col-md-auto">
                <span class="badge_cashup_info">
                    Site: <span class="f-w-700">{{SELECTED_SITE}}</span>
                </span>
            </div>
            <div class="col-xxl-auto col-xl-auto col-md-auto">
                <span class="badge_cashup_info">
                    Area: <span class="f-w-700">{{SELECTED_AREA || 'ALL'}}</span>
                </span>
            </div>
            <div class="col-xxl-auto col-xl-auto col-md-auto">
                <span class="badge_cashup_info">
                    Session: <span class="f-w-700">{{SELECTED_SESSION || 'ALL'}}</span>
                </span>
            </div>
            <div class="col-xxl-auto col-xl-auto col-md-auto">
                <span class="badge_cashup_info text-nowrap">
                    Cashup Date: <span class="f-w-700">{{CASHUP_DATE | date:DISPLAY_DATE_FORMAT }}</span>
                </span>
            </div>
            <div class="col-xxl-auto col-xl-auto col-md-auto ms-auto">
                <span class="badge_cashup_info text-nowrap">
                    Actual : {{CASHUP_INFO.ACTUAL = ACCOUNT_CREDIT_TOTAL| number:2 }}
                </span>
            </div>
            <div class="col-xxl-auto col-xl-auto col-md-auto">
                <span class="badge_cashup_info text-nowrap">
                    ePOS : {{CASHUP_INFO.EPOS | number:2}}
                </span>
            </div>
            <div class="col-xxl-auto col-xl-auto col-md-auto">
                <span class="badge_cashup_info text-nowrap">
                    Variance : <span class="txt-danger" ng-if="(CASHUP_INFO.ACTUAL-CASHUP_INFO.EPOS) < 0">
                        <i class="fa-light fa-arrow-down-right txt-danger"></i>
                        {{(CASHUP_INFO.ACTUAL-CASHUP_INFO.EPOS) | number:2}}
                    </span>

                    <span class="txt-success" ng-if="(CASHUP_INFO.ACTUAL-CASHUP_INFO.EPOS) > 0">
                        <i class="fa-light fa-arrow-up-right txt-success"></i>
                        {{(CASHUP_INFO.ACTUAL-CASHUP_INFO.EPOS) | number:2}}
                    </span>
                    <span class="txt-success" ng-if="(CASHUP_INFO.ACTUAL-CASHUP_INFO.EPOS) == 0">
                        <i class="fa-light"></i>
                        {{(CASHUP_INFO.ACTUAL-CASHUP_INFO.EPOS) | number:2}}
                    </span>
                </span>
            </div>
        </div>

        <form name="AccountsEntryForm" autocomplete="off" novalidate>
            <div class="col-xxl-10 col-xl-10 col-md-10 mt-2"><h6 class="headings">Account Credit</h6></div>

            <div class="row">
                <div class="table-responsive scrollbar-wrapper mx-height-100 resCashupTable">
                    <table>
                        <thead>
                            <tr>
                                <th class="text-center text-nowrap">Customer Name <span class="txt-danger">*</span></th>
                                <th class="text-center">Company</th>
                                <th class="text-center text-nowrap">Invoice Number <span class="txt-danger">*</span></th>
                                <th class="text-end">Amount <span class="txt-danger">*</span></th>
                                <th class="text-center">Note</th>
                                <th class="text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="ROW in ACCOUNT_CREDIT_LIST" ng-init="nginitaccounts(ROW)" ng-if="ROW.PARENT_ID==null">
                                <td>
                                    <!--<ul class="nav nav-pills">
        <li class="dropdown w-100">
            <a class="text-limitations cursor-pointer" data-toggle="dropdown" ng-class="{'disabled':ROW.RESTRICT_DELETE==1 || !CASHUP_ENTRY_SEARCH.IS_DATA_ENTRY_ENABLED}">
                <span class="select-label" id="select_label" ng-class="{'error':AccountsEntryForm.submitted && AccountsEntryForm.CUSTOMER_NAME_CREDIT_{{$index}}.$error.required}">
                    {{ROW.CUSTOMER_NAME || 'Add here'}}
                </span>
            </a>
            <input type="hidden"
                   ng-model="ROW.CUSTOMER_NAME"
                   name="CUSTOMER_NAME_CREDIT_{{$index}}"
                   required
                   ng-class="{'error':AccountsEntryForm.submitted && AccountsEntryForm.CUSTOMER_NAME_CREDIT_{{$index}}.$error.required}" />
            <ul ID="divNewNotifications" class="dropdown-menu unique-dropdown scrollbar-wrapper w-auto" style="min-width:100%">
                <li class="DontHideOnClick unique-dropdown-list">
                    <input type="text"
                           placeholder="Search"
                           name="searchableVendorButton"
                           ng-model="ROW.CUSTOMER_NAME_TEXT"
                           ng-change="SEARCH_CUSTOMER(ROW)"
                           autocomplete="off"
                           id="searchInput"
                           ng-keydown="handleSecondaryKeyDown($event)"
                           aria-autocomplete="none"
                           class="mb-0 dropdownSearchInput" />
                </li>
                <li class="unique-dropdown-list" ng-click="ADD_NEW_CUSTOMER_POPUP()">
                    <span class="truncate unique-dropdown-content petty-cash">Add New Customer</span>
                </li>
                <li class="unique-dropdown-list"
                    ng-repeat="acc in ROW.FILTERED_CUSTOMER_LIST"
                    ng-click="SELECT_CUSTOMER(ROW,acc)">
                    <span class="truncate unique-dropdown-content petty-cash">{{acc.NAME}}</span>
                </li>
            </ul>
        </li>
    </ul>-->

                                    <ul class="nav nav-pills">
                                        <li class="dropdown w-100">
                                            <a class="text-limitations cursor-pointer" data-toggle="dropdown" ng-class="{'disabled':ROW.RESTRICT_DELETE==1 || !CASHUP_ENTRY_SEARCH.IS_DATA_ENTRY_ENABLED}">
                                                <span class="select-label" id="select_label" ng-class="{'error':AccountsEntryForm.submitted && AccountsEntryForm.CUSTOMER_NAME_CREDIT_{{$index}}.$error.required}">
                                                    {{ROW.CUSTOMER_NAME || 'Add here'}}
                                                </span>
                                            </a>
                                            <input type="hidden"
                                                   ng-model="ROW.CUSTOMER_NAME"
                                                   name="CUSTOMER_NAME_CREDIT_{{$index}}"
                                                   required
                                                   ng-class="{'error':AccountsEntryForm.submitted && AccountsEntryForm.CUSTOMER_NAME_CREDIT_{{$index}}.$error.required}" />
                                            <ul ID="divNewNotifications" class="dropdown-menu unique-dropdown scrollbar-wrapper w-auto" style="min-width:100%">
                                                <li class="DontHideOnClick unique-dropdown-list">
                                                    <input type="text"
                                                           placeholder="Search"
                                                           name="searchableVendorButton"
                                                           ng-model="ROW.CUSTOMER_NAME_TEXT"
                                                           ng-change="SEARCH_CUSTOMER(ROW)"
                                                           autocomplete="off"
                                                           id="searchInput"
                                                           ng-keydown="handleSecondaryKeyDown($event)"
                                                           aria-autocomplete="none"
                                                           class="mb-0 dropdownSearchInput" />
                                                </li>
                                                <li class="unique-dropdown-list" ng-click="ADD_NEW_CUSTOMER_POPUP()">
                                                    <span class="truncate unique-dropdown-content petty-cash">Add New Customer</span>
                                                </li>
                                                <li class="unique-dropdown-list"
                                                    ng-repeat="acc in ROW.FILTERED_CUSTOMER_LIST"
                                                    ng-click="SELECT_CUSTOMER(ROW,acc)">
                                                    <span class="truncate unique-dropdown-content petty-cash">{{acc.NAME}}</span>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </td>
                                <td><input type="text" placeholder="Add here" class="min-w-80" ng-model="ROW.COMPANY" ng-disabled="ROW.RESTRICT_DELETE==1 || !CASHUP_ENTRY_SEARCH.IS_DATA_ENTRY_ENABLED" /></td>
                                <td><input type="text" placeholder="Add here" 
                                           class="min-w-80" ng-model="ROW.INVOICE_NUMBER" 
                                           ng-disabled="ROW.RESTRICT_DELETE==1 || !CASHUP_ENTRY_SEARCH.IS_DATA_ENTRY_ENABLED" 
                                           required
                                           name="CREDIT_INVOICE_{{$index}}"
                                           ng-class="{'error':AccountsEntryForm.submitted && AccountsEntryForm.CREDIT_INVOICE_{{$index}}.$error.required}"
                                           /></td>
                                <td>
                                    <input type="text" placeholder="Add here"
                                           class="text-end min-w-80" only-digits
                                           ng-model="ROW.AMOUNT" ng-change="CALCULATE_TOTAL()"
                                           ng-disabled="ROW.RESTRICT_DELETE==1 || !CASHUP_ENTRY_SEARCH.IS_DATA_ENTRY_ENABLED"
                                           required
                                           name="AMOUNT_{{$index}}"
                                           ng-class="{'error':AccountsEntryForm.submitted && AccountsEntryForm.AMOUNT_{{$index}}.$error.required}" />
                                </td>
                                <td><input type="text" placeholder="Add here" class="min-w-80" ng-model="ROW.NOTE" ng-disabled="ROW.RESTRICT_DELETE==1 || !CASHUP_ENTRY_SEARCH.IS_DATA_ENTRY_ENABLED" /></td>
                                <td class="text-center">
                                    <button click-once type="button" class="btn btn-transparent c-pointer" ng-disabled="ROW.RESTRICT_DELETE==1 || !CASHUP_ENTRY_SEARCH.IS_DATA_ENTRY_ENABLED" ng-click="DELETE_ROW(ROW)">
                                        <i class="fa-light fa-trash-can txt-danger"></i>
                                    </button>
                                    <!--<i class="fa fa-info-circle cursor-pointer ml-2 text-warning" ng-hide="ROW.RESTRICT_DELETE==0" data-toggle="tooltip" data-html="true" data-placement="top"
                                data-original-title="You have already received the amount on behalf of this record, if you want to change it or delete you need to first delete in account received"></i>-->
                                </td>
                            </tr>

                        </tbody>
                        <tfoot>
                            <tr class="bg-gray">
                                <td class="text-center">Total</td>
                                <td class="text-center"></td>
                                <td class="text-center"></td>
                                <td class="text-end">{{ACCOUNT_CREDIT_TOTAL | number:2}}</td>
                                <td class="text-center"></td>
                                <td class="text-center"></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <div class="col-xxl-12 col-xl-12 col-md-12">
                    <button click-once type="button" class="btn btn-outline w-100" ng-click="ADD_NEW_ROW_CREDIT(1)" ng-disabled="!CASHUP_ENTRY_SEARCH.IS_DATA_ENTRY_ENABLED"><i class="fa-light fa-plus me-1"></i> Add New Row</button>
                </div>
            </div>
            <hr />
            <div class="row g-1 mt-1 align-items-center resBadgeCashup">
                <div class="col-xxl-auto col-xl-auto col-md-auto">
                    <h6 class="headings pt-3 pe-2">Account Received</h6>
                </div>
                <div class="col-xxl-auto col-xl-auto col-md-auto">
                    <button click-once type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#Recieve_Credits" ng-click="GET_ACCOUNT_RECEIVED()" ng-disabled="!CASHUP_ENTRY_SEARCH.IS_DATA_ENTRY_ENABLED">Select Received Credits</button>
                </div>
                <div class="col-xxl-auto col-xl-auto col-md-auto ms-auto">
                    <span class="badge_cashup_info text-nowrap">
                        Actual : {{(ACCOUNT_RECEIVED_CASHUP_VALUES.ACTUAL = ACCOUNT_RECEIVED_AMOUNT_TOTAL)|number:2 }}
                    </span>
                </div>
                <div class="col-xxl-auto col-xl-auto col-md-auto">
                    <span class="badge_cashup_info text-nowrap">
                        ePOS : {{ACCOUNT_RECEIVED_CASHUP_VALUES.EPOS|number:2}}
                    </span>
                </div>
                <div class="col-xxl-auto col-xl-auto col-md-auto">
                    <span class="badge_cashup_info text-nowrap">
                        Variance : <span class="txt-danger" ng-if="(ACCOUNT_RECEIVED_AMOUNT_TOTAL-ACCOUNT_RECEIVED_CASHUP_VALUES.EPOS) < 0">
                            <i class="fa-light fa-arrow-down-right txt-danger"></i>
                            {{(ACCOUNT_RECEIVED_AMOUNT_TOTAL-ACCOUNT_RECEIVED_CASHUP_VALUES.EPOS) | number:2}}
                        </span>
                        <span class="txt-success" ng-if="(ACCOUNT_RECEIVED_AMOUNT_TOTAL-ACCOUNT_RECEIVED_CASHUP_VALUES.EPOS) == 0">
                            <i class="fa-light"></i>
                            {{(ACCOUNT_RECEIVED_AMOUNT_TOTAL-ACCOUNT_RECEIVED_CASHUP_VALUES.EPOS) | number:2}}
                        </span>
                        <span class="txt-success" ng-if="(ACCOUNT_RECEIVED_AMOUNT_TOTAL-ACCOUNT_RECEIVED_CASHUP_VALUES.EPOS) > 0">
                            <i class="fa-light fa-arrow-up-right txt-success"></i>
                            {{(ACCOUNT_RECEIVED_AMOUNT_TOTAL-ACCOUNT_RECEIVED_CASHUP_VALUES.EPOS) | number:2}}
                        </span>
                    </span>
                </div>
            </div>
            <div class="table-responsive scrollbar-wrapper mx-height-100 resCashupTable">
                <table>
                    <thead>
                        <tr>
                            <th class="text-center text-nowrap">Customer Name <span class="txt-danger">*</span></th>
                            <th class="text-center">Company</th>
                            <th class="text-center text-nowrap">Invoice Number</th>
                            <th class="text-center text-nowrap">Payment Method</th>
                            <th class="text-end">Amount</th>
                            <th class="text-end text-nowrap">Received Amount <span class="txt-danger">*</span></th>
                            <th class="text-center">Note</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="ROW in ACCOUNT_CREDIT_LIST" ng-init="nginitaccounts(ROW)" ng-if="ROW.PARENT_ID!=null">
                            <td>
                                <input type="text" placeholder="Customer Name"
                                       class="min-w-80" ng-model="ROW.CUSTOMER_NAME"
                                       ng-disabled="!(ROW.ID==0 && ROW.PARENT_ID==0)"
                                       ng-required="ROW.ID==0 && ROW.PARENT_ID==0"
                                       name="REDEEMED_CUST_NAME_{{$index}}"
                                       ng-class="{'error':AccountsEntryForm.submitted && AccountsEntryForm.REDEEMED_CUST_NAME_{{$index}}.$error.required}" />
                            </td>
                            <td>
                                <input type="text" placeholder="Company"
                                       class="min-w-80" ng-model="ROW.COMPANY"
                                       ng-disabled="!(ROW.ID==0 && ROW.PARENT_ID==0)" />
                            </td>
                            <td>
                                <input type="text" placeholder="Invoice Number"
                                       class="min-w-80" ng-model="ROW.INVOICE_NUMBER"
                                       ng-disabled="!(ROW.ID==0 && ROW.PARENT_ID==0)" />
                            </td>
                            <td>                               
                                <ul class="nav nav-pills">
                                    <li class="dropdown w-100">                                        
                                        <a class="text-limitations cursor-pointer"
                                           data-toggle="dropdown"
                                           ng-class="{'disabled':!(ROW.ID==0 && ROW.PARENT_ID==0)}">
                                            <span class="select-label" id="select_label">
                                                {{ROW.SELECTED_MODE_OF_PAYMENT_NAME || 'Add'}}
                                            </span>
                                        </a>
                                        <ul ID="divNewNotifications" class="dropdown-menu unique-dropdown-list scrollbar-wrapper w-auto" style="min-width:100%">
                                            <li class="unique-dropdown-content" ng-repeat="_mode_of_payment in MODE_OF_PAYMENT_LIST" ng-click="SELECT_MODE_OF_PAYMENT(ROW,_mode_of_payment)" ng-show="_mode_of_payment.ACTIVE==true">
                                                {{_mode_of_payment.METHOD_NAME}}
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                                
                                
                                
                                <!--<ul class="nav nav-pills mb-0">
                                    <li class="dropdown w-100">
                                        <a class="text-limitations cursor-pointer" data-toggle="dropdown"
                                           ng-class="{'disabled':!(ROW.ID==0 && ROW.PARENT_ID==0)}">
                                            <span class="select-label personColor" id="select_label" >
                                                {{ROW.SELECTED_MODE_OF_PAYMENT_NAME || 'Add'}}
                                            </span>
                                        </a>
                                        <ul id="divNewNotifications" class="dropdown-menu scrollbar-wrapper w-auto" style="min-width:100%">
                                            <li ng-repeat="_mode_of_payment in MODE_OF_PAYMENT_LIST" ng-click="SELECT_MODE_OF_PAYMENT(ROW,_mode_of_payment)">
                                                {{_mode_of_payment.METHOD_NAME}}
                                            </li>
                                        </ul>
                                    </li>
                                </ul>-->
                            </td>
                            <td> <input type="text" placeholder="0.00" disabled class="min-w-80 text-end" ng-model="ROW.TOTAL_AMT" /> </td>
                            <td>
                                <input type="text" placeholder="Enter Received Amount"
                                       class="text-end min-w-80"
                                       ng-model="ROW.AMOUNT"
                                       ng-disabled="(ROW.ID!=0 && ROW.ID!=null) || !CASHUP_ENTRY_SEARCH.IS_DATA_ENTRY_ENABLED"
                                       ng-required="ROW.ID==0 && ROW.PARENT_ID==0"
                                       name="REDEEMED_RECVD_AMT_{{$index}}"
                                       ng-change="CALCULATE_TOTAL()"
                                       ng-class="{'error':AccountsEntryForm.submitted && AccountsEntryForm.REDEEMED_RECVD_AMT_{{$index}}.$error.required}"/>
                            </td>
                            <td> <input type="text" placeholder="{{ROW.ID==0 && ROW.PARENT_ID==0?'Notes':'-'}}" class="min-w-80" ng-model="ROW.NOTE" ng-disabled="(ROW.ID!=0 && ROW.ID!=null) || !CASHUP_ENTRY_SEARCH.IS_DATA_ENTRY_ENABLED" /> </td> <!--ng-disabled="!CASHUP_ENTRY_SEARCH.IS_DATA_ENTRY_ENABLED"-->
                            <td class="text-center"><button click-once type="button" class="btn btn-transparent c-pointer" ng-click="DELETE_ROW(ROW)" ng-disabled="!CASHUP_ENTRY_SEARCH.IS_DATA_ENTRY_ENABLED"><i class="fa-light fa-trash-can txt-danger"></i></button></td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr class="bg-gray">
                            <td class="text-center">Total</td>
                            <td></td>

                            <td></td>
                            <td></td>
                            <td></td>

                            <!--<td class="text-end text-nowrap"> {{ACCOUNT_RECEIVED_TOTAL_AMT_TOTAL|number:2}}</td>-->
                            <td class="text-end text-nowrap">{{ACCOUNT_RECEIVED_AMOUNT_TOTAL|number:2}}</td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tfoot>
                </table>
                <div class="col-xxl-12 col-xl-12 col-md-12">
                    <button click-once type="button" class="btn btn-outline w-100" ng-click="ADD_NEW_ROW_ENTRY_DIRECT_REDEEM()" ng-disabled="!CASHUP_ENTRY_SEARCH.IS_DATA_ENTRY_ENABLED"><i class="fa-light fa-plus me-1"></i> Add New Row</button>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-xxl-12 col-xl-12 col-md-12">
                    <h6 class="headings">Comments</h6>
                </div>
                <div class="col-xxl-12 col-xl-12 col-md-12 resTextAreaCashup">
                    <textarea rows="4" placeholder="Add Comments..." ng-model="CASHUP_ENTRY_NOTE" ng-disabled="!CASHUP_ENTRY_SEARCH.IS_DATA_ENTRY_ENABLED"></textarea>
                </div>
                <div class="col-xxl-12 col-xl-12 col-md-12 text-end">
                    <button click-once type="button" class="btn btn-primary" ng-click="INS_UPD_CASHUP_HEADER_NOTES() ng-disabled="!CASHUP_ENTRY_SEARCH.IS_DATA_ENTRY_ENABLED"">Comment</button>
                </div>
            </div>
            <div class="textarea-bg resText" ng-repeat="COM in ACCOUNT_TAB_NOTE_LIST" ng-init="NOTE_INIT(COM)">
                <div class="comment-elements">
                    <span class="text_avatar">{{COM.USER_NAME | limitTo:1}}</span>
                    <span>{{COM.USER_NAME}}</span>
                    <span class="text-gray">{{COM.CREATED_DATE | date:'dd-MMM-yyyy hh:mm a'}}</span>
                    <span class="comment-pen-icon">
                        <i class="fa-light fa-pen ms-1 c-pointer" ng-click="CASHUP_ENTRY_SEARCH.IS_DATA_ENTRY_ENABLED && EDIT_COMMENT(COM)"></i>
                        <i class="fa-light fa-trash-alt ms-1 c-pointer txt-danger" ng-show="!COM.isEditable" ng-click="CASHUP_ENTRY_SEARCH.IS_DATA_ENTRY_ENABLED && DELETE_COMMENT(COM)"></i>
                    </span>
                </div>
                <div class="row">
                    <div class="col-xxl-auto col-xl-auto col-md-auto empty-coloumn">
                        <span>&nbsp;</span>
                    </div>
                    <div class="col-xxl col-xl col-md resTextAreaCashup">
                        <textarea ng-readonly="!COM.isEditable"
                                  ng-model="COM.NOTE"
                                  ng-class="{'bg-white':COM.isEditable==true,'bg-gray':COM.isEditable==false}"
                                  ng-blur="INS_UPD_CASHUP_HEADER_NOTES(COM)">{{COM.NOTE}}</textarea>
                    </div>
                </div>
            </div>

        </form>
    </div>

    <div class="sticky_bottom_navigator">
        <div class="card">
            <div class="card-footer">
                <div class="row">
                    <div class="col-xxl-12 col-xl-12 col-md-12 text-end">
                        <button click-once type="button" class="btn btn-light" ng-click="PREVIOUS()">Previous</button>
                        <button click-once type="button" class="btn btn-light" ng-disabled="!CASHUP_ENTRY_SEARCH.IS_DATA_ENTRY_ENABLED" ng-click="INS_UPD_CASHUP_ACCOUNT(0)">Save</button>
                        <button click-once type="button" class="btn btn-primary" ng-click="CONTINUE()">Continue</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="proceed" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenter1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header border-0">
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close" data-bs-original-title="" title=""></button> <!--ng-click="RESET_ON_MODAL_CLOSE()"-->
            </div>
            <div class="modal-body">
                <div class="modal-toggle-wrapper">
                    <div class="d-flex justify-content-center">
                        <div class="tickIcon_danger">
                            <div class="badge text-bg-danger-modal">
                                <i class="fa-solid fa-exclamation fa-xl"></i>
                            </div>
                        </div>
                    </div>
                    <p class="modal_infoText">
                        There is a Variance in Account Credit and Account Received of {{CURRENCY_SYMBOL}} {{(CASHUP_INFO.ACTUAL-CASHUP_INFO.EPOS) | number:2}} and {{CURRENCY_SYMBOL}} {{(ACCOUNT_RECEIVED_AMOUNT_TOTAL-ACCOUNT_RECEIVED_CASHUP_VALUES.EPOS) | number:2}} respectively, do you still
                        want to proceed?
                    </p>
                </div>
            </div>
            <div class="modal-footer border-0">
                <div class="row w-100">
                    <div class="col-xxl-6 col-md-6 col-md-6">
                        <button class="btn btn-light w-100" type="button" data-bs-dismiss="modal">Cancel</button> <!--ng-click="RESET_ON_MODAL_CLOSE()"-->
                    </div>
                    <div class="col-xxl-6 col-md-6 col-md-6">
                        <button click-once class="btn btn-primary w-100" type="button" data-bs-dismiss="modal" ng-click="INS_UPD_CASHUP_ACCOUNT(1)">Yes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="add_customer" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <form name="ACC_FORM" novalidate>
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title">Add Customer</h6>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row g-2">
                        <div class="col-xxl-12 col-xl-12 col-md-12">
                            <label>Customer Name <span class="txt-danger">*</span></label>
                            <input type="text" name="ACC_NAME" id="ACC_NAME"
                                   placeholder="Customer Name" ng-model="ADD_CUSTOMER_NAME"
                                   maxlength="250"
                                   autocomplete="off"
                                   aria-autocomplete="none"
                                   required
                                   ng-class="{'error':ACC_FORM.submitted && ACC_FORM.ACC_NAME.$error.required}" />
                        </div>
                        <div class="col-xxl-12 col-xl-12 col-md-12">
                            <label>Email <span class="txt-danger">*</span></label>
                            <input type="text" name="ACC_EMAIL" id="ACC_EMAIL"
                                   placeholder="Email" ng-model="ADD_CUSTOMER_EMAIL"
                                   maxlength="250"
                                   autocomplete="off"
                                   aria-autocomplete="none"
                                   ng-pattern="/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/"
                                   required
                                   ng-class="{'error':ACC_FORM.submitted && ACC_FORM.ACC_EMAIL.$error.required}" />
                            <small class="text-danger" ng-show="ACC_FORM.ACC_EMAIL.$dirty && ACC_FORM.ACC_EMAIL.$error.pattern">Please Enter Valid Email</small>
                        </div>
                        <div class="col-xxl-12 col-xl-12 col-md-12">
                            <label>Contact Number <span class="txt-danger">*</span></label>
                            <input type="text" name="ACC_CONTACT" id="ACC_CONTACT"
                                   placeholder="Contact Number" ng-model="ADD_CUSTOMER_CONTACT"
                                   maxlength="15"
                                   
                                   autocomplete="off"
                                   aria-autocomplete="none"
                                   required
                                   ng-class="{'error':(ACC_FORM.submitted && ACC_FORM.ACC_CONTACT.$error.required) || ADD_CUSTOMER_CONTACT.length<10}" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer text-end">
                    <button type="button" class="btn btn-light" type="button" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-light" ng-click="RESET_ADD_CUSTOMER()">Reset</button>
                    <button click-once type="button" class="btn btn-primary" ng-click="INS_UPD_ACCOUNT_CUSTOMER_CUSTOMERS()">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal fade" id="add_acc_success" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenter1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered p-5" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-xxl-12 col-md-12 col-xl-12">
                        <div class="d-flex justify-content-end">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                    </div>
                    <div class="col-xxl-12 col-md-12 col-xl-12">
                        <div class="p-2">
                            <div class="d-flex justify-content-center">
                                <div class="tickIcon">
                                    <span class="badge text-bg-success-modal">
                                        <i class="fa-light fa-check fa-lg"></i>
                                    </span>
                                </div>
                            </div>
                            <h6 class="modal_heading">Successfully Saved Updates</h6>
                            <p class="modal_content">New Account Customer been saved successfully.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="add_acc_failure" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenter1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered p-5" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-xxl-12 col-md-12 col-xl-12">
                        <div class="d-flex justify-content-end">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                    </div>
                    <div class="col-xxl-12 col-md-12 col-xl-12">
                        <div class="p-2">
                            <div class="d-flex justify-content-center">
                                <div class="tickIcon_danger">
                                    <span class="badge text-bg-danger-modal">
                                        <i class="fa-light fa-exclamation fa-lg"></i>
                                    </span>
                                </div>
                            </div>
                            <h6 class="modal_heading">Error Saving Updates</h6>
                            <p class="modal_content">New Account Customer was not saved successfully.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade ng-scope show" tabindex="-1" id="Recieve_Credits" role="dialog" aria-modal="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="myExtraLargeModal">Received Credits</h6>
                <button class="btn-close py-0" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body resCashupHeader">
                <div class="row">
                    <div class="col-xxl-4 col-xl-4 col-md-4">
                        <label>Customer Name</label>
                        <input type="text" placeholder="Customer Name" ng-model="ACCOUNT_RECEIVED_SEARCH.CUSTOMER_NAME" ng-change="GET_ACCOUNT_RECEIVED()" />
                    </div>
                    <div class="col-xxl-4 col-xl-4 col-md-4">
                        <label>Company Name</label>
                        <input type="text" placeholder="Company Name" ng-model="ACCOUNT_RECEIVED_SEARCH.COMPANY" ng-change="GET_ACCOUNT_RECEIVED()" />
                    </div>
                    <div class="col-xxl-4 col-xl-4 col-md-4">
                        <label>Invoice Number </label>
                        <input type="text" placeholder="Invoice Number" ng-model="ACCOUNT_RECEIVED_SEARCH.INVOICE_NUMBER" ng-change="GET_ACCOUNT_RECEIVED()" />
                    </div>
                </div>
                <div class="table-responsive scrollbar-wrapper resCashupTable">
                    <table>
                        <thead class="table-sticky-top">
                            <tr>
                                <th class="text-nowrap">
                                    <div class="form-check">
                                        <input class="form-check-input" id="flexCheckChecked" type="checkbox" value="" ng-model="ACCOUNT_RECEIVED_CHECKED_ALL" ng-click="CHECK_ALL_ACCOUNT_RECEIVED()">
                                        <label class="form-check-label ms-1" for="flexCheckChecked">Customer Name</label>

                                    </div>
                                </th>
                                <th class="text-nowrap text-center">Company</th>
                                <th class="text-nowrap text-center">Invoice Number</th>
                                <th class="text-nowrap text-end">Amount</th>
                                <th class="text-nowrap text-end">Remaining Amount</th>
                                <th class="text-nowrap text-center">Payment Method</th>
                                <th class="notes">Note</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="ROW in ACCOUNT_RECEIVED_LIST" ng-init="nginit_account_received(ROW)">
                                <td class="text-nowrap">
                                    <div class="form-check">
                                        <input class="form-check-input" id="customerName" type="checkbox" value="" ng-model="ROW.CHECKED">
                                        <label class="form-check-label" for="customerName">{{ROW.CUSTOMER_NAME}}</label>
                                    </div>
                                </td>
                                <td class="text-nowrap text-center">{{ROW.COMPANY}}</td>
                                <td class="text-center">{{ROW.INVOICE_NUMBER}}</td>
                                <td class="text-nowrap text-end">{{ROW.AMOUNT}}</td>
                                <td class="text-nowrap text-end">{{ROW.REMAINING_AMOUNT}}</td>
                                <td class="text-nowrap text-center">{{ROW.MODE_OF_PAYMENT||'-'}}</td><!---->
                                <td>{{ROW.NOTE}}</td>
                            </tr>

                        </tbody>
                        <tfoot class="table-sticky-bottom">
                            <tr class="bg-gray">
                                <td class="text-center">Total</td>
                                <td></td>
                                <td></td>
                                <td class="text-end">{{((ACCOUNT_RECEIVED_LIST ) | total:'AMOUNT')| number:2}} </td>
                                <td class="text-end">{{((ACCOUNT_RECEIVED_LIST ) | total:'REMAINING_AMOUNT')| number:2}} </td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr class="bg-gray" ng-show="GetData">
                                <td colspan="7" class="text-center table-footer-fixed" style="">
                                    <a class="btn btn-secondary text-white ng-binding" ng-click="GET_ACCOUNT_RECEIVED(1)">{{PAGINATION_TEXT}}</a>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal" aria-label="Close" ng-click="RESET_SEARCH()">Cancel</button>
                <button click-once type="button" data-bs-toggle="modal" data-bs-target="#Recieve_Credits_Select" class="btn btn-primary" data-bs-dismiss="modal" ng-click="SELECT_ACCOUNT_RECEIVED()">Select</button>
                <!--Display None-->
                <!--<button type="button" data-bs-toggle="modal" data-bs-target="#Recieve_Credits_Empty" class="btn btn-primary d-none" data-bs-dismiss="modal">See Empty Screen</button>-->
                <!--Display None-->
            </div>
        </div>
    </div>
</div>

<div class="modal fade ng-scope show"
     tabindex="-1" id="Recieve_Credits_Select" role="dialog" aria-modal="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="myExtraLargeModal">Recieve Credits</h6>
                <button class="btn-close py-0" type="button" data-bs-dismiss="modal" aria-label="Close" ng-click="RESET_ACCOUNT_RECEIVED_ENTRY()"></button>
            </div>
            <div class="modal-body resCashupHeader">
                <div class="row" ng-repeat="ROW in ACCOUNT_RECEIVED_ENTRY" ng-init="nginit_account_received_entry(ROW)">
                    <div class="col-xxl col-xl col-md">
                        <label class="text-nowrap">Customer Name </label>
                        <input type="text" placeholder="Customer" disabled ng-model="ROW.CUSTOMER_NAME" />
                    </div>
                    <div class="col-xxl col-xl col-md">
                        <label>Company </label>
                        <input type="text" placeholder="Company" disabled ng-model="ROW.COMPANY" />
                    </div>
                    <div class="col-xxl col-xl col-md">
                        <label>Invoice  </label>
                        <input type="text" placeholder="Invoice" disabled ng-model="ROW.INVOICE_NUMBER" />
                    </div>
                    <div class="col-xxl col-xl col-md text-end">
                        <label>Amount   </label>
                        <input type="text" placeholder="Amount" class="text-end" disabled ng-model="ROW.TOTAL_AMT" />
                    </div>
                    <div class="col-xxl col-xl col-md">
                        <label class="text-nowrap">Received Amount <span class="text-danger">*</span></label>
                        <input type="text"
                               placeholder="Amount"
                               class="text-end"
                               only-digits
                               ng-model="ROW.AMOUNT"
                               ng-change="VALIDATE_AMOUNT(ROW)"
                               required
                               name="AMOUNT_RCV_{{$index}}"
                               ng-class="{'error':AccountsEntryForm.submitted && AccountsEntryForm.AMOUNT_RCV_{{$index}}.$error.required}">
                    </div>
                    <div class="col-xxl col-xl col-md">
                        <label class="text-nowrap">Payment Method</label>

                        <ul class="nav nav-pills min-w-120">
                            <li class="dropdown w-100">
                                <a class="text-limitations cursor-pointer" data-toggle="dropdown">
                                    <span class="select-label personColor" id="select_label">
                                        <span class="truncate">{{ROW.SELECTED_MODE_OF_PAYMENT_NAME || 'Add'}}</span>

                                    </span>
                                </a>
                                <ul id="divNewNotifications" class="dropdown-menu scrollbar-wrapper w-auto" style="min-width:100%">
                                    <li ng-repeat="_mode_of_payment in MODE_OF_PAYMENT_LIST" ng-show="_mode_of_payment.ACTIVE==true" ng-click="SELECT_MODE_OF_PAYMENT(ROW,_mode_of_payment)">
                                        <span class="truncate">{{_mode_of_payment.METHOD_NAME}}</span>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xxl col-xl col-md">
                        <label>Note</label>
                        <input type="text" placeholder="Note" disabled ng-model="ROW.NOTE" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal" aria-label="Close" ng-click="RESET_ACCOUNT_RECEIVED_ENTRY()">Cancel</button>
                <button click-once type="button" class="btn btn-primary" data-bs-dismiss="modal" ng-click="INS_UPD_CASHUP_ACCOUNT(0)">Save</button>
            </div>
        </div>
    </div>
</div>



<script>

    var dropdownMenu;

    $('table').on('show.bs.dropdown', function (e) {
        var $target = $(e.target);
        dropdownMenu = $target.find('.unique-dropdown');

        $('body').append(dropdownMenu.detach());


        var targetOffset = $target.offset();
        dropdownMenu.css({
            'display': 'block',
            'top': targetOffset.top + $target.outerHeight(),
            'left': targetOffset.left,
            'min-width': $target.outerWidth(),
            'max-width': '250px',
            'max-height': '300px',
            'z-index': '1060',
            'overflow': 'auto',
            'position': 'absolute',

        });
    });

    $('table').on('hide.bs.dropdown', function (e) {
        var $target = $(e.target);
        $target.append(dropdownMenu.detach());
        dropdownMenu.hide();
    });

</script>

