<div class="card">
    <templateurl template-url="../AngularViews/CashupApp/Cashup_Entry/CashupEntryHeader.html" class="cashup_entry_header"></templateurl>

    
    <div class="card-body pt-1 cashup-entry-body">
        <div class="row gx-2 resSites cashup_entry_header_details">
            <div class="col-xxl-auto col-xl-auto col-md-auto">
                <span class="badge_cashup_info">
                    Site: <span class="f-w-700">{{SELECTED_SITE}}</span>
                </span>
            </div>
            <div class="col-xxl-auto col-xl-auto col-md-auto">
                <span class="badge_cashup_info">
                    Area: <span class="f-w-700">{{SELECTED_AREA || 'ALL'}}</span>
                </span>
            </div>
            <div class="col-xxl-auto col-xl-auto col-md-auto">
                <span class="badge_cashup_info">
                    Session: <span class="f-w-700">{{SELECTED_SESSION || 'ALL'}}</span>
                </span>
            </div>
            <div class="col-xxl-auto col-xl-auto col-md-auto">
                <span class="badge_cashup_info text-nowrap">
                    Cashup Date: <span class="f-w-700">{{CASHUP_DATE| date:DISPLAY_DATE_FORMAT }}</span>
                </span>
            </div>


            <div class="card-header px-0 border-0 entry-table" ng-show="IS_APPROVER && CASHUP_BY_AREA">
                <ul class="nav nav-tabs border-tab mb-0" id="bottom-tab" role="tablist">
                    <li class="nav-item" ng-repeat="AREA in AREA_LIST">
                        <a class="nav-link nav-border tab-info" ng-class="{'active':ACTIVE_REVIEW_TAB_AREA_ID==AREA.AREA_ID}" ng-click="Fn_REVIEW_TAB_CLICK(AREA)"
                           id="bottom-home-tab" data-bs-toggle="tab" role="tab" aria-controls="bottom-home" aria-selected="true">
                            {{AREA.AREA_NAME}}
                        </a>
                    </li>
                </ul>
            </div>

            <div class="card-body px-0" ng-repeat="AREA in AREA_LIST" ng-show="ACTIVE_REVIEW_TAB_AREA_ID==AREA.AREA_ID && CASHUP_BY_AREA">
                <span ng-show="false">{{AREA.AREA_INDEX= $index}}</span>

                <div class="row mb-3" ng-show="IS_APPROVER">
                    <div class="col-xxl-auto col-xl-auto col-md-auto" ng-repeat="SESSION in SESSION_LIST">
                        <div class="form-check">
                            <input class="radio_animated"
                                   id="Session_Area_{{AREA.AREA_INDEX}}{{$index}}"
                                   type="radio" name="Session_Area_{{AREA.AREA_INDEX}}"
                                   ng-model="SELECTED_DATA.SESSION_MAPPING_ID"
                                   ng-value="SESSION.SESSION_MAPPING_ID"
                                   ng-click="Fn_REVIEW_SESSION_CLICK(SESSION)">
                            <label class="form-check-label mb-0" for="Session_Area_{{AREA.AREA_INDEX}}{{$index}}">{{SESSION.SESSION_NAME}} </label>
                        </div>
                    </div>
                </div>
            </div>


            <div class="card-header px-0 border-0 entry-table">
                <div class="row g-2">
                    <div class="col-xxl-12 col-xl-12 col-md-12">
                        <span class="headings">Cash</span>
                        <span class="txt-dark-gray float-end">
                            Variance: <span class="txt-danger text-nowrap" ng-if="(CASHUP_HEADER_VALUES.CASH.ACTUAL-CASHUP_HEADER_VALUES.CASH.EPOS) < 0">
                                <i class="fa-light fa-arrow-down-right txt-danger"></i>
                                {{CURRENCY_SYMBOL}} {{(CASHUP_HEADER_VALUES.CASH.ACTUAL-CASHUP_HEADER_VALUES.CASH.EPOS) | number:2}}
                            </span>

                            <span class="txt-success" ng-if="(CASHUP_HEADER_VALUES.CASH.ACTUAL-CASHUP_HEADER_VALUES.CASH.EPOS) > 0">
                                <i class="fa-light fa-arrow-up-right txt-success"></i>
                                {{CURRENCY_SYMBOL}} {{(CASHUP_HEADER_VALUES.CASH.ACTUAL-CASHUP_HEADER_VALUES.CASH.EPOS) | number:2}}
                            </span>

                            <span class="txt-success" ng-if="(CASHUP_HEADER_VALUES.CASH.ACTUAL-CASHUP_HEADER_VALUES.CASH.EPOS) == 0">
                                <i class="fa-light"></i>
                                {{CURRENCY_SYMBOL}} {{(CASHUP_HEADER_VALUES.CASH.ACTUAL-CASHUP_HEADER_VALUES.CASH.EPOS) | number:2}}
                            </span>
                        </span>
                    </div>
                </div>

                <div class="row g-2 scrollbar-wrapper cashTableHeight flex-nowrap mx-0">
                    <div ng-class="{'col-xxl col-xl col-md':(SELECT_CURRENCY_MAIN|filter:{IS_CHECKED:true}).length<=3,'col-xxl-4 col-xl-4 col-md-4':(SELECT_CURRENCY_MAIN|filter:{IS_CHECKED:true}).length>3}" ng-repeat="VAL in SELECT_CURRENCY_MAIN | orderBy:'CURRENCY_ID'" ng-show="VAL.IS_CHECKED==true" ng-init="nginit_cash(SELECT_CURRENCY_MAIN)">
                        <table>
                            <thead class="cashTableStickyTop">
                                <tr>
                                    <th colspan="5">
                                        <div class="d-flex align-items-center justify-content-between">
                                            <img class="countryFlag me-1"
                                                 data-currency="{{VAL.CURRENCY_CODE}}"
                                                 ng-src="{{getFlagUrl(VAL.CURRENCY_CODE)}}"
                                                 alt="Flag"
                                                 width="40">
                                            <span class="min-w-50per">Currency ({{VAL.CURRENCY_CODE}})</span>
                                            <div class="d-flex align-items-center" ng-show="VAL.FLAG==false">
                                                <span class="text-nowrap px-1">1 {{VAL.CURRENCY_CODE}} =</span>
                                                <input type="text" value="20" class="mb-0 max-w-45 px-1" only-digits disabled ng-model="VAL.CONVERSION_RATE">
                                                <span class="px-1">{{BASE_CURRENCY.split(':')[1]}}</span>
                                            </div>
                                        </div>
                                    </th>
                                </tr>
                                <tr>
                                    <th width="20%"></th>
                                    <th width="10%"></th>
                                    <th class="text-center">Quantity</th>
                                    <th width="10%"></th>
                                    <th width="15%" class="text-end">Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="FLOAT in VAL.DECLERATION_MASTER " ng-init="init_decleration_details(FLOAT, VAL)">
                                    <td class="text-center text-nowrap" ng-if="!FLOAT.IS_PRECISION"><span ng-bind-html="FLOAT.SYMBOL"></span>&nbsp;{{FLOAT.VALUE}}</td>
                                    <td class="text-center text-nowrap" ng-if="FLOAT.IS_PRECISION">{{FLOAT.VALUE}}&nbsp;{{(FLOAT.PRECISION_SYMBOL | customSplitString)[1]}}</td>
                                    <td class="text-center">x</td>
                                    <td>
                                        <input type="text" ng-model="FLOAT.QUANTITY" only-numbers disabled />
                                    </td>
                                    <td class="text-center">=</td>
                                    <td class="text-end">
                                        {{FLOAT.CUSTOM_CURRENCY_AMOUNT=FLOAT.VALUE*FLOAT.QUANTITY*FLOAT.MULTIPLICATION_FACTOR | number:2}}
                                        <span class="d-block text-grey" ng-show="VAL.FLAG==false">(Base Currency: {{FLOAT.BRANCH_CURRENCY_AMOUNT=FLOAT.CUSTOM_CURRENCY_AMOUNT * VAL.CONVERSION_RATE | number:2}} {{BASE_CURRENCY.split(':')[1]}})</span>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot class="cashTableStickyBottom">
                                <tr class="bg-gray">
                                    <td colspan="3" class="text-center">Total</td>
                                    <td class="text-center">=</td>
                                    <td class="text-end text-nowrap">
                                        <span ng-if="VAL.FLAG==true">
                                            {{ VAL.TOTAL_CASH=((VAL.DECLERATION_MASTER )| total:'CUSTOM_CURRENCY_AMOUNT')| number:2 }} {{BASE_CURRENCY.split(':')[1]}}
                                        </span>
                                        <span ng-if="VAL.FLAG==false">
                                            {{ ((VAL.DECLERATION_MASTER ) | total:'CUSTOM_CURRENCY_AMOUNT')| number:2 }} {{VAL.CURRENCY_CODE}} = {{ VAL.TOTAL_CASH=((VAL.DECLERATION_MASTER )| total:'BRANCH_CURRENCY_AMOUNT')| number:2 }} {{BASE_CURRENCY.split(':')[1]}}
                                        </span>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row g-2">
                <div class="col-xxl-12 col-xl-12 col-md-12">
                    <span class="headings">Cards</span>
                    <span class="txt-dark-gray float-end">
                        Variance: <span class="txt-danger text-nowrap" ng-if="(CASHUP_HEADER_VALUES.CARDS.ACTUAL-CASHUP_HEADER_VALUES.CARDS.EPOS) < 0">
                            <i class="fa-light fa-arrow-down-right txt-danger"></i>
                            {{CURRENCY_SYMBOL}} {{(CASHUP_HEADER_VALUES.CARDS.ACTUAL-CASHUP_HEADER_VALUES.CARDS.EPOS) | number:2}}
                        </span>

                        <span class="txt-success" ng-if="(CASHUP_HEADER_VALUES.CARDS.ACTUAL-CASHUP_HEADER_VALUES.CARDS.EPOS) > 0">
                            <i class="fa-light fa-arrow-up-right txt-success"></i>
                            {{CURRENCY_SYMBOL}} {{(CASHUP_HEADER_VALUES.CARDS.ACTUAL-CASHUP_HEADER_VALUES.CARDS.EPOS) | number:2}}
                        </span>

                        <span class="txt-success" ng-if="(CASHUP_HEADER_VALUES.CARDS.ACTUAL-CASHUP_HEADER_VALUES.CARDS.EPOS) == 0">
                            <i class="fa-light"></i>
                            {{CURRENCY_SYMBOL}} {{(CASHUP_HEADER_VALUES.CARDS.ACTUAL-CASHUP_HEADER_VALUES.CARDS.EPOS) | number:2}}
                        </span>
                    </span>
                </div>
            </div>
            <div class="col-xxl-12 col-xl-12 col-md-12" id="cashup-report-hide" ng-show="CARDS_DECLARATION_LIST.length == 0">
                <div class="no-record text-center">
                    <span class="d-block text-center">{{LOAD_FETCH_TEXT}}</span>
                </div>
            </div>
            <div class="table-responsive" ng-show="CARDS_DECLARATION_LIST.length>0">
                <table>
                    <thead>
                        <tr>
                            <th class="text-center text-nowrap">PDQ Terminal</th>
                            <th class="text-end text-nowrap" width="10%" ng-repeat="card in CASHUP_CARDS_LIST">{{ card.CARD_NAME }}</th>
                            <th class="text-end text-nowrap" width="10%">Amount</th>
                            <th class="text-center text-nowrap">Uploads</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="ROW in CARDS_DECLARATION_LIST" ng-init="nginit_cards(ROW)">
                            <td class="text-center">{{ROW.SELECTED_PDQ.PDQ_CODE  || '-'}}</td>
                            <td class="text-end text-nowrap" ng-repeat="card in CASHUP_CARDS_LIST">
                                {{CURRENCY_SYMBOL}} {{(ROW[card.CARD_NAME+'_VALUE'].AMOUNT | number:2) || '0.00'}}
                            </td>
                            <td class="text-end text-nowrap">{{CURRENCY_SYMBOL}} {{ROW.TOTAL_AMOUNT | number:2}}</td>
                            <td class="text-center txt-primary txt_underline">
                                <div ng-repeat="upls in ROW.UploadedFiles">
                                    <span class="truncate">
                                        <a download="{{upls.SERVER_FILE_NAME}}" href="/Uploads/{{upls.FILE_PATH}}{{upls.SERVER_FILE_NAME}}">
                                            <i class="fa-light me-2"></i>
                                            {{upls.ORIGINAL_FILE_NAME}}
                                        </a>
                                    </span>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr class="bg-gray">
                            <td class="text-center">Total</td>
                            <td class="text-end text-nowrap" ng-repeat="card in CASHUP_CARDS_LIST">
                                {{CURRENCY_SYMBOL}} {{card.TOTAL|number:2}}
                            </td>
                            <td class="text-end text-nowrap">{{CURRENCY_SYMBOL}} {{TOTAL_CARD_AMOUNT | number:2}}</td>
                            <td class="text-center"></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div class="row g-2">
                <div class="col-xxl-12 col-xl-12 col-md-12">
                    <span class="headings">Petty Cash</span>
                    <span class="txt-dark-gray float-end">
                        Variance: <span class="txt-danger text-nowrap" ng-if="(CASHUP_HEADER_VALUES.PETTY_CASH.ACTUAL-CASHUP_HEADER_VALUES.PETTY_CASH.EPOS) < 0">
                            <i class="fa-light fa-arrow-down-right txt-danger"></i>
                            {{CURRENCY_SYMBOL}} {{(CASHUP_HEADER_VALUES.PETTY_CASH.ACTUAL-CASHUP_HEADER_VALUES.PETTY_CASH.EPOS) | number:2}}
                        </span>

                        <span class="txt-success" ng-if="(CASHUP_HEADER_VALUES.PETTY_CASH.ACTUAL-CASHUP_HEADER_VALUES.PETTY_CASH.EPOS) > 0">
                            <i class="fa-light fa-arrow-up-right txt-success"></i>
                            {{CURRENCY_SYMBOL}} {{(CASHUP_HEADER_VALUES.PETTY_CASH.ACTUAL-CASHUP_HEADER_VALUES.PETTY_CASH.EPOS) | number:2}}
                        </span>

                        <span class="txt-success" ng-if="(CASHUP_HEADER_VALUES.PETTY_CASH.ACTUAL-CASHUP_HEADER_VALUES.PETTY_CASH.EPOS) == 0">
                            <i class="fa-light"></i>
                            {{CURRENCY_SYMBOL}} {{(CASHUP_HEADER_VALUES.PETTY_CASH.ACTUAL-CASHUP_HEADER_VALUES.PETTY_CASH.EPOS) | number:2}}
                        </span>
                    </span>
                </div>
            </div>
            <div class="col-xxl-12 col-xl-12 col-md-12" id="cashup-report-hide" ng-show="PETTY_CASH_LIST.length == 0">
                <div class="no-record text-center">
                    <span class="d-block text-center">{{LOAD_FETCH_TEXT}}</span>
                </div>
            </div>
            <div class="table-responsive" ng-show="PETTY_CASH_LIST.length > 0">
                <table>
                    <thead>
                        <tr>
                            <th class="text-center text-nowrap">Vendor </th>
                            <th class="text-center text-nowrap">Cost Category</th>
                            <th class="text-center text-nowrap">Goods</th>
                            <th class="text-end text-nowrap" width="10%"> Gross Amounts </th>
                            <th class="text-end text-nowrap" width="10%">VAT Amount</th>
                            <th class="text-end text-nowrap" width="10%">Net Amount</th>
                            <th class="text-center text-nowrap" width="10%">Approver </th>
                            <th class="text-center text-nowrap">Uploads</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="ROW in PETTY_CASH_LIST" ng-init="nginit_pettycash(ROW)">
                            <td class="text-center">{{ROW.PAID_TO || '-'}}</td>
                            <td class="text-center">{{ROW.COST_CATEGORY_NAME || '-'}}</td>
                            <td class="text-center">{{ROW.ITEM || '-'}}</td>
                            <td class="text-end text-nowrap">{{CURRENCY_SYMBOL}} {{ROW.TOTAL_VALUE | number:2}}</td>
                            <td class="text-end text-nowrap">{{CURRENCY_SYMBOL}} {{ROW.VAT_AMOUNT | number:2}}</td>
                            <td class="text-end text-nowrap">{{CURRENCY_SYMBOL}} {{ROW.NET_AMOUNT | number:2}}</td>
                            <td class="text-center">Lorem ipsum</td>
                            <td class="text-center txt-primary txt_underline">
                                <div ng-repeat="upls in ROW.UploadedFiles">
                                    <span class="truncate">
                                        <a download="{{upls.SERVER_FILE_NAME}}" href="/Uploads/{{upls.FILE_PATH}}{{upls.SERVER_FILE_NAME}}">
                                            <i class="fa-light me-2"></i>
                                            {{upls.ORIGINAL_FILE_NAME}}
                                        </a>
                                    </span>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr class="bg-gray">
                            <td class="text-center">Total</td>
                            <td class="text-center"></td>
                            <td class="text-center"></td>
                            <td class="text-end text-nowrap">{{CURRENCY_SYMBOL}} {{TOTAL_GROSS | number:2}}</td>
                            <td class="text-end text-nowrap">{{CURRENCY_SYMBOL}} {{TOTAL_VAT | number:2}}</td>
                            <td class="text-end text-nowrap">{{CURRENCY_SYMBOL}} {{TOTAL_NET | number:2}}</td>
                            <td class="text-center"></td>
                            <td class="text-center"></td>

                        </tr>
                    </tfoot>
                </table>
            </div>
            <div class="row g-2">
                <div class="col-xxl-12 col-xl-12 col-md-12">
                    <span class="headings">Deliveries</span>
                    <span class="txt-dark-gray float-end">
                        Variance: <span class="txt-danger text-nowrap" ng-if="(CASHUP_HEADER_VALUES.DELIVERY.ACTUAL-CASHUP_HEADER_VALUES.DELIVERY.EPOS) < 0">
                            <i class="fa-light fa-arrow-down-right txt-danger"></i>
                            {{CURRENCY_SYMBOL}} {{(CASHUP_HEADER_VALUES.DELIVERY.ACTUAL-CASHUP_HEADER_VALUES.DELIVERY.EPOS) | number:2}}
                        </span>

                        <span class="txt-success" ng-if="(CASHUP_HEADER_VALUES.DELIVERY.ACTUAL-CASHUP_HEADER_VALUES.DELIVERY.EPOS) > 0">
                            <i class="fa-light fa-arrow-up-right txt-success"></i>
                            {{CURRENCY_SYMBOL}} {{(CASHUP_HEADER_VALUES.DELIVERY.ACTUAL-CASHUP_HEADER_VALUES.DELIVERY.EPOS) | number:2}}
                        </span>

                        <span class="txt-success" ng-if="(CASHUP_HEADER_VALUES.DELIVERY.ACTUAL-CASHUP_HEADER_VALUES.DELIVERY.EPOS) == 0">
                            <i class="fa-light"></i>
                            {{CURRENCY_SYMBOL}} {{(CASHUP_HEADER_VALUES.DELIVERY.ACTUAL-CASHUP_HEADER_VALUES.DELIVERY.EPOS) | number:2}}
                        </span>
                    </span>
                </div>
            </div>
            <div class="col-xxl-12 col-xl-12 col-md-12" id="cashup-report-hide" ng-show="DELIVERY_LIST.length == 0">
                <div class="no-record text-center">
                    <span class="d-block text-center">{{LOAD_FETCH_TEXT}}</span>
                </div>
            </div>
            <div class="table-responsive" ng-show="DELIVERY_LIST.length > 0">
                <table>
                    <thead>
                        <tr>
                            <th class="text-center text-nowrap">Delivery Partner</th>
                            <th class="text-center text-nowrap">Units</th>
                            <th class="text-center text-nowrap" width="10%">Date</th>
                            <th class="text-center text-nowrap" width="10%">Payment Method</th>
                            <th class="text-end text-nowrap" width="10%">Amount</th>
                            <th class="text-center text-nowrap">Note</th>
                            <th class="text-center text-nowrap">Uploads</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="ROW in DELIVERY_LIST" ng-init="nginit_delivery(ROW)">
                            <td class="text-center">{{ROW.NAME || '-'}}</td>
                            <td class="text-center">{{ROW.UNITS || '-'}}</td>
                            <td class="text-center">{{ROW.DATE || '-'}}</td>
                            <td class="text-center">{{ROW.SELECTED_MODE_OF_PAYMENT_NAME || '-'}}</td>
                            <td class="text-end text-nowrap">{{CURRENCY_SYMBOL}} {{ROW.AMOUNT | number:2}}</td>
                            <td class="text-center">{{ROW.NOTE || '-'}}</td>
                            <td class="text-center txt-primary txt_underline">
                                <div ng-repeat="upls in ROW.UploadedFiles">
                                    <span class="truncate">
                                        <a download="{{upls.SERVER_FILE_NAME}}" href="/Uploads/{{upls.FILE_PATH}}{{upls.SERVER_FILE_NAME}}">
                                            <i class="fa-light me-2"></i>
                                            {{upls.ORIGINAL_FILE_NAME}}
                                        </a>
                                    </span>
                                </div>
                            </td>
                        </tr>

                    </tbody>
                    <tfoot>
                        <tr class="bg-gray">
                            <td class="text-center">Total</td>
                            <td class="text-center"></td>
                            <td class="text-center"></td>
                            <td class="text-center"></td>
                            <td class="text-end text-nowrap"> {{CURRENCY_SYMBOL}} {{DELIVERY_LIST|total:'TOTAL_DELHIVERY_AMT' | number:2}}</td>
                            <td class="text-center"></td>
                            <td class="text-center"></td>

                        </tr>
                    </tfoot>
                </table>
            </div>
            <div class="row g-2">
                <div class="col-xxl-12 col-xl-12 col-md-12">
                    <span class="headings">Account Credit</span>
                    <span class="txt-dark-gray float-end">
                        Variance: <span class="txt-danger text-nowrap" ng-if="(CASHUP_HEADER_VALUES.ACCOUNT_CREDIT.ACTUAL-CASHUP_HEADER_VALUES.ACCOUNT_CREDIT.EPOS) < 0">
                            <i class="fa-light fa-arrow-down-right txt-danger"></i>
                            {{CURRENCY_SYMBOL}} {{(CASHUP_HEADER_VALUES.ACCOUNT_CREDIT.ACTUAL-CASHUP_HEADER_VALUES.ACCOUNT_CREDIT.EPOS) | number:2}}
                        </span>

                        <span class="txt-success" ng-if="(CASHUP_HEADER_VALUES.ACCOUNT_CREDIT.ACTUAL-CASHUP_HEADER_VALUES.ACCOUNT_CREDIT.EPOS) > 0">
                            <i class="fa-light fa-arrow-up-right txt-success"></i>
                            {{CURRENCY_SYMBOL}} {{(CASHUP_HEADER_VALUES.ACCOUNT_CREDIT.ACTUAL-CASHUP_HEADER_VALUES.ACCOUNT_CREDIT.EPOS) | number:2}}
                        </span>

                        <span class="txt-success" ng-if="(CASHUP_HEADER_VALUES.ACCOUNT_CREDIT.ACTUAL-CASHUP_HEADER_VALUES.ACCOUNT_CREDIT.EPOS) == 0">
                            <i class="fa-light"></i>
                            {{CURRENCY_SYMBOL}} {{(CASHUP_HEADER_VALUES.ACCOUNT_CREDIT.ACTUAL-CASHUP_HEADER_VALUES.ACCOUNT_CREDIT.EPOS) | number:2}}
                        </span>
                    </span>
                </div>
            </div>
            <div class="col-xxl-12 col-xl-12 col-md-12" id="cashup-report-hide" ng-show="ACCOUNT_CREDIT_LIST.length == 0">
                <div class="no-record text-center">
                    <span class="d-block text-center">{{LOAD_FETCH_TEXT}}</span>
                </div>
            </div>
            <div class="table-responsive" ng-show="ACCOUNT_CREDIT_LIST.length > 0">
                <table>
                    <thead>
                        <tr>
                            <th class="text-center text-nowrap" width="20%">Customer Name</th>
                            <th class="text-center text-nowrap" width="20%">Company</th>
                            <th class="text-center text-nowrap" width="20%">Invoice Number</th>
                            <th class="text-end text-nowrap" width="20%">Amount</th>
                            <th class="text-center text-nowrap" width="20%">Note</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="ROW in ACCOUNT_CREDIT_LIST">
                            <td class="text-center">{{ROW.CUSTOMER_NAME || '-'}}</td>
                            <td class="text-center">{{ROW.COMPANY || '-'}}</td>
                            <td class="text-center">{{ROW.INVOICE_NUMBER || '-'}}</td>
                            <td class="text-end text-nowrap">{{CURRENCY_SYMBOL}} {{ROW.AMOUNT | number:2}}</td>
                            <td class="text-center">{{ROW.NOTE || '-'}}</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr class="bg-gray">
                            <td class="text-center">Total</td>
                            <td class="text-center"></td>
                            <td class="text-center"></td>
                            <td class="text-end text-nowrap">{{CURRENCY_SYMBOL}} {{ACCOUNT_CREDIT_LIST|total:'AMOUNT' | number:2}}</td>
                            <td class="text-center"></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div class="row g-2">
                <div class="col-xxl-12 col-xl-12 col-md-12">
                    <span class="headings">Account Received</span>
                    <span class="txt-dark-gray float-end">
                        Variance: <span class="txt-danger text-nowrap" ng-if="(CASHUP_HEADER_VALUES.ACCOUNT_RECEIVED.ACTUAL-CASHUP_HEADER_VALUES.ACCOUNT_RECEIVED.EPOS) < 0">
                            <i class="fa-light fa-arrow-down-right txt-danger"></i>
                            {{CURRENCY_SYMBOL}} {{(CASHUP_HEADER_VALUES.ACCOUNT_RECEIVED.ACTUAL-CASHUP_HEADER_VALUES.ACCOUNT_RECEIVED.EPOS) | number:2}}
                        </span>

                        <span class="txt-success" ng-if="(CASHUP_HEADER_VALUES.ACCOUNT_RECEIVED.ACTUAL-CASHUP_HEADER_VALUES.ACCOUNT_RECEIVED.EPOS) > 0">
                            <i class="fa-light fa-arrow-up-right txt-success"></i>
                            {{CURRENCY_SYMBOL}} {{(CASHUP_HEADER_VALUES.ACCOUNT_RECEIVED.ACTUAL-CASHUP_HEADER_VALUES.ACCOUNT_RECEIVED.EPOS) | number:2}}
                        </span>

                        <span class="txt-success" ng-if="(CASHUP_HEADER_VALUES.ACCOUNT_RECEIVED.ACTUAL-CASHUP_HEADER_VALUES.ACCOUNT_RECEIVED.EPOS) == 0">
                            <i class="fa-light"></i>
                            {{CURRENCY_SYMBOL}} {{(CASHUP_HEADER_VALUES.ACCOUNT_RECEIVED.ACTUAL-CASHUP_HEADER_VALUES.ACCOUNT_RECEIVED.EPOS) | number:2}}
                        </span>
                    </span>
                </div>
            </div>
            <div class="col-xxl-12 col-xl-12 col-md-12" id="cashup-report-hide" ng-show="ACCOUNT_RECEIVED_LIST.length == 0">
                <div class="no-record text-center">
                    <span class="d-block text-center">{{LOAD_FETCH_TEXT}}</span>
                </div>
            </div>
            <div class="table-responsive" ng-show="ACCOUNT_RECEIVED_LIST.length > 0">
                <table>
                    <thead>
                        <tr>
                            <th class="text-center text-nowrap">Customer Name</th>
                            <th class="text-center text-nowrap">Company</th>
                            <th class="text-center text-nowrap">Invoice Number</th>
                            <th class="text-center text-nowrap">Payment Method</th>
                            <th class="text-end text-nowrap" width="10%">Amount</th>
                            <th class="text-end text-nowrap" width="10%">Received Amount</th>
                            <th class="text-center text-nowrap">Note</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="ROW in ACCOUNT_RECEIVED_LIST">
                            <td class="text-center">{{ROW.CUSTOMER_NAME || '-'}}</td>
                            <td class="text-center">{{ROW.COMPANY || '-'}}</td>
                            <td class="text-center">{{ROW.INVOICE_NUMBER || '-'}}</td>
                            <td class="text-center">{{ROW.MODE_OF_PAYMENT || '-'}}</td>
                            <td class="text-end text-nowrap">{{CURRENCY_SYMBOL}} {{ROW.TOTAL_AMT | number:2}}</td>
                            <td class="text-end text-nowrap">{{CURRENCY_SYMBOL}} {{ROW.AMOUNT | number:2}}</td>
                            <td class="text-center">{{ROW.NOTE || '-'}}</td>
                        </tr>

                    </tbody>
                    <tfoot>
                        <tr class="bg-gray">
                            <td class="text-center">Total</td>
                            <td class="text-center"></td>
                            <td class="text-center"></td>
                            <td class="text-center"></td>
                            <td class="text-end text-nowrap">{{CURRENCY_SYMBOL}} {{ ACCOUNT_RECEIVED_LIST | total:'TOTAL_AMT' | number:2}}</td>
                            <td class="text-end text-nowrap">{{CURRENCY_SYMBOL}} {{ ACCOUNT_RECEIVED_LIST | total:'AMOUNT' | number:2}}</td>
                            <td class="text-center"></td>

                        </tr>
                    </tfoot>
                </table>
            </div>

            <div class="row g-2">
                <div class="col-xxl-12 col-xl-12 col-md-12">
                    <span class="headings">Vouchers Issued</span>
                    <span class="txt-dark-gray float-end">
                        Variance: <span class="txt-danger text-nowrap" ng-if="(CASHUP_HEADER_VALUES.VOUCHER_ISSUED.ACTUAL-CASHUP_HEADER_VALUES.VOUCHER_ISSUED.EPOS) < 0">
                            <i class="fa-light fa-arrow-down-right txt-danger"></i>
                            {{CURRENCY_SYMBOL}} {{(CASHUP_HEADER_VALUES.VOUCHER_ISSUED.ACTUAL-CASHUP_HEADER_VALUES.VOUCHER_ISSUED.EPOS) | number:2}}
                        </span>

                        <span class="txt-success" ng-if="(CASHUP_HEADER_VALUES.VOUCHER_ISSUED.ACTUAL-CASHUP_HEADER_VALUES.VOUCHER_ISSUED.EPOS) > 0">
                            <i class="fa-light fa-arrow-up-right txt-success"></i>
                            {{CURRENCY_SYMBOL}} {{(CASHUP_HEADER_VALUES.VOUCHER_ISSUED.ACTUAL-CASHUP_HEADER_VALUES.VOUCHER_ISSUED.EPOS) | number:2}}
                        </span>

                        <span class="txt-success" ng-if="(CASHUP_HEADER_VALUES.VOUCHER_ISSUED.ACTUAL-CASHUP_HEADER_VALUES.VOUCHER_ISSUED.EPOS) == 0">
                            <i class="fa-light"></i>
                            {{CURRENCY_SYMBOL}} {{(CASHUP_HEADER_VALUES.VOUCHER_ISSUED.ACTUAL-CASHUP_HEADER_VALUES.VOUCHER_ISSUED.EPOS) | number:2}}
                        </span>
                    </span>
                </div>
            </div>
            <div class="col-xxl-12 col-xl-12 col-md-12" id="cashup-report-hide" ng-show="VOUCHER_ISSUED_LIST.length == 0">
                <div class="no-record text-center">
                    <span class="d-block text-center">{{LOAD_FETCH_TEXT}}</span>
                </div>
            </div>
            <div class="table-responsive" ng-show="VOUCHER_ISSUED_LIST.length > 0">
                <table>
                    <thead>
                        <tr>
                            <th class="text-center text-nowrap">Voucher Type</th>
                            <th class="text-center text-nowrap">Voucher Number</th>
                            <th class="text-center text-nowrap">Sold to</th>
                            <th class="text-center text-nowrap">Validity</th>
                            <th class="text-center text-nowrap">Payment Method</th>
                            <th class="text-center text-nowrap">Invoice Number</th>
                            <th class="text-end text-nowrap" width="10%">Amount</th>
                            <th class="text-center text-nowrap">Note</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="ROW in VOUCHER_ISSUED_LIST">
                            <td class="text-center">{{ROW.VOUCHER_TYPE  || '-'}}</td>
                            <td class="text-center">{{ROW.VOUCHER_NUMBER  || '-'}}</td>
                            <td class="text-center">{{ROW.SOLD_TO  || '-'}}</td>
                            <td class="text-center">{{ROW.VALIDITY_DATE | date:DISPLAY_DATE_FORMAT}}</td>
                            <td class="text-center">{{ROW.VOUCHER_PAYMENT_METHOD  || '-'}}</td>
                            <td class="text-center">{{ROW.VOUCHER_INVOICE_NUMBER  || '-'}}</td>
                            <td class="text-end text-nowrap">{{CURRENCY_SYMBOL}} {{ ROW.AMOUNT | number:2}}</td>
                            <td class="text-center">{{ROW.NOTE  || '-'}}</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr class="bg-gray">
                            <td class="text-center">Total</td>
                            <td class="text-center"></td>
                            <td class="text-center"></td>
                            <td class="text-center"></td>
                            <td class="text-center"></td>
                            <td class="text-center"></td>
                            <td class="text-end">{{CURRENCY_SYMBOL}} {{ VOUCHER_ISSUED_LIST | total:'AMOUNT' | number:2}}</td>
                            <td class="text-center"></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div class="row g-2">
                <div class="col-xxl-12 col-xl-12 col-md-12">
                    <span class="headings">Vouchers Redeemed</span>
                    <span class="txt-dark-gray float-end">
                        Variance:
                        <span class="txt-danger text-nowrap" ng-if="(CASHUP_HEADER_VALUES.VOUCHER_REDEEMED.ACTUAL-CASHUP_HEADER_VALUES.VOUCHER_REDEEMED.EPOS) < 0">
                            <i class="fa-light fa-arrow-down-right txt-danger"></i>
                            {{CURRENCY_SYMBOL}} {{(CASHUP_HEADER_VALUES.VOUCHER_REDEEMED.ACTUAL-CASHUP_HEADER_VALUES.VOUCHER_REDEEMED.EPOS) | number:2}}
                        </span>

                        <span class="txt-success" ng-if="(CASHUP_HEADER_VALUES.VOUCHER_REDEEMED.ACTUAL-CASHUP_HEADER_VALUES.VOUCHER_REDEEMED.EPOS) > 0">
                            <i class="fa-light fa-arrow-up-right txt-success"></i>
                            {{CURRENCY_SYMBOL}} {{(CASHUP_HEADER_VALUES.VOUCHER_REDEEMED.ACTUAL-CASHUP_HEADER_VALUES.VOUCHER_REDEEMED.EPOS) | number:2}}
                        </span>

                        <span class="txt-success" ng-if="(CASHUP_HEADER_VALUES.VOUCHER_REDEEMED.ACTUAL-CASHUP_HEADER_VALUES.VOUCHER_REDEEMED.EPOS) == 0">
                            <i class="fa-light"></i>
                            {{CURRENCY_SYMBOL}} {{(CASHUP_HEADER_VALUES.VOUCHER_REDEEMED.ACTUAL-CASHUP_HEADER_VALUES.VOUCHER_REDEEMED.EPOS) | number:2}}
                        </span>
                    </span>
                </div>
            </div>
            <div class="col-xxl-12 col-xl-12 col-md-12" id="cashup-report-hide" ng-show="VOUCHER_REDEEMED_LIST.length == 0">
                <div class="no-record text-center">
                    <span class="d-block text-center">{{LOAD_FETCH_TEXT}}</span>
                </div>
            </div>
            <div class="table-responsive" ng-show="VOUCHER_REDEEMED_LIST.length>0">
                <table>
                    <thead>
                        <tr>
                            <th class="text-center text-nowrap" width="10%">Invoice Number</th>
                            <th class="text-center text-nowrap" width="10%">Voucher Number</th>
                            <th class="text-center text-nowrap" width="10%">Sold to</th>
                            <th class="text-center text-nowrap" width="10%">Validity</th>
                            <th class="text-end text-nowrap" width="10%">Amount</th>
                            <th class="text-end text-nowrap" width="10%">Redeemed Amount</th>
                            <th class="text-end text-nowrap" width="10%">Payment Method</th>
                            <th class="text-end text-nowrap" width="10%">Redeemed By</th>
                            <th class="text-center text-nowrap" width="10%">Note</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="ROW in VOUCHER_REDEEMED_LIST">
                            <td class="text-center">{{ROW.VOUCHER_INVOICE_NUMBER  || '-'}}</td>
                            <td class="text-center">{{ROW.VOUCHER_NUMBER  || '-'}}</td>
                            <td class="text-center">{{ROW.SOLD_TO  || '-'}}</td>
                            <td class="text-center">{{ROW.VALIDITY_DATE | date:DISPLAY_DATE_FORMAT}}</td>
                            <td class="text-end">{{CURRENCY_SYMBOL}} {{ROW.TOTAL_AMT}}</td>
                            <td class="text-end">{{CURRENCY_SYMBOL}} {{ROW.AMOUNT}}</td>
                            <td class="text-center">{{ROW.VOUCHER_PAYMENT_METHOD || '-'}}</td>
                            <td class="text-center">{{ROW.REDEEMED_BY  || '-'}}</td>
                            <td class="text-center">{{ROW.NOTE  || '-'}}</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr class="bg-gray">
                            <td class="text-center">Total</td>
                            <td class="text-center"></td>
                            <td class="text-center"></td>
                            <td class="text-center"></td>
                            <td class="text-end">{{CURRENCY_SYMBOL}} {{VOUCHER_REDEEMED_LIST | total:'TOTAL_AMT'}}</td>
                            <td class="text-end">{{CURRENCY_SYMBOL}} {{VOUCHER_REDEEMED_LIST | total:'AMOUNT'}}</td>
                            <td class="text-center"></td>
                            <td class="text-center"></td>
                            <td class="text-center"></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div class="row g-2">
                <div class="col-xxl-12 col-xl-12 col-md-12">
                    <span class="headings">Deposit Received</span>
                    <span class="txt-dark-gray float-end">
                        Variance:
                        <span class="txt-danger text-nowrap" ng-if="(CASHUP_HEADER_VALUES.DEPOSIT_RECEIVED.ACTUAL-CASHUP_HEADER_VALUES.DEPOSIT_RECEIVED.EPOS) < 0">
                            <i class="fa-light fa-arrow-down-right txt-danger"></i>
                            {{CURRENCY_SYMBOL}} {{(CASHUP_HEADER_VALUES.DEPOSIT_RECEIVED.ACTUAL-CASHUP_HEADER_VALUES.DEPOSIT_RECEIVED.EPOS) | number:2}}
                        </span>

                        <span class="txt-success" ng-if="(CASHUP_HEADER_VALUES.DEPOSIT_RECEIVED.ACTUAL-CASHUP_HEADER_VALUES.DEPOSIT_RECEIVED.EPOS) > 0">
                            <i class="fa-light fa-arrow-up-right txt-success"></i>
                            {{CURRENCY_SYMBOL}} {{(CASHUP_HEADER_VALUES.DEPOSIT_RECEIVED.ACTUAL-CASHUP_HEADER_VALUES.DEPOSIT_RECEIVED.EPOS) | number:2}}
                        </span>

                        <span class="txt-success" ng-if="(CASHUP_HEADER_VALUES.DEPOSIT_RECEIVED.ACTUAL-CASHUP_HEADER_VALUES.DEPOSIT_RECEIVED.EPOS) == 0">
                            <i class="fa-light"></i>
                            {{CURRENCY_SYMBOL}} {{(CASHUP_HEADER_VALUES.DEPOSIT_RECEIVED.ACTUAL-CASHUP_HEADER_VALUES.DEPOSIT_RECEIVED.EPOS) | number:2}}
                        </span>
                    </span>
                </div>
            </div>
            <div class="col-xxl-12 col-xl-12 col-md-12" id="cashup-report-hide" ng-show="DEPOSIT_RECEIVED_LIST.length == 0">
                <div class="no-record text-center">
                    <span class="d-block text-center">{{LOAD_FETCH_TEXT}}</span>
                </div>
            </div>
            <div class="table-responsive" ng-show="DEPOSIT_RECEIVED_LIST.length > 0">
                <table>
                    <thead>
                        <tr>
                            <th class="text-center text-nowrap">Invoice Number</th>
                            <th class="text-center text-nowrap">Name of Payee </th>
                            <th class="text-center text-nowrap">Deposit Reference </th>
                            <th class="text-center text-nowrap" width="10%">Date</th>
                            <th class="text-center text-nowrap">Payment Method </th>
                            <th class="text-end text-nowrap" width="10%">Amount</th>
                            <th class="text-center text-nowrap">Note</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="ROW in DEPOSIT_RECEIVED_LIST">
                            <td class="text-center">{{ROW.DEPOSITE_INVOICE_NUMBER || '-'}}</td>
                            <td class="text-center">{{ROW.NAME_OF_PAYEE || '-'}}</td>
                            <td class="text-center">{{ROW.DEPOSIT_REFERENCE || '-'}}</td>
                            <td class="text-center">{{ROW.VALIDITY_DATE|date:DISPLAY_DATE_FORMAT}}</td>
                            <td class="text-center">{{ROW.DEPOSITE_PAYMENT_METHOD || '-'}}</td>
                            <td class="text-end text-nowrap">{{CURRENCY_SYMBOL}} {{ROW.AMOUNT | number:2}}</td>
                            <td class="text-center">{{ROW.NOTE ||'-'}}</td>
                        </tr>

                    </tbody>
                    <tfoot>
                        <tr class="bg-gray">
                            <td class="text-center">Total</td>
                            <td class="text-center"></td>
                            <td class="text-center"></td>
                            <td class="text-center"></td>
                            <td class="text-center"></td>
                            <td class="text-end text-nowrap">{{CURRENCY_SYMBOL}} {{ DEPOSIT_RECEIVED_LIST | total:'AMOUNT' | number:2}}</td>
                            <td class="text-center"></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div class="row g-2">
                <div class="col-xxl-12 col-xl-12 col-md-12">
                    <span class="headings">Deposit Redeemed</span>
                    <span class="txt-dark-gray float-end">
                        Variance:
                        <span class="txt-danger text-nowrap" ng-if="(CASHUP_HEADER_VALUES.DEPOSIT_REDEEMED.ACTUAL-CASHUP_HEADER_VALUES.DEPOSIT_REDEEMED.EPOS) < 0">
                            <i class="fa-light fa-arrow-down-right txt-danger"></i>
                            {{CURRENCY_SYMBOL}} {{(CASHUP_HEADER_VALUES.DEPOSIT_REDEEMED.ACTUAL-CASHUP_HEADER_VALUES.DEPOSIT_REDEEMED.EPOS) | number:2}}
                        </span>

                        <span class="txt-success" ng-if="(CASHUP_HEADER_VALUES.DEPOSIT_REDEEMED.ACTUAL-CASHUP_HEADER_VALUES.DEPOSIT_REDEEMED.EPOS) > 0">
                            <i class="fa-light fa-arrow-up-right txt-success"></i>
                            {{CURRENCY_SYMBOL}} {{(CASHUP_HEADER_VALUES.DEPOSIT_REDEEMED.ACTUAL-CASHUP_HEADER_VALUES.DEPOSIT_REDEEMED.EPOS) | number:2}}
                        </span>

                        <span class="txt-success" ng-if="(CASHUP_HEADER_VALUES.DEPOSIT_REDEEMED.ACTUAL-CASHUP_HEADER_VALUES.DEPOSIT_REDEEMED.EPOS) == 0">
                            <i class="fa-light"></i>
                            {{CURRENCY_SYMBOL}} {{(CASHUP_HEADER_VALUES.DEPOSIT_REDEEMED.ACTUAL-CASHUP_HEADER_VALUES.DEPOSIT_REDEEMED.EPOS) | number:2}}
                        </span>
                    </span>
                </div>
            </div>
            <div class="col-xxl-12 col-xl-12 col-md-12" id="cashup-report-hide" ng-show="DEPOSIT_REDEEMED_LIST.length == 0">
                <div class="no-record text-center">
                    <span class="d-block text-center">{{LOAD_FETCH_TEXT}}</span>
                </div>
            </div>
            <div class="table-responsive" ng-show="DEPOSIT_REDEEMED_LIST.length > 0">
                <table>
                    <thead>
                        <tr>
                            <th class="text-center" width="10%">Invoice Number</th>
                            <th class="text-center" width="10%">Name of Payee </th>
                            <th class="text-center" width="10%">Deposit Reference </th>
                            <th class="text-center" width="10%">Date</th>
                            <th class="text-center" width="10%">Payment Method </th>
                            <th class="text-end" width="10%">Amount</th>
                            <th class="text-end" width="10%">Redeemed Amount</th>
                            <th class="text-center" width="10%">Note</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="ROW in DEPOSIT_REDEEMED_LIST">
                            <td class="text-center">{{ROW.DEPOSITE_INVOICE_NUMBER || '-'}}</td>
                            <td class="text-center">{{ROW.NAME_OF_PAYEE || '-'}}</td>
                            <td class="text-center">{{ROW.DEPOSIT_REFERENCE || '-'}}</td>
                            <td class="text-center">{{ROW.VALIDITY_DATE|date:DISPLAY_DATE_FORMAT}}</td>
                            <td class="text-center">{{ROW.DEPOSITE_PAYMENT_METHOD || '-'}}</td>
                            <td class="text-end text-nowrap">{{CURRENCY_SYMBOL}} {{ROW.TOTAL_AMT | number:2}}</td>
                            <td class="text-end text-nowrap">{{CURRENCY_SYMBOL}} {{ROW.AMOUNT | number:2}}</td>
                            <td class="text-center">{{ROW.NOTE}}</td>
                        </tr>

                    </tbody>
                    <tfoot>
                        <tr class="bg-gray">
                            <td class="text-center">Total</td>
                            <td class="text-center"></td>
                            <td class="text-center"></td>
                            <td class="text-center"></td>
                            <td class="text-center"></td>
                            <td class="text-end text-nowrap">{{CURRENCY_SYMBOL}} {{DEPOSIT_REDEEMED_LIST|total:'TOTAL_AMT' | number:2}}</td>
                            <td class="text-end text-nowrap">{{CURRENCY_SYMBOL}} {{DEPOSIT_REDEEMED_LIST|total:'AMOUNT' | number:2}}</td>
                            <td class="text-center"></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div class="row g-2">
                <div class="col-xxl-12 col-xl-12 col-md-12">
                    <span class="headings">Complimentary</span>
                    <span class="txt-dark-gray float-end">
                        Variance: <span class="txt-danger text-nowrap" ng-if="(CASHUP_HEADER_VALUES.COMPLIMENTARY.ACTUAL-CASHUP_HEADER_VALUES.COMPLIMENTARY.EPOS) < 0">
                            <i class="fa-light fa-arrow-down-right txt-danger"></i>
                            {{CURRENCY_SYMBOL}} {{(CASHUP_HEADER_VALUES.COMPLIMENTARY.ACTUAL-CASHUP_HEADER_VALUES.COMPLIMENTARY.EPOS) | number:2}}
                        </span>

                        <span class="txt-success" ng-if="(CASHUP_HEADER_VALUES.COMPLIMENTARY.ACTUAL-CASHUP_HEADER_VALUES.COMPLIMENTARY.EPOS) > 0">
                            <i class="fa-light fa-arrow-up-right txt-success"></i>
                            {{CURRENCY_SYMBOL}} {{(CASHUP_HEADER_VALUES.COMPLIMENTARY.ACTUAL-CASHUP_HEADER_VALUES.COMPLIMENTARY.EPOS) | number:2}}
                        </span>

                        <span class="txt-success" ng-if="(CASHUP_HEADER_VALUES.COMPLIMENTARY.ACTUAL-CASHUP_HEADER_VALUES.COMPLIMENTARY.EPOS) == 0">
                            <i class="fa-light"></i>
                            {{CURRENCY_SYMBOL}} {{(CASHUP_HEADER_VALUES.COMPLIMENTARY.ACTUAL-CASHUP_HEADER_VALUES.COMPLIMENTARY.EPOS) | number:2}}
                        </span>
                    </span>
                </div>
            </div>
            <div class="col-xxl-12 col-xl-12 col-md-12" id="cashup-report-hide" ng-show="COMPS_LIST.length == 0">
                <div class="no-record text-center">
                    <span class="d-block text-center">{{LOAD_FETCH_TEXT}}</span>
                </div>
            </div>
            <div class="table-responsive" ng-show="COMPS_LIST.length > 0">
                <table>
                    <thead>
                        <tr>
                            <th class="text-center text-nowrap" width="10%">Authorized by</th>
                            <th class="text-center text-nowrap" width="10%">Check Number</th>
                            <th class="text-center text-nowrap" width="10%">Table Number</th>
                            <th class="text-center text-nowrap" width="10%">Reason of Comp</th>
                            <th class="text-center text-nowrap" width="10%">No. of Covers</th>
                            <th class="text-center text-nowrap" width="10%">Time</th>
                            <th class="text-end text-nowrap" width="10%">Amount</th>
                            <th class="text-center text-nowrap" width="10%">Note</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="ROW in COMPS_LIST" ng-init="nginit_comps(ROW)">
                            <td class="text-center">{{ROW.AUTHORIZED_BY_NAME || '-'}}</td>
                            <td class="text-center">{{ROW.COMP_CHECK_NO || '-'}}</td>
                            <td class="text-center">{{ROW.TABLE_NUMBER || '-'}}</td>
                            <td class="text-center">{{ROW.REASON_OF_COMP || '-'}}</td>
                            <td class="text-center">{{ROW.NO_OF_COVERS ||'-'}}</td>
                            <td class="text-center">{{ROW.TIME || '-'}}</td>
                            <td class="text-end text-nowrap">{{CURRENCY_SYMBOL}} {{ROW.AMOUNT|number:2}}</td>
                            <td class="text-center">{{ROW.NOTE || '-'}}</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr class="bg-gray">
                            <td class="text-center">Total</td>
                            <td class="text-center"></td>
                            <td class="text-center"></td>
                            <td class="text-center"></td>
                            <td class="text-center"></td>
                            <td class="text-center"></td>
                            <td class="text-end text-nowrap">{{CURRENCY_SYMBOL}} {{ COMPS_LIST|total:'AMOUNT'|number:2}}</td>
                            <td class="text-center"></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div class="row g-2">
                <div class="col-xxl-12 col-xl-12 col-md-12">
                    <span class="headings">Void</span>
                    <span class="txt-dark-gray float-end">
                        Variance: <span class="txt-danger text-nowrap" ng-if="(CASHUP_HEADER_VALUES.VOID.ACTUAL-CASHUP_HEADER_VALUES.VOID.EPOS) < 0">
                            <i class="fa-light fa-arrow-down-right txt-danger"></i>
                            {{CURRENCY_SYMBOL}} {{(CASHUP_HEADER_VALUES.VOID.ACTUAL-CASHUP_HEADER_VALUES.VOID.EPOS) | number:2}}
                        </span>

                        <span class="txt-success" ng-if="(CASHUP_HEADER_VALUES.VOID.ACTUAL-CASHUP_HEADER_VALUES.VOID.EPOS) > 0">
                            <i class="fa-light fa-arrow-up-right txt-success"></i>
                            {{CURRENCY_SYMBOL}} {{(CASHUP_HEADER_VALUES.VOID.ACTUAL-CASHUP_HEADER_VALUES.VOID.EPOS) | number:2}}
                        </span>

                        <span class="txt-success" ng-if="(CASHUP_HEADER_VALUES.VOID.ACTUAL-CASHUP_HEADER_VALUES.VOID.EPOS) == 0">
                            <i class="fa-light"></i>
                            {{CURRENCY_SYMBOL}} {{(CASHUP_HEADER_VALUES.VOID.ACTUAL-CASHUP_HEADER_VALUES.VOID.EPOS) | number:2}}
                        </span>
                    </span>
                </div>
            </div>
            <div class="col-xxl-12 col-xl-12 col-md-12" id="cashup-report-hide" ng-show="VOIDS_LIST.length == 0">
                <div class="no-record text-center">
                    <span class="d-block text-center">{{LOAD_FETCH_TEXT}}</span>
                </div>
            </div>
            <div class="table-responsive" ng-show="VOIDS_LIST.length > 0">
                <table>
                    <thead>
                        <tr>
                            <th class="text-center text-nowrap" width="25%">Void Type</th>
                            <th class="text-center text-nowrap" width="25%">Check Number</th>
                            <th class="text-center text-nowrap" width="25%">Authorized by</th>
                            <th class="text-end text-nowrap" width="25%">Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="ROW in VOIDS_LIST" ng-init="nginit_voids(ROW)">
                            <td class="text-center  text-nowrap">{{ROW.VOID_TYPE ||'-'}}</td>
                            <td class="text-center text-nowrap">{{ROW.VOID_CHECK_NO || '-'}}</td>
                            <td class="text-center">{{ROW.AUTHORIZED_BY_NAME || '-'}}</td>
                            <td class="text-end text-nowrap">{{CURRENCY_SYMBOL}} {{ROW.AMOUNT | number:2}}</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr class="bg-gray">
                            <td class="text-center text-nowrap">Total</td>
                            <td class="text-center"></td>
                            <td class="text-center"></td>
                            <td class="text-end text-nowrap">{{CURRENCY_SYMBOL}} {{ VOIDS_LIST | total:'AMOUNT' | number:2}}</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>

    <div class="sticky_bottom_navigator">
        <div class="card">
            <div class="card-footer">
                <div class="row">
                    <div class="col-xxl-12 col-xl-12 col-md-12 text-end">
                        <a class="btn btn-primary" href="../Cashup/CashupAppIndex#!/CashUpApp_Review">Back</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


