<div class="card">
    <templateurl template-url="../AngularViews/CashupApp/Cashup_Entry/CashupEntryHeader.html" class="cashup_entry_header">
    </templateurl>


    <div class="card-body pt-1 cashup-entry-body">
        <div class="row gx-2 resSites cashup_entry_header_details">
            <div class="col-xxl-auto col-xl-auto col-md-auto">
                <span class="badge_cashup_info">
                    Site: <span class="f-w-700">{{SELECTED_SITE}}</span>
                </span>
            </div>
            <div class="col-xxl-auto col-xl-auto col-md-auto">
                <span class="badge_cashup_info">
                    Area: <span class="f-w-700">{{SELECTED_AREA || 'ALL'}}</span>
                </span>
            </div>
            <div class="col-xxl-auto col-xl-auto col-md-auto">
                <span class="badge_cashup_info">
                    Session: <span class="f-w-700">{{SELECTED_SESSION || 'ALL'}}</span>
                </span>
            </div>
            <div class="col-xxl-auto col-xl-auto col-md-auto">
                <span class="badge_cashup_info text-nowrap">
                    Cashup Date: <span class="f-w-700">{{CASHUP_DATE | date:DISPLAY_DATE_FORMAT }}</span>
                </span>
            </div>
            <!-- Add currency-->
            <div class="col-xxl-auto col-xl-auto col-md-auto">
                <button class="btn btn-primary" type="button" data-bs-toggle="dropdown" aria-expanded="false" ng-disabled="!CASHUP_ENTRY_SEARCH.IS_DATA_ENTRY_ENABLED">
                    Add Currency: {{BASE_CURRENCY_CODE}}
                    <i class="fa-light fa-plus"></i>
                </button>
                <ul class="dropdown-menu dropdown-block DontHideOnClick dropdown-menu-end w-100">
                    <li class="dropdown-item DontHideOnClick" ng-repeat="CUR in CURRENCY_LIST" ng-click="SET_CURRENCY(CUR)">
                        <div class="form-check">
                            <input class="form-check-input"
                                   name="{{CUR.CURRENCY_CODE}}"
                                   type="checkbox"
                                   ng-model="CUR.IS_CHECKED">
                            <img class="countryFlag me-1"
                                 data-currency="{{CUR.CURRENCY_CODE}}"
                                 ng-src="{{getFlagUrl(CUR.CURRENCY_CODE)}}"
                                 alt="Flag"
                                 width="25">
                            <label class="form-check-label">
                                {{CUR.CURRENCY_CODE}}
                            </label>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-xxl-auto col-xl-auto col-md-auto ms-auto">
                <span class="badge_cashup_info text-nowrap">
                    Actual : {{CASHUP_INFO.ACTUAL = ((SELECT_CURRENCY_MAIN ) | total:'TOTAL_CASH')| number:2 }}
                </span>
            </div>
            <div class="col-xxl-auto col-xl-auto col-md-auto">
                <span class="badge_cashup_info text-nowrap">
                    ePOS : {{CASHUP_INFO.EPOS}}
                </span>
            </div>
            <div class="col-xxl-auto col-xl-auto col-md-auto">
                <span class="badge_cashup_info">
                    Variance : <span class="txt-danger text-nowrap" ng-if="(CASHUP_INFO.ACTUAL-CASHUP_INFO.EPOS) < 0">
                        <i class="fa-light fa-arrow-down-right txt-danger"></i>
                        {{(CASHUP_INFO.ACTUAL-CASHUP_INFO.EPOS) | number:2}}
                    </span>

                    <span class="txt-success" ng-if="(CASHUP_INFO.ACTUAL-CASHUP_INFO.EPOS) > 0">
                        <i class="fa-light fa-arrow-up-right txt-success"></i>
                        {{(CASHUP_INFO.ACTUAL-CASHUP_INFO.EPOS) | number:2}}
                    </span>

                    <span class="txt-success" ng-if="(CASHUP_INFO.ACTUAL-CASHUP_INFO.EPOS) == 0">
                        <i class="fa-light"></i>
                        {{(CASHUP_INFO.ACTUAL-CASHUP_INFO.EPOS) | number:2}}
                    </span>
                </span>
            </div>
        </div>
        <div class="resCashupTable entry-table mt-2">
            <h5 class="headings ">Cash</h5>
            <div class="row g-2 scrollbar-wrapper cashTableHeight flex-nowrap mx-0">
                <div ng-class="{'col-xxl col-xl col-md':(SELECT_CURRENCY_MAIN|filter:{IS_CHECKED:true}).length<=3,'col-xxl-4 col-xl-4 col-md-4':(SELECT_CURRENCY_MAIN|filter:{IS_CHECKED:true}).length>3}" ng-repeat="VAL in SELECT_CURRENCY_MAIN | orderBy:'CURRENCY_ID'" ng-show="VAL.IS_CHECKED==true" ng-init="nginit_cash(SELECT_CURRENCY_MAIN)">
                    <table>
                        <thead class="cashTableStickyTop">
                            <tr>
                                <th colspan="5">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <img class="countryFlag me-1"
                                             data-currency="{{VAL.CURRENCY_CODE}}"
                                             ng-src="{{getFlagUrl(VAL.CURRENCY_CODE)}}"
                                             alt="Flag"
                                             width="40">
                                        <!--<img class="countryFlag me-1" data-currency="{{VAL.CURRENCY_CODE}}" src="" alt="Flag" width="40">-->
                                        <span class="min-w-50per">Currency ({{VAL.CURRENCY_CODE}})</span>
                                        <div class="d-flex align-items-center" ng-show="VAL.FLAG==false">
                                            <span class="text-nowrap px-1">1 {{VAL.CURRENCY_CODE}} =</span>
                                            <input type="text" value="20" class="mb-0 max-w-45 px-1" only-digits ng-disabled="!CASHUP_ENTRY_SEARCH.IS_DATA_ENTRY_ENABLED" ng-model="VAL.CONVERSION_RATE">
                                            <span class="px-1">{{BASE_CURRENCY.split(':')[1]}}</span>
                                            <button click-once class="btn btn-primary saveBTn" data-bs-target="#save_currency" data-bs-toggle="modal" ng-disabled="!CASHUP_ENTRY_SEARCH.IS_DATA_ENTRY_ENABLED" ng-click="INS_FLOT_CASH_CURRENCY_CONVERTER(VAL,1)">
                                                <i class="fa-light fa-floppy-disk"></i>
                                            </button>
                                        </div>
                                    </div>
                                </th>
                            </tr>
                            <tr>
                                <th width="20%"></th>
                                <th width="10%"></th>
                                <th class="text-center">Quantity</th>
                                <th width="10%"></th>
                                <th width="15%" class="text-end">Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="FLOAT in VAL.DECLERATION_MASTER " ng-init="init_decleration_details(FLOAT, VAL)">
                                <td class="text-center text-nowrap" ng-if="!FLOAT.IS_PRECISION"><span ng-bind-html="FLOAT.SYMBOL"></span>&nbsp;{{FLOAT.VALUE}}</td>
                                <td class="text-center text-nowrap" ng-if="FLOAT.IS_PRECISION">{{FLOAT.VALUE}}&nbsp;{{(FLOAT.PRECISION_SYMBOL | customSplitString)[1]}}</td>
                                <td class="text-center">x</td>
                                <td>
                                    <input type="text" ng-model="FLOAT.QUANTITY" only-numbers ng-disabled="!CASHUP_ENTRY_SEARCH.IS_DATA_ENTRY_ENABLED" />
                                </td>
                                <td class="text-center">=</td>
                                <td class="text-end">
                                    {{FLOAT.CUSTOM_CURRENCY_AMOUNT=FLOAT.VALUE*FLOAT.QUANTITY*FLOAT.MULTIPLICATION_FACTOR | number:2}}
                                    <span class="d-block text-grey" ng-show="VAL.FLAG==false">(Base Currency: {{FLOAT.BRANCH_CURRENCY_AMOUNT=FLOAT.CUSTOM_CURRENCY_AMOUNT * VAL.CONVERSION_RATE | number:2}} {{BASE_CURRENCY.split(':')[1]}})</span>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot class="cashTableStickyBottom">
                            <tr class="bg-gray">
                                <td colspan="3" class="text-center">Total</td>
                                <td class="text-center">=</td>
                                <td class="text-end text-nowrap">
                                    <span ng-if="VAL.FLAG==true">
                                        {{ VAL.TOTAL_CASH=((VAL.DECLERATION_MASTER )| total:'CUSTOM_CURRENCY_AMOUNT')| number:2 }} {{BASE_CURRENCY.split(':')[1]}}
                                    </span>
                                    <span ng-if="VAL.FLAG==false">
                                        {{ ((VAL.DECLERATION_MASTER ) | total:'CUSTOM_CURRENCY_AMOUNT')| number:2 }} {{VAL.CURRENCY_CODE}} = {{ VAL.TOTAL_CASH=((VAL.DECLERATION_MASTER )| total:'BRANCH_CURRENCY_AMOUNT')| number:2 }} {{BASE_CURRENCY.split(':')[1]}}
                                    </span>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>

            </div>
        </div>

        <div class="row my-2">
            <div class="col-xxl-12 col-xl-12 col-md-12">
                <button click-once class="btn btn-outline w-100 add-cash-tips" ng-click="SHOW_CASH_TIPS()">
                    <i class="fa-light fa-plus"></i> Add Cash Tips
                </button>
            </div>
        </div>

        <div class="cash-tips-row" ng-show="SHOW_CASH_TIPS_FLAG==true">
            <div class="row align-items-center gy-2 gx-5">
                <div class="col-xxl-3 col-xl-3 col-md-3">
                    <h5 class="headings mt-3 mb-0">Add Cash Tips </h5>
                </div>
                <div class="col-xxl-9 col-xl-9 col-md-9 text-end">
                    <button class="collapse-icon btn btn-transparent" ng-click="HIDE_CASH_TIPS()" data-bs-toggle="tooltip" data-bs-original-title="Close Cash Tips"><i class="fa-solid fa-xmark fa-lg"></i></button>
                </div>
                <div class="col-xxl-4 col-xl-4 col-md-4" ng-repeat="VAL in SELECT_CURRENCY_MAIN | orderBy:'CURRENCY_ID'" ng-show="VAL.IS_CHECKED==true">
                    <div class="bg-grey p-2 b-r-5">
                        <div class="row align-items-center">
                            <div class="col-xxl-4 col-xl-4 col-md-4">
                                <span class="cash-tips">Cash Tips ({{VAL.CURRENCY_CODE}})</span>
                            </div>
                            <div class="col-xxl-auto col-xl-auto col-md-auto divider-border">
                                <span class="cash-tips-equal">=</span>
                            </div>
                            <div class="col-xxl col-xl col-md">
                                <input type="text" placeholder="Add here" class="mb-0 text-end" only-digits ng-model="VAL.CASHUP_CASH_TIPS" ng-disabled="!CASHUP_ENTRY_SEARCH.IS_DATA_ENTRY_ENABLED">
                            </div>
                            <div class="col-xxl-auto col-xl-auto col-md-auto">
                                <button click-once class="btn btn-primary saveBTn" data-bs-toggle="modal" ng-click="INS_UPD_CASHUP_CASH_TIPS(VAL,1)" ng-disabled="!CASHUP_ENTRY_SEARCH.IS_DATA_ENTRY_ENABLED">
                                    <i class="fa-light fa-floppy-disk"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-xxl-12 col-xl-12 col-md-12">
                <h6 class="headings">Comments</h6>
            </div>
            <div class="col-xxl-12 col-xl-12 col-md-12 resTextAreaCashup">
                <textarea rows="4" placeholder="Add Comments..." ng-model="CASHUP_ENTRY_NOTE" ng-disabled="!CASHUP_ENTRY_SEARCH.IS_DATA_ENTRY_ENABLED"></textarea>
            </div>
            <div class="col-xxl-12 col-xl-12 col-md-12 text-end">
                <button click-once class="btn btn-primary" ng-click="INS_UPD_CASHUP_HEADER_NOTES()" ng-disabled="!CASHUP_ENTRY_SEARCH.IS_DATA_ENTRY_ENABLED">Comment</button>
            </div>
        </div>
        <div class="textarea-bg resText" ng-repeat="COM in CASH_TAB_NOTE_LIST" ng-init="NOTE_INIT(COM)">
            <div class="comment-elements">
                <span class="text_avatar">{{COM.USER_NAME | limitTo:1}}</span>
                <span>{{COM.USER_NAME}}</span>
                <span class="text-gray">{{COM.CREATED_DATE | date:'dd-MMM-yyyy hh:mm a'}}</span>
                <span class="comment-pen-icon">
                    <i class="fa-light fa-pen ms-1 c-pointer" ng-click="CASHUP_ENTRY_SEARCH.IS_DATA_ENTRY_ENABLED && EDIT_COMMENT(COM)"></i>
                    <i class="fa-light fa-trash-alt ms-1 c-pointer txt-danger" ng-show="!COM.isEditable" ng-click="CASHUP_ENTRY_SEARCH.IS_DATA_ENTRY_ENABLED &&  DELETE_COMMENT(COM)"></i>
                </span>
            </div>
            <div class="row">
                <div class="col-xxl-auto col-xl-auto col-md-auto empty-coloumn">
                    <span>&nbsp;</span>
                </div>
                <div class="col-xxl col-xl col-md resTextAreaCashup">
                    <textarea ng-readonly="!COM.isEditable"
                              ng-model="COM.NOTE"
                              name="NOTE"
                              ng-class="{'bg-white':COM.isEditable==true,'bg-gray':COM.isEditable==false}"
                              ng-blur="INS_UPD_CASHUP_HEADER_NOTES(COM)">
                          {{COM.NOTE}}
                </textarea>
                </div>
                
            </div>
        </div>
        <!--Comments Code Starts-->

    </div>
    <div class="sticky_bottom_navigator">
        <div class="card">
            <div class="card-footer">
                <div class="row">
                    <div class="col-xxl-12 col-xl-12 col-md-12 text-end">
                        <button click-once class="btn btn-light" ng-click="PREVIOUS()">Previous</button>
                        <button click-once class="btn btn-light" ng-disabled="!CASHUP_ENTRY_SEARCH.IS_DATA_ENTRY_ENABLED" data-bs-target="#save" data-bs-toggle="modal" ng-click="SAVE_DATA(0)">Save</button>
                        <button click-once class="btn btn-primary" ng-click="CONTINUE()" data-bs-toggle="modal">Continue</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="save_conversion_rate_success" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenter1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered p-5" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-xxl-12 col-md-12 col-xl-12">
                        <div class="d-flex justify-content-end">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                    </div>
                    <div class="col-xxl-12 col-md-12 col-xl-12">
                        <div class="p-2">
                            <div class="d-flex justify-content-center">
                                <div class="tickIcon">
                                    <span class="badge text-bg-success-modal">
                                        <i class="fa-light fa-check fa-lg"></i>
                                    </span>
                                </div>
                            </div>
                            <h6 class="modal_heading">Successfully Saved Updates</h6>
                            <p class="modal_content">Currency conversion rate has been saved successfully.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="save_conversion_rate_failure" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenter1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered p-5" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-xxl-12 col-md-12 col-xl-12">
                        <div class="d-flex justify-content-end">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                    </div>
                    <div class="col-xxl-12 col-md-12 col-xl-12">
                        <div class="p-2">
                            <div class="d-flex justify-content-center">
                                <div class="tickIcon_danger">
                                    <span class="badge text-bg-danger-modal">
                                        <i class="fa-light fa-exclamation fa-lg"></i>
                                    </span>
                                </div>
                            </div>
                            <h6 class="modal_heading">Failed To Save Updates</h6>
                            <p class="modal_content">Currency Conversion Rate Could Not be Saved Successfully.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="save_cash_tips_success" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenter1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered p-5" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-xxl-12 col-md-12 col-xl-12">
                        <div class="d-flex justify-content-end">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                    </div>
                    <div class="col-xxl-12 col-md-12 col-xl-12">
                        <div class="p-2">
                            <div class="d-flex justify-content-center">
                                <div class="tickIcon">
                                    <span class="badge text-bg-success-modal">
                                        <i class="fa-light fa-check fa-lg"></i>
                                    </span>
                                </div>
                            </div>
                            <h6 class="modal_heading">Successfully Saved Updates</h6>
                            <p class="modal_content">Cashup Tips has been saved successfully.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="save_cash_tips_failure" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenter1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered p-5" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-xxl-12 col-md-12 col-xl-12">
                        <div class="d-flex justify-content-end">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                    </div>
                    <div class="col-xxl-12 col-md-12 col-xl-12">
                        <div class="p-2">
                            <div class="d-flex justify-content-center">
                                <div class="tickIcon_danger">
                                    <span class="badge text-bg-danger-modal">
                                        <i class="fa-light fa-exclamation fa-lg"></i>
                                    </span>
                                </div>
                            </div>
                            <h6 class="modal_heading">Error Saving Updates</h6>
                            <p class="modal_content">Cashup Tips was not saved successfully.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="proceed" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenter1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header border-0">
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close" data-bs-original-title="" title=""></button>
            </div>
            <div class="modal-body">
                <div class="modal-toggle-wrapper">
                    <div class="d-flex justify-content-center">
                        <div class="tickIcon_danger">
                            <div class="badge text-bg-danger-modal">
                                <i class="fa-solid fa-exclamation fa-xl"></i>
                            </div>
                        </div>
                    </div>
                    <p class="modal_infoText">
                        There is a Variance of {{CURRENCY_SYMBOL}}  {{(CASHUP_INFO.ACTUAL-CASHUP_INFO.EPOS) | number:2}}, do you still
                        want to proceed?
                    </p>
                </div>
            </div>
            <div class="modal-footer border-0">
                <div class="row w-100">
                    <div class="col-xxl-6 col-md-6 col-md-6">
                        <button class="btn btn-light w-100" type="button" data-bs-dismiss="modal">Cancel</button>
                    </div>
                    <div class="col-xxl-6 col-md-6 col-md-6">
                        <!--ng-click="SAVE_DATA(1)"-->
                        <button click-once class="btn btn-primary w-100" type="button" data-bs-dismiss="modal" ng-click="SAVE_DATA(1)">Yes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
