<div class="card">
    <templateurl template-url="../AngularViews/CashupApp/Cashup_Entry/CashupEntryHeader.html" class="cashup_entry_header"></templateurl>

    <div class="card-body pt-1 cashup-entry-body">
        <div class="row gx-2 resSites cashup_entry_header_details">
            <div class="col-xxl-auto col-xl-auto col-md-auto">
                <span class="badge_cashup_info">
                    Site: <span class="f-w-700">{{SELECTED_SITE}}</span>
                </span>
            </div>
            <div class="col-xxl-auto col-xl-auto col-md-auto">
                <span class="badge_cashup_info">
                    Area: <span class="f-w-700">{{SELECTED_AREA || 'ALL'}}</span>
                </span>
            </div>
            <div class="col-xxl-auto col-xl-auto col-md-auto">
                <span class="badge_cashup_info">
                    Session: <span class="f-w-700">{{SELECTED_SESSION || 'ALL'}}</span>
                </span>
            </div>
            <div class="col-xxl-auto col-xl-auto col-md-auto">
                <span class="badge_cashup_info text-nowrap">
                    Cashup Date: <span class="f-w-700">{{CASHUP_DATE | date:DISPLAY_DATE_FORMAT }}</span>
                </span>
            </div>
            <div class="col-xxl-auto col-xl-auto col-md-auto ms-auto">
                <span class="badge_cashup_info text-nowrap">
                    Actual : {{CASHUP_INFO.ACTUAL = DEPOSIT_TOTAL | number:2 }}
                </span>
            </div>
            <div class="col-xxl-auto col-xl-auto col-md-auto">
                <span class="badge_cashup_info text-nowrap">
                    ePOS : {{CASHUP_INFO.EPOS|number:2}}
                </span>
            </div>
            <div class="col-xxl-auto col-xl-auto col-md-auto">
                <span class="badge_cashup_info text-nowrap">
                    Variance : <span class="txt-danger" ng-if="(DEPOSIT_TOTAL-CASHUP_INFO.EPOS) < 0">
                        <i class="fa-light fa-arrow-down-right txt-danger"></i>
                        {{(DEPOSIT_TOTAL-CASHUP_INFO.EPOS) | number:2}}
                    </span>

                    <span class="txt-success" ng-if="(DEPOSIT_TOTAL-CASHUP_INFO.EPOS) > 0">
                        <i class="fa-light fa-arrow-up-right txt-success"></i>
                        {{(DEPOSIT_TOTAL-CASHUP_INFO.EPOS) | number:2}}
                    </span>
                    <span class="txt-success" ng-if="(DEPOSIT_TOTAL-CASHUP_INFO.EPOS) == 0">
                        <i class="fa-light"></i>
                        {{(DEPOSIT_TOTAL-CASHUP_INFO.EPOS) | number:2}}
                    </span>
                </span>
            </div>
        </div>
        <form name="DepositsEntryForm" autocomplete="off" novalidate>
            <div class="row">
                <div class="col-xxl-12 col-xl-12 col-md-12 mt-2">
                    <h5 class="headings">Deposit Received</h5>
                    <div class="table-responsive scrollbar-wrapper mx-height-100 resCashupTable">
                        <table>
                            <thead>
                                <tr>
                                    <th class="text-center text-nowrap" width="10%">
                                        Invoice Number
                                        <span class="txt-danger">*</span>
                                    </th>
                                    <th class="text-center text-nowrap" width="10%">
                                        Name of Payee
                                        <span class="txt-danger">*</span>
                                    </th>
                                    <th class="text-center text-nowrap" width="10%">
                                        Deposit Reference
                                        <span class="txt-danger">*</span>
                                    </th>
                                    <th class="text-center text-nowrap" width="10%">Date</th>
                                    <th class="text-end text-nowrap" width="10%">
                                        Amount
                                        <span class="txt-danger">*</span>
                                    </th>
                                    <th class="text-center text-nowrap" width="10%">
                                        Payment Method
                                        <span class="txt-danger">*</span>
                                    </th>
                                    <th class="text-center text-nowrap" width="10%">Note</th>
                                    <th class="text-center text-nowrap" width="10%">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="ROW in DEPOSITS_ENTRY_LIST" ng-if="ROW.ENTRY_TYPE_DETAIL_ID==null || ROW.ENTRY_TYPE_DETAIL_ID==undefined" ng-init="nginit_deposits_received(ROW)">
                                    <td>

                                        <input type="text"
                                               placeholder="Add Here"
                                               class="mb-0 min-w-80"
                                               ng-model="ROW.DEPOSITE_INVOICE_NUMBER"
                                               ng-disabled="ROW.RESTRICT_DELETE==1 || !CASHUP_ENTRY_SEARCH.IS_DATA_ENTRY_ENABLED"
                                               name="INVOICE_NO_Issued{{$index}}"
                                               required
                                               ng-class="{'error':DepositsEntryForm.submitted && DepositsEntryForm.INVOICE_NO_Issued{{$index}}.$error.required}" />
                                    </td>
                                    <td>
                                        <input type="text"
                                               placeholder="Add Here"
                                               class="mb-0 min-w-80"
                                               ng-model="ROW.NAME_OF_PAYEE"
                                               ng-disabled="ROW.RESTRICT_DELETE==1 || !CASHUP_ENTRY_SEARCH.IS_DATA_ENTRY_ENABLED"
                                               name="NAME_OF_PAYEE_Issued{{$index}}"
                                               required
                                               ng-class="{'error':DepositsEntryForm.submitted && DepositsEntryForm.NAME_OF_PAYEE_Issued{{$index}}.$error.required}" />
                                    </td>
                                    <td>
                                        <input type="text"
                                               placeholder="Add Here"
                                               class="mb-0 min-w-80"
                                               ng-model="ROW.DEPOSIT_REFERENCE"
                                               ng-disabled="ROW.RESTRICT_DELETE==1 || !CASHUP_ENTRY_SEARCH.IS_DATA_ENTRY_ENABLED"
                                               name="DEPOSIT_REFERENCE_Issued{{$index}}"
                                               required
                                               ng-blur="UPLOAD_DEPOSITE_CHECK(ROW)"
                                               ng-class="{'error':DepositsEntryForm.submitted && DepositsEntryForm.DEPOSIT_REFERENCE_Issued{{$index}}.$error.required}" />
                                    </td>
                                    <td>
                                        <div class="col-xxl-auto col-xl-auto col-md-auto">
                                            <div class="date-column" ng-init="dateinputddmmyy()">
                                                <input type="text"
                                                       class="dateinputddmmyy mb-0 min-w-120"
                                                       placeholder="DD/MM/YY"
                                                       name=""
                                                       ng-disabled="ROW.RESTRICT_DELETE==1 || !CASHUP_ENTRY_SEARCH.IS_DATA_ENTRY_ENABLED"
                                                       ng-model="ROW.VALIDITY_DATE" />
                                                <i class="date-icon fa-light fa-calendar" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <input type="text"
                                               placeholder="Add Here"
                                               class="mb-0 min-w-80 text-end"
                                               only-digits ng-model="ROW.AMOUNT"
                                               ng-change="CALCULATE_TOTAL(ROW)"
                                               ng-disabled="ROW.RESTRICT_DELETE==1 || !CASHUP_ENTRY_SEARCH.IS_DATA_ENTRY_ENABLED"
                                               name="AMOUNT_Issued{{$index}}"
                                               required
                                               ng-class="{'error':DepositsEntryForm.submitted && DepositsEntryForm.AMOUNT_Issued{{$index}}.$error.required}" />
                                    </td>
                                    <td>
                                        <ul class="nav nav-pills">
                                            <li class="dropdown w-100">
                                                <input type="hidden"
                                                       ng-model="ROW.SELECTED_MODE_OF_PAYMENT_NAME"
                                                       name="PAYMENT_MODE_Issued_{{$index}}"
                                                       required
                                                       ng-class="{'error':DepositsEntryForm.submitted && DepositsEntryForm.PAYMENT_MODE_Issued_{{$index}}.$error.required}" />

                                                <a class="text-limitations cursor-pointer"
                                                   data-toggle="dropdown"
                                                   ng-class="{'disabled':ROW.RESTRICT_DELETE==1 || !CASHUP_ENTRY_SEARCH.IS_DATA_ENTRY_ENABLED}">
                                                    <span class="select-label" id="select_label" ng-class="{'error':DepositsEntryForm.submitted && DepositsEntryForm.PAYMENT_MODE_Issued_{{$index}}.$error.required}">
                                                        <span class="truncate">{{ROW.SELECTED_MODE_OF_PAYMENT_NAME || 'Add'}}</span>
                                                    </span>
                                                </a>
                                                <ul ID="divNewNotifications" class="dropdown-menu unique-dropdown-list scrollbar-wrapper w-auto" style="min-width:100%">
                                                    <li class="unique-dropdown-content" ng-repeat="_mode_of_payment in MODE_OF_PAYMENT_LIST" ng-show="_mode_of_payment.ACTIVE==true" ng-click="SELECT_MODE_OF_PAYMENT(ROW,_mode_of_payment)">
                                                        <span class="truncate">{{_mode_of_payment.METHOD_NAME}}</span>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </td>
                                    <td>
                                        <input type="text" placeholder="Add Here" class="mb-0 min-w-80" ng-model="ROW.NOTE" ng-disabled="ROW.RESTRICT_DELETE==1 || !CASHUP_ENTRY_SEARCH.IS_DATA_ENTRY_ENABLED" />
                                    </td>
                                    <td class="text-center">
                                        <button click-once type="button" class="btn btn-transparent c-pointer" ng-disabled="ROW.RESTRICT_DELETE==1 || !CASHUP_ENTRY_SEARCH.IS_DATA_ENTRY_ENABLED" ng-click="DELETE_ROW(ROW)"><i class="fa-light fa-trash-can txt-danger"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr class="bg-gray">
                                    <td class="text-center">Total</td>
                                    <td class="text-center"></td>
                                    <td class="text-center"></td>
                                    <td class="text-center"></td>
                                    <td class="text-end">{{DEPOSIT_TOTAL | number:2}}</td>
                                    <td class="text-center"></td>
                                    <td class="text-center"></td>
                                    <td class="text-center"></td>
                                </tr>
                                <tr>
                                    <td colspan="8">
                                        <button click-once type="button" class="btn btn-outline w-100" ng-click="ADD_NEW_ROW_ENTRY()" ng-disabled="!CASHUP_ENTRY_SEARCH.IS_DATA_ENTRY_ENABLED">
                                            <i class="fa-light fa-plus"></i> Add New Row
                                        </button>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <hr />
                    <div class="row g-1 mt-1 align-items-center resBadgeCashup">
                        <div class="col-xxl-auto col-xl-auto col-md-auto">
                            <h5 class="headings pt-3 pe-2"> Deposit Redeemed</h5>
                        </div>
                        <div class="col-xxl-auto col-xl-auto col-md-auto">
                            <button click-once type="button" class="btn btn-primary text-nowrap" data-bs-target="#redeem_deposits" data-bs-toggle="modal" ng-click="GET_DEPOSITS()" ng-disabled="!CASHUP_ENTRY_SEARCH.IS_DATA_ENTRY_ENABLED">Redeem Deposits</button>
                        </div>
                        <div class="col-xxl-auto col-xl-auto col-md-auto ms-auto">
                            <span class="badge_cashup_info text-nowrap">
                                Actual : {{DEPOSIT_REDEEMED_CASHUP_INFO.ACTUAL = REDEEMED_TOTAL | number:2 }}
                            </span>
                        </div>
                        <div class="col-xxl-auto col-xl-auto col-md-auto">
                            <span class="badge_cashup_info text-nowrap">
                                ePOS : {{DEPOSIT_REDEEMED_CASHUP_INFO.EPOS|number:2}}
                            </span>
                        </div>
                        <div class="col-xxl-auto col-xl-auto col-md-auto">
                            <span class="badge_cashup_info text-nowrap">
                                Variance : <span class="txt-danger" ng-if="(REDEEMED_TOTAL-DEPOSIT_REDEEMED_CASHUP_INFO.EPOS) < 0">
                                    <i class="fa-light fa-arrow-down-right txt-danger"></i>
                                    {{(REDEEMED_TOTAL-DEPOSIT_REDEEMED_CASHUP_INFO.EPOS) | number:2}}
                                </span>
                                <span class="txt-success" ng-if="(REDEEMED_TOTAL-DEPOSIT_REDEEMED_CASHUP_INFO.EPOS) == 0">
                                    <i class="fa-light txt-success"></i>
                                    {{(REDEEMED_TOTAL-DEPOSIT_REDEEMED_CASHUP_INFO.EPOS) | number:2}}
                                </span>
                                <span class="txt-success" ng-if="(REDEEMED_TOTAL-DEPOSIT_REDEEMED_CASHUP_INFO.EPOS) > 0">
                                    <i class="fa-light fa-arrow-up-right txt-success"></i>
                                    {{(REDEEMED_TOTAL-DEPOSIT_REDEEMED_CASHUP_INFO.EPOS) | number:2}}
                                </span>
                            </span>
                        </div>
                    </div>
                    <div class="table-responsive  scrollbar-wrapper mx-height-100 resCashupTable">
                        <table>
                            <thead>
                                <tr>
                                    <th class="text-nowrap text-center" width="10%">Invoice Number</th>
                                    <th class="text-nowrap text-center" width="10%">Deposit Reference </th>
                                    <th class="text-nowrap text-center" width="10%">Name of Payee </th>
                                    <th class="text-nowrap text-center" width="10%">Date</th>
                                    <th class="text-nowrap text-end" width="10%">Amount</th>
                                    <th class="text-nowrap text-end" width="10%">Redeemed Amount <span class="text-danger">*</span></th>
                                    <th class="text-nowrap text-center" width="10%">Payment Method <span class="text-danger">*</span> </th>
                                    <th class="text-nowrap text-center" width="10%">Note</th>
                                    <th class="text-nowrap text-center" width="10%">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="ROW in DEPOSITS_ENTRY_LIST" ng-if="ROW.ENTRY_TYPE_DETAIL_ID !=null && ROW.ENTRY_TYPE_DETAIL_ID != undefined" ng-init="nginit_deposit_redeemed(ROW)">
                                    <td><input type="text" class="mb-0 min-w-80" 
                                               ng-disabled="!(ROW.ID==0 && ROW.ENTRY_TYPE_DETAIL_ID ==0)"  
                                               placeholder="Invoice Number" 
                                               ng-model="ROW.DEPOSITE_INVOICE_NUMBER"
                                               ng-required="ROW.ID==0 && ROW.ENTRY_TYPE_DETAIL_ID ==0"
                                               name="REDEEMED_DEPOSITE_INVOICE_NUMBER_{{$index}}"
                                               ng-class="{'error':DepositsEntryForm.submitted && DepositsEntryForm.REDEEMED_DEPOSITE_INVOICE_NUMBER_{{$index}}.$error.required}"/></td>

                                    <td><input type="text" class="mb-0 min-w-80" 
                                               ng-disabled="!(ROW.ID==0 && ROW.ENTRY_TYPE_DETAIL_ID ==0)"  
                                               placeholder="Deposit Reference" 
                                               ng-model="ROW.DEPOSIT_REFERENCE" 
                                               ng-required="ROW.ID==0 && ROW.ENTRY_TYPE_DETAIL_ID==0"
                                               name="REDEEMED_DEPOSIT_REFERENCE_{{$index}}"
                                               ng-blur="ROW.ID==0 && ROW.ENTRY_TYPE_DETAIL_ID==0 && UPLOAD_DEPOSITE_CHECK(ROW)"
                                               ng-class="{'error':DepositsEntryForm.submitted && DepositsEntryForm.REDEEMED_DEPOSIT_REFERENCE_NUMBER_{{$index}}.$error.required}"/></td>
                                    <td><input type="text" class="mb-0 min-w-80" 
                                               ng-disabled="!(ROW.ID==0 && ROW.ENTRY_TYPE_DETAIL_ID ==0)"  
                                               placeholder="Name of Payee" 
                                               ng-model="ROW.NAME_OF_PAYEE"
                                               ng-required="ROW.ID==0 && ROW.ENTRY_TYPE_DETAIL_ID==0"
                                               name="REDEEMED_NAME_OF_PAYEE_{{$index}}"
                                               ng-class="{'error':DepositsEntryForm.submitted && DepositsEntryForm.REDEEMED_NAME_OF_PAYEE_{{$index}}.$error.required}"/></td>
                                    <td>
                                        <div class="date-column" ng-init="dateinputddmmyy()">
                                            <input type="text"
                                                   class="dateinputddmmyy mb-0 min-w-120"
                                                   placeholder="DD/MM/YY"
                                                   name="REDEEMED_VALIDITY_DATE_{{$index}}"
                                                   ng-required="ROW.ID==0 && ROW.ENTRY_TYPE_DETAIL_ID==0"
                                                   ng-model="ROW.VALIDITY_DATE"
                                                   ng-disabled="!(ROW.ID==0 && ROW.ENTRY_TYPE_DETAIL_ID==0)" 
                                                   ng-class="{'error':VouchersEntryForm.submitted && VouchersEntryForm.REDEEMED_VALIDITY_DATE_{{$index}}.$error.required}"/>
                                            <i class="date-icon fa-light fa-calendar" aria-hidden="true"></i>
                                        </div>
                                    </td>
                                    <td><input type="text" class="mb-0 text-end min-w-80" disabled placeholder="0.00" ng-model="ROW.TOTAL_AMT" /></td>
                                    <td>
                                        <input type="text"
                                               class="mb-0 text-end min-w-80"
                                               placeholder="0.00"
                                               ng-disabled="(ROW.ID!=0 && ROW.ID!=null) || !CASHUP_ENTRY_SEARCH.IS_DATA_ENTRY_ENABLED"
                                               only-digits ng-model="ROW.AMOUNT"
                                               ng-change="CALCULATE_TOTAL(ROW)"
                                               name="AMOUNT_Redeemed{{$index}}"
                                               required
                                               ng-class="{'error':DepositsEntryForm.submitted && DepositsEntryForm.AMOUNT_Redeemed{{$index}}.$error.required}" />
                                    </td>
                                    <td>
                                        <ul class="nav nav-pills">
                                            <li class="dropdown w-100">
                                                <input type="hidden"
                                                       ng-model="ROW.SELECTED_MODE_OF_PAYMENT_NAME"
                                                       name="PAYMENT_MODE_Redeemed_{{$index}}"
                                                       required
                                                       ng-class="{'error':DepositsEntryForm.submitted && DepositsEntryForm.PAYMENT_MODE_Redeemed_{{$index}}.$error.required}" />

                                                <a class="text-limitations cursor-pointer"
                                                   data-toggle="dropdown"
                                                   ng-class="{'disabled':(ROW.ID!=0 && ROW.ID!=null) || !CASHUP_ENTRY_SEARCH.IS_DATA_ENTRY_ENABLED}">
                                                    <span class="select-label" id="select_label" ng-class="{'error':DepositsEntryForm.submitted && DepositsEntryForm.PAYMENT_MODE_Redeemed_{{$index}}.$error.required}">
                                                        {{ROW.SELECTED_MODE_OF_PAYMENT_NAME || 'Add'}}
                                                    </span>
                                                </a>
                                                <ul ID="divNewNotifications" class="dropdown-menu unique-dropdown-list scrollbar-wrapper w-auto" style="min-width:100%">
                                                    <li class="unique-dropdown-content" ng-repeat="_mode_of_payment in MODE_OF_PAYMENT_LIST" ng-show="_mode_of_payment.ACTIVE==true" ng-click="SELECT_MODE_OF_PAYMENT(ROW,_mode_of_payment)">
                                                        {{_mode_of_payment.METHOD_NAME}}
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>

                                    </td>
                                    <td><input type="text" class="mb-0 min-w-80" 
                                               placeholder="Add here" ng-model="ROW.NOTE" 
                                               ng-disabled=" (ROW.ID!=0 && ROW.ID!=null) || !CASHUP_ENTRY_SEARCH.IS_DATA_ENTRY_ENABLED" /></td>
                                    <td class="text-center"><button click-once type="button" class="btn btn-transparent" ng-click="DELETE_ROW(ROW)" ng-disabled="!CASHUP_ENTRY_SEARCH.IS_DATA_ENTRY_ENABLED"><i class="fa-light fa-trash-can txt-danger"></i></button></td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr class="bg-gray">
                                    <td class="text-center">Total</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td class="text-end">{{REDEEMED_TOTAL|number:2}}</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>

                                </tr>
                            </tfoot>
                        </table>
                        <div class="col-xxl-12 col-xl-12 col-md-12">
                            <button click-once type="button" class="btn btn-outline w-100" ng-click="ADD_NEW_ROW_ENTRY_DIRECT_REDEEM()" ng-disabled="!CASHUP_ENTRY_SEARCH.IS_DATA_ENTRY_ENABLED"><i class="fa-light fa-plus me-1"></i> Add New Row</button>
                        </div>
                    </div>
                    <div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-xxl-12 col-xl-12 col-md-12">
                        <h6 class="headings">Comments</h6>
                    </div>
                    <div class="col-xxl-12 col-xl-12 col-md-12 resTextAreaCashup">
                        <textarea rows="4" placeholder="Add Comments..." ng-model="CASHUP_ENTRY_NOTE" ng-disabled="!CASHUP_ENTRY_SEARCH.IS_DATA_ENTRY_ENABLED"></textarea>
                    </div>
                    <div class="col-xxl-12 col-xl-12 col-md-12 text-end">
                        <button click-once type="button" class="btn btn-primary" ng-click="INS_UPD_CASHUP_HEADER_NOTES()" ng-disabled="!CASHUP_ENTRY_SEARCH.IS_DATA_ENTRY_ENABLED">Comment</button>
                    </div>
                </div>
                <div class="textarea-bg resText" ng-repeat="COM in DEPOSITS_TAB_NOTE_LIST" ng-init="NOTE_INIT(COM)">
                    <div class="comment-elements">
                        <span class="text_avatar">{{COM.USER_NAME | limitTo:1}}</span>
                        <span>{{COM.USER_NAME}}</span>
                        <span class="text-gray">{{COM.CREATED_DATE | date:'dd-MMM-yyyy hh:mm a'}}</span>
                        <span class="comment-pen-icon">
                            <i class="fa-light fa-pen ms-1 c-pointer" ng-click="CASHUP_ENTRY_SEARCH.IS_DATA_ENTRY_ENABLED && EDIT_COMMENT(COM)"></i>
                            <i class="fa-light fa-trash-alt ms-1 c-pointer txt-danger" ng-show="!COM.isEditable" ng-click="CASHUP_ENTRY_SEARCH.IS_DATA_ENTRY_ENABLED && DELETE_COMMENT(COM)"></i>
                        </span>
                    </div>
                    <div class="row">
                        <div class="col-xxl-auto col-xl-auto col-md-auto empty-coloumn">
                            <span>&nbsp;</span>
                        </div>
                        <div class="col-xxl col-xl col-md resTextAreaCashup">
                            <textarea ng-disabled="!COM.isEditable"
                                      ng-model="COM.NOTE"
                                      ng-class="{'bg-white':COM.isEditable==true,'bg-gray':COM.isEditable==false}"
                                      ng-blur="INS_UPD_CASHUP_HEADER_NOTES(COM)">{{COM.NOTE}}</textarea>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="sticky_bottom_navigator">
        <div class="card">
            <div class="card-footer">
                <div class="row">
                    <div class="col-xxl-12 col-xl-12 col-md-12 text-end">
                        <button click-once class="btn btn-light" ng-click="PREVIOUS()">Previous</button>
                        <button click-once class="btn btn-light" ng-disabled="!CASHUP_ENTRY_SEARCH.IS_DATA_ENTRY_ENABLED" data-bs-target="#save" data-bs-toggle="modal" ng-click="INS_ENTRY_DEPOSIT_DECLARATION(0)">Save</button>
                        <button click-once class="btn btn-primary" ng-click="CONTINUE()" data-bs-toggle="modal">Continue</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="proceed" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenter1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header border-0">
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close" data-bs-original-title="" title=""></button> <!--ng-click="RESET_ON_MODAL_CLOSE()"-->
            </div>
            <div class="modal-body">
                <div class="modal-toggle-wrapper">
                    <div class="d-flex justify-content-center">
                        <div class="tickIcon_danger">
                            <div class="badge text-bg-danger-modal">
                                <i class="fa-solid fa-exclamation fa-xl"></i>
                            </div>
                        </div>
                    </div>
                    <p class="modal_infoText">
                        There is a Variance in Deposit Received and Deposit Redeemed of {{CURRENCY_SYMBOL}} {{(CASHUP_INFO.ACTUAL-CASHUP_INFO.EPOS) | number:2}} and {{CURRENCY_SYMBOL}} {{(REDEEMED_TOTAL-DEPOSIT_REDEEMED_CASHUP_INFO.EPOS) | number:2}} respectively, do you still
                        want to proceed?
                    </p>
                </div>
            </div>
            <div class="modal-footer border-0">
                <div class="row w-100">
                    <div class="col-xxl-6 col-md-6 col-md-6">
                        <button class="btn btn-light w-100" type="button" data-bs-dismiss="modal">Cancel</button><!--ng-click="RESET_ON_MODAL_CLOSE()"-->
                    </div>
                    <div class="col-xxl-6 col-md-6 col-md-6">
                        <button click-once class="btn btn-primary w-100" type="button" data-bs-dismiss="modal" ng-click="INS_ENTRY_DEPOSIT_DECLARATION(1)">Yes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="redeem_deposits" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" data-bs-backdrop="static" data-bs-keyboard="false" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title">Redeem Deposits</h6>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" ng-click="RESET_DEPOSITS()"></button>
            </div>
            <div class="modal-body resCashupHeader">
                <div class="row g-2">
                    <div class="col-xxl col-xl col-md">
                        <label class="text-nowrap">Invoice Number </label>
                        <input type="text" placeholder="Invoice Number" ng-model="GET_DEPOSIT_SEARCH.INVOICE_NUMBER" ng-change="GET_DEPOSITS()" />
                    </div>
                    <div class="col-xxl col-xl col-md">
                        <label class="text-nowrap">Deposit Reference</label>
                        <input type="text" placeholder="Reference Number" ng-model="GET_DEPOSIT_SEARCH.DEPOSIT_REFERENCE" ng-change="GET_DEPOSITS()" />
                    </div>
                    <div class="col-xxl col-xl col-md">
                        <label class="text-nowrap">Name of Payee</label>
                        <input type="text" placeholder="Payee Name" ng-model="GET_DEPOSIT_SEARCH.PAYEE_NAME" ng-change="GET_DEPOSITS()" />
                    </div>
                    <div class="col-xxl col-xl col-md">
                        <label class="text-nowrap">Payment Method</label>

                        <ul class="nav nav-pills min-w-120 mb-0">
                            <li class="dropdown w-100">
                                <a class="text-limitations cursor-pointer" data-toggle="dropdown">
                                    <span class="select-label personColor" id="select_label">
                                        {{GET_DEPOSIT_SEARCH.PAYMENT_MODE_NAME || 'Add'}}
                                    </span>
                                </a>
                                <ul id="divNewNotifications" class="dropdown-menu DontHideOnClick scrollbar-wrapper w-auto" style="min-width:100%">
                                    <li ng-click="RESET_MODE_OF_PAYMENT_DEPOSITS()">
                                        Select
                                    </li>
                                    <li ng-repeat="_mode_of_payment in MODE_OF_PAYMENT_LIST" ng-click="SELECT_MODE_OF_PAYMENT_DEPOSITS(_mode_of_payment)">
                                        {{_mode_of_payment.METHOD_NAME}}
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="table-responsive scrollbar-wrapper resCashupTable">
                    <table>
                        <thead class="table-sticky-top">
                            <tr>
                                <th width="10%">
                                    <div class="form-check">
                                        <input class="form-check-input" id="Invoice_Number" type="checkbox" value="" ng-model="DEPOSITS_CHECKED_ALL" ng-click="CHECK_ALL_DEPOSITS()">
                                        <label class="form-check-label text-nowrap" for="Invoice_Number">Invoice Number</label>
                                    </div>
                                </th>
                                <th class="text-nowrap text-center" width="10%">Deposit Reference</th>
                                <th class="text-nowrap text-center" width="10%">Name of Payee</th>
                                <th class="text-nowrap text-center" width="10%">Date</th>
                                <th class="text-nowrap text-center" width="10%">Payment Method</th>
                                <th class="text-nowrap text-end" width="10%">Amount</th>
                                <th class="text-nowrap text-end" width="10%">Remaining Amount</th>
                                <th class="notes">Note</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="ROW in DEPOSITS_LIST" ng-init="nginit_deposits(ROW)">
                                <td>
                                    <div class="form-check">
                                        <input class="form-check-input" id="Invoice_Number1" type="checkbox" value="" ng-model="ROW.CHECKED">
                                        <label class="form-check-label" for="Invoice_Number1">{{ROW.INVOICE_NUMBER}}</label>
                                    </div>
                                </td>
                                <td class="text-nowrap text-center">{{ROW.DEPOSIT_REFERENCE}}</td>
                                <td class="text-nowrap text-center">{{ROW.NAME_OF_PAYEE}}</td>
                                <td class="text-nowrap text-center">{{ROW.VALIDITY_DATE | date:DISPLAY_DATE_FORMAT }}</td>
                                <td class="text-nowrap text-center">{{ROW.PAYMENT_METHOD}}</td>
                                <td class="text-nowrap text-end">{{ROW.AMOUNT}}</td>
                                <td class="text-nowrap text-end">{{ROW.REMAINING_VALUE}}</td>
                                <td>{{ROW.NOTE}}</td>
                            </tr>
                        </tbody>
                        <tfoot class="table-sticky-bottom">
                            <tr class="bg-grey">
                                <td class="text-center">Total</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td class="text-end">{{((DEPOSITS_LIST ) | total:'AMOUNT')| number:2}}</td>
                                <td class="text-end">{{((DEPOSITS_LIST ) | total:'REMAINING_VALUE')| number:2}}</td>
                                <td></td>
                            </tr>
                            <tr class="bg-gray" ng-show="GetData">
                                <td colspan="8" class="text-center table-footer-fixed"  style="">
                                    <a class="btn btn-secondary text-white ng-binding" ng-click="GET_DEPOSITS(1)">{{PAGINATION_TEXT}}</a>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <div class="modal-footer text-end">
                <button class="btn btn-light" type="button" data-bs-dismiss="modal" ng-click="RESET_DEPOSITS()">Cancel</button>
                <button click-once class="btn btn-primary" data-bs-dismiss="modal" ng-click="SELECT_DEPOSITS_TO_REDEEM()">Redeem</button>
            </div>
        </div>
    </div>
</div>



<script>

    var dropdownMenu;

    $('table').on('show.bs.dropdown', function (e) {
        var $target = $(e.target);
        dropdownMenu = $target.find('.unique-dropdown-list');

        $('body').append(dropdownMenu.detach());


        var targetOffset = $target.offset();
        dropdownMenu.css({
            'display': 'block',
            'top': targetOffset.top + $target.outerHeight(),
            'left': targetOffset.left,
            'min-width': $target.outerWidth(),
            'max-width': '250px',
            'max-height': '300px',
            'z-index': '1060',
            'overflow': 'auto',
            'position': 'absolute',

        });
    });

    $('table').on('hide.bs.dropdown', function (e) {
        var $target = $(e.target);
        $target.append(dropdownMenu.detach());
        dropdownMenu.hide();
    });

</script>