<div class="row align-items-center pt-1 p-3 border-bottom mb-3">
    <div class="col-xxl-auto col-xl-auto col-md-auto" ng-repeat="_feed in FEED_TYPES_LIST">
        <a class="btn-tabs " ng-click="HRM_GET_FEEDS(_feed.FEED_TYPE_ID)" 
           ng-class="{'active':_feed.FEED_TYPE_ID==FeedsSearch.FEED_TYPE_ID }">{{_feed.FEED_TYPE}}</a>
    </div>
    <div class="col-xxl-auto col-xl-auto col-md-auto ms-auto " ng-show="IS_ADD_FEED">
        <button type="button" class="btn btn-primary " data-bs-toggle="modal" ng-click="ADD_NEW_ENTIRES_Fn()">Add New</button>
    </div>
</div>
<!--Pages Start -->
<!--Cards-->
<div class="container" ng-show="FEEDS_LIST.length==0">
    <div class="no-record" style="">No records yet</div>
</div>
<div class="container" ng-repeat="_feed in FEEDS_LIST" ng-init="nginitfeeds(_feed)">
    <div class="col-xxl-7 col-xl-7 col-md-7 mx-auto">
        <div class="card p-2 shadow-sm">
            <div class="card-header border-0">
                <div class="row align-items-center gy-3">
                    <div class=" " ng-class="{'col-xxl-8 col-xl-8 col-md-8':_feed.FEED_TYPE_ID!=1,'col-xxl col-xl col-md':_feed.FEED_TYPE_ID==1 }">
                        <img ng-show="_feed.IMG_PATH!=null && _feed.IMG_PATH!=''"
                             src="..{{_feed.IMG_PATH}}"
                             class="img-40 rounded-circle float-start me-2" />
                        <span ng-show="_feed.IMG_PATH==null || _feed.IMG_PATH==''" class="text_avatar_40">{{_feed.NAME}}</span>
                        <span class="truncate">{{_feed.TITLE}}</span>
                        <p>{{_feed.CREATED_DATE | date:DISPLAY_DATE_FORMAT}}</p>
                    </div>
                    <div class="col-xxl-auto col-xl-auto col-md-auto ms-auto">
                        <button ng-show="_feed.CREATED_BY==FeedsSearch.USER_LOGIN_ID" class="btn btn-outline text-nowrap"
                                ng-click="POP_EDIT_FEED_STATS_Fn(_feed)">
                            <i class="fa-regular fa-edit"></i>
                        </button>
                        <button ng-show="_feed.CREATED_BY==FeedsSearch.USER_LOGIN_ID && _feed.FEED_TYPE_ID!==1" class="btn btn-outline text-nowrap"
                                ng-click="POP_FEED_STATS_Fn(_feed)">
                            <i class="fa-regular fa-signal-good"></i> View Stats
                        </button>
                    </div>
                </div>
            </div>

            <div class="card-body pt-0">
                <div class="row">
                    <div class="col-xxl-12 col-xl-12 col-md-12 mb-3">
                        <p class="card-text">{{_feed.COMMENTS}}</p>
                    </div>
                    <div class="col-xxl-4 col-xl-4 col-md-4" ng-repeat="file in _feed.UploadedFiles">
                        <div class="imgContainer" ng-if="IS_IMAGE_Fn(file.SERVER_FILE_NAME)">
                            <img ng-src="{{file.FILE_PATH}}{{file.SERVER_FILE_NAME}}">
                        </div>
                        <a class="truncate" ng-if="!IS_IMAGE_Fn(file.SERVER_FILE_NAME)" href="{{file.FILE_PATH}}{{file.SERVER_FILE_NAME}}" download="download">
                            <i class="fa fa-download"></i>
                            {{file.ORIGINAL_FILE_NAME}}
                        </a>
                    </div>
                </div>
            </div>
            <div class="card-footer" ng-show="_feed.FEED_TYPE_ID==2">
                <span class="badge-lg badge-light-success" ng-show="_feed.STATUS_ID==1">Accepted</span>
                <span class="badge-lg badge-light-danger" ng-show="_feed.STATUS_ID==2">Rejected</span>
                <button type="button" ng-show="_feed.STATUS_ID==null && FeedsSearch.EMPLY_PRSNL_ID>0" class="btn btn-light" ng-click="HRM_INS_UPD_FEEDS_STATUS(1,_feed)">Accept</button>
                <button class="btn btn-outline" ng-show="_feed.STATUS_ID==null && FeedsSearch.EMPLY_PRSNL_ID>0" ng-click="HRM_INS_UPD_FEEDS_STATUS(2,_feed)">Reject</button>
            </div>
            <div class="card-footer" ng-show="_feed.FEED_TYPE_ID==3">
                <span class="badge-lg badge-light-primary" ng-show="_feed.STATUS_ID==3">Acknowledged</span>
                <button type="button" ng-show="_feed.STATUS_ID==null && FeedsSearch.EMPLY_PRSNL_ID>0" class="btn btn-light" ng-click="HRM_INS_UPD_FEEDS_STATUS(3,_feed)"> Acknowledge </button>
            </div>
        </div>
    </div>
</div>

<!--Add New Modal starts-->
<div class="modal fade" id="AddNewEntires" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="feedLabel">Add New</h5>
                <button type="button" ng-click="RESET_FEEDS()" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <form name="FEEDS_FORM" novalidate>
                    <div class="row">
                        <div class="col-xxl-12 col-xl-12 col-md-12">
                            <label>Title<span class="text-danger">*</span></label>
                            <input type="text"
                                   name="TITLE"
                                   ng-model="FeedsSearch.TITLE"
                                   required
                                   ng-class="{'error':FEEDS_FORM.submitted && FEEDS_FORM.TITLE.$error.required}"
                                   placeholder="Enter title" />
                        </div>
                        <div class="col-xxl-12 col-xl-12 col-md-12">
                            <label>Type<span class="text-danger">*</span></label>
                            <div class="dropdown">
                                <button class="select-label"
                                        type="button"
                                        id="searchableFeedButton"
                                        ng-class="{'error':FEEDS_FORM.submitted && FEEDS_FORM.FEED_TYPE.$error.required}"
                                        data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                    <span class="truncate">{{FeedsSearch.CUSTOM_FEED_NAME}}</span>
                                </button>
                                <div class="dropdown-menu w-100" aria-labelledby="searchableFeedButton">
                                    <input type="hidden"
                                           name="FEED_TYPE"
                                           required
                                           ng-model="FeedsSearch.DDL_FEED_TYPE_ID"
                                           ng-class="{'error':FEEDS_FORM.submitted && FEEDS_FORM.FEED_TYPE.$error.required}" />
                                    <ul id="dropdownList" class="list-unstyled mb-0 scrollbar-wrapper">
                                        <li class=""
                                            ng-show="FeedsSearch.DD_DEFAULT_TEXT != FeedsSearch.CUSTOM_FEED_NAME"
                                            ng-click="SELECTED_FEEDS_Fn('')">{{FeedsSearch.DD_DEFAULT_TEXT}}</li>
                                        <li class=""
                                            ng-repeat="_feed in FEED_TYPES_LIST"
                                            ng-click="SELECTED_FEEDS_Fn(_feed,$index)">
                                            <span class="">{{_feed.FEED_TYPE}}</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xxl-12 col-md-12 col-xl-12">
                            <div class="alert alert-light-primary mt-2">
                                <div class="row align-items-center">
                                    <div class="col-auto"><i class="fa-light fa-circle-exclamation alert-primary-text f-24"></i></div>
                                    <div class="col ">
                                        <span class="alert-primary-text"> Please select who all can view this feed.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-3 col-md-3 col-xl-3">
                            <label>Sites</label>
                            <div class="AddCustomScroll_Contact">
                                <input type="text"
                                       ng-model="rotaBranchSearch"
                                       placeholder="Search & Add"
                                       typeahead-editable='true'
                                       typeahead-focus-first="false"
                                       typeahead-min-length="0"
                                       typeahead-show-hint="true"
                                       typeahead-is-open="true"
                                       typeahead-focus-trigger
                                       maxlength="100"
                                       name="search"
                                       ng-focus="SET_DROPSCROLL()"
                                     
                                       typeahead-on-select="ADD_ROTA_BRANCH_Fn($item,$index)"
                                       autocomplete="off"
                                       uib-typeahead="_branch as _branch.BRANCH_NAME for _branch in HRM_BRANCH_LIST  | filter:$viewValue"
                                       typeahead-loading="loading"
                                       typeahead-no-results="noResults"
                                       typeahead-append-to="body"
                                       ng-class="{'error':FEEDS_FORM.submitted && FEEDS_FORM.BRANCH_NAME.$error.required}" />
                                <!--uib-typeahead="_branch as _branch.BRANCH_NAME for _branch in HRM_BRANCH_LIST  | filter:$viewValue "-->

                            </div>
                            <div class="tags-normal text-start my-2" ng-repeat="_branch in ADD_ROTA_BRANCH_LIST">
                                <span class="truncate_employee">{{_branch.BRANCH_NAME}}</span>
                                <i class="fa-light fa-trash-alt cursor-pointer" ng-click="REMOVE_ROTA_BRANCH_Fn(_branch)"></i>
                            </div>
                        </div>
                        <div class="col-xxl-3 col-md-3 col-xl-3">
                            <label>Departments</label>
                            <div class="AddCustomScroll_Contact">
                                <input type="text"
                                       ng-model="rotaDepartmentSearch"
                                       placeholder="Search & Add"
                                       typeahead-focus-first="false"
                                       typeahead-min-length="0"
                                       typeahead-focus-trigger
                                       typeahead-is-open="true"
                                       maxlength="100"
                                       name="search"
                                       ng-focus="SET_DROPSCROLL()"
                                       typeahead-on-select="ADD_ROTA_DEPARTMENTS_Fn($item,$index)"
                                       autocomplete="off"
                                       uib-typeahead="_department as _department.DEPARTMENT_NAME for _department in HRM_DEPARTMENTS_LIST  | filter:$viewValue "
                                       typeahead-loading="loading"
                                       typeahead-no-results="noResults"
                                       ng-class="{'error':FEEDS_FORM.submitted && FEEDS_FORM.DEPARTMENT_NAME.$error.required}" />
                            </div>
                            <div class="tags-normal text-start my-2" ng-repeat="_department in ADD_ROTA_DEPARTMENTS_LIST">
                                <span class="truncate_employee">{{_department.DEPARTMENT_NAME}}</span>
                                <i class="fa-light fa-trash-alt cursor-pointer" ng-click="REMOVE_ROTA_DEPARTMENTS_Fn(_department)"></i>
                            </div>
                        </div>
                        <div class="col-xxl-3 col-md-3 col-xl-3">
                            <label>Positions</label>
                            <div class="AddCustomScroll_Contact">
                                <input type="text"
                                       ng-model="rotaPositionSearch"
                                       placeholder="Search & Add"
                                       typeahead-focus-first="false"
                                       typeahead-min-length="0"
                                       typeahead-focus-trigger
                                       maxlength="100"
                                       name="search"
                                       ng-focus="SET_DROPSCROLL()"
                                       typeahead-on-select="ADD_ROTA_POSITIONS_Fn($item,$index)"
                                       autocomplete="off"
                                       typeahead-is-open="true"
                                       uib-typeahead="_position as _position.POSITION_NAME for _position in HRM_POSITIONS_LIST | filter:$viewValue"
                                       typeahead-loading="loading"
                                       typeahead-no-results="noResults"
                                       ng-class="{'error':FEEDS_FORM.submitted && FEEDS_FORM.POSITION_NAME.$error.required}" />
                            </div>
                            <div class="tags-normal text-start my-2" ng-repeat="_position in ADD_ROTA_POSITIONS_LIST">
                                <span class="truncate_employee">{{_position.POSITION_NAME}}</span>
                                <i class="fa-light fa-trash-alt cursor-pointer" ng-click="REMOVE_ROTA_POSITIONS_Fn(_position)"></i>
                            </div>
                        </div>
                        <div class="col-xxl-3 col-md-3 col-xl-3">
                            <label>Employee</label>
                            <div class="AddCustomScroll_Contact">
                                <input type="text"
                                       ng-model="rotaEmployeeSearch"
                                       placeholder="Search & Add"
                                       typeahead-min-length="0"
                                       typeahead-focus-first="false"
                                       typeahead-is-open="true"
                                       typeahead-focus-trigger
                                       maxlength="100"
                                       name="search"
                                       ng-mouseover="SET_DROPSCROLL()"
                                       typeahead-on-select="ADD_ROTA_EMPLOYEE_Fn($item,$index)"
                                       autocomplete="off"
                                       uib-typeahead="_employee as _employee.EMPLOYEE_NAME for _employee in HRM_EMPLOYTEE_LIST  | filter:$viewValue "
                                       typeahead-loading="loading"
                                       typeahead-no-results="noResults"
                                       ng-class="{'error':FEEDS_FORM.submitted && FEEDS_FORM.EMPLOYEE_NAME.$error.required}" />
                            </div>
                            <div class="tags-normal text-start my-2" ng-repeat="_employee in ADD_ROTA_EMPLOYEES_LIST">
                                <span class="truncate_employee">{{_employee.EMPLOYEE_NAME}}</span>
                                <i class="fa-light fa-trash-alt cursor-pointer" ng-click="REMOVE_ROTA_EMPLOYEE_Fn(_employee)"></i>
                            </div>
                        </div>


                        <div class="col-xxl-12 col-xl-12 col-md-12">
                            <label class="d-block mt-3">Comment<span class="text-danger">*</span></label>
                            <textarea rows="5"
                                      name="COMMENT"
                                      required
                                      ng-class="{'error':FEEDS_FORM.submitted && FEEDS_FORM.COMMENT.$error.required}"
                                      ng-model="FeedsSearch.COMMENT"></textarea>
                        </div>
                        <div class="col-xxl-12 col-xl-12 col-md-12">
                            <div class="mt-2">
                                <label>Add Attachment</label>
                                <div class="col-xxl-12 col-md-12 col-xl-12">
                                    <div class="form-group file-area">
                                        <input id="FEED_ID"
                                               ng-files="getTheFilesToUpload($files,'FEED_ID',0.5,FeedsSearch,51,1)"
                                               name="file"
                                               type="file"
                                               onchange="removeTooltip(this)" />

                                        <div class="file-dummy">
                                            <i class="fa-light fa-file-plus fa-xl txt-primary"></i>
                                            <p class="mt-2">Only JPEG, PNG, PDF, doc, docx or xlsx files with max size 500KB</p>
                                        </div>

                                    </div>
                                    <span class="border b-r-5 p-2 w-100 mb-1 d-flex align-items-center" ng-repeat="File in FeedsSearch.UploadedFiles">
                                        <a class="truncate" href="{{File.FILE_PATH}}{{File.SERVER_FILE_NAME}}"
                                           download="download">
                                            <i class="fa fa-download"></i> {{File.ORIGINAL_FILE_NAME}}
                                        </a>
                                        <i ng-click="DELETE_FILE_UPLOAD_Fn(FeedsSearch,File,$index)" class="fa-light fa-lg fa-xmark txt-danger ms-auto c-pointer"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer mt-3">
                <button class="btn btn-light" ng-click="RESET_FEEDS()" data-bs-dismiss="modal" aria-label="Close">Discard</button>
                <button class="btn btn-primary" ng-click="HRM_INS_UPD_FEEDS()">Submit</button>
            </div>
        </div>
    </div>
</div>
<!--Add New Modal ends-->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered ">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">{{SELECTED_FEED.FEED_TYPE}} Stats</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-0">
                <table class="table-borderless mb-0">
                    <thead>
                        <tr>
                            <th class="border-right bg-grey py-3">Sent to</th>
                            <th class="text-end bg-white border-bottom">{{FEEDS_STATS_LIST.length}}</th>
                            <th class="text-end bg-white"></th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="bg-grey py-3">Accepted</td>
                            <td class="text-end border-0" ng-class="{'border-bottom border-end-0':!ACCEPTED_SHOW,'border-0':ACCEPTED_SHOW}">{{(FEEDS_STATS_LIST | filter:{'STATUS_ID':1}:true).length }}</td>
                            <td class="text-end border-0" width="5%" ng-class="{'border-bottom border-end-0':!ACCEPTED_SHOW,'border-0':ACCEPTED_SHOW}">
                                <i class="fa-regular c-pointer" ng-class="{'fa-chevron-up ':ACCEPTED_SHOW,'fa-chevron-down ':!ACCEPTED_SHOW }" ng-click="ACCEPTED_Fn()"></i>
                            </td>
                        </tr>
                        <tr ng-show="(FEEDS_STATS_LIST | filter:{'STATUS_ID':1}:true).length==0 && ACCEPTED_SHOW">
                            <td colspan="3" class="bg-grey">{{LOAD_NO_FEED_TEXT}}</td>
                        </tr>
                        <tr ng-repeat="_accept_feed in FEEDS_STATS_LIST | filter:{'STATUS_ID':1}:true"
                            ng-init="ng_initemployee(_accept_feed)" ng-show="ACCEPTED_SHOW">
                            <td class="bg-grey">
                                <span class="text_avatar me-2" ng-show="_accept_feed.PROFILE_PIC_PATH==null || _accept_feed.PROFILE_PIC_PATH==''">{{_accept_feed.SHORT_NAME}}</span>
                                <img ng-show="_accept_feed.PROFILE_PIC_PATH!=null && _accept_feed.PROFILE_PIC_PATH!=''" src="..{{_accept_feed.PROFILE_PIC_PATH}}" width="24px" height="24px" class="rounded-circle" />
                                {{_accept_feed.FIRST_NAME}} {{_accept_feed.LAST_NAME}}
                            </td>
                            <td class="text-end border-0">{{_accept_feed.CREATED_DATE | date:DISPLAY_DATE_FORMAT}}</td>
                            <td class="text-end border-0"></td>
                        </tr>
                        <tr>
                            <td class="bg-grey py-3">Rejected</td>
                            <td class="text-end border-0 border-0" ng-class="{'border-bottom border-end-0':!REJECTED_SHOW,'border-0':REJECTED_SHOW}">{{(FEEDS_STATS_LIST | filter:{'STATUS_ID':2}:true).length }}</td>
                            <td colspan="2" class="text-end border-0" width="5%" ng-class="{'border-bottom border-end-0':!REJECTED_SHOW,'border-0':REJECTED_SHOW}" ng-click="REJECTED_Fn()">
                                <i class="fa-regular c-pointer"
                                   ng-class="{'fa-chevron-up ':REJECTED_SHOW,'fa-chevron-down ':!REJECTED_SHOW }"></i>
                            </td>
                        </tr>
                        <tr ng-show="(FEEDS_STATS_LIST | filter:{'STATUS_ID':2}:true).length==0 && REJECTED_SHOW">
                            <td colspan="3" class="bg-grey">{{LOAD_NO_FEED_TEXT}}</td>
                        </tr>
                        <tr ng-repeat="_accept_feed in FEEDS_STATS_LIST | filter:{'STATUS_ID':2}:true"
                            ng-init="ng_initemployee(_accept_feed)" ng-show="REJECTED_SHOW">
                            <td class="bg-grey">
                                <span class="text_avatar me-2" ng-show="_accept_feed.PROFILE_PIC_PATH==null || _accept_feed.PROFILE_PIC_PATH==''">{{_accept_feed.SHORT_NAME}}</span>
                                <img ng-show="_accept_feed.PROFILE_PIC_PATH!=null && _accept_feed.PROFILE_PIC_PATH!=''" src="..{{_accept_feed.PROFILE_PIC_PATH}}" width="24px" height="24px" class="rounded-circle" />
                                {{_accept_feed.FIRST_NAME}} {{_accept_feed.LAST_NAME}}
                            </td>
                            <td class="text-end border-0">{{_accept_feed.CREATED_DATE | date:DISPLAY_DATE_FORMAT}}</td>
                            <td class="text-end border-0"></td>
                        </tr>
                        <tr>
                            <td class="bg-grey py-3">Yet to view</td>
                            <td class="text-end border-0">{{(FEEDS_STATS_LIST | filter:{'STATUS_ID':null}).length }}</td>
                            <td colspan="2" class="text-end border-0" width="5%" ng-click="YET_TO_VIEW_Fn()"><i class="fa-regular c-pointer" ng-class="{'fa-chevron-up ':YET_TO_VIEW_SHOW,'fa-chevron-down ':!YET_TO_VIEW_SHOW }"></i></td>
                        </tr>
                        <tr ng-show="(FEEDS_STATS_LIST | filter:{'STATUS_ID':null}:true).length==0 && YET_TO_VIEW_SHOW">
                            <td colspan="3" class="bg-grey">{{LOAD_NO_FEED_TEXT}}</td>
                        </tr>
                        <tr ng-repeat="_accept_feed in FEEDS_STATS_LIST | filter:{'STATUS_ID':null}:true"
                            ng-init="ng_initemployee(_accept_feed)" ng-show="YET_TO_VIEW_SHOW">
                            <td class="bg-grey">
                                <span class="text_avatar me-2" ng-show="_accept_feed.PROFILE_PIC_PATH==null || _accept_feed.PROFILE_PIC_PATH==''">{{_accept_feed.SHORT_NAME}}</span>
                                <img ng-show="_accept_feed.PROFILE_PIC_PATH!=null && _accept_feed.PROFILE_PIC_PATH!=''" src="..{{_accept_feed.PROFILE_PIC_PATH}}" width="24px" height="24px" class="rounded-circle" />
                                {{_accept_feed.FIRST_NAME}} {{_accept_feed.LAST_NAME}}
                            </td>
                            <td class="text-end border-0">{{_accept_feed.CREATED_DATE | date:DISPLAY_DATE_FORMAT }}</td>
                            <td class="text-end border-0"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="MemoBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered ">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Memo Stats</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-0">
                <table class="table-borderless mb-0">
                    <thead>
                        <tr>
                            <th class="border-right bg-grey py-3">Sent to</th>
                            <th class="text-end bg-white border-bottom">{{FEEDS_STATS_LIST.length}}</th>
                            <th class="text-end bg-white"></th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="bg-grey py-3">Acknowledged</td>
                            <td class="text-end border-0" ng-class="{'border-bottom border-end-0':!ACKNOWLEDGED_SHOW,'border-0':ACKNOWLEDGED_SHOW}">{{(FEEDS_STATS_LIST | filter:{'STATUS_ID':3}:true).length }}</td>
                            <td class="text-end pe-2 border-0" width="5%" ng-click="ACKNOWLEDGED_Fn()" ng-class="{'border-bottom border-0':!ACKNOWLEDGED_SHOW,'border-0':ACKNOWLEDGED_SHOW}">
                                <i class="fa-regular c-pointer"
                                   ng-class="{'fa-chevron-up ':ACKNOWLEDGED_SHOW,'fa-chevron-down ':!ACKNOWLEDGED_SHOW }"></i>
                            </td>
                        </tr>
                        <tr ng-show="(FEEDS_STATS_LIST | filter:{'STATUS_ID':3}:true).length==0 && ACKNOWLEDGED_SHOW">
                            <td colspan="3" class="bg-grey">{{LOAD_NO_FEED_TEXT}}</td>
                        </tr>
                        <tr ng-repeat="_accept_feed in FEEDS_STATS_LIST | filter:{'STATUS_ID':3}:true" ng-show="ACKNOWLEDGED_SHOW" ng-init="ng_initemployee(_accept_feed)">
                            <td class="bg-grey">
                                <span class="text_avatar me-2" ng-show="_accept_feed.PROFILE_PIC_PATH==null || _accept_feed.PROFILE_PIC_PATH==''">{{_accept_feed.SHORT_NAME}}</span>
                                <img ng-show="_accept_feed.PROFILE_PIC_PATH!=null && _accept_feed.PROFILE_PIC_PATH!=''" src="..{{_accept_feed.PROFILE_PIC_PATH}}" width="24px" height="24px" class="rounded-circle" />
                                {{_accept_feed.FIRST_NAME}} {{_accept_feed.LAST_NAME}}
                            </td>

                            <td class="text-end border-0 border-bottom-acknowledged">{{_accept_feed.CREATED_DATE | date:DISPLAY_DATE_FORMAT}}</td>
                            <td class="text-end border-0 border-bottom-acknowledged"></td>
                        </tr>

                        <tr>
                            <td class="bg-grey py-3">Yet to Acknowledge</td>
                            <td class="text-end border-0">{{(FEEDS_STATS_LIST | filter:{'STATUS_ID':null}).length }}</td>
                            <td colspan="2" class="text-end border-0 pe-2" width="5%" ng-click="YET_TO_ACKNOWLEDGED_Fn()">
                                <i class="fa-regular c-pointer"
                                   ng-class="{'fa-chevron-up ':YET_TO_ACKNOWLEDGED,'fa-chevron-down ':!YET_TO_ACKNOWLEDGED }"></i>
                            </td>
                        </tr>
                        <tr ng-show="(FEEDS_STATS_LIST | filter:{'STATUS_ID':null}:true).length==0 && YET_TO_ACKNOWLEDGED">
                            <td colspan="3" class="bg-grey">{{LOAD_NO_FEED_TEXT}}</td>
                        </tr>
                        <tr ng-repeat="_accept_feed in FEEDS_STATS_LIST | filter:{'STATUS_ID':null}:true"
                            ng-init="ng_initemployee(_accept_feed)" ng-show="YET_TO_ACKNOWLEDGED">
                            <td class="bg-grey">
                                <span class="text_avatar me-2" ng-show="_accept_feed.PROFILE_PIC_PATH==null || _accept_feed.PROFILE_PIC_PATH==''">{{_accept_feed.SHORT_NAME}}</span>
                                <img ng-show="_accept_feed.PROFILE_PIC_PATH!=null && _accept_feed.PROFILE_PIC_PATH!=''" src="..{{_accept_feed.PROFILE_PIC_PATH}}"
                                     width="24px" height="24px" class="rounded-circle" />
                                {{_accept_feed.FIRST_NAME}} {{_accept_feed.LAST_NAME}}
                            </td>
                            <td class="text-end border-0 border-bottom-yetacknowledge">{{_accept_feed.CREATED_DATE | date:DISPLAY_DATE_FORMAT }}</td>
                            <td class="text-end border-0 border-bottom-yetacknowledge"></td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>