<div class="row">
    <div class="col-xxl-10 col-md-10 col-xl-10 ms-auto">
        <div class="right-panel">
            <form name="User_form" autocomplete="off" novalidate>
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-xxl-10 col-xl-10 col-md-10">
                                <h6>Add User</h6>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">

                        <div class="row resCashupHeader">
                            <div class="col-xxl-12 col-xl-12 col-md-12">
                                <div class="row">
                                    <div class="col-xxl-4 col-xl-4 col-md-4">
                                        <label>
                                            Name <span class="txt-danger">*</span>
                                        </label>
                                        <input type="text"
                                               name="NAME"
                                               maxlength="250"
                                               onkeypress="return (event.charCode > 64 && eventcharCode < 91) || (event.charCode > 96  && eventcharCode < 123) || (event.charCode > 38 && event.charCode < 40) || event.charCode ===32"
                                               placeholder="{{PLACE_HOLDER}}"
                                               ng-model="UserDetails.NAME"
                                               autocomplete="off"
                                               aria-autocomplete="none"
                                               required
                                               ng-class="{'error':User_form.submitted && User_form.NAME.$error.required}" />
                                    </div>
                                    <div class="col-xxl-4 col-xl-4 col-md-4">
                                        <label>
                                            Primary Email <span class="txt-danger">*</span>
                                        </label>
                                        <input type="text"
                                               name="PRIMARY_EMAIL"
                                               maxlength="250"
                                               ng-pattern="/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/"
                                               placeholder="{{PLACE_HOLDER}}"
                                               ng-model="UserDetails.PRIMARY_EMAIL"
                                               autocomplete="off"
                                               aria-autocomplete="none"
                                               required
                                               ng-class="{'error':User_form.submitted && User_form.PRIMARY_EMAIL.$error.required}" />
                                        <small class="text-danger" ng-show="User_form.PRIMARY_EMAIL.$dirty && User_form.PRIMARY_EMAIL.$error.pattern">Please Enter Valid Email</small>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xxl-4 col-xl-4 col-md-4">
                                        <label>
                                            Mobile Number <span class="txt-danger">*</span>
                                        </label>
                                        <input type="text"
                                               name="MOBILE_NO"
                                               maxlength="15"
                                               only-numbers
                                               placeholder="{{PLACE_HOLDER}}"
                                               ng-model="UserDetails.MOBILE_NO"
                                               autocomplete="off"
                                               aria-autocomplete="none"
                                               required
                                               ng-class="{'error':User_form.submitted && User_form.MOBILE_NO.$error.required}" />
                                    </div>
                                </div>
                                <div class="row resCashupHeader badge-label">
                                    <div class="col-xxl-12 col-xl-12 col-md-12">
                                        <h5 class="headings">Notifications</h5>
                                    </div>
                                    <div class="col-xxl-4 col-xl-4 col-md-4" ng-repeat="_notification in NOTIFICATIONS_MASTER_LIST">
                                        <div class="media form-control">
                                            <label class="col-form-label">{{_notification.NOTIFICATION_NAME}}</label>
                                            <div class="media-body switch-sm ms-auto">
                                                <label class="switch">
                                                    <input type="checkbox"
                                                           name="ACTIVE{{$index}}"
                                                           ng-checked="_notification.ACTIVE"
                                                           ng-model="_notification.ACTIVE"
                                                           ng-change="SET_NOTIFICATION(_notification)">
                                                    <span class="switch-state"></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xxl-8 col-xl-8 col-8-md">
                                <div class="tooltip-container">
                                    <h4 class="headings mb-0">Module Level Access </h4>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xxl-6 col-xl-6 col-md-6">
                                <div class="alert alert-light-primary fade show my-3">
                                    <div class="row align-items-center">
                                        <div class="col-auto txt-primary"> <i class="fa-light fa-xl fa-circle-info"></i></div>
                                        <div class="col">
                                            <p class="txt-primary">User will be Administrator for all sites if Administrator is selected evn for one site. </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive scrollbar-wrapper mx-height-100 resCashupTable">
                            <table>
                                <thead>
                                    <tr>
                                        <th width="35%" class="border-end">Module</th>
                                        <th class="text-center" ng-repeat="_branch in SITES_LIST">{{_branch.BRANCH_NAME}}</th>

                                    </tr>
                                </thead>
                                <tbody>

                                    <tr>
                                        <td>Standard Roles</td>
                                        <td class="text-center" ng-repeat="_branch in SITES_LIST" ng-init="nginit_branch_role(_branch)">
                                            <input type="hidden"
                                                   name="STANDARD_ROLE_ID"
                                                   ng-model="_branch.STANDARD_ROLE_ID" />
                                            <ul class="nav nav-pills">
                                                <li class="dropdown w-100 show">
                                                    <a class="text-limitations cursor-pointer" data-toggle="dropdown" aria-expanded="true">
                                                        <span class="select-label" id="select_label">
                                                            {{_branch.CUSTOM_ROLE_NAME}}
                                                        </span>
                                                    </a>
                                                    <ul id="divNewNotifications" class="dropdown-menu scrollbar-wrapper w-100" ng-if="_branch.WILl_USE_IN_CASHUP">
                                                        <li class=""
                                                            ng-show="_branch.CUSTOM_ROLE_NAME!=UserDetails.DD_DEFAULT_TEXT"
                                                            ng-click="SELECTED_STANDARD_ROLE_Fn('',_branch)">{{UserDetails.DD_DEFAULT_TEXT}}</li>
                                                        <li class=""
                                                            ng-repeat="_role in _branch.MODULE_ROLES_LIST"
                                                            ng-click="SELECTED_STANDARD_ROLE_Fn(_role,_branch)">
                                                            <span class="">{{_role.ROLE_NAME}}</span>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </td>
                                        </
                                    </tr>
                                    <tr ng-repeat="_privilege in PRIVILAGE_LIST">
                                        <td class="bg-grey">{{_privilege.PRIVILEGE_NAME}}</td>
                                        <td class="text-center" ng-repeat="_branch in SITES_LIST">
                                            <div class="media d-block">
                                                <div class="media-body switch-sm">
                                                    <label class="switch">
                                                        <input type="checkbox"
                                                               checked=""
                                                               name="SYSTEM_SETUP"
                                                               ng-disabled="!_branch.WILl_USE_IN_CASHUP || _branch['INACTIVE_' + _privilege.PRIVILEGE_ID]"
                                                               ng-change="MANAGE_USER_ROLES(_branch,_branch['ACTIVE_' + _privilege.PRIVILEGE_ID],_privilege.PRIVILEGE_ID)"
                                                               ng-model="_branch['ACTIVE_' + _privilege.PRIVILEGE_ID]">
                                                        <span class="switch-state"></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="card-footer text-end">
                        <a href="#!/Cashup_User" class="btn btn-light" type="button">Cancel</a>
                        <button class="btn btn-light" ng-click="RESET_Fn()">Reset</button>
                        <button click-once class="btn btn-primary" ng-click="INS_UPD_USER()">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>




<script>
    // -----------------------------------------------------
    function toggleTooltip() {
        const tooltipContainer = document.querySelector('.tooltip-container');
        tooltipContainer.classList.toggle('show-tooltip');
    }

    document.addEventListener('click', function (e) {
        const tooltipContainer = document.querySelector('.tooltip-container');
        if (!tooltipContainer.contains(e.target)) {
            tooltipContainer.classList.remove('show-tooltip');
        }
    });
    // -----------------------------------------------------

    document.querySelectorAll('.btn-toggle-dropdown').forEach((btn) => {
        const targetClass = btn.getAttribute('data-target');

        document.querySelectorAll(`.${targetClass}`).forEach((dropdownContent) => {
            dropdownContent.classList.remove('d-none');
        });

        const icon = btn.querySelector('i');
        icon.classList.remove('fa-chevron-down');
        icon.classList.add('fa-chevron-up');

        btn.addEventListener('click', () => {
            document.querySelectorAll(`.${targetClass}`).forEach((dropdownContent) => {
                dropdownContent.classList.toggle('d-none');
            });

            icon.classList.toggle('fa-chevron-down');
            icon.classList.toggle('fa-chevron-up');
        });
    });

</script>
