<div class="row">
    <div class="col-xxl-10 col-md-10 col-xl-10 ms-auto">
        <div class="right-panel">
            <div class="card">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col-xxl-10 col-xl-10 col-md-10">
                            <h6> Site Setup</h6>
                        </div>
                             <input type="hidden"
                           name="BRANCH_ID"
                           placeholder="Add Here"
                           ng-model="Setup_Search.BRANCH_ID" />
                        <div class="col-xxl-2 col-xl-2 col-md-2">
                            <ul class="nav nav-pills mb-0">
                                <li class="dropdown w-100">
                                    <a class="text-limitations cursor-pointer"
                                       data-toggle="dropdown">
                                        <span class="select-label" id="select_label">
                                            {{Setup_Search.CUSTOM_DDL_BRANCH_NAME}}
                                        </span>
                                    </a>
                                    <ul ID="divNewNotifications" class="dropdown-menu scrollbar-wrapper w-auto" style="min-width:100%">
                                        <li class=""
                                            ng-show="Setup_Search.DD_DEFAULT_TEXT!=Setup_Search.CUSTOM_DDL_BRANCH_NAME"
                                            ng-click="SELECTED_DDL_BRANCH_Fn('')">{{Setup_Search.DD_DEFAULT_TEXT}}</li>
                                        <li class=""
                                            ng-click="SELECTED_DDL_BRANCH_Fn(_branch)"
                                            ng-repeat="_branch in BRANCH_LIST" ng-show="_branch.WILl_USE_IN_CASHUP == true">
                                            <span class="">{{_branch.BRANCH_NAME}}</span>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>

                    </div>


                </div>
                <div class="card-body">
                    <form name="PDQ_FORM" novalidate>
                        <!--PDQ TERMINAL-->
                        <div class="row">
                            <div class="col-xxl-12 col-md-12 col-xl-12">
                                <h5 class="headings">PDQ Terminal</h5>
                            </div>
                            <div class="col-xxl-6 col-md-6 col-xl-6">
                                <label>PDQ Terminal Name</label>
                                <!--<input type="text" placeholder="Add here" />-->
                            </div>
                        </div>
                        <div class="row gy-2 mb-3">
                            <div class="col-xxl-3 col-md-4 col-xl-3" ng-repeat="_pdq in PDQ_LIST">
                                <div class=""
                                     ng-class="{'tags-editable':_pdq.PDQ_MASTER_ID>0 && !_pdq.HIDE_SHOW,'':_pdq.PDQ_MASTER_ID==0 || _pdq.HIDE_SHOW}">
                                    <i class="fa-light fa-pen"
                                       data-bs-toggle="tooltip"
                                       ng-show="_pdq.PDQ_MASTER_ID>0 && !_pdq.HIDE_SHOW"
                                       data-bs-title="Edit"
                                       ng-click="EDIT_PDQ_Fn(_pdq,$index)">
                                    </i>
                                    <span data-bs-toggle="tooltip"
                                          ng-show="_pdq.PDQ_MASTER_ID>0 && !_pdq.HIDE_SHOW">
                                        {{_pdq.PDQ_CODE}}
                                    </span>
                                    <div class="input-group" ng-show="_pdq.HIDE_SHOW">
                                        <input type="text" class="form-control" placeholder={{PlaceHolder}}
                                               maxlength="100"
                                               typeahead-on-select="SetQuotationValues(QL,$index)"
                                               name="PDQ_CODE{{$index}}"
                                               autocomplete="off"
                                               no-blank-paste
                                               ng-enter="ADMIN_INS_UPD_PDQ_MASTER(_pdq,index,1)"
                                               typeahead-loading="loading"
                                               typeahead-no-results="noResults"
                                               ng-model="_pdq.PDQ_CODE"
                                               ng-class="{'error':PDQ_FORM.submitted && _pdq.PDQ_CODE==''}">
                                        <button click-once class="btn btn-transparent"
                                                type="button"
                                                ng-click="ADMIN_INS_UPD_PDQ_MASTER(_pdq,index,1)">
                                            <span><i class="fa-light fa-save"></i></span>
                                        </button>
                                    </div>
                                    <i class="fa-light fa-trash-can"
                                       ng-show="_pdq.PDQ_MASTER_ID>0 && !_pdq.HIDE_SHOW"
                                       ng-click="GET_CASHUP_COUNT_FOR_DELETE(_pdq,1)"
                                       data-bs-toggle="tooltip"
                                       data-bs-title="Delete"></i> <!--ng-click="DELETE_PDQ_Fn(_pdq,$index,2)"-->
                                </div>
                            </div>
                            <div class="col-xxl-3 col-md-4 col-xl-3">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Enter New PDQ Terminal Name"
                                           maxlength="100"
                                           typeahead-on-select="SetQuotationValues(QL,$index)"
                                           name="PDQ_CODE{{$index}}"
                                           autocomplete="off"
                                           no-blank-paste
                                           ng-enter="ADMIN_INS_UPD_PDQ_MASTER(Setup_Search,index,1)"
                                           typeahead-loading="loading"
                                           typeahead-no-results="noResults"
                                           ng-model="Setup_Search.PDQ_CODE"
                                           ng-class="{'error':PDQ_FORM.submitted && Setup_Search.PDQ_CODE==''}">
                                    <button class="btn btn-transparent"
                                            type="button"
                                            click-once
                                            ng-click="ADMIN_INS_UPD_PDQ_MASTER(Setup_Search,index,1)">
                                        <span><i class="fa-light fa-save"></i></span>
                                    </button>
                                </div>

                            </div>
                        </div>
                    </form>
                    <hr />

                    <!--PETTY CASH-->
                    <form name="VENDER_FORM" novalidate>
                        <div class="row">
                            <div class="col-xxl-12 col-md-12 col-xl-12">
                                <h5 class="headings">Petty Cash</h5>
                            </div>
                            <div class="col-xxl-12 col-md-12 col-xl-12">
                                <h5 class="headings">Vendors</h5>
                            </div>
                            <div class="col-xxl-3 col-md-3 col-xl-3">
                                <label>Name <span class="text-danger">*</span></label>
                                <input type="text"
                                       name="VENDOR_NAME"
                                       ng-model="Vender_Search.VENDOR_NAME"
                                       placeholder="Add here"
                                       maxlength="250"
                                       autocomplete="off"
                                       aria-autocomplete="none"
                                       required
                                       ng-class="{'error':VENDER_FORM.submitted && VENDER_FORM.VENDOR_NAME.$error.required}" />
                            </div>
                            <div class="col-xxl-3 col-md-3 col-xl-3">
                                <label>Email <span class="text-danger">*</span></label>
                                <input type="text"
                                       name="VENDOR_EMAIL"
                                       ng-model="Vender_Search.VENDOR_EMAIL"
                                       ng-pattern="/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/"
                                       placeholder="Add here"
                                       autocomplete="off"
                                       aria-autocomplete="none"
                                       required
                                       ng-class="{'error':VENDER_FORM.submitted && VENDER_FORM.VENDOR_EMAIL.$error.required}" />
                                <small class="text-danger" ng-show="VENDER_FORM.VENDOR_EMAIL.$dirty && VENDER_FORM.VENDOR_EMAIL.$error.pattern">Please Enter Valid Email</small>
                            </div>
                            <div class="col-xxl-3 col-md-3 col-xl-3">
                                <label>Contact Number <span class="text-danger">*</span></label>
                                <input type="text"
                                       name="VENDOR_CONTACT"
                                       ng-model="Vender_Search.VENDOR_CONTACT"
                                       placeholder="Add here" maxlength="15"
                                       only-numbers
                                       autocomplete="off"
                                       aria-autocomplete="none"
                                       required
                                       ng-class="{'error':VENDER_FORM.submitted && VENDER_FORM.VENDOR_CONTACT.$error.required}" />
                            </div>
                            <div class="col-xxl-auto col-md-auto col-xl-auto ms-auto">
                                <label class="d-block">&nbsp;</label>
                                <button type="button" click-once class="btn btn-light" ng-click="INS_UPD_CASHUP_VENDORS(Vender_Search,1)">
                                    Save
                                </button>
                            </div>
                            <!--<div class="col-xxl-3 col-md-3 col-xl-3">
                                <label>&nbsp;</label>
                                <button type="button" click-once class="btn btn-light" ng-click="INS_UPD_CASHUP_VENDORS(Vender_Search,1)">
                                    Save
                                </button>
                            </div>-->
                            <div class="table-responsive scrollbar-wrapper mx-height-100">
                                <table>
                                    <thead>
                                        <tr>
                                            <th class="text-center border-end text-nowrap">Vendor Name</th>
                                            <th class="text-center border-end text-nowrap">Email</th>
                                            <th class="text-center border-end text-nowrap">Contact Number</th>
                                            <th class="text-center">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="_vendor in VENDOR_LIST">
                                            <td class="text-center">
                                                {{_vendor .VENDOR_NAME}}
                                            </td>
                                            <td class="text-center">
                                                {{_vendor .VENDOR_EMAIL}}
                                            </td>
                                            <td class="text-center">
                                                {{_vendor.VENDOR_CONTACT}}
                                            </td>
                                            <td class="text-center">
                                                <div class="dropdown">
                                                    <button class="btn" type="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa-light fa-ellipsis"></i></button>
                                                    <ul class="dropdown-menu">
                                                        <li class="dropdown-item" ng-show="false"><a class="text-dark d-block"><i class="fa-light fa-paper-plane me-2"></i> Send Invite</a></li>
                                                        <li class="dropdown-item"><a class="text-dark d-block" click-once ng-click="EDIT_VENDER_Fn(_vendor)"><i class="fa-light fa-pen me-2" data-bs-toggle="tooltip" data-bs-title="Edit"></i> Edit</a></li>
                                                        <li class="dropdown-item"><a class="text-dark d-block" click-once ng-click="GET_CASHUP_COUNT_FOR_DELETE(_vendor,2)"><i class="fa-light fa-trash-can me-2" data-bs-toggle="modal"></i> Delete</a></li> <!--data-bs-target="#Delete_pdq"--><!--ng-click="POP_VENDER_DELETE_Fn()"-->
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </form>
                    <hr />

                    <!--COST CATEGORIES-->
                    <form name="COST_CATEGORY_FORM" novalidate>
                        <div class="row">
                            <div class="col-xxl-12 col-md-12 col-xl-12">
                                <h5 class="headings">Cost Categories</h5>
                            </div>
                            <div class="col-xxl-3 col-md-3 col-xl-3">
                                <label>Category Name <span class="text-danger">*</span></label>
                                <input type="text"
                                       name="CATEGORY_NAME"
                                       ng-model="Cost_Category_Search.CATEGORY_NAME"
                                       placeholder="Add here"
                                       maxlength="250"
                                       autocomplete="off"
                                       aria-autocomplete="none"
                                       required
                                       ng-class="{'error':COST_CATEGORY_FORM.submitted && COST_CATEGORY_FORM.CATEGORY_NAME.$error.required}" />

                            </div>
                            <div class="col-xxl-3 col-md-3 col-xl-3">
                                <label>GL Name <span class="text-danger">*</span></label>
                                <input type="text"
                                       name="GL_NAME"
                                       ng-model="Cost_Category_Search.GL_NAME"
                                       placeholder="Add here"
                                       maxlength="250"
                                       autocomplete="off"
                                       required
                                       aria-autocomplete="none" 
                                       ng-class="{'error':COST_CATEGORY_FORM.submitted && COST_CATEGORY_FORM.GL_NAME.$error.required}"/>
                            </div>
                            <div class="col-xxl-3 col-md-3 col-xl-3">
                                <label>GL Code <span class="text-danger">*</span></label>
                                <input type="text"
                                       only-numbers
                                       name="GL_CODE"
                                       ng-model="Cost_Category_Search.GL_CODE"
                                       placeholder="Add here"
                                       maxlength="250"
                                       autocomplete="off"
                                       required
                                       aria-autocomplete="none" 
                                       ng-class="{'error':COST_CATEGORY_FORM.submitted && COST_CATEGORY_FORM.GL_CODE.$error.required}"/>
                            </div>
                            <div class="col-xxl-auto col-md-auto col-xl-auto ms-auto">
                                <label class="d-block">&nbsp;</label>
                                <button type="button" click-once class="btn btn-light" ng-click="INS_UPD_PETTY_CASH_COST_CATEGORIES(Cost_Category_Search,1)">
                                    Save
                                </button>
                            </div>
                            <!--<div class="col-xxl-3 col-md-3 col-xl-3">
                                <label>&nbsp;</label>
                                <button type="button" click-once class="btn btn-light" ng-click="INS_UPD_PETTY_CASH_COST_CATEGORIES(Cost_Category_Search,1)">
                                    Save
                                </button>

                            </div>-->


                            <div class="table-responsive scrollbar-wrapper mx-height-100">
                                <table>
                                    <thead>
                                        <tr>
                                            <th class="text-nowrap">Category Name</th>
                                            <th class="text-nowrap">GL Name</th>
                                            <th class="text-nowrap">GL Code</th>
                                            <th class="text-center" width="5%">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="_category in COST_CATEGORY_LIST">
                                            <td>
                                                {{_category.COST_CATEGORY_NAME}}
                                            </td>
                                            <td>
                                                {{_category.GL_NAME}}
                                            </td>
                                            <td>
                                                {{_category.GL_CODE}}
                                            </td>
                                            <td class="text-center">
                                                <div class="dropstart">
                                                    <button class="btn" type="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa-light fa-ellipsis"></i></button>
                                                    <ul class="dropdown-menu">
                                                        <li class="dropdown-item"><a class="text-dark d-block" click-once ng-click="EDIT_COST_CATEGORY_Fn(_category)"><i class="fa-light fa-pen me-2" data-bs-toggle="tooltip" data-bs-title="Edit"></i> Edit</a></li>
                                                        <li class="dropdown-item"><a class="text-dark d-block" click-once ng-click="GET_CASHUP_COUNT_FOR_DELETE(_category,3)"><i class="fa-light fa-trash-can me-2"></i> Delete</a></li> <!--ng-click="POP_DELETE_COST_CATEGORY_Fn(_category)" data-bs-toggle="modal"-->
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </form>
                    <hr />
                    <!--Comps & Voids-->
                    <div class="row">
                        <div class="col-xxl-12 col-xl-12 col-md-12">
                            <h5 class="headings">Comps / Voids</h5>
                        </div>

                        <div class="col-xxl-4 col-xl-4 col-md-4">
                            <label>Reason for Comps</label>
                        </div>
                    </div>
                    <form name="COMPS_FORM" novalidate>
                        <div class="row gy-2">
                            <div class="col-xxl-3 col-md-4 col-xl-3" ng-repeat="_comp in COMPS_LIST">
                                <div ng-class="{'tags-editable':_comp.CASHUP_REASON_FOR_COMP_ID > 0 && !_comp.HIDE_SHOW, '': _comp.CASHUP_REASON_FOR_COMP_ID == 0 || _comp.HIDE_SHOW}">
                                    <i class="fa-light fa-pen"
                                       ng-show="_comp.CASHUP_REASON_FOR_COMP_ID > 0 && !_comp.HIDE_SHOW"
                                       ng-click="EDIT_COMP_Fn(_comp, $index)">
                                    </i>
                                    <span ng-show="_comp.CASHUP_REASON_FOR_COMP_ID > 0 && !_comp.HIDE_SHOW">
                                        {{_comp.REASONS}}
                                    </span>

                                    <div class="input-group" ng-show="_comp.HIDE_SHOW">
                                        <input type="text" class="form-control" placeholder="Enter Comp Name"
                                               maxlength="100"
                                               ng-model="_comp.REASONS"
                                               ng-class="{'error':  COMPS_FORM.Error}">
                                        <button click-once class="btn btn-transparent" ng-click="INS_UPD_CASHUP_REASON_FOR_COMP(_comp, $index, 1)">
                                            <span><i class="fa-light fa-save"></i></span>
                                        </button>
                                    </div>

                                    <i class="fa-light fa-trash-can"
                                       ng-show="_comp.CASHUP_REASON_FOR_COMP_ID  > 0 && !_comp.HIDE_SHOW"
                                       ng-click="DELETE_COMP_Fn(_comp, $index)">
                                    </i>
                                </div>
                            </div>

                            <div class="col-xxl-3 col-md-4 col-xl-3">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Enter New Comp Name"
                                           ng-model="NewComp.REASONS"
                                           ng-class="{'error': COMPS_FORM.Error}">
                                    <button click-once class="btn btn-transparent" ng-click="ADD_NEW_COMP()">
                                        <span><i class="fa-light fa-save"></i></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>



                    <div class="row mt-4">
                        <div class="col-xxl-12 col-xl-12 col-md-12">
                            <h5 class="headings">Void Type</h5>
                        </div>
                    </div>


                    <form name="VOIDS_FORM" novalidate>
                        <div class="row gy-2">
                            <div class="col-xxl-3 col-md-4 col-xl-3" ng-repeat="_void in VOIDS_LIST">
                                <div ng-class="{'tags-editable': _void.VOID_ID > 0 && !_void.HIDE_SHOW, '': _void.VOID_ID == 0 || _void.HIDE_SHOW}">
                                    <i class="fa-light fa-pen"
                                       ng-show="_void.VOID_ID > 0 && !_void.HIDE_SHOW"
                                       ng-click="EDIT_VOID_Fn(_void, $index)">
                                    </i>
                                    <span ng-show="_void.VOID_ID > 0 && !_void.HIDE_SHOW">
                                        {{_void.VOID_REASON}}
                                    </span>

                                    <div class="input-group" ng-show="_void.HIDE_SHOW">
                                        <input type="text" class="form-control" placeholder="Enter Void Name"
                                               maxlength="100"
                                               ng-model="_void.VOID_REASON"
                                               ng-class="{'error': VOIDS_FORM.Error}">
                                        <!--
                                        <button class="btn btn-transparent" ng-click="ADMIN_INS_UPD_REASON_FOR_VOID(_void, $index, 1)">
                                            <span><i class="fa-light fa-save"></i></span>
                                        </button>
                                        -->
                                        <button click-once class="btn btn-transparent" ng-click="ADMIN_INS_UPD_REASON_FOR_VOID(_void, 1)">
                                            <span><i class="fa-light fa-save"></i></span>
                                        </button>
                                    </div>

                                    <i class="fa-light fa-trash-can"
                                       click-once
                                       ng-show="_void.VOID_ID > 0 && !_void.HIDE_SHOW"
                                       ng-click="DELETE_VOID_Fn(_void, $index)">
                                    </i>
                                </div>
                            </div>

                            <div class="col-xxl-3 col-md-4 col-xl-3">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Enter New Void Name"
                                           ng-model="NewVoid.VOID_REASON"
                                           ng-class="{'error': VOIDS_FORM.Error}">
                                    <button click-once class="btn btn-transparent" ng-click="ADD_NEW_VOID()">
                                        <span><i class="fa-light fa-save"></i></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>

                    <hr />
                    <!--Comps/Voids Authorizer-->
                    <div class="row">
                        <div class="col-xxl-12 col-xl-12 col-md-12">
                            <h5 class="headings">Petty Cash/Comps & Voids Authorizers</h5>
                            <div class="alert alert-light-primary fade show my-3">
                                <div class="row align-items-center">
                                    <div class="col-auto txt-primary"> <i class="fa-light fa-xl fa-circle-info"></i></div>
                                    <div class="col">
                                        <p class="txt-primary">The users who approved any transaction pertaining to Petty Cash &Aacute; Voids.</p>
                                        <p class="txt-primary">These users will not have any access to Cashup Module and their names will just appear in Authorized By dropdowns on respective pages of Cashup Entry</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-xxl-6 col-md-6 col-xl-6">
                                <label>Authorizer Name</label>
                                <!--<input type="text" placeholder="Add here" />-->
                            </div>
                        </div>
                        <div class="row">
                            <form name="AUTHORIZER_FORM" novalidate>
                                <div class="row mb-3">
                                    <div class="col-xxl-3 col-md-4 col-xl-3" ng-repeat="_auth in AUTHORIZER_LIST">
                                        <div class=""
                                             ng-class="{'tags-editable':_auth.TABLE_ID>0 && !_auth.HIDE_SHOW,'':_auth.TABLE_ID==0 || _auth.HIDE_SHOW}">
                                            <i class="fa-light fa-pen"
                                               data-bs-toggle="tooltip"
                                               ng-show="_auth.TABLE_ID>0 && !_auth.HIDE_SHOW"
                                               data-bs-title="Edit"
                                               ng-click="EDIT_AUTHORIZE_Fn(_auth,$index)">
                                            </i>
                                            <span data-bs-toggle="tooltip"
                                                  ng-show="_auth.TABLE_ID>0 && !_auth.HIDE_SHOW">
                                                {{_auth.NAME}}
                                            </span>
                                            <div class="input-group" ng-show="_auth.HIDE_SHOW">
                                                <input type="text" class="form-control" placeholder={{PlaceHolder}}
                                                       maxlength="100"
                                                       typeahead-on-select="SetQuotationValues(QL,$index)"
                                                       name="NAME{{$index}}"
                                                       autocomplete="off"
                                                       no-blank-paste
                                                       ng-enter="ADMIN_INS_UPD_BRANCH_STAFF(_auth,index,1)"
                                                       typeahead-loading="loading"
                                                       typeahead-no-results="noResults"
                                                       ng-model="_auth.NAME"
                                                       ng-class="{'error':AUTHORIZER_FORM.submitted && _auth.NAME==''}">
                                                <button click-once class="btn btn-transparent"
                                                        type="button"
                                                        ng-click="ADMIN_INS_UPD_BRANCH_STAFF(_auth,index,1)">
                                                    <span><i class="fa-light fa-save"></i></span>
                                                </button>
                                            </div>
                                            <i class="fa-light fa-trash-can"
                                               ng-show="_auth.TABLE_ID>0 && !_auth.HIDE_SHOW"
                                               click-once
                                               ng-click="GET_CASHUP_COUNT_FOR_DELETE(_auth,4)"
                                               data-bs-toggle="tooltip"
                                               data-bs-title="Delete"></i><!--ng-click="DELETE_AUTHORIZE_Fn(_auth,$index,2)"-->
                                        </div>
                                    </div>
                                    <div class="col-xxl-3 col-md-4 col-xl-3">
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="Enter New Authorizer Name"
                                                   maxlength="100"
                                                   typeahead-on-select="SetQuotationValues(QL,$index)"
                                                   name="NAME{{$index}}"
                                                   autocomplete="off"
                                                   no-blank-paste
                                                   ng-enter="ADMIN_INS_UPD_BRANCH_STAFF(Setup_Search,index,1)"
                                                   typeahead-loading="loading"
                                                   typeahead-no-results="noResults"
                                                   ng-model="Setup_Search.NAME"
                                                   ng-class="{'error':AUTHORIZER_FORM.submitted && Setup_Search.NAME==''}">
                                            <button class="btn btn-transparent"
                                                    type="button"
                                                    click-once
                                                    ng-click="ADMIN_INS_UPD_BRANCH_STAFF(Setup_Search,index,1)">
                                                <span><i class="fa-light fa-save"></i></span>
                                            </button>
                                        </div>

                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!--<div class="row">
                        <div class="col-xxl-12 col-md-12 col-xl-12 mt-2 text-end">
                            <button type="button" class="btn btn-light">Save</button>
                        </div>
                    </div>-->
                    <hr />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="Delete_PDQ" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenter1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header border-0">
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close" data-bs-original-title="" title=""></button>
            </div>
            <div class="modal-body">
                <div class="modal-toggle-wrapper">
                    <ul class="modal-img">
                        <li> <img src="../E_Content/images/HR/exclaimation_circle.svg" class="pb-2" alt="error"></li>
                    </ul>

                    <h6 class="text-center pb-2 fw-500">You are about to delete <span class="text-break">"{{SELECTED_PDQ.PDQ_CODE}}"</span> PDQ</h6>
                    <p class="text-center text-dark">{{SELECTED_PDQ.MESSAGE}}</p>
                </div>
            </div>
            <div class="modal-footer border-0">
                <div class="row w-100">
                    <div class="col-xxl-6 col-md-6 col-xl-6">
                        <button class="btn btn-outline w-100"
                                type="button"
                                data-bs-dismiss="modal">
                            Cancel
                        </button>
                    </div>
                    <div class="col-xxl-6 col-md-6 col-xl-6">
                        <button class="btn btn-danger w-100"
                                type="button"
                                click-once
                                ng-disabled="SELECTED_PDQ.RESTRICT_DELETE"
                                ng-click="ADMIN_INS_UPD_PDQ_MASTER(SELECTED_PDQ,0,2)"
                                data-bs-dismiss="modal">
                            Delete
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="Delete_Vender" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenter1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header border-0">
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close" data-bs-original-title="" title=""></button>
            </div>
            <div class="modal-body">
                <div class="modal-toggle-wrapper">
                    <ul class="modal-img">
                        <li> <img src="../E_Content/images/HR/exclaimation_circle.svg" class="pb-2" alt="error"></li>
                    </ul>

                    <h6 class="text-center pb-2 fw-500">You are about to delete <span class="text-break">"{{SELECTED_VENDER.VENDOR_NAME}}"</span> Vender</h6>
                    <p class="text-center text-dark">{{SELECTED_VENDER.MESSAGE}}</p>
                </div>
            </div>
            <div class="modal-footer border-0">
                <div class="row w-100">
                    <div class="col-xxl-6 col-md-6 col-xl-6">
                        <button class="btn btn-outline w-100"
                                type="button"
                                data-bs-dismiss="modal">
                            Cancel
                        </button>
                    </div>
                    <div class="col-xxl-6 col-md-6 col-xl-6">
                        <button class="btn btn-danger w-100"
                                type="button"
                                click-once
                                ng-disabled="SELECTED_VENDER.RESTRICT_DELETE"
                                ng-click="INS_UPD_CASHUP_VENDORS(SELECTED_VENDER,0)"
                                data-bs-dismiss="modal">
                            Delete
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="Delete_Cost" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenter1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header border-0">
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close" data-bs-original-title="" title=""></button>
            </div>
            <div class="modal-body">
                <div class="modal-toggle-wrapper">
                    <ul class="modal-img">
                        <li> <img src="../E_Content/images/HR/exclaimation_circle.svg" class="pb-2" alt="error"></li>
                    </ul>

                    <h6 class="text-center pb-2 fw-500">You are about to delete <span class="text-break">"{{SELECTED_CATEGORY.COST_CATEGORY_NAME}}"</span> Category</h6>
                    <p class="text-center text-dark">{{SELECTED_CATEGORY.MESSAGE}}</p>
                </div>
            </div>
            <div class="modal-footer border-0">
                <div class="row w-100">
                    <div class="col-xxl-6 col-md-6 col-xl-6">
                        <button class="btn btn-outline w-100"
                                type="button"
                                data-bs-dismiss="modal">
                            Cancel
                        </button>
                    </div>
                    <div class="col-xxl-6 col-md-6 col-xl-6">
                        <button class="btn btn-danger w-100"
                                type="button"
                                click-once
                                ng-disabled="SELECTED_CATEGORY.RESTRICT_DELETE"
                                ng-click="INS_UPD_PETTY_CASH_COST_CATEGORIES(SELECTED_CATEGORY,0)"
                                data-bs-dismiss="modal">
                            Delete
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="Delete_Authorize" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenter1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header border-0">
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close" data-bs-original-title="" title=""></button>
            </div>
            <div class="modal-body">
                <div class="modal-toggle-wrapper">
                    <ul class="modal-img">
                        <li> <img src="../E_Content/images/HR/exclaimation_circle.svg" class="pb-2" alt="error"></li>
                    </ul>

                    <h6 class="text-center pb-2 fw-500">You are about to delete <span class="text-break">"{{SELECTED_AUTH.NAME}}"</span> Authorizers</h6>
                    <p class="text-center text-dark">{{SELECTED_AUTH.MESSAGE}}</p>
                </div>
            </div>
            <div class="modal-footer border-0">
                <div class="row w-100">
                    <div class="col-xxl-6 col-md-6 col-xl-6">
                        <button class="btn btn-outline w-100"
                                type="button"
                                data-bs-dismiss="modal">
                            Cancel
                        </button>
                    </div>
                    <div class="col-xxl-6 col-md-6 col-xl-6">
                        <button class="btn btn-danger w-100"
                                type="button"
                                click-once
                                ng-disabled="SELECTED_AUTH.RESTRICT_DELETE"
                                ng-click="ADMIN_INS_UPD_BRANCH_STAFF(SELECTED_AUTH,0,2)"
                                data-bs-dismiss="modal">
                            Delete
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>