<div class="row">
    <div class="col-xxl-10 col-md-10 col-xl-10 ms-auto">
        <div class="right-panel">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-xxl-10 col-xl-10 col-md-10">
                            <h6>Data Upload</h6>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <h6 class="mb-2 headings">Covers</h6>
                    <div class="table-responsive scrollbar-wrapper dataTable">
                        <form name="Data_upload_form" autocomplete="off" novalidate>
                            <table>
                                <thead class="table-sticky-top">
                                    <tr>
                                        <th class="text-center text-nowrap">Site Name</th>
                                        <th class="text-center text-nowrap">Upload or Manual</th>
                                        <th class="text-center ">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="_main_upload in CASHUP_DATA_UPLOAD_LIST" ng-init="nginit_upload_data(_main_upload)">
                                        <td class="text-center">{{_main_upload.BRANCH_NAME}}</td>
                                        <td class="text-center">
                                            <input type="hidden"
                                                   name="CASHUP_DATA_UPLOAD_MASTER_ID_{{$index}}"
                                                   placeholder="Add Here"
                                                   ng-model="_main_upload.CASHUP_DATA_UPLOAD_MASTER_ID" />
                                            <ul class="nav nav-pills mb-0">
                                                <li class="dropdown w-100">
                                                    <a class="text-limitations cursor-pointer"ng-class="{'disabled':_main_upload.IS_ENABLED==true}" data-toggle="dropdown">
                                                        <span class="select-label" id="select_label">
                                                            {{_main_upload.CUSTOM_DDL_UPLOAD_TYPE}}
                                                        </span>
                                                    </a>
                                                    <!-- ng-class="{'disabled':_main_upload.IS_ENABLED==false}" -->
                                                    <ul ID="divNewNotifications" class="dropdown-menu scrollbar-wrapper w-auto" style="min-width:100%">
                                                        <li class=""
                                                            ng-show="DataUpload_Search.DD_DEFAULT_TEXT!=_main_upload.CUSTOM_DDL_UPLOAD_TYPE"
                                                            ng-click="SELECTED_DDL_UPLOAD_MASTER_Fn('',_main_upload)">{{DataUpload_Search.DD_DEFAULT_TEXT}}</li>
                                                        <li class=""
                                                            ng-click="SELECTED_DDL_UPLOAD_MASTER_Fn(_upload,_main_upload)"
                                                            ng-repeat="_upload in UPLOAD_MASTER_DDL_LIST">
                                                            <span class="">{{_upload.DATA_UPLOAD_TYPE}}</span>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </td>
                                        <td class="text-center">
                                            <button type="button" class="btn btn-sm btn-transparent" ng-click="SET_UPLOAD_DDL(_main_upload,$index)" ><i class="fa-light fa-pen fa-lg" ></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </form>
                    </div>
                    <div class="row">
                        <div class="col-xxl-12 col-md-12 col-xl-12 mt-2 text-end">
                            <button type="button" class="btn btn-light" ng-click="INS_UPD_CASHUP_SETTING_DATA_UPLOAD()">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>