@{
    ViewBag.Title = "AdminIndex";
    Layout = "~/Views/Shared/_Layout_Common.cshtml";
}
<div ng-controller="AdminIndexController">
    <ng-view></ng-view>
</div>
@*Hr Admin*@
<script src="~/AngularControllers/AdminIndexController.js?v=@System.Configuration.ConfigurationManager.AppSettings["AppVersion"].ToString()"></script>
<script src="~/AngularControllers/HumanResource/UserJourneyController.js?v=@System.Configuration.ConfigurationManager.AppSettings["AppVersion"].ToString()"></script>
<script src="~/AngularControllers/HumanResource/Schedule/ApproveScheduleController.js?v=@System.Configuration.ConfigurationManager.AppSettings["AppVersion"].ToString()"></script>
<script src="~/AngularControllers/HumanResource/Dashboard/HRDashboardController.js?v=@System.Configuration.ConfigurationManager.AppSettings["AppVersion"].ToString()"></script>
<script src="~/AngularControllers/HumanResource/Admin/SettingController.js?v=@System.Configuration.ConfigurationManager.AppSettings["AppVersion"].ToString()"></script>
<script src="~/AngularControllers/HumanResource/ManageHRController.js?v=@System.Configuration.ConfigurationManager.AppSettings["AppVersion"].ToString()"></script>
<script src="~/AngularControllers/HumanResource/Admin/OrganisationController.js?v=@System.Configuration.ConfigurationManager.AppSettings["AppVersion"].ToString()"></script>
<script src="~/AngularControllers/HumanResource/Admin/GeneralController.js?v=@System.Configuration.ConfigurationManager.AppSettings["AppVersion"].ToString()"></script>
<script src="~/AngularControllers/HumanResource/Lets_Start/BasicDetailsController.js?v=@System.Configuration.ConfigurationManager.AppSettings["AppVersion"].ToString()"></script>
<script src="~/AngularControllers/HumanResource/Access/AccessController.js?v=@System.Configuration.ConfigurationManager.AppSettings["AppVersion"].ToString()"></script>
<script src="~/AngularControllers/HumanResource/Users/UsersController.js?v=@System.Configuration.ConfigurationManager.AppSettings["AppVersion"].ToString()"></script>
<script src="~/AngularControllers/HumanResource/Work_Patterns/WorkPatternsController.js?v=@System.Configuration.ConfigurationManager.AppSettings["AppVersion"].ToString()"></script>
<script src="~/AngularControllers/HumanResource/Schedule/ScheduleController.js?v=@System.Configuration.ConfigurationManager.AppSettings["AppVersion"].ToString()"></script>
<script src="~/AngularControllers/HumanResource/PunchClock/PunchClockController.js?v=@System.Configuration.ConfigurationManager.AppSettings["AppVersion"].ToString()"></script>
<script src="~/AngularControllers/HumanResource/Absence/AbsenceController.js?v=@System.Configuration.ConfigurationManager.AppSettings["AppVersion"].ToString()"></script>
<script src="~/AngularControllers/HumanResource/Payroll/PayrollController.js?v=@System.Configuration.ConfigurationManager.AppSettings["AppVersion"].ToString()"></script>
<script src="~/AngularControllers/HumanResource/Reporting/ReportingController.js?v=@System.Configuration.ConfigurationManager.AppSettings["AppVersion"].ToString()"></script>
<script src="~/AngularControllers/HumanResource/Integration/IntegrationController.js?v=@System.Configuration.ConfigurationManager.AppSettings["AppVersion"].ToString()"></script>
@*End of hr admin*@

@*CashUpAdmin*@
<script src="~/AngularControllers/CashupApp/Admin/CashUpGeneralController.js?v=@System.Configuration.ConfigurationManager.AppSettings["AppVersion"].ToString()"></script>
<script src="~/AngularControllers/CashupApp/Admin/CashupUserListController.js?v=@System.Configuration.ConfigurationManager.AppSettings["AppVersion"].ToString()"></script>
<script src="~/AngularControllers/CashupApp/Users/CashupUsersController.js?v=@System.Configuration.ConfigurationManager.AppSettings["AppVersion"].ToString()"></script>
<script src="~/AngularControllers/CashupApp/Users/AddCashupUserController.js?v=@System.Configuration.ConfigurationManager.AppSettings["AppVersion"].ToString()"></script>
<script src="~/AngularControllers/CashupApp/Site_Setup/SetupController.js?v=@System.Configuration.ConfigurationManager.AppSettings["AppVersion"].ToString()"></script>
<script src="~/AngularControllers/CashupApp/Data_Upload/DataUploadController.js?v=@System.Configuration.ConfigurationManager.AppSettings["AppVersion"].ToString()"></script>
<script src="~/AngularControllers/CashupApp/Integration/IntegrationController.js?v=@System.Configuration.ConfigurationManager.AppSettings["AppVersion"].ToString()"></script>
<script src="~/AngularControllers/CashupApp/Admin/SettingLandingPageController.js?v=@System.Configuration.ConfigurationManager.AppSettings["AppVersion"].ToString()"></script>


@*<script src="~/AngularControllers/CashupApp/Cashup_Register/CashupRegisterController.js?v=@System.Configuration.ConfigurationManager.AppSettings["AppVersion"].ToString()"></script>
<script src="~/AngularControllers/CashupApp/Cashup_Entry/CashupEntryController.js?v=@System.Configuration.ConfigurationManager.AppSettings["AppVersion"].ToString()"></script>
<script src="~/AngularControllers/CashupApp/Entry_DataUpload/CoverEntryController.js?v=@System.Configuration.ConfigurationManager.AppSettings["AppVersion"].ToString()"></script>
<script src="~/AngularControllers/CashupApp/Entry_DataUpload/EPOSEntryController.js?v=@System.Configuration.ConfigurationManager.AppSettings["AppVersion"].ToString()"></script>
<script src="~/AngularControllers/CashupApp/Entry_DataUpload/FloatEntryController.js?v=@System.Configuration.ConfigurationManager.AppSettings["AppVersion"].ToString()"></script>
<script src="~/AngularControllers/CashupApp/Entry_DataUpload/PettyCashEntryController.js?v=@System.Configuration.ConfigurationManager.AppSettings["AppVersion"].ToString()"></script>
<script src="~/AngularControllers/CashupApp/Receivables/AccountCreditMgtController.js?v=@System.Configuration.ConfigurationManager.AppSettings["AppVersion"].ToString()"></script>
<script src="~/AngularControllers/CashupApp/Receivables/DepositMgtController.js?v=@System.Configuration.ConfigurationManager.AppSettings["AppVersion"].ToString()"></script>
<script src="~/AngularControllers/CashupApp/Receivables/VoucherMgtController.js?v=@System.Configuration.ConfigurationManager.AppSettings["AppVersion"].ToString()"></script>
<script src="~/AngularControllers/CashupApp/CashBanking/CashBankingController.js?v=@System.Configuration.ConfigurationManager.AppSettings["AppVersion"].ToString()"></script>*@
@*End of CashUp Admin*@

@*// PI Dashboard*@
@*//Control Panel*@
<script src="~/AngularControllers/PowerInsight/ControlPanel/MappingController.js?@System.Configuration.ConfigurationManager.AppSettings["AppVersion"].ToString()"></script>
@*//End of PI Dashboard*@




