<div class="card-header">
    <h4 class="card-title">Profit & Loss</h4>
    <div class="row">
        <div class="col-md-2 ml-auto">
            <select name="BRANCH" class="custom-select text-xs"
                    ng-options="BRL.BRANCH_ID as BRL.BRANCH_NAME for BRL in BRANCH_LIST"
                    ng-model="DashboardSearch.BRANCH_ID"
                    ng-change="SELECT_BRANCH(DashboardSearch.BRANCH_ID)">
                <option value="">- Company-</option>
            </select>
        </div>
        <div class="col-md-2">
            <select name="BRANCH" class="custom-select text-xs"
                    ng-options="BRL.BRANCH_ID as BRL.BRANCH_NAME for BRL in BRANCH_LIST"
                    ng-model="DashboardSearch.BRANCH_ID"
                    ng-change="SELECT_BRANCH(DashboardSearch.BRANCH_ID)">
                <option value="">- Location -</option>
            </select>
        </div>
        <div class="col-md-2">
            <select name="BRANCH" class="custom-select text-xs"
                    ng-options="BRL.BRANCH_ID as BRL.BRANCH_NAME for BRL in BRANCH_LIST"
                    ng-model="DashboardSearch.BRANCH_ID"
                    ng-change="SELECT_BRANCH(DashboardSearch.BRANCH_ID)">
                <option value="">- Branch -</option>
            </select>
        </div>
        <div class="col-md-2">
            <div id="reportrange" class="custom-select text-xs">
                <i class="glyphicon glyphicon-calendar fa fa-calendar mt-2"></i>&nbsp;
                <span>Period</span><b class="caret"></b>
            </div>
        </div>
        <div class="col-md-2">
            <div id="reportrange" class="custom-select text-xs">
                <i class="glyphicon glyphicon-calendar fa fa-calendar mt-2"></i>&nbsp;
                <span>Compare with</span><b class="caret"></b>
            </div>
        </div>
    </div>
</div>

<div class="card-body">
    <div class="row">
        <div class="col-md-6">
            <div class="table-responsive">
                <table class="table table-hover table-striped">
                    <thead class="bg-wenodo-dark-blue">
                        <tr>
                            <th width="5%"></th>
                            <th width="29%">P&L Item</th>
                            <th width="40%">Value</th>
                            <th width="26%">% Contribution</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="mb-2">
                            <td class="cursor-pointer" ng-click="DisplayDetails(Search_FY)">
                                <i class="fas fa-chevron-down"></i>
                                <!--<i class="fas fa-chevron-right" ng-show="!Search_FY.ShowDetails"></i>-->
                            </td>
                            <td>Revenue</td>
                            <td>&pound; 31176.00</td>
                            <td></td>
                        </tr>

                        <tr >
                            <td colspan="4" class="p-0">
                                <table class="table shadow mb-0">
                                    <tr>
                                        <td width="8%"></td>
                                        <td width="28%">Bar</td>
                                        <td width="38%">&pound; 7069.00</td>
                                        <td width="26%">22%</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>Cafe</td>
                                        <td>&pound; 7069.00</td>
                                        <td>22%</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>Restaurant</td>
                                        <td>&pound; 7069.00</td>
                                        <td>22%</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>Retail</td>
                                        <td>&pound; 7069.00</td>
                                        <td>22%</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>Deli</td>
                                        <td>&pound; 7069.00</td>
                                        <td>22%</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>Others</td>
                                        <td>&pound; 7069.00</td>
                                        <td>22%</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>

                        <tr>
                            <td class="cursor-pointer" ng-click="DisplayDetails(Search_FY)">
                                <i class="fas fa-chevron-down" ng-show="Search_FY.ShowDetails"></i>
                                <i class="fas fa-chevron-right" ng-show="!Search_FY.ShowDetails"></i>
                            </td>
                            <td>Cost of Sales</td>
                            <td>&pound; 31176.00</td>
                            <td></td>
                        </tr>

                        <tr ng-show="Search_FY.ShowDetails">
                            <td colspan="4" class="p-0">
                                <table class="table shadow mb-0">
                                    <tr>
                                        <td width="8%"></td>
                                        <td width="29%">Bar</td>
                                        <td width="39%">&pound; 7069.00</td>
                                        <td width="24%">22%</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>Cafe</td>
                                        <td>&pound; 7069.00</td>
                                        <td>22%</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>Restaurant</td>
                                        <td>&pound; 7069.00</td>
                                        <td>22%</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>Retail</td>
                                        <td>&pound; 7069.00</td>
                                        <td>22%</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>Deli</td>
                                        <td>&pound; 7069.00</td>
                                        <td>22%</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>Others</td>
                                        <td>&pound; 7069.00</td>
                                        <td>22%</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>

                        <tr>
                            <td class="cursor-pointer" ng-click="DisplayDetails(Search_FY)">
                                <i class="fas fa-chevron-down" ng-show="Search_FY.ShowDetails"></i>
                                <i class="fas fa-chevron-right" ng-show="!Search_FY.ShowDetails"></i>
                            </td>
                            <td>Gross Profit</td>
                            <td>&pound; 31176.00</td>
                            <td>33%</td>
                        </tr>

                        <tr ng-show="Search_FY.ShowDetails">
                            <td colspan="4" class="p-0">
                                <table class="table shadow mb-0">
                                    <tr>
                                        <td width="8%"></td>
                                        <td width="29%">Bar</td>
                                        <td width="39%">&pound; 7069.00</td>
                                        <td width="24%">22%</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>Cafe</td>
                                        <td>&pound; 7069.00</td>
                                        <td>22%</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>Restaurant</td>
                                        <td>&pound; 7069.00</td>
                                        <td>22%</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>Retail</td>
                                        <td>&pound; 7069.00</td>
                                        <td>22%</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>Deli</td>
                                        <td>&pound; 7069.00</td>
                                        <td>22%</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>Others</td>
                                        <td>&pound; 7069.00</td>
                                        <td>22%</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>

                        <tr>
                            <td class="cursor-pointer" ng-click="DisplayDetails(Search_FY)">
                                <i class="fas fa-chevron-down" ng-show="Search_FY.ShowDetails"></i>
                                <i class="fas fa-chevron-right" ng-show="!Search_FY.ShowDetails"></i>
                            </td>
                            <td>Administrative Cost</td>
                            <td>&pound; 31176.00</td>
                            <td></td>
                        </tr>

                        <tr ng-show="Search_FY.ShowDetails">
                            <td colspan="4" class="p-0">
                                <table class="table shadow mb-0">
                                    <tr>
                                        <td width="8%"></td>
                                        <td width="29%">Bar</td>
                                        <td width="39%">&pound; 7069.00</td>
                                        <td width="24%">22%</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>Cafe</td>
                                        <td>&pound; 7069.00</td>
                                        <td>22%</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>Restaurant</td>
                                        <td>&pound; 7069.00</td>
                                        <td>22%</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>Retail</td>
                                        <td>&pound; 7069.00</td>
                                        <td>22%</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>Deli</td>
                                        <td>&pound; 7069.00</td>
                                        <td>22%</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>Others</td>
                                        <td>&pound; 7069.00</td>
                                        <td>22%</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>

                        <tr>
                            <td class="cursor-pointer" ng-click="DisplayDetails(Search_FY)">
                                <i class="fas fa-chevron-down" ng-show="Search_FY.ShowDetails"></i>
                                <i class="fas fa-chevron-right" ng-show="!Search_FY.ShowDetails"></i>
                            </td>
                            <td>Opration Profit</td>
                            <td>&pound; 31176.00</td>
                            <td>100%</td>
                        </tr>

                        <tr ng-show="Search_FY.ShowDetails">
                            <td colspan="4" class="p-0">
                                <table class="table shadow mb-0">
                                    <tr>
                                        <td width="8%"></td>
                                        <td width="29%">Bar</td>
                                        <td width="39%">&pound; 7069.00</td>
                                        <td width="24%">22%</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>Cafe</td>
                                        <td>&pound; 7069.00</td>
                                        <td>22%</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>Restaurant</td>
                                        <td>&pound; 7069.00</td>
                                        <td>22%</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>Retail</td>
                                        <td>&pound; 7069.00</td>
                                        <td>22%</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>Deli</td>
                                        <td>&pound; 7069.00</td>
                                        <td>22%</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>Others</td>
                                        <td>&pound; 7069.00</td>
                                        <td>22%</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>

                        <tr>
                            <td class="cursor-pointer" ng-click="DisplayDetails(Search_FY)">
                                <i class="fas fa-chevron-down" ng-show="Search_FY.ShowDetails"></i>
                                <i class="fas fa-chevron-right" ng-show="!Search_FY.ShowDetails"></i>
                            </td>
                            <td>Profit after tax</td>
                            <td>&pound; 31176.00</td>
                            <td>100%</td>
                        </tr>

                        <tr ng-show="Search_FY.ShowDetails">
                            <td colspan="4" class="p-0">
                                <table class="table shadow mb-0">
                                    <tr>
                                        <td width="8%"></td>
                                        <td width="29%">Bar</td>
                                        <td width="39%">&pound; 7069.00</td>
                                        <td width="24%">22%</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>Cafe</td>
                                        <td>&pound; 7069.00</td>
                                        <td>22%</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>Restaurant</td>
                                        <td>&pound; 7069.00</td>
                                        <td>22%</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>Retail</td>
                                        <td>&pound; 7069.00</td>
                                        <td>22%</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>Deli</td>
                                        <td>&pound; 7069.00</td>
                                        <td>22%</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>Others</td>
                                        <td>&pound; 7069.00</td>
                                        <td>22%</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-6">
            <div class="table-responsive">
                <table class="table table-hover table-striped">
                    <thead class="bg-wenodo-dark-blue">
                        <tr>
                            <th width="5%"></th>
                            <th width="30%">P&L Item</th>
                            <th width="40%">Value</th>
                            <th width="25%">% Variance</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="cursor-pointer" ng-click="DisplayDetails(Search_FY)">
                                <i class="fas fa-chevron-down" ng-show="Search_FY.ShowDetails"></i>
                                <i class="fas fa-chevron-right" ng-show="!Search_FY.ShowDetails"></i>
                            </td>
                            <td>Revenue</td>
                            <td>&pound; 31176.00</td>
                            <td></td>
                        </tr>

                        <tr ng-show="Search_FY.ShowDetails">
                            <td colspan="4" class="p-0">
                                <table class="table shadow mb-0">
                                    <tr>
                                        <td width="8%"></td>
                                        <td width="29%">Bar</td>
                                        <td width="39%">&pound; 7069.00</td>
                                        <td width="24%">22%</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>Cafe</td>
                                        <td>&pound; 7069.00</td>
                                        <td>22%</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>Restaurant</td>
                                        <td>&pound; 7069.00</td>
                                        <td>22%</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>Retail</td>
                                        <td>&pound; 7069.00</td>
                                        <td>22%</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>Deli</td>
                                        <td>&pound; 7069.00</td>
                                        <td>22%</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>Others</td>
                                        <td>&pound; 7069.00</td>
                                        <td>22%</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>

                        <tr>
                            <td class="cursor-pointer" ng-click="DisplayDetails(Search_FY)">
                                <i class="fas fa-chevron-down" ng-show="Search_FY.ShowDetails"></i>
                                <i class="fas fa-chevron-right" ng-show="!Search_FY.ShowDetails"></i>
                            </td>
                            <td>Cost of Sales</td>
                            <td>&pound; 31176.00</td>
                            <td></td>
                        </tr>

                        <tr ng-show="Search_FY.ShowDetails">
                            <td colspan="4" class="p-0">
                                <table class="table shadow mb-0">
                                    <tr>
                                        <td width="8%"></td>
                                        <td width="29%">Bar</td>
                                        <td width="39%">&pound; 7069.00</td>
                                        <td width="24%">22%</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>Cafe</td>
                                        <td>&pound; 7069.00</td>
                                        <td>22%</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>Restaurant</td>
                                        <td>&pound; 7069.00</td>
                                        <td>22%</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>Retail</td>
                                        <td>&pound; 7069.00</td>
                                        <td>22%</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>Deli</td>
                                        <td>&pound; 7069.00</td>
                                        <td>22%</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>Others</td>
                                        <td>&pound; 7069.00</td>
                                        <td>22%</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>

                        <tr>
                            <td class="cursor-pointer" ng-click="DisplayDetails(Search_FY)">
                                <i class="fas fa-chevron-down" ng-show="Search_FY.ShowDetails"></i>
                                <i class="fas fa-chevron-right" ng-show="!Search_FY.ShowDetails"></i>
                            </td>
                            <td>Gross Profit</td>
                            <td>&pound; 31176.00</td>
                            <td></td>
                        </tr>

                        <tr ng-show="Search_FY.ShowDetails">
                            <td colspan="4" class="p-0">
                                <table class="table shadow mb-0">
                                    <tr>
                                        <td width="8%"></td>
                                        <td width="29%">Bar</td>
                                        <td width="39%">&pound; 7069.00</td>
                                        <td width="24%">22%</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>Cafe</td>
                                        <td>&pound; 7069.00</td>
                                        <td>22%</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>Restaurant</td>
                                        <td>&pound; 7069.00</td>
                                        <td>22%</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>Retail</td>
                                        <td>&pound; 7069.00</td>
                                        <td>22%</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>Deli</td>
                                        <td>&pound; 7069.00</td>
                                        <td>22%</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>Others</td>
                                        <td>&pound; 7069.00</td>
                                        <td>22%</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>

                        <tr>
                            <td class="cursor-pointer" ng-click="DisplayDetails(Search_FY)">
                                <i class="fas fa-chevron-down" ng-show="Search_FY.ShowDetails"></i>
                                <i class="fas fa-chevron-right" ng-show="!Search_FY.ShowDetails"></i>
                            </td>
                            <td>Administrative Cost</td>
                            <td>&pound; 31176.00</td>
                            <td></td>
                        </tr>

                        <tr ng-show="Search_FY.ShowDetails">
                            <td colspan="4" class="p-0">
                                <table class="table shadow mb-0">
                                    <tr>
                                        <td width="8%"></td>
                                        <td width="29%">Bar</td>
                                        <td width="39%">&pound; 7069.00</td>
                                        <td width="24%">22%</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>Cafe</td>
                                        <td>&pound; 7069.00</td>
                                        <td>22%</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>Restaurant</td>
                                        <td>&pound; 7069.00</td>
                                        <td>22%</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>Retail</td>
                                        <td>&pound; 7069.00</td>
                                        <td>22%</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>Deli</td>
                                        <td>&pound; 7069.00</td>
                                        <td>22%</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>Others</td>
                                        <td>&pound; 7069.00</td>
                                        <td>22%</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>

                        <tr>
                            <td class="cursor-pointer" ng-click="DisplayDetails(Search_FY)">
                                <i class="fas fa-chevron-down" ng-show="Search_FY.ShowDetails"></i>
                                <i class="fas fa-chevron-right" ng-show="!Search_FY.ShowDetails"></i>
                            </td>
                            <td>Opration Profit</td>
                            <td>&pound; 31176.00</td>
                            <td></td>
                        </tr>

                        <tr ng-show="Search_FY.ShowDetails">
                            <td colspan="4" class="p-0">
                                <table class="table shadow mb-0">
                                    <tr>
                                        <td width="8%"></td>
                                        <td width="29%">Bar</td>
                                        <td width="39%">&pound; 7069.00</td>
                                        <td width="24%">22%</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>Cafe</td>
                                        <td>&pound; 7069.00</td>
                                        <td>22%</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>Restaurant</td>
                                        <td>&pound; 7069.00</td>
                                        <td>22%</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>Retail</td>
                                        <td>&pound; 7069.00</td>
                                        <td>22%</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>Deli</td>
                                        <td>&pound; 7069.00</td>
                                        <td>22%</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>Others</td>
                                        <td>&pound; 7069.00</td>
                                        <td>22%</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>

                        <tr>
                            <td class="cursor-pointer" ng-click="DisplayDetails(Search_FY)">
                                <i class="fas fa-chevron-down" ng-show="Search_FY.ShowDetails"></i>
                                <i class="fas fa-chevron-right" ng-show="!Search_FY.ShowDetails"></i>
                            </td>
                            <td>Profit after tax</td>
                            <td>&pound; 31176.00</td>
                            <td></td>
                        </tr>

                        <tr ng-show="Search_FY.ShowDetails">
                            <td colspan="4" class="p-0">
                                <table class="table shadow mb-0">
                                    <tr>
                                        <td width="8%"></td>
                                        <td width="29%">Bar</td>
                                        <td width="39%">&pound; 7069.00</td>
                                        <td width="24%">22%</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>Cafe</td>
                                        <td>&pound; 7069.00</td>
                                        <td>22%</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>Restaurant</td>
                                        <td>&pound; 7069.00</td>
                                        <td>22%</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>Retail</td>
                                        <td>&pound; 7069.00</td>
                                        <td>22%</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>Deli</td>
                                        <td>&pound; 7069.00</td>
                                        <td>22%</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>Others</td>
                                        <td>&pound; 7069.00</td>
                                        <td>22%</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>