<div class="box-shodow"  id="PROFITABILITY_PDF_ID">
    <div class="row my-3" hidden>
        <div class="col-md-6 border-bottom"><img src="{{LOGO_PATH}}" class="img-fluid footer-logo my-2" alt="" /></div>
        <div class="col-md-6 border-bottom text-right"><img src="../E_Content/images/logo.png" class="img-fluid footer-logo my-2" alt="" /></div>
    </div>
    <div class="card-header">
        <h5 class="card-title">Menu Profitability</h5>
        <div class="card-tools">
            <ul class="nav nav-pills ml-auto">
                <li class="nav-item mr-2" ng-show="false">
                    <select class="custom-select custom-select-sm mw-150"
                            style="max-width:150px"
                            name="ENTITY"
                            ng-change="ENTITY_CHANGE_FY()"
                            ng-options="EL.ENTITY_ID as EL.ENTITY_NAME for EL in REVE_ENTITY_LIST"
                            ng-model="ProfitabilitySearch.ENTITY_ID"></select>

                </li>
                <li class="nav-item mr-2">
                    <select class="custom-select custom-select-sm mw-150"
                            name="BRANCH"
                            ng-change="PROFITABILITY_BRANCH_CHANGE()"
                            ng-options="BL.BRANCH_ID as BL.BRANCH_NAME for BL in BRANCH_LIST"
                            ng-model="ProfitabilitySearch.BRANCH_ID"></select>
                </li>
                <li class="nav-item mr-2">
                    <div class="input-group input-group-sm my-0" id="week-picker-wrapper">
                        <div class="input-group-prepend">
                            <button type="button" class="btn input-group-text week-prev">
                                <i class="fas fa-arrow-left"></i>
                            </button>
                        </div>
                        <input type="text" class="form-control week-picker font-11 bg-white" ng-class="{'c-form-control':SHOW_BTN}" value="" readonly format="yy-mm-dd" placeholder="Select a Week" />
                        <div class="input-group-append">
                            <button type="button" class="btn input-group-text week-next">
                                <i class="fas fa-arrow-right"></i>
                            </button>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <div class="form-group mb-0">
                        <button type="button" class="btn btn-sm btn-wenodo" ng-click="PROFITABILITY_PDF(1)" data-toggle="tooltip" data-html="true" data-original-title="Download PDF"><i class="far fa-file-pdf"></i></button>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-4 mb-3" ng-repeat="CML in CATEGORY_MASTER_LIST" ng-show="CML.MENU_PROFITABILITY_ANALYTICS_LIST_TOP.length>0">
                <h6 class="font-13 mt-3 text-bold">Top 10 Seller - {{CML.CATEGORY_NAME}}</h6>
                <div class="text-center" ng-show="CML.MENU_PROFITABILITY_ANALYTICS_LIST_TOP.length==0" empty-grid></div>
                <div class="table-responsive custom-scrollbar">
                    <table class="table table-head-fixed table-striped table-hover consolidated-table mb-0" ng-show="CML.MENU_PROFITABILITY_ANALYTICS_LIST_TOP.length>0" id="TOP_SALES{{CML.ID}}">
                        <thead>
                            <tr>
                                <th class="text-nowrap">Net Food Sales</th>
                                <th class="text-nowrap text-right">Amt. </th>
                                <th class="text-nowrap text-right">% of Net Sales</th>
                                <th class="text-nowrap text-right">GP %</th>
                            </tr>
                        </thead>
                        <tbody ng-repeat="MAL in  CML.MENU_PROFITABILITY_ANALYTICS_LIST_TOP">
                            <tr>

                                <td>{{MAL.Label}}</td>
                                <td class="text-right text-nowrap"><span ng-bind-html="CURRENCY_SYMBOL"></span> {{MAL.Amount | number :2}} </td>
                                <td class="text-right text-nowrap">% {{MAL.Percent}} </td>
                                <td class="text-right text-nowrap">% {{MAL.GP_Percent}} </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr class="table-footer-fixed text-bold">
                                <td>Total</td>
                                <td class="text-right"><span ng-bind-html="CURRENCY_SYMBOL"></span> {{(CML.MENU_PROFITABILITY_ANALYTICS_LIST_TOP | total:'Amount' | number:2)}}</td>
                                <td class="text-right text-nowrap"> </td>
                                <td class="text-right text-nowrap">  <a ng-show="CML.GetData" class="cursor-pointer text-sky" click-once ng-click="CATEGORY_MASTER_LIST_LAZY_LOAD(CML,-1)">Next 10</a></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <div class="col-md-4 mb-3" ng-repeat="CML in CATEGORY_MASTER_LIST" ng-show="CML.MENU_PROFITABILITY_ANALYTICS_LIST_BOTTOM.length>0">
                <h6 class="font-13 mt-3 text-bold">Bottom 10 Seller - {{CML.CATEGORY_NAME}}</h6>
                <div class="text-center" ng-show="CML.MENU_PROFITABILITY_ANALYTICS_LIST_BOTTOM.length==0" empty-grid></div>
                <div class="table-responsive custom-scrollbar" ng-show="CML.MENU_PROFITABILITY_ANALYTICS_LIST_BOTTOM.length>0">
                    <table class="table table-head-fixed table-striped table-hover consolidated-table mb-0" id="DAILY_SALES{{country.ID}}">
                        <thead>
                            <tr>
                                <th class="text-nowrap">Net Food Sales</th>
                                <th class="text-nowrap text-right"> Amt</th>
                                <th class="text-nowrap text-right">% of Net Sales</th>
                                <th class="text-nowrap text-right">GP %</th>
                            </tr>
                        </thead>
                        <tbody ng-repeat="B_MAL in  CML.MENU_PROFITABILITY_ANALYTICS_LIST_BOTTOM">
                            <tr>
                                <td>{{B_MAL.Label}}</td>
                                <td class="text-right text-nowrap"><span ng-bind-html="CURRENCY_SYMBOL"></span> {{B_MAL.Amount | number :2}} </td>
                                <td class="text-right text-nowrap">% {{B_MAL.Percent}} </td>
                                <td class="text-right text-nowrap">% {{B_MAL.GP_Percent}} </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr class="table-footer-fixed text-bold">
                                <td>Total</td>
                                <td class="text-right"><span ng-bind-html="CURRENCY_SYMBOL"></span> {{(B_MAL.MENU_PROFITABILITY_ANALYTICS_LIST_BOTTOM | total:'Amount' | number:2)}}</td>
                                <td class="text-right text-nowrap"> </td>
                                <td class="text-right text-nowrap">   <a ng-show="CML.GetBTMData" class="cursor-pointer text-sky" click-once ng-click="CATEGORY_MASTER_LIST_LAZY_LOAD(CML,1)">Next 10</a></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>