<style>
    .overlay_loadingtest {
        background-image: url(/E_Content/images/coming_soon.png);
        background-size: 300px;
        background-color: #fff;
        opacity: 1;
        background-repeat: no-repeat;
        background-position: center;
        display: block;
        width: 100%;
        height: 100%;
        z-index: 9999;
    }
</style>
<div class="card-header">
    <h5 class="heading-text-2 pt-2">My Preferences</h5>
    <button class="btn btn-wenodo float-right pos-relative" ng-click="HistoryBack()" type="button" style="z-index:1035">Back</button>
</div>
<div class="card-body">
    <ul class="nav nav-tabs" id="custom-content-above-tab" role="tablist">
        <li class="nav-item" ng-click="TAB_CLICK(1)">
            <a class="nav-link" ng-class="{'active':TAB_FLAG==1}" id="custom-content-above-home-tab" data-toggle="pill" role="tab" aria-controls="custom-content-above-home" aria-selected="true">Basic Info</a>
        </li>
        <li class="nav-item" ng-click="TAB_CLICK(2)" ng-show="CREATED_BY!=999999999">
            <a class="nav-link" ng-class="{'active':TAB_FLAG==2}" id="custom-content-above-profile-tab" data-toggle="pill" role="tab" aria-controls="custom-content-above-profile" aria-selected="false">Notification Preferences</a>
        </li>
        <li class="nav-item" ng-click="TAB_CLICK(3)" ng-show="CREATED_BY!=999999999">
            <a class="nav-link" ng-class="{'active':TAB_FLAG==3}" id="custom-content-above-profile-tab" data-toggle="pill" role="tab" aria-controls="custom-content-above-profile" aria-selected="false">Delegation</a>
        </li>
        <li class="nav-item" ng-click="TAB_CLICK(4)" ng-show="CREATED_BY!=999999999">
            <a class="nav-link" ng-class="{'active':TAB_FLAG==4}" id="custom-content-above-profile-tab" data-toggle="pill" role="tab" aria-controls="custom-content-above-profile" aria-selected="false">Roles and privileges</a>
        </li>
    </ul>
    <div class="tab-content" id="custom-content-above-tabContent">
        <div class="" ng-show="TAB_FLAG==1" id="custom-content-above-home" role="tabpanel" aria-labelledby="custom-content-above-home-tab">
            <!--tab-pane fade-->
            <div class="row">
                <div class="col-md-6 border">
                    <div class="card-header py-3">
                        <h5 class="card-title font-14 pt-1">User Info</h5>
                        <div class="card-tools">
                            <button type="button" ng-show="!IS_PRF_EDIT" ng-click="EDIT_USER_INFO()" class="btn btn-tool text-success"><i class="fas fa-edit"></i></button>
                            <button type="button" ng-show="IS_PRF_EDIT" ng-click="SAVE_USER_INFO()" class="btn btn-tool text-success"><i class="fas fa-save"></i></button>
                            <button type="button" ng-show="IS_PRF_EDIT" ng-click="CANCEL_USER_INFO()" class="btn btn-tool"><i class="fas fa-undo"></i></button>
                        </div>
                    </div>
                    <div class="card-body">
                        <form name="SubmitUserpro" novalidate>
                            <div class="col-md-12">
                                <div data-ng-show="SubmitUserpro.submitted && SubmitUserpro.$invalid || SubmitUserpro.submitted && (NG_REQU_SECONDARY_EMAIL || NG_REQU_USER_NAME || NG_REQU_MOBILE_NO)" class="form-group has-error errormessage badge badge-light-red w-100 p-3">
                                    <span class="help-block errormessageline"><i class="fa fa-exclamation-triangle"></i> - Please provide the mandatory details to submit(marked in red).</span>
                                </div>
                                <div id="divInvlidUser" class="hideshowdiv" data-ng-show="SubmitUserpro.$valid">
                                    <span class="help-block">{{InvalidUser}}</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 border-bottom"><label>Primary Email:</label></div>
                                <div class="col-md-9 border-bottom font-14">{{USER_BASIC_INFO.PRIMARY_EMAIL}}</div>
                                <div class="col-md-3 border-bottom"><label>Name:</label></div>
                                <div class="col-md-9 border-bottom font-14">
                                    <span ng-show="!IS_PRF_EDIT">{{USER_BASIC_INFO.NAME}}</span>
                                    <span ng-show="IS_PRF_EDIT" class="form-group">
                                        <input type="text"
                                               name="NAME"
                                               ng-model="USER_BASIC_INFO.NAME"
                                               placeholder="Name"
                                               required
                                               autocomplete="off"
                                               class="form-control mb-2"
                                               ng-class="{'error': SubmitUserpro.submitted && SubmitUserpro.NAME.$invalid}" />
                                    </span>
                                </div>
                                <div class="col-md-3 border-bottom"><label>User Name:</label></div>
                                <div class="col-md-9 border-bottom font-14">
                                    <span ng-show="!IS_PRF_EDIT">{{USER_BASIC_INFO.USER_NAME==""?'-':USER_BASIC_INFO.USER_NAME}}</span>
                                    <span ng-show="IS_PRF_EDIT">
                                        <input type="text"
                                               name="USER_NAME"
                                               ng-model="USER_BASIC_INFO.USER_NAME"
                                               placeholder="User Name"
                                               ng-required="NG_REQU_USER_NAME"
                                               ng-mouseleave="ADMIN_VALIDATE_USER_DATA(3,USER_BASIC_INFO.USER_NAME)"
                                               autocomplete="off"
                                               no-spaces
                                               class="form-control mb-2"
                                               ng-class="{'error': SubmitUserpro.submitted && SubmitUserpro.USER_NAME.$invalid}" />
                                        <span class="text-danger" ng-show="NG_REQU_USER_NAME">Provided User Name Already Exist.</span>
                                    </span>
                                </div>
                                <div class="col-md-3 border-bottom"><label>Notification Email:</label></div>
                                <div class="col-md-9 border-bottom font-14">
                                    <span ng-show="!IS_PRF_EDIT">{{USER_BASIC_INFO.NOTIFICATION_EMAIL}}</span>
                                    <span ng-show="IS_PRF_EDIT">
                                        <input type="text"
                                               name="NOTIFICATION_EMAIL"
                                               ng-model="USER_BASIC_INFO.NOTIFICATION_EMAIL"
                                               placeholder="Notification Email"
                                               required
                                               ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/"
                                               autocomplete="off"
                                               class="form-control mb-2"
                                               ng-class="{'error': SubmitUserpro.submitted && SubmitUserpro.NOTIFICATION_EMAIL.$invalid}" />
                                        <small class="text-danger" ng-show="SubmitUserpro.NOTIFICATION_EMAIL.$dirty && SubmitUserpro.NOTIFICATION_EMAIL.$error.pattern">Please Enter Valid Email<br /></small>
                                    </span>

                                </div>
                                <div class="col-md-3 border-bottom"><label>Secondary Email:</label></div>
                                <div class="col-md-9 border-bottom font-14">
                                    <span ng-show="!IS_PRF_EDIT">{{USER_BASIC_INFO.SECONDARY_EMAIL==""?'-':USER_BASIC_INFO.SECONDARY_EMAIL}}</span>
                                    <span ng-show="IS_PRF_EDIT">
                                        <input type="text"
                                               name="SECONDARY_EMAIL"
                                               ng-model="USER_BASIC_INFO.SECONDARY_EMAIL"
                                               placeholder="Secondary Email"
                                               ng-mouseleave="ADMIN_VALIDATE_USER_DATA(2,USER_BASIC_INFO.SECONDARY_EMAIL)"
                                               ng-required="NG_REQU_SECONDARY_EMAIL"
                                               ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/"
                                               autocomplete="off"
                                               class="form-control mb-2"
                                               ng-class="{'error': SubmitUserpro.submitted && SubmitUserpro.SECONDARY_EMAIL.$invalid}" />
                                        <small class="text-danger" ng-show="SubmitUserpro.SECONDARY_EMAIL.$dirty && SubmitUserpro.SECONDARY_EMAIL.$error.pattern">Please Enter Valid Email<br /></small>
                                        <small class="text-danger" ng-show="NG_REQU_SECONDARY_EMAIL">Secondary Email Already Exist.</small>
                                    </span>
                                </div>
                                <div class="col-md-3 border-bottom"><label>Mobile No:</label></div>
                                <div class="col-md-9 border-bottom font-14">
                                    <span ng-show="!IS_PRF_EDIT">{{USER_BASIC_INFO.MOBILE_NO==""?'-':USER_BASIC_INFO.MOBILE_NO}}</span>
                                    <span ng-show="IS_PRF_EDIT">
                                        <input type="text"
                                               name="MOBILE_NO"
                                               ng-model="USER_BASIC_INFO.MOBILE_NO"
                                               placeholder="Mobile No"
                                               ng-mouseleave="ADMIN_VALIDATE_USER_DATA(4,USER_BASIC_INFO.MOBILE_NO)"
                                               ng-required="NG_REQU_MOBILE_NO"
                                               only-numbers
                                               maxlength="10"
                                               autocomplete="off"
                                               class="form-control mb-2"
                                               ng-class="{'error': SubmitUserpro.submitted && SubmitUserpro.MOBILE_NO.$invalid}" />
                                        <span class="text-danger" ng-show="NG_REQU_MOBILE_NO">Provided Mobile Number Already Exist.</span>
                                    </span>
                                </div>
                                <div class="col-md-3 border-bottom"><label>Designation:</label></div>
                                <div class="col-md-9 border-bottom font-14">
                                    <span ng-show="!IS_PRF_EDIT">{{USER_BASIC_INFO.DESIGNATION==""?'-':USER_BASIC_INFO.DESIGNATION}}</span>
                                    <span ng-show="IS_PRF_EDIT">
                                        <input type="text"
                                               name="DESIGNATION"
                                               ng-model="USER_BASIC_INFO.DESIGNATION"
                                               placeholder="Designation"
                                               autocomplete="off"
                                               class="form-control mb-2"
                                               ng-class="{'error': SubmitUserpro.submitted && SubmitUserpro.DESIGNATION.$invalid}" />
                                    </span>
                                </div>

                                <div class="col-md-3 border-bottom" ng-show="CREATED_BY!=999999999"><label>Uploads:</label></div>
                                <div class="col-md-9 border-bottom font-14" ng-show="CREATED_BY!=999999999">
                                    <div class="col-auto">
                                        <div class="item">
                                            <img ng-show="AccountSetting.IMAGE_PATH==null || AccountSetting.IMAGE_PATH=='null'" class="profile-user-img" src="../../dist/img/default-150x150.png" alt="User profile picture">
                                            <img ng-show="AccountSetting.IMAGE_PATH!=null && AccountSetting.IMAGE_PATH!='null'" class="profile-user-img" src="/{{AccountSetting.IMAGE_PATH}}" alt="User profile picture">
                                            <div class="image-upload">
                                                <label for="file-input">
                                                    <span class="edit-badge"><i class="fal fa-pen"></i></span>
                                                </label>
                                                <input id="file-input" ng-files="getTheFilesImageUpload($files,5,5,AccountSetting,1,1)" name="file" type="file" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-6 border">
                    <div class="card-header">
                        <h5 class="card-title font-14 pt-1">Password</h5>
                        <div class="card-tools">
                            <!--<button type="button" ng-show="showpasswordedit" ng-click="EDIT_PASSWORD(1)" class="btn btn-tool">
                                <i class="fas fa-edit"></i>
                            </button>-->
                            <button type="button" ng-show="true" ng-click="EDIT_PASSWORD(2)" class="btn btn-tool">
                                <i class="fas fa-save text-success" data-toggle="tooltip" data-original-title="Save" data-html="true"></i>
                            </button>
                            <!--<button type="button" ng-show="true" ng-click="EDIT_PASSWORD(3)" class="btn btn-tool">
                                <i class="fas fa-undo"></i>
                            </button>-->
                        </div>
                    </div>

                    <div class="card-body">
                        <form name="SubmitPassword" novalidate>
                            <div class="row">
                                <div class="col-md-3 mb-2"><label>Old Password:</label></div>
                                <div class="col-md-9 mb-2">
                                    <div class="input-group">
                                        <input type="password"
                                               id="OldPassword"
                                               name="OldPassword"
                                               ng-model="AccountSetting.OldPassword"
                                               ng-disabled="showpasswordedit"
                                               placeholder="Old Password"
                                               required
                                               autocomplete="off"
                                               class="form-control"
                                               ng-class="{'error': SubmitPassword.submitted && SubmitPassword.OldPassword.$invalid}">
                                        <span class="input-group-text border-radius-0 app-text">
                                            <a class="" onclick="showPassword('OldPassword',!false,this);" data-toggle="tooltip" data-original-title="View Password" data-html="true">
                                                <i class="fas fa-eye-slash" id="togglePassword"></i>
                                            </a>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-3 mb-2">
                                    <label>
                                        New Password:
                                        <span class="tooltipx mt-2">
                                            <a class="ml-3">
                                                <i class="fa fa-question-circle font16px cursor-pointer" aria-hidden="true"></i>&nbsp;
                                            </a>
                                            <div class="tooltiptextx" style="z-index:1">
                                                <div class="col-md-12">
                                                    <b>Password Policy</b>
                                                    <br>The password must have a minimum length of ten characters and include:
                                                    <ul class="padding-left15px margin0px shadow-none">
                                                        <li>at least one UPPERCASE (A-Z) character, and</li>
                                                        <li>at least one lowercase (a-z) character, and</li>
                                                        <li>at least one Special character (!, @, #, $, %, ^, &amp;, *, _), and</li>
                                                        <li>at least one digit (0,1,2,3,4,5,6,7,8,9)</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </span>
                                    </label>
                                </div>
                                <div class="col-md-9 mb-2">
                                    <div class="input-group text-sm">
                                        <input type="password"
                                               id="NewPassword"
                                               required
                                               autocomplete="off"
                                               ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/"
                                               placeholder="New Password" 
                                               ng-minlength="8" 
                                               ng-maxlength="20"
                                               ng-disabled="showpasswordedit"
                                               ng-model="AccountSetting.NewPassword"
                                               class="form-control w-90"
                                               name="NewPassword"
                                               ng-class="{'error':SubmitPassword.submitted && SubmitPassword.NewPassword.$invalid}">
                                        <span class="input-group-text border-radius-0 app-text">
                                            <a class="" onclick="showPassword('NewPassword',!false,this);" data-toggle="tooltip" data-original-title="View Password" data-html="true">
                                                <i class="fas fa-eye-slash" id="toggleNewPassword"></i>
                                            </a>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-3 mb-2"><label>Confirm Password:</label></div>
                                <div class="col-md-9 mb-2">
                                    <div class="input-group">
                                        <input type="password"
                                               id="ConfirmPassword"
                                               required
                                               autocomplete="off"
                                               name="ConfirmPassword"
                                               placeholder="Confirm Password"
                                               ng-pattern="AccountSetting.NewPassword"
                                               ng-model="AccountSetting.ConfirmPassword"
                                               ng-disabled="showpasswordedit"
                                               ng-class="{'error':SubmitPassword.submitted && SubmitPassword.ConfirmPassword.$invalid}"
                                               class="form-control">
                                        <span class="input-group-text border-radius-0 app-text">
                                            <a class="" onclick="showPassword('ConfirmPassword',!false,this);" data-original-title="View Password" data-html="true">
                                                <i class="fas fa-eye-slash" id="toggleConfirmPassword" data-toggle="tooltip" data-original-title="View Password" data-html="true"></i>
                                            </a>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div data-ng-show="passwordSucfail" class="form-group has-error errormessage">
                                        <span class="help-block errormessageline" ng-show="passwordSucfail">Old password is wrong</span>
                                    </div>
                                    <div data-ng-show="SubmitPassword.submitted && SubmitPassword.$invalid" class="form-group has-error errormessage badge badge-light-red w-100 p-3">
                                        <p class="help-block errormessageline has-error errormessage" ng-show="!SubmitPassword.NewPassword.$error.required && (SubmitPassword.NewPassword.$error.minlength || SubmitPassword.NewPassword.$error.maxlength) && SubmitPassword.NewPassword.$dirty"><i class="fa fa-exclamation-triangle"></i> Passwords must be between 8 and 20 characters.</p>
                                        <p class="help-block errormessageline has-error errormessage" ng-show="!SubmitPassword.NewPassword.$error.required && !SubmitPassword.NewPassword.$error.minlength && !SubmitPassword.NewPassword.$error.maxlength && SubmitPassword.NewPassword.$error.pattern && SubmitPassword.NewPassword.$dirty"> <i class="fa fa-exclamation-triangle"></i> Must contain one lower &amp; uppercase letter, and one non-alpha character (a number or a symbol.)</p>
                                        <p class="help-block errormessageline has-error errormessage"
                                           ng-show="!SubmitPassword.ConfirmPassword.$error.required && SubmitPassword.ConfirmPassword.$invalid"><i class="fa fa-exclamation-triangle"></i> Passwords do not match.</p>
                                    </div>
                                    <div data-ng-show="SubmitPassword.submitted && SubmitPassword.$invalid" class="form-group has-error errormessage badge badge-light-red w-100 p-3">
                                        <p class="help-block errormessageline" data-ng-show="SubmitPassword.submitted && SubmitPassword.NewPassword.$error.required"><i class="fa fa-exclamation-triangle"></i>- please enter new password.</p>
                                        <p class="help-block errormessageline" data-ng-show="SubmitPassword.submitted && SubmitPassword.ConfirmPassword.$error.required"><i class="fa fa-exclamation-triangle"></i>- Please enter Confirm Password.</p>
                                        <p class="help-block errormessageline" data-ng-show="SubmitPassword.submitted && SubmitPassword.OldPassword.$error.required"><i class="fa fa-exclamation-triangle"></i>- Please enter Old Password.</p>
                                    </div>

                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="table-responsive" style="overflow:visible" ng-if="false">
                        <form name="SubmitPassword" novalidate>
                            <table class="table table-striped">
                                <tbody>
                                    <tr>
                                        <td class="semibold">Old Password:</td>
                                        <td>
                                            <input type="password"
                                                   name="OldPassword"
                                                   placeholder="Old password"
                                                   ng-model="AccountSetting.OldPassword"
                                                   ng-disabled="showpasswordedit"
                                                   required
                                                   class="form-control"
                                                   ng-class="{'error': SubmitPassword.submitted && SubmitPassword.OldPassword.$invalid}">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="semibold">New Password:</td>
                                        <td>
                                            <div class="form-inline">
                                                <input type="password"
                                                       required
                                                       ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/"
                                                       placeholder="New Password" ng-minlength="8" ng-maxlength="20"
                                                       ng-disabled="showpasswordedit"
                                                       ng-model="AccountSetting.NewPassword"
                                                       class="form-control w-90"
                                                       name="NewPassword"
                                                       ng-class="{'error':SubmitPassword.submitted && SubmitPassword.NewPassword.$invalid}">

                                                <div class="tooltipx">
                                                    <a class="ml-3">
                                                        <i class="fa fa-question-circle font16px cursor-pointer" aria-hidden="true"></i>&nbsp;
                                                    </a>
                                                    <div class="tooltiptextx" style="z-index:1">
                                                        <div class="col-md-11">
                                                            <b>Password Policy</b>
                                                            <br>The password must have a minimum length of ten characters and include:
                                                            <ul class="padding-left15px margin0px shadow-none">
                                                                <li>at least one UPPERCASE (A-Z) character, and</li>
                                                                <li>at least one lowercase (a-z) character, and</li>
                                                                <li>at least one Special character (!, @, #, $, %, ^, &amp;, *, _), and</li>
                                                                <li>at least one digit (0,1,2,3,4,5,6,7,8,9)</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="semibold">Confirm Password:</td>
                                        <td>
                                            <input type="password"
                                                   required
                                                   name="ConfirmPassword"
                                                   placeholder="Confirm Password"
                                                   ng-pattern="AccountSetting.NewPassword"
                                                   ng-model="AccountSetting.ConfirmPassword"
                                                   ng-disabled="showpasswordedit"
                                                   ng-class="{'error':SubmitPassword.submitted && SubmitPassword.ConfirmPassword.$invalid}"
                                                   class="form-control">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <div class="col-lg-12">
                                <div data-ng-show="passwordSucfail" class="form-group has-error errormessage">
                                    <span class="help-block errormessageline" ng-show="passwordSucfail">Old password is wrong</span>
                                </div>
                                <div data-ng-show="SubmitPassword.submitted && SubmitPassword.$invalid" class="form-group has-error errormessage badge badge-light-red w-100 p-3">
                                    <p class="help-block errormessageline has-error errormessage" ng-show="!SubmitPassword.NewPassword.$error.required && (SubmitPassword.NewPassword.$error.minlength || SubmitPassword.NewPassword.$error.maxlength) && SubmitPassword.NewPassword.$dirty"><i class="fa fa-exclamation-triangle"></i> Passwords must be between 8 and 20 characters.</p>
                                    <p class="help-block errormessageline has-error errormessage" ng-show="!SubmitPassword.NewPassword.$error.required && !SubmitPassword.NewPassword.$error.minlength && !SubmitPassword.NewPassword.$error.maxlength && SubmitPassword.NewPassword.$error.pattern && SubmitPassword.NewPassword.$dirty"> <i class="fa fa-exclamation-triangle"></i> Must contain one lower &amp; uppercase letter, and one non-alpha character (a number or a symbol.)</p>
                                    <p class="help-block errormessageline has-error errormessage" ng-show="!SubmitPassword.ConfirmPassword.$error.required && SubmitPassword.ConfirmPassword.$invalid"><i class="fa fa-exclamation-triangle"></i> Passwords do not match.</p>
                                </div>
                                <div data-ng-show="SubmitPassword.submitted && SubmitPassword.$invalid" class="form-group has-error errormessage badge badge-light-red w-100 p-3">
                                    <p class="help-block errormessageline" data-ng-show="SubmitPassword.submitted && SubmitPassword.NewPassword.$error.required"><i class="fa fa-exclamation-triangle"></i>- please enter new password.</p>
                                    <p class="help-block errormessageline" data-ng-show="SubmitPassword.submitted && SubmitPassword.ConfirmPassword.$error.required"><i class="fa fa-exclamation-triangle"></i>- Please enter Confirm Password.</p>
                                    <p class="help-block errormessageline" data-ng-show="SubmitPassword.submitted && SubmitPassword.OldPassword.$error.required"><i class="fa fa-exclamation-triangle"></i>- Please enter Old Password.</p>
                                </div>
                                <div id="divInvlidUser" class="hideshowdiv" data-ng-show="SubmitPassword.$valid">
                                    <span class="help-block">{{InvalidUser}}</span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="" ng-show="TAB_FLAG==2" id="custom-content-above-home" role="tabpanel" aria-labelledby="custom-content-above-home-tab">
            <!--tab-pane fade-->

            <div class="card border accordion " id="accordion1{{$index}}" ng-repeat="ES in ENTITY_SETTINGS | unique:'MODULE_NAME'" ng-init="ES.M_INDEX=$index">
                <div class="card-header cursor-pointer border-bottom-0" id="headingOne" data-toggle="collapse" data-target="#collapseOne{{$index}}" aria-expanded="true" aria-controls="collapseOne{{$index}}" ng-click="MODULE01=!MODULE01">
                    <h5 class="card-title font-16">{{ES.MODULE_NAME}}</h5>
                    <a class="float-right">
                        <i class="fas fa-chevron-down ml-1" data-toggle="tooltip" data-html="true" data-original-title="Hide Column" ng-show="!MODULE01"></i>
                        <i class="fas fa-chevron-up ml-1" data-toggle="tooltip" data-html="true" data-original-title="Show Column" ng-show="MODULE01"></i>
                    </a>
                </div>
                <div id="collapseOne{{$index}}" class="collapse" aria-labelledby="headingOne" data-parent="#accordion1{{$index}}">
                    <div class="table-responsive custom-scrollbar height-auto">
                        <table class="table table-striped table-hover table-head-fixed compact_table">
                            <thead>
                                <tr>
                                    <th style="width:35%">Name</th>
                                    <th style="width:20%">Email</th>
                                    <th style="width:20%">Mobile Notification</th>
                                    <!--<th style="width:20%">WhatsApp Notification</th>-->
                                </tr>
                            </thead>
                            <tbody ng-repeat="SETTING in ENTITY_SETTINGS | filter:{MODULE_NAME:ES.MODULE_NAME} ">
                                <tr>
                                    <td>{{SETTING.NOTIFICATION_NAME}}</td>
                                    <td>
                                        <div class="custom-control custom-checkbox" ng-if="SETTING.EMAIL_NOTIFICATION_FLAG">
                                            <input class="custom-control-input" ng-model="SETTING.EMAIL_NOTIFICATION" type="checkbox" id="customCheckbox2{{ES.M_INDEX}}{{$index}}">
                                            <label for="customCheckbox2{{ES.M_INDEX}}{{$index}}" class="custom-control-label"></label>
                                        </div>
                                        <!--<span id="NOTI{{$index}}{{ES.M_INDEX}}" class="hide-opacity"> Updated Successfully!</span>-->
                                    </td>
                                    <td>
                                        <div class="custom-control custom-checkbox" ng-if="SETTING.MOBILE_APP_NOTIFICATION_FLAG">
                                            <input class="custom-control-input" ng-model="SETTING.MOBILE_APP_NOTIFICATION" type="checkbox" id="customCheckboxMobile{{ES.M_INDEX}}{{$index}}">
                                            <label for="customCheckboxMobile{{ES.M_INDEX}}{{$index}}" class="custom-control-label"></label>
                                        </div>
                                    </td>
                                    <td ng-if="SETTING.WHATSAPP_NOTIFICATION_FLAG">
                                        <div class="custom-control custom-checkbox">
                                            <input class="custom-control-input" ng-model="SETTING.WHATSAPP_NOTIFICATION" type="checkbox" id="customCheckboxWhatsapp{{ES.M_INDEX}}{{$index}}">
                                            <label for="customCheckboxWhatsapp{{ES.M_INDEX}}{{$index}}" class="custom-control-label"></label>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="" ng-show="TAB_FLAG==3" id="custom-content-above-home" role="tabpanel" aria-labelledby="custom-content-above-home-tab">
            <div class="overlay_loadingtest" style="height:70vh"></div>
            <!--tab-pane fade-->
            <div class="card border accordion " id="accordion1{{ED.E_INDEX}}" ng-repeat="ED in USER_DELEGATIONS_ENTITY" ng-init="FY_ED(ED,$index)" ng-show="false">
                <div class="card-header cursor-pointer" id="headingOne" data-toggle="collapse" data-target="#collapseOne{{$index}}" aria-expanded="true" aria-controls="collapseOne{{ED.E_INDEX}}" ng-click="ED.MODULE01=!ED.MODULE01">
                    <h5 class="card-title font-16">{{ED.ENTITY_NAME}}</h5>
                    <a class="float-right">
                        <i class="fas fa-chevron-down ml-1" data-toggle="tooltip" data-html="true" data-original-title="Hide Column" ng-show="!ED.MODULE01"></i>
                        <i class="fas fa-chevron-up ml-1" data-toggle="tooltip" data-html="true" data-original-title="Show Column" ng-show="ED.MODULE01"></i>
                    </a>
                </div>
                <div id="collapseOne{{ED.E_INDEX}}" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion1{{ED.E_INDEX}}">
                    <table class="table table-striped table-head-fixed">
                        <thead>
                            <tr>
                                <th>Modules Name</th>
                                <th width="15%">User</th>
                            </tr>
                        </thead>
                        <tbody ng-repeat="Nt in ED.USER_DELEGATIONS | unique:'MODULE_NAME'" ng-init="Nt.index=$index; Nt.USERS=USERS">
                            <tr>
                                <td>{{Nt.MODULE_NAME}}</td>
                                <td>
                                    <select class="custom-select"
                                            name="USER_ID{{$index}}{{ED.E_INDEX}}{{Nt.index}}"
                                            ng-model="Nt.USER_ID"
                                            ng-options="TL.ID as TL.DISPLAY_TEXT for TL in Nt.USERS | filter:{ENTITY_ID:ED.ENTITY_ID}">
                                        <option value="">- Please Select Title-</option>
                                    </select>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>

        <div class="col-md-12 mb-4" ng-if="TAB_FLAG==2">
            <button type="button" class="btn btn-wenodo" ng-click="INS_UPD_USER_NOTIFICATION_PREFERENCES();">Save</button>
        </div>

        <div class="" ng-show="TAB_FLAG==4" id="custom-content-above-home" role="tabpanel" aria-labelledby="custom-content-above-home-tab">
            <div class="overlay_loadingtest" style="height:70vh"></div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function showPassword(elemeniID, status, e) {
        debugger;
        const password = document.getElementById(elemeniID);
        const type = password.getAttribute('type') === 'password' && status == true ? 'text' : 'password';
        let eyeIcon = e.firstElementChild.id;
        password.setAttribute('type', type);
        if (status == true) {
            $("#" + eyeIcon).toggleClass("fa-eye-slash");
            $("#" + eyeIcon).toggleClass('fa-eye');
        }
        else
            $("#" + eyeIcon).toggleClass("fa-eye-slash");
    }
    $(document).ready(function () {
        $("[data-toggle=tooltip").tooltip();
    });
</script>