<div class="row ">
    <!--Left Card-->
    <div class="col-xxl-3 col-xl-3 col-md-3 ">
        <div class="card h-100">
            <!--Left Card header-->
            <div class="card-header pb-0 border-0">
                <div class="row align-items-center">
                    <div class="col-xxl-6 col-xl-6 col-md-5">
                        <h5 class="text-nowrap">Scan QR Code</h5>
                        <input type="hidden"
                               name="BRANCH_NAME_{{$index}}"
                               required
                               ng-model="ClockInOutSearch.BRANCH_ID"
                               ng-class="{'error':EmploymentInfoform.submitted && EmploymentInfoform.BRANCH_NAME_{{$index}}.$error.required}" />
                    </div>
                    <div class="col-xxl-6 col-xl-6 col-md-7">
                        <ul class="nav nav-pills mb-0">
                            <li class="dropdown w-100">
                                <a class="text-limitations cursor-pointer" data-toggle="dropdown" aria-expanded="true">
                                    <span class="select-label" id="select_label">
                                        <span class="truncate_absence">{{ClockInOutSearch.CUSTOM_BRANCH_NAME}}</span>
                                    </span>
                                </a>
                                <ul id="divNewNotifications" class="dropdown-menu  scrollbar-wrapper w-auto" style="min-width:100%">
                                    <li class=""
                                        ng-repeat="_branch in PUNCHCLOCK_BRANCH_SETTINGS_LIST"
                                        ng-click="SELECTED_BRANCH_Fn(_branch)">
                                        <span class="">{{_branch.BRANCH_NAME}}</span>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <div class="col-auto mt-2" ng-show="false">
                            <div class="countdown d-flex align-items-center justify-content-between">
                                <div class="bloc-time hours">
                                    <span class="count-title">Hours:</span>
                                    <div class="figure hours hours-1">
                                        <span class="top">{{CURRENT_TIME_HOURS}}</span>
                                    </div>
                                </div>
                                <div>:</div>
                                <div class="bloc-time min">
                                    <span class="count-title">Minutes:</span>
                                    <div class="figure min min-1">
                                        <span class="top">{{CURRENT_TIME_MINUTE}}</span>
                                    </div>
                                </div>
                                <div>:</div>
                                <div class="bloc-time sec">
                                    <span class="count-title">Seconds:</span>
                                    <div class="figure sec sec-1">
                                        <span class="top">{{CURRENT_TIME_SECOND}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Left Card Body-->
            <div class="card-body py-0 border-0">
                <div class="row ">
                    <div class="col-xxl-12 col-xl-12 col-md-12 mt-3">
                        <div class="alert alert-light-primary fade show" ng-show="ENABLE_QR_CODE_REFRESH>0">
                            <div class="row align-items-center ">
                                <div class="col-auto txt-primary"> <i class="fa-regular fa-circle-exclamation "></i></div>
                                <div class="col">
                                    <p class="txt-primary">This QR Code is set to refresh in {{ENABLE_QR_CODE_REFRESH}} minutes</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-12 col-xl-12 col-md-12 p-0 text-center mt-2">
                        <div id="RenderHtml" class="mt-3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Right Card-->
    <div class="col-xxl-9 col-xl-9 col-md-9">
        <div class="card h-100">
            <!--Right Card Header-->
            <div class="card-header pb-0 border-0">
                <div class="row">
                    <div class="col-xxl-8 col-xl-8 col-md-8 ">
                        <h5 class="">Search for your shift</h5>
                    </div>
                    <div class="col-xxl-4 col-xl-4 col-md-4 ms-auto">
                        <div class="AddCustomScroll_Contact">
                            <input type="search"
                                   typeahead-focus-trigger
                                   class="form-control"
                                   id="EmployeeSearchBox"
                                   name="WHOISWORKING12"
                                   autocomplete="off"
                                   ng-model="Section_Week_Search.EMPLOYEE_NAME"
                                   uib-typeahead="EL as EL.EMPLOYEE_NAME for EL in HRM_EMPLOYTEE_LIST  | filter:$viewValue"
                                   ng-focus="SET_DROPSCROLL()"
                                   typeahead-template-url="WhoisWorkingTemplate.html"
                                   typeahead-show-hint="true"
                                   typeahead-min-length="0"
                                   typeahead-editable='true'
                                   typeahead-focus-first='true'
                                   typeahead-on-select="selectEmployeeTypeAhead($item)"
                                   placeholder="Search using Name or Email ID" />

                        </div>
                    </div>

                </div>
            </div>

            <!--Right Card Body-->
            <div class="card-body pt-0 border-0">
                <div class="no-record" ng-show="TODAY_SHIFT_LIST.length==0">{{LOAD_FETCH_TEXT}}</div>
                <div class="row" ng-show="TODAY_SHIFT_LIST.length>0">
                    <div class="col-xxl-12 col-xl-12 col-md-12">
                        <h5 class="qr-shift">{{TODAY_SHIFT_LIST[0].EMPLOYEE_NAME}} - Your Shifts</h5>
                        <span class="badge bg-primary my-3 p-2">{{TODAY_SHIFT_LIST.length}} Shifts</span>
                    </div>
                    <div class="col-xxl-12 col-xl-12 col-md-12">
                        <div class="card mx-2">
                            <div class="card-body">
                                <div class="row g-2">
                                    <div class="col-xxl-1 col-xl-1 col-md-1">
                                        <div class="date-container"> <h5>{{TODAY_SHIFT_LIST[0].BUSINESS_DATE | date:'dd'}} </h5><span class="d-block">{{TODAY_SHIFT_LIST[0].BUSINESS_DATE | date:'EEE'}}</span></div>
                                    </div>
                                    <div class="col-xxl-11 col-xl-11 col-md-11" ng-repeat-start="_shift in TODAY_SHIFT_LIST" 
                                         ng-init="nginit_todayShift(_shift)">
                                        <span ng-show="false">
                                            {{_shift.CLCIN_IN=CURRENT_TIME_ACCORDING_TIME_ZONE>_shift.START_TIME_TOLERANCE}}
                                            {{_shift.CLCIN_CLCOUT_GONE=(CURRENT_TIME_ACCORDING_TIME_ZONE>_shift.END_TIME_MOMENT)}}
                                            {{_shift.CLCIN_IN_GONE=(_shift.CLOCK_IN!=null)}}
                                        </span>
                                        <div class="timing-child-container" 
                                             ng-class="{'grey':_shift.CLOCK_IN!=null && _shift.CLOCK_OUT!=null || _shift.CLCIN_CLCOUT_GONE  || !_shift.CLCIN_IN,'green':_shift.CLOCK_IN==null && _shift.CLOCK_OUT==null && _shift.CLCIN_IN || _shift.CLOCK_IN!=null && _shift.CLOCK_OUT==null && _shift.CLCIN_IN}">
                                            <!--Timings [First Row ]-->
                                            <div class="row g-2">
                                                <div class="col-xxl-auto col-xl-auto col-md-auto">
                                                    {{_shift.SCHEDULED_START | date:'HH:mm a' }} - {{_shift.SCHEDULED_END | date:'HH:mm a'}}
                                                    <span class="d-block">{{_shift.BRANCH_NAME}} - {{_shift.HOURS}} hours</span>
                                                </div>
                                                <div class="col-xxl-auto col-xl-auto col-md-auto ms-auto">
                                                    <button class="btn btn-primary"
                                                            data-bs-toggle="modal"
                                                            ng-class="{'disabled':_shift.CLOCK_IN!=null && _shift.CLOCK_OUT==null || _shift.CLCIN_CLCOUT_GONE || !_shift.CLCIN_IN || _shift.CLOCK_IN!=null && _shift.CLOCK_OUT!=null}"
                                                            ng-click="CLOCK_IN_MODAL_Fn(_shift)"
                                                            type="button"
                                                            click-once
                                                            data-bs-dismiss="modal"
                                                            aria-label="Close">
                                                        <i class="fa-regular fa-clock-rotate-left me-2"></i>
                                                        {{_shift.CLOCK_IN!=null?(_shift.CLOCK_IN | date:'hh:mm a'):'Clock in'}}
                                                    </button>
                                                </div>
                                                <div class="col-xxl-auto col-xl-auto col-md-auto">
                                                    <button class="btn "
                                                            ng-click="TAKE_BREAK_Fn(_shift)"
                                                            click-once
                                                            ng-class="{'disabled btn-primary':_shift.CLOCK_IN!=null && _shift.CLOCK_OUT!=null   || _shift.CLOCK_IN==null && _shift.CLOCK_OUT==null,'btn-timer':_shift.BREAK_IN!=null  ||  _shift.BREAK_IN!=null &&_shift.COMPLETED_BREAK_COUNT>0 && _shift.CLOCK_IN!=null && _shift.CLOCK_OUT==null,'btn-primary':_shift.BREAK_IN==null && _shift.ACTUAL_BREAK_DURATION==null,' btn-light bg-white':_shift.ACTUAL_BREAK_DURATION>0 && _shift.COMPLETED_BREAK_COUNT==0  || _shift.BREAK_IN==null && _shift.ACTUAL_BREAK_DURATION>0}">
                                                        <i class="fa-light fa-mug-hot me-2"></i>
                                                        <i ng-show="_shift.BREAK_IN!=null" class="fa-regular fa-pause me-2"></i>
                                                        {{_shift.BREAK_IN!=null?(_shift.BREAK_IN | date:'hh:mm a'):_shift.ACTUAL_BREAK_DURATION!=null || _shift.COMPLETED_BREAK_COUNT>0?(_shift.TOTAL_BREAK_IN):"Take Break"}}
                                                        <i ng-show="_shift.COMPLETED_BREAK_COUNT>0" class="fa-solid fa-circle-{{_shift.COMPLETED_BREAK_COUNT}}"></i>
                                                    </button>
                                                </div>
                                                <!--data-bs-target="#Clock-out-modal"-->
                                                <div class="col-xxl-auto col-xl-auto col-md-auto">
                                                    <button class="btn btn-primary"
                                                            data-bs-toggle="modal"
                                                            ng-class="{'disabled':_shift.CLOCK_IN!=null && _shift.CLOCK_OUT!=null || _shift.CLOCK_IN==null && _shift.CLOCK_OUT==null}"
                                                            type="button"
                                                            click-once
                                                            ng-click="CLOCK_OUT_MODAL_Fn(_shift)"
                                                            data-bs-dismiss="modal"
                                                            aria-label="Close">
                                                        <i class="fa-regular fa-clock-rotate-left me-2"></i>
                                                        {{_shift.CLOCK_OUT!=null?(_shift.CLOCK_OUT | date:'hh:mm a'):'Clock out'}}
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xxl-1 col-xl-1 col-md-1" ng-repeat-end>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Clock in Modal starts-->
<div class="modal fade" id="Clock-in-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered ">
        <div class="modal-content">
            <div class="modal-header border-0">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-content-clock">
                <div class="modal-body">
                    <div class="badge-check">
                        <span class="badge-icon">
                            <i class="fa-solid fa-check"></i>
                        </span>
                    </div>
                    <h5>Successfully Clocked-in</h5>
                    <p>We have saved your clock-in details</p>
                </div>
                <div class="modal-footer border-0 mt-3">
                    <button class="btn btn-primary okay"
                            ng-click=""
                            data-bs-dismiss="modal"
                            aria-label="Close">
                        Okay
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Clock in Modal ends-->
<!--Clock out Modal starts-->
<div class="modal fade" id="Clock-out-modal" 
     data-bs-backdrop="static" 
     data-bs-keyboard="false" 
     tabindex="-1" 
     aria-labelledby="staticBackdropLabel" 
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered ">
        <div class="modal-content">
            <div class="modal-header border-0">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-content-clock">
                <div class="modal-body">
                    <div class="badge-check">
                        <span class="badge-icon">
                            <i class="fa-solid fa-check"></i>
                        </span>
                    </div>
                    <h5>Successfully Clocked-out</h5>
                    <p>We have saved your clock-out details</p>
                </div>
                <div class="modal-footer border-0 mt-3">
                    <button class="btn btn-primary okay" data-bs-dismiss="modal" aria-label="Close">Okay</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Clock out Modal ends-->
<script type="text/ng-template" id="WhoisWorkingTemplate.html">
    <a class="text-sm c-pointer">
        <div class="row w-100 align-items-center gx-1">
            <div class="col-xxl-auto col-xl-auto col-md-auto">
                <img class="img-24 rounded-circle" ng-if="match.model.PROFILE_PIC_PATH!=null && match.model.PROFILE_PIC_PATH!='' " ng-src="{{match.model.PROFILE_PIC_PATH}}">
                <span class="text_avatar" ng-if="match.model.PROFILE_PIC_PATH==null || match.model.PROFILE_PIC_PATH==''">{{match.model.SHORT_NAME}}</span>
            </div>
            <div class="col-xxl col-xl col-md">
                <span class="dropdown-employee-list" ng-bind-html="match.label | uibTypeaheadHighlight:query"></span>
            </div>
        </div>
    </a>
</script>